<!-- received="Sat Oct  2 03:20:44 1999 PDT" -->
<!-- sent="Sat, 2 Oct 1999 11:18:21 +0100 (BST)" -->
<!-- name="Tim Waugh" -->
<!-- email="tim@cyberelk.demon.co.uk" -->
<!-- subject="Re: xsane-0.37" -->
<!-- id="" -->
<!-- inreplyto="37F2463E.3C796EED@wolfsburg.de" -->
<title>sane-devel: Re: xsane-0.37</title>
<h1>Re: xsane-0.37</h1>
<b>Tim Waugh</b> (<a href="mailto:tim@cyberelk.demon.co.uk"><i>tim@cyberelk.demon.co.uk</i></a>)<br>
<i>Sat, 2 Oct 1999 11:18:21 +0100 (BST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#1">[ date ]</a><a href="index.html#1">[ thread ]</a><a href="subject.html#1">[ subject ]</a><a href="author.html#1">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0002.html">Oliver Rauch: "Re: xsane-0.37"</a>
<li> <b>Previous message:</b> <a href="0000.html">David Brodbeck: "SANE 1.0.1 locks up system: Linux 2.2.10, Agfa SnapScan 1236s"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Wed, 29 Sep 1999, Oliver Rauch wrote:<br>
<p>
<i>&gt; after everyone got xsane-0.36, here is xsane-0.37 ;-)</i><br>
<p>
The final link step failed for me because I don't have -lintl.  Taking out<br>
-lintl from the command line worked fine.<br>
<p>
Does something need adjusting in configure.in?<br>
<p>
Tim.<br>
*/<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0002.html">Oliver Rauch: "Re: xsane-0.37"</a>
<li> <b>Previous message:</b> <a href="0000.html">David Brodbeck: "SANE 1.0.1 locks up system: Linux 2.2.10, Agfa SnapScan 1236s"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
