<!-- received="Mon Oct  4 08:05:50 1999 PDT" -->
<!-- sent="Mon, 4 Oct 1999 09:09:27 -0600 (MDT)" -->
<!-- name="Kevin Charter" -->
<!-- email="charter@cs.ualberta.ca" -->
<!-- subject="Re: SANE 1.0.1 locks up system: Linux 2.2.10, Agfa SnapScan 1236s" -->
<!-- id="19991004151020Z21686-18467+764@scapa.cs.ualberta.ca" -->
<!-- inreplyto="37F86C5D.E5547102@satzbau-gmbh.de" -->
<title>sane-devel: Re: SANE 1.0.1 locks up system: Linux 2.2.10, Agfa SnapScan 1236s</title>
<h1>Re: SANE 1.0.1 locks up system: Linux 2.2.10, Agfa SnapScan 1236s</h1>
<b>Kevin Charter</b> (<a href="mailto:charter@cs.ualberta.ca"><i>charter@cs.ualberta.ca</i></a>)<br>
<i>Mon, 4 Oct 1999 09:09:27 -0600 (MDT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#16">[ date ]</a><a href="index.html#16">[ thread ]</a><a href="subject.html#16">[ subject ]</a><a href="author.html#16">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0017.html">Juergen G. Schimmer: "An: New v4l backend (alpha)"</a>
<li> <b>Previous message:</b> <a href="0015.html">David Brodbeck: "Re: Acer Scanners?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt; David Brodbeck wrote:</i><br>
<i>&gt; &gt; </i><br>
<i>&gt; &gt; Summary:</i><br>
<i>&gt; &gt; -------</i><br>
<i>&gt; &gt; I'm running Linux kernel 2.2.10, and SANE 1.0.1.  I have an Agfa</i><br>
<i>&gt; &gt; Snapscan 1236S plugged into a Future Domain TMC-16xx card (forget which, I</i><br>
<i>&gt; &gt; think it's a 1606.)  When I load the fdomain and sg modules, the scanner</i><br>
<i>&gt; &gt; is detected fine.  Running find-scanner as root finds it, too.  Trying to</i><br>
<i>&gt; &gt; scan something, though, locks the whole machine solid.</i><br>
<i>&gt; </i><br>
<i>&gt; Make sure that you have the latest version of the Agfa backend</i><br>
<i>&gt; installed. There is an incompatibility between older version of the</i><br>
<i>&gt; backend and Linux kernels &gt;= 2.2.6.</i><br>
<p>
You can find a patched version at<br>
<a href="http://www.cs.ualberta.ca/~charter/SnapScan/snapscan.html">http://www.cs.ualberta.ca/~charter/SnapScan/snapscan.html</a><br>
<p>
Kevin<br>
<pre>
-- 
Kevin Charter              
<a href="mailto:charter@cs.rice.edu">charter@cs.rice.edu</a> | charter@cs.ualberta.ca
<a href="http://www.cs.rice.edu/~charter">http://www.cs.rice.edu/~charter</a> | http://www.cs.ualberta.ca/~charter
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0017.html">Juergen G. Schimmer: "An: New v4l backend (alpha)"</a>
<li> <b>Previous message:</b> <a href="0015.html">David Brodbeck: "Re: Acer Scanners?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
