<!-- received="Tue Oct  5 09:57:44 1999 PDT" -->
<!-- sent="Tue, 5 Oct 1999 19:14:20 +0200" -->
<!-- name="Bernd Schroeder" -->
<!-- email="bernd@aquila.muc.de" -->
<!-- subject="Re: Microtek Phantom 636cx again" -->
<!-- id="01" -->
<!-- inreplyto="Pine.GSO.4.10.9910050851050.6350-100000@jaguar" -->
<title>sane-devel: Re: Microtek Phantom 636cx again</title>
<h1>Re: Microtek Phantom 636cx again</h1>
<b>Bernd Schroeder</b> (<a href="mailto:bernd@aquila.muc.de"><i>bernd@aquila.muc.de</i></a>)<br>
<i>Tue, 5 Oct 1999 19:14:20 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#24">[ date ]</a><a href="index.html#24">[ thread ]</a><a href="subject.html#24">[ subject ]</a><a href="author.html#24">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0025.html">Tim Waugh: "Re: umax parallel port scanners - how to log protocol"</a>
<li> <b>Previous message:</b> <a href="0023.html">Dmitry Veprintsev: "Re: umax parallel port scanners - how to log protocol"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi,<br>
<p>
On Tue, Oct 05, 1999 at 09:30:55AM +0200, Levente NOVAK wrote:<br>
<i>&gt; Hi,</i><br>
<i>&gt; </i><br>
<i>&gt; With the help of Bernd, I finally got my Phantom 636cx working. I</i><br>
<i>&gt; commented out all references to scsi_read_attributes() excepted for</i><br>
<i>&gt; flatbed mode. Now almost everything is OK, I don't even have that offset</i><br>
<i>&gt; problem, but instead (nothing is perfect...) I got:</i><br>
<i>&gt; - the image mirrored (like if it would be seen through a mirror)</i><br>
<i>&gt; - vertical stripes or bands, especially one much darker. It is like if the</i><br>
<i>&gt; scanned image would be a copy produced by a dirty copier or a printer</i><br>
<i>&gt; which has toner problems. </i><br>
<i>&gt; None of the above problems is present when I scan under Windows. The</i><br>
<i>&gt; mirror phenomenon is not really annoying as I can flip the images with an</i><br>
<i>&gt; appropriate program, but the dark stripe is. Does the scanner compensate</i><br>
<i>&gt; under Windows for the fluorescent tube's light unevenness, or is it</i><br>
<i>&gt; something else?</i><br>
<p>
If I knew, what the scan software  does under Windows, it would probably be<br>
easier to fix problem of a certain type. But normally there is a colour<br>
calibration process at the beginning of each scani which does exactly<br>
such a compensation. According to the<br>
spec this calibration can either be performed by the device or by the<br>
backend. Default is that the device does the calibration, so one could<br>
try the calibration by backend, but this is where the other phantom cx models<br>
stopped working, and it won't work for your particular device anyways.<br>
<p>
<p>
<i>&gt; Here is the log produced by scanimage for the command "scanimage -d</i><br>
<i>&gt; microtek2:/dev/sg0 2&gt;backlog.log &gt;image.pgm":</i><br>
<i>&gt; </i><br>
<i>&gt; [inquiry]</i><br>
<i>&gt; 120000006000</i><br>
<i>&gt; [inquiryresult]</i><br>
<i>&gt; 060002025b00000020202020202020205363616e6e6572203630304134202020312e33309a0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000</i><br>
<i>&gt;      0: 060002025b000000 2020202020202020    ....[...         </i><br>
<i>&gt;     16: 5363616e6e657220 3630304134202020    Scanner  600A4   </i><br>
<i>&gt;     32: 312e33309a000000 0000000000000000    1.30.... ........</i><br>
<i>&gt;     48: 0000000000000000 0000000000000000    ........ ........</i><br>
<i>&gt;     64: 0000000000000000 0000000000000000    ........ ........</i><br>
<i>&gt;     80: 0000000000000000 0000000000000000    ........ ........</i><br>
<i>&gt; [scannerattributes]</i><br>
<i>&gt; 28008200000000002800</i><br>
<i>&gt; [scannerattributesresults]</i><br>
<i>&gt; d29100025804b013ec1b3002585d13ec000080ffffff310000003001080200da00e800ed9a000000</i><br>
<i>&gt; </i><br>
<i>&gt; </i><br>
<i>&gt; Scanner attributes from device structure</i><br>
<i>&gt; ========================================</i><br>
<i>&gt; </i><br>
<i>&gt; Scanner ID...</i><br>
<i>&gt; ~~~~~~~~~~~~~</i><br>
<i>&gt;   Vendor Name:        '        '</i><br>
<i>&gt;   Model Name:         'Scanner 600A4   '</i><br>
<i>&gt;   Revision:           '1.30'</i><br>
<i>&gt;   Model Code:         0x9a (Phantom 636cx)</i><br>
<i>&gt;   Device Type Code:   0x06 (Scanner),</i><br>
<i>&gt;   Scanner type:       Flatbed scanner</i><br>
<i>&gt;   Supported options:  Automatic document feeder: No</i><br>
<i>&gt;                       Transparency media adapter: No</i><br>
<i>&gt;                       Auto paper detecting: No</i><br>
<i>&gt;                       Advanced picture system: No</i><br>
<i>&gt;                       Stripes: No</i><br>
<i>&gt;                       Slides: Yes</i><br>
<p>
This is the reason why the backend aborted, when you first tried it.<br>
Normally the TMA and ADF option can be inquired, if they are supported,<br>
even if there is no TMA or ADF attached to the device. Either this<br>
isn't possible ffor the Slide mode or there is a bug in the backend, so that<br>
it gets confused with stripes and slides. I will check this.<br>
<p>
<i>&gt;   Scan button:        Yes</i><br>
<p>
The Phantom 636cx is probably very similar to the Slimscan C6 which,<br>
according to Microtek's web site, does have a scan button.<br>
Maybe they use the same firmware engine.<br>
<p>
<i>&gt; Imaging Capabilities...</i><br>
<i>&gt; ~~~~~~~~~~~~~~~~~~~~~~~</i><br>
<i>&gt;   Color scanner:      Yes</i><br>
<i>&gt;   Number passes:      1 pass</i><br>
<i>&gt;   Resolution:         X-max:   600 dpi</i><br>
<i>&gt;                       Y-max:  1200 dpi</i><br>
<i>&gt;   Geometry:           Geometric width:  5100 pts (8.50'')</i><br>
<i>&gt;                       Geometric height: 6960 pts (11.60'')</i><br>
<i>&gt;   Optical resol.  :   600</i><br>
<i>&gt;   Modes:              Lineart:      Yes</i><br>
<i>&gt;                       Halftone:     No</i><br>
<i>&gt;                       Gray:         Yes</i><br>
<i>&gt;                       Color:        Yes</i><br>
<i>&gt;   Depths:             Nibble Gray:  Yes</i><br>
<i>&gt;                       10-bit-color: No</i><br>
<i>&gt;                       12-bit-color: Yes</i><br>
<i>&gt;   d/l of HT pattern:  No</i><br>
<i>&gt;   Builtin HT patt.:   0</i><br>
<i>&gt;   LUT capabilities:   None</i><br>
<p>
This attribute normally indicates the size of the gamma and the shading<br>
tables, which can be sent to the scanner. The shading table is used for<br>
the calibration process, so this is the reason, why 'calibration by backend' <br>
will probably not work for you.<br>
<p>
Did you try the following: Do one or more scans under Windows, and then<br>
reboot into Linux *without* switching the power of the device off. If<br>
it is a colour calibration problem, it is possible that it is still<br>
calibrated, when you start a scan under Linux.<br>
<p>
I don't know, why some devices indicate that they do not accept these tables.<br>
Before I have seen this only once with the device of one V6USL user, but<br>
another device of another user (same model, same FW) had this attribute<br>
set to 4096 words, which is ok.<br>
<p>
<i>&gt; Miscellaneous capabilities...</i><br>
<i>&gt; ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</i><br>
<i>&gt;   Data format:        Line by line in concatenated sequence,</i><br>
<i>&gt;                       without color indicator</i><br>
<i>&gt;   Color Sequence:     B - G - R</i><br>
<i>&gt;   Scanning direction: Right to left</i><br>
<p>
This is probably the reason, why the image is mirrored. All other models<br>
I know about, have a scanning direction of "left to right". Currently<br>
the backend ignores this parameter, but it will be relatively easy to fix.<br>
<p>
<i>&gt;   CCD gap:            0 lines</i><br>
<i>&gt;   CCD pixels:         5100</i><br>
<i>&gt;   Calib wh str loc:   -207</i><br>
<i>&gt;   Max calib space:    48</i><br>
<i>&gt;   Number of lens:     1</i><br>
<i>&gt;   Max no of windows:  8</i><br>
<i>&gt;   Sh trnsf func equ:  0</i><br>
<i>&gt;   Buffer type:        Ring</i><br>
<i>&gt;   FEPROM:             No</i><br>
<p>
[...]<br>
<p>
<i>&gt; [readimagestatus]</i><br>
<i>&gt; 28008300000000000000</i><br>
<i>&gt; [readimagecmd]</i><br>
<i>&gt; 2800000000000079ec00</i><br>
<i>&gt; </i><br>
<i>&gt; (The last two lines repeated several times)</i><br>
<p>
The last two lines or only the last line ?<br>
<p>
Bernd<br>
<p>
<pre>
-- 
Bernd Schroeder 
Email: <a href="mailto:bernd@aquila.muc.de">mailto:bernd@aquila.muc.de</a>
PGP public key available: <a href="mailto:pgp@aquila.muc.de">mailto:pgp@aquila.muc.de</a> | Subject: send key 
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0025.html">Tim Waugh: "Re: umax parallel port scanners - how to log protocol"</a>
<li> <b>Previous message:</b> <a href="0023.html">Dmitry Veprintsev: "Re: umax parallel port scanners - how to log protocol"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
