<!-- received="Sat Oct  9 09:32:00 1999 PDT" -->
<!-- sent="Sat, 09 Oct 1999 18:41:59 +0200" -->
<!-- name="Oliver Rauch" -->
<!-- email="oliver.rauch@Wolfsburg.DE" -->
<!-- subject="Re: xsane-0.37" -->
<!-- id="" -->
<!-- inreplyto="xsane-0.37" -->
<title>sane-devel: Re: xsane-0.37</title>
<h1>Re: xsane-0.37</h1>
<b>Oliver Rauch</b> (<a href="mailto:oliver.rauch@Wolfsburg.DE"><i>oliver.rauch@Wolfsburg.DE</i></a>)<br>
<i>Sat, 09 Oct 1999 18:41:59 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#58">[ date ]</a><a href="index.html#58">[ thread ]</a><a href="subject.html#58">[ subject ]</a><a href="author.html#58">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0059.html">Craig Allen: "Re: can't recognize scanner [SOLVED (...)]"</a>
<li> <b>Previous message:</b> <a href="0057.html">regis rampnoux: "Re: xsane-0.37"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
regis rampnoux wrote:<br>
<p>
<i>&gt; On 08-Oct-99 <a href="mailto:hagopiar@vuser.vu.union.edu">hagopiar@vuser.vu.union.edu</a> wrote:</i><br>
<i>&gt;</i><br>
<i>&gt; &gt; I too had the -lintl problem... which of course was fixed by reading the</i><br>
<i>&gt; &gt; xsane.PROBLEMS and running './configure --with-included-gettext' Perhaps</i><br>
<i>&gt; &gt; an automagic check would be better?</i><br>
<i>&gt;</i><br>
<i>&gt; I have also a problem with -lint .. in the gimp!</i><br>
<i>&gt; I have /usr/local/lib/libintl.a (and .so too), configure find it but don't</i><br>
<i>&gt; write it in the Makefile.</i><br>
<p>
On most systems you have 3 gettext versions:<br>
1) in libc<br>
2) in libintl<br>
3) included into xsane/gimp/...<br>
<p>
That often makes problems.<br>
<p>
With xsane I hope the problem is solved in xsne-0.38<br>
<p>
<i>&gt;</i><br>
<i>&gt;</i><br>
<i>&gt; For xsane, configure don't find libsane.a which is in /usr/local/lib of course.</i><br>
<i>&gt; I needed to add it manualy in the LIBS macro of the frontend/Makefile.</i><br>
<i>&gt;</i><br>
<i>&gt; What I am doing bad?</i><br>
<i>&gt;</i><br>
<p>
xsane uses the shared library libsane.so, libsane.a should not be used at all.<br>
<p>
If your system does not find libsane-dll.so, read xsane.PROBLEMS<br>
ohterwise explain what happens if you do NOT add libsane.a to the Makefile.<br>
<p>
Bye<br>
Oliver<br>
<p>
<pre>
--
EMAIL: <a href="mailto:Oliver.Rauch@Wolfsburg.DE">Oliver.Rauch@Wolfsburg.DE</a>
WWW: <a href="http://www.wolfsburg.de/~rauch">http://www.wolfsburg.de/~rauch</a>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0059.html">Craig Allen: "Re: can't recognize scanner [SOLVED (...)]"</a>
<li> <b>Previous message:</b> <a href="0057.html">regis rampnoux: "Re: xsane-0.37"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
