<!-- received="Sat Oct  9 14:05:27 1999 PDT" -->
<!-- sent="Sat, 09 Oct 1999 23:15:27 +0200" -->
<!-- name="Oliver Rauch" -->
<!-- email="oliver.rauch@Wolfsburg.DE" -->
<!-- subject="Report about SANE in ct 21'99 (german computer magazin)" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Report about SANE in ct 21'99 (german computer magazin)</title>
<h1>Report about SANE in ct 21'99 (german computer magazin)</h1>
<b>Oliver Rauch</b> (<a href="mailto:oliver.rauch@Wolfsburg.DE"><i>oliver.rauch@Wolfsburg.DE</i></a>)<br>
<i>Sat, 09 Oct 1999 23:15:27 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#63">[ date ]</a><a href="index.html#63">[ thread ]</a><a href="subject.html#63">[ subject ]</a><a href="author.html#63">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0064.html">Larry Snyder: "configure question -- Alpha 164SX -2.2.5 (RH6.0)"</a>
<li> <b>Previous message:</b> <a href="0062.html">regis rampnoux: "Re: xsane-0.37"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi everyone,<br>
<p>
there is a nice report about sane/xsane/gimp in the german<br>
computer magazin ct number 21 - page 190 ff<br>
Title: Scanning under linux with SANE.<br>
<p>
It is a nice, objective 4 page long report that describes what exists<br>
and what can be done<br>
<p>
Bye<br>
Oliver<br>
<p>
<pre>
--
EMAIL: <a href="mailto:Oliver.Rauch@Wolfsburg.DE">Oliver.Rauch@Wolfsburg.DE</a>
WWW: <a href="http://www.wolfsburg.de/~rauch">http://www.wolfsburg.de/~rauch</a>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0064.html">Larry Snyder: "configure question -- Alpha 164SX -2.2.5 (RH6.0)"</a>
<li> <b>Previous message:</b> <a href="0062.html">regis rampnoux: "Re: xsane-0.37"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
