<!-- received="Sat Oct  9 15:08:00 1999 PDT" -->
<!-- sent="Sat, 9 Oct 1999 18:15:34 -0400 (EDT)" -->
<!-- name="Larry Snyder" -->
<!-- email="larrys@lexis-nexis.com" -->
<!-- subject="configure question -- Alpha 164SX -2.2.5 (RH6.0)" -->
<!-- id="199910092215.SAA00408@ra.lexis-nexis.com" -->
<!-- inreplyto="" -->
<title>sane-devel: configure question -- Alpha 164SX -2.2.5 (RH6.0)</title>
<h1>configure question -- Alpha 164SX -2.2.5 (RH6.0)</h1>
<b>Larry Snyder</b> (<a href="mailto:larrys@lexis-nexis.com"><i>larrys@lexis-nexis.com</i></a>)<br>
<i>Sat, 9 Oct 1999 18:15:34 -0400 (EDT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#64">[ date ]</a><a href="index.html#64">[ thread ]</a><a href="subject.html#64">[ subject ]</a><a href="author.html#64">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0065.html">Craig Allen: "Re: can't recognize scanner [SOLVED (...)]"</a>
<li> <b>Previous message:</b> <a href="0063.html">Oliver Rauch: "Report about SANE in ct 21'99 (german computer magazin)"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
My apologies if this is a FAQ.  I had 1.0.1 running fine on an AS200<br>
with a modified RH5.1 load and a 2.2.5 kernel.  I'm trying to get it up<br>
on a 164SX-533 and ltconfig is complaining with:<br>
<p>
checking host system type... Invalid configuration<br>
`alphapca56-unknown-linux-gnu': machine `alphapca56-unknown' not<br>
recognized<br>
<p>
checking for ranlib... ranlib<br>
checking for ld used by GCC... /usr/bin/ld<br>
checking if the linker (/usr/bin/ld) is GNU ld... yes<br>
checking for BSD-compatible nm... /usr/bin/nm -B<br>
checking whether ln -s works... yes<br>
ltconfig: you must specify a host type if you use `--no-verify'<br>
Try `ltconfig --help' for more information.<br>
configure: error: libtool configure failed<br>
<p>
It exists in config.guess.<br>
Anybody 'been there, done that'?<br>
thanx,<br>
-ls-<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0065.html">Craig Allen: "Re: can't recognize scanner [SOLVED (...)]"</a>
<li> <b>Previous message:</b> <a href="0063.html">Oliver Rauch: "Report about SANE in ct 21'99 (german computer magazin)"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
