<!-- received="Mon Oct 11 22:30:16 1999 PDT" -->
<!-- sent="Tue, 12 Oct 1999 00:31:24 -0500" -->
<!-- name="David Crooke" -->
<!-- email="dave@dcc.vu" -->
<!-- subject="Termination - Re: Agfa Snapscan 1236s, AVA1505 SCSI card, Linux kernel" -->
<!-- id="" -->
<!-- inreplyto="Agfa Snapscan 1236s, AVA1505 SCSI card, Linux kernel" -->
<title>sane-devel: Termination - Re: Agfa Snapscan 1236s, AVA1505 SCSI card, Linux kernel</title>
<h1>Termination - Re: Agfa Snapscan 1236s, AVA1505 SCSI card, Linux kernel</h1>
<b>David Crooke</b> (<a href="mailto:dave@dcc.vu"><i>dave@dcc.vu</i></a>)<br>
<i>Tue, 12 Oct 1999 00:31:24 -0500</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#86">[ date ]</a><a href="index.html#86">[ thread ]</a><a href="subject.html#86">[ subject ]</a><a href="author.html#86">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0087.html">Zot O'Connor: "Umax Vista-S8 -- anyone get this working under linux/BSD?"</a>
<li> <b>Previous message:</b> <a href="0085.html">Tim Allen: "Re: Agfa Snapscan 1236s, AVA1505 SCSI card, Linux kernel 2.2.5"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Tim Allen wrote:<br>
<i>&gt; </i><br>
(snip)<br>
<i>&gt; Finally got it working! The actual problem was the SCSI card was poorly</i><br>
<i>&gt; seated in the ISA slot. I pulled it out and put it back in, and now it</i><br>
<i>&gt; works. A little embarrassing :). And, curiously, it works without</i><br>
<i>&gt; termination. This frightens me a bit, but as long as it works...</i><br>
<p>
Most short single-ended SCSI-I buses work fine without termination, though<br>
sometimes they go a bit slower (and more rarely, quicker). With a scanner it<br>
won't make too much odds I suspect, it's data rate isn't going to set the house<br>
on fire anyway :-)<br>
<p>
<pre>
-- 
David Crooke, Austin TX, USA. +1 (512) 795 0805
Bibendo ergo sum.
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0087.html">Zot O'Connor: "Umax Vista-S8 -- anyone get this working under linux/BSD?"</a>
<li> <b>Previous message:</b> <a href="0085.html">Tim Allen: "Re: Agfa Snapscan 1236s, AVA1505 SCSI card, Linux kernel 2.2.5"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
