<!-- received="Tue Oct 12 07:40:59 1999 PDT" -->
<!-- sent="Tue, 12 Oct 1999 16:40:31 +0200 (CEST)" -->
<!-- name="Hugo.van.der.Kooij@caiw.nl" -->
<!-- email="Hugo.van.der.Kooij@caiw.nl" -->
<!-- subject="Re: Not to look a gift horse in the mouth..." -->
<!-- id="" -->
<!-- inreplyto="38032356.FFB4AA7B@silverfields.com" -->
<title>sane-devel: Re: Not to look a gift horse in the mouth...</title>
<h1>Re: Not to look a gift horse in the mouth...</h1>
<a href="mailto:Hugo.van.der.Kooij@caiw.nl"><i>Hugo.van.der.Kooij@caiw.nl</i></a><br>
<i>Tue, 12 Oct 1999 16:40:31 +0200 (CEST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#89">[ date ]</a><a href="index.html#89">[ thread ]</a><a href="subject.html#89">[ subject ]</a><a href="author.html#89">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0090.html">Timothy Reaves: "Re: Not to look a gift horse in the mouth..."</a>
<li> <b>Previous message:</b> <a href="0088.html">Timothy Reaves: "Not to look a gift horse in the mouth..."</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Tue, 12 Oct 1999, Timothy Reaves wrote:<br>
<p>
<i>&gt; ...but could someone explain to me why on my HP 3C, 300 dpi scans come</i><br>
<i>&gt; out much worse under xsanimage or xsane then they do with the software</i><br>
<i>&gt; that came with my scanner under Windows NT?</i><br>
<p>
Hmm. Could you define 'worse'? And are you 1000% convinced both systems<br>
use the same resolution? Both optic and logical?<br>
<p>
Hugo.<br>
<p>
<pre>
-- 
Hugo van der Kooij; Oranje Nassaustraat 16; 3155 VJ  Maasland
<a href="mailto:hvdkooij@caiw.nl">hvdkooij@caiw.nl</a>	<a href="http://home.kabelfoon.nl/~hvdkooij/">http://home.kabelfoon.nl/~hvdkooij/</a>
--------------------------------------------------------------
Use of any of my email addresses for unsollicited (commercial)
    email is a clear intrusion of my privacy and illegal!
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0090.html">Timothy Reaves: "Re: Not to look a gift horse in the mouth..."</a>
<li> <b>Previous message:</b> <a href="0088.html">Timothy Reaves: "Not to look a gift horse in the mouth..."</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
