<!-- received="Wed Oct 13 15:08:51 1999 PDT" -->
<!-- sent="Wed, 13 Oct 1999 22:38:19 +0100" -->
<!-- name="Colin Hogben" -->
<!-- email="colin.hogben@bigfoot.com" -->
<!-- subject="Trying to get BW4800SP working" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Trying to get BW4800SP working</title>
<h1>Trying to get BW4800SP working</h1>
<b>Colin Hogben</b> (<a href="mailto:colin.hogben@bigfoot.com"><i>colin.hogben@bigfoot.com</i></a>)<br>
<i>Wed, 13 Oct 1999 22:38:19 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#102">[ date ]</a><a href="index.html#102">[ thread ]</a><a href="subject.html#102">[ subject ]</a><a href="author.html#102">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0103.html">Chris Pinkham: "Re: Trying to get BW4800SP working"</a>
<li> <b>Previous message:</b> <a href="0101.html">Oliver Rauch: "Do still exist problems with xsane-0.39 and -lintl?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi,<br>
I am trying to get a Black Widow 4800SP working with sane-1.00-54 under Linux<br>
(SuSE 6.2), being led to believe that it is supported by the (alpha) artec<br>
driver.<br>
<p>
"sgcheck" reports:<br>
/dev/sg0 0/0/5/0 Scanner  Flatbed Scanner<br>
<p>
and I have set /dev/scanner to point to /dev/sg0<br>
<p>
/etc/sane.d.artec.conf contains:<br>
/dev/scanner<br>
<p>
If I run "scanimage" I get the helpful error message:<br>
scanimage: sane_start: Invalid argument<br>
<p>
"scanimage -L" reports:<br>
device `pnm:0' is a Noname PNM file reader virtual device<br>
device `pnm:1' is a Noname PNM file reader virtual device<br>
<p>
but no sign of my scanner.<br>
<p>
So I downloaded the sane-artec.5 manual page (missing from the distribution).<br>
Setting SANE_DEBUG_ARTEC=128 yielded some more information:<br>
<p>
[sanei_init_debug]: Setting debug level of artec to 128.<br>
[artec] attach_one<br>
[artec] Artec/Ultima backend version 0.3, last mod: 10/18/1998 22:45<br>
[artec] <a href="http://www4.infi.net/~cpinkham/sane-artec-doc.html">http://www4.infi.net/~cpinkham/sane-artec-doc.html</a><br>
[artec] attach: opening /dev/scanner<br>
[artec] attach: sending INQUIRY<br>
[artec] attach: device doesn't look like a ULTIMA scanner<br>
[artec] sane_get_devices<br>
scanimage: sane_start: Invalid argument<br>
[artec] sane_exit<br>
<p>
On the suggestion of the manual page I updated artec.conf to read:<br>
vendor ULTIMA<br>
model AT3<br>
/dev/scanner<br>
<p>
But it looks like these extra directives are not interpreted properly:<br>
<p>
[sanei_init_debug]: Setting debug level of artec to 128.<br>
[artec] attach_one<br>
[artec] Artec/Ultima backend version 0.3, last mod: 10/18/1998 22:45<br>
[artec] <a href="http://www4.infi.net/~cpinkham/sane-artec-doc.html">http://www4.infi.net/~cpinkham/sane-artec-doc.html</a><br>
[artec] attach: opening vendor ULTIMA<br>
[artec] attach: open failed (Invalid argument)<br>
[artec] attach_one<br>
[artec] Artec/Ultima backend version 0.3, last mod: 10/18/1998 22:45<br>
[artec] <a href="http://www4.infi.net/~cpinkham/sane-artec-doc.html">http://www4.infi.net/~cpinkham/sane-artec-doc.html</a><br>
[artec] attach: opening model AT3<br>
[artec] attach: open failed (Invalid argument)<br>
[artec] attach_one<br>
[artec] Artec/Ultima backend version 0.3, last mod: 10/18/1998 22:45<br>
[artec] <a href="http://www4.infi.net/~cpinkham/sane-artec-doc.html">http://www4.infi.net/~cpinkham/sane-artec-doc.html</a><br>
[artec] attach: opening /dev/scanner<br>
[artec] attach: sending INQUIRY<br>
[artec] attach: device doesn't look like a ULTIMA scanner<br>
[artec] sane_get_devices<br>
scanimage: sane_start: Invalid argument<br>
[artec] sane_exit<br>
<p>
Does any one know what I should do to get the thing working?<br>
<p>
(I had a look at the source code and found the line where it complains about<br>
it not being an ULTIMA scanner; perhaps this needs changing to allow for the<br>
BW4800SP's blank vendor name.)<br>
<p>
Any help much appreciated.<br>
<p>
<pre>
-- 
Colin Hogben
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0103.html">Chris Pinkham: "Re: Trying to get BW4800SP working"</a>
<li> <b>Previous message:</b> <a href="0101.html">Oliver Rauch: "Do still exist problems with xsane-0.39 and -lintl?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
