<!-- received="Mon Oct 18 15:18:58 1999 PDT" -->
<!-- sent="Tue, 19 Oct 1999 00:25:15 +0200" -->
<!-- name="Oliver Rauch" -->
<!-- email="oliver.rauch@Wolfsburg.DE" -->
<!-- subject="Re: 16 bit images" -->
<!-- id="" -->
<!-- inreplyto="16 bit images" -->
<title>sane-devel: Re: 16 bit images</title>
<h1>Re: 16 bit images</h1>
<b>Oliver Rauch</b> (<a href="mailto:oliver.rauch@Wolfsburg.DE"><i>oliver.rauch@Wolfsburg.DE</i></a>)<br>
<i>Tue, 19 Oct 1999 00:25:15 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#139">[ date ]</a><a href="index.html#139">[ thread ]</a><a href="subject.html#139">[ subject ]</a><a href="author.html#139">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0140.html">Zot O'Connor: "updating scsi bois?"</a>
<li> <b>Previous message:</b> <a href="0138.html">Robert Schwebel: "16 bit images"</a>
<li> <b>Maybe in reply to:</b> <a href="0138.html">Robert Schwebel: "16 bit images"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0146.html">Robert Schwebel: "Re: 16 bit images"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Robert Schwebel wrote:<br>
<p>
<i>&gt; Hi!</i><br>
<i>&gt;</i><br>
<i>&gt; Could anyone point out to me what the result of the 16 bit per pixel</i><br>
<i>&gt; discussion was? I find the discussion in my mail archive but not the</i><br>
<i>&gt; conclusion ;-) Did you agree on a possibility for the frontend to find</i><br>
<i>&gt; out about the original bit depth?</i><br>
<i>&gt;</i><br>
<i>&gt; It seems to me that all backends available today have problems with 16</i><br>
<i>&gt; bit gray images as they report that this was not a supported depth. I</i><br>
<i>&gt; looked into some of the sources and it seems that 16 bit is treated as</i><br>
<i>&gt; "unknown" at least in scanimage and xsane(0.39). Any idea for a quick</i><br>
<i>&gt; fix (for the software or my brain) ;-) ?</i><br>
<i>&gt;</i><br>
<i>&gt;</i><br>
<p>
Hi Robert,<br>
<p>
xsane should work with color and grayscale images with 16 bits/pixel.<br>
<p>
Bye<br>
Oliver<br>
<p>
<p>
<pre>
--
EMAIL: <a href="mailto:Oliver.Rauch@Wolfsburg.DE">Oliver.Rauch@Wolfsburg.DE</a>
WWW: <a href="http://www.wolfsburg.de/~rauch">http://www.wolfsburg.de/~rauch</a>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0140.html">Zot O'Connor: "updating scsi bois?"</a>
<li> <b>Previous message:</b> <a href="0138.html">Robert Schwebel: "16 bit images"</a>
<li> <b>Maybe in reply to:</b> <a href="0138.html">Robert Schwebel: "16 bit images"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0146.html">Robert Schwebel: "Re: 16 bit images"</a>
<!-- reply="end" -->
</ul>
