<!-- received="Mon Oct 18 15:27:45 1999 PDT" -->
<!-- sent="Mon, 18 Oct 1999 15:33:08 -0700" -->
<!-- name="Zot O'Connor" -->
<!-- email="zot@zotconsulting.com" -->
<!-- subject="Re: problem getting a snapscan to work" -->
<!-- id="" -->
<!-- inreplyto="problem getting a snapscan to work" -->
<title>sane-devel: Re: problem getting a snapscan to work</title>
<h1>Re: problem getting a snapscan to work</h1>
<b>Zot O'Connor</b> (<a href="mailto:zot@zotconsulting.com"><i>zot@zotconsulting.com</i></a>)<br>
<i>Mon, 18 Oct 1999 15:33:08 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#141">[ date ]</a><a href="index.html#141">[ thread ]</a><a href="subject.html#141">[ subject ]</a><a href="author.html#141">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0142.html">Tim Allen: "Re: problem getting a snapscan to work"</a>
<li> <b>Previous message:</b> <a href="0140.html">Zot O'Connor: "updating scsi bois?"</a>
<li> <b>Maybe in reply to:</b> <a href="0126.html">joakim verona: "problem getting a snapscan to work"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0156.html">joakim verona: "Re: problem getting a snapscan to work"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
joakim verona wrote:<br>
<p>
<i>&gt; it now strikes me that the problem might be that the scanner needs</i><br>
<i>&gt; termination,</i><br>
<i>&gt; but it's unclear how to do this, because the scanner has one db25 port</i><br>
<i>&gt; and one centronics</i><br>
<i>&gt; port. any snapscan users who now if it needs termination?</i><br>
<i>&gt; </i><br>
<p>
When I got my scanner (Umax vista-s8) I got a centronics terminate that<br>
is "pass through."  You put it on the cable and connect it to the<br>
scanner.<br>
<p>
I also have a jazz drive that I connect to the 25 pin (through a<br>
converter) and it's active terminator will usually kick on and terminate<br>
past the scanner.<br>
<p>
<p>
<pre>
-- 
Zot O'Connor
<p>
www.ZotConsulting.com
www.WhiteKnightHackers.com
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0142.html">Tim Allen: "Re: problem getting a snapscan to work"</a>
<li> <b>Previous message:</b> <a href="0140.html">Zot O'Connor: "updating scsi bois?"</a>
<li> <b>Maybe in reply to:</b> <a href="0126.html">joakim verona: "problem getting a snapscan to work"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0156.html">joakim verona: "Re: problem getting a snapscan to work"</a>
<!-- reply="end" -->
</ul>
