<!-- received="Tue Oct 19 08:33:44 1999 PDT" -->
<!-- sent="Tue, 19 Oct 1999 17:34:45 +0200" -->
<!-- name="Oliver Rauch" -->
<!-- email="oliver.rauch@Wolfsburg.DE" -->
<!-- subject="Re: Can a scanner be faster on Windows 98 than on Linux?" -->
<!-- id="" -->
<!-- inreplyto="Can a scanner be faster on Windows 98 than on Linux?" -->
<title>sane-devel: Re: Can a scanner be faster on Windows 98 than on Linux?</title>
<h1>Re: Can a scanner be faster on Windows 98 than on Linux?</h1>
<b>Oliver Rauch</b> (<a href="mailto:oliver.rauch@Wolfsburg.DE"><i>oliver.rauch@Wolfsburg.DE</i></a>)<br>
<i>Tue, 19 Oct 1999 17:34:45 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#151">[ date ]</a><a href="index.html#151">[ thread ]</a><a href="subject.html#151">[ subject ]</a><a href="author.html#151">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0152.html">Oliver Rauch: "Is anyone using more than 8bpp with umax/xsane?"</a>
<li> <b>Previous message:</b> <a href="0150.html">Oliver Rauch: "Re: 16 bit images"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Eduardo Mazoni Andrade Marcal Mendes wrote:<br>
<p>
<i>&gt; Oliver Rauch wrote:</i><br>
<i>&gt;</i><br>
<i>&gt; &gt; Eduardo Mazoni Andrade Marcal Mendes wrote:</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt; &gt; &gt;</i><br>
<i>&gt; &gt; &gt; &gt;</i><br>
<i>&gt; &gt; &gt; &gt; what is the error message?</i><br>
<i>&gt; &gt; &gt;</i><br>
<i>&gt; &gt; &gt; Error during read. Error during I/O. How to get more details?</i><br>
<i>&gt; &gt; &gt;</i><br>
<i>&gt; &gt; &gt; &gt;</i><br>
<i>&gt; &gt; &gt; &gt; Is the image correct?</i><br>
<i>&gt; &gt; &gt;</i><br>
<i>&gt; &gt; &gt; No for one reason: Once I click on the error box the whole process starts again:</i><br>
<i>&gt; &gt; &gt; no out.jpeg file.</i><br>
<i>&gt; &gt; &gt;</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt; Please try saving as pnm.</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt; &gt;</i><br>
<i>&gt; &gt; &gt; &gt;</i><br>
<i>&gt; &gt; &gt; &gt;</i><br>
<i>&gt; &gt; &gt; &gt; Which firmware version does your scanner have?</i><br>
<i>&gt; &gt; &gt;</i><br>
<i>&gt; &gt; &gt; &gt; scsi : 1 host.</i><br>
<i>&gt; &gt; &gt; &gt;   Vendor: UMAX      Model: Vista-T630        Rev: V1.3</i><br>
<i>&gt; &gt; &gt; &gt;   Type:   Scanner                            ANSI SCSI revision: 02</i><br>
<i>&gt; &gt; &gt;</i><br>
<i>&gt; &gt; &gt;</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt; The last version is 1.5, may be it helps when you update!</i><br>
<i>&gt;</i><br>
<i>&gt; I think we have gone to this some time ago.  How to update?</i><br>
<i>&gt; I remember your saying something about umax on DE regarding this matter</i><br>
<i>&gt; but I can't remember what it was.</i><br>
<i>&gt;</i><br>
<p>
The simplest thing is you download the eprom image from umax' web site<br>
and you know someone who can burn it for you.<br>
<p>
Bye<br>
Oliver<br>
<p>
<p>
<pre>
--
EMAIL: <a href="mailto:Oliver.Rauch@Wolfsburg.DE">Oliver.Rauch@Wolfsburg.DE</a>
WWW: <a href="http://www.wolfsburg.de/~rauch">http://www.wolfsburg.de/~rauch</a>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0152.html">Oliver Rauch: "Is anyone using more than 8bpp with umax/xsane?"</a>
<li> <b>Previous message:</b> <a href="0150.html">Oliver Rauch: "Re: 16 bit images"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
