<!-- received="Fri Oct 22 04:11:53 1999 PDT" -->
<!-- sent="Fri, 22 Oct 1999 13:11:05 +0200 (CEST)" -->
<!-- name="CyberWolf" -->
<!-- email="cybrwolf@pcteor1.mi.infn.it" -->
<!-- subject="Epson Perfection 1200 or HP 6300?" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Epson Perfection 1200 or HP 6300?</title>
<h1>Epson Perfection 1200 or HP 6300?</h1>
<b>CyberWolf</b> (<a href="mailto:cybrwolf@pcteor1.mi.infn.it"><i>cybrwolf@pcteor1.mi.infn.it</i></a>)<br>
<i>Fri, 22 Oct 1999 13:11:05 +0200 (CEST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#170">[ date ]</a><a href="index.html#170">[ thread ]</a><a href="subject.html#170">[ subject ]</a><a href="author.html#170">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0171.html">Oliver Rauch: "Re: sane-umax"</a>
<li> <b>Previous message:</b> <a href="0169.html">Karl-Heinz Guenster: "Re: problem getting a snapscan to work"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi,<br>
<p>
I'm about to buy a scanner. I've read that the HP 6300 works fine under<br>
Linux, but here in Italy it costs 200$ more than the Perfection.<br>
<p>
So, my question is this: the perfection 1200 SCSI works with the epson<br>
backend?<br>
<p>
And even if it works, which one of the two scanners is better? :-)<br>
<p>
Thank you for any advice you could give me...<br>
<p>
Bye!<br>
<p>
Andrea Boselli<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0171.html">Oliver Rauch: "Re: sane-umax"</a>
<li> <b>Previous message:</b> <a href="0169.html">Karl-Heinz Guenster: "Re: problem getting a snapscan to work"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
