<!-- received="Tue Oct 26 07:27:10 1999 PDT" -->
<!-- sent="Mon, 25 Oct 1999 10:56:35 -0600" -->
<!-- name="Greg Lehey" -->
<!-- email="grog@lemis.com" -->
<!-- subject="Re: Recommended cheap SCSI scanners?" -->
<!-- id="" -->
<!-- inreplyto="199910241041.LAA00851@laa-laa.homehill.org" -->
<title>sane-devel: Re: Recommended cheap SCSI scanners?</title>
<h1>Re: Recommended cheap SCSI scanners?</h1>
<b>Greg Lehey</b> (<a href="mailto:grog@lemis.com"><i>grog@lemis.com</i></a>)<br>
<i>Mon, 25 Oct 1999 10:56:35 -0600</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#194">[ date ]</a><a href="index.html#194">[ thread ]</a><a href="subject.html#194">[ subject ]</a><a href="author.html#194">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0195.html">joakim verona: "continued snapscan troubles"</a>
<li> <b>Previous message:</b> <a href="0193.html">Joern Krueger: "Mustek 12000 SP Plus"</a>
<li> <b>In reply to:</b> <a href="0175.html">Allan Third: "Recommended cheap SCSI scanners?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0206.html">Egg Ham: "Re: Recommended cheap SCSI scanners?"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Sunday, 24 October 1999 at 11:41:40 +0100, Allan Third wrote:<br>
<i>&gt; Hi,</i><br>
<i>&gt;</i><br>
<i>&gt; I'm looking for a cheap SCSI scanner for use with Linux, hopefully one</i><br>
<i>&gt; which costs less than about 120 UK pounds. I don't know what that</i><br>
<i>&gt; would be in other currencies, but if it's any help for comparison,</i><br>
<i>&gt; here are a couple of the models I've been looking at:</i><br>
<i>&gt;</i><br>
<i>&gt; Mustek 1200SP Pro SCSI 	70 pounds</i><br>
<i>&gt; Acer 620S		105 pounds</i><br>
<p>
I have an Acer 620U.  It's quite a reasonable scanner, but beware of<br>
getting documents stuck between the glass and the frame.  It's almost<br>
impossible to remove them again.<br>
<p>
Greg<br>
<pre>
--
Finger <a href="mailto:grog@lemis.com">grog@lemis.com</a> for PGP public key
See complete headers for address and phone numbers
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0195.html">joakim verona: "continued snapscan troubles"</a>
<li> <b>Previous message:</b> <a href="0193.html">Joern Krueger: "Mustek 12000 SP Plus"</a>
<li> <b>In reply to:</b> <a href="0175.html">Allan Third: "Recommended cheap SCSI scanners?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0206.html">Egg Ham: "Re: Recommended cheap SCSI scanners?"</a>
<!-- reply="end" -->
</ul>
