<!-- received="Tue Oct 26 12:09:05 1999 PDT" -->
<!-- sent="Tue, 26 Oct 1999 22:33:10 +0000" -->
<!-- name="joakim verona" -->
<!-- email="joakim@verona.se" -->
<!-- subject="Re: continued snapscan troubles" -->
<!-- id="" -->
<!-- inreplyto="continued snapscan troubles" -->
<title>sane-devel: Re: continued snapscan troubles</title>
<h1>Re: continued snapscan troubles</h1>
<b>joakim verona</b> (<a href="mailto:joakim@verona.se"><i>joakim@verona.se</i></a>)<br>
<i>Tue, 26 Oct 1999 22:33:10 +0000</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#200">[ date ]</a><a href="index.html#200">[ thread ]</a><a href="subject.html#200">[ subject ]</a><a href="author.html#200">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0201.html">David Brodbeck: "Re: Snapscan Troubles"</a>
<li> <b>Previous message:</b> <a href="0199.html">Pamela Akazawa: "sane recompiling"</a>
<li> <b>Maybe in reply to:</b> <a href="0195.html">joakim verona: "continued snapscan troubles"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Kevin Charter wrote:<br>
<i>&gt; </i><br>
<i>&gt; Hi Joakim,</i><br>
<i>&gt; </i><br>
<i>&gt; &gt; i tried terminating the scanner. i then tried it out on my laptop, using</i><br>
<i>&gt; &gt; the same versions</i><br>
<i>&gt; &gt; of the softwares. the scsi driver is still aha152x with my pcmcia scsi</i><br>
<i>&gt; &gt; card.</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt; i tried it with snapscan backend 0.7 and the 1.0 alpha.</i><br>
<i>&gt; &gt; with the 1.0 alpha backend, the scanner dumps a lot of data, but the</i><br>
<i>&gt; &gt; head does not move.</i><br>
<i>&gt; </i><br>
<i>&gt; OK, so you have the same problem with both the laptop and the</i><br>
<i>&gt; dual-processor machine. Do you have an earlier version of the</i><br>
<i>&gt; kernel that you could try?  I can try upgrading to the latest</i><br>
<i>&gt; kernel to see if I have similar problems, but I probably won't get</i><br>
<i>&gt; to that until the weekend at the earliest.</i><br>
<p>
could you give me a hint of your configuration? then I could simulate<br>
that as much as<br>
possible, and thus we could isolate which part of the configuration that<br>
creates the problem. <br>
<p>
<i>&gt; &gt;</i><br>
<i>&gt; &gt; any more sugestions? i will try the scanner on windows also to rule out</i><br>
<i>&gt; &gt; hardware problems</i><br>
<i>&gt; &gt; with the scanner, but i'm not very eager to do that because then i must</i><br>
<i>&gt; &gt; install windows</i><br>
<i>&gt; &gt; on my laptop :-(</i><br>
<i>&gt; </i><br>
<i>&gt; That's a good idea. This is a 1236? It isn't too likely that you need</i><br>
<i>&gt; a firmware update, especially since the backend is really designed</i><br>
<i>&gt; to work best with the old 300 and 310 models (that's all I have docs</i><br>
<i>&gt; for).</i><br>
<p>
hmm. how do i know that? anyway its an old 300, i guess.<br>
<p>
<i>&gt; &gt;</i><br>
<i>&gt; &gt; other people with this same problem seems to have solved it by using the</i><br>
<i>&gt; &gt; 0.7 backend, but im not</i><br>
<i>&gt; &gt; so lucky. what can the difference be? the firmware revision in the</i><br>
<i>&gt; &gt; scanner? is it possible</i><br>
<i>&gt; &gt; to upgrade the snapscan?</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; </i><br>
<i>&gt; Kevin</i><br>
<i>&gt; </i><br>
<i>&gt; --</i><br>
<i>&gt; Kevin Charter</i><br>
<i>&gt; <a href="mailto:charter@cs.rice.edu">charter@cs.rice.edu</a> | charter@cs.ualberta.ca</i><br>
<i>&gt; <a href="http://www.cs.rice.edu/~charter">http://www.cs.rice.edu/~charter</a> | http://www.cs.ualberta.ca/~charter</i><br>
<i>&gt; </i><br>
<i>&gt; --</i><br>
<i>&gt; Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a></i><br>
<i>&gt; To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a></i><br>
<p>
<pre>
-- 
Joakim Verona
<a href="mailto:joakim@verona.se">joakim@verona.se</a>
<a href="http://www.verona.se/~joakimv">http://www.verona.se/~joakimv</a>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0201.html">David Brodbeck: "Re: Snapscan Troubles"</a>
<li> <b>Previous message:</b> <a href="0199.html">Pamela Akazawa: "sane recompiling"</a>
<li> <b>Maybe in reply to:</b> <a href="0195.html">joakim verona: "continued snapscan troubles"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
