<!-- received="Thu Oct 28 10:00:45 1999 PDT" -->
<!-- sent="Thu, 28 Oct 1999 18:54:36 +0200" -->
<!-- name="Oliver Rauch" -->
<!-- email="oliver.rauch@Wolfsburg.DE" -->
<!-- subject="Re: xsane-0.41 on SPARC SOLARIS 2.6" -->
<!-- id="" -->
<!-- inreplyto="xsane-0.41 on SPARC SOLARIS 2.6" -->
<title>sane-devel: Re: xsane-0.41 on SPARC SOLARIS 2.6</title>
<h1>Re: xsane-0.41 on SPARC SOLARIS 2.6</h1>
<b>Oliver Rauch</b> (<a href="mailto:oliver.rauch@Wolfsburg.DE"><i>oliver.rauch@Wolfsburg.DE</i></a>)<br>
<i>Thu, 28 Oct 1999 18:54:36 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#222">[ date ]</a><a href="index.html#222">[ thread ]</a><a href="subject.html#222">[ subject ]</a><a href="author.html#222">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0223.html">Oliver Rauch: "Re: floating point exception error"</a>
<li> <b>Previous message:</b> <a href="0221.html">galysh@juno.nrl.navy.mil: "floating point exception error"</a>
<li> <b>Maybe in reply to:</b> <a href="0220.html">Wolfgang Cohrs: "xsane-0.41 on SPARC SOLARIS 2.6"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0226.html">Wolfgang Cohrs: "Re: xsane-0.41 on SPARC SOLARIS 2.6"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Wolfgang Cohrs wrote:<br>
<p>
<i>&gt; Hi,</i><br>
<i>&gt; i try to compile xsane-0.41 on SunOS  5.6 Generic_105181-16 sun4u sparc</i><br>
<i>&gt; SUNW,Ultra-1System = SunOS</i><br>
<i>&gt; with gcc version 2.8.1. with xsane-0.37 i have no problem.</i><br>
<i>&gt; here the error</i><br>
<i>&gt;</i><br>
<i>&gt; making all in frontend</i><br>
<i>&gt; make[1]: Entering directory `/tmpdir/xsane-0.41/frontend'</i><br>
<i>&gt; gcc  -o xsane xsane-back-gtk.o xsane-front-gtk.o xsane-gamma.o</i><br>
<i>&gt; xsane-preview.o xsane-preferences.o xsane-setup.o xsane-save.o</i><br>
<i>&gt; xsane-scan.o xsane-icons.o xsane.o ../sanei/libsanei.a \</i><br>
<i>&gt;         ../lib/liblib.a -lgimp -L/tmpdir/Software/lib -L/usr/openwin/lib</i><br>
<i>&gt; -R/usr/openwin/lib -lgtk -lgdk -lgmodule -lglib -ldl -lXext -lX11</i><br>
<i>&gt; -lsocket -lnsl -lm -ldl -ltiff -ljpeg -lz -lm</i><br>
<i>&gt; Undefined                       first referenced</i><br>
<i>&gt;  symbol                             in file</i><br>
<i>&gt; sane_read                           xsane-preview.o</i><br>
<i>&gt; sane_get_parameters                 xsane-preview.o</i><br>
<i>&gt; sane_close                          xsane-back-gtk.o</i><br>
<i>&gt; sane_strstatus                      xsane-back-gtk.o</i><br>
<i>&gt; sane_cancel                         xsane-preview.o</i><br>
<i>&gt; sane_exit                           xsane-scan.o</i><br>
<i>&gt; sane_set_io_mode                    xsane-preview.o</i><br>
<i>&gt; sane_start                          xsane-preview.o</i><br>
<i>&gt; sane_open                           xsane.o</i><br>
<i>&gt; sane_init                           xsane-scan.o</i><br>
<i>&gt; sane_get_select_fd                  xsane-preview.o</i><br>
<i>&gt; sane_get_devices                    xsane-scan.o</i><br>
<i>&gt; sane_get_option_descriptor          xsane-back-gtk.o</i><br>
<i>&gt; sane_control_option                 xsane-back-gtk.o</i><br>
<i>&gt; ld: fatal: Symbol referencing errors. No output written to xsane</i><br>
<i>&gt; make[1]: *** [xsane] Error 1</i><br>
<i>&gt; make[1]: Leaving directory `/tmpdir/xsane-0.41/frontend'</i><br>
<i>&gt; make: *** [all-recursive] Error 1</i><br>
<i>&gt;</i><br>
<p>
Hi,<br>
<p>
on your system libsane is not linked to xsane.<br>
Please do:<br>
make distclean<br>
./configure &gt;configure.output<br>
<p>
and send me configure.output and config.log<br>
<p>
please also tell me where your sane libs are installed!<br>
<p>
Bye<br>
Oliver<br>
<p>
<p>
<pre>
--
Homepage:       <a href="http://www.wolfsburg.de/~rauch">http://www.wolfsburg.de/~rauch</a>
sane-umax:      <a href="http://www.wolfsburg.de/~rauch/sane/sane-umax.html">http://www.wolfsburg.de/~rauch/sane/sane-umax.html</a>
xsane:          <a href="http://www.wolfsburg.de/~rauch/sane/sane-xsane.html">http://www.wolfsburg.de/~rauch/sane/sane-xsane.html</a>
E-Mail:         <a href="mailto:Oliver.Rauch@Wolfsburg.DE">mailto:Oliver.Rauch@Wolfsburg.DE</a>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0223.html">Oliver Rauch: "Re: floating point exception error"</a>
<li> <b>Previous message:</b> <a href="0221.html">galysh@juno.nrl.navy.mil: "floating point exception error"</a>
<li> <b>Maybe in reply to:</b> <a href="0220.html">Wolfgang Cohrs: "xsane-0.41 on SPARC SOLARIS 2.6"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0226.html">Wolfgang Cohrs: "Re: xsane-0.41 on SPARC SOLARIS 2.6"</a>
<!-- reply="end" -->
</ul>
