<!-- received="Fri Oct 29 00:31:28 1999 PDT" -->
<!-- sent="Fri, 29 Oct 1999 09:33:59 +0200" -->
<!-- name="Wolfgang Cohrs" -->
<!-- email="wcohrs@AWI-Bremerhaven.DE" -->
<!-- subject="Re: xsane-0.41 on SPARC SOLARIS 2.6" -->
<!-- id="" -->
<!-- inreplyto="xsane-0.41 on SPARC SOLARIS 2.6" -->
<title>sane-devel: Re: xsane-0.41 on SPARC SOLARIS 2.6</title>
<h1>Re: xsane-0.41 on SPARC SOLARIS 2.6</h1>
<b>Wolfgang Cohrs</b> (<a href="mailto:wcohrs@AWI-Bremerhaven.DE"><i>wcohrs@AWI-Bremerhaven.DE</i></a>)<br>
<i>Fri, 29 Oct 1999 09:33:59 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#226">[ date ]</a><a href="index.html#226">[ thread ]</a><a href="subject.html#226">[ subject ]</a><a href="author.html#226">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0227.html">Levente NOVAK: "Re: xsane-0.41"</a>
<li> <b>Previous message:</b> <a href="0225.html">Brian Beattie: "Mustek VDC 3500 camera"</a>
<li> <b>Maybe in reply to:</b> <a href="0220.html">Wolfgang Cohrs: "xsane-0.41 on SPARC SOLARIS 2.6"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
This is a multi-part message in MIME format.<br>
--------------A65FE9D100EB9FBF22F0CEB6<br>
Content-Type: text/plain; charset=us-ascii<br>
Content-Transfer-Encoding: 7bit<br>
<p>
Moin Oliver,<br>
ich denke mal das diese  mail nicht in die mailing list soll und deshalb<br>
schreibe ich auch in deutsch.<br>
hier noch der output von ldd auf xsane-0.37<br>
<p>
        libgimp.so.1 =&gt;  /tmpdir/Software/lib/libgimp.so.1<br>
        libgtk-1.2.so.0 =&gt;       /tmpdir/Software/lib/libgtk-1.2.so.0<br>
        libgdk-1.2.so.0 =&gt;       /tmpdir/Software/lib/libgdk-1.2.so.0<br>
        libgmodule-1.2.so.0 =&gt;<br>
/tmpdir/Software/lib/libgmodule-1.2.so.0<br>
        libglib-1.2.so.0 =&gt;      /tmpdir/Software/lib/libglib-1.2.so.0<br>
        libdl.so.1 =&gt;    /usr/lib/libdl.so.1<br>
        libXext.so.0 =&gt;  /usr/openwin/lib/libXext.so.0<br>
        libX11.so.4 =&gt;   /usr/openwin/lib/libX11.so.4<br>
        libsocket.so.1 =&gt;        /usr/lib/libsocket.so.1<br>
        libnsl.so.1 =&gt;   /usr/lib/libnsl.so.1<br>
        libm.so.1 =&gt;     /usr/lib/libm.so.1<br>
        libintl.so.1 =&gt;  /usr/lib/libintl.so.1<br>
        libsane-dll.so.1 =&gt;      /tmpdir/Software/lib/libsane-dll.so.1<br>
        libtiff.so =&gt;    /tmpdir/Software/lib/libtiff.so<br>
        libjpeg.so =&gt;    /tmpdir/Software/lib/libjpeg.so<br>
        libc.so.1 =&gt;     /usr/lib/libc.so.1<br>
        libmp.so.2 =&gt;    /usr/lib/libmp.so.2<br>
        libucb.so.1 =&gt;   /usr/ucblib/libucb.so.1<br>
        libresolv.so.2 =&gt;        /usr/lib/libresolv.so.2<br>
        libelf.so.1 =&gt;   /usr/lib/libelf.so.1<br>
<p>
ich hoffe das dir das hilft. hatt sich denn bei der version 0.41 etwas<br>
geaendert ?<br>
<p>
gruss von der kueste<br>
<p>
wolfgang<br>
<p>
<p>
<pre>
--
Wolfgang Cohrs Alfred-Wegener-Institut fuer Polar- und Meeresforschung
Postfach 120161 D 27515 Bremerhaven
<a href="mailto:wcohrs@awi-bremerhaven.de">mailto:wcohrs@awi-bremerhaven.de</a>
<a href="http://www.awi-bremerhaven.de/ViewHome/Mitarbeiter.html?uid=wcohrs">http://www.awi-bremerhaven.de/ViewHome/Mitarbeiter.html?uid=wcohrs</a>
<p>
<p>
<p>
--------------A65FE9D100EB9FBF22F0CEB6
Content-Type: text/plain; charset=us-ascii;
 name="config.log"
Content-Transfer-Encoding: 7bit
Content-Disposition: inline;
 filename="config.log"
<p>
This file contains any messages produced by compilers while
running configure, to aid debugging if configure makes a mistake.
<p>
configure:586: checking whether libintl patch is requested
configure:598: checking whether GIMP plugin is requested
configure:610: checking whether JPEG support is requested
configure:622: checking whether PNG support is requested
configure:634: checking whether TIFF support is requested
configure:649: checking for gcc
configure:762: checking whether the C compiler (gcc  ) works
configure:778: gcc -o conftest    conftest.c  1&gt;&amp;5
configure:804: checking whether the C compiler (gcc  ) is a cross-compiler
configure:809: checking whether we are using GNU C
configure:818: gcc -E conftest.c
configure:837: checking whether gcc accepts -g
configure:869: checking how to run the C preprocessor
configure:890: gcc -E  conftest.c &gt;/dev/null 2&gt;conftest.out
configure:949: checking for AIX
configure:974: checking for minix/config.h
configure:984: gcc -E  conftest.c &gt;/dev/null 2&gt;conftest.out
configure:980: minix/config.h: No such file or directory
configure: failed program was:
#line 979 "configure"
#include "confdefs.h"
#include &lt;minix/config.h&gt;
configure:1022: checking for POSIXized ISC
configure:1046: checking for gcc option to accept ANSI C
configure:1099: gcc  -c -g -O2  conftest.c 1&gt;&amp;5
configure:1087: parse error before `i'
configure: failed program was:
#line 1062 "configure"
#include "confdefs.h"
#include &lt;stdarg.h&gt;
#include &lt;stdio.h&gt;
#include &lt;sys/types.h&gt;
#include &lt;sys/stat.h&gt;
/* Most of the following tests are stolen from RCS 5.7's src/conf.sh.  */
struct buf { int x; };
FILE * (*rcsopen) (struct buf *, struct stat *, int);
static char *e (p, i)
     char **p;
     int i;
{
  return p[i];
}
static char *f (char * (*g) (char **, int), char **p, ...)
{
  char *s;
  va_list v;
  va_start (v,p);
  s = g (p, va_arg (v,int));
  va_end (v);
  return s;
}                                                                               int test (int i, double x);
struct s1 {int (*f) (int a);};
struct s2 {int (*f) (double a);};
int pairnames (int, char **, FILE *(*)(struct buf *, struct stat *, int), int, i
nt);
int argc;
char **argv;
<p>
int main() {
<p>
return f (e, argv, 0) != argv[0]  ||  f (e, argv, 1) != argv[1];
<p>
; return 0; }
configure:1099: gcc -qlanglvl=ansi -c -g -O2  conftest.c 1&gt;&amp;5
gcc: unrecognized option `-qlanglvl=ansi'
configure:1087: parse error before `i'
configure: failed program was:
#line 1062 "configure"
#include "confdefs.h"
#include &lt;stdarg.h&gt;
#include &lt;stdio.h&gt;
#include &lt;sys/types.h&gt;
#include &lt;sys/stat.h&gt;
/* Most of the following tests are stolen from RCS 5.7's src/conf.sh.  */
struct buf { int x; };
FILE * (*rcsopen) (struct buf *, struct stat *, int);
static char *e (p, i)
     char **p;
     int i;
{
  return p[i];
}
static char *f (char * (*g) (char **, int), char **p, ...)
{
  char *s;
  va_list v;
  va_start (v,p);
  s = g (p, va_arg (v,int));
  va_end (v);
  return s;
}                                                                               int test (int i, double x);
struct s1 {int (*f) (int a);};
struct s2 {int (*f) (double a);};
int pairnames (int, char **, FILE *(*)(struct buf *, struct stat *, int), int, i
nt);
int argc;
char **argv;
<p>
int main() {
<p>
return f (e, argv, 0) != argv[0]  ||  f (e, argv, 1) != argv[1];
<p>
; return 0; }
configure:1099: gcc -std1 -c -g -O2  conftest.c 1&gt;&amp;5
gcc: unrecognized option `-std1'
configure:1087: parse error before `i'
configure: failed program was:
#line 1062 "configure"
#include "confdefs.h"
#include &lt;stdarg.h&gt;
#include &lt;stdio.h&gt;
#include &lt;sys/types.h&gt;
#include &lt;sys/stat.h&gt;
/* Most of the following tests are stolen from RCS 5.7's src/conf.sh.  */
struct buf { int x; };
FILE * (*rcsopen) (struct buf *, struct stat *, int);
static char *e (p, i)
     char **p;
     int i;
{
  return p[i];
}
static char *f (char * (*g) (char **, int), char **p, ...)
{
  char *s;
  va_list v;
  va_start (v,p);
  s = g (p, va_arg (v,int));
  va_end (v);
  return s;
}                                                                               int test (int i, double x);
struct s1 {int (*f) (int a);};
struct s2 {int (*f) (double a);};
int pairnames (int, char **, FILE *(*)(struct buf *, struct stat *, int), int, i
nt);
int argc;
char **argv;
<p>
int main() {
<p>
return f (e, argv, 0) != argv[0]  ||  f (e, argv, 1) != argv[1];
<p>
; return 0; }
configure:1099: gcc -Aa -D_HPUX_SOURCE -c -g -O2  conftest.c 1&gt;&amp;5
*Initialization*:1: missing token-sequence in `#assert'
configure: failed program was:
#line 1062 "configure"
#include "confdefs.h"
#include &lt;stdarg.h&gt;
#include &lt;stdio.h&gt;
#include &lt;sys/types.h&gt;
#include &lt;sys/stat.h&gt;
/* Most of the following tests are stolen from RCS 5.7's src/conf.sh.  */
struct buf { int x; };
FILE * (*rcsopen) (struct buf *, struct stat *, int);
static char *e (p, i)
     char **p;
     int i;
{
  return p[i];
}
static char *f (char * (*g) (char **, int), char **p, ...)
{
  char *s;
  va_list v;
  va_start (v,p);
  s = g (p, va_arg (v,int));
  va_end (v);
  return s;
}                                                                               int test (int i, double x);
struct s1 {int (*f) (int a);};
struct s2 {int (*f) (double a);};
int pairnames (int, char **, FILE *(*)(struct buf *, struct stat *, int), int, i
nt);
int argc;
char **argv;
<p>
int main() {
<p>
return f (e, argv, 0) != argv[0]  ||  f (e, argv, 1) != argv[1];
<p>
; return 0; }
configure:1099: gcc -Xc -D__EXTENSIONS__
 -c -g -O2  conftest.c 1&gt;&amp;5
gcc: unrecognized option `-Xc'
configure:1087: parse error before `i'
configure: failed program was:
#line 1062 "configure"
#include "confdefs.h"
#include &lt;stdarg.h&gt;
#include &lt;stdio.h&gt;
#include &lt;sys/types.h&gt;
#include &lt;sys/stat.h&gt;
/* Most of the following tests are stolen from RCS 5.7's src/conf.sh.  */
struct buf { int x; };
FILE * (*rcsopen) (struct buf *, struct stat *, int);
static char *e (p, i)
     char **p;
     int i;
{
  return p[i];
}
static char *f (char * (*g) (char **, int), char **p, ...)
{
  char *s;
  va_list v;
  va_start (v,p);
  s = g (p, va_arg (v,int));
  va_end (v);
  return s;
}                                                                               int test (int i, double x);
struct s1 {int (*f) (int a);};
struct s2 {int (*f) (double a);};
int pairnames (int, char **, FILE *(*)(struct buf *, struct stat *, int), int, i
nt);
int argc;
char **argv;
<p>
int main() {
<p>
return f (e, argv, 0) != argv[0]  ||  f (e, argv, 1) != argv[1];
<p>
; return 0; }
configure:1153: checking for a BSD compatible install
configure:1206: checking whether make sets ${MAKE}
configure:1233: checking how to run the C preprocessor
configure:1314: checking whether gcc needs -traditional
configure:1367: checking for ANSI C header files
configure:1380: gcc -E  -D_GNU_SOURCE conftest.c &gt;/dev/null 2&gt;conftest.out
configure:1447: gcc -o conftest -g -O2 -Wall  -D_GNU_SOURCE  conftest.c  1&gt;&amp;5
configure:1476: checking for fcntl.h
configure:1486: gcc -E  -D_GNU_SOURCE conftest.c &gt;/dev/null 2&gt;conftest.out
configure:1476: checking for unistd.h
configure:1486: gcc -E  -D_GNU_SOURCE conftest.c &gt;/dev/null 2&gt;conftest.out
configure:1476: checking for libc.h
configure:1486: gcc -E  -D_GNU_SOURCE conftest.c &gt;/dev/null 2&gt;conftest.out
configure:1482: libc.h: No such file or directory
configure: failed program was:
#line 1481 "configure"
#include "confdefs.h"
#include &lt;libc.h&gt;
configure:1476: checking for sys/dsreq.h
configure:1486: gcc -E  -D_GNU_SOURCE conftest.c &gt;/dev/null 2&gt;conftest.out
configure:1482: sys/dsreq.h: No such file or directory
configure: failed program was:
#line 1481 "configure"
#include "confdefs.h"
#include &lt;sys/dsreq.h&gt;
configure:1476: checking for sys/select.h
configure:1486: gcc -E  -D_GNU_SOURCE conftest.c &gt;/dev/null 2&gt;conftest.out
configure:1476: checking for sys/time.h
configure:1486: gcc -E  -D_GNU_SOURCE conftest.c &gt;/dev/null 2&gt;conftest.out
configure:1476: checking for sys/scanio.h
configure:1486: gcc -E  -D_GNU_SOURCE conftest.c &gt;/dev/null 2&gt;conftest.out
configure:1482: sys/scanio.h: No such file or directory
configure: failed program was:
#line 1481 "configure"
#include "confdefs.h"
#include &lt;sys/scanio.h&gt;
configure:1476: checking for sys/socket.h
configure:1486: gcc -E  -D_GNU_SOURCE conftest.c &gt;/dev/null 2&gt;conftest.out
configure:1476: checking for sys/io.h
configure:1486: gcc -E  -D_GNU_SOURCE conftest.c &gt;/dev/null 2&gt;conftest.out
configure:1482: sys/io.h: No such file or directory
configure: failed program was:
#line 1481 "configure"
#include "confdefs.h"
#include &lt;sys/io.h&gt;
configure:1476: checking for asm/io.h
configure:1486: gcc -E  -D_GNU_SOURCE conftest.c &gt;/dev/null 2&gt;conftest.out
configure:1482: asm/io.h: No such file or directory
configure: failed program was:
#line 1481 "configure"
#include "confdefs.h"
#include &lt;asm/io.h&gt;
configure:1476: checking for gscdds.h
configure:1486: gcc -E  -D_GNU_SOURCE conftest.c &gt;/dev/null 2&gt;conftest.out
configure:1482: gscdds.h: No such file or directory
configure: failed program was:
#line 1481 "configure"
#include "confdefs.h"
#include &lt;gscdds.h&gt;
configure:1476: checking for sys/hw.h
configure:1486: gcc -E  -D_GNU_SOURCE conftest.c &gt;/dev/null 2&gt;conftest.out
configure:1482: sys/hw.h: No such file or directory
configure: failed program was:
#line 1481 "configure"
#include "confdefs.h"
#include &lt;sys/hw.h&gt;
configure:1476: checking for bsd/dev/scsireg.h
configure:1486: gcc -E  -D_GNU_SOURCE conftest.c &gt;/dev/null 2&gt;conftest.out
configure:1482: bsd/dev/scsireg.h: No such file or directory
configure: failed program was:
#line 1481 "configure"
#include "confdefs.h"
#include &lt;bsd/dev/scsireg.h&gt;
configure:1476: checking for io/cam/cam.h
configure:1486: gcc -E  -D_GNU_SOURCE conftest.c &gt;/dev/null 2&gt;conftest.out
configure:1482: io/cam/cam.h: No such file or directory
configure: failed program was:
#line 1481 "configure"
#include "confdefs.h"
#include &lt;io/cam/cam.h&gt;
configure:1476: checking for camlib.h
configure:1486: gcc -E  -D_GNU_SOURCE conftest.c &gt;/dev/null 2&gt;conftest.out
configure:1482: camlib.h: No such file or directory
configure: failed program was:
#line 1481 "configure"
#include "confdefs.h"
#include &lt;camlib.h&gt;
configure:1476: checking for sys/types.h
configure:1486: gcc -E  -D_GNU_SOURCE conftest.c &gt;/dev/null 2&gt;conftest.out
configure:1476: checking for zlib.h
configure:1486: gcc -E  -D_GNU_SOURCE conftest.c &gt;/dev/null 2&gt;conftest.out
configure:1482: zlib.h: No such file or directory
configure: failed program was:
#line 1481 "configure"
#include "confdefs.h"
#include &lt;zlib.h&gt;
configure:1514: checking for working const
configure:1568: gcc -c -g -O2 -Wall  -D_GNU_SOURCE conftest.c 1&gt;&amp;5
configure: In function `main':
configure:1542: warning: unused variable `s'
configure:1562: warning: unused variable `foo'
configure:1530: warning: unused variable `zero'
configure:1524: warning: unused variable `x'
configure:1541: warning: `t' might be used uninitialized in this function
configure:1559: warning: `b' might be used uninitialized in this function
configure:1589: checking for inline
configure:1603: gcc -c -g -O2 -Wall  -D_GNU_SOURCE conftest.c 1&gt;&amp;5
configure: In function `main':
configure:1599: warning: control reaches end of non-void function
configure: At top level:
configure:1599: warning: return-type defaults to `int'
configure:1629: checking return type of signal handlers
configure:1651: gcc -c -g -O2 -Wall  -D_GNU_SOURCE conftest.c 1&gt;&amp;5
configure: In function `main':
configure:1647: warning: unused variable `i'
configure:1670: checking for size_t
configure:1703: checking for pid_t
configure:1736: checking for ssize_t
configure:1769: checking for u_char
configure:1802: checking for u_int
configure:1835: checking for u_long
configure:1869: checking for scsireq_enter in -lscsi
configure:1888: gcc -o conftest -g -O2 -Wall  -D_GNU_SOURCE  conftest.c -lscsi   1&gt;&amp;5
ld: fatal: library -lscsi: not found
ld: fatal: File processing errors. No output written to conftest
configure: failed program was:
#line 1877 "configure"
#include "confdefs.h"
/* Override any gcc2 internal prototype to avoid an error.  */
/* We use char because int might match the return type of a gcc2
    builtin and then its argument prototype would still apply.  */
char scsireq_enter();
<p>
int main() {
scsireq_enter()
; return 0; }
configure:1916: checking for cam_open_device in -lcam
configure:1935: gcc -o conftest -g -O2 -Wall  -D_GNU_SOURCE  conftest.c -lcam   1&gt;&amp;5
ld: fatal: library -lcam: not found
ld: fatal: File processing errors. No output written to conftest
configure: failed program was:
#line 1924 "configure"
#include "confdefs.h"
/* Override any gcc2 internal prototype to avoid an error.  */
/* We use char because int might match the return type of a gcc2
    builtin and then its argument prototype would still apply.  */
char cam_open_device();
<p>
int main() {
cam_open_device()
; return 0; }
configure:1964: checking for sqrt in -lm
configure:1983: gcc -o conftest -g -O2 -Wall  -D_GNU_SOURCE  conftest.c -lm   1&gt;&amp;5
configure:1976: warning: conflicting types for built-in function `sqrt'
configure:2011: checking for deflateInit_ in -lz
configure:2030: gcc -o conftest -g -O2 -Wall  -D_GNU_SOURCE  conftest.c -lz  -lm  1&gt;&amp;5
configure:2060: checking for jpeg_start_decompress in -ljpeg
configure:2079: gcc -o conftest -g -O2 -Wall  -D_GNU_SOURCE  conftest.c -ljpeg  -lz -lm  1&gt;&amp;5
configure:2111: checking for TIFFOpen in -ltiff
configure:2130: gcc -o conftest -g -O2 -Wall  -D_GNU_SOURCE  conftest.c -ltiff  -ljpeg -lz -lm  1&gt;&amp;5
configure:2162: checking for working alloca.h
configure:2174: gcc -o conftest -g -O2 -Wall  -D_GNU_SOURCE  conftest.c -ltiff -ljpeg -lz -lm  1&gt;&amp;5
configure: In function `main':
configure:2170: warning: unused variable `p'
configure:2195: checking for alloca
configure:2228: gcc -o conftest -g -O2 -Wall  -D_GNU_SOURCE  conftest.c -ltiff -ljpeg -lz -lm  1&gt;&amp;5
configure: In function `main':
configure:2224: warning: unused variable `p'
configure:2399: checking for unistd.h
configure:2438: checking for getpagesize
configure:2466: gcc -o conftest -g -O2 -Wall  -D_GNU_SOURCE  conftest.c -ltiff -ljpeg -lz -lm  1&gt;&amp;5
configure:2491: checking for working mmap
configure:2639: gcc -o conftest -g -O2 -Wall  -D_GNU_SOURCE  conftest.c -ltiff -ljpeg -lz -lm  1&gt;&amp;5
configure: In function `main':
configure:2580: warning: implicit declaration of function `getpagesize'
configure:2589: warning: implicit declaration of function `rand'
configure:2590: warning: implicit declaration of function `umask'
configure:2594: warning: implicit declaration of function `write'
configure:2596: warning: implicit declaration of function `close'
configure:2627: warning: implicit declaration of function `read'
configure:2633: warning: implicit declaration of function `unlink'
configure:2664: checking for atexit
configure:2692: gcc -o conftest -g -O2 -Wall  -D_GNU_SOURCE  conftest.c -ltiff -ljpeg -lz -lm  1&gt;&amp;5
configure:2664: checking for mkdir
configure:2692: gcc -o conftest -g -O2 -Wall  -D_GNU_SOURCE  conftest.c -ltiff -ljpeg -lz -lm  1&gt;&amp;5
configure:2664: checking for sigprocmask
configure:2692: gcc -o conftest -g -O2 -Wall  -D_GNU_SOURCE  conftest.c -ltiff -ljpeg -lz -lm  1&gt;&amp;5
configure:2664: checking for strdup
configure:2692: gcc -o conftest -g -O2 -Wall  -D_GNU_SOURCE  conftest.c -ltiff -ljpeg -lz -lm  1&gt;&amp;5
configure:2664: checking for strndup
configure:2692: gcc -o conftest -g -O2 -Wall  -D_GNU_SOURCE  conftest.c -ltiff -ljpeg -lz -lm  1&gt;&amp;5
Undefined			first referenced
 symbol  			    in file
strndup                             /var/tmp/ccuUdbJ_1.o
ld: fatal: Symbol referencing errors. No output written to conftest
configure: failed program was:
#line 2669 "configure"
#include "confdefs.h"
/* System header to define __stub macros and hopefully few prototypes,
    which can conflict with char strndup(); below.  */
#include &lt;assert.h&gt;
/* Override any gcc2 internal prototype to avoid an error.  */
/* We use char because int might match the return type of a gcc2
    builtin and then its argument prototype would still apply.  */
char strndup();
<p>
int main() {
<p>
/* The GNU C library defines this for functions which it implements
    to always fail with ENOSYS.  Some functions are actually named
    something starting with __ and the normal name is an alias.  */
#if defined (__stub_strndup) || defined (__stub___strndup)
choke me
#else
strndup();
#endif
<p>
; return 0; }
configure:2664: checking for strftime
configure:2692: gcc -o conftest -g -O2 -Wall  -D_GNU_SOURCE  conftest.c -ltiff -ljpeg -lz -lm  1&gt;&amp;5
configure:2664: checking for strstr
configure:2692: gcc -o conftest -g -O2 -Wall  -D_GNU_SOURCE  conftest.c -ltiff -ljpeg -lz -lm  1&gt;&amp;5
configure:2664: checking for strsep
configure:2692: gcc -o conftest -g -O2 -Wall  -D_GNU_SOURCE  conftest.c -ltiff -ljpeg -lz -lm  1&gt;&amp;5
Undefined			first referenced
 symbol  			    in file
strsep                              /var/tmp/cc0V7zUC1.o
ld: fatal: Symbol referencing errors. No output written to conftest
configure: failed program was:
#line 2669 "configure"
#include "confdefs.h"
/* System header to define __stub macros and hopefully few prototypes,
    which can conflict with char strsep(); below.  */
#include &lt;assert.h&gt;
/* Override any gcc2 internal prototype to avoid an error.  */
/* We use char because int might match the return type of a gcc2
    builtin and then its argument prototype would still apply.  */
char strsep();
<p>
int main() {
<p>
/* The GNU C library defines this for functions which it implements
    to always fail with ENOSYS.  Some functions are actually named
    something starting with __ and the normal name is an alias.  */
#if defined (__stub_strsep) || defined (__stub___strsep)
choke me
#else
strsep();
#endif
<p>
; return 0; }
configure:2664: checking for strtod
configure:2692: gcc -o conftest -g -O2 -Wall  -D_GNU_SOURCE  conftest.c -ltiff -ljpeg -lz -lm  1&gt;&amp;5
configure:2664: checking for snprintf
configure:2692: gcc -o conftest -g -O2 -Wall  -D_GNU_SOURCE  conftest.c -ltiff -ljpeg -lz -lm  1&gt;&amp;5
configure:2664: checking for usleep
configure:2692: gcc -o conftest -g -O2 -Wall  -D_GNU_SOURCE  conftest.c -ltiff -ljpeg -lz -lm  1&gt;&amp;5
configure:2664: checking for strcasecmp
configure:2692: gcc -o conftest -g -O2 -Wall  -D_GNU_SOURCE  conftest.c -ltiff -ljpeg -lz -lm  1&gt;&amp;5
configure:2664: checking for strncasecmp
configure:2692: gcc -o conftest -g -O2 -Wall  -D_GNU_SOURCE  conftest.c -ltiff -ljpeg -lz -lm  1&gt;&amp;5
configure:2721: checking for dlfcn.h
configure:2731: gcc -E  -D_GNU_SOURCE conftest.c &gt;/dev/null 2&gt;conftest.out
configure:2752: checking for dlopen in -ldl
configure:2771: gcc -o conftest -g -O2 -Wall  -D_GNU_SOURCE  conftest.c -ldl  -ltiff -ljpeg -lz -lm  1&gt;&amp;5
configure:2800: checking for dlopen
configure:2828: gcc -o conftest -g -O2 -Wall  -D_GNU_SOURCE  conftest.c -ldl -ltiff -ljpeg -lz -lm  1&gt;&amp;5
configure:2862: checking for dl.h
configure:2872: gcc -E  -D_GNU_SOURCE conftest.c &gt;/dev/null 2&gt;conftest.out
configure:2868: dl.h: No such file or directory
configure: failed program was:
#line 2867 "configure"
#include "confdefs.h"
#include &lt;dl.h&gt;
configure:3002: checking for ranlib
configure:3030: checking for off_t
configure:3068: checking for argz.h
configure:3078: gcc -E  -D_GNU_SOURCE conftest.c &gt;/dev/null 2&gt;conftest.out
configure:3074: argz.h: No such file or directory
configure: failed program was:
#line 3073 "configure"
#include "confdefs.h"
#include &lt;argz.h&gt;
configure:3068: checking for limits.h
configure:3078: gcc -E  -D_GNU_SOURCE conftest.c &gt;/dev/null 2&gt;conftest.out
configure:3068: checking for locale.h
configure:3078: gcc -E  -D_GNU_SOURCE conftest.c &gt;/dev/null 2&gt;conftest.out
configure:3068: checking for nl_types.h
configure:3078: gcc -E  -D_GNU_SOURCE conftest.c &gt;/dev/null 2&gt;conftest.out
configure:3068: checking for malloc.h
configure:3078: gcc -E  -D_GNU_SOURCE conftest.c &gt;/dev/null 2&gt;conftest.out
configure:3068: checking for string.h
configure:3078: gcc -E  -D_GNU_SOURCE conftest.c &gt;/dev/null 2&gt;conftest.out
configure:3068: checking for unistd.h
configure:3068: checking for values.h
configure:3078: gcc -E  -D_GNU_SOURCE conftest.c &gt;/dev/null 2&gt;conftest.out
configure:3068: checking for sys/param.h
configure:3078: gcc -E  -D_GNU_SOURCE conftest.c &gt;/dev/null 2&gt;conftest.out
configure:3108: checking for getcwd
configure:3136: gcc -o conftest -g -O2 -Wall  -D_GNU_SOURCE  conftest.c -ldl -ltiff -ljpeg -lz -lm  1&gt;&amp;5
configure:3108: checking for munmap
configure:3136: gcc -o conftest -g -O2 -Wall  -D_GNU_SOURCE  conftest.c -ldl -ltiff -ljpeg -lz -lm  1&gt;&amp;5
configure:3108: checking for putenv
configure:3136: gcc -o conftest -g -O2 -Wall  -D_GNU_SOURCE  conftest.c -ldl -ltiff -ljpeg -lz -lm  1&gt;&amp;5
configure:3108: checking for setenv
configure:3136: gcc -o conftest -g -O2 -Wall  -D_GNU_SOURCE  conftest.c -ldl -ltiff -ljpeg -lz -lm  1&gt;&amp;5
Undefined			first referenced
 symbol  			    in file
setenv                              /var/tmp/ccUoNQ7_1.o
ld: fatal: Symbol referencing errors. No output written to conftest
configure: failed program was:
#line 3113 "configure"
#include "confdefs.h"
/* System header to define __stub macros and hopefully few prototypes,
    which can conflict with char setenv(); below.  */
#include &lt;assert.h&gt;
/* Override any gcc2 internal prototype to avoid an error.  */
/* We use char because int might match the return type of a gcc2
    builtin and then its argument prototype would still apply.  */
char setenv();
<p>
int main() {
<p>
/* The GNU C library defines this for functions which it implements
    to always fail with ENOSYS.  Some functions are actually named
    something starting with __ and the normal name is an alias.  */
#if defined (__stub_setenv) || defined (__stub___setenv)
choke me
#else
setenv();
#endif
<p>
; return 0; }
configure:3108: checking for setlocale
configure:3136: gcc -o conftest -g -O2 -Wall  -D_GNU_SOURCE  conftest.c -ldl -ltiff -ljpeg -lz -lm  1&gt;&amp;5
configure:3108: checking for strchr
configure:3136: gcc -o conftest -g -O2 -Wall  -D_GNU_SOURCE  conftest.c -ldl -ltiff -ljpeg -lz -lm  1&gt;&amp;5
configure:3108: checking for strcasecmp
configure:3108: checking for __argz_count
configure:3136: gcc -o conftest -g -O2 -Wall  -D_GNU_SOURCE  conftest.c -ldl -ltiff -ljpeg -lz -lm  1&gt;&amp;5
Undefined			first referenced
 symbol  			    in file
__argz_count                        /var/tmp/cc0MRndj1.o
ld: fatal: Symbol referencing errors. No output written to conftest
configure: failed program was:
#line 3113 "configure"
#include "confdefs.h"
/* System header to define __stub macros and hopefully few prototypes,
    which can conflict with char __argz_count(); below.  */
#include &lt;assert.h&gt;
/* Override any gcc2 internal prototype to avoid an error.  */
/* We use char because int might match the return type of a gcc2
    builtin and then its argument prototype would still apply.  */
char __argz_count();
<p>
int main() {
<p>
/* The GNU C library defines this for functions which it implements
    to always fail with ENOSYS.  Some functions are actually named
    something starting with __ and the normal name is an alias.  */
#if defined (__stub___argz_count) || defined (__stub_____argz_count)
choke me
#else
__argz_count();
#endif
<p>
; return 0; }
configure:3108: checking for __argz_stringify
configure:3136: gcc -o conftest -g -O2 -Wall  -D_GNU_SOURCE  conftest.c -ldl -ltiff -ljpeg -lz -lm  1&gt;&amp;5
Undefined			first referenced
 symbol  			    in file
__argz_stringify                    /var/tmp/ccQ2leM_1.o
ld: fatal: Symbol referencing errors. No output written to conftest
configure: failed program was:
#line 3113 "configure"
#include "confdefs.h"
/* System header to define __stub macros and hopefully few prototypes,
    which can conflict with char __argz_stringify(); below.  */
#include &lt;assert.h&gt;
/* Override any gcc2 internal prototype to avoid an error.  */
/* We use char because int might match the return type of a gcc2
    builtin and then its argument prototype would still apply.  */
char __argz_stringify();
<p>
int main() {
<p>
/* The GNU C library defines this for functions which it implements
    to always fail with ENOSYS.  Some functions are actually named
    something starting with __ and the normal name is an alias.  */
#if defined (__stub___argz_stringify) || defined (__stub_____argz_stringify)
choke me
#else
__argz_stringify();
#endif
<p>
; return 0; }
configure:3108: checking for __argz_next
configure:3136: gcc -o conftest -g -O2 -Wall  -D_GNU_SOURCE  conftest.c -ldl -ltiff -ljpeg -lz -lm  1&gt;&amp;5
Undefined			first referenced
 symbol  			    in file
__argz_next                         /var/tmp/cc0Vfif_1.o
ld: fatal: Symbol referencing errors. No output written to conftest
configure: failed program was:
#line 3113 "configure"
#include "confdefs.h"
/* System header to define __stub macros and hopefully few prototypes,
    which can conflict with char __argz_next(); below.  */
#include &lt;assert.h&gt;
/* Override any gcc2 internal prototype to avoid an error.  */
/* We use char because int might match the return type of a gcc2
    builtin and then its argument prototype would still apply.  */
char __argz_next();
<p>
int main() {
<p>
/* The GNU C library defines this for functions which it implements
    to always fail with ENOSYS.  Some functions are actually named
    something starting with __ and the normal name is an alias.  */
#if defined (__stub___argz_next) || defined (__stub_____argz_next)
choke me
#else
__argz_next();
#endif
<p>
; return 0; }
configure:3165: checking for stpcpy
configure:3193: gcc -o conftest -g -O2 -Wall  -D_GNU_SOURCE  conftest.c -ldl -ltiff -ljpeg -lz -lm  1&gt;&amp;5
Undefined			first referenced
 symbol  			    in file
stpcpy                              /var/tmp/cc0ZGgge1.o
ld: fatal: Symbol referencing errors. No output written to conftest
configure: failed program was:
#line 3170 "configure"
#include "confdefs.h"
/* System header to define __stub macros and hopefully few prototypes,
    which can conflict with char stpcpy(); below.  */
#include &lt;assert.h&gt;
/* Override any gcc2 internal prototype to avoid an error.  */
/* We use char because int might match the return type of a gcc2
    builtin and then its argument prototype would still apply.  */
char stpcpy();
<p>
int main() {
<p>
/* The GNU C library defines this for functions which it implements
    to always fail with ENOSYS.  Some functions are actually named
    something starting with __ and the normal name is an alias.  */
#if defined (__stub_stpcpy) || defined (__stub___stpcpy)
choke me
#else
stpcpy();
#endif
<p>
; return 0; }
configure:3227: checking for LC_MESSAGES
configure:3239: gcc -o conftest -g -O2 -Wall  -D_GNU_SOURCE  conftest.c -ldl -ltiff -ljpeg -lz -lm  1&gt;&amp;5
configure:3260: checking whether NLS is requested
configure:3280: checking whether included gettext is requested
configure:3299: checking for libintl.h
configure:3309: gcc -E  -D_GNU_SOURCE conftest.c &gt;/dev/null 2&gt;conftest.out
configure:3326: checking for gettext in libc
configure:3338: gcc -o conftest -g -O2 -Wall  -D_GNU_SOURCE  conftest.c -ldl -ltiff -ljpeg -lz -lm  1&gt;&amp;5
configure:3433: checking for msgfmt
configure:3467: checking for dcgettext
configure:3495: gcc -o conftest -g -O2 -Wall  -D_GNU_SOURCE  conftest.c -ldl -ltiff -ljpeg -lz -lm  1&gt;&amp;5
configure:3522: checking for gmsgfmt
configure:3558: checking for xgettext
configure:3598: gcc -o conftest -g -O2 -Wall  -D_GNU_SOURCE  conftest.c -ldl -ltiff -ljpeg -lz -lm  1&gt;&amp;5
Undefined			first referenced
 symbol  			    in file
_nl_msg_cat_cntr                    /var/tmp/cc0tjm.21.o
ld: fatal: Symbol referencing errors. No output written to conftest
configure: failed program was:
#line 3590 "configure"
#include "confdefs.h"
<p>
int main() {
extern int _nl_msg_cat_cntr;
			       return _nl_msg_cat_cntr
; return 0; }
configure:4053: checking for catalogs to be installed
configure:4156: checking for X
configure:4432: checking for gtk-config
configure:4467: checking for GTK - version &gt;= 1.2.0
configure:4553: gcc -o conftest -g -O2 -Wall -I/usr/openwin/include -I/tmpdir/Software/lib/glib/include -I/tmpdir/Software/include  -D_GNU_SOURCE  conftest.c -ldl -ltiff -ljpeg -lz -lm  -L/tmpdir/Software/lib -L/usr/openwin/lib -R/usr/openwin/lib -lgtk -lgdk -lgmodule -lglib -ldl -lXext -lX11 -lsocket -lnsl -lm 1&gt;&amp;5
configure: In function `main':
configure:4500: warning: implicit declaration of function `system'
configure:4651: checking for libgimp/gimp.h
configure:4661: gcc -E  -D_GNU_SOURCE -I/usr/openwin/include -I/tmpdir/Software/lib/glib/include -I/tmpdir/Software/include conftest.c &gt;/dev/null 2&gt;conftest.out
configure:4691: checking for libgimp/gimpfeatures.h
configure:4701: gcc -E  -D_GNU_SOURCE -I/usr/openwin/include -I/tmpdir/Software/lib/glib/include -I/tmpdir/Software/include conftest.c &gt;/dev/null 2&gt;conftest.out
configure:4745: checking for png.h
configure:4755: gcc -E  -D_GNU_SOURCE -I/usr/openwin/include conftest.c &gt;/dev/null 2&gt;conftest.out
configure:4751: png.h: No such file or directory
configure: failed program was:
#line 4750 "configure"
#include "confdefs.h"
#include &lt;png.h&gt;
configure:4834: checking for sane/sane.h
configure:4844: gcc -E  -D_GNU_SOURCE conftest.c &gt;/dev/null 2&gt;conftest.out
configure:4840: sane/sane.h: No such file or directory
configure: failed program was:
#line 4839 "configure"
#include "confdefs.h"
#include &lt;sane/sane.h&gt;
<p>
--------------A65FE9D100EB9FBF22F0CEB6
Content-Type: text/plain; charset=us-ascii;
 name="configure.output"
Content-Transfer-Encoding: 7bit
Content-Disposition: inline;
 filename="configure.output"
<p>
creating cache ./config.cache
checking whether libintl patch is requested... no
checking whether GIMP plugin is requested... yes
checking whether JPEG support is requested... yes
checking whether PNG support is requested... yes
checking whether TIFF support is requested... yes
checking for gcc... gcc
checking whether the C compiler (gcc  ) works... yes
checking whether the C compiler (gcc  ) is a cross-compiler... no
checking whether we are using GNU C... yes
checking whether gcc accepts -g... yes
checking how to run the C preprocessor... gcc -E
checking for AIX... no
checking for minix/config.h... no
checking for POSIXized ISC... no
checking for gcc option to accept ANSI C... no
checking for a BSD compatible install... ./install-sh -c
checking whether make sets ${MAKE}... yes
checking how to run the C preprocessor... gcc -E
checking whether gcc needs -traditional... no
checking for ANSI C header files... yes
checking for fcntl.h... yes
checking for unistd.h... yes
checking for libc.h... no
checking for sys/dsreq.h... no
checking for sys/select.h... yes
checking for sys/time.h... yes
checking for sys/scanio.h... no
checking for sys/socket.h... yes
checking for sys/io.h... no
checking for asm/io.h... no
checking for gscdds.h... no
checking for sys/hw.h... no
checking for bsd/dev/scsireg.h... no
checking for io/cam/cam.h... no
checking for camlib.h... no
checking for sys/types.h... yes
checking for zlib.h... no
checking for working const... yes
checking for inline... inline
checking return type of signal handlers... void
checking for size_t... yes
checking for pid_t... yes
checking for ssize_t... yes
checking for u_char... yes
checking for u_int... yes
checking for u_long... yes
checking for scsireq_enter in -lscsi... no
checking for cam_open_device in -lcam... no
checking for sqrt in -lm... yes
checking for deflateInit_ in -lz... yes
checking for jpeg_start_decompress in -ljpeg... yes
checking for TIFFOpen in -ltiff... yes
checking for working alloca.h... yes
checking for alloca... yes
checking for unistd.h... (cached) yes
checking for getpagesize... yes
checking for working mmap... yes
checking for atexit... yes
checking for mkdir... yes
checking for sigprocmask... yes
checking for strdup... yes
checking for strndup... no
checking for strftime... yes
checking for strstr... yes
checking for strsep... no
checking for strtod... yes
checking for snprintf... yes
checking for usleep... yes
checking for strcasecmp... yes
checking for strncasecmp... yes
checking for dlfcn.h... yes
checking for dlopen in -ldl... yes
checking for dlopen... yes
checking for dl.h... no
checking for ranlib... ranlib
checking for off_t... yes
checking for argz.h... no
checking for limits.h... yes
checking for locale.h... yes
checking for nl_types.h... yes
checking for malloc.h... yes
checking for string.h... yes
checking for unistd.h... (cached) yes
checking for values.h... yes
checking for sys/param.h... yes
checking for getcwd... yes
checking for munmap... yes
checking for putenv... yes
checking for setenv... no
checking for setlocale... yes
checking for strchr... yes
checking for strcasecmp... (cached) yes
checking for __argz_count... no
checking for __argz_stringify... no
checking for __argz_next... no
checking for stpcpy... no
checking for LC_MESSAGES... yes
checking whether NLS is requested... yes
checking whether included gettext is requested... no
checking for libintl.h... yes
checking for gettext in libc... yes
checking for msgfmt... /bin/msgfmt
checking for dcgettext... yes
checking for gmsgfmt... /bin/msgfmt
checking for xgettext... /bin/xgettext
found xgettext programs is not GNU xgettext; ignore it
checking for catalogs to be installed...  de fr
checking for X... libraries /usr/openwin/lib, headers /usr/openwin/include
checking for gtk-config... /tmpdir/Software/bin/gtk-config
checking for GTK - version &gt;= 1.2.0... yes
checking for libgimp/gimp.h... yes
checking for libgimp/gimpfeatures.h... yes
checking for png.h... no
checking for sane/sane.h... no
updating cache ./config.cache
creating ./config.status
creating Makefile
creating intl/Makefile
creating po/Makefile
creating lib/Makefile
creating sanei/Makefile
creating frontend/Makefile
creating include/Makefile
creating doc/Makefile
creating include/sane/config.h
****************************************************************
*                                                              *
* XSANE configure status:                                      *
* -----------------------                                      *
* - NLS activated (external)                                   *
* - GIMP plugin  activated                                     *
* - JPEG support activated                                     *
* - TIFF support activated                                     *
* - PNG  support deactivated                                   *
*                                                              *
****************************************************************
*                                                              *
* To compile XSANE:                                            *
* -----------------                                            *
* enter as normal user:                                        *
*   make                                                       *
* and as root:                                                 *
*   make install                                               *
*                                                              *
* ------------------------------------------------------------ *
* ... PLEASE READ SANE DOCUMENTATION BEFORE STARTING XSANE ... *
* ------------------------------------------------------------ *
****************************************************************
<p>
--------------A65FE9D100EB9FBF22F0CEB6--
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0227.html">Levente NOVAK: "Re: xsane-0.41"</a>
<li> <b>Previous message:</b> <a href="0225.html">Brian Beattie: "Mustek VDC 3500 camera"</a>
<li> <b>Maybe in reply to:</b> <a href="0220.html">Wolfgang Cohrs: "xsane-0.41 on SPARC SOLARIS 2.6"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
