<!-- received="Fri Oct 29 14:06:28 1999 PDT" -->
<!-- sent="Fri, 29 Oct 1999 18:33:18 +0200" -->
<!-- name="Thomas Mueller" -->
<!-- email="tmm@bigfoot.de" -->
<!-- subject="Compiling sane-1.0.1" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Compiling sane-1.0.1</title>
<h1>Compiling sane-1.0.1</h1>
<b>Thomas Mueller</b> (<a href="mailto:tmm@bigfoot.de"><i>tmm@bigfoot.de</i></a>)<br>
<i>Fri, 29 Oct 1999 18:33:18 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#231">[ date ]</a><a href="index.html#231">[ thread ]</a><a href="subject.html#231">[ subject ]</a><a href="author.html#231">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0232.html">Ricardo Ferreira: "Re: Mustek ScanExpress 6000SP"</a>
<li> <b>Previous message:</b> <a href="0230.html">Scott J. Kramer: "Re: Autoconf/configure"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi!<br>
<p>
I tried to compile sane with egcs 2.91.66 but I get a error message I<br>
don't understand:<br>
<p>
gcc -c -O2 -m486 -fno-strength-reduce -Wall -DHAVE_CONFIG_H -I. -I.<br>
-I../include -I../include -D_GNU_SOURCE<br>
-DPATH_SANE_CONFIG_DIR=/usr/local/etc/sane.d<br>
-DPATH_SANE_DATA_DIR=/usr/local/share -DV_MAJOR=1 -DV_MINOR=0<br>
-DBACKEND_NAME=canon -DLIBDIR=/usr/local/lib/sane -fPIC -DPIC canon.c<br>
canon.c: In function `init_options':<br>
canon.c:1631: virtual memory exhausted<br>
make[1]: *** [canon.lo] Error 1<br>
make[1]: Leaving directory `/usr/src/packages/BUILD/sane-1.0.1/backend'<br>
make: *** [all-recursive] Error 1<br>
<p>
When I got the error message I had about 70 MB free swap space left.<br>
<p>
What's happening there and what can I do (I will not add more memory -<br>
96 MB should be enough :) )?<br>
<p>
<p>
Thanks!<br>
<p>
<p>
<pre>
-- 
mfg Thomas Mueller - <a href="http://tmueller.home.pages.de">http://tmueller.home.pages.de</a> - ICQ #17471620
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0232.html">Ricardo Ferreira: "Re: Mustek ScanExpress 6000SP"</a>
<li> <b>Previous message:</b> <a href="0230.html">Scott J. Kramer: "Re: Autoconf/configure"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
