<!-- received="Sun Oct 31 19:09:27 1999 PST" -->
<!-- sent="Sun, 31 Oct 1999 21:13:13 -0600" -->
<!-- name="David Crooke" -->
<!-- email="dave@dcc.vu" -->
<!-- subject="Tekram DC390 - Re: umax 1220S freeze" -->
<!-- id="" -->
<!-- inreplyto="umax 1220S freeze" -->
<title>sane-devel: Tekram DC390 - Re: umax 1220S freeze</title>
<h1>Tekram DC390 - Re: umax 1220S freeze</h1>
<b>David Crooke</b> (<a href="mailto:dave@dcc.vu"><i>dave@dcc.vu</i></a>)<br>
<i>Sun, 31 Oct 1999 21:13:13 -0600</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#245">[ date ]</a><a href="index.html#245">[ thread ]</a><a href="subject.html#245">[ subject ]</a><a href="author.html#245">[ author ]</a>
<!-- next="start" -->
<li> <b>Previous message:</b> <a href="0244.html">Jason Joy: "Microtek Scanning"</a>
<li> <b>Maybe in reply to:</b> <a href="0236.html">Alain Vicet: "umax 1220S freeze"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Just to follow up on Andreas' remarks - if you find that the command: <br>
<p>
   echo "INQUIRY 0" &gt;/proc/scsi/tmscsim/0<br>
<p>
fixes things then you probably need the update.<br>
<p>
Enjoy,<br>
Dave <br>
<pre>
-- 
David Crooke, Austin TX, USA. +1 (512) 795 0805
Bibendo ergo sum.
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Previous message:</b> <a href="0244.html">Jason Joy: "Microtek Scanning"</a>
<li> <b>Maybe in reply to:</b> <a href="0236.html">Alain Vicet: "umax 1220S freeze"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
