<!-- received="Sat Aug  2 05:25:24 1997 MST" -->
<!-- sent="Sat, 02 Aug 1997 08:15:15 -0400" -->
<!-- name="Michael K. Johnson" -->
<!-- email="johnsonm@redhat.com" -->
<!-- subject="Re: umax-backend" -->
<!-- id="199708021215.IAA28757@nigel.redhat.com" -->
<!-- inreplyto="umax-backend" -->
<title>sane-devel: Re: umax-backend</title>
<h1>Re: umax-backend</h1>
<b>Michael K. Johnson</b> (<a href="mailto:johnsonm@redhat.com"><i>johnsonm@redhat.com</i></a>)<br>
<i>Sat, 02 Aug 1997 08:15:15 -0400</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#13">[ date ]</a><a href="index.html#13">[ thread ]</a><a href="subject.html#13">[ subject ]</a><a href="author.html#13">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0014.html">Michael K. Johnson: "Sane configuration?"</a>
<li> <b>Previous message:</b> <a href="0012.html">orauch@physik.uni-osnabrueck.de: "umax-backend"</a>
<li> <b>Maybe in reply to:</b> <a href="0120.html">Oliver.Rauch@Wolfsburg.DE: "umax-backend"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0015.html">Phil Ptkwt Kristin: "Re: umax-backend"</a>
<li> <b>Reply:</b> <a href="0015.html">Phil Ptkwt Kristin: "Re: umax-backend"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<a href="mailto:orauch@physik.uni-osnabrueck.de">orauch@physik.uni-osnabrueck.de</a> writes:<br>
<i>&gt;The Problems with the Vista S6E and the Astra Scanners will</i><br>
<i>&gt;not be fixed.</i><br>
<p>
Um, let me qualify that.  We had the S6E working fine, so we should<br>
be able to fix it, and I see no reason that we can't fix the Astra<br>
too.  I'm in the process of ordering a new copy of the SCSI protocol<br>
standard from Umax.<br>
<p>
It will go a lot faster, however, if people can loan me an S6E and<br>
an Astra for a period of a few weeks.  I'd guess that the same would<br>
be true for Oliver, but I don't know.  If you are in germany and<br>
want to loan him one, talk to him and see.  Otherwise send me private<br>
email and I'll give you shipping directions.<br>
<p>
<i>&gt;I wrote a lot of mails to umax germany, usa and taiwan,</i><br>
<i>&gt;but I didn't get any answers to my questions.</i><br>
<p>
I sent a fax to their faxback number and I'm going to send in a<br>
completed form monday asking for the scsi protocol standard;<br>
last time they got right back to me, sending it via email.<br>
<p>
michaelkjohnson<br>
<p>
"Ever wonder why the SAME PEOPLE make up ALL the conspiracy theories?"<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0014.html">Michael K. Johnson: "Sane configuration?"</a>
<li> <b>Previous message:</b> <a href="0012.html">orauch@physik.uni-osnabrueck.de: "umax-backend"</a>
<li> <b>Maybe in reply to:</b> <a href="0120.html">Oliver.Rauch@Wolfsburg.DE: "umax-backend"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0015.html">Phil Ptkwt Kristin: "Re: umax-backend"</a>
<li> <b>Reply:</b> <a href="0015.html">Phil Ptkwt Kristin: "Re: umax-backend"</a>
<!-- reply="end" -->
</ul>
