<!-- received="Tue Aug  5 19:45:18 1997 MST" -->
<!-- sent="Wed, 6 Aug 1997 02:07:04 +0200 (MET DST)" -->
<!-- name="becka@sunserver1.rz.uni-duesseldorf.de" -->
<!-- email="becka@sunserver1.rz.uni-duesseldorf.de" -->
<!-- subject="Re: Paperport ix - scanner keyboard" -->
<!-- id="m0wvtd2-000BWOC@charon.beck-sw.de" -->
<!-- inreplyto="3.0.1.32.19970805174213.010f6650@america.com" -->
<title>sane-devel: Re: Paperport ix - scanner keyboard</title>
<h1>Re: Paperport ix - scanner keyboard</h1>
<a href="mailto:becka@sunserver1.rz.uni-duesseldorf.de"><i>becka@sunserver1.rz.uni-duesseldorf.de</i></a><br>
<i>Wed, 6 Aug 1997 02:07:04 +0200 (MET DST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#18">[ date ]</a><a href="index.html#18">[ thread ]</a><a href="subject.html#18">[ subject ]</a><a href="author.html#18">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0019.html">Chris Faherty: "Re: Paperport ix - scanner keyboard"</a>
<li> <b>Previous message:</b> <a href="0017.html">Chris Faherty: "Paperport ix - scanner keyboard"</a>
<li> <b>In reply to:</b> <a href="0017.html">Chris Faherty: "Paperport ix - scanner keyboard"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0019.html">Chris Faherty: "Re: Paperport ix - scanner keyboard"</a>
<li> <b>Reply:</b> <a href="0019.html">Chris Faherty: "Re: Paperport ix - scanner keyboard"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi !<br>
<p>
<i>&gt; Is anyone working on a Visioneer serial driver for their Paperport ix</i><br>
<i>&gt; scanner keyboard?  I assume it uses the same protocol as their other serial</i><br>
<i>&gt; scanners.</i><br>
None that I know of.<br>
<p>
<i>&gt; I started reverse engineering it yesterday and found some setbacks.</i><br>
<i>&gt; Apparently, the scanner keyboard uses CTS,DSR,RNG,DCD to send nybbles of</i><br>
<i>&gt; data.  The CPU strobes DTR,RTS to send command data and request new</i><br>
<i>&gt; nybbles.  The RXD,TXD aren't even hooked up!</i><br>
<p>
Urks. This is _sick_. I suppose they have adapted an older design which <br>
used a proprietary card or the parallel port (using four lines of data<br>
would suggest the latter).<br>
<p>
<i>&gt; This had made it very difficult to trace via serial line monitor because</i><br>
<i>&gt; the Win95 driver code cycles the DTR too quickly for my line monitor to</i><br>
<i>&gt; detect cleanly.  I've been mainly using SoftIce on the Win95 to piece</i><br>
<i>&gt; together the protocol.</i><br>
<p>
Wow - what an effort. Go ahead, write a driver.<br>
<p>
<i>&gt; This scanner keyboard is a great device, I just want a native interface and</i><br>
<i>&gt; one that works with Linux ;)</i><br>
<p>
I'm afraid you'll have to write it. Don't worry, we will try to help where<br>
possible.<br>
<p>
I am afraid this is not a trivial (but surely doable) task for you, as you <br>
will probably need to write a kernel driver which natively talks the sick<br>
protocol, as I am not sure wheter you can get what you want via termios<br>
and friends (anybody here who knows, if you can read/write all the needed<br>
lines via termio ?). This method would at best be slow. However a small <br>
driver that will allow setting DTR/RTS (I know this can be done using <br>
standard calls) and reading the other four lines should do.<br>
<p>
If you need help with that - contact me.<br>
<p>
CU,Andy<br>
<p>
<pre>
-- 
Andreas Beck              |  Email :  &lt;<a href="mailto:becka@sunserver1.rz.uni-duesseldorf.de">becka@sunserver1.rz.uni-duesseldorf.de</a>&gt;
===  World-Wide-Web URL :  <a href="http://sunserver1.rz.uni-duesseldorf.de/~becka">http://sunserver1.rz.uni-duesseldorf.de/~becka</a>  ===
========  GGI - The Right Thing To Do : <a href="http://synergy.foo.net/~ggi/">http://synergy.foo.net/~ggi/</a>  ========
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0019.html">Chris Faherty: "Re: Paperport ix - scanner keyboard"</a>
<li> <b>Previous message:</b> <a href="0017.html">Chris Faherty: "Paperport ix - scanner keyboard"</a>
<li> <b>In reply to:</b> <a href="0017.html">Chris Faherty: "Paperport ix - scanner keyboard"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0019.html">Chris Faherty: "Re: Paperport ix - scanner keyboard"</a>
<li> <b>Reply:</b> <a href="0019.html">Chris Faherty: "Re: Paperport ix - scanner keyboard"</a>
<!-- reply="end" -->
</ul>
