<!-- received="Thu Aug  7 07:43:18 1997 MST" -->
<!-- sent="Thu, 07 Aug 1997 10:09:17 -0400" -->
<!-- name="Michael K. Johnson" -->
<!-- email="johnsonm@redhat.com" -->
<!-- subject="Re: COOLSCAN II backend" -->
<!-- id="199708071409.KAA22843@nigel.redhat.com" -->
<!-- inreplyto="COOLSCAN II backend" -->
<title>sane-devel: Re: COOLSCAN II backend</title>
<h1>Re: COOLSCAN II backend</h1>
<b>Michael K. Johnson</b> (<a href="mailto:johnsonm@redhat.com"><i>johnsonm@redhat.com</i></a>)<br>
<i>Thu, 07 Aug 1997 10:09:17 -0400</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#32">[ date ]</a><a href="index.html#32">[ thread ]</a><a href="subject.html#32">[ subject ]</a><a href="author.html#32">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0033.html">Michael K. Johnson: "Re: COOLSCAN II backend"</a>
<li> <b>Previous message:</b> <a href="0031.html">krienke@mailhost.uni-koblenz.de: "Mustec 1200SP Firmware 1.02 Color Problem"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Rogier Wolff writes:<br>
<i>&gt;Ohhh.. The coolscan wdb looks pretty normal. </i><br>
<p>
Good.<br>
<p>
<i>&gt;Didier do you have the SCSI spec? So does "section 14" mean anything</i><br>
<i>&gt;to you?</i><br>
<p>
There's a link to it on the sane web site.<br>
<p>
<i>&gt;Michael, your scanner just gives "black" when you give it a bad window?</i><br>
<p>
Yep.  The more I hear about the internals of other scanners, the happier<br>
I am about the unit I bought...  :-)<br>
<p>
michaelkjohnson<br>
<p>
"Ever wonder why the SAME PEOPLE make up ALL the conspiracy theories?"<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0033.html">Michael K. Johnson: "Re: COOLSCAN II backend"</a>
<li> <b>Previous message:</b> <a href="0031.html">krienke@mailhost.uni-koblenz.de: "Mustec 1200SP Firmware 1.02 Color Problem"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
