<!-- received="Tue Aug 12 16:13:06 1997 MST" -->
<!-- sent="13 Aug 1997 00:08:14 +0200" -->
<!-- name="Christophe Zwecker" -->
<!-- email="doc@rrz.uni-hamburg.de" -->
<!-- subject="Re: scsi generic devices" -->
<!-- id="5sqmse$5f5$1@dumbo.und.zoff" -->
<!-- inreplyto="scsi generic devices" -->
<title>sane-devel: Re: scsi generic devices</title>
<h1>Re: scsi generic devices</h1>
<b>Christophe Zwecker</b> (<a href="mailto:doc@rrz.uni-hamburg.de"><i>doc@rrz.uni-hamburg.de</i></a>)<br>
<i>13 Aug 1997 00:08:14 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#50">[ date ]</a><a href="index.html#50">[ thread ]</a><a href="subject.html#50">[ subject ]</a><a href="author.html#50">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0051.html">David Mosberger-Tang: "Re: scsi generic devices"</a>
<li> <b>Previous message:</b> <a href="0049.html">orauch@physik.uni-osnabrueck.de: "Re: UMAX-ASTRA-300P"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0051.html">David Mosberger-Tang: "Re: scsi generic devices"</a>
<li> <b>Reply:</b> <a href="0051.html">David Mosberger-Tang: "Re: scsi generic devices"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<a href="mailto:becka@sunserver1.rz.uni-duesseldorf.de">becka@sunserver1.rz.uni-duesseldorf.de</a> wrote:<br>
<i>&gt;</i><br>
<p>
<i>&gt;however you will have to check which of these devices to take.</i><br>
<i>&gt;For my scanner which is standalone on its bus, it is /dev/sda.</i><br>
<i>&gt;In other cases count the devices in order of their SCSI-ID.</i><br>
<i>&gt;sgf would say that the scanner is the 6th device in the order </i><br>
<i>&gt;of the SCSI-ID.</i><br>
<p>
mine is sgf I can see it when booting...well I clueless here, SCSI<br>
Generic support works because I am burning CD's without a glitch..<br>
Anyone got more ideas or where I might look/check ?<br>
<p>
Is it true that sane doesn't overwrite libs when reinstalling ?<br>
<p>
cya<br>
<pre>
-- 
<p>
   Christophe
<p>
----------------------------------------------------------------------
Christophe Zwecker                email:      <a href="mailto:doc@rrz.uni-hamburg.de">doc@rrz.uni-hamburg.de</a>
Hamburg, Germany                    fax:      49 40 22715433  
----------------------------------------------------------------------
<p>
In newsgroups please reply also by email - thanks
<p>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0051.html">David Mosberger-Tang: "Re: scsi generic devices"</a>
<li> <b>Previous message:</b> <a href="0049.html">orauch@physik.uni-osnabrueck.de: "Re: UMAX-ASTRA-300P"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0051.html">David Mosberger-Tang: "Re: scsi generic devices"</a>
<li> <b>Reply:</b> <a href="0051.html">David Mosberger-Tang: "Re: scsi generic devices"</a>
<!-- reply="end" -->
</ul>
