<!-- received="Sat Aug 16 16:40:48 1997 MST" -->
<!-- sent="Sat, 16 Aug 1997 19:13:31 -0400" -->
<!-- name="Michael Sweet" -->
<!-- email="mike@easysw.com" -->
<!-- subject="Re: pre-0.63 patch" -->
<!-- id="199708161005.MAA01288@Babylon5.wolfsburg.de" -->
<!-- inreplyto="pre-0.63 patch" -->
<title>sane-devel: Re: pre-0.63 patch</title>
<h1>Re: pre-0.63 patch</h1>
<b>Michael Sweet</b> (<a href="mailto:mike@easysw.com"><i>mike@easysw.com</i></a>)<br>
<i>Sat, 16 Aug 1997 19:13:31 -0400</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#69">[ date ]</a><a href="index.html#69">[ thread ]</a><a href="subject.html#69">[ subject ]</a><a href="author.html#69">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0070.html">Rex Vaughn: "Re: HP C5100 photosmart"</a>
<li> <b>Previous message:</b> <a href="0068.html">Oliver.Rauch@Wolfsburg.DE: "lost umax-mails are found ;-)"</a>
<li> <b>Maybe in reply to:</b> <a href="0061.html">David Mosberger-Tang: "pre-0.63 patch"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
David Mosberger-Tang wrote:<br>
<i>&gt; </i><br>
<i>&gt; Below is a pre-patch for those interested in trying out the very</i><br>
<i>&gt; latest sources.  The main change is that there should be now working</i><br>
<i>&gt; support for the Irix generic SCSI interface and prelimenary support</i><br>
<i>&gt; for the SCO generic SCSI interface.  I'll be moving out of Tucson in a</i><br>
<i>&gt; few days to take a job in the Bay Area, so I wanted to get the latest</i><br>
<i>&gt; code out before tearing down the Internet connection.  I hope to find</i><br>
<i>&gt; some time to make additional improvements to SANE between now and</i><br>
<i>&gt; Sep. 1st, but that depends a little bit on how hairy the move will</i><br>
<i>&gt; be... ;-)</i><br>
<i>&gt; ...</i><br>
<p>
David,<br>
<p>
The IRIX SCSI patch needs to be updated - I've fiddled a bit to make<br>
things more reliable on all SGI machines, and I'll sent you an update<br>
when I get back to the office next week.<br>
<p>
Also, I'm working on a Solaris SCSI driver so I'll pass that along<br>
too... :)<br>
<p>
<pre>
-- 
________________________________________________________________________
 Mike Sweet        Software for SGI and Sun      Easy Software Products
 (301) 373-9603          Workstations          44145 Airport View Drive
 mike@easysw.com    <a href="http://www.easysw.com">http://www.easysw.com</a>    Hollywood, Maryland  20636
<p>
        SUPPORT THE ANTI-SPAM AMENDMENT! - <a href="http://www.cauce.org">http://www.cauce.org</a>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0070.html">Rex Vaughn: "Re: HP C5100 photosmart"</a>
<li> <b>Previous message:</b> <a href="0068.html">Oliver.Rauch@Wolfsburg.DE: "lost umax-mails are found ;-)"</a>
<li> <b>Maybe in reply to:</b> <a href="0061.html">David Mosberger-Tang: "pre-0.63 patch"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
