<!-- received="Thu Aug 21 01:43:02 1997 MST" -->
<!-- sent="Thu, 21 Aug 1997 10:12:44 -0600" -->
<!-- name="Mathias Weigt" -->
<!-- email="p5iba@medchem2.pharmazie.uni-halle.de" -->
<!-- subject="Re: Q:Support for non-SCSI scanners?" -->
<!-- id="9708211012.ZM22454@medchem2.pharmazie.uni-halle.de" -->
<!-- inreplyto="rebehn@comm.uni-bremen.de" -->
<title>sane-devel: Re: Q:Support for non-SCSI scanners?</title>
<h1>Re: Q:Support for non-SCSI scanners?</h1>
<b>Mathias Weigt</b> (<a href="mailto:p5iba@medchem2.pharmazie.uni-halle.de"><i>p5iba@medchem2.pharmazie.uni-halle.de</i></a>)<br>
<i>Thu, 21 Aug 1997 10:12:44 -0600</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#75">[ date ]</a><a href="index.html#75">[ thread ]</a><a href="subject.html#75">[ subject ]</a><a href="author.html#75">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0076.html">Rex Vaughn: "Re: HP C5100 photosmart"</a>
<li> <b>Previous message:</b> <a href="0074.html">Heinrich Rebehn: "Q:Support for non-SCSI scanners?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Servus Heinrich !<br>
<p>
<i>&gt; Is there support for non-SCSI scanners? I see that there is support for</i><br>
<i>&gt; various models of scsi-scanners, but it's nowhere stated explicitely</i><br>
<i>&gt; that only scsi scanners are supported.</i><br>
<i>&gt; I have a Mustek Paragon 600 II N.</i><br>
<p>
Currently there is none of those ppa scanners supported (especially not<br>
Mustek).<br>
I don' t know anyone who is writing a driver  for Parallelport driven scanners.<br>
As already discussed in this list it would be quite easier to develop such a<br>
driver if the scanner has only a (known) SCSI-ppa adaptor inside. But I<br>
wouldn't expect this in (cheap &amp; nasty) MUSTEK Scanners.<br>
<p>
<p>
<p>
<p>
<pre>
-- 
Mathias Weigt 
<a href="mailto:p5iba@medchem2.pharmazie.uni-halle.de">p5iba@medchem2.pharmazie.uni-halle.de</a>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0076.html">Rex Vaughn: "Re: HP C5100 photosmart"</a>
<li> <b>Previous message:</b> <a href="0074.html">Heinrich Rebehn: "Q:Support for non-SCSI scanners?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
