<!-- received="Fri Aug 22 07:06:17 1997 MST" -->
<!-- sent="Fri, 22 Aug 1997 09:42:43 -0400" -->
<!-- name="Michael K. Johnson" -->
<!-- email="johnsonm@redhat.com" -->
<!-- subject="Re: sane &amp; gtk problems" -->
<!-- id="199708221342.JAA15820@tristan.redhat.com" -->
<!-- inreplyto="sane &amp; gtk problems" -->
<title>sane-devel: Re: sane &amp; gtk problems</title>
<h1>Re: sane &amp; gtk problems</h1>
<b>Michael K. Johnson</b> (<a href="mailto:johnsonm@redhat.com"><i>johnsonm@redhat.com</i></a>)<br>
<i>Fri, 22 Aug 1997 09:42:43 -0400</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#83">[ date ]</a><a href="index.html#83">[ thread ]</a><a href="subject.html#83">[ subject ]</a><a href="author.html#83">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0084.html">Mathias Weigt: "System hangs with custom gamma table"</a>
<li> <b>Previous message:</b> <a href="0082.html">Mathias Weigt: "Re: xscanimage as gimp plug-in"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
David Mosberger-Tang writes:<br>
<i>&gt;Incidentally, which gtk RPM did you use?  I thought the gtk-0.99.10-5</i><br>
<i>&gt;RPM should work with sane-0.62, but I haven't tried it myself.</i><br>
<p>
FWIW, yes, I have compiled sane-0.62 against that particular gtk rpm,<br>
(well, gtk-devel specifically) and I did it on a clean system that had<br>
no gtk or sane stuff already on it anywhere other than that install of<br>
that set of gimp/gtk rpms, so I'm quite confident that this is the case.<br>
<p>
That gimp source rpm (in case anyone is interested) is in<br>
<a href="ftp://ftp.redhat.com/pub/contrib/SRPMS/">ftp://ftp.redhat.com/pub/contrib/SRPMS/</a><br>
and the corresponding gtk, gtk-devel, gimp, and gimp-devel binary rpms in<br>
<a href="ftp://ftp.redhat.com/pub/contrib/i386/">ftp://ftp.redhat.com/pub/contrib/i386/</a><br>
<p>
michaelkjohnson<br>
<p>
"Magazines all too frequently lead to books and should be regarded by the<br>
 prudent as the heavy petting of literature."            -- Fran Lebowitz<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0084.html">Mathias Weigt: "System hangs with custom gamma table"</a>
<li> <b>Previous message:</b> <a href="0082.html">Mathias Weigt: "Re: xscanimage as gimp plug-in"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
