<!-- received="Mon Aug 25 12:09:51 1997 MST" -->
<!-- sent="Mon, 25 Aug 1997 13:39:12 +0200 (CEST)" -->
<!-- name="Michael Ritzert" -->
<!-- email="Ritzert@t-online.de" -->
<!-- subject="RE: Problem with Mustek" -->
<!-- id="34015C70.3D97D78C@informatik.uni-hamburg.de" -->
<!-- inreplyto="m0x2LgJ-000HySC@keep.in-berlin.de" -->
<title>sane-devel: RE: Problem with Mustek</title>
<h1>RE: Problem with Mustek</h1>
<b>Michael Ritzert</b> (<a href="mailto:Ritzert@t-online.de"><i>Ritzert@t-online.de</i></a>)<br>
<i>Mon, 25 Aug 1997 13:39:12 +0200 (CEST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#89">[ date ]</a><a href="index.html#89">[ thread ]</a><a href="subject.html#89">[ subject ]</a><a href="author.html#89">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0090.html">Wolfgang Jung: "Re: Problem with Mustek"</a>
<li> <b>Previous message:</b> <a href="0088.html">Fritz Jetzek: "Re: xscanimage as gimp plug-in"</a>
<li> <b>In reply to:</b> <a href="0085.html">Wolfgang Jung: "Problem with Mustek"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hallo Wolfgang!<br>
<p>
On 23-Aug-97 Wolfgang Jung wrote:<br>
<p>
<i>&gt;Now I encountered some strange behavior:</i><br>
<i>&gt;a) always at the end of the 128K Buffer the image gets </i><br>
<i>&gt;   corrupted, not really corrupted, but it looses a bunch of Lines</i><br>
<i>&gt;   (easy to see, if you scan in gray mode) (It also might be at the</i><br>
<i>&gt;   beginning of the buffer ?)</i><br>
<p>
[...]<br>
<p>
<i>&gt;I supect the driver is miscounting something at the beginning /end</i><br>
<i>&gt;of the buffer ?</i><br>
<p>
The manpage says, the maximum buffer size is 127,5kB rather than 128kB. This<br>
might be your problem.<br>
<p>
Ciao, Michael<br>
<pre>
---
    _
|\/|_)  -=&gt; <a href="mailto:ritzert@cfg.hd.bw.schule.de">ritzert@cfg.hd.bw.schule.de</a> &lt;=-
|  | \  *Michael Ritzert* - <a href="http://home.t-online.de/home/ritzert">http://home.t-online.de/home/ritzert</a>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0090.html">Wolfgang Jung: "Re: Problem with Mustek"</a>
<li> <b>Previous message:</b> <a href="0088.html">Fritz Jetzek: "Re: xscanimage as gimp plug-in"</a>
<li> <b>In reply to:</b> <a href="0085.html">Wolfgang Jung: "Problem with Mustek"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
