<!-- received="Sun Aug 31 07:47:51 1997 MST" -->
<!-- sent="Sun, 31 Aug 1997 15:48:21 +0200" -->
<!-- name="Didier Carlier" -->
<!-- email="carlierd@acm.org" -->
<!-- subject="Nikon LS-20" -->
<!-- id="199708311348.PAA09087@corto.sema.be" -->
<!-- inreplyto="" -->
<title>sane-devel: Nikon LS-20</title>
<h1>Nikon LS-20</h1>
<b>Didier Carlier</b> (<a href="mailto:carlierd@acm.org"><i>carlierd@acm.org</i></a>)<br>
<i>Sun, 31 Aug 1997 15:48:21 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#109">[ date ]</a><a href="index.html#109">[ thread ]</a><a href="subject.html#109">[ subject ]</a><a href="author.html#109">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0110.html">David Mosberger-Tang: "Re: umax-backend"</a>
<li> <b>Previous message:</b> <a href="0108.html">Oliver.Rauch@Wolfsburg.DE: "umax-backend"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Great day !<br>
I just got my first scan with the Coolscan today and I wanted to share my<br>
excitement :-)<br>
<p>
Not yet usuable by anyone but me, but making progress.<br>
<p>
Didier<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0110.html">David Mosberger-Tang: "Re: umax-backend"</a>
<li> <b>Previous message:</b> <a href="0108.html">Oliver.Rauch@Wolfsburg.DE: "umax-backend"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
