<!-- received="Thu Sep  4 06:44:17 1997 MST" -->
<!-- sent="Thu, 04 Sep 1997 14:43:00 +0200 (CEST)" -->
<!-- name="Michael Ritzert" -->
<!-- email="Ritzert@t-online.de" -->
<!-- subject="RE: mustek problems in lineart mode" -->
<!-- id="9709040926.ZM1207@medchem2.pharmazie.uni-halle.de" -->
<!-- inreplyto="XFMail.970903154643.Ritzert@T-Online.de" -->
<title>sane-devel: RE: mustek problems in lineart mode</title>
<h1>RE: mustek problems in lineart mode</h1>
<b>Michael Ritzert</b> (<a href="mailto:Ritzert@t-online.de"><i>Ritzert@t-online.de</i></a>)<br>
<i>Thu, 04 Sep 1997 14:43:00 +0200 (CEST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#132">[ date ]</a><a href="index.html#132">[ thread ]</a><a href="subject.html#132">[ subject ]</a><a href="author.html#132">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0133.html">jim barchuk: "pnmto???? 'bad magic number'"</a>
<li> <b>Previous message:</b> <a href="0131.html">Mathias Weigt: "Re: Mustek problems."</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi everybody:<br>
<p>
On 03-Sep-9 I wrote:<br>
<p>
<i>&gt;I've not yet find out under which circumstances (ca. 10%) the scan works.</i><br>
<p>
Well, a possibility is that there is a problem with the data transfer from the<br>
scanner to the controller (AHA-1542CF). From the resolution and width I<br>
calculated that the B/W-data for about 9.36m should fit into the<br>
127.5kB-Buffer. This is quite close to where the scanner stops.<br>
I'm not sure wheter it hangs up before or after the transfer, as scanimage<br>
sometimes gives me the picture of this height, whereas the status bar in<br>
xscanimage doesn't move.<br>
<p>
If you need further debug information, just tell me what to do.<br>
<p>
<i>&gt;Scanner is a Mustek MFS-12000SP, sane 0.62.</i><br>
<p>
cu, Michael<br>
<pre>
---
    _
|\/|_)  -=&gt; <a href="mailto:ritzert@cfg.hd.bw.schule.de">ritzert@cfg.hd.bw.schule.de</a> &lt;=-
|  | \  *Michael Ritzert* - <a href="http://home.t-online.de/home/ritzert">http://home.t-online.de/home/ritzert</a>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0133.html">jim barchuk: "pnmto???? 'bad magic number'"</a>
<li> <b>Previous message:</b> <a href="0131.html">Mathias Weigt: "Re: Mustek problems."</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
