<!-- received="Sat Sep  6 11:56:50 1997 MST" -->
<!-- sent="Sat, 6 Sep 1997 11:45:52 -0700" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="David.Mosberger@acm.org" -->
<!-- subject="Re: Backtracking in color scanning" -->
<!-- id="199709061845.LAA00773@hopper.mosberger" -->
<!-- inreplyto="199709011155.NAA01530@cave.BitWizard.nl" -->
<title>sane-devel: Re: Backtracking in color scanning</title>
<h1>Re: Backtracking in color scanning</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:David.Mosberger@acm.org"><i>David.Mosberger@acm.org</i></a>)<br>
<i>Sat, 6 Sep 1997 11:45:52 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#137">[ date ]</a><a href="index.html#137">[ thread ]</a><a href="subject.html#137">[ subject ]</a><a href="author.html#137">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0138.html">David Mosberger-Tang: "Re: umax-backend"</a>
<li> <b>Previous message:</b> <a href="0136.html">David Mosberger-Tang: "Re: SANE and Mustek MFC-600S"</a>
<li> <b>In reply to:</b> <a href="0118.html">Rogier Wolff: "Re: Backtracking in color scanning"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0141.html">Rogier Wolff: "Re: Backtracking in color scanning"</a>
<li> <b>Reply:</b> <a href="0141.html">Rogier Wolff: "Re: Backtracking in color scanning"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;&gt;&gt;&gt;&gt; On Mon, 1 Sep 1997 13:55:42 +0200 (MET DST), <a href="mailto:R.E.Wolff@BitWizard.nl">R.E.Wolff@BitWizard.nl</a> (Rogier Wolff) said:</i><br>
<p>
  Rogier&gt; We could try to issue the next "read" AS FAST AS POSSIBLE,<br>
  Rogier&gt; discarding the data just read. This probably requires some<br>
  Rogier&gt; serious hacking.<br>
<p>
As of sane-0.62, this is already what's happening for Linux.  That's<br>
the reason I introduced the asynchronous scsi interface to SANE.  I'm<br>
sure it would be possible to shave off a few cycles here and there,<br>
but control-flow wise, the right thing is happening.  If somebody gets<br>
serious about this, I'd recommend to first find out how much slack one<br>
has with issueing the next "read data" command.  E.g., modify the<br>
backend to not transfer any data at all to the frontend and see<br>
whether that helps.  Once you get to the point where no backtracking<br>
occurs, you can start inserting delays until backtracking starts<br>
occuring again.  At that point, you should have a pretty good idea of<br>
what should be and can be done.<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0138.html">David Mosberger-Tang: "Re: umax-backend"</a>
<li> <b>Previous message:</b> <a href="0136.html">David Mosberger-Tang: "Re: SANE and Mustek MFC-600S"</a>
<li> <b>In reply to:</b> <a href="0118.html">Rogier Wolff: "Re: Backtracking in color scanning"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0141.html">Rogier Wolff: "Re: Backtracking in color scanning"</a>
<li> <b>Reply:</b> <a href="0141.html">Rogier Wolff: "Re: Backtracking in color scanning"</a>
<!-- reply="end" -->
</ul>
