<!-- received="Sun Sep  7 08:54:15 1997 MST" -->
<!-- sent="Sun, 07 Sep 1997 17:27:26 +0200" -->
<!-- name="Rainer krienke" -->
<!-- email="krienke@mailhost.uni-koblenz.de" -->
<!-- subject="Success in decreasing backtrackrate on mustec 1200sp in color mode" -->
<!-- id="199709071153.NAA03617@cave.BitWizard.nl" -->
<!-- inreplyto="" -->
<title>sane-devel: Success in decreasing backtrackrate on mustec 1200sp in color mode</title>
<h1>Success in decreasing backtrackrate on mustec 1200sp in color mode</h1>
<b>Rainer krienke</b> (<a href="mailto:krienke@mailhost.uni-koblenz.de"><i>krienke@mailhost.uni-koblenz.de</i></a>)<br>
<i>Sun, 07 Sep 1997 17:27:26 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#145">[ date ]</a><a href="index.html#145">[ thread ]</a><a href="subject.html#145">[ subject ]</a><a href="author.html#145">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0146.html">Ignacio Garcia: "Problems with xscanimage (sane 0.63)"</a>
<li> <b>Previous message:</b> <a href="0144.html">Michael Ritzert: "Re: mustek problems in lineart mode"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;Rainer Krienke wrote:</i><br>
<i>&gt;&lt;&lt;&gt; =</i><br>
<p>
<i>&gt;&gt;    | From <a href="mailto:fnevgeny@plasma-gate.weizmann.ac.il">fnevgeny@plasma-gate.weizmann.ac.il</a>  Sun Aug 31 23:45:11 &gt;19=</i><br>
97<br>
&lt;&gt;    | From: Evgeny Stambulchik &lt;<a href="mailto:fnevgeny@plasma-gate.weizmann.ac.il">fnevgeny@plasma-gate.weizmann.ac.il</a>&gt;<br>
<i>&gt;&gt;    | Date: Mon, 1 Sep 1997 00:39:30 +0300 (IDT)</i><br>
<i>&gt;&gt;    | To: <a href="mailto:krienke@informatik.uni-koblenz.de">krienke@informatik.uni-koblenz.de</a></i><br>
<i>&gt;&gt;    | Subject: Re: Backtracking in color scanning</i><br>
<i>&gt;&gt;    | MIME-Version: 1.0</i><br>
<i>&gt;&gt;    | =</i><br>
<p>
<i>&gt;&gt;    | Rainer krienke &lt;<a href="mailto:krienke@mailhost.uni-koblenz.de">krienke@mailhost.uni-koblenz.de</a>&gt; wrote:</i><br>
<i>&gt;&gt;    | &gt;  =</i><br>
<p>
<i>&gt;&gt;    | &gt;  I use sane0.62 with my mustek 1200spro (connected to an &gt;ADAPT=</i><br>
EC 2940<br>
<i>&gt;&gt;    | &gt;  scsi adapter).</i><br>
<i>&gt;&gt;    | =</i><br>
<p>
<i>&gt;&gt;    | Do you mean Paragon 1200SP Pro? How did you manage to make it &gt;wo=</i><br>
rk with =<br>
<p>
<i>&gt;&gt; sane??</i><br>
<i>&gt;&gt;    | =</i><br>
<p>
&lt;&gt; =<br>
<p>
<i>&gt;&gt; Oh sorry I was "some letters" wrong. I did'nt mean 1200 Spro but &gt;must=</i><br>
ek 1200 SP.<br>
<i>&gt;</i><br>
<i>&gt;&gt; Because of the assumption of Roger (<a href="mailto:R.E.Wolff@BitWizard.nl">R.E.Wolff@BitWizard.nl</a> ) who</i><br>
<i>&gt;&gt; said the backtracking problem might be due to the kernel buffer that</i><br>
<i>&gt;&gt; has to be copied in user space, I thought that if this is true</i><br>
<i>&gt;&gt; something should change if I reduce the buffer from 127K to half the</i><br>
<p>
<i>&gt;I just use a 1Mb buffer for my scanner. However I had to change a few</i><br>
<i>&gt;lines in sg.c ...... Ah. I nowadays have the patch ready. Attached. =</i><br>
<p>
<i>&gt;</i><br>
<i>&gt;Your "kernel data segment" does grow by a megabyte using this</i><br>
<i>&gt;patch....  I'm going to submit a slightly more generic patch one</i><br>
<i>&gt;day......</i><br>
<p>
<i>&gt;Using half the size, or even a quarter (32k, default) doesn't help.</i><br>
<p>
<i>&gt;We could try to issue the next "read" AS FAST AS POSSIBLE, discarding</i><br>
<i>&gt;the data just read. This probably requires some serious hacking. =</i><br>
<p>
<p>
<i>&gt;&gt; size. I recompiled sane and my kernel but the effect when scanning</i><br>
<i>&gt;&gt; colour images stayed the same. Moreover I think because of the fact</i><br>
<i>&gt;&gt; that other people (running Pentium 200 pro maschines) have the same</i><br>
<i>&gt;&gt; problem this cannot be due to lack of speed.</i><br>
<p>
<i>&gt;A pentium PRO is not much faster on memory limited copies than a</i><br>
<i>&gt;pentium. (Both use a 64bit main memory link.)</i><br>
<i>&gt;</i><br>
<i>&gt;</i><br>
<i>&gt;                                Roger.</i><br>
<p>
Thanks for your patch that was includes in your mail above. Sorry I did<br>
not have the time until now to give it a try.<br>
<p>
Well increasing the buffer size in sg.h to  a size of 0x100000 really<br>
helped. The effect that there was too much bacjtracking when scanning a<br>
color image at say 300dpi has gone. The scantime improved a lot by this.<br>
It=B4s now comparable to the time a windows twain driver needs to do the<br>
same.<br>
<p>
Thanks =<br>
<p>
Rainer =<br>
<p>
<p>
----------------------------------------------------------------------<br>
Rainer Krienke                      <a href="mailto:krienke@informatik.uni-koblenz.de">krienke@informatik.uni-koblenz.de</a><br>
Universitaet Koblenz, 		    <a href="http://www.uni-koblenz.de/~krienke">http://www.uni-koblenz.de/~krienke</a><br>
Rechenzentrum,                      Voice: +49 261 9119-641<br>
Rheinau 3-4, 56075 Koblenz, Germany Fax:   +49 261 9119-499<br>
----------------------------------------------------------------------<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0146.html">Ignacio Garcia: "Problems with xscanimage (sane 0.63)"</a>
<li> <b>Previous message:</b> <a href="0144.html">Michael Ritzert: "Re: mustek problems in lineart mode"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
