<!-- received="Thu Sep 11 14:30:07 1997 MST" -->
<!-- sent="Thu, 11 Sep 1997 14:37:52 -0700" -->
<!-- name="Bob van der Poel" -->
<!-- email="bvdpoel@awinc.com" -->
<!-- subject="miroctek" -->
<!-- id="199709111158.NAA28748@esme.cc.uit.no" -->
<!-- inreplyto="" -->
<title>sane-devel: miroctek</title>
<h1>miroctek</h1>
<b>Bob van der Poel</b> (<a href="mailto:bvdpoel@awinc.com"><i>bvdpoel@awinc.com</i></a>)<br>
<i>Thu, 11 Sep 1997 14:37:52 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#167">[ date ]</a><a href="index.html#167">[ thread ]</a><a href="subject.html#167">[ subject ]</a><a href="author.html#167">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0168.html">Preston Brown: "Umax Astra 600S problems"</a>
<li> <b>Previous message:</b> <a href="0166.html">Ricardo Muggli: "sane as a gimp plug-in."</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Any plans to support Microtek scanners, esp. the E3?<br>
<p>
<pre>
-- 
   __
  /  )      /         Bob van der Poel
 /--&lt;  ____/__        <a href="mailto:bvdpoel@awinc.com">bvdpoel@awinc.com</a>
/___/_(_) /_)         <a href="http://www2.awinc.com/users/bvdpoel">http://www2.awinc.com/users/bvdpoel</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0168.html">Preston Brown: "Umax Astra 600S problems"</a>
<li> <b>Previous message:</b> <a href="0166.html">Ricardo Muggli: "sane as a gimp plug-in."</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
