<!-- received="Thu Sep 11 21:35:27 1997 MST" -->
<!-- sent="Thu, 11 Sep 1997 21:06:43 -0700" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="David.Mosberger@acm.org" -->
<!-- subject="Re: saned check_hosts() frobnication" -->
<!-- id="199709120406.VAA00692@hopper.mosberger" -->
<!-- inreplyto="199709111158.NAA28748@esme.cc.uit.no" -->
<title>sane-devel: Re: saned check_hosts() frobnication</title>
<h1>Re: saned check_hosts() frobnication</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:David.Mosberger@acm.org"><i>David.Mosberger@acm.org</i></a>)<br>
<i>Thu, 11 Sep 1997 21:06:43 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#170">[ date ]</a><a href="index.html#170">[ thread ]</a><a href="subject.html#170">[ subject ]</a><a href="author.html#170">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0171.html">Marco Lonsing: "Re: mustek problems in lineart mode"</a>
<li> <b>Previous message:</b> <a href="0169.html">Michael Ritzert: "Re: mustek problems in lineart mode"</a>
<li> <b>In reply to:</b> <a href="0169.html">Michael Ritzert: "Re: mustek problems in lineart mode"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;&gt;&gt;&gt;&gt; On Thu, 11 Sep 1997 13:58:41 +0200 (METDST), Per Harald Myrvang &lt;<a href="mailto:Per.Harald.Myrvang@cc.uit.no">Per.Harald.Myrvang@cc.uit.no</a>&gt; said:</i><br>
<p>
  Per&gt; I've just spent 2 hours trying to scan over the net (using<br>
  Per&gt; sane-0.63), only to fill syslog with "rejected" messages.<br>
<p>
  Per&gt; Then, after much gnashing of teeth, I discovered that, in<br>
  Per&gt; frontend/saned.c, in check_host(), one does two strcmp(3) to<br>
  Per&gt; check the connecting party's hostname to those in<br>
  Per&gt; saned.conf. These should really be strcasecmp(3)s, since<br>
  Per&gt; DNS-entries are case-insensitive (and yes, that's why I<br>
  Per&gt; couldn't get it to work before).<br>
<p>
I'm sorry you lost time because of this.  It _is_ documented in<br>
saned(1) though.  I think the authentication code comes pretty much<br>
straight from lpd.  There are certainly arguments _for_ making this<br>
check case-sensitive (it's not a hostname that's typed by a user), but<br>
I don't feel strongly either way.<br>
<p>
  Per&gt; And now for some good <a href="news:">news:</a> I got the Nikon LS-1000 to scan at<br>
  Per&gt; 300 and 2700 dpi using Didier's code!  Hurrah! But there are<br>
  Per&gt; still quite a lot of work left...<br>
<p>
Good news indeed!  Keep up the good work!<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0171.html">Marco Lonsing: "Re: mustek problems in lineart mode"</a>
<li> <b>Previous message:</b> <a href="0169.html">Michael Ritzert: "Re: mustek problems in lineart mode"</a>
<li> <b>In reply to:</b> <a href="0169.html">Michael Ritzert: "Re: mustek problems in lineart mode"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
