<!-- received="Sun Sep 14 11:11:44 1997 MST" -->
<!-- sent="Sun, 14 Sep 1997 18:43:03 +0200 (MET DST)" -->
<!-- name="becka@sunserver1.rz.uni-duesseldorf.de" -->
<!-- email="becka@sunserver1.rz.uni-duesseldorf.de" -->
<!-- subject="Re: mustek problems in lineart mode" -->
<!-- id="m0xAHlH-000BWAC@charon.beck-sw.de" -->
<!-- inreplyto="XFMail.970913083608.Ritzert@T-Online.de" -->
<title>sane-devel: Re: mustek problems in lineart mode</title>
<h1>Re: mustek problems in lineart mode</h1>
<a href="mailto:becka@sunserver1.rz.uni-duesseldorf.de"><i>becka@sunserver1.rz.uni-duesseldorf.de</i></a><br>
<i>Sun, 14 Sep 1997 18:43:03 +0200 (MET DST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#184">[ date ]</a><a href="index.html#184">[ thread ]</a><a href="subject.html#184">[ subject ]</a><a href="author.html#184">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0185.html">eric: ""Permission denied" on /dev/sga under linux?"</a>
<li> <b>Previous message:</b> <a href="0183.html">Bernd Seemann: "Re: Dark scans from Astra 600S"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt; Could everybody who has a Mustek scanner please try out this command:</i><br>
<p>
<i>&gt; scanimage --device mustek:/dev/scanner -l 5 -t 5 -x 190 -y 270 --resolution 200</i><br>
<i>&gt; --mode Lineart --speed Fastest</i><br>
<p>
I did. Most time it worked, but on the first try (naturally) it locked up the<br>
scanner in a very strange way :<br>
<p>
- The scanner hung at the beginning of the page (after the pbm header was <br>
  displayed) and needed a reset.<br>
- The system was still stable.<br>
- But afterward no further access to the scanner was possible. Even reloading<br>
  the SCSI module didn't help.<br>
<p>
Is this command a "lockup-always" on your system ? Or does it work from time <br>
to time ?<br>
<p>
Moreover please note, that -l,-t,-x,-y might be ignored because the mode-set<br>
command might override these values.<br>
<p>
CU,Andy<br>
<p>
<pre>
-- 
Andreas Beck              |  Email :  &lt;<a href="mailto:becka@sunserver1.rz.uni-duesseldorf.de">becka@sunserver1.rz.uni-duesseldorf.de</a>&gt;
===  World-Wide-Web URL :  <a href="http://sunserver1.rz.uni-duesseldorf.de/~becka">http://sunserver1.rz.uni-duesseldorf.de/~becka</a>  ===
========  GGI - The Right Thing To Do : <a href="http://synergy.foo.net/~ggi/">http://synergy.foo.net/~ggi/</a>  ========
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0185.html">eric: ""Permission denied" on /dev/sga under linux?"</a>
<li> <b>Previous message:</b> <a href="0183.html">Bernd Seemann: "Re: Dark scans from Astra 600S"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
