<!-- received="Sun Sep 21 01:29:05 1997 MST" -->
<!-- sent="Sun, 21 Sep 1997 09:50:23 +0200 (MET DST)" -->
<!-- name="Rogier Wolff" -->
<!-- email="R.E.Wolff@BitWizard.nl" -->
<!-- subject="Re: HP 4P problems" -->
<!-- id="199709210750.JAA00804@cave.BitWizard.nl" -->
<!-- inreplyto="Pine.3.89.9709210833.B10423-0100000@medchem7.pharmazie.uni-halle.de" -->
<title>sane-devel: Re: HP 4P problems</title>
<h1>Re: HP 4P problems</h1>
<b>Rogier Wolff</b> (<a href="mailto:R.E.Wolff@BitWizard.nl"><i>R.E.Wolff@BitWizard.nl</i></a>)<br>
<i>Sun, 21 Sep 1997 09:50:23 +0200 (MET DST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#212">[ date ]</a><a href="index.html#212">[ thread ]</a><a href="subject.html#212">[ subject ]</a><a href="author.html#212">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0213.html">Mathias Weigt: "Re: HP 4C problems..."</a>
<li> <b>Previous message:</b> <a href="0211.html">Mathias Weigt: "Re: HP 4P problems"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Mathias Weigt wrote:<br>
<i>&gt; </i><br>
<i>&gt; Servus !</i><br>
<i>&gt; </i><br>
<i>&gt; &gt; "sg" names get assigned in order of detection. The FIRST scsi device</i><br>
<i>&gt; &gt; always gets sga. If you have nothing else on your SCSI bus, your</i><br>
<i>&gt; &gt; scanner is sga. </i><br>
<i>&gt; &gt; </i><br>
<i>&gt; &gt; </i><br>
<i>&gt; &gt; &gt; Could the device files have incorrect  major number, mine is as follows.</i><br>
<i>&gt; &gt; &gt; </i><br>
<i>&gt; &gt; &gt; crw-rw----   1 root     scanner   21,   5 Feb 12  1996 /dev/sgf</i><br>
<i>&gt; &gt; &gt; Now I noticed running scanimage on virtual terminal that there was a message say</i><br>
<i>&gt; &gt; &gt; ing:</i><br>
<i>&gt; &gt; &gt; </i><br>
<i>&gt; &gt; &gt; Detected scsi general sga at scsi0, channel 0, id 5, lun 0</i><br>
<i>&gt; &gt; That is the strongest hint it is going to give you that you should use sga. </i><br>
<i>&gt; &gt; </i><br>
<i>&gt; &gt; Try using "dmesg" or a tail -f /var/log/messages when you run X. </i><br>
<i>&gt; </i><br>
<i>&gt; I had to setup a HP 4P on Sane yesterday. Indeed the Kernel said sgc and</i><br>
<i>&gt; Sane didn`t work until I made a link from sg2 to sgc.</i><br>
<p>
I conclude from your message that your filesystem layout uses sg0, sg1<br>
...  instead of the "normal" sga, sgb, ... The kernel doesn't know<br>
your distribution does it that way. Neither do I.<br>
<p>
				Roger.<br>
<p>
<pre>
-- 
** <a href="mailto:R.E.Wolff@BitWizard.nl">R.E.Wolff@BitWizard.nl</a> ** +31-15-2137555 ** <a href="http://www.BitWizard.nl/">http://www.BitWizard.nl/</a> **
Florida -- A 39 year old construction worker woke up this morning when a
109-car freigt train drove over him. According to the police the man was 
drunk. The man himself claims he slipped while walking the dog. 080897
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0213.html">Mathias Weigt: "Re: HP 4C problems..."</a>
<li> <b>Previous message:</b> <a href="0211.html">Mathias Weigt: "Re: HP 4P problems"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
