<title>sane-devel by date</title>
<a name="start"><h1>sane-devel by date</h1></a>
<ul>
<li> <b><a href="#end">Most recent messages</a></b>
<li> <b>Messages sorted by:</b> <a href="index.html#start">[ thread ]</a><a href="subject.html#start">[ subject ]</a><a href="author.html#start">[ author ]</a>
<li> <b><a href="..">Other mail archives</a></b>
</b>
</ul>
<p>
<b>Starting:</b> <i>Thu 31 Jul 1997 - 12:41:37 MST</i><br>
<b>Ending:</b> <i>Wed 24 Sep 1997 - 22:18:31 MST</i><br>
<b>Messages:</b> 230
<p>
<ul>
<li> <a href="0000.html"><b>Preliminary SCSI support for SGI IRIX!</b></a> <a name="0"><i>Michael Sweet</i></a>
<li> <a href="0001.html"><b>Preview Window problems</b></a> <a name="1"><i>Michael Sweet</i></a>
<li> <a href="0002.html"><b>Re: Preview Window problems</b></a> <a name="2"><i>Michael Sweet</i></a>
<li> <a href="0003.html"><b>Epson ES-1200C</b></a> <a name="3"><i>Zach Beane</i></a>
<li> <a href="0004.html"><b>Re: Epson ES-1200C</b></a> <a name="4"><i>Fritz Jetzek</i></a>
<li> <a href="0005.html"><b>Broken configure?</b></a> <a name="5"><i>Michael K. Johnson</i></a>
<li> <a href="0006.html"><b>But wait, there's more...  :-)</b></a> <a name="6"><i>Michael K. Johnson</i></a>
<li> <a href="0007.html"><b>Never mind...</b></a> <a name="7"><i>Michael K. Johnson</i></a>
<li> <a href="0008.html"><b>COOLSCAN II backend - resend</b></a> <a name="8"><i>carlierd@acm.org</i></a>
<li> <a href="0009.html"><b>Re: Broken configure?</b></a> <a name="9"><i>Michael Sweet</i></a>
<li> <a href="0010.html"><b>Re: COOLSCAN II backend - resend</b></a> <a name="10"><i>Michael K. Johnson</i></a>
<li> <a href="0011.html"><b>Some things you have to be an outsider to see...</b></a> <a name="11"><i>Michael K. Johnson</i></a>
<li> <a href="0012.html"><b>umax-backend</b></a> <a name="12"><i>orauch@physik.uni-osnabrueck.de</i></a>
<li> <a href="0013.html"><b>Re: umax-backend</b></a> <a name="13"><i>Michael K. Johnson</i></a>
<li> <a href="0014.html"><b>Sane configuration?</b></a> <a name="14"><i>Michael K. Johnson</i></a>
<li> <a href="0015.html"><b>Re: umax-backend</b></a> <a name="15"><i>Phil Ptkwt Kristin</i></a>
<li> <a href="0016.html"><b>Re: COOLSCAN II backend - resend</b></a> <a name="16"><i>Rogier Wolff</i></a>
<li> <a href="0017.html"><b>Paperport ix - scanner keyboard</b></a> <a name="17"><i>Chris Faherty</i></a>
<li> <a href="0018.html"><b>Re: Paperport ix - scanner keyboard</b></a> <a name="18"><i>becka@sunserver1.rz.uni-duesseldorf.de</i></a>
<li> <a href="0019.html"><b>Re: Paperport ix - scanner keyboard</b></a> <a name="19"><i>Chris Faherty</i></a>
<li> <a href="0020.html"><b>Re: COOLSCAN II backend</b></a> <a name="20"><i>Didier Carlier</i></a>
<li> <a href="0021.html"><b>SANE and AIX</b></a> <a name="21"><i>Rogan Dawes</i></a>
<li> <a href="0022.html"><b>Re: Paperport ix - scanner keyboard</b></a> <a name="22"><i>Michael Sweet</i></a>
<li> <a href="0023.html"><b>Error compiling sane 0.62 on AIX 4.1</b></a> <a name="23"><i>Rogan Dawes</i></a>
<li> <a href="0024.html"><b>Re: COOLSCAN II backend</b></a> <a name="24"><i>Michael K. Johnson</i></a>
<li> <a href="0025.html"><b>Re: Error compiling sane 0.62 on AIX 4.1</b></a> <a name="25"><i>David Mosberger-Tang</i></a>
<li> <a href="0026.html"><b>Re: COOLSCAN II backend - resend</b></a> <a name="26"><i>David Mosberger-Tang</i></a>
<li> <a href="0027.html"><b>Re: Preview Window problems</b></a> <a name="27"><i>David Mosberger-Tang</i></a>
<li> <a href="0028.html"><b>Re: COOLSCAN II backend - resend</b></a> <a name="28"><i>Didier Carlier</i></a>
<li> <a href="0029.html"><b>Re: COOLSCAN II backend</b></a> <a name="29"><i>Rogier Wolff</i></a>
<li> <a href="0030.html"><b>Re: COOLSCAN II backend</b></a> <a name="30"><i>Didier Carlier</i></a>
<li> <a href="0031.html"><b>Mustec 1200SP Firmware 1.02 Color Problem</b></a> <a name="31"><i>krienke@mailhost.uni-koblenz.de</i></a>
<li> <a href="0032.html"><b>Re: COOLSCAN II backend</b></a> <a name="32"><i>Michael K. Johnson</i></a>
<li> <a href="0033.html"><b>Re: COOLSCAN II backend</b></a> <a name="33"><i>Michael K. Johnson</i></a>
<li> <a href="0034.html"><b>MFS-12000SP survey [was: Re: Mustec 1200SP Firmware 1.02 Color Problem]</b></a> <a name="34"><i>David Mosberger-Tang</i></a>
<li> <a href="0035.html"><b>Re: COOLSCAN II backend</b></a> <a name="35"><i>Rogier Wolff</i></a>
<li> <a href="0036.html"><b>Re: Mustek continued...</b></a> <a name="36"><i>David Mosberger-Tang</i></a>
<li> <a href="0037.html"><b>Re: COOLSCAN II backend</b></a> <a name="37"><i>Peter Knoppers</i></a>
<li> <a href="0038.html"><b>Problems with sane on Next hardware (mustek 600 II CD scanner)</b></a> <a name="38"><i>C. David Shaffer</i></a>
<li> <a href="0039.html"><b>Re: MFS-12000SP survey [was: Re: Mustec 1200SP Firmware 1.02 Color</b></a> <a name="39"><i>becka@sunserver1.rz.uni-duesseldorf.de</i></a>
<li> <a href="0040.html"><b>minimal config.</b></a> <a name="40"><i>Rogan Dawes</i></a>
<li> <a href="0041.html"><b>probs with 0.62</b></a> <a name="41"><i>Christophe Zwecker</i></a>
<li> <a href="0042.html"><b>Re: probs with 0.62</b></a> <a name="42"><i>David Mosberger-Tang</i></a>
<li> <a href="0043.html"><b>UMAX-ASTRA-300P</b></a> <a name="43"><i>Pedro Guimaraes</i></a>
<li> <a href="0044.html"><b>Re: UMAX-ASTRA-300P</b></a> <a name="44"><i>orauch@physik.uni-osnabrueck.de</i></a>
<li> <a href="0045.html"><b>Re: UMAX-ASTRA-300P</b></a> <a name="45"><i>Michael K. Johnson</i></a>
<li> <a href="0046.html"><b>Re: probs with 0.62</b></a> <a name="46"><i>Fritz Jetzek</i></a>
<li> <a href="0047.html"><b>Re: probs with 0.62</b></a> <a name="47"><i>Christophe Zwecker</i></a>
<li> <a href="0048.html"><b>Re: scsi generic devices</b></a> <a name="48"><i>becka@sunserver1.rz.uni-duesseldorf.de</i></a>
<li> <a href="0049.html"><b>Re: UMAX-ASTRA-300P</b></a> <a name="49"><i>orauch@physik.uni-osnabrueck.de</i></a>
<li> <a href="0050.html"><b>Re: scsi generic devices</b></a> <a name="50"><i>Christophe Zwecker</i></a>
<li> <a href="0051.html"><b>Re: scsi generic devices</b></a> <a name="51"><i>David Mosberger-Tang</i></a>
<li> <a href="0052.html"><b>Re: scsi generic devices</b></a> <a name="52"><i>Christophe Zwecker</i></a>
<li> <a href="0053.html"><b>Re: scsi generic devices</b></a> <a name="53"><i>David Mosberger-Tang</i></a>
<li> <a href="0054.html"><b>Re: UMAX-ASTRA-300P</b></a> <a name="54"><i>becka@sunserver1.rz.uni-duesseldorf.de</i></a>
<li> <a href="0055.html"><b>Re: scsi generic devices</b></a> <a name="55"><i>Christophe Zwecker</i></a>
<li> <a href="0056.html"><b>Nikon Super Coolscan LS 1000 and SANE</b></a> <a name="56"><i>Per Harald Myrvang</i></a>
<li> <a href="0057.html"><b>libc prob with 0.62 solved, now gimp</b></a> <a name="57"><i>Christophe Zwecker</i></a>
<li> <a href="0058.html"><b>Re: MFS-12000SP survey [was: Re: Mustec 1200SP Firmware 1.02 Color</b></a> <a name="58"><i>becka@sunserver1.rz.uni-duesseldorf.de</i></a>
<li> <a href="0059.html"><b>Re: libc prob with 0.62 solved, now gimp</b></a> <a name="59"><i>Christophe Zwecker</i></a>
<li> <a href="0060.html"><b>Re: MFS-12000SP survey [was: Re: Mustec 1200SP Firmware 1.02 Color</b></a> <a name="60"><i>David Mosberger-Tang</i></a>
<li> <a href="0061.html"><b>pre-0.63 patch</b></a> <a name="61"><i>David Mosberger-Tang</i></a>
<li> <a href="0062.html"><b>Re: MFS-12000SP survey [was: Re: Mustec 1200SP Firmware 1.02 Color</b></a> <a name="62"><i>Markus Kramer</i></a>
<li> <a href="0063.html"><b>Re: MFS-12000SP survey [was: Re: Mustec 1200SP Firmware 1.02 Color          Problem]</b></a> <a name="63"><i>Stefan Luettringhaus-Kappel</i></a>
<li> <a href="0064.html"><b>Re: MFS-12000SP survey [was: Re: Mustec 1200SP Firmware 1.02 Color</b></a> <a name="64"><i>becka@sunserver1.rz.uni-duesseldorf.de</i></a>
<li> <a href="0065.html"><b>Epson 1200C</b></a> <a name="65"><i>Zach Beane</i></a>
<li> <a href="0066.html"><b>Re: Destroyed my MUSTEK II 600 CD Scanner! HELP!</b></a> <a name="66"><i>David Mosberger-Tang</i></a>
<li> <a href="0067.html"><b>Re: Destroyed my MUSTEK II 600 CD Scanner!</b></a> <a name="67"><i>becka@sunserver1.rz.uni-duesseldorf.de</i></a>
<li> <a href="0068.html"><b>lost umax-mails are found ;-)</b></a> <a name="68"><i>Oliver.Rauch@Wolfsburg.DE</i></a>
<li> <a href="0069.html"><b>Re: pre-0.63 patch</b></a> <a name="69"><i>Michael Sweet</i></a>
<li> <a href="0070.html"><b>Re: HP C5100 photosmart</b></a> <a name="70"><i>Rex Vaughn</i></a>
<li> <a href="0071.html"><b>Re: HP C5100 photosmart</b></a> <a name="71"><i>David Mosberger-Tang</i></a>
<li> <a href="0072.html"><b>Re: xscanimage-0.62 crashes gimp-0.99.10</b></a> <a name="72"><i>David Mosberger-Tang</i></a>
<li> <a href="0073.html"><b>Re: compiling sane-0.62</b></a> <a name="73"><i>David Mosberger-Tang</i></a>
<li> <a href="0074.html"><b>Q:Support for non-SCSI scanners?</b></a> <a name="74"><i>Heinrich Rebehn</i></a>
<li> <a href="0075.html"><b>Re: Q:Support for non-SCSI scanners?</b></a> <a name="75"><i>Mathias Weigt</i></a>
<li> <a href="0076.html"><b>Re: HP C5100 photosmart</b></a> <a name="76"><i>Rex Vaughn</i></a>
<li> <a href="0077.html"><b>Re: Q:Support for non-SCSI scanners?</b></a> <a name="77"><i>David Mosberger-Tang</i></a>
<li> <a href="0078.html"><b>Testing and OCR (was Re: HP C5100 photosmart)</b></a> <a name="78"><i>Andrew Kuchling</i></a>
<li> <a href="0079.html"><b>Re: sane &amp; gtk problems</b></a> <a name="79"><i>David Mosberger-Tang</i></a>
<li> <a href="0080.html"><b>xscanimage as gimp plug-in</b></a> <a name="80"><i>Marco Lonsing</i></a>
<li> <a href="0081.html"><b>Re: xscanimage as gimp plug-in</b></a> <a name="81"><i>Rainer Krienke</i></a>
<li> <a href="0082.html"><b>Re: xscanimage as gimp plug-in</b></a> <a name="82"><i>Mathias Weigt</i></a>
<li> <a href="0083.html"><b>Re: sane &amp; gtk problems</b></a> <a name="83"><i>Michael K. Johnson</i></a>
<li> <a href="0084.html"><b>System hangs with custom gamma table</b></a> <a name="84"><i>Mathias Weigt</i></a>
<li> <a href="0085.html"><b>Problem with Mustek</b></a> <a name="85"><i>Wolfgang Jung</i></a>
<li> <a href="0086.html"><b>Re: Problem with Mustek</b></a> <a name="86"><i>Wolfgang Jung</i></a>
<li> <a href="0087.html"><b>Re: xscanimage as gimp plug-in</b></a> <a name="87"><i>Marco Lonsing</i></a>
<li> <a href="0088.html"><b>Re: xscanimage as gimp plug-in</b></a> <a name="88"><i>Fritz Jetzek</i></a>
<li> <a href="0089.html"><b>RE: Problem with Mustek</b></a> <a name="89"><i>Michael Ritzert</i></a>
<li> <a href="0090.html"><b>Re: Problem with Mustek</b></a> <a name="90"><i>Wolfgang Jung</i></a>
<li> <a href="0091.html"><b>Agfa Snapscan driver?</b></a> <a name="91"><i>Michel Roelofs</i></a>
<li> <a href="0092.html"><b>Mustek 1200SP PRO</b></a> <a name="92"><i>Evgeny Stambulchik</i></a>
<li> <a href="0093.html"><b>Re: Mustek 1200SP PRO</b></a> <a name="93"><i>David Mosberger-Tang</i></a>
<li> <a href="0094.html"><b>Re: Agfa Snapscan driver?</b></a> <a name="94"><i>David Mosberger-Tang</i></a>
<li> <a href="0095.html"><b>Hi...Newcomer question.;))</b></a> <a name="95"><i>Michael Burghart</i></a>
<li> <a href="0096.html"><b>Re: Agfa Snapscan driver?</b></a> <a name="96"><i>Michael K. Johnson</i></a>
<li> <a href="0097.html"><b>Re: Agfa Snapscan driver</b></a> <a name="97"><i>Oliver.Rauch@Wolfsburg.DE</i></a>
<li> <a href="0098.html"><b>Re: Hi...Newcomer question.;))</b></a> <a name="98"><i>David Mosberger-Tang</i></a>
<li> <a href="0099.html"><b>Nikon LS-1000</b></a> <a name="99"><i>Per Harald Myrvang</i></a>
<li> <a href="0100.html"><b>Nikon LS-1000</b></a> <a name="100"><i>Didier Carlier</i></a>
<li> <a href="0101.html"><b>Backtracking in color scanning</b></a> <a name="101"><i>Rainer krienke</i></a>
<li> <a href="0102.html"><b>Re: Backtracking in color scanning</b></a> <a name="102"><i>David Mosberger-Tang</i></a>
<li> <a href="0103.html"><b>Re: Nikon LS-1000</b></a> <a name="103"><i>David Mosberger-Tang</i></a>
<li> <a href="0104.html"><b>Re: Backtracking in color scanning</b></a> <a name="104"><i>shendrix@gypsy.atlantic.infi.net</i></a>
<li> <a href="0105.html"><b>Re: Backtracking in color scanning</b></a> <a name="105"><i>Rainer Krienke</i></a>
<li> <a href="0106.html"><b>Re: Backtracking in color scanning</b></a> <a name="106"><i>Rogier Wolff</i></a>
<li> <a href="0107.html"><b>Re: Backtracking in color scanning</b></a> <a name="107"><i>Michael Ritzert</i></a>
<li> <a href="0108.html"><b>umax-backend</b></a> <a name="108"><i>Oliver.Rauch@Wolfsburg.DE</i></a>
<li> <a href="0109.html"><b>Nikon LS-20</b></a> <a name="109"><i>Didier Carlier</i></a>
<li> <a href="0110.html"><b>Re: umax-backend</b></a> <a name="110"><i>David Mosberger-Tang</i></a>
<li> <a href="0111.html"><b>Re: umax-backend</b></a> <a name="111"><i>Jonathan A. Buzzard</i></a>
<li> <a href="0112.html"><b>Re: Backtracking in color scanning</b></a> <a name="112"><i>Rainer Krienke</i></a>
<li> <a href="0113.html"><b>Re: Backtracking in color scanning</b></a> <a name="113"><i>Mathias Weigt</i></a>
<li> <a href="0114.html"><b>Dokumentation about MUSTEK</b></a> <a name="114"><i>Wolfgang Jung</i></a>
<li> <a href="0115.html"><b>Gray Mode of MFS12000SP</b></a> <a name="115"><i>Wolfgang Jung</i></a>
<li> <a href="0116.html"><b>Re: Backtracking in color scanning</b></a> <a name="116"><i>Wolfgang Jung</i></a>
<li> <a href="0117.html"><b>Re: umax-backend</b></a> <a name="117"><i>Rogier Wolff</i></a>
<li> <a href="0118.html"><b>Re: Backtracking in color scanning</b></a> <a name="118"><i>Rogier Wolff</i></a>
<li> <a href="0119.html"><b>Re: umax-backend</b></a> <a name="119"><i>Jonathan A. Buzzard</i></a>
<li> <a href="0120.html"><b>umax-backend</b></a> <a name="120"><i>Oliver.Rauch@Wolfsburg.DE</i></a>
<li> <a href="0121.html"><b>Re: umax-backend</b></a> <a name="121"><i>Rogier Wolff</i></a>
<li> <a href="0122.html"><b>Re: umax-backend</b></a> <a name="122"><i>Jonathan A. Buzzard</i></a>
<li> <a href="0123.html"><b>Re: Backtracking in color scanning</b></a> <a name="123"><i>shendrix@gypsy.atlantic.infi.net</i></a>
<li> <a href="0124.html"><b>Re: Backtracking in color scanning</b></a> <a name="124"><i>Wolfgang Jung</i></a>
<li> <a href="0125.html"><b>UMAX Scanner ?</b></a> <a name="125"><i>Henning Sauer</i></a>
<li> <a href="0126.html"><b>Re: UMAX Scanner ?</b></a> <a name="126"><i>Michael K. Johnson</i></a>
<li> <a href="0127.html"><b>Re: Backtracking in color scanning</b></a> <a name="127"><i>Rogier Wolff</i></a>
<li> <a href="0128.html"><b>Mustek problems.</b></a> <a name="128"><i>Allan Nielsen</i></a>
<li> <a href="0129.html"><b>mustek problems in lineart mode</b></a> <a name="129"><i>Michael Ritzert</i></a>
<li> <a href="0130.html"><b>Re: Mustek problems.</b></a> <a name="130"><i>Allan Nielsen</i></a>
<li> <a href="0131.html"><b>Re: Mustek problems.</b></a> <a name="131"><i>Mathias Weigt</i></a>
<li> <a href="0132.html"><b>RE: mustek problems in lineart mode</b></a> <a name="132"><i>Michael Ritzert</i></a>
<li> <a href="0133.html"><b>pnmto???? 'bad magic number'</b></a> <a name="133"><i>jim barchuk</i></a>
<li> <a href="0134.html"><b>umax scan resolution</b></a> <a name="134"><i>Oliver.Rauch@Wolfsburg.DE</i></a>
<li> <a href="0135.html"><b>support of Solaris x86?</b></a> <a name="135"><i>rwsimmon@ee.utah.edu</i></a>
<li> <a href="0136.html"><b>Re: SANE and Mustek MFC-600S</b></a> <a name="136"><i>David Mosberger-Tang</i></a>
<li> <a href="0137.html"><b>Re: Backtracking in color scanning</b></a> <a name="137"><i>David Mosberger-Tang</i></a>
<li> <a href="0138.html"><b>Re: umax-backend</b></a> <a name="138"><i>David Mosberger-Tang</i></a>
<li> <a href="0139.html"><b>Re: mustek problems in lineart mode</b></a> <a name="139"><i>David Mosberger-Tang</i></a>
<li> <a href="0140.html"><b>UMAX on Sparc/Solaris 2.5</b></a> <a name="140"><i>Jim McBeath</i></a>
<li> <a href="0141.html"><b>Re: Backtracking in color scanning</b></a> <a name="141"><i>Rogier Wolff</i></a>
<li> <a href="0142.html"><b>Re: SANE and Mustek MFC-600S</b></a> <a name="142"><i>Rogier Wolff</i></a>
<li> <a href="0143.html"><b>Re: Backtracking in color scanning</b></a> <a name="143"><i>Rogier Wolff</i></a>
<li> <a href="0144.html"><b>Re: mustek problems in lineart mode</b></a> <a name="144"><i>Michael Ritzert</i></a>
<li> <a href="0145.html"><b>Success in decreasing backtrackrate on mustec 1200sp in color mode</b></a> <a name="145"><i>Rainer krienke</i></a>
<li> <a href="0146.html"><b>Problems with xscanimage (sane 0.63)</b></a> <a name="146"><i>Ignacio Garcia</i></a>
<li> <a href="0147.html"><b>xscanimage with gimp 0.99</b></a> <a name="147"><i>Wolfgang Jung</i></a>
<li> <a href="0148.html"><b>Linking as GIMP plug-in</b></a> <a name="148"><i>Allan Nielsen</i></a>
<li> <a href="0149.html"><b>minimal config.</b></a> <a name="149"><i>Rogan Dawes</i></a>
<li> <a href="0150.html"><b>Re: Linking as GIMP plug-in</b></a> <a name="150"><i>jerome marchand</i></a>
<li> <a href="0151.html"><b>Returned mail: Host unknown (Name server: paula.mainz.netsurf.de: host not found)</b></a> <a name="151"><i>Mail Delivery Subsystem</i></a>
<li> <a href="0152.html"><b>'bad magic number' update</b></a> <a name="152"><i>jim barchuk</i></a>
<li> <a href="0153.html"><b>Re: 'bad magic number' update</b></a> <a name="153"><i>jim barchuk</i></a>
<li> <a href="0154.html"><b>Umax UC 840</b></a> <a name="154"><i>Michael Burghart</i></a>
<li> <a href="0155.html"><b>Re: Umax UC 840</b></a> <a name="155"><i>Michael K. Johnson</i></a>
<li> <a href="0156.html"><b>Umax Astra 600S</b></a> <a name="156"><i>Preston Brown</i></a>
<li> <a href="0157.html"><b>Re: Umax UC 840</b></a> <a name="157"><i>Oliver.Rauch@Wolfsburg.DE</i></a>
<li> <a href="0158.html"><b>Re: Gray Mode of MFS12000SP</b></a> <a name="158"><i>becka@sunserver1.rz.uni-duesseldorf.de</i></a>
<li> <a href="0159.html"><b>Re: mustek problems in lineart mode</b></a> <a name="159"><i>becka@sunserver1.rz.uni-duesseldorf.de</i></a>
<li> <a href="0160.html"><b>Re: Testing and OCR (was Re: HP C5100 photosmart)</b></a> <a name="160"><i>becka@sunserver1.rz.uni-duesseldorf.de</i></a>
<li> <a href="0161.html"><b>Re: Q:Support for non-SCSI scanners?</b></a> <a name="161"><i>becka@sunserver1.rz.uni-duesseldorf.de</i></a>
<li> <a href="0162.html"><b>Re: Gray Mode of MFS12000SP</b></a> <a name="162"><i>Wolfgang Jung</i></a>
<li> <a href="0163.html"><b>Microtek backend:  in progress?</b></a> <a name="163"><i>Matto Marjanovic</i></a>
<li> <a href="0164.html"><b>saned check_hosts() frobnication</b></a> <a name="164"><i>Per Harald Myrvang</i></a>
<li> <a href="0165.html"><b>Re: Umax UC 840</b></a> <a name="165"><i>Michael Burghart</i></a>
<li> <a href="0166.html"><b>sane as a gimp plug-in.</b></a> <a name="166"><i>Ricardo Muggli</i></a>
<li> <a href="0167.html"><b>miroctek</b></a> <a name="167"><i>Bob van der Poel</i></a>
<li> <a href="0168.html"><b>Umax Astra 600S problems</b></a> <a name="168"><i>Preston Brown</i></a>
<li> <a href="0169.html"><b>Re: mustek problems in lineart mode</b></a> <a name="169"><i>Michael Ritzert</i></a>
<li> <a href="0170.html"><b>Re: saned check_hosts() frobnication</b></a> <a name="170"><i>David Mosberger-Tang</i></a>
<li> <a href="0171.html"><b>Re: mustek problems in lineart mode</b></a> <a name="171"><i>Marco Lonsing</i></a>
<li> <a href="0172.html"><b>hp 5p</b></a> <a name="172"><i>Eric Ludlam</i></a>
<li> <a href="0173.html"><b>Re: Umax Astra 600S problems</b></a> <a name="173"><i>Michael K. Johnson</i></a>
<li> <a href="0174.html"><b>HP OfficeJet Pro 1150c</b></a> <a name="174"><i>Laszlo Vecsey</i></a>
<li> <a href="0175.html"><b>Astra 600S, ncr 53c875 (tekram) SCI solved</b></a> <a name="175"><i>Preston Brown</i></a>
<li> <a href="0176.html"><b>Re: Astra 600S, ncr 53c875 (tekram) SCI solved</b></a> <a name="176"><i>Michael K. Johnson</i></a>
<li> <a href="0177.html"><b>Re: Astra 600S, ncr 53c875 (tekram) SCI solved</b></a> <a name="177"><i>Michael K. Johnson</i></a>
<li> <a href="0178.html"><b>Re: mustek problems in lineart mode</b></a> <a name="178"><i>becka@sunserver1.rz.uni-duesseldorf.de</i></a>
<li> <a href="0179.html"><b>Re: HP OfficeJet Pro 1150c</b></a> <a name="179"><i>becka@sunserver1.rz.uni-duesseldorf.de</i></a>
<li> <a href="0180.html"><b>Status of Logitech handheld support???</b></a> <a name="180"><i>Alen Salamun</i></a>
<li> <a href="0181.html"><b>Dark scans from Astra 600S</b></a> <a name="181"><i>Preston Brown</i></a>
<li> <a href="0182.html"><b>Re: mustek problems in lineart mode</b></a> <a name="182"><i>Michael Ritzert</i></a>
<li> <a href="0183.html"><b>Re: Dark scans from Astra 600S</b></a> <a name="183"><i>Bernd Seemann</i></a>
<li> <a href="0184.html"><b>Re: mustek problems in lineart mode</b></a> <a name="184"><i>becka@sunserver1.rz.uni-duesseldorf.de</i></a>
<li> <a href="0185.html"><b>"Permission denied" on /dev/sga under linux?</b></a> <a name="185"><i>eric</i></a>
<li> <a href="0186.html"><b>Re: mustek problems in lineart mode</b></a> <a name="186"><i>Michael Ritzert</i></a>
<li> <a href="0187.html"><b>Re: "Permission denied" on /dev/sga under linux?</b></a> <a name="187"><i>becka@sunserver1.rz.uni-duesseldorf.de</i></a>
<li> <a href="0188.html"><b>Re: mustek problems in lineart mode</b></a> <a name="188"><i>becka@sunserver1.rz.uni-duesseldorf.de</i></a>
<li> <a href="0189.html"><b>Sun Solaris</b></a> <a name="189"><i>F. Paquet</i></a>
<li> <a href="0190.html"><b>SANE Support for HP Scanjet 5P</b></a> <a name="190"><i>Georg Greve</i></a>
<li> <a href="0191.html"><b>Re: Dark scans from Astra 600S</b></a> <a name="191"><i>Oliver.Rauch@Wolfsburg.DE</i></a>
<li> <a href="0192.html"><b>Re: Dark scans from Astra 600S</b></a> <a name="192"><i>Oliver.Rauch@Wolfsburg.DE</i></a>
<li> <a href="0193.html"><b>Re: mustek problems in lineart mode</b></a> <a name="193"><i>Michael Ritzert</i></a>
<li> <a href="0194.html"><b>Can't find device</b></a> <a name="194"><i>Dan Mueth</i></a>
<li> <a href="0195.html"><b>SANE FTP Archive Problem?</b></a> <a name="195"><i>Craig Milo Rogers</i></a>
<li> <a href="0196.html"><b>HP 4P problems</b></a> <a name="196"><i>Petri Lehtonen</i></a>
<li> <a href="0197.html"><b>Re: HP 4P problems</b></a> <a name="197"><i>Mathias Weigt</i></a>
<li> <a href="0198.html"><b>Re: HP 4P problems</b></a> <a name="198"><i>Petri Lehtonen</i></a>
<li> <a href="0199.html"><b>Re: HP 4P problems</b></a> <a name="199"><i>Rogier Wolff</i></a>
<li> <a href="0200.html"><b>Q: HP IICX</b></a> <a name="200"><i>Michael Burghart</i></a>
<li> <a href="0201.html"><b>Mustek MFS-12000SP Ver. 1.02, 1.06 &amp; sane-0.63</b></a> <a name="201"><i>karl@ccbfb.org</i></a>
<li> <a href="0202.html"><b>Re: Q: HP IICX</b></a> <a name="202"><i>Mathias Weigt</i></a>
<li> <a href="0203.html"><b>Re: mustek problems in lineart mode</b></a> <a name="203"><i>Michael Ritzert</i></a>
<li> <a href="0204.html"><b>Re: HP 4P problems</b></a> <a name="204"><i>Petri Lehtonen</i></a>
<li> <a href="0205.html"><b>Re: Q: HP IICX</b></a> <a name="205"><i>Shawn T. Rutledge</i></a>
<li> <a href="0206.html"><b>uc840/uc630</b></a> <a name="206"><i>Oliver.Rauch@Wolfsburg.DE</i></a>
<li> <a href="0207.html"><b>Re: HP 4P problems</b></a> <a name="207"><i>Wolfgang Jung</i></a>
<li> <a href="0208.html"><b>Re: HP 4P problems</b></a> <a name="208"><i>Rogier Wolff</i></a>
<li> <a href="0209.html"><b>Re: Q: HP IICX</b></a> <a name="209"><i>Pedro Guimaraes</i></a>
<li> <a href="0210.html"><b>Re: HP 4P problems</b></a> <a name="210"><i>becka@sunserver1.rz.uni-duesseldorf.de</i></a>
<li> <a href="0211.html"><b>Re: HP 4P problems</b></a> <a name="211"><i>Mathias Weigt</i></a>
<li> <a href="0212.html"><b>Re: HP 4P problems</b></a> <a name="212"><i>Rogier Wolff</i></a>
<li> <a href="0213.html"><b>Re: HP 4C problems...</b></a> <a name="213"><i>Mathias Weigt</i></a>
<li> <a href="0214.html"><b>Re: HP 4P problems</b></a> <a name="214"><i>Petri Lehtonen</i></a>
<li> <a href="0215.html"><b>Re: uc840/uc630</b></a> <a name="215"><i>Tristan Tarrant</i></a>
<li> <a href="0216.html"><b>Mustek scanner Problems</b></a> <a name="216"><i>Martin Goik</i></a>
<li> <a href="0217.html"><b>Update SGI SCSI support for SANE-0.63</b></a> <a name="217"><i>Michael Sweet</i></a>
<li> <a href="0218.html"><b>Update SGI SCSI support for SANE-0.63 (try #2)</b></a> <a name="218"><i>Michael Sweet</i></a>
<li> <a href="0219.html"><b>Datacopy 730GS</b></a> <a name="219"><i>Richard Stearn</i></a>
<li> <a href="0220.html"><b>How to remove moire effects from scanned picture ?</b></a> <a name="220"><i>Henning Sauer</i></a>
<li> <a href="0221.html"><b>Re: uc840/uc630</b></a> <a name="221"><i>Oliver.Rauch@Wolfsburg.DE</i></a>
<li> <a href="0222.html"><b>Re: uc840/uc630</b></a> <a name="222"><i>Michael K. Johnson</i></a>
<li> <a href="0223.html"><b>Re: uc840/uc630</b></a> <a name="223"><i>Tristan Tarrant</i></a>
<li> <a href="0224.html"><b>GIMP 0.99.11 and sane</b></a> <a name="224"><i>Allan Nielsen</i></a>
<li> <a href="0225.html"><b>Re: uc840/uc630</b></a> <a name="225"><i>Michael K. Johnson</i></a>
<li> <a href="0226.html"><b>Re: uc840/uc630</b></a> <a name="226"><i>Tristan Tarrant</i></a>
<li> <a href="0227.html"><b>Re: GIMP 0.99.11 and sane</b></a> <a name="227"><i>Michael Sweet</i></a>
<li> <a href="0228.html"><b>Re: uc840/uc630</b></a> <a name="228"><i>Oliver.Rauch@Wolfsburg.DE</i></a>
<li> <a href="0229.html"><b>Re: GIMP 0.99.11 and sane</b></a> <a name="229"><i>David Mosberger-Tang</i></a>
</ul>
<p>
<a name="end"><b>Last message date:</b></a> <i>Wed 24 Sep 1997 - 22:18:31 MST</i><br>
<b>Archived on:</b> <i>Tue Sep 30 1997 - 21:19:09 MST</i><p>
<ul>
<li> <b>Messages sorted by:</b> <a href="index.html#start">[ thread ]</a><a href="subject.html#start">[ subject ]</a><a href="author.html#start">[ author ]</a>
<li> <b><a href="..">Other mail archives</a></b>
</a></b>
</ul>
<p>
<hr>
<i>This archive was generated by <a href="http://www.eit.com/software/hypermail/hypermail.html">hypermail 1.02</a>.</i>
