<!-- received="Sun Sep  5 03:55:52 1999 PDT" -->
<!-- sent="Sun, 05 Sep 1999 12:56:10 +0200" -->
<!-- name="Oliver Rauch" -->
<!-- email="oliver.rauch@Wolfsburg.DE" -->
<!-- subject="Re: TRUST 4800 SP + ( aashima 4800 sp+)" -->
<!-- id="" -->
<!-- inreplyto="TRUST 4800 SP + ( aashima 4800 sp+)" -->
<title>sane-devel: Re: TRUST 4800 SP + ( aashima 4800 sp+)</title>
<h1>Re: TRUST 4800 SP + ( aashima 4800 sp+)</h1>
<b>Oliver Rauch</b> (<a href="mailto:oliver.rauch@Wolfsburg.DE"><i>oliver.rauch@Wolfsburg.DE</i></a>)<br>
<i>Sun, 05 Sep 1999 12:56:10 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#27">[ date ]</a><a href="index.html#27">[ thread ]</a><a href="subject.html#27">[ subject ]</a><a href="author.html#27">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0028.html">Spirilis: "Alaris cameras"</a>
<li> <b>Previous message:</b> <a href="0026.html">Eric Baronet: "TRUST 4800 SP + ( aashima 4800 sp+)"</a>
<li> <b>Maybe in reply to:</b> <a href="0026.html">Eric Baronet: "TRUST 4800 SP + ( aashima 4800 sp+)"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Eric Baronet wrote:<br>
<p>
<i>&gt; Hello, dear Oliver</i><br>
<i>&gt;</i><br>
<i>&gt; a friend of mine, has a TRUST  imagery 4800 SP + ( aashima 4800 sp+)</i><br>
<i>&gt;</i><br>
<i>&gt; I saw  aashima 4800 sp+ with find-scanner ( with my tekram 390 )</i><br>
<i>&gt;</i><br>
<i>&gt; Which model of scanner can I choose to use it ?</i><br>
<i>&gt;</i><br>
<p>
I don`t know if TRUST scanners are supported.<br>
Did you take a look at the sane homepage under supported scanners?<br>
<p>
<i>&gt;</i><br>
<i>&gt; I try UMAX, but doesn t work as a real one ...</i><br>
<i>&gt; in fact doesn't work at all out of Winblows</i><br>
<i>&gt;</i><br>
<i>&gt; Thank you !  Have a nice sunday !</i><br>
<i>&gt;</i><br>
<i>&gt; P.S. my Umax is O.K. on SuSE6.2 :-)</i><br>
<i>&gt;</i><br>
<p>
Bye<br>
Oliver<br>
<p>
<p>
<pre>
--
EMAIL: <a href="mailto:Oliver.Rauch@Wolfsburg.DE">Oliver.Rauch@Wolfsburg.DE</a>
WWW: <a href="http://www.wolfsburg.de/~rauch">http://www.wolfsburg.de/~rauch</a>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0028.html">Spirilis: "Alaris cameras"</a>
<li> <b>Previous message:</b> <a href="0026.html">Eric Baronet: "TRUST 4800 SP + ( aashima 4800 sp+)"</a>
<li> <b>Maybe in reply to:</b> <a href="0026.html">Eric Baronet: "TRUST 4800 SP + ( aashima 4800 sp+)"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
