<!-- received="Mon Sep  6 02:26:55 1999 PDT" -->
<!-- sent="Mon, 06 Sep 1999 10:21:58 +0100" -->
<!-- name="Mike Bhola" -->
<!-- email="mikeb@basaix.uk.ibm.com" -->
<!-- subject="Re: DTC3181 under Linux" -->
<!-- id="" -->
<!-- inreplyto="DTC3181 under Linux" -->
<title>sane-devel: Re: DTC3181 under Linux</title>
<h1>Re: DTC3181 under Linux</h1>
<b>Mike Bhola</b> (<a href="mailto:mikeb@basaix.uk.ibm.com"><i>mikeb@basaix.uk.ibm.com</i></a>)<br>
<i>Mon, 06 Sep 1999 10:21:58 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#30">[ date ]</a><a href="index.html#30">[ thread ]</a><a href="subject.html#30">[ subject ]</a><a href="author.html#30">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0031.html">Mike Bhola: "Re: Scanner help"</a>
<li> <b>Previous message:</b> <a href="0029.html">Mike Bhola: "Re: Scanner help"</a>
<li> <b>Maybe in reply to:</b> <a href="0021.html">Menaka Lashitha Bandara: "DTC3181 under Linux"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0051.html">Stefan Rutzinger: "Re: DTC3181 under Linux"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Menaka Lashitha Bandara wrote:<br>
<i>&gt; </i><br>
<i>&gt; Hi,</i><br>
<i>&gt; </i><br>
<i>&gt; I'm having lots of trouble trying to get my DTC3181 SCSI card working under linux (it's for an Acer 610 Scanner).</i><br>
<i>&gt; </i><br>
<i>&gt; I've poseted to the mailing lists before, and a few experts gave me some help, but I think they assumed that I knew exactly what I was doing.</i><br>
<i>&gt; </i><br>
<i>&gt; The problem is that I can't find any of the module options, there's a dtc.o in teh /lib/modules/2.2.12/scsi directory, but I need to know the arguments to even try and test it</i><br>
<i>&gt; out.</i><br>
<i>&gt; </i><br>
<i>&gt; THe DTC3181 isn't a PnP card, but a Plug-and-Run. It doesn't use any IRQ's.</i><br>
<i>&gt; </i><br>
<i>&gt; If anyone knows how to get this working, could you please tell me.</i><br>
<i>&gt; </i><br>
<i>&gt; Thanks in advance.</i><br>
<i>&gt; </i><br>
<i>&gt; --</i><br>
<i>&gt; Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a></i><br>
<i>&gt; To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a></i><br>
<p>
I have a DTC3181E which I am using with a Mustek 600IICD.<br>
I am not convinced that the dtc driver is for that card. However, the<br>
g_NCR5380 appears to have support for this card (not in the README but<br>
if you look at the source code...) You need to supply the correct<br>
parameters to get it working. I'm at work now so I can't remember them<br>
exactly. Something like:<br>
<p>
dtc3181e=1 ncr_addr=0x2c0 <br>
<p>
After that, everything worked perfectly for me. Hope this helps...<br>
<p>
<pre>
--
<p>
Regards, Mike
<p>
/* Michael Bhola                      AIX Systems Support Specialist */
/* IBM UK AIX Systems Support Centre    NET: <a href="mailto:mikeb@basaix.uk.ibm.com">mikeb@basaix.uk.ibm.com</a> */
/* DDI: +44,(0)990-225524                       NOSS: NHBVM1(BHOLAM) */
/* Internal: 7-311220                         IEA: IBMMAIL(GBIB1MPD) */
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0031.html">Mike Bhola: "Re: Scanner help"</a>
<li> <b>Previous message:</b> <a href="0029.html">Mike Bhola: "Re: Scanner help"</a>
<li> <b>Maybe in reply to:</b> <a href="0021.html">Menaka Lashitha Bandara: "DTC3181 under Linux"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0051.html">Stefan Rutzinger: "Re: DTC3181 under Linux"</a>
<!-- reply="end" -->
</ul>
