<!-- received="Wed Sep  8 03:41:28 1999 PDT" -->
<!-- sent="Wed, 8 Sep 1999 10:48:47 +0000" -->
<!-- name="Adam Williams" -->
<!-- email="awilliam@whitemice.org" -->
<!-- subject="Re: what scanner is supported better by current sane" -->
<!-- id="9909081048.ZM2743@estate1.whitemice.org" -->
<!-- inreplyto="inn@sparc.spb.su" -->
<title>sane-devel: Re: what scanner is supported better by current sane</title>
<h1>Re: what scanner is supported better by current sane</h1>
<b>Adam Williams</b> (<a href="mailto:awilliam@whitemice.org"><i>awilliam@whitemice.org</i></a>)<br>
<i>Wed, 8 Sep 1999 10:48:47 +0000</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#41">[ date ]</a><a href="index.html#41">[ thread ]</a><a href="subject.html#41">[ subject ]</a><a href="author.html#41">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0042.html">Daniel James: "Re: what scanner is supported better by current sane"</a>
<li> <b>Previous message:</b> <a href="0040.html">Nikolay N. Igotti: "what scanner is supported better by current sane"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Sep 8,  2:32pm, Nikolay N. Igotti wrote:<br>
<i>&gt; Subject: what scanner is supported better by current sane</i><br>
<i>&gt;            Hello,</i><br>
<i>&gt;  Now I'm choosing scaner to buy, and would like to hear your opinion.</i><br>
<i>&gt; As I've understood, I should buy SCSI scanner and cheap SCSI card.</i><br>
<i>&gt; I need midrange scanner for about $120-$160.</i><br>
<i>&gt;  Which one is currently supported better?</i><br>
<i>&gt;  I need quality color scanning.</i><br>
<i>&gt;</i><br>
<p>
See the sane web page, they list all supported scanners.  I hace an GP 4c that<br>
works good,  other people I deal with use Artec with good reports.  Other than<br>
speed diffrences most scanners handle things like photo scanning with little<br>
fuss.<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0042.html">Daniel James: "Re: what scanner is supported better by current sane"</a>
<li> <b>Previous message:</b> <a href="0040.html">Nikolay N. Igotti: "what scanner is supported better by current sane"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
