<!-- received="Wed Sep  8 12:13:56 1999 PDT" -->
<!-- sent="Wed, 8 Sep 1999 13:14:57 -0600 (MDT)" -->
<!-- name="Kevin Charter" -->
<!-- email="charter@cs.ualberta.ca" -->
<!-- subject="Re: Prisa 620s; SnapScan good news and bad news" -->
<!-- id="19990908191511Z14141-16426+207@scapa.cs.ualberta.ca" -->
<!-- inreplyto="199909081012.MAA15330@lee.Cc.Uit.No" -->
<title>sane-devel: Re: Prisa 620s; SnapScan good news and bad news</title>
<h1>Re: Prisa 620s; SnapScan good news and bad news</h1>
<b>Kevin Charter</b> (<a href="mailto:charter@cs.ualberta.ca"><i>charter@cs.ualberta.ca</i></a>)<br>
<i>Wed, 8 Sep 1999 13:14:57 -0600 (MDT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#46">[ date ]</a><a href="index.html#46">[ thread ]</a><a href="subject.html#46">[ subject ]</a><a href="author.html#46">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0047.html">Panos Katsaloulis: "Re: what scanner is supported better by current sane"</a>
<li> <b>Previous message:</b> <a href="0045.html">Alexey Zilber: "Re: ACARD scsi w/ 620S weirdness"</a>
<li> <b>In reply to:</b> <a href="0039.html">Petter Reinholdtsen: "Re: Prisa 620s; SnapScan good news and bad news"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt; </i><br>
<i>&gt; &gt; It's going to make me a few more days to get things back to the</i><br>
<i>&gt; &gt; state they were in this afternoon.</i><br>
<i>&gt; </i><br>
<i>&gt; Do you need beta testers?  If you are quick, I'll test then on our</i><br>
<i>&gt; 1236s.  I leave next friday, but will test if I get the new version</i><br>
<i>&gt; early next week.</i><br>
<p>
Yes. I may even be ready by tomorrow. We'll see how the programming<br>
goes this evening. Even if not quite everything works it will be<br>
a start.<br>
<p>
Thanks,<br>
<p>
Kevin<br>
<pre>
-- 
Kevin Charter              
<a href="mailto:charter@cs.rice.edu">charter@cs.rice.edu</a> | charter@cs.ualberta.ca
<a href="http://www.cs.rice.edu/~charter">http://www.cs.rice.edu/~charter</a> | http://www.cs.ualberta.ca/~charter
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0047.html">Panos Katsaloulis: "Re: what scanner is supported better by current sane"</a>
<li> <b>Previous message:</b> <a href="0045.html">Alexey Zilber: "Re: ACARD scsi w/ 620S weirdness"</a>
<li> <b>In reply to:</b> <a href="0039.html">Petter Reinholdtsen: "Re: Prisa 620s; SnapScan good news and bad news"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
