<!-- received="Thu Sep  9 07:17:19 1999 PDT" -->
<!-- sent="Thu, 9 Sep 1999 15:18:12 +0100" -->
<!-- name="Daniel James" -->
<!-- email="daniel@mondodesigno.com" -->
<!-- subject="RE: Need Install Hint." -->
<!-- id="199909091420.PAA01666@mail.teleregion.co.uk" -->
<!-- inreplyto="" -->
<title>sane-devel: RE: Need Install Hint.</title>
<h1>RE: Need Install Hint.</h1>
<b>Daniel James</b> (<a href="mailto:daniel@mondodesigno.com"><i>daniel@mondodesigno.com</i></a>)<br>
<i>Thu, 9 Sep 1999 15:18:12 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#52">[ date ]</a><a href="index.html#52">[ thread ]</a><a href="subject.html#52">[ subject ]</a><a href="author.html#52">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0053.html">Petter Reinholdtsen: "Net scanning"</a>
<li> <b>Previous message:</b> <a href="0051.html">Stefan Rutzinger: "Re: DTC3181 under Linux"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Upgrade to RedHat 6.0.  It does all that work for you, and you get a <br>
choice of lovely GUI's too.  <a href="http://www.cheapbytes.com">http://www.cheapbytes.com</a> has the <br>
best prices for GPL CD's I've found - two US dollars, I believe.<br>
<p>
Then (assuming you have an Intel box) you can download RPM's of <br>
SANE for an easy install.<br>
<p>
Daniel <br>
_____________________<br>
bandwidth is a luxury... <br>
<a href="http://mondodesigno.com">http://mondodesigno.com</a><br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0053.html">Petter Reinholdtsen: "Net scanning"</a>
<li> <b>Previous message:</b> <a href="0051.html">Stefan Rutzinger: "Re: DTC3181 under Linux"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
