<!-- received="Fri Sep 10 08:10:33 1999 PDT" -->
<!-- sent="Fri, 10 Sep 1999 16:08:12 +0100" -->
<!-- name="Daniel James" -->
<!-- email="daniel@mondodesigno.com" -->
<!-- subject="Epson GT5000 with Adaptec 2906 working!" -->
<!-- id="99091016121700.03849@localhost" -->
<!-- inreplyto="" -->
<title>sane-devel: Epson GT5000 with Adaptec 2906 working!</title>
<h1>Epson GT5000 with Adaptec 2906 working!</h1>
<b>Daniel James</b> (<a href="mailto:daniel@mondodesigno.com"><i>daniel@mondodesigno.com</i></a>)<br>
<i>Fri, 10 Sep 1999 16:08:12 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#63">[ date ]</a><a href="index.html#63">[ thread ]</a><a href="subject.html#63">[ subject ]</a><a href="author.html#63">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0064.html">Oliver Rauch: "sane-umax-1.0.1-build-12 available"</a>
<li> <b>Previous message:</b> <a href="0062.html">Petter Reinholdtsen: "Re: Net scanning"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0067.html">John Vickers: "Re: Epson GT5000 with Adaptec 2906 working!"</a>
<li> <b>Reply:</b> <a href="0067.html">John Vickers: "Re: Epson GT5000 with Adaptec 2906 working!"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I twigged what I was doing wrong when someone said 'i've commented out every<br>
line in dll.conf except...'  Somehow I missed the instruction to comment out<br>
the other scanner names - once I did that, it worked first time.<br>
<p>
Thanks everyone and cheerio!  Off to sort out Midi patches next - another step<br>
on the path!<br>
<p>
Daniel<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0064.html">Oliver Rauch: "sane-umax-1.0.1-build-12 available"</a>
<li> <b>Previous message:</b> <a href="0062.html">Petter Reinholdtsen: "Re: Net scanning"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0067.html">John Vickers: "Re: Epson GT5000 with Adaptec 2906 working!"</a>
<li> <b>Reply:</b> <a href="0067.html">John Vickers: "Re: Epson GT5000 with Adaptec 2906 working!"</a>
<!-- reply="end" -->
</ul>
