<!-- received="Sun Sep 12 09:23:41 1999 PDT" -->
<!-- sent="Sun, 12 Sep 1999 11:18:08 -0500 (EST)" -->
<!-- name="Scott C. Knight" -->
<!-- email="scknight@indiana.edu" -->
<!-- subject="Mustek 600 II CD" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Mustek 600 II CD</title>
<h1>Mustek 600 II CD</h1>
<b>Scott C. Knight</b> (<a href="mailto:scknight@indiana.edu"><i>scknight@indiana.edu</i></a>)<br>
<i>Sun, 12 Sep 1999 11:18:08 -0500 (EST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#71">[ date ]</a><a href="index.html#71">[ thread ]</a><a href="subject.html#71">[ subject ]</a><a href="author.html#71">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0072.html">Petter Reinholdtsen: "Re: sane-umax-1.0.1-build-12 available"</a>
<li> <b>Previous message:</b> <a href="0070.html">Michael Temeschinko: "Trust IMAGERY 2400 SP"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
	Ok i have a scsi Mustek 600 II CD scanner i just got for free and<br>
i got sane and compiled it and it all worked, but heres my question, when<br>
i scan something in using xscanimage or xsane, it sorta scans by going<br>
down a bit, stopping going back jsut a tiny bi nd then going down some<br>
more and stopping and going down some more and stopping. While this scans,<br>
in MacOS it just goes straight down with higher res it deoes some stopping<br>
but doesnt go backwards at all. Im worried that the going back and forth<br>
so much might damage the scanner mechnaism or whatwever. IS this  a valid<br>
concern? OR is this howits supposed to go? Just in case anone wonders<br>
heres the part from cat /proc/scsi/scis that pertains to teh scanner.<br>
<p>
Host: scsi1 Channel: 00 Id: 02 Lun: 00<br>
  Vendor: SCANNER  Model:                  Rev: 2.01<br>
  Type:   Scanner                          ANSI SCSI revision: 01 CCS<br>
<p>
Also in /dev/ the scanner is /dev/sgd  Thanks for any help in advance<br>
<p>
	Scott Knight<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0072.html">Petter Reinholdtsen: "Re: sane-umax-1.0.1-build-12 available"</a>
<li> <b>Previous message:</b> <a href="0070.html">Michael Temeschinko: "Trust IMAGERY 2400 SP"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
