<!-- received="Mon Sep 13 04:43:33 1999 PDT" -->
<!-- sent="Mon, 13 Sep 1999 15:47:37 -0700 (MST)" -->
<!-- name="Nikolay N. Igotti" -->
<!-- email="inn@sparc.spb.su" -->
<!-- subject="Acer scanner + ACARD SCSI controller" -->
<!-- id="" -->
<!-- inreplyto="99091300360600.00639@dino.bedrock.lan" -->
<title>sane-devel: Acer scanner + ACARD SCSI controller</title>
<h1>Acer scanner + ACARD SCSI controller</h1>
<b>Nikolay N. Igotti</b> (<a href="mailto:inn@sparc.spb.su"><i>inn@sparc.spb.su</i></a>)<br>
<i>Mon, 13 Sep 1999 15:47:37 -0700 (MST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#78">[ date ]</a><a href="index.html#78">[ thread ]</a><a href="subject.html#78">[ subject ]</a><a href="author.html#78">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0079.html">John Vickers: "Where to get scanner cables/terminators in UK ?"</a>
<li> <b>Previous message:</b> <a href="0077.html">DeJay: "acer 320p + redhat 5.2"</a>
<li> <b>In reply to:</b> <a href="0077.html">DeJay: "acer 320p + redhat 5.2"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0083.html">Alexey Zilber: "Re: Acer scanner + ACARD SCSI controller"</a>
<li> <b>Reply:</b> <a href="0083.html">Alexey Zilber: "Re: Acer scanner + ACARD SCSI controller"</a>
<li> <b>Reply:</b> <a href="0086.html">Alexey Zilber: "Re: Acer scanner + ACARD SCSI controller"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
 Hello,<br>
Recently, I've bought new Acer scaner 620S with ACARD SCSI controller.<br>
It works good enough with Win95, but under linux with atp870u.o with<br>
turned on scanner insmod atp870u gives:<br>
________________________________________________________________________<br>
Sep 13 12:17:23 hell kernel: scsi0 : ACARD AEC-6710/6712 PCI Ultra/W<br>
SCSI-3 Adap<br>
ter Driver V1.0 <br>
Sep 13 12:17:23 hell kernel: scsi : 1 host.<br>
Sep 13 12:17:25 hell kernel: scsi : aborting command due to timeout : pid<br>
18, sc<br>
si0, channel 0, id 2, lun 0 0x12 00 00 00 ff 00 <br>
Sep 13 12:17:25 hell kernel:  workingu=1 last_cmd=2  quhdu=2 quendu=2  r<br>
0= 6 r <br>
1=2c r 2=cf r 3=12 r 4= 0 r 5= 0 r 6= 0 r 7=24 r 8= 0 r 9= 0 r a= 0 r b= 0<br>
r c= <br>
0 r d= 0 r e= 0 r f= 0 r10=36 r11=20 r12= 0 r13= 0 r14=18 r15= 2 r16=80<br>
r1c=a1 r<br>
1f=37 in_snd= 0  r20= 9 r22= 1 <br>
Sep 13 12:17:27 hell kernel: scsi : aborting command due to timeout : pid<br>
18, sc<br>
si0, channel 0, id 2, lun 0 0x12 00 00 00 ff 00 <br>
Sep 13 12:17:27 hell kernel:  workingu=1 last_cmd=2  quhdu=2 quendu=2  r<br>
0= 6 r <br>
1=2c r 2=cf r 3=12 r 4= 0 r 5= 0 r 6= 0 r 7=24 r 8= 0 r 9= 0 r a= 0 r b= 0<br>
r c= <br>
0 r d= 0 r e= 0 r f= 0 r10=36 r11=20 r12= 0 r13= 0 r14=18 r15= 2 r16=80<br>
r1c=a1 r<br>
1f=37 in_snd= 0  r20= 9 r22= 1 <br>
Sep 13 12:17:27 hell kernel: SCSI host 0 abort (pid 18) timed out -<br>
resetting<br>
Sep 13 12:17:27 hell kernel: SCSI bus is being reset for host 0 channel 0.<br>
Sep 13 12:17:27 hell kernel: SCSI host 0 channel 0 reset (pid 18) timed<br>
out - tr<br>
ying harder<br>
Sep 13 12:17:27 hell kernel: SCSI bus is being reset for host 0 channel 0.<br>
________________________________________________________________<br>
With turned off scanner insmod OK, but I can't add scanner with <br>
echo ".."&gt;/proc/scsi/scsi.<br>
Maybe some ideas.<br>
I don't want to buy new SCSI controller, as ACARD already supported by<br>
kernel.<br>
Ideas, suggestions?<br>
<p>
  Nikolay.<br>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0079.html">John Vickers: "Where to get scanner cables/terminators in UK ?"</a>
<li> <b>Previous message:</b> <a href="0077.html">DeJay: "acer 320p + redhat 5.2"</a>
<li> <b>In reply to:</b> <a href="0077.html">DeJay: "acer 320p + redhat 5.2"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0083.html">Alexey Zilber: "Re: Acer scanner + ACARD SCSI controller"</a>
<li> <b>Reply:</b> <a href="0083.html">Alexey Zilber: "Re: Acer scanner + ACARD SCSI controller"</a>
<li> <b>Reply:</b> <a href="0086.html">Alexey Zilber: "Re: Acer scanner + ACARD SCSI controller"</a>
<!-- reply="end" -->
</ul>
