<!-- received="Mon Sep 13 10:14:11 1999 PDT" -->
<!-- sent="Mon, 13 Sep 1999 21:18:36 -0700 (MST)" -->
<!-- name="Nikolay N. Igotti" -->
<!-- email="inn@sparc.spb.su" -->
<!-- subject="Re: Acer scanner + ACARD SCSI controller" -->
<!-- id="" -->
<!-- inreplyto="s7dcdab0.012@mail.batesww.com" -->
<title>sane-devel: Re: Acer scanner + ACARD SCSI controller</title>
<h1>Re: Acer scanner + ACARD SCSI controller</h1>
<b>Nikolay N. Igotti</b> (<a href="mailto:inn@sparc.spb.su"><i>inn@sparc.spb.su</i></a>)<br>
<i>Mon, 13 Sep 1999 21:18:36 -0700 (MST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#84">[ date ]</a><a href="index.html#84">[ thread ]</a><a href="subject.html#84">[ subject ]</a><a href="author.html#84">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0085.html">Jonathan A. Buzzard: "Re: Where to get scanner cables/terminators in UK ?"</a>
<li> <b>Previous message:</b> <a href="0083.html">Alexey Zilber: "Re: Acer scanner + ACARD SCSI controller"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Mon, 13 Sep 1999, Alexey Zilber wrote:<br>
<p>
<i>&gt; Hmmm,  could be the fact that that scanner doesn't ship with a terminator.  I also noticed a sad fact.  The ACARD scsi card that ships with the scanner is not a standard ACARD.  I myself experimented with </i><br>
<i>&gt; the NT drivers from ACARD, and while they detected the card, they</i><br>
<i>&gt; couldn't "see" the scanner, and then promptly hung the NT box.</i><br>
<i>&gt; I assume this is the same prob under linux.  </i><br>
<i>&gt; those drivers weren't designed for that particular card.  I could be</i><br>
<i>&gt; wrong though.  If you have a 25pin active terminator laying about</i><br>
<i>&gt; somewhere I'd hook it up to the scanner to test it.</i><br>
I think that terminator is embedded to the scaner, as it works good enough<br>
under Win95. And there's no place on scanner to put it :).<br>
It connected with SCSI card by LPT-like connector.<br>
I think that problem is that this scaner/card is not _real_ SCSI device,<br>
and standard SCSI init process failed on it.<br>
 <br>
 Nikolay.<br>
<p>
<p>
<i>&gt; </i><br>
<i>&gt; &gt;&gt;&gt; "Nikolay N. Igotti" &lt;<a href="mailto:inn@sparc.spb.su">inn@sparc.spb.su</a>&gt; 9/13/99 6:47:37 PM &gt;&gt;&gt;</i><br>
<i>&gt;  Hello,</i><br>
<i>&gt; Recently, I've bought new Acer scaner 620S with ACARD SCSI controller.</i><br>
<i>&gt; It works good enough with Win95, but under linux with atp870u.o with</i><br>
<i>&gt; turned on scanner insmod atp870u gives:</i><br>
<i>&gt; ________________________________________________________________________</i><br>
<i>&gt; Sep 13 12:17:23 hell kernel: scsi0 : ACARD AEC-6710/6712 PCI Ultra/W</i><br>
<i>&gt; SCSI-3 Adap</i><br>
<i>&gt; ter Driver V1.0 </i><br>
<i>&gt; Sep 13 12:17:23 hell kernel: scsi : 1 host.</i><br>
<i>&gt; Sep 13 12:17:25 hell kernel: scsi : aborting command due to timeout : pid</i><br>
<i>&gt; 18, sc</i><br>
<i>&gt; si0, channel 0, id 2, lun 0 0x12 00 00 00 ff 00 </i><br>
<i>&gt; Sep 13 12:17:25 hell kernel:  workingu=1 last_cmd=2  quhdu=2 quendu=2  r</i><br>
<i>&gt; 0= 6 r </i><br>
<i>&gt; 1=2c r 2=cf r 3=12 r 4= 0 r 5= 0 r 6= 0 r 7=24 r 8= 0 r 9= 0 r a= 0 r b= 0</i><br>
<i>&gt; r c= </i><br>
<i>&gt; 0 r d= 0 r e= 0 r f= 0 r10=36 r11=20 r12= 0 r13= 0 r14=18 r15= 2 r16=80</i><br>
<i>&gt; r1c=a1 r</i><br>
<i>&gt; 1f=37 in_snd= 0  r20= 9 r22= 1 </i><br>
<i>&gt; Sep 13 12:17:27 hell kernel: scsi : aborting command due to timeout : pid</i><br>
<i>&gt; 18, sc</i><br>
<i>&gt; si0, channel 0, id 2, lun 0 0x12 00 00 00 ff 00 </i><br>
<i>&gt; Sep 13 12:17:27 hell kernel:  workingu=1 last_cmd=2  quhdu=2 quendu=2  r</i><br>
<i>&gt; 0= 6 r </i><br>
<i>&gt; 1=2c r 2=cf r 3=12 r 4= 0 r 5= 0 r 6= 0 r 7=24 r 8= 0 r 9= 0 r a= 0 r b= 0</i><br>
<i>&gt; r c= </i><br>
<i>&gt; 0 r d= 0 r e= 0 r f= 0 r10=36 r11=20 r12= 0 r13= 0 r14=18 r15= 2 r16=80</i><br>
<i>&gt; r1c=a1 r</i><br>
<i>&gt; 1f=37 in_snd= 0  r20= 9 r22= 1 </i><br>
<i>&gt; Sep 13 12:17:27 hell kernel: SCSI host 0 abort (pid 18) timed out -</i><br>
<i>&gt; resetting</i><br>
<i>&gt; Sep 13 12:17:27 hell kernel: SCSI bus is being reset for host 0 channel 0.</i><br>
<i>&gt; Sep 13 12:17:27 hell kernel: SCSI host 0 channel 0 reset (pid 18) timed</i><br>
<i>&gt; out - tr</i><br>
<i>&gt; ying harder</i><br>
<i>&gt; Sep 13 12:17:27 hell kernel: SCSI bus is being reset for host 0 channel 0.</i><br>
<i>&gt; ________________________________________________________________</i><br>
<i>&gt; With turned off scanner insmod OK, but I can't add scanner with </i><br>
<i>&gt; echo ".."&gt;/proc/scsi/scsi.</i><br>
<i>&gt; Maybe some ideas.</i><br>
<i>&gt; I don't want to buy new SCSI controller, as ACARD already supported by</i><br>
<i>&gt; kernel.</i><br>
<i>&gt; Ideas, suggestions?</i><br>
<i>&gt; </i><br>
<i>&gt;   Nikolay.</i><br>
<i>&gt; </i><br>
<i>&gt; </i><br>
<i>&gt; </i><br>
<i>&gt; </i><br>
<i>&gt; --</i><br>
<i>&gt; Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a> </i><br>
<i>&gt; To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a></i><br>
<i>&gt; </i><br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0085.html">Jonathan A. Buzzard: "Re: Where to get scanner cables/terminators in UK ?"</a>
<li> <b>Previous message:</b> <a href="0083.html">Alexey Zilber: "Re: Acer scanner + ACARD SCSI controller"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
