<!-- received="Mon Sep 13 10:49:51 1999 PDT" -->
<!-- sent="Mon, 13 Sep 1999 18:24:15 +0100" -->
<!-- name="Jonathan A. Buzzard" -->
<!-- email="jonathan@buzzard.org.uk" -->
<!-- subject="Re: Where to get scanner cables/terminators in UK ?" -->
<!-- id="E11QZpw-0004sI-00@hex.buzzard.org.uk" -->
<!-- inreplyto="199909131244.FAA09746@panda.mostang.com" -->
<title>sane-devel: Re: Where to get scanner cables/terminators in UK ?</title>
<h1>Re: Where to get scanner cables/terminators in UK ?</h1>
<b>Jonathan A. Buzzard</b> (<a href="mailto:jonathan@buzzard.org.uk"><i>jonathan@buzzard.org.uk</i></a>)<br>
<i>Mon, 13 Sep 1999 18:24:15 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#85">[ date ]</a><a href="index.html#85">[ thread ]</a><a href="subject.html#85">[ subject ]</a><a href="author.html#85">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0086.html">Alexey Zilber: "Re: Acer scanner + ACARD SCSI controller"</a>
<li> <b>Previous message:</b> <a href="0084.html">Nikolay N. Igotti: "Re: Acer scanner + ACARD SCSI controller"</a>
<li> <b>In reply to:</b> <a href="0080.html">Steve Darrall: "Re: Where to get scanner cables/terminators in UK ?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<a href="mailto:steve@haagen-dazs.org">steve@haagen-dazs.org</a> said:<br>
<i>&gt; I'm not sure how many of those cables exist, your best bet would</i><br>
<i>&gt; probably be  either RS Components (the UK site is <a href="http://rswww.com">http://rswww.com</a>) or</i><br>
<i>&gt; Blackbox (<a href="http://www.blackbox.co.uk/">http://www.blackbox.co.uk/</a>). </i><br>
<p>
Try Maplin they stock a wide range of SCSI cables which include a number<br>
of 25-way D cables.<br>
<p>
<p>
JAB.<br>
<p>
<p>
<pre>
-- 
Jonathan A. Buzzard                 Email: <a href="mailto:jonathan@buzzard.org.uk">jonathan@buzzard.org.uk</a>
Northumberland, United Kingdom.       Tel: +44(0)1661-832195
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0086.html">Alexey Zilber: "Re: Acer scanner + ACARD SCSI controller"</a>
<li> <b>Previous message:</b> <a href="0084.html">Nikolay N. Igotti: "Re: Acer scanner + ACARD SCSI controller"</a>
<li> <b>In reply to:</b> <a href="0080.html">Steve Darrall: "Re: Where to get scanner cables/terminators in UK ?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
