<!-- received="Wed Sep 22 19:26:49 1999 PDT" -->
<!-- sent="Wed, 22 Sep 1999 22:29:05 -0400" -->
<!-- name="Fred Willingham" -->
<!-- email="fcw@worldpath.net" -->
<!-- subject="Re: gimp and xsane" -->
<!-- id="" -->
<!-- inreplyto="gimp and xsane" -->
<title>sane-devel: Re: gimp and xsane</title>
<h1>Re: gimp and xsane</h1>
<b>Fred Willingham</b> (<a href="mailto:fcw@worldpath.net"><i>fcw@worldpath.net</i></a>)<br>
<i>Wed, 22 Sep 1999 22:29:05 -0400</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#146">[ date ]</a><a href="index.html#146">[ thread ]</a><a href="subject.html#146">[ subject ]</a><a href="author.html#146">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0147.html">PAILOTT@aol.com: "Tamarack Scanner"</a>
<li> <b>Previous message:</b> <a href="0145.html">Lee Bartolotti: "Re: gimp and xsane"</a>
<li> <b>Maybe in reply to:</b> <a href="0131.html">Robert Schwebel: "gimp and xsane"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Lee Bartolotti wrote:<br>
<p>
<i>&gt; Hi,</i><br>
<i>&gt;</i><br>
<i>&gt; &gt; Fred Willingham wrote:</i><br>
<i>&gt;</i><br>
<i>&gt; &gt; While we're roughly on the subject: What would a person have to do to get</i><br>
<i>&gt; &gt; XSane to work as a plug-in for Gimp 1.1.9?</i><br>
<i>&gt; &gt;</i><br>
<i>&gt;</i><br>
<i>&gt; I am using Xsane (latest version) with gimp1.1.9 on an SGI INDIGO ELAN</i><br>
<i>&gt; R4400 running IRIX 6.5.4m.  It seems to work fine with the Microtek</i><br>
<i>&gt; V6USL scanner.  After building Xsane, all I had to do was a soft link</i><br>
<i>&gt; from</i><br>
<i>&gt;</i><br>
<i>&gt;    /usr/local/bin/xsane  to  ~/.gimp-1.1/plug-ins/xsane</i><br>
<i>&gt;</i><br>
<i>&gt; I did the same for xscanimage (sane 1.0.1).</i><br>
<i>&gt;</i><br>
<i>&gt; Lee Bartolotti</i><br>
<i>&gt;</i><br>
<i>&gt; --</i><br>
<i>&gt; Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a></i><br>
<i>&gt; To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a></i><br>
<p>
Could it be the way I compiled it? I have tried making the link, but I got a<br>
message from Gimp about "this plug-in uses an older version of the plug-in<br>
interface," or similar.<br>
<p>
-F<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0147.html">PAILOTT@aol.com: "Tamarack Scanner"</a>
<li> <b>Previous message:</b> <a href="0145.html">Lee Bartolotti: "Re: gimp and xsane"</a>
<li> <b>Maybe in reply to:</b> <a href="0131.html">Robert Schwebel: "gimp and xsane"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
