<!-- received="Fri Sep 24 11:23:38 1999 PDT" -->
<!-- sent="Fri, 24 Sep 1999 18:30:47 +0100 (BST)" -->
<!-- name="Tim Waugh" -->
<!-- email="tim@cyberelk.demon.co.uk" -->
<!-- subject="Re: umax parallel port scanners - how to log protocol" -->
<!-- id="" -->
<!-- inreplyto="99092412312701.00433@macx46" -->
<title>sane-devel: Re: umax parallel port scanners - how to log protocol</title>
<h1>Re: umax parallel port scanners - how to log protocol</h1>
<b>Tim Waugh</b> (<a href="mailto:tim@cyberelk.demon.co.uk"><i>tim@cyberelk.demon.co.uk</i></a>)<br>
<i>Fri, 24 Sep 1999 18:30:47 +0100 (BST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#155">[ date ]</a><a href="index.html#155">[ thread ]</a><a href="subject.html#155">[ subject ]</a><a href="author.html#155">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0156.html">regis rampnoux: "RE: Sane on FreeBSD"</a>
<li> <b>Previous message:</b> <a href="0154.html">Dmitry Veprintsev: "umax parallel port scanners - how to log protocol"</a>
<li> <b>In reply to:</b> <a href="0154.html">Dmitry Veprintsev: "umax parallel port scanners - how to log protocol"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0168.html">Firebeard: "Re: umax parallel port scanners - how to log protocol"</a>
<li> <b>Reply:</b> <a href="0168.html">Firebeard: "Re: umax parallel port scanners - how to log protocol"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Fri, 24 Sep 1999, Dmitry Veprintsev wrote:<br>
<p>
<i>&gt; i am using astra 1220p from w95 running in the VMWare (www.vmware.com)</i><br>
<i>&gt; window on my linux laptop. So it is possible to log all the</i><br>
<i>&gt; communication via papport (i hope there should exist papport version</i><br>
<i>&gt; with communication logging) .</i><br>
<p>
I expect you'll find that VMware is writing straight to the I/O ports and<br>
not going through parport.<br>
<p>
Tim.<br>
*/<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0156.html">regis rampnoux: "RE: Sane on FreeBSD"</a>
<li> <b>Previous message:</b> <a href="0154.html">Dmitry Veprintsev: "umax parallel port scanners - how to log protocol"</a>
<li> <b>In reply to:</b> <a href="0154.html">Dmitry Veprintsev: "umax parallel port scanners - how to log protocol"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0168.html">Firebeard: "Re: umax parallel port scanners - how to log protocol"</a>
<li> <b>Reply:</b> <a href="0168.html">Firebeard: "Re: umax parallel port scanners - how to log protocol"</a>
<!-- reply="end" -->
</ul>
