<!-- received="Sat Sep 25 12:43:45 1999 PDT" -->
<!-- sent="Sat, 25 Sep 1999 15:41:21 -0400" -->
<!-- name="Rick Knebel" -->
<!-- email="rknebel@uplink.net" -->
<!-- subject="Re: sane and freebsd 3.2" -->
<!-- id="" -->
<!-- inreplyto="XFMail.990925213448.regisr@regix.com" -->
<title>sane-devel: Re: sane and freebsd 3.2</title>
<h1>Re: sane and freebsd 3.2</h1>
<b>Rick Knebel</b> (<a href="mailto:rknebel@uplink.net"><i>rknebel@uplink.net</i></a>)<br>
<i>Sat, 25 Sep 1999 15:41:21 -0400</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#162">[ date ]</a><a href="index.html#162">[ thread ]</a><a href="subject.html#162">[ subject ]</a><a href="author.html#162">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0163.html">Michele Bini: "Re: ppSCSI and Microtek Phantom 330 CX"</a>
<li> <b>Previous message:</b> <a href="0161.html">regis rampnoux: "RE: sane and freebsd 3.2"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Sat, Sep 25, 1999 at 09:34:48PM +0200, regis rampnoux wrote:<br>
<i>&gt; </i><br>
<i>&gt; On 25-Sep-99 Rick Knebel wrote:</i><br>
<i>&gt;                                                                           </i><br>
<i>&gt; &gt; i have posted before about my scanner being recognized on bootup as pass4    </i><br>
<i>&gt; &gt; but not having a /dev/pass4 in the dev directory.                            </i><br>
<i>&gt; &gt; It will not make a pass4 even if I try to make it. </i><br>
<i>&gt; </i><br>
<i>&gt; You have tried to make it by thie following command as root?:</i><br>
<i>&gt; </i><br>
<i>&gt; cd /dev</i><br>
<i>&gt; sh MAKEDEV pass5</i><br>
<p>
Yes, I sort of figured that out on my own after thinking about it for<br>
awhile.<br>
But, thanks for replying.<br>
<p>
My problem now is that even though I put /dev/pass4 in my umax config file,<br>
whenever I start xscaniage I get this message in my dmesg, <br>
<p>
xptioctl: pass driver is not in the kernel<br>
xptioctl: put "device pass0" in your kernel config file   <br>
<p>
<p>
I obviously have device pass0 in my kernal so i do not now what to make out<br>
of this.<br>
<p>
Thanks<br>
Rick<br>
<p>
<p>
<p>
<p>
 <br>
<i>&gt; (pass5 because you want 5 entries pass0 to pass4)</i><br>
<i>&gt; </i><br>
<i>&gt;                         </i><br>
<i>&gt; </i><br>
<i>&gt; ---</i><br>
<i>&gt; &lt;regisr&gt;       <a href="mailto:regisr@regix.com">regisr@regix.com</a>     <a href="http://www.regix.com/">http://www.regix.com/</a></i><br>
<i>&gt; </i><br>
<i>&gt; </i><br>
<i>&gt; --</i><br>
<i>&gt; Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a></i><br>
<i>&gt; To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a></i><br>
<i>&gt; </i><br>
<p>
<pre>
-- 
Rick Knebel
<a href="mailto:rknebel@uplink.net">rknebel@uplink.net</a>
<a href="http://rknebel.uplink.net">http://rknebel.uplink.net</a>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0163.html">Michele Bini: "Re: ppSCSI and Microtek Phantom 330 CX"</a>
<li> <b>Previous message:</b> <a href="0161.html">regis rampnoux: "RE: sane and freebsd 3.2"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
