<!-- received="Sun Sep 26 10:24:47 1999 PDT" -->
<!-- sent="Sun, 26 Sep 1999 17:52:08 +0100 (BST)" -->
<!-- name="Tim Waugh" -->
<!-- email="tim@cyberelk.demon.co.uk" -->
<!-- subject="Re: umax parallel port scanners - how to log protocol" -->
<!-- id="" -->
<!-- inreplyto="Pine.SGI.4.05.9909261704340.227729-100000@ind1.mrc-lmb.cam.ac.uk" -->
<title>sane-devel: Re: umax parallel port scanners - how to log protocol</title>
<h1>Re: umax parallel port scanners - how to log protocol</h1>
<b>Tim Waugh</b> (<a href="mailto:tim@cyberelk.demon.co.uk"><i>tim@cyberelk.demon.co.uk</i></a>)<br>
<i>Sun, 26 Sep 1999 17:52:08 +0100 (BST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#171">[ date ]</a><a href="index.html#171">[ thread ]</a><a href="subject.html#171">[ subject ]</a><a href="author.html#171">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0172.html">Marc C. Poulin: "problems with sane on solaris"</a>
<li> <b>Previous message:</b> <a href="0170.html">Dmitry Veprintsev: "Re: umax parallel port scanners - how to log protocol"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Sun, 26 Sep 1999, Dmitry Veprintsev wrote:<br>
<p>
<i>&gt; i am using the latest - rc1 of vmware 1.1 (it was working in all beta</i><br>
<i>&gt; 1.1). it really does connect via parport (i had to load it to get</i><br>
<i>&gt; things running, and for parallel port specify /dev/parport0 in</i><br>
<i>&gt; configuration).  vmware 1.0 has only unidirectinal support with</i><br>
<i>&gt; /dev/lp.</i><br>
<p>
I stand corrected then.  I must admit I haven't had a look at VMware<br>
recently.  Some months ago I'd been talking to a guy there about getting<br>
it to use ppdev, and there had been problems with speed in the first cut.<br>
I guess they sorted that.<br>
<p>
Nice work.  So it would be useful if ppdev would log all ioctls then?  I<br>
wonder if it would happen too fast for klogd to keep up..<br>
<p>
Tim.<br>
*/<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0172.html">Marc C. Poulin: "problems with sane on solaris"</a>
<li> <b>Previous message:</b> <a href="0170.html">Dmitry Veprintsev: "Re: umax parallel port scanners - how to log protocol"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
