<!-- received="Mon Sep 27 03:00:28 1999 PDT" -->
<!-- sent="Mon, 27 Sep 1999 11:07:00 +0100" -->
<!-- name="Dmitry Veprintsev" -->
<!-- email="dbv@mrc-lmb.cam.ac.uk" -->
<!-- subject="Re: umax parallel port scanners - how to log protocol" -->
<!-- id="3.0.6.32.19990927110700.00850280@ind1.mrc-lmb.cam.ac.uk" -->
<!-- inreplyto="Pine.LNX.4.10.9909261749240.15250-100000@cyberelk.elk.co.u" -->
<title>sane-devel: Re: umax parallel port scanners - how to log protocol</title>
<h1>Re: umax parallel port scanners - how to log protocol</h1>
<b>Dmitry Veprintsev</b> (<a href="mailto:dbv@mrc-lmb.cam.ac.uk"><i>dbv@mrc-lmb.cam.ac.uk</i></a>)<br>
<i>Mon, 27 Sep 1999 11:07:00 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#176">[ date ]</a><a href="index.html#176">[ thread ]</a><a href="subject.html#176">[ subject ]</a><a href="author.html#176">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0177.html">David Nelson: "Re: Typical "which scanner" question."</a>
<li> <b>Previous message:</b> <a href="0175.html">Jorge JUAN CHICO: "Typical "which scanner" question."</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0179.html">Tim Waugh: "Re: umax parallel port scanners - how to log protocol"</a>
<li> <b>Reply:</b> <a href="0179.html">Tim Waugh: "Re: umax parallel port scanners - how to log protocol"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I was going to ask on paprport-linux if the is a version/patch which allow<br>
to do logging of the communication via pp.<br>
then i realised that i am talking to right person already :)<br>
It can be a real problem if klog will not be able to cope. But since the<br>
scanner interface was supposed to work at different computers  and is not<br>
really resources hungry (there is a win3.11 version around), it should cope<br>
with slow-down. (i have a feeling it is half-speed from vmware compare to<br>
direct access). So i 'll be happy to give it a try if such logging version<br>
of parport exist. <br>
according to the parport mail-list archive, somebody already asked the same<br>
question, but i didnt find the answer. <br>
cheers, dima<br>
At 05:52 PM 9/26/99 +0100, you wrote:<br>
<i>&gt;On Sun, 26 Sep 1999, Dmitry Veprintsev wrote:</i><br>
<i>&gt;</i><br>
<i>&gt;&gt; i am using the latest - rc1 of vmware 1.1 (it was working in all beta</i><br>
<i>&gt;&gt; 1.1). it really does connect via parport (i had to load it to get</i><br>
<i>&gt;&gt; things running, and for parallel port specify /dev/parport0 in</i><br>
<i>&gt;&gt; configuration).  vmware 1.0 has only unidirectinal support with</i><br>
<i>&gt;&gt; /dev/lp.</i><br>
<i>&gt;</i><br>
<i>&gt;I stand corrected then.  I must admit I haven't had a look at VMware</i><br>
<i>&gt;recently.  Some months ago I'd been talking to a guy there about getting</i><br>
<i>&gt;it to use ppdev, and there had been problems with speed in the first cut.</i><br>
<i>&gt;I guess they sorted that.</i><br>
<i>&gt;</i><br>
<i>&gt;Nice work.  So it would be useful if ppdev would log all ioctls then?  I</i><br>
<i>&gt;wonder if it would happen too fast for klogd to keep up..</i><br>
<i>&gt;</i><br>
<i>&gt;Tim.</i><br>
<i>&gt;*/</i><br>
<i>&gt;</i><br>
<i>&gt;</i><br>
<i>&gt;--</i><br>
<i>&gt;Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a></i><br>
<i>&gt;To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a></i><br>
<i>&gt;</i><br>
==================================================================<br>
Dmitry Veprintsev, pH.D.;  <a href="mailto:dbv@mrc-lmb.cam.ac.uk">dbv@mrc-lmb.cam.ac.uk</a><br>
<a href="http://macx48.mrc-lmb.cam.ac.uk">http://macx48.mrc-lmb.cam.ac.uk</a> <br>
MRC Centre for Protein Engineering, Hills Rd., Cambidge, CB2 2QH, England <br>
fax:+44-1223-402140; ph +44-1223-402027<br>
PGP public key is on homepage.<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0177.html">David Nelson: "Re: Typical "which scanner" question."</a>
<li> <b>Previous message:</b> <a href="0175.html">Jorge JUAN CHICO: "Typical "which scanner" question."</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0179.html">Tim Waugh: "Re: umax parallel port scanners - how to log protocol"</a>
<li> <b>Reply:</b> <a href="0179.html">Tim Waugh: "Re: umax parallel port scanners - how to log protocol"</a>
<!-- reply="end" -->
</ul>
