<!-- received="Wed Feb  3 02:52:28 1999 PST" -->
<!-- sent="Wed, 3 Feb 1999 11:43:08 +0100 (CET)" -->
<!-- name="Francisco Rodrigo Escobedo Robles" -->
<!-- email="frer@vnet.es" -->
<!-- subject="Re: installing sane 1.00" -->
<!-- id=" " -->
<!-- inreplyto="Pine.LNX.3.91.990203092603.2615A-100000@skywalker.soft" -->
<title>sane-devel: Re: installing sane 1.00</title>
<h1>Re: installing sane 1.00</h1>
<b>Francisco Rodrigo Escobedo Robles</b> (<a href="mailto:frer@vnet.es"><i>frer@vnet.es</i></a>)<br>
<i>Wed, 3 Feb 1999 11:43:08 +0100 (CET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#13">[ date ]</a><a href="index.html#13">[ thread ]</a><a href="subject.html#13">[ subject ]</a><a href="author.html#13">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0014.html">=?iso-8859-1?Q?Fran=E7ois_Bonnin?=: "Programming Parallel Port"</a>
<li> <b>Previous message:</b> <a href="0012.html">Henk Verleye: "installing sane 1.00"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Wed, 3 Feb 1999, Henk Verleye wrote:<br>
<p>
<i>&gt; I have downloaded the files sane-1.00-1.i386.rpm and </i><br>
<i>&gt; sane-devel-1.00-1.i386.rpm from the SANE home site.  Now whenever I try </i><br>
<i>&gt; to install one of them ( rpm -i sane.etc.....i386.rpm ), I get the reply</i><br>
<i>&gt; "Data type 9 not supported".  It does not matter if I run rpm as root or </i><br>
<i>&gt; under my own user name.</i><br>
<p>
Update your RPM to a newer version. If you are using RH 4.X, there is a<br>
new one that deals with the more recent 5.X formats.<br>
<p>
Regards.<br>
<p>
<pre>
---
Francisco Rodrigo Escobedo Robles - <a href="mailto:sistemas@hipernet.es">mailto:sistemas@hipernet.es</a>
Administrador del Sistema, Hipernet - Virtual Net S.L.
Este mensaje expresa unicamente mi opinion en este momento
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0014.html">=?iso-8859-1?Q?Fran=E7ois_Bonnin?=: "Programming Parallel Port"</a>
<li> <b>Previous message:</b> <a href="0012.html">Henk Verleye: "installing sane 1.00"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
