<!-- received="Sat Feb 13 09:00:49 1999 PST" -->
<!-- sent="Sat, 13 Feb 1999 17:29:11 +0100" -->
<!-- name="Joachim Kunze" -->
<!-- email="joachim.kunze@metronet.de" -->
<!-- subject="Re: Linux 2.0 with Mustek ScanExpress 12000 SP" -->
<!-- id="99021317301002.00404@snoopy" -->
<!-- inreplyto="Linux 2.0 with Mustek ScanExpress 12000 SP" -->
<title>sane-devel: Re: Linux 2.0 with Mustek ScanExpress 12000 SP</title>
<h1>Re: Linux 2.0 with Mustek ScanExpress 12000 SP</h1>
<b>Joachim Kunze</b> (<a href="mailto:joachim.kunze@metronet.de"><i>joachim.kunze@metronet.de</i></a>)<br>
<i>Sat, 13 Feb 1999 17:29:11 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#67">[ date ]</a><a href="index.html#67">[ thread ]</a><a href="subject.html#67">[ subject ]</a><a href="author.html#67">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0068.html">Oliver Rauch: "[Fwd: Announcement: Linux sg driver for testing]"</a>
<li> <b>Previous message:</b> <a href="0066.html">John Richardson: "Re: Microtek x6el problems"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0073.html">a.bolsch@ic.ac.uk: "Re: Linux 2.0 with Mustek ScanExpress 12000 SP"</a>
<li> <b>Reply:</b> <a href="0073.html">a.bolsch@ic.ac.uk: "Re: Linux 2.0 with Mustek ScanExpress 12000 SP"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i> &gt;Joachim Kunze wrote:  &gt; </i><br>
<i>&gt;&gt; Hi, </i><br>
<i>&gt;&gt; </i><br>
<i>&gt;&gt; I really have severe problems with my scanner being recognized by SANE. </i><br>
<i>&gt;&gt; My first hostadapter is a adaptec 2940 uw. </i><br>
<i>&gt;&gt; I connected my se12000sp to my second scsi-hostadapter adaptec 1505 (ISA). </i><br>
<i>&gt;&gt; After recompiling my kernel with scsi generic support I get the following </i><br>
<i>&gt;&gt; output: </i><br>
<i>&gt;&gt; aha152x: processing commandline: ok </i><br>
<i>&gt;&gt; aha152x: BIOS test: passed, detected 1 controller(s) </i><br>
<i>&gt;&gt; aha152x0: vital data: PORTBASE=0x140, IRQ=9, SCSI ID=5, reconnect=enabled, parit </i><br>
<i>&gt;&gt; y=enabled, synchronous=disabled, delay=100, extended translation=disabled </i><br>
<i>&gt;&gt; aha152x: trying software interrupt, ok. </i><br>
<i>&gt;&gt; (scsi1) &lt;Adaptec AHA-294X Ultra SCSI host adapter&gt; found at PCI 8/0 </i><br>
<i>&gt;&gt; (scsi1) Wide Channel, SCSI ID=7, 16/255 SCBs </i><br>
<i>&gt;&gt; (scsi1) Downloading sequencer code... 419 instructions downloaded </i><br>
<i>&gt;&gt; scsi0 : Adaptec 152x SCSI driver; $Revision: 1.18 $ </i><br>
<i>&gt;&gt; scsi1 : Adaptec AHA274x/284x/294x (EISA/VLB/PCI-Fast SCSI) 5.1.4/3.2.4 </i><br>
<i>&gt;&gt;        &lt;Adaptec AHA-294X Ultra SCSI host adapter&gt; </i><br>
<i>&gt;&gt; scsi : 2 hosts. </i><br>
<i>&gt;&gt;   Vendor: SCANNER   Model:                   Rev: 2.02 </i><br>
<i>&gt;&gt;   Type:   Scanner                            ANSI SCSI revision: 01 CCS </i><br>
<i>&gt;&gt; Detected scsi generic sga at scsi0, channel 0, id 3, lun 0 </i><br>
<i>&gt;&gt;   Vendor: IBM       Model: DPES-31080        Rev: S31Q </i><br>
<i>&gt;&gt;   Type:   Direct-Access                      ANSI SCSI revision: 02 </i><br>
<i>&gt;&gt; Detected scsi disk sda at scsi1, channel 0, id 0, lun 0 </i><br>
<i>&gt;&gt; (scsi1:0:0:0) Synchronous at 5.0 Mbyte/sec, offset 15. </i><br>
<i>&gt;&gt; ....skipping...      Model: DCAS-32160W       Rev: S65A </i><br>
<i>&gt;&gt;   Type:   Direct-Access                      ANSI SCSI revision: 02 </i><br>
<i>&gt;&gt; Detected scsi disk sdb at scsi1, channel 0, id 1, lun 0 </i><br>
<i>&gt;&gt; (scsi1:0:1:0) Synchronous at 40.0 Mbyte/sec, offset 8. </i><br>
<i>&gt;&gt;   Vendor: PIONEER   Model: CD-ROM DR-U06S    Rev: 1.05 </i><br>
<i>&gt;&gt;   Type:   CD-ROM                             ANSI SCSI revision: 02 </i><br>
<i>&gt;&gt; (scsi1:0:4:0) Synchronous at 5.0 Mbyte/sec, offset 15. </i><br>
<i>&gt;&gt;   Vendor: ARCHIVE   Model: Python 28388-XXX  Rev: 4.98 </i><br>
<i>&gt;&gt;   Type:   Sequential-Access                  ANSI SCSI revision: 02 </i><br>
<i>&gt;&gt; (scsi1:0:6:0) Synchronous at 5.0 Mbyte/sec, offset 15. </i><br>
<i>&gt;&gt; scsi : detected 2 SCSI disks total. </i><br>
<i>&gt;&gt; SCSI device sda: hdwr sector= 512 bytes. Sectors= 2118144 [1034 MB] [1.0 GB] </i><br>
<i>&gt;&gt; SCSI device sdb: hdwr sector= 512 bytes. Sectors= 4226725 [2063 MB] [2.1 GB] </i><br>
<i>&gt;&gt; </i><br>
<i>&gt;&gt; I created a symbolic link from /dev/sg0 to /dev/scanner and adjusted the proper </i><br>
<i>&gt;&gt; rights. But the scanner was still not recognized neither by xscanimage nor </i><br>
<i>&gt;&gt; scanimage. </i><br>
<i>&gt;&gt; I also tried muscan with the same problem. </i><br>
<i>&gt;&gt; I use SuSE 5.3 with sane 0.73. </i><br>
<i>&gt;&gt; In our LUG no one has experience with scanners and after posting in the </i><br>
<i>&gt;&gt; newsgroups I didn't receive a answer which solves my problem . So I try this </i><br>
<i>&gt;&gt; way. </i><br>
<i>&gt;&gt; What went wrong? </i><br>
<i>&gt;&gt; -no second hostadapter? </i><br>
<i>&gt;&gt; -wrong scsi-id? </i><br>
<i>&gt;&gt; -wrong scanner? </i><br>
<i>&gt;&gt; </i><br>
<i>&gt;&gt; I would be very lucky if anybody could help me. </i><br>
<i>&gt;&gt; </i><br>
<i>&gt;&gt; Ciao, </i><br>
<i>&gt;&gt; </i><br>
<i>&gt;&gt; Joachim </i><br>
<i>&gt;&gt; </i><br>
<i>&gt;&gt; -- </i><br>
<i>&gt;&gt; Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a> </i><br>
<i>&gt;&gt; To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a> </i><br>
<i>&gt; </i><br>
<i>&gt;  Hi, </i><br>
<i>&gt; </i><br>
<i>&gt;You should download sane 1.0 from <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a> </i><br>
<i>&gt;Sane 0.73 doesn't support the SE12000SP. </i><br>
<i>&gt; </i><br>
<i>&gt;For SuSE 5.3 you need to install the libc6-librarys from CD and download </i><br>
<i>&gt;glibclib.rpm and install it. </i><br>
<i>&gt; </i><br>
<i>&gt;Bye </i><br>
<i>&gt; </i><br>
<i>&gt;Clemens </i><br>
<i>&gt; </i><br>
<i>&gt; </i><br>
<i>&gt;-- </i><br>
<i>&gt;Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a> </i><br>
<i>&gt;To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a></i><br>
<p>
Hi Clemens,<br>
<p>
thanks for your help. Your solution hit the point. With version 1.00 sane<br>
recognizes my mustek. Perhaps you also know a solution for my next problem:<br>
scanning with colors I always get horizontal stripes on my pictures ( it<br>
looks like partly lost colors). I tried the options linedistance-fix and <br>
lineart-fix, but no combination works. Playing a bit with the option<br>
strip-height didn't solve the problem. What can I do ?<br>
<p>
ciao,<br>
<p>
Joachim<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0068.html">Oliver Rauch: "[Fwd: Announcement: Linux sg driver for testing]"</a>
<li> <b>Previous message:</b> <a href="0066.html">John Richardson: "Re: Microtek x6el problems"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0073.html">a.bolsch@ic.ac.uk: "Re: Linux 2.0 with Mustek ScanExpress 12000 SP"</a>
<li> <b>Reply:</b> <a href="0073.html">a.bolsch@ic.ac.uk: "Re: Linux 2.0 with Mustek ScanExpress 12000 SP"</a>
<!-- reply="end" -->
</ul>
