<!-- received="Thu Feb 18 07:23:55 1999 PST" -->
<!-- sent="Thu, 18 Feb 1999 16:23:10 +0100" -->
<!-- name="Eyermann Horst PN KE DP T 11" -->
<!-- email="horst.eyermann@bch.siemens.de" -->
<!-- subject="AW: Microtek - Scanner and SCSI - Emulation over EPP" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: AW: Microtek - Scanner and SCSI - Emulation over EPP</title>
<h1>AW: Microtek - Scanner and SCSI - Emulation over EPP</h1>
<b>Eyermann Horst PN KE DP T 11</b> (<a href="mailto:horst.eyermann@bch.siemens.de"><i>horst.eyermann@bch.siemens.de</i></a>)<br>
<i>Thu, 18 Feb 1999 16:23:10 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#108">[ date ]</a><a href="index.html#108">[ thread ]</a><a href="subject.html#108">[ subject ]</a><a href="author.html#108">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0109.html">Jeff Evarts: "find-scanner finds nothing. NOT permissions"</a>
<li> <b>Previous message:</b> <a href="0107.html">Juha Sahakangas: "Re: Microtek - Scanner and SCSI - Emulation over EPP"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt; What SCSI emulation are you talking about? There is a IDE-SCSI</i><br>
<i>&gt; emulation in</i><br>
<i>&gt; linux kernel (which puts ide-devices look like scsi ones), but no any</i><br>
<i>&gt; paraller port scsi-systems.. except parport Zip-drives</i><br>
<i>&gt; </i><br>
	[Eyermann Horst PN KE DP T 11]  <br>
	I am not sure, that's why I am asking, but similar to Zip -<br>
drives, the  parallelport scanners are meant to have SCSI command over<br>
par port.<br>
	I do not know more about it, that's why I am asking for further<br>
details.<br>
	Perhaps someone just happens to know about resources where to<br>
find out more about parport / zip scsi driver.<br>
<p>
<p>
<p>
<p>
<i>&gt; I have microtek parallel port scanner which has scsi-command set, but</i><br>
<i>&gt; it</i><br>
<i>&gt; does NOT work with sane / linux. If anyone knows how to put this thing</i><br>
<i>&gt; work, i'll really appreciate it.</i><br>
<i>&gt; </i><br>
	[Eyermann Horst PN KE DP T 11]  <br>
	If you do have plenty of time, why not try to install the zip<br>
scsi emulation? (if it is a newer microtek scanner...)  In any case I<br>
would like to hear from you, what if you can find out more details. <br>
<p>
	I belive on the Microtek I read on the Microtek homepage about a<br>
Win 95 parport driver, which is SCSI - can you confirm that ?<br>
<p>
	Good luck<br>
<p>
	Horst<br>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0109.html">Jeff Evarts: "find-scanner finds nothing. NOT permissions"</a>
<li> <b>Previous message:</b> <a href="0107.html">Juha Sahakangas: "Re: Microtek - Scanner and SCSI - Emulation over EPP"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
