<!-- received="Thu Feb 25 13:00:52 1999 PST" -->
<!-- sent="Thu, 25 Feb 1999 16:01:00 -0500" -->
<!-- name="Matt Mozur" -->
<!-- email="mozur@emg.sms.siemens.com" -->
<!-- subject="Re: UMAX Astra 1200S lamp question" -->
<!-- id="9902252057.AA01845@beast.emg.sms.siemens.com" -->
<!-- inreplyto="UMAX Astra 1200S lamp question" -->
<title>sane-devel: Re: UMAX Astra 1200S lamp question</title>
<h1>Re: UMAX Astra 1200S lamp question</h1>
<b>Matt Mozur</b> (<a href="mailto:mozur@emg.sms.siemens.com"><i>mozur@emg.sms.siemens.com</i></a>)<br>
<i>Thu, 25 Feb 1999 16:01:00 -0500</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#180">[ date ]</a><a href="index.html#180">[ thread ]</a><a href="subject.html#180">[ subject ]</a><a href="author.html#180">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0181.html">Oliver Rauch: "Re: Porting SANE backends"</a>
<li> <b>Previous message:</b> <a href="0179.html">Wing T. Wong: "Re: UMAX Astra 1200S lamp question"</a>
<li> <b>Maybe in reply to:</b> <a href="0172.html">Zygo Blaxell: "UMAX Astra 1200S lamp question"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0187.html">Matt Mozur: "Re: UMAX Astra 1200S lamp question"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
This is a multi-part message in MIME format.<br>
<p>
------=_NextPart_000_01BE60D8.09D5EDD0<br>
Content-Type: text/plain; charset=ISO-8859-1<br>
Content-Transfer-Encoding: 7bit<br>
<p>
mmm... an interesting question - I'm not aware of a retail source<br>
for this type of lamp.  They are most often used in backlights<br>
for LCD panels, so I'll quess that the scanner amnufacturer will<br>
be the only practical source.<br>
<p>
mm<br>
<p>
----------<br>
<i>&gt; From: Wing T. Wong &lt;<a href="mailto:wtang7607@zippnet.net">wtang7607@zippnet.net</a>&gt;</i><br>
<i>&gt; To: <a href="mailto:sane-devel@mostang.com">sane-devel@mostang.com</a></i><br>
<i>&gt; Subject: Re: UMAX Astra 1200S lamp question</i><br>
<i>&gt; Date: Thursday, February 25, 1999 7:52 AM</i><br>
<i>&gt; </i><br>
<i>&gt; On the topic of the scanner, just bought a 1220S recently.. :)</i><br>
<i>&gt; </i><br>
<i>&gt; If the lamp does burn out or something, where do we go to buy a new one</i><br>
<i>&gt; and how would we go about installing it? (This might be off topic, so I</i><br>
<i>&gt; apologize)</i><br>
<i>&gt; </i><br>
<i>&gt; Wing.</i><br>
<i>&gt; </i><br>
<i>&gt; </i><br>
<i>&gt; On 25 Feb 1999, Zygo Blaxell wrote:</i><br>
<i>&gt; </i><br>
<i>&gt; &gt; In article &lt;<a href="mailto:9902251704.AA23776@beast.emg.sms.siemens.com">9902251704.AA23776@beast.emg.sms.siemens.com</a>&gt;,</i><br>
<i>&gt; &gt; Matt Mozur &lt;<a href="mailto:sane-devel@mostang.com">sane-devel@mostang.com</a>&gt; wrote:</i><br>
<i>&gt; &gt; &gt;I also have a 1220S - the lamp does stay on for a while, but</i><br>
eventually<br>
<i>&gt; &gt; &gt;does shut off.  it seems to be controlled by the scanner - as you</i><br>
said, <br>
<i>&gt; &gt; &gt;there doesn't seem to be any way to do it via the driver.</i><br>
<i>&gt; &gt; </i><br>
<i>&gt; &gt; It does shut off?  How long does this take?  I've left the scanner</i><br>
alone<br>
<i>&gt; &gt; at night and the next morning the lamp is still on.  Maybe it's getting</i><br>
<i>&gt; &gt; some stray SCSI commands across the bus and those are keeping the lamp</i><br>
on?<br>
<i>&gt; &gt; </i><br>
<i>&gt; &gt; &gt;Maybe I'll check the UMAX web site....</i><br>
<i>&gt; &gt; </i><br>
<i>&gt; &gt; It seems to be somewhat dead at the moment, at least from here.  </i><br>
<i>&gt; &gt; It's a little disturbing when a mailing list provides useful</i><br>
information<br>
<i>&gt; &gt; faster than a vendor's web site.  :-/</i><br>
<i>&gt; &gt; </i><br>
<i>&gt; &gt; &gt;P.S.  I believe that they use a cold cathode fluorescent lamp -</i><br>
nowadays<br>
<i>&gt; &gt; &gt;these lamps have lifetimes in excess of 25,000 hours to 50% luminance.</i><br>
<i>&gt; &gt; &gt;I've seen some lamps quoted now in excess of 40K hours.</i><br>
<i>&gt; &gt; </i><br>
<i>&gt; &gt; 25K hours is ~3 years.  Not quite solid-state, but close enough I</i><br>
guess...<br>
<i>&gt; &gt; </i><br>
<i>&gt; &gt; -- </i><br>
<i>&gt; &gt; Zygo Blaxell, Linux Engineer, Corel Corporation, <a href="mailto:zygob@corel.ca">zygob@corel.ca</a> (work),</i><br>
<i>&gt; &gt; <a href="mailto:zblaxell@furryterror.org">zblaxell@furryterror.org</a> (play).  It's my opinion, I tell you! Mine!</i><br>
All MINE!<br>
<i>&gt; &gt; Size of 'diff -Nurw [...] winehq corel' as of Thu Feb 25 12:14:00 EST</i><br>
1999<br>
<i>&gt; &gt; Lines/files:  In 38 / 1, Out 8116 / 149, Both 8079 / 148</i><br>
<i>&gt; &gt; </i><br>
<i>&gt; &gt; --</i><br>
<i>&gt; &gt; Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a></i><br>
<i>&gt; &gt; To unsubscribe: echo unsubscribe sane-devel | mail</i><br>
<a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a><br>
<i>&gt; &gt; </i><br>
<i>&gt; </i><br>
<i>&gt; </i><br>
<i>&gt; --</i><br>
<i>&gt; Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a></i><br>
<i>&gt; To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a></i><br>
------=_NextPart_000_01BE60D8.09D5EDD0<br>
Content-Type: text/html; charset=ISO-8859-1<br>
Content-Transfer-Encoding: quoted-printable<br>
<p>
<html><head></head><BODY bgcolor=3D"#FFFFFF"><p><font size=3D2 =
color=3D"#000000" face=3D"Arial">mmm... an interesting question - I'm =
not aware of a retail source<br>for this type of lamp. &nbsp;They are =
most often used in backlights<br>for LCD panels, so I'll quess that the =
scanner amnufacturer will<br>be the only practical =
source.<br><br>mm<br><br>----------<br>&gt; From: Wing T. Wong &lt;<font =
color=3D"#0000FF"><u>wtang7607@zippnet.net</u><font =
color=3D"#000000">&gt;<br>&gt; To: <font =
color=3D"#0000FF"><u>sane-devel@mostang.com</u><font =
color=3D"#000000"><br>&gt; Subject: Re: UMAX Astra 1200S lamp =
question<br>&gt; Date: Thursday, February 25, 1999 7:52 AM<br>&gt; =
<br>&gt; On the topic of the scanner, just bought a 1220S recently.. =
:)<br>&gt; <br>&gt; If the lamp does burn out or something, where do we =
go to buy a new one<br>&gt; and how would we go about installing it? =
(This might be off topic, so I<br>&gt; apologize)<br>&gt; <br>&gt; =
Wing.<br>&gt; <br>&gt; <br>&gt; On 25 Feb 1999, Zygo Blaxell =
wrote:<br>&gt; <br>&gt; &gt; In article &lt;<font =
color=3D"#0000FF"><u>9902251704.AA23776@beast.emg.sms.siemens.com</u><fon=
t color=3D"#000000">&gt;,<br>&gt; &gt; Matt Mozur &lt;<font =
color=3D"#0000FF"><u>sane-devel@mostang.com</u><font =
color=3D"#000000">&gt; wrote:<br>&gt; &gt; &gt;I also have a 1220S - the =
lamp does stay on for a while, but eventually<br>&gt; &gt; &gt;does shut =
off. &nbsp;it seems to be controlled by the scanner - as you said, =
<br>&gt; &gt; &gt;there doesn't seem to be any way to do it via the =
driver.<br>&gt; &gt; <br>&gt; &gt; It does shut off? &nbsp;How long does =
this take? &nbsp;I've left the scanner alone<br>&gt; &gt; at night and =
the next morning the lamp is still on. &nbsp;Maybe it's getting<br>&gt; =
&gt; some stray SCSI commands across the bus and those are keeping the =
lamp on?<br>&gt; &gt; <br>&gt; &gt; &gt;Maybe I'll check the UMAX web =
site....<br>&gt; &gt; <br>&gt; &gt; It seems to be somewhat dead at the =
moment, at least from here. &nbsp;<br>&gt; &gt; It's a little disturbing =
when a mailing list provides useful information<br>&gt; &gt; faster than =
a vendor's web site. &nbsp;:-/<br>&gt; &gt; <br>&gt; &gt; &gt;P.S. =
&nbsp;I believe that they use a cold cathode fluorescent lamp - =
nowadays<br>&gt; &gt; &gt;these lamps have lifetimes in excess of 25,000 =
hours to 50% luminance.<br>&gt; &gt; &gt;I've seen some lamps quoted now =
in excess of 40K hours.<br>&gt; &gt; <br>&gt; &gt; 25K hours is ~3 =
years. &nbsp;Not quite solid-state, but close enough I guess...<br>&gt; =
&gt; <br>&gt; &gt; -- <br>&gt; &gt; Zygo Blaxell, Linux Engineer, Corel =
Corporation, <font color=3D"#0000FF"><u>zygob@corel.ca</u><font =
color=3D"#000000"> (work),<br>&gt; &gt; <font =
color=3D"#0000FF"><u>zblaxell@furryterror.org</u><font =
color=3D"#000000"> (play). &nbsp;It's my opinion, I tell you! Mine! All =
MINE!<br>&gt; &gt; Size of 'diff -Nurw [...] winehq corel' as of Thu Feb =
25 12:14:00 EST 1999<br>&gt; &gt; Lines/files: &nbsp;In 38 / 1, Out 8116 =
/ 149, Both 8079 / 148<br>&gt; &gt; <br>&gt; &gt; --<br>&gt; &gt; Source =
code, list archive, and docs: <font =
color=3D"#0000FF"><u>http://www.mostang.com/sane/</u><font =
color=3D"#000000"><br>&gt; &gt; To unsubscribe: echo unsubscribe =
sane-devel | mail <font =
color=3D"#0000FF"><u>majordomo@mostang.com</u><font =
color=3D"#000000"><br>&gt; &gt; <br>&gt; <br>&gt; <br>&gt; --<br>&gt; =
Source code, list archive, and docs: <font =
color=3D"#0000FF"><u>http://www.mostang.com/sane/</u><font =
color=3D"#000000"><br>&gt; To unsubscribe: echo unsubscribe sane-devel | =
mail <font color=3D"#0000FF"><u>majordomo@mostang.com</u><font =
color=3D"#000000"></p>
</font></font></font></font></font></font></font></font></font></font></f=
ont></font></font></font></font></font></font></font></font></font></font=
></body></html>
------=_NextPart_000_01BE60D8.09D5EDD0--


--
Source code, list archive, and docs: http://www.mostang.com/sane/
To unsubscribe: echo unsubscribe sane-devel | mail majordomo@mostang.com
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0181.html">Oliver Rauch: "Re: Porting SANE backends"</a>
<li> <b>Previous message:</b> <a href="0179.html">Wing T. Wong: "Re: UMAX Astra 1200S lamp question"</a>
<li> <b>Maybe in reply to:</b> <a href="0172.html">Zygo Blaxell: "UMAX Astra 1200S lamp question"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0187.html">Matt Mozur: "Re: UMAX Astra 1200S lamp question"</a>
<!-- reply="end" -->
</ul>
