<!-- received="Sat Feb 27 03:41:17 1999 PST" -->
<!-- sent="Sat, 27 Feb 1999 12:40:02 +0100" -->
<!-- name="Petter Reinholdtsen" -->
<!-- email="pere@hungry.com" -->
<!-- subject="Re: Unofficial CVS branch relative to v1.00" -->
<!-- id="199902271140.MAA18551@mender.Cc.Uit.No" -->
<!-- inreplyto="Unofficial CVS branch relative to v1.00" -->
<title>sane-devel: Re: Unofficial CVS branch relative to v1.00</title>
<h1>Re: Unofficial CVS branch relative to v1.00</h1>
<b>Petter Reinholdtsen</b> (<a href="mailto:pere@hungry.com"><i>pere@hungry.com</i></a>)<br>
<i>Sat, 27 Feb 1999 12:40:02 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#198">[ date ]</a><a href="index.html#198">[ thread ]</a><a href="subject.html#198">[ subject ]</a><a href="author.html#198">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0199.html">Georg Huettenegger: "Re: horizontal stripes in your image"</a>
<li> <b>Previous message:</b> <a href="0197.html">Yuri Dario: "Re: Porting SANE backends"</a>
<li> <b>Maybe in reply to:</b> <a href="0164.html">Petter Reinholdtsen: "Unofficial CVS branch relative to v1.00"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
[Milon Firikis]<br>
<i>&gt; Maybe you should think releasing (after contacting David</i><br>
<i>&gt; Mosberger-Tang of course) this stuff since it looks that it fixes</i><br>
<i>&gt; some very nasty bugs... You may call it SANE-1.0p1 or whatever...</i><br>
<p>
I don't think I will make any unofficial releases yet.  I beleave it<br>
is better that I only collect and release patches for David to use in<br>
the real release.  I hope he find time for SANE soon. :-)<br>
<p>
[Nick Lamb]<br>
<i>&gt; How about my test option patch for the scanimage frontend? I posted</i><br>
<i>&gt; it in the expectation that perhaps someone would actually try it,</i><br>
<i>&gt; perhaps if the CVS SANE version included it finally someone would</i><br>
<i>&gt; take notice?</i><br>
<p>
I must have missed that patch.  I found it now.<br>
<p>
<i>&gt; A patch attached to this mail. I can also make it available for HTTP</i><br>
<i>&gt; if anyone asks.</i><br>
<p>
Please do.  It would make life easier for me.  It is hard to extract<br>
the base64 encoded file from the web interface<br>
&lt;URL:<a href="http://www.mostang.com/mail-archive/sane-devel/">http://www.mostang.com/mail-archive/sane-devel/</a>&gt;.<br>
<p>
<i>&gt; As far as I'm concerned the reaction I got to my test patch means</i><br>
<i>&gt; that NONE of the current SANE code works as described in the</i><br>
<i>&gt; standard, would anyone care to contradict me?</i><br>
<p>
No idea. :-(<br>
<pre>
-- 
##&gt;  Petter Reinholdtsen &lt;##    | <a href="mailto:pere@td.org.uit.no">pere@td.org.uit.no</a>
 O-  &lt;SCRIPT Language="Javascript"&gt;window.close()&lt;/SCRIPT&gt;
<a href="http://www.hungry.com/~pere/">http://www.hungry.com/~pere/</a>    | Go Mozilla, go! Go!
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0199.html">Georg Huettenegger: "Re: horizontal stripes in your image"</a>
<li> <b>Previous message:</b> <a href="0197.html">Yuri Dario: "Re: Porting SANE backends"</a>
<li> <b>Maybe in reply to:</b> <a href="0164.html">Petter Reinholdtsen: "Unofficial CVS branch relative to v1.00"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
