<!-- received="Sat Feb 27 12:30:36 1999 PST" -->
<!-- sent="Sat, 27 Feb 1999 20:29:04 +0000" -->
<!-- name="Dr. Andreas Bolsch" -->
<!-- email="Andreas.Bolsch@maths.nott.ac.uk" -->
<!-- subject="Re: horizontal stripes in your image" -->
<!-- id="" -->
<!-- inreplyto="horizontal stripes in your image" -->
<title>sane-devel: Re: horizontal stripes in your image</title>
<h1>Re: horizontal stripes in your image</h1>
<b>Dr. Andreas Bolsch</b> (<a href="mailto:Andreas.Bolsch@maths.nott.ac.uk"><i>Andreas.Bolsch@maths.nott.ac.uk</i></a>)<br>
<i>Sat, 27 Feb 1999 20:29:04 +0000</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#206">[ date ]</a><a href="index.html#206">[ thread ]</a><a href="subject.html#206">[ subject ]</a><a href="author.html#206">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0207.html">Svend Daugaard Pedersen: "Re: Epson backend"</a>
<li> <b>Previous message:</b> <a href="0205.html">David Mosberger-Tang: "Re: Epson backend"</a>
<li> <b>Maybe in reply to:</b> <a href="0092.html">Joachim Kunze: "horizontal stripes in your image"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Georg Huettenegger wrote:<br>
<i>&gt; </i><br>
<i>&gt; &gt; Georg Huettenegger wrote:</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt; &gt; &gt; recently I posted a problem with my mustek 12000 sp connected to an adaptec</i><br>
<i>&gt; &gt; &gt; &gt; 1505. In each scanned image I noticed horizontal stripes. First I thought</i><br>
<i>&gt; &gt; &gt; &gt; it's a problem of the beta-version of sane for musteks, but in fact</i><br>
<i>&gt; &gt; &gt; &gt; this is a problem of my scsi-adapter. The solution is, that the correct</i><br>
<i>&gt; &gt; &gt; &gt; scsi-parameters (in my system lilo-parameters) should sound like the following:</i><br>
<i>&gt; &gt; &gt; &gt;</i><br>
<i>&gt; &gt; &gt; &gt;       - disconnect:   no</i><br>
<i>&gt; &gt; &gt; &gt;       - init_sync:    no</i><br>
<i>&gt; &gt; &gt; &gt;</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt; &gt; Because it seems that other users have similar problems I would like to</i><br>
<i>&gt; &gt; &gt; ask what could help if the above settings do not help. I have a Symbios</i><br>
<i>&gt; &gt; &gt; Logic 53c810A which works great but the stripes wont go even if I do as</i><br>
<i>&gt; &gt; &gt; recommended above. Only scanning with backtracking turned on helps (but</i><br>
<i>&gt; &gt; &gt; needs 2-3x times longer).</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt; These problems probably refer to completely different scanners!</i><br>
<i>&gt; &gt; The newer 12000SP (denoted by ScanExpress) and the older one</i><br>
<i>&gt; &gt; (MFS-12000SP) have nothing to do with each other. For the SE</i><br>
<i>&gt; &gt; the backtracking switch is simply ignored because the scanner</i><br>
<i>&gt; &gt; doesn't support it. So the second problem report refers to MFS,</i><br>
<i>&gt; &gt; and the first to SE, I guess.</i><br>
<i>&gt; Well you are wright about this. I wrote my mail in a bit of a hurry </i><br>
<i>&gt; &gt; I've got an Adaptec aha1505 and a SE 12000SP but enabling disconnect</i><br>
<i>&gt; &gt; doesn't do any harm for me.</i><br>
<i>&gt; You mean it does not help?</i><br>
<p>
No, it doesn't help. Because it works anyway :-)<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0207.html">Svend Daugaard Pedersen: "Re: Epson backend"</a>
<li> <b>Previous message:</b> <a href="0205.html">David Mosberger-Tang: "Re: Epson backend"</a>
<li> <b>Maybe in reply to:</b> <a href="0092.html">Joachim Kunze: "horizontal stripes in your image"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
