<!-- received="Sat Feb 27 17:05:36 1999 PST" -->
<!-- sent="Sun, 28 Feb 1999 02:03:39 +0100" -->
<!-- name="Rene Vellekoop" -->
<!-- email="rmvlkoop@caiw.nl" -->
<!-- subject="Re: resolution option unknown" -->
<!-- id="" -->
<!-- inreplyto="resolution option unknown" -->
<title>sane-devel: Re: resolution option unknown</title>
<h1>Re: resolution option unknown</h1>
<b>Rene Vellekoop</b> (<a href="mailto:rmvlkoop@caiw.nl"><i>rmvlkoop@caiw.nl</i></a>)<br>
<i>Sun, 28 Feb 1999 02:03:39 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#218">[ date ]</a><a href="index.html#218">[ thread ]</a><a href="subject.html#218">[ subject ]</a><a href="author.html#218">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0219.html">Michael Sweet: "Re: Sane Logo"</a>
<li> <b>Previous message:</b> <a href="0217.html">David Mosberger-Tang: "Re: Small bug in frontend/preview.c"</a>
<li> <b>Maybe in reply to:</b> <a href="0130.html">Rene Vellekoop: "resolution option unknown"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
The usleep(100000) patch makes my scanner actually scan somethings and I even got<br>
xscanimage working fine. Unfortunally when I scan in mode 'color' the RGB lines are<br>
mixed up or something like that.<br>
<p>
While scanning the scanner makes an unsmooth noise.. Unlike the smooth one flow<br>
scanbuzz I used to hear with the original TWAIN drivers. However this does not seem<br>
to affect te grayscans.<br>
<p>
Anybody got an idea about the RGB problem?<br>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0219.html">Michael Sweet: "Re: Sane Logo"</a>
<li> <b>Previous message:</b> <a href="0217.html">David Mosberger-Tang: "Re: Small bug in frontend/preview.c"</a>
<li> <b>Maybe in reply to:</b> <a href="0130.html">Rene Vellekoop: "resolution option unknown"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
