<!-- received="Sun Feb 28 13:19:46 1999 PST" -->
<!-- sent="28 Feb 1999 16:18:29 -0500" -->
<!-- name="Zygo Blaxell" -->
<!-- email="u3nzrrvm@umail.furryterror.org" -->
<!-- subject="Re: UMAX Astra 1200S lamp question" -->
<!-- id="" -->
<!-- inreplyto="UMAX Astra 1200S lamp question" -->
<title>sane-devel: Re: UMAX Astra 1200S lamp question</title>
<h1>Re: UMAX Astra 1200S lamp question</h1>
<b>Zygo Blaxell</b> (<a href="mailto:u3nzrrvm@umail.furryterror.org"><i>u3nzrrvm@umail.furryterror.org</i></a>)<br>
<i>28 Feb 1999 16:18:29 -0500</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#230">[ date ]</a><a href="index.html#230">[ thread ]</a><a href="subject.html#230">[ subject ]</a><a href="author.html#230">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0231.html">David Mosberger-Tang: "Re: Epson backend"</a>
<li> <b>Previous message:</b> <a href="0229.html">Zygo Blaxell: "Re: UMAX Astra 1200S lamp question"</a>
<li> <b>Maybe in reply to:</b> <a href="0172.html">Zygo Blaxell: "UMAX Astra 1200S lamp question"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0240.html">Oliver Rauch: "Re: UMAX Astra 1200S lamp question"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
In article &lt;<a href="mailto:36D5A5F5.446B9B3D@earthlink.net">36D5A5F5.446B9B3D@earthlink.net</a>&gt;,<br>
Jeff Evarts  &lt;<a href="mailto:sane-devel@mostang.com">sane-devel@mostang.com</a>&gt; wrote:<br>
<i>&gt;Now, if I could only get SANE to FIND the darn thing. (I have</i><br>
<i>&gt;been less lucky than you in getting SANE to work)</i><br>
<p>
I have had problems where after two or three hours of scanning, especially<br>
if SANE is aborted for any reason, the scanner will become a "non-CCS<br>
Disk" according to `cdrecord -scanbus` and once or twice hangs the entire<br>
SCSI bus and forces a watchdog reboot.  Using the 'add-single-device'<br>
command in /proc/scsi/scsi trick doesn't work, but power-cycling the<br>
scanner does.  I'm waiting for it to crash again so I can start trying<br>
to fire SCSI bus resets at it.<br>
<p>
<pre>
-- 
Zygo Blaxell, Linux Engineer, Corel Corporation, <a href="mailto:zygob@corel.ca">zygob@corel.ca</a> (work),
<a href="mailto:zblaxell@furryterror.org">zblaxell@furryterror.org</a> (play).  It's my opinion, I tell you! Mine! All MINE!
Size of 'diff -Nurw [...] winehq corel' as of Sun Feb 28 15:14:00 EST 1999
Lines/files:  In 10340 / 174, Out 5059 / 83, Both 15139 / 226
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0231.html">David Mosberger-Tang: "Re: Epson backend"</a>
<li> <b>Previous message:</b> <a href="0229.html">Zygo Blaxell: "Re: UMAX Astra 1200S lamp question"</a>
<li> <b>Maybe in reply to:</b> <a href="0172.html">Zygo Blaxell: "UMAX Astra 1200S lamp question"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0240.html">Oliver Rauch: "Re: UMAX Astra 1200S lamp question"</a>
<!-- reply="end" -->
</ul>
