<!-- received="Sun Feb 28 14:26:46 1999 PST" -->
<!-- sent="Thu, 25 Feb 1999 20:58:06 +0100" -->
<!-- name="mathias.neumann@okay.net" -->
<!-- email=""mathias.neumann@okay.net"" -->
<!-- subject="probleme mit Microtek Phantom 330  Problems with Microtek Phantom 330" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: probleme mit Microtek Phantom 330  Problems with Microtek Phantom 330</title>
<h1>probleme mit Microtek Phantom 330  Problems with Microtek Phantom 330</h1>
<b>mathias.neumann@okay.net</b> (<a href="mailto:"mathias.neumann@okay.net""><i>"mathias.neumann@okay.net"</i></a>)<br>
<i>Thu, 25 Feb 1999 20:58:06 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#246">[ date ]</a><a href="index.html#246">[ thread ]</a><a href="subject.html#246">[ subject ]</a><a href="author.html#246">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0247.html">Rick Knight: "Acer 310s"</a>
<li> <b>Previous message:</b> <a href="0245.html">Theriault: "future support"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I`m a very new Linux user and I`ve got a problem with my scanner.<br>
Could you help me installing my scanner?<br>
It`s a phantom 330 of Microtek (parallel port).<br>
I thank you very much and I hope that there is somebody who can help me.<br>
<p>
I am german, so it would be nice, if there is a german instruction to<br>
install.<br>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0247.html">Rick Knight: "Acer 310s"</a>
<li> <b>Previous message:</b> <a href="0245.html">Theriault: "future support"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
