<!-- received="Sun Feb 28 14:26:50 1999 PST" -->
<!-- sent="Thu, 25 Feb 1999 01:05:46 +0000 (GMT)" -->
<!-- name="Rick Knight" -->
<!-- email="sforwk@dames.com" -->
<!-- subject="Acer 310s" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Acer 310s</title>
<h1>Acer 310s</h1>
<b>Rick Knight</b> (<a href="mailto:sforwk@dames.com"><i>sforwk@dames.com</i></a>)<br>
<i>Thu, 25 Feb 1999 01:05:46 +0000 (GMT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#247">[ date ]</a><a href="index.html#247">[ thread ]</a><a href="subject.html#247">[ subject ]</a><a href="author.html#247">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0248.html">Emmanuel PIERRE: "[Fwd: SANE 1 - Microtek ScanMaker 636 causes global SCSI Timeout !]"</a>
<li> <b>Previous message:</b> <a href="0246.html">mathias.neumann@okay.net: "probleme mit Microtek Phantom 330  Problems with Microtek Phantom 330"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0254.html">Wolfgang Goeller: "Re: Acer 310s"</a>
<li> <b>Reply:</b> <a href="0254.html">Wolfgang Goeller: "Re: Acer 310s"</a>
<li> <b>Reply:</b> <a href="0257.html">Wolfgang Goeller: "Re: Acer 310s"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Another question. Am I using xscanimage correctly? I've compiled and <br>
installed sane-1.00 and everything went ok. When I run find-scanner I <br>
get this response...<br>
<p>
find-scanner: found scanner "Color FlatbedScanner_4 0114" at device <br>
/dev/scanner<br>
find-scanner: found scanner "Color FlatbedScanner_4 0114" at device <br>
/dev/sge<br>
<p>
When I run xscanimage by itself I get a small dialog box prompting me <br>
to choose either pnm:0 or pnm:1. When I choose and click ok I get the <br>
xscanimage window and when I click scan I get an error message "Failed <br>
to start scanner:invalid argument". If I start xscanimage and specify <br>
a device on the command line "xscanimage snapscan" I get an error <br>
message "Failed to open device "snapscan":invalid argument". What is <br>
the "invalid argument"? Do I have the syntax right for xscanimage? I <br>
know the Acer 310S is not supported but I expected a little more <br>
response than just an error message.<br>
<p>
I understand the Acer 310S is very similar (the same?) to the <br>
Vuego310S and I would like to try and modify the Snapscan module to <br>
support the Acer but I think I'm missing something with xscanimage.<br>
<p>
Rick Knight<br>
<a href="mailto:(sforwk@dames.com">(sforwk@dames.com</a>)<br>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0248.html">Emmanuel PIERRE: "[Fwd: SANE 1 - Microtek ScanMaker 636 causes global SCSI Timeout !]"</a>
<li> <b>Previous message:</b> <a href="0246.html">mathias.neumann@okay.net: "probleme mit Microtek Phantom 330  Problems with Microtek Phantom 330"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0254.html">Wolfgang Goeller: "Re: Acer 310s"</a>
<li> <b>Reply:</b> <a href="0254.html">Wolfgang Goeller: "Re: Acer 310s"</a>
<li> <b>Reply:</b> <a href="0257.html">Wolfgang Goeller: "Re: Acer 310s"</a>
<!-- reply="end" -->
</ul>
