<!-- received="Mon Sep 29 11:06:47 1997 MST" -->
<!-- sent="Mon, 29 Sep 1997 18:22:45 +0200 (MET DST)" -->
<!-- name="Oliver.Rauch@Wolfsburg.DE" -->
<!-- email="Oliver.Rauch@Wolfsburg.DE" -->
<!-- subject="Re: Most SANE scanner to buy?" -->
<!-- id="199709291622.SAA00250@Babylon5.wolfsburg.de" -->
<!-- inreplyto="199709281856.OAA02246@nigel.redhat.com" -->
<title>sane-devel: Re: Most SANE scanner to buy?</title>
<h1>Re: Most SANE scanner to buy?</h1>
<a href="mailto:Oliver.Rauch@Wolfsburg.DE"><i>Oliver.Rauch@Wolfsburg.DE</i></a><br>
<i>Mon, 29 Sep 1997 18:22:45 +0200 (MET DST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#11">[ date ]</a><a href="index.html#11">[ thread ]</a><a href="subject.html#11">[ subject ]</a><a href="author.html#11">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0012.html">Oliver.Rauch@Wolfsburg.DE: "Re: Most SANE scanner to buy?"</a>
<li> <b>Previous message:</b> <a href="0010.html">Nils Schuller: "success: Mustek 1200SP, firmware 1.02"</a>
<li> <b>In reply to:</b> <a href="0008.html">Michael K. Johnson: "Re: Most SANE scanner to buy?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0017.html">Matto Marjanovic: "Re: Most SANE scanner to buy?"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hello,<br>
<p>
<i>&gt; </i><br>
<i>&gt; The CEO of UMAX (or UMAX usa?  or something like that) actually likes</i><br>
<i>&gt; Linux quite a bit.  UMAX is an investor in VA Research.  Oliver, try</i><br>
<i>&gt; sending a friendly email to <a href="mailto:lma@varesearch.com">lma@varesearch.com</a> telling him about the</i><br>
<i>&gt; problem and asking if he can help solve it.</i><br>
Thanks, I will try that!<br>
<p>
<i>&gt; He's currently trying to</i><br>
<i>&gt; get ahold of specs for the P series scanners.</i><br>
Sounds good!<br>
<p>
<i>&gt; If we can't get ahold of the specs, it is probably because they have</i><br>
<i>&gt; not yet been written.  UMAX has been pretty good about releasing specs</i><br>
<i>&gt; so far.</i><br>
Yes, if they replied to a mail, then it was very fast, but I only got<br>
one answer from them.<br>
<p>
<i>&gt; Also, if UMAX seems preoccupied at the moment, I'd guess it is because</i><br>
<i>&gt; they are; Apple just decided not to continue to renew the OS licenses</i><br>
<i>&gt; for the apple clones UMAX has been selling.</i><br>
I know, but it doesn't cost a lot of time to send a short mail that<br>
they are busy in the moment.<br>
<p>
So I think it will not be bad if they got some mails so they can<br>
see the people are intersted in UMAX-scanners and they want to have<br>
a linux-support!<br>
<p>
Bye<br>
Oliver<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0012.html">Oliver.Rauch@Wolfsburg.DE: "Re: Most SANE scanner to buy?"</a>
<li> <b>Previous message:</b> <a href="0010.html">Nils Schuller: "success: Mustek 1200SP, firmware 1.02"</a>
<li> <b>In reply to:</b> <a href="0008.html">Michael K. Johnson: "Re: Most SANE scanner to buy?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0017.html">Matto Marjanovic: "Re: Most SANE scanner to buy?"</a>
<!-- reply="end" -->
</ul>
