<title>sane-devel by thread</title>
<a name="start"><h1>sane-devel by thread</h1></a>
<ul>
<li> <b><a href="#end">Most recent messages</a></b>
<li> <b>Messages sorted by:</b> <a href="date.html#start">[ date ]</a><a href="subject.html#start">[ subject ]</a><a href="author.html#start">[ author ]</a>
<li> <b><a href="..">Other mail archives</a></b>
</ul>
<p>
<b>Starting:</b> <i>Fri 05 Sep 1997 - 14:27:39 MST</i><br>
<b>Ending:</b> <i>Tue 30 Sep 1997 - 13:10:06 MST</i><br>
<b>Messages:</b> 33
<p>
<ul>
<li> <a href="0000.html"><b>UMAX Astra 1200S working with SANE</b></a> <a name="0"><i>Henning Sauer</i></a>
<li> <a href="0001.html"><b>Color QuickCam and xscanimage</b></a> <a name="1"><i>Mike Eckhoff</i></a>
<li> <a href="0002.html"><b>FYI: SANE backend for SGI IndyCam work-in-progress</b></a> <a name="2"><i>Erik Nygren</i></a>
<li> <a href="0003.html"><b>Microtek:  Voila!</b></a> <a name="3"><i>Matto Marjanovic</i></a>
<li> <a href="0004.html"><b>1200Sp</b></a> <a name="4"><i>OXQZEME688@aol.com</i></a>
<li> <a href="0005.html"><b>Most SANE scanner to buy?</b></a> <a name="5"><i>Iain O'Cain</i></a>
<ul>
<li> <a href="0013.html"><b>Re: Most SANE scanner to buy? </b></a> <a name="13"><i>Michael K. Johnson</i></a>
<li> <a href="0016.html"><b>Re: Most SANE scanner to buy? </b></a> <a name="16"><i>Oliver.Rauch@Wolfsburg.DE</i></a>
</ul>
<ul>
<li> <a href="0022.html"><b>Re: Most SANE scanner to buy? </b></a> <a name="22"><i>Matto Marjanovic</i></a>
</ul>
<li> <a href="0006.html"><b>Re: Most SANE scanner to buy?</b></a> <a name="6"><i>Oliver.Rauch@Wolfsburg.DE</i></a>
<li> <a href="0007.html"><b>Re: Most SANE scanner to buy?</b></a> <a name="7"><i>Oliver.Rauch@Wolfsburg.DE</i></a>
<li> <a href="0011.html"><b>Mustek 600 II EP</b></a> <a name="11"><i>Arjen Schoneveld</i></a>
<ul>
<li> <a href="0012.html"><b>Re: Mustek 600 II EP </b></a> <a name="12"><i>Christoph Doerbeck</i></a>
<li> <a href="0024.html"><b>Re: Mustek 600 II EP </b></a> <a name="24"><i>becka@sunserver1.rz.uni-duesseldorf.de</i></a>
<li> <a href="0029.html"><b>Re: Mustek 600 II EP </b></a> <a name="29"><i>Mathias Weigt</i></a>
<li> <a href="0031.html"><b>Re: success: Mustek 1200SP, firmware 1.02 </b></a> <a name="31"><i>Rogier Wolff</i></a>
</ul>
<ul>
<li> <a href="0027.html"><b>Re: Mustek 600 II EP </b></a> <a name="27"><i>becka@sunserver1.rz.uni-duesseldorf.de</i></a>
</ul>
<li> <a href="0014.html"><b>Re: Most SANE scanner to buy?</b></a> <a name="14"><i>Oliver.Rauch@Wolfsburg.DE</i></a>
<li> <a href="0015.html"><b>success: Mustek 1200SP, firmware 1.02</b></a> <a name="15"><i>Nils Schuller</i></a>
<ul>
<li> <a href="0020.html"><b>Re: Most SANE scanner to buy? </b></a> <a name="20"><i>Oliver.Rauch@Wolfsburg.DE</i></a>
</ul>
<ul>
<li> <a href="0028.html"><b>Re: success: Mustek 1200SP, firmware 1.02 </b></a> <a name="28"><i>Matto Marjanovic</i></a>
</ul>
<li> <a href="0017.html"><b>Re: Most SANE scanner to buy?</b></a> <a name="17"><i>Oliver.Rauch@Wolfsburg.DE</i></a>
<li> <a href="0018.html"><b>Porting SANE</b></a> <a name="18"><i>Jeff Freedman</i></a>
<li> <a href="0021.html"><b>Porting SANE</b></a> <a name="21"><i>Jeff Freedman</i></a>
<li> <a href="0023.html"><b>Re: success: Mustek 1200SP, firmware 1.02</b></a> <a name="23"><i>Rogier Wolff</i></a>
<li> <a href="0025.html"><b>Re: Porting SANE</b></a> <a name="25"><i>becka@sunserver1.rz.uni-duesseldorf.de</i></a>
<li> <a href="0026.html"><b>Epson flatbed backend</b></a> <a name="26"><i>Kazuhiro Sasayama</i></a>
<li> <a href="0030.html"><b>Returned mail: Host unknown (Name server: altea.dlsi.ua.es.: non-recoverable error)</b></a> <a name="30"><i>Mail Delivery Subsystem</i></a>
<li> <a href="0032.html"><b>semantics of SANE_CAP_ADVANCED?</b></a> <a name="32"><i>Matto Marjanovic</i></a>
</ul>
<p>
<a name="end"><b>Last message date:</b></a> <i>Tue 30 Sep 1997 - 13:10:06 MST</i><br>
<b>Archived on:</b> <i>Fri Oct 03 1997 - 23:22:22 MST</i><p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#start">[ date ]</a><a href="subject.html#start">[ subject ]</a><a href="author.html#start">[ author ]</a>
<li> <b><a href="..">Other mail archives</a></b>
</ul>
<p>
<hr>
<i>This archive was generated by <a href="http://www.eit.com/software/hypermail/hypermail.html">hypermail 1.02</a>.</i>
