<!-- received="Tue Oct  7 12:15:17 1997 MST" -->
<!-- sent="Mon, 06 Oct 1997 18:17:47 +0200 (CEST)" -->
<!-- name="Michael Ritzert" -->
<!-- email="Ritzert@t-online.de" -->
<!-- subject="Re: sane-0.65 released" -->
<!-- id="" -->
<!-- inreplyto="m0xHr4e-000BYrC@charon.beck-sw.de" -->
<title>sane-devel: Re: sane-0.65 released</title>
<h1>Re: sane-0.65 released</h1>
<b>Michael Ritzert</b> (<a href="mailto:Ritzert@t-online.de"><i>Ritzert@t-online.de</i></a>)<br>
<i>Mon, 06 Oct 1997 18:17:47 +0200 (CEST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#21">[ date ]</a><a href="index.html#21">[ thread ]</a><a href="subject.html#21">[ subject ]</a><a href="author.html#21">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0022.html">David Mosberger-Tang: "do we need sane-announce and sane-user?"</a>
<li> <b>Previous message:</b> <a href="0020.html">Christoph Doerbeck: "GIMP and SANE (how to fix)"</a>
<li> <b>In reply to:</b> <a href="0008.html">becka@rz.uni-duesseldorf.de: "Re: sane-0.65 released"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi everybody!<br>
<p>
On 05-Oct-97 <a href="mailto:becka@rz.uni-duesseldorf.de">becka@rz.uni-duesseldorf.de</a> wrote:<br>
<i>&gt;Hi !</i><br>
<i>&gt;</i><br>
<i>&gt;&gt; has there been any progress with respect to the MFS-12000SP problems which</i><br>
<i>&gt;&gt; were investigated in David's survey? Last version I tried was 0.62.</i><br>
<i>&gt;We have tried to investigate it, but need more test-data.</i><br>
<i>&gt;</i><br>
<i>&gt;The problem with the Lineart mode hanging seems to be timing related and there</i><br>
<i>&gt;is a hack for it by M. Ritzert. (R U reading ? Maybe you should send it to the</i><br>
<i>&gt;list).</i><br>
<p>
Oh, sorry. I sent it out, but it seems as though I had used my wrong email and<br>
the list server therefore ignored the message.<br>
<p>
The last mail didn't seem to make its way, too. This time I'm using my other<br>
account.<br>
<p>
Here it finally is:<br>
---8&lt;--- mustek.c.diff ---8&lt;---<br>
<p>
--- DIFF/mustek.c       Mon Oct  6 19:30:33 1997<br>
+++ mustek.c    Mon Oct  6 19:23:02 1997<br>
@@ -84,6 +84,7 @@<br>
    10 seconds.  That's not really true for Mustek scanners operating<br>
    in certain modes, hence this limit.  */<br>
 static double strip_height;<br>
+static int lineartpatch;<br>
 <br>
 static int num_devices;<br>
 static Mustek_Device *first_dev;<br>
@@ -1618,6 +1621,7 @@<br>
       send_data (s, fp, bstat[rd].data, bstat[rd].lines, bpl, extra);<br>
       rd = (rd + 1) % NELEMS(bstat);<br>
       --num_reqs;<br>
+      if ((s-&gt;mode == 0) &amp;&amp; (lineartpatch == 1)) usleep( 200000 );<br>
     }<br>
   fclose (fp);<br>
   return SANE_STATUS_GOOD;<br>
@@ -1643,6 +1647,8 @@<br>
       return SANE_STATUS_GOOD;<br>
     }<br>
 <br>
+  lineartpatch = 0;<br>
+    <br>
   while (fgets (dev_name, sizeof (dev_name), fp))<br>
     {<br>
       if (dev_name[0] == '#')          /* ignore line comments */<br>
@@ -1682,6 +1688,12 @@<br>
                  DBG(2, "sane_init: strip-height set to %g inches\n",<br>
                      strip_height);<br>
                }<br>
+           }<br>
+         else if (strncmp (str, "lineart-patch", 13) == 0 &amp;&amp;<br>
+                  (isspace (str[13]) || (str[13] == 0)))<br>
+           {<br>
+               lineartpatch = 1;<br>
+               DBG(2, "sane_init: enabling lineart-patch\n");<br>
            }<br>
          else<br>
            DBG(1, "%s: ignoring unknown option `%s'\n",<br>
<p>
---&gt;8--- mustek.c.diff ---&gt;8---<br>
<p>
It enables another option in mustek.conf: "option lineart-patch". Set it, if<br>
you think you're troubled by the timing problem.<br>
<p>
Ciao, Michael<br>
<pre>
---
    _
|\/|_)  -=&gt; <a href="mailto:Ritzert@T-Online.de">Ritzert@T-Online.de</a> &lt;=-
|  | \  *Michael Ritzert* - <a href="http://home.t-online.de/home/ritzert">http://home.t-online.de/home/ritzert</a>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0022.html">David Mosberger-Tang: "do we need sane-announce and sane-user?"</a>
<li> <b>Previous message:</b> <a href="0020.html">Christoph Doerbeck: "GIMP and SANE (how to fix)"</a>
<li> <b>In reply to:</b> <a href="0008.html">becka@rz.uni-duesseldorf.de: "Re: sane-0.65 released"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
