<!-- received="Thu Oct  9 06:43:08 1997 MST" -->
<!-- sent="Thu, 9 Oct 1997 09:41:53 -0500" -->
<!-- name="jbarchuk@worldnet.att.net" -->
<!-- email="jbarchuk@worldnet.att.net" -->
<!-- subject="Re: flatbed scanner, postscript printer" -->
<!-- id="" -->
<!-- inreplyto="flatbed scanner, postscript printer" -->
<title>sane-devel: Re: flatbed scanner, postscript printer</title>
<h1>Re: flatbed scanner, postscript printer</h1>
<a href="mailto:jbarchuk@worldnet.att.net"><i>jbarchuk@worldnet.att.net</i></a><br>
<i>Thu, 9 Oct 1997 09:41:53 -0500</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#38">[ date ]</a><a href="index.html#38">[ thread ]</a><a href="subject.html#38">[ subject ]</a><a href="author.html#38">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0039.html">becka@rz.uni-duesseldorf.de: "Re: flatbed scanner, postscript printer"</a>
<li> <b>Previous message:</b> <a href="0037.html">Peter Daum: "umax: xscanimage does not run run as gimp plugin"</a>
<li> <b>Maybe in reply to:</b> <a href="0036.html">Laszlo Vecsey: "flatbed scanner, postscript printer"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hello Laszlo!<br>
<p>
<i>&gt; I was just curious if anyone has a flatbed scanner configured to do</i><br>
<i>&gt; photocopies to a printer by default, perhaps remapping a button on</i><br>
<i>&gt; the scanner or connecting a switch to a spare pin on the parallel</i><br>
<i>&gt; port to trigger the actual 'copy' procedure.</i><br>
<p>
How about a script, a one line command that scans, processes, <br>
and prints? <br>
<p>
<a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a> | "Mailing List and Archive"<br>
<p>
In the July 1 - July 31 archive, a script that David calls xerox,<br>
look for the title 'handy script'.<br>
<p>
Hardware is handy, but limits options. Several scripts named xerox1, <br>
xerox2 allow variation for different specific purposes as required.<br>
<p>
<i>&gt; Also if anyone has information on getting HP's copy/print/scan</i><br>
<i>&gt; OfficeJet printer to work, this would be appreciated as well. When I</i><br>
<i>&gt; purchased it, being as popular a device as it is, I assumed there</i><br>
<i>&gt; would be support readily available.. having heard that even the</i><br>
<i>&gt; QuickCam was supported by sane. Unfortunately since this isn't the</i><br>
<i>&gt; case at the moment, I'm looking for another solution.</i><br>
<p>
Bummer. Trick is to research the topic thoroughly before buying, as I <br>
did with HP5p.<br>
<p>
Have a :) day!<br>
<p>
jim barchuk<br>
<a href="mailto:jbarchuk@worldnet.att.net">mailto:jbarchuk@worldnet.att.net</a><br>
<a href="http://www.10mb.com/jbarchuk/">http://www.10mb.com/jbarchuk/</a><br>
<a href="http://www.thesurvey.com">http://www.thesurvey.com</a><br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0039.html">becka@rz.uni-duesseldorf.de: "Re: flatbed scanner, postscript printer"</a>
<li> <b>Previous message:</b> <a href="0037.html">Peter Daum: "umax: xscanimage does not run run as gimp plugin"</a>
<li> <b>Maybe in reply to:</b> <a href="0036.html">Laszlo Vecsey: "flatbed scanner, postscript printer"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
