<!-- received="Fri Oct 10 06:12:27 1997 MST" -->
<!-- sent="Fri, 10 Oct 1997 09:12:31 -0400 (EDT)" -->
<!-- name="Vance Stith" -->
<!-- email="vsmith@fast.net" -->
<!-- subject="xscanimage problem" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: xscanimage problem</title>
<h1>xscanimage problem</h1>
<b>Vance Stith</b> (<a href="mailto:vsmith@fast.net"><i>vsmith@fast.net</i></a>)<br>
<i>Fri, 10 Oct 1997 09:12:31 -0400 (EDT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#47">[ date ]</a><a href="index.html#47">[ thread ]</a><a href="subject.html#47">[ subject ]</a><a href="author.html#47">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0048.html">Per Harald Myrvang: ""strange" things with SANE on IRIX 5.3"</a>
<li> <b>Previous message:</b> <a href="0046.html">Rogier Wolff: "Re: flatbed scanner, postscript printer"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0062.html">David Mosberger-Tang: "Re: xscanimage problem"</a>
<li> <b>Reply:</b> <a href="0062.html">David Mosberger-Tang: "Re: xscanimage problem"</a>
<li> <b>Reply:</b> <a href="0063.html">Red Hat Linux User: "Re: xscanimage problem"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Has anyone figured out what can be done to resolve the error below. I'm<br>
running Redhat 4.2 and using UMAX Powerlook II<br>
<p>
parsing "/root/.gimp/gtkrc"<br>
parsing "/usr/local/share/gimp/0.99.13/gimprc"<br>
parsing "/root/.gimp/gimprc"<br>
parsing "/root/.gimp/pluginrc"<br>
query plug-in: "/root/.gimp/plug-ins/xscanimage"<br>
/root/.gimp/plug-ins/xscanimage: illegal option -- g<br>
Usage: xscanimage [OPTION]... [DEVICE]<br>
<p>
Start up graphical user interface to access SANE (Scanner Access Now<br>
Easy) devices.<br>
<p>
-h, --help                 display this help message and exit<br>
-V, --version              print version information<br>
wire_read: unexpected EOF<br>
writing "/root/.gimp/pluginrc"<br>
Starting extensions: extension_script_fu <br>
<p>
I've seen this question popup on the list but haven't seen a reply<br>
addressing a work around.<br>
<p>
<p>
Thanks,<br>
<p>
Vance<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0048.html">Per Harald Myrvang: ""strange" things with SANE on IRIX 5.3"</a>
<li> <b>Previous message:</b> <a href="0046.html">Rogier Wolff: "Re: flatbed scanner, postscript printer"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0062.html">David Mosberger-Tang: "Re: xscanimage problem"</a>
<li> <b>Reply:</b> <a href="0062.html">David Mosberger-Tang: "Re: xscanimage problem"</a>
<li> <b>Reply:</b> <a href="0063.html">Red Hat Linux User: "Re: xscanimage problem"</a>
<!-- reply="end" -->
</ul>
