<!-- received="Fri Oct 10 23:33:23 1997 MST" -->
<!-- sent="Sat, 11 Oct 1997 02:33:28 -0400" -->
<!-- name="Red Hat Linux User" -->
<!-- email="vsmith@linux.boplicity.com" -->
<!-- subject="Re: xscanimage problem" -->
<!-- id="199710110633.CAA12470@linux.boplicity.com" -->
<!-- inreplyto="xscanimage problem" -->
<title>sane-devel: Re: xscanimage problem</title>
<h1>Re: xscanimage problem</h1>
<b>Red Hat Linux User</b> (<a href="mailto:vsmith@linux.boplicity.com"><i>vsmith@linux.boplicity.com</i></a>)<br>
<i>Sat, 11 Oct 1997 02:33:28 -0400</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#63">[ date ]</a><a href="index.html#63">[ thread ]</a><a href="subject.html#63">[ subject ]</a><a href="author.html#63">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0064.html">Vance Stith: "RE: xscanimage problem"</a>
<li> <b>Previous message:</b> <a href="0062.html">David Mosberger-Tang: "Re: xscanimage problem"</a>
<li> <b>Maybe in reply to:</b> <a href="0047.html">Vance Stith: "xscanimage problem"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I tried the below workaround ... it had no effect .. I still the the same error. <br>
Any other suggestions would be appreciated.<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0064.html">Vance Stith: "RE: xscanimage problem"</a>
<li> <b>Previous message:</b> <a href="0062.html">David Mosberger-Tang: "Re: xscanimage problem"</a>
<li> <b>Maybe in reply to:</b> <a href="0047.html">Vance Stith: "xscanimage problem"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
