<!-- received="Sun Oct 12 09:40:07 1997 MST" -->
<!-- sent="Sun, 12 Oct 1997 02:09:35 -0600 (MDT)" -->
<!-- name="Kevin Charter" -->
<!-- email="charter@cs.ualberta.ca" -->
<!-- subject="Re: Agfa StudioStar" -->
<!-- id="19971012080947Z15017-11844+12@scapa.cs.ualberta.ca" -->
<!-- inreplyto="199710120314.UAA16800@panda.mostang.com" -->
<title>sane-devel: Re: Agfa StudioStar</title>
<h1>Re: Agfa StudioStar</h1>
<b>Kevin Charter</b> (<a href="mailto:charter@cs.ualberta.ca"><i>charter@cs.ualberta.ca</i></a>)<br>
<i>Sun, 12 Oct 1997 02:09:35 -0600 (MDT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#68">[ date ]</a><a href="index.html#68">[ thread ]</a><a href="subject.html#68">[ subject ]</a><a href="author.html#68">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0069.html">Craig Setera: "Mustek scanner problems... Not recognized"</a>
<li> <b>Previous message:</b> <a href="0067.html">David Mosberger-Tang: "Re: Agfa StudioStar"</a>
<li> <b>In reply to:</b> <a href="0067.html">David Mosberger-Tang: "Re: Agfa StudioStar"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt; </i><br>
<i>&gt;   Xavier&gt; Hi, I was wondering if tha Agfa Studiostar scanner is</i><br>
<i>&gt;   Xavier&gt; supported in the current version of Sane or maybe one of the</i><br>
...<br>
<i>&gt; At present, SANE does not support Agfa scanners.  However, Kevin</i><br>
<i>&gt; Charter &lt;<a href="mailto:charter@cs.ualberta.ca">charter@cs.ualberta.ca</a>&gt; has begun working on an Agfa SnapScan</i><br>
<i>&gt; scanner.  Maybe the StudioStar is similar to the SnapScan?</i><br>
<p>
The programmer's reference for the SnapScan that I got from Michel<br>
Roelofs &lt;<a href="mailto:michelr@stack.nl">michelr@stack.nl</a>&gt; doesn't mention the StudioStar anywhere,<br>
but of course that doesn't necessarily mean anything. Does anybody<br>
have the programming information handy?<br>
<p>
BTW, Franck Schneider &lt;<a href="mailto:schnefra@hol.fr">schnefra@hol.fr</a>&gt; is collaborating with me on<br>
the SnapScan backend.<br>
<p>
Kevin<br>
<p>
<pre>
-- 
Kevin Charter                        /\                      Grad Studies
<a href="mailto:charter@cs.ualberta.ca">charter@cs.ualberta.ca</a>            /\/  \  Department of Computing Science
<a href="http://web.cs.ualberta.ca/~charter">http://web.cs.ualberta.ca/~charter</a>  \   --------    University of Alberta
	       		             --------------    Edmonton AB CANADA
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0069.html">Craig Setera: "Mustek scanner problems... Not recognized"</a>
<li> <b>Previous message:</b> <a href="0067.html">David Mosberger-Tang: "Re: Agfa StudioStar"</a>
<li> <b>In reply to:</b> <a href="0067.html">David Mosberger-Tang: "Re: Agfa StudioStar"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
