<!-- received="Fri Oct 17 22:37:40 1997 MST" -->
<!-- sent="Fri, 17 Oct 1997 22:37:39 -0700" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="David.Mosberger@acm.org" -->
<!-- subject="Re: Mustek600IICD / lost lines" -->
<!-- id="199710180537.WAA00586@panda.mostang.com" -->
<!-- inreplyto="199710171632.SAA11650@amsys.nbg.sub.org" -->
<title>sane-devel: Re: Mustek600IICD / lost lines</title>
<h1>Re: Mustek600IICD / lost lines</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:David.Mosberger@acm.org"><i>David.Mosberger@acm.org</i></a>)<br>
<i>Fri, 17 Oct 1997 22:37:39 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#104">[ date ]</a><a href="index.html#104">[ thread ]</a><a href="subject.html#104">[ subject ]</a><a href="author.html#104">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0105.html">Klaus Weglehner: "Re: Mustek600IICD / lost lines"</a>
<li> <b>Previous message:</b> <a href="0103.html">David Mosberger-Tang: "Re: IRIX SCSI driver update for SANE 0.65/0.66"</a>
<li> <b>In reply to:</b> <a href="0097.html">Klaus Weglehner: "Mustek600IICD / lost lines"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0105.html">Klaus Weglehner: "Re: Mustek600IICD / lost lines"</a>
<li> <b>Reply:</b> <a href="0105.html">Klaus Weglehner: "Re: Mustek600IICD / lost lines"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;&gt;&gt;&gt;&gt; On Fri, 17 Oct 1997 18:32:28 +0200 (MET DST), Klaus Weglehner &lt;<a href="mailto:klaus@amsys.nbg.sub.org">klaus@amsys.nbg.sub.org</a>&gt; said:</i><br>
<p>
  Klaus&gt; First of all I was a<br>
  Klaus&gt; little bit confused because the Adaptec driver shows still no<br>
  Klaus&gt; Modell-ID at SCSI-Startup. But since sane can determine the<br>
  Klaus&gt; ID well I suppose this is ok, isn't it?<br>
<p>
This appears to be a feature of newer firmware revisions.  If SANE<br>
recognizes your scanner, you should be OK, though.<br>
<p>
  Klaus&gt; I tried to scan a<br>
  Klaus&gt; LineArt picture and everything seems to work well. But when I<br>
  Klaus&gt; tried to scan Color or even Grayscale pictures the scanner<br>
  Klaus&gt; mechanic moves to its physical end and makes the well known<br>
  Klaus&gt; sound which is described in the PROBLEMS file.  I can limit<br>
  Klaus&gt; the scaning area to a non-dangerous value, but the image<br>
  Klaus&gt; seems to be compressed in y-direction and the scaning range<br>
  Klaus&gt; was always more than I have specified on the<br>
  Klaus&gt; comandline.<br>
<p>
That's strange.  It appears as if the line-distance command does not<br>
get issued.  If you run sane-0.66, make sure that "option<br>
linedistance-fix" is turned on (if you use the default mustek.conf,<br>
you should be fine, but verify to be sure: it's in<br>
/usr/local/etc/sane.d/mustek.conf).<br>
<p>
If you have the linedistance-fix on and it still doesn't work, can you<br>
invoke scanimage with environment variable SANE_DEBUG_MUSTEK set to<br>
255 and send me the output you get?<br>
<p>
  Klaus&gt; A tip how to get the Adaptec 1505 with the supplied<br>
  Klaus&gt; Windows-Twain-Driver working would be very useful too.<br>
<p>
Hmmh, sane-scsi(5) lists the Adaptec AHA-1505 to be working fine.  I'm<br>
not familiar with that adapter, but if it has some sort of BIOS<br>
configuration, you may have to disable synchronous transfers, tagged<br>
queueing, and target disconnects (as documented in sane-mustek(5)).<br>
If you get it working, please let me know what you had to do so I can<br>
add it to the man page.<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0105.html">Klaus Weglehner: "Re: Mustek600IICD / lost lines"</a>
<li> <b>Previous message:</b> <a href="0103.html">David Mosberger-Tang: "Re: IRIX SCSI driver update for SANE 0.65/0.66"</a>
<li> <b>In reply to:</b> <a href="0097.html">Klaus Weglehner: "Mustek600IICD / lost lines"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0105.html">Klaus Weglehner: "Re: Mustek600IICD / lost lines"</a>
<li> <b>Reply:</b> <a href="0105.html">Klaus Weglehner: "Re: Mustek600IICD / lost lines"</a>
<!-- reply="end" -->
</ul>
