<!-- received="Mon Oct 20 19:42:53 1997 MST" -->
<!-- sent="Mon, 20 Oct 1997 03:22:23 -0700 (PDT)" -->
<!-- name="Matt Thompson" -->
<!-- email="mattyt@oz.net" -->
<!-- subject="./configure doesn't think I have X" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: ./configure doesn't think I have X</title>
<h1>./configure doesn't think I have X</h1>
<b>Matt Thompson</b> (<a href="mailto:mattyt@oz.net"><i>mattyt@oz.net</i></a>)<br>
<i>Mon, 20 Oct 1997 03:22:23 -0700 (PDT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#114">[ date ]</a><a href="index.html#114">[ thread ]</a><a href="subject.html#114">[ subject ]</a><a href="author.html#114">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0115.html">C. Wall: "Re: (fwd) Plustek Driver Development: I have some source! (fwd)"</a>
<li> <b>Previous message:</b> <a href="0113.html">becka@rz.uni-duesseldorf.de: "Re: mustek problems"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
...but of course I do.  It says:<br>
<p>
checking for X... no<br>
<p>
...this means that there is no xscanimage executable available after<br>
make/make install.<br>
<p>
i found the lines in configure where it's searching for X11 and X11R6 and<br>
it seems that my directories are all where they should be.  i tried<br>
editing it a couple of different ways, but to no avail.  i don't really<br>
have any programming experience, so i'm kind of flying blind.<br>
<p>
btw, I'm running the latest development version of Debian ('hamm'), which<br>
includes fvwm2.0.46 and gtk 970925.  I'm also using AccelX 2.1.<br>
<p>
???<br>
<p>
thanks,<br>
matty<br>
<p>
Matt Thompson       <a href="mailto:mattyt@oz.net">mattyt@oz.net</a><br>
MZI, Inc.           v-206.430.3726<br>
707 S. Grady Way    f-206.430.3420<br>
Renton, WA  98055   <a href="mailto:matt.thompson@mzi.com">matt.thompson@mzi.com</a><br>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0115.html">C. Wall: "Re: (fwd) Plustek Driver Development: I have some source! (fwd)"</a>
<li> <b>Previous message:</b> <a href="0113.html">becka@rz.uni-duesseldorf.de: "Re: mustek problems"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
