<!-- received="Tue Oct 21 08:22:39 1997 MST" -->
<!-- sent="Tue, 21 Oct 1997 10:19:21 -0500" -->
<!-- name="C. Wall" -->
<!-- email="vergil@media-net.net" -->
<!-- subject="Re: (fwd) Plustek Driver Development: I have some source! (fwd)" -->
<!-- id="" -->
<!-- inreplyto="(fwd) Plustek Driver Development: I have some source! (fwd)" -->
<title>sane-devel: Re: (fwd) Plustek Driver Development: I have some source! (fwd)</title>
<h1>Re: (fwd) Plustek Driver Development: I have some source! (fwd)</h1>
<b>C. Wall</b> (<a href="mailto:vergil@media-net.net"><i>vergil@media-net.net</i></a>)<br>
<i>Tue, 21 Oct 1997 10:19:21 -0500</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#115">[ date ]</a><a href="index.html#115">[ thread ]</a><a href="subject.html#115">[ subject ]</a><a href="author.html#115">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0116.html">Adam Rothschild: "Re: (fwd) Plustek Driver Development: I have some source! (fwd)"</a>
<li> <b>Previous message:</b> <a href="0114.html">Matt Thompson: "./configure doesn't think I have X"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Adam,<br>
<p>
Although I appreciate your continued efforts, I wish to make it clear<br>
that I have already posted to the SANE list, and David has already put<br>
me on the project list for the development of the SANE backend for the<br>
Plustek driver. Despite what I am sure are you best intentions,<br>
continuing to try and coordinate a project (which you youself posted to<br>
several people) that you have no time for is not only counterproductive,<br>
it is frustrating. <br>
<p>
I have been under the assumption that you do not have the time to work<br>
on this project and have dedicated my time to working through the<br>
current source and learning the internals of the SANE interface to<br>
create the prototype of the backend. Any help would be appreciated of<br>
course, but what you have done is in effect, pulled and "end run" around<br>
me which defeats the whole purpose of the project.<br>
<p>
I would appreciate if you:<br>
1) Attempt to coordinate with me before asking for help with the driver<br>
of     other people.<br>
2) Notify me of any progress you have with the driver to date.<br>
3) Cease filling my inbox with irrelevant messages.<br>
<p>
At this time, it is my understanding that Plustek has deemed that I am<br>
"in charge" of the linux driver for their scanner. This project will<br>
certianly go a lot smoother if we work together instead of these petty<br>
little ego wars. <br>
<p>
I am sorry if this has offended, or seemed abrupt. However,  it strikes<br>
me as rude that despite my best efforts and good faith (even going so<br>
far as to ask you if you wanted to take the project) you continue to<br>
pull these stunts. <br>
Adam Rothschild wrote:<br>
<i>&gt; </i><br>
<i>&gt; ---------- Forwarded message ----------</i><br>
<i>&gt; Date: Tue, 21 Oct 1997 08:06:49 -0400 (EDT)</i><br>
<i>&gt; From: Adam Rothschild &lt;<a href="mailto:asr@millburn.net">asr@millburn.net</a>&gt;</i><br>
<i>&gt; To: <a href="mailto:virgil@media-net.net">virgil@media-net.net</a></i><br>
<i>&gt; Cc: <a href="mailto:eyermann@t-online.de">eyermann@t-online.de</a>, rick@efn.org</i><br>
<i>&gt; Subject: Re: (fwd) Plustek Driver Development: I have some source! (fwd)</i><br>
<i>&gt; </i><br>
<i>&gt; ---------- Forwarded message ----------</i><br>
<i>&gt; Date: Tue, 21 Oct 1997 03:30:02 -0600 (MDT)</i><br>
<i>&gt; From: Anthony Fok &lt;<a href="mailto:foka@gpu.srv.ualberta.ca">foka@gpu.srv.ualberta.ca</a>&gt;</i><br>
<i>&gt; To: Adam Rothschild &lt;<a href="mailto:asr@millburn.net">asr@millburn.net</a>&gt;</i><br>
<i>&gt; Subject: Re: (fwd) Plustek Driver Development: I have some source!</i><br>
<i>&gt; </i><br>
<i>&gt; Hello there!  :)</i><br>
<i>&gt; </i><br>
<i>&gt; Thank you very much for your initiative!  I'm also very glad of Plustek's</i><br>
<i>&gt; positive response!  :)</i><br>
<i>&gt; </i><br>
<i>&gt; I will try to contribute if possible, although currently I'm very busy</i><br>
<i>&gt; with school, and I'm not an advanced programmer either.  :)</i><br>
<i>&gt; </i><br>
<i>&gt; By the way, do you know about the SANE Project?  It looks very promising,</i><br>
<i>&gt; and perhaps a backend can be written to work with SANE?  ^_^</i><br>
<i>&gt; Home Page:  <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a></i><br>
<i>&gt; </i><br>
<i>&gt; Also, do you plan to release the driver under the GPL?  ^_^</i><br>
<i>&gt; </i><br>
<i>&gt; Thank you very much for your help!</i><br>
<i>&gt; </i><br>
<i>&gt; Anthony</i><br>
<i>&gt; </i><br>
<i>&gt; On Tue, 21 Oct 1997, Adam Rothschild wrote:</i><br>
<i>&gt; </i><br>
<i>&gt; &gt; I have received the NT OpticPro 48XX (I believe this covers the 4800 and</i><br>
<i>&gt; &gt; 4830) driver source from the main Plustek office, and authorization to</i><br>
<i>&gt; &gt; use this source to develop a Linux driver for their scanner!</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt; I am therefore seeking volunteers willing to develop such a driver for</i><br>
<i>&gt; &gt; the Linux community.  I will coordinate all efforts, and release the</i><br>
<i>&gt; &gt; source to those interested...</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt; I am amazed and delighted that I got a positive response from Plustek,</i><br>
<i>&gt; &gt; as so many others have failed!  It would be really great to use their</i><br>
<i>&gt; &gt; low cost parallel port scanners in Linux, and hopefully this is a step</i><br>
<i>&gt; &gt; in the right direction.</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt; Let me know if you are interested (remove the no-spam to determine my</i><br>
<i>&gt; &gt; e-mail addr)...</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt; Thanks</i><br>
<i>&gt; &gt; -Adam</i><br>
<i>&gt; </i><br>
<i>&gt; --</i><br>
<i>&gt; Anthony Fok Tung-Ling            <a href="mailto:foka@gpu.srv.ualberta.ca">foka@gpu.srv.ualberta.ca</a></i><br>
<i>&gt; Civil Engineering                <a href="http://www.ualberta.ca/~foka/">http://www.ualberta.ca/~foka/</a></i><br>
<i>&gt; University of Alberta, Canada    Keep smiling!  *^_^*</i><br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0116.html">Adam Rothschild: "Re: (fwd) Plustek Driver Development: I have some source! (fwd)"</a>
<li> <b>Previous message:</b> <a href="0114.html">Matt Thompson: "./configure doesn't think I have X"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
