<!-- received="Thu Oct 30 11:24:59 1997 PST" -->
<!-- sent="Thu, 30 Oct 1997 11:24:57 -0800" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="davidm@mostang.com" -->
<!-- subject="avoid using ftp.mostang.com" -->
<!-- id="199710301924.LAA06592@panda.mostang.com" -->
<!-- inreplyto="" -->
<title>sane-devel: avoid using ftp.mostang.com</title>
<h1>avoid using ftp.mostang.com</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:davidm@mostang.com"><i>davidm@mostang.com</i></a>)<br>
<i>Thu, 30 Oct 1997 11:24:57 -0800</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#155">[ date ]</a><a href="index.html#155">[ thread ]</a><a href="subject.html#155">[ subject ]</a><a href="author.html#155">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0156.html">Erik Troan: "Re: avoid using ftp.mostang.com"</a>
<li> <b>Previous message:</b> <a href="0154.html">Richard Stearn: "Datacopy 730GS"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0156.html">Erik Troan: "Re: avoid using ftp.mostang.com"</a>
<li> <b>Reply:</b> <a href="0156.html">Erik Troan: "Re: avoid using ftp.mostang.com"</a>
<li> <b>Reply:</b> <a href="0157.html">Erik Troan: "Re: avoid using ftp.mostang.com"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi everybody,<br>
<p>
My ISP wasn't too happy about the traffic ftp.mostang.com was generating.<br>
Thus, I closed down anonymous ftp access.  Please use tsx-11.mit.edu<br>
instead (directory /pub/linux/packages/sane/).  If you try to ftp into<br>
ftp.mostang.com, you'll get a message that tells you the same.<br>
<p>
The good news is that the mailing list and web site are back to working<br>
again.<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0156.html">Erik Troan: "Re: avoid using ftp.mostang.com"</a>
<li> <b>Previous message:</b> <a href="0154.html">Richard Stearn: "Datacopy 730GS"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0156.html">Erik Troan: "Re: avoid using ftp.mostang.com"</a>
<li> <b>Reply:</b> <a href="0156.html">Erik Troan: "Re: avoid using ftp.mostang.com"</a>
<li> <b>Reply:</b> <a href="0157.html">Erik Troan: "Re: avoid using ftp.mostang.com"</a>
<!-- reply="end" -->
</ul>
