<!-- received="Fri Oct 31 21:32:25 1997 PST" -->
<!-- sent="Fri, 31 Oct 1997 21:32:19 -0800" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="David.Mosberger@acm.org" -->
<!-- subject="Re: Canon CanoScan 300/600/2700F" -->
<!-- id="199711010532.VAA26495@panda.mostang.com" -->
<!-- inreplyto="3459C02F.2896@bytec.de" -->
<title>sane-devel: Re: Canon CanoScan 300/600/2700F</title>
<h1>Re: Canon CanoScan 300/600/2700F</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:David.Mosberger@acm.org"><i>David.Mosberger@acm.org</i></a>)<br>
<i>Fri, 31 Oct 1997 21:32:19 -0800</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#176">[ date ]</a><a href="index.html#176">[ thread ]</a><a href="subject.html#176">[ subject ]</a><a href="author.html#176">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0177.html">David Mosberger-Tang: "Re: Mustek 1200SP: Missing Lines"</a>
<li> <b>Previous message:</b> <a href="0175.html">David Mosberger-Tang: "Re: Epson filmscan 200."</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;&gt;&gt;&gt;&gt; On Fri, 31 Oct 1997 12:25:35 +0100, Helmut Koeberle &lt;<a href="mailto:helmut.koeberle@bytec.de">helmut.koeberle@bytec.de</a>&gt; said:</i><br>
<p>
  Helmut&gt; Next week I will get a Canon CanoScan 600.  I would like to<br>
  Helmut&gt; use this scanner under linux.  Is anybody working on a<br>
  Helmut&gt; driver for the CanoScan-Family 300/600/2700F ?<br>
<p>
Not that I know of.  If you decide to start working on such a backend,<br>
please let me know so I can add it to the PROJECTS file.<br>
<p>
Good luck,<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0177.html">David Mosberger-Tang: "Re: Mustek 1200SP: Missing Lines"</a>
<li> <b>Previous message:</b> <a href="0175.html">David Mosberger-Tang: "Re: Epson filmscan 200."</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
