<!-- received="Tue Dec  7 16:37:45 1999 PST" -->
<!-- sent="Wed, 8 Dec 1999 01:39:36 +0100" -->
<!-- name="Bernd Schroeder" -->
<!-- email="bernd@aquila.muc.de" -->
<!-- subject="Re: Looking for the proper backend" -->
<!-- id="" -->
<!-- inreplyto="384AC99E.1F36426D@icx.net" -->
<title>sane-devel: Re: Looking for the proper backend</title>
<h1>Re: Looking for the proper backend</h1>
<b>Bernd Schroeder</b> (<a href="mailto:bernd@aquila.muc.de"><i>bernd@aquila.muc.de</i></a>)<br>
<i>Wed, 8 Dec 1999 01:39:36 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#76">[ date ]</a><a href="index.html#76">[ thread ]</a><a href="subject.html#76">[ subject ]</a><a href="author.html#76">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0077.html">Nathan Kennedy: "Re: UMAX Astra 1200S seems to hang on all commands"</a>
<li> <b>Previous message:</b> <a href="0075.html">Nathan Kennedy: "Re: UMAX Astra 1200S seems to hang on all commands"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Sun, Dec 05, 1999 at 03:22:54PM -0500, Dave Dillow wrote:<br>
<i>&gt; Hello!</i><br>
<i>&gt; </i><br>
<i>&gt; I'm working on a project that has certain certification tests that must</i><br>
<i>&gt; be passed for a particular set of test images. To avoid going down dead</i><br>
<i>&gt; ends, I'd prefer to use a scanner that has already shown that it can</i><br>
<i>&gt; meet those tests. The problem is finding out if the scanner is</i><br>
<i>&gt; supported, or is even supportable.</i><br>
<i>&gt; </i><br>
<i>&gt; I'm looking at using either an Agfa DuoScan T1200 or a Microtek</i><br>
<i>&gt; ScanMaker 5. I'm assuming that these (or at least the Microtek) may be</i><br>
<i>&gt; supported by the microtek2 backend, but they are not listed. I'm hoping</i><br>
<i>&gt; that means that no one's tried since the docs were last updated...</i><br>
<p>
The DuoScan T1200 should be supported by newer versions of the backend.<br>
There might be problems with transposed colors ( as with some other<br>
Microtek models ), but this would be relatively easy to fix, but I do not<br>
know, whether this model will meet your requirements.<br>
<p>
I do not have any reports at all about the Scanmaker 5, so I do not know<br>
whether it will work or not.<br>
<p>
<i>&gt; If they are indeed not supported right now, are Agfa and/or Microtek</i><br>
<i>&gt; reasonable about giving out programming information, so that I could</i><br>
<i>&gt; cobble something together?</i><br>
<p>
Good question. I have received some valuable information re the <br>
Phantom 336cx/C3 models from within Microtek. On the other hand, I am<br>
trying to get an update of the documentation since April or so, but<br>
so far without success. So I would say, maybe you will get the<br>
programming information or maybe that not.<br>
<p>
Bernd<br>
<p>
<pre>
-- 
Bernd Schroeder 
Email: <a href="mailto:bernd@aquila.muc.de">mailto:bernd@aquila.muc.de</a>
PGP public key available: <a href="mailto:pgp@aquila.muc.de">mailto:pgp@aquila.muc.de</a> | Subject: send key 
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0077.html">Nathan Kennedy: "Re: UMAX Astra 1200S seems to hang on all commands"</a>
<li> <b>Previous message:</b> <a href="0075.html">Nathan Kennedy: "Re: UMAX Astra 1200S seems to hang on all commands"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
