<!-- received="Thu Dec  9 13:49:48 1999 PST" -->
<!-- sent="Thu, 09 Dec 1999 21:22:49 +0000" -->
<!-- name="Jonathan A. Buzzard" -->
<!-- email="jonathan@buzzard.org.uk" -->
<!-- subject="Re: Umax Parallel" -->
<!-- id="E11wB1W-0001uf-00@happy.buzzard.org.uk" -->
<!-- inreplyto="000401bf3a90$ef2e8c10$22ca0f82@inan_online.queensu.ca" -->
<title>sane-devel: Re: Umax Parallel</title>
<h1>Re: Umax Parallel</h1>
<b>Jonathan A. Buzzard</b> (<a href="mailto:jonathan@buzzard.org.uk"><i>jonathan@buzzard.org.uk</i></a>)<br>
<i>Thu, 09 Dec 1999 21:22:49 +0000</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#84">[ date ]</a><a href="index.html#84">[ thread ]</a><a href="subject.html#84">[ subject ]</a><a href="author.html#84">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0085.html">Joachim Heidemeier: "Microtek X6 and TMA"</a>
<li> <b>Previous message:</b> <a href="0083.html">Mathew sienko x7439: "Re: Volunteer for back end development - excellent info in this msg"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<a href="mailto:inan@canada.com">inan@canada.com</a> said:<br>
<i>&gt; Has anyone had success getting information from Umax on their parallel</i><br>
<i>&gt; scanner format?  I've mailed them, but no response... </i><br>
<p>
No chance. I saw a comment on the Umax UK website saying that the document<br>
has been requested from Umax in Taiwan and would be made available<br>
if it is ever produced. In the mean time they are apparently either<br>
ignoring/auto-responding due to lots of "rude" customers complaining.<br>
<p>
<p>
JAB.<br>
<p>
<p>
<pre>
-- 
Jonathan A. Buzzard                 Email: <a href="mailto:jonathan@buzzard.org.uk">jonathan@buzzard.org.uk</a>
Northumberland, United Kingdom.       Tel: +44(0)1661-832195
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0085.html">Joachim Heidemeier: "Microtek X6 and TMA"</a>
<li> <b>Previous message:</b> <a href="0083.html">Mathew sienko x7439: "Re: Volunteer for back end development - excellent info in this msg"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
