<!-- received="Thu Dec  9 14:45:01 1999 PST" -->
<!-- sent="Thu, 9 Dec 1999 21:51:25 +0100 (MET)" -->
<!-- name="Joachim Heidemeier" -->
<!-- email="joheid@ttiger.in-berlin.de" -->
<!-- subject="Microtek X6 and TMA" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Microtek X6 and TMA</title>
<h1>Microtek X6 and TMA</h1>
<b>Joachim Heidemeier</b> (<a href="mailto:joheid@ttiger.in-berlin.de"><i>joheid@ttiger.in-berlin.de</i></a>)<br>
<i>Thu, 9 Dec 1999 21:51:25 +0100 (MET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#85">[ date ]</a><a href="index.html#85">[ thread ]</a><a href="subject.html#85">[ subject ]</a><a href="author.html#85">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0086.html">Eric Galluzzo: "Microtek X6EL"</a>
<li> <b>Previous message:</b> <a href="0084.html">Jonathan A. Buzzard: "Re: Umax Parallel"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I still didn't get my Scanmaker X6 working with transparent media adapter <br>
under sane (windoze / TWAIN works ok, as well as normal flatbed-scanning under <br>
sane). I'm using the microtek2 backend (version 2.08) under linux (suse 6.0, <br>
kernel 2.2.10, 128M RAM).<br>
In the first scan attempt the scanner works and delivers date, but the result <br>
is random noise. The next scan-attempt fails during initialisation with I/O <br>
error. A third attempt blocks the whole system. This block can be removed by <br>
switching the scanner off.<br>
Any ideas or hints ?	 <br>
TIA<br>
<p>
<p>
joachim heidemeier (<a href="mailto:joheid@ttiger.in-berlin.de">joheid@ttiger.in-berlin.de</a>)<br>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0086.html">Eric Galluzzo: "Microtek X6EL"</a>
<li> <b>Previous message:</b> <a href="0084.html">Jonathan A. Buzzard: "Re: Umax Parallel"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
