<!-- received="Sun Dec 12 02:01:03 1999 PST" -->
<!-- sent="Sun, 12 Dec 1999 18:05:09 +0800" -->
<!-- name="Petter Reinholdtsen" -->
<!-- email="pere@hungry.com" -->
<!-- subject="New unstable SANE snapshot (19991212)" -->
<!-- id="199912121005.SAA31163@xena.ee.uwa.edu.au" -->
<!-- inreplyto="" -->
<title>sane-devel: New unstable SANE snapshot (19991212)</title>
<h1>New unstable SANE snapshot (19991212)</h1>
<b>Petter Reinholdtsen</b> (<a href="mailto:pere@hungry.com"><i>pere@hungry.com</i></a>)<br>
<i>Sun, 12 Dec 1999 18:05:09 +0800</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#93">[ date ]</a><a href="index.html#93">[ thread ]</a><a href="subject.html#93">[ subject ]</a><a href="author.html#93">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0094.html">Douglas Gilbert: "Re: New unstable SANE snapshot (19991212)"</a>
<li> <b>Previous message:</b> <a href="0092.html">Petter Reinholdtsen: "Re: [patch] support for Ricoh IS50"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0094.html">Douglas Gilbert: "Re: New unstable SANE snapshot (19991212)"</a>
<li> <b>Reply:</b> <a href="0094.html">Douglas Gilbert: "Re: New unstable SANE snapshot (19991212)"</a>
<li> <b>Reply:</b> <a href="0096.html">Petter Reinholdtsen: "Re: New unstable SANE snapshot (19991212)"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I managed to wrap up a new snapshot with the current CVS version.<br>
Please test it, and report bugs to the list.<br>
<p>
<a href="http://www.student.uit.no/~pere/linux/sane/sane-devel-19991212.tar.gz">http://www.student.uit.no/~pere/linux/sane/sane-devel-19991212.tar.gz</a><br>
<p>
Current NEWS file:<br>
<p>
  New after 1.01:<br>
  * Added Ricoh IS50 support.<br>
  * Updated HP backend to v0.83<br>
  * Updated UMAX backend to v1.0-build-12<br>
  * Updated CANON backend to v991108<br>
  * Updated Microtek backend to 0.11.0<br>
  * Updated Microtek2 backend to v0.8<br>
  * Updated Artec backend to v0.5<br>
  * Upgraded to libtool 1.3.3<br>
<p>
Check the ChangeLog for more info.<br>
<p>
I'm aware of three changes which should be included in the<br>
distribution: The Linux SG (SCSI) driver changes, the Video4Linux<br>
backend and the Video4Linux 2 backend.  Please let me know if there<br>
are others.  The first one is not yet included, as I have not been<br>
able to test it.  The next two needs some changes before I will<br>
include them into the distribution.<br>
<p>
JFYI.<br>
<pre>
-- 
##&gt;  Petter Reinholdtsen &lt;##    | <a href="mailto:pere@td.org.uit.no">pere@td.org.uit.no</a>
 O-  &lt;SCRIPT Language="Javascript"&gt;window.close()&lt;/SCRIPT&gt;
<a href="http://www.hungry.com/~pere/">http://www.hungry.com/~pere/</a>    | Go Mozilla, go! Go!
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0094.html">Douglas Gilbert: "Re: New unstable SANE snapshot (19991212)"</a>
<li> <b>Previous message:</b> <a href="0092.html">Petter Reinholdtsen: "Re: [patch] support for Ricoh IS50"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0094.html">Douglas Gilbert: "Re: New unstable SANE snapshot (19991212)"</a>
<li> <b>Reply:</b> <a href="0094.html">Douglas Gilbert: "Re: New unstable SANE snapshot (19991212)"</a>
<li> <b>Reply:</b> <a href="0096.html">Petter Reinholdtsen: "Re: New unstable SANE snapshot (19991212)"</a>
<!-- reply="end" -->
</ul>
