<!-- received="Sat Dec 18 19:30:08 1999 PST" -->
<!-- sent="Sat, 18 Dec 1999 22:35:22 -0500" -->
<!-- name="Fred Willingham" -->
<!-- email="fcw@worldpath.net" -->
<!-- subject="Re: Mustek 12000SP / V1.00" -->
<!-- id="" -->
<!-- inreplyto="Mustek 12000SP / V1.00" -->
<title>sane-devel: Re: Mustek 12000SP / V1.00</title>
<h1>Re: Mustek 12000SP / V1.00</h1>
<b>Fred Willingham</b> (<a href="mailto:fcw@worldpath.net"><i>fcw@worldpath.net</i></a>)<br>
<i>Sat, 18 Dec 1999 22:35:22 -0500</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#119">[ date ]</a><a href="index.html#119">[ thread ]</a><a href="subject.html#119">[ subject ]</a><a href="author.html#119">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0120.html">David Mosberger-Tang: "forwarded message from Peter Fales"</a>
<li> <b>Previous message:</b> <a href="0118.html">Ekkard Gerlach: "Mustek 12000SP / V1.00"</a>
<li> <b>Maybe in reply to:</b> <a href="0118.html">Ekkard Gerlach: "Mustek 12000SP / V1.00"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
This is a multi-part message in MIME format.<br>
<p>
------=_NextPart_000_0036_01BF49A8.2B9B61C0<br>
Content-Type: text/plain;<br>
	charset="iso-8859-1"<br>
Content-Transfer-Encoding: quoted-printable<br>
<p>
Anything going on involving UMAX 1220U (USB)?<br>
<p>
-F<br>
  ----- Original Message -----=20<br>
  From: Ekkard Gerlach=20<br>
  To: sane=20<br>
  Sent: Saturday, December 18, 1999 6:03 AM<br>
  Subject: Mustek 12000SP / V1.00<br>
<p>
<p>
  Hello,=20<br>
<p>
  please, who has Mustek 12000SP running on linux ????<br>
      (Please don=B4t confuse with Mustek 1200xy !)<br>
<p>
<p>
  I just purchased Mustek 12000SP but the firmware is<br>
  perhaps very old. I detect version 1.00 and not<br>
  version 1.01 !!!!=20<br>
<p>
  Like info in <a href="http://www.mostang.com/sane/sane-backends.html=20">http://www.mostang.com/sane/sane-backends.html=20</a><br>
  only version 1.01 is running with sane. Is this correct  ????? =20<br>
  Please test it with  cat /proc/scsi/scsi<br>
<p>
  My data:=20<br>
    gerlach@rex:~ &gt; cat /proc/scsi/scsi<br>
    Attached devices:<br>
    Host: scsi0 Channel: 00 Id: 06 Lun: 00<br>
     Vendor: SCANNER  Model:    Rev: V100<br>
     Type:   Scanner            ANSI SCSI revision: 01 CCS    =20<br>
<p>
  What have you in cat /proc/scsi/scsi ?<br>
<p>
  thank you<br>
  Ekkard=20<br>
<p>
<p>
<p>
  BTW:=20<br>
  root@rex:&gt; find-scanner<br>
  find-scanner: found scanner "SCANNER  V100" at device /dev/scanner<br>
  find-scanner: found scanner "SCANNER  V100" at device /dev/sg0<br>
  find-scanner: found scanner "SCANNER  V100" at device /dev/sga<br>
<p>
  .. but:<br>
  root@rex:/home/gerlach &gt; scanimage --list-devices<br>
  device `pnm:0' is a Noname PNM file reader virtual device<br>
  device `pnm:1' is a Noname PNM file reader virtual device     =20<br>
<p>
<p>
  crwxrwxrwx   1 root     disk      21,   0 Apr  5  1999 /dev/sg0<br>
<p>
  lrwxrwxrwx   1 root     root       3 May 27  1999 /dev/sga -&gt; sg0<br>
<p>
  lrwxrwxrwx   1 root     users      3 Dec 13 20:59 /dev/scanner -&gt;gg0 =20<br>
<p>
<p>
  using sane 1.0.0.27. Update useful?<br>
<p>
<p>
  --<br>
  Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a><br>
  To unsubscribe: echo unsubscribe sane-devel | mail =<br>
<a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a><br>
<p>
<p>
------=_NextPart_000_0036_01BF49A8.2B9B61C0<br>
Content-Type: text/html;<br>
	charset="iso-8859-1"<br>
Content-Transfer-Encoding: quoted-printable<br>
<p>
&lt;!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN"&gt;<br>
<HTML><HEAD>
<META content=3D"text/html; charset=3Diso-8859-1" =
http-equiv=3DContent-Type>
<META content=3D"MSHTML 5.00.2014.210" name=3DGENERATOR>
<STYLE></STYLE>
</HEAD>
<BODY bgColor=3D#ffffff>
<DIV><FONT face=3DArial size=3D3>Anything going on involving UMAX 1220U=20
(USB)?</FONT></DIV>
<DIV>&nbsp;</DIV>
<DIV><FONT face=3DArial>-F</FONT></DIV>
<BLOCKQUOTE=20
style=3D"BORDER-LEFT: #000000 2px solid; MARGIN-LEFT: 5px; MARGIN-RIGHT: =
0px; PADDING-LEFT: 5px; PADDING-RIGHT: 0px">
  <DIV style=3D"FONT: 10pt arial">----- Original Message ----- </DIV>
  <DIV=20
  style=3D"BACKGROUND: #e4e4e4; FONT: 10pt arial; font-color: =
black"><B>From:</B>=20
  <A href=3D"mailto:SPS_Gerlach@online.de" =
title=3DSPS_Gerlach@online.de>Ekkard=20
  Gerlach</A> </DIV>
  <DIV style=3D"FONT: 10pt arial"><B>To:</B> <A=20
  href=3D"mailto:sane-devel@mostang.com" =
title=3Dsane-devel@mostang.com>sane</A>=20
  </DIV>
  <DIV style=3D"FONT: 10pt arial"><B>Sent:</B> Saturday, December 18, =
1999 6:03=20
  AM</DIV>
  <DIV style=3D"FONT: 10pt arial"><B>Subject:</B> Mustek 12000SP / =
V1.00</DIV>
  <DIV><BR></DIV>Hello, <BR><BR>please, who has Mustek 12000SP running =
on linux=20
  ????<BR>&nbsp;&nbsp;&nbsp; (Please don=B4t confuse with Mustek 1200xy=20
  !)<BR><BR><BR>I just purchased Mustek 12000SP but the firmware =
is<BR>perhaps=20
  very old. I detect version 1.00 and not<BR>version 1.01 !!!! =
<BR><BR>Like info=20
  in <A=20
  =
href=3D"http://www.mostang.com/sane/sane-backends.html">http://www.mostan=
g.com/sane/sane-backends.html</A>=20
  <BR>only version 1.01 is running with sane. Is this correct&nbsp; =
?????&nbsp;=20
  <BR>Please test it with&nbsp; cat /proc/scsi/scsi<BR><BR>My data: =
<BR>&nbsp;=20
  gerlach@rex:~ &gt; cat /proc/scsi/scsi<BR>&nbsp; Attached =
devices:<BR>&nbsp;=20
  Host: scsi0 Channel: 00 Id: 06 Lun: 00<BR>&nbsp;&nbsp; Vendor: =
SCANNER&nbsp;=20
  Model:&nbsp;&nbsp;&nbsp; Rev: V100<BR>&nbsp;&nbsp; Type:&nbsp;&nbsp;=20
  =
Scanner&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;=
 ANSI=20
  SCSI revision: 01 CCS&nbsp;&nbsp;&nbsp;&nbsp; <BR><BR>What have you in =
cat=20
  /proc/scsi/scsi ?<BR><BR>thank you<BR>Ekkard <BR><BR><BR><BR>BTW:=20
  <BR>root@rex:&gt; find-scanner<BR>find-scanner: found scanner =
"SCANNER&nbsp;=20
  V100" at device /dev/scanner<BR>find-scanner: found scanner =
"SCANNER&nbsp;=20
  V100" at device /dev/sg0<BR>find-scanner: found scanner "SCANNER&nbsp; =
V100"=20
  at device /dev/sga<BR><BR>.. but:<BR>root@rex:/home/gerlach &gt; =
scanimage=20
  --list-devices<BR>device `pnm:0' is a Noname PNM file reader virtual=20
  device<BR>device `pnm:1' is a Noname PNM file reader virtual=20
  device&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; =
<BR><BR><BR>crwxrwxrwx&nbsp;&nbsp; 1=20
  root&nbsp;&nbsp;&nbsp;&nbsp; disk&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;=20
  21,&nbsp;&nbsp; 0 Apr&nbsp; 5&nbsp; 1999=20
  /dev/sg0<BR><BR>lrwxrwxrwx&nbsp;&nbsp; 1 root&nbsp;&nbsp;&nbsp;&nbsp;=20
  root&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 3 May 27&nbsp; 1999 /dev/sga =
-&gt;=20
  sg0<BR><BR>lrwxrwxrwx&nbsp;&nbsp; 1 root&nbsp;&nbsp;&nbsp;&nbsp;=20
  users&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 3 Dec 13 20:59 /dev/scanner =
-&gt;gg0&nbsp;=20
  <BR><BR><BR>using sane 1.0.0.27. Update =
useful?<BR><BR><BR>--<BR>Source code,=20
  list archive, and docs: <A=20
  =
href=3D"http://www.mostang.com/sane/">http://www.mostang.com/sane/</A><BR=
>To=20
  unsubscribe: echo unsubscribe sane-devel | mail <A=20
  =
href=3D"mailto:majordomo@mostang.com">majordomo@mostang.com</A><BR></BLOC=
KQUOTE></BODY></HTML>

------=_NextPart_000_0036_01BF49A8.2B9B61C0--


--
Source code, list archive, and docs: http://www.mostang.com/sane/
To unsubscribe: echo unsubscribe sane-devel | mail majordomo@mostang.com
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0120.html">David Mosberger-Tang: "forwarded message from Peter Fales"</a>
<li> <b>Previous message:</b> <a href="0118.html">Ekkard Gerlach: "Mustek 12000SP / V1.00"</a>
<li> <b>Maybe in reply to:</b> <a href="0118.html">Ekkard Gerlach: "Mustek 12000SP / V1.00"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
