<!-- received="Sun Dec 19 17:04:19 1999 PST" -->
<!-- sent="Mon, 20 Dec 1999 02:00:12 +0100" -->
<!-- name="Ekkard Gerlach" -->
<!-- email="SPS_Gerlach@online.de" -->
<!-- subject="xscanimage fails starting on device" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: xscanimage fails starting on device</title>
<h1>xscanimage fails starting on device</h1>
<b>Ekkard Gerlach</b> (<a href="mailto:SPS_Gerlach@online.de"><i>SPS_Gerlach@online.de</i></a>)<br>
<i>Mon, 20 Dec 1999 02:00:12 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#122">[ date ]</a><a href="index.html#122">[ thread ]</a><a href="subject.html#122">[ subject ]</a><a href="author.html#122">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0123.html">Ekkard Gerlach: "Re: xscanimage fails starting on device"</a>
<li> <b>Previous message:</b> <a href="0121.html">David Mosberger-Tang: "forwarded message from Stanislav Brabec"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0123.html">Ekkard Gerlach: "Re: xscanimage fails starting on device"</a>
<li> <b>Reply:</b> <a href="0123.html">Ekkard Gerlach: "Re: xscanimage fails starting on device"</a>
<li> <b>Reply:</b> <a href="0132.html">Ekkard Gerlach: "Re: xscanimage fails starting on device"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hello, <br>
<p>
"xscanimage /dev/sga"     or<br>
"xscanimage /dev/sg0"     or <br>
"xscanimage /dev/scanner" reports:<br>
<p>
Gk-CRITICAL **: file gtkmain.c: line 532 (gtk_main_quit):<br>
assertion `main_loops != NULL'  failed.<br>
<p>
Why ? <br>
=====<br>
<p>
<p>
My System:<br>
  Mustek 12000SP; SCSI-aha1505 and scanner detected <br>
  (proved in /proc/scsi/...) <br>
<p>
  sane 1.0.0-27<br>
<p>
  scanimage --list-device  reports:<br>
  device `pnm:0' is a Noname PNM file reader virtual device<br>
  device `pnm:1' is a Noname PNM file reader virtual device    <br>
<p>
  <br>
Where is the fault: are the devices not connectet or is<br>
sane buggy ? All software for installation comes <br>
from Suse 6.1 where<br>
in /usr/doc/packages/sane/doc/sane-mustek.5   I can read:<br>
<p>
[...]<br>
MFS-1200SP  MSF-12000SP v1.00 (and higher) 1-pass <br>
[...]<br>
<br>
   <br>
Has somebody an idea or tools to test ?<br>
<p>
There is only the scanner attached to the SCSI-Card.<br>
The scanner is not terminated.<br>
<p>
thx<br>
Ekkard<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0123.html">Ekkard Gerlach: "Re: xscanimage fails starting on device"</a>
<li> <b>Previous message:</b> <a href="0121.html">David Mosberger-Tang: "forwarded message from Stanislav Brabec"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0123.html">Ekkard Gerlach: "Re: xscanimage fails starting on device"</a>
<li> <b>Reply:</b> <a href="0123.html">Ekkard Gerlach: "Re: xscanimage fails starting on device"</a>
<li> <b>Reply:</b> <a href="0132.html">Ekkard Gerlach: "Re: xscanimage fails starting on device"</a>
<!-- reply="end" -->
</ul>
