<!-- received="Mon Dec 20 09:39:04 1999 PST" -->
<!-- sent="Mon, 20 Dec 1999 11:30:01 -0600" -->
<!-- name="Christoph Wasshuber" -->
<!-- email="wasshub@spdc.ti.com" -->
<!-- subject="EPSON scanners" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: EPSON scanners</title>
<h1>EPSON scanners</h1>
<b>Christoph Wasshuber</b> (<a href="mailto:wasshub@spdc.ti.com"><i>wasshub@spdc.ti.com</i></a>)<br>
<i>Mon, 20 Dec 1999 11:30:01 -0600</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#125">[ date ]</a><a href="index.html#125">[ thread ]</a><a href="subject.html#125">[ subject ]</a><a href="author.html#125">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0126.html">Harry E. Clarke: "Epson Perfection 1200S"</a>
<li> <b>Previous message:</b> <a href="0124.html">Christoph Wasshuber: "network scanners?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On the webpage are listed<br>
EPSON GT-7000 and GT-5000. However<br>
I couldn't find these products on<br>
the EPSON webpage.<br>
What about the EPSON 836XL (SCSI)?<br>
Does this work under SANE?<br>
<p>
Chris<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0126.html">Harry E. Clarke: "Epson Perfection 1200S"</a>
<li> <b>Previous message:</b> <a href="0124.html">Christoph Wasshuber: "network scanners?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
