<!-- received="Tue Dec 21 15:27:59 1999 PST" -->
<!-- sent="Wed, 22 Dec 1999 00:29:25 -0000 (/etc/localtime" -->
<!-- name="marcel pol" -->
<!-- email="mpol@gmx.net" -->
<!-- subject="Re: Microtek Pagewizard support?" -->
<!-- id="" -->
<!-- inreplyto="E11zpq3-0006wF-00@yoo-hoo.ai.mit.edu" -->
<title>sane-devel: Re: Microtek Pagewizard support?</title>
<h1>Re: Microtek Pagewizard support?</h1>
<b>marcel pol</b> (<a href="mailto:mpol@gmx.net"><i>mpol@gmx.net</i></a>)<br>
<i>Wed, 22 Dec 1999 00:29:25 -0000 (/etc/localtime</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#143">[ date ]</a><a href="index.html#143">[ thread ]</a><a href="subject.html#143">[ subject ]</a><a href="author.html#143">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0144.html">Matto Marjanovic: "Re: Microtek Pagewizard support?"</a>
<li> <b>Previous message:</b> <a href="0142.html">Olivier Poulet: "Re: Mustek SE 12000 SP Plus"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On 19-Dec-99 Matto Marjanovic wrote:<br>
<i>&gt; What does the microtek(1) backend say about this scanner?</i><br>
<p>
<i>&gt; (i.e., setenv SANE_DEBUG_MICROTEK 128, and report what happens (most</i><br>
<i>&gt;  importantly, the entire "Scanner Inquiry Block")</i><br>
<p>
I gave the command 'export SANE_DEBUG_MICROTEK=128'<br>
<p>
It says it doesn't look like a microtek scanner.<br>
  Microtek backend 0.10.1<br>
  ===Inquiry block===mm<br>
  06 31 23 01 5b 00 00 00 20 20 20 20 20 20 20 20    <br>
  53 63 61 6e 6e 65 72 20 33 30 30 53 20 20 20 20      <br>
  31 2e 33 30 53 43 53 49 20 46 2f 57 56 33 2e 34       <br>
  20 43 54 4c 35 33 38 30 03 4f 8c c5 00 ee 65 0b         <br>
  01 01 01 00 00 03 00 01 00 4a 01 04 00 01 04 01         <br>
  0b 01 00 00 00 00 00 00 00 00 00 00 00 00 00 ff<br>
<p>
  ===Scanner Inquiry Report===<br>
  ==Scanner Id...<br>
  Device type code: 0x06<br>
  Model Code: 0x65<br>
  Vendor Name: '       '  Model Name: 'Scanner 300S'<br>
  Firmware Rev: '1.30'<br>
  SCSI F/W version: 3.1    Scanner F/W version: 2.3<br>
  Response data format: 0x01<br>
<p>
I hope you know what this is about.<br>
Thanks in advance,<br>
<p>
Marcel Pol<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0144.html">Matto Marjanovic: "Re: Microtek Pagewizard support?"</a>
<li> <b>Previous message:</b> <a href="0142.html">Olivier Poulet: "Re: Mustek SE 12000 SP Plus"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
