<!-- received="Tue Dec 21 19:16:41 1999 PST" -->
<!-- sent="Tue, 21 Dec 1999 22:16:34 -0500" -->
<!-- name="Matto Marjanovic" -->
<!-- email="maddog@mir.com" -->
<!-- subject="Re: Microtek Pagewizard support?" -->
<!-- id="E120cGQ-0000l4-00@yoo-hoo.ai.mit.edu" -->
<!-- inreplyto="Microtek Pagewizard support?" -->
<title>sane-devel: Re: Microtek Pagewizard support?</title>
<h1>Re: Microtek Pagewizard support?</h1>
<b>Matto Marjanovic</b> (<a href="mailto:maddog@mir.com"><i>maddog@mir.com</i></a>)<br>
<i>Tue, 21 Dec 1999 22:16:34 -0500</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#144">[ date ]</a><a href="index.html#144">[ thread ]</a><a href="subject.html#144">[ subject ]</a><a href="author.html#144">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0145.html">Bill Thompson: "xsane fax options.."</a>
<li> <b>Previous message:</b> <a href="0143.html">marcel pol: "Re: Microtek Pagewizard support?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Holy cow!  This does look completely like a microtek(1) scanner;<br>
 you may well prove my webpage's claim wrong (that there are no<br>
 parallel port scanners supported by the microtek backend).<br>
<p>
"0x65" is indeed in my list of model codes ("Jupiter"), however<br>
 I didn't put it in the backend, probably because I couldn't figure<br>
 out what scanner it could possibly be at the time.<br>
With a couple of simple additions, the backend should work, or at<br>
 least give far more information.<br>
<p>
Try the following (and please send another debugging log, in its<br>
 entirety --- you can just send it directly to &lt;<a href="mailto:mtek-bugs@mir.com">mtek-bugs@mir.com</a>&gt;.<br>
 Please also send me any information you can find on the scanner,<br>
 its full name, model number from the back, year of manufacture, etc.).<br>
<p>
 All these changes are to "microtek.c":<br>
<p>
 1) Find the function "id_microtek()", and add:<br>
 <br>
    case 0x65 : <br>
      *model_string = "Pagewizard"; break;<br>
<p>
    immediately after:<br>
<p>
    case 0x63 :<br>
    case 0x66 :<br>
      *model_string = "ScanMaker E6";       break;<br>
    case 0x64 : /* and "Vobis RealScan" */<br>
      *model_string = "ScanMaker E2"; break;<br>
<p>
 2) Find the function "parse_inquiry", and add:<br>
<p>
  case 0x65: /* Pagewizard     */<br>
<p>
    immediately after:<br>
<p>
  case 0x5f: /* ScanMaker E3      */<br>
  case 0x56: /* ScanMaker A3t     */<br>
  case 0x64: /* ScanMaker E2 (,Vobis RealScan) */<br>
<p>
    This assumes that this is a 300dpi scanner. If it is not,<br>
    the line should be added somewhere else in that function;<br>
    it should be fairly obvious how this works.<br>
<p>
<p>
-matt m.<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0145.html">Bill Thompson: "xsane fax options.."</a>
<li> <b>Previous message:</b> <a href="0143.html">marcel pol: "Re: Microtek Pagewizard support?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
