<!-- received="Wed Dec 22 20:41:51 1999 PST" -->
<!-- sent="Wed, 22 Dec 1999 22:41:29 -0600 (CST)" -->
<!-- name="Henry Miller" -->
<!-- email="hank@black-hole.com" -->
<!-- subject="Which USB are we likely to get." -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Which USB are we likely to get.</title>
<h1>Which USB are we likely to get.</h1>
<b>Henry Miller</b> (<a href="mailto:hank@black-hole.com"><i>hank@black-hole.com</i></a>)<br>
<i>Wed, 22 Dec 1999 22:41:29 -0600 (CST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#162">[ date ]</a><a href="index.html#162">[ thread ]</a><a href="subject.html#162">[ subject ]</a><a href="author.html#162">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0163.html">Steve Baker: "Re: compile trouble SANE v1.0.1, gimp 1.1.13"</a>
<li> <b>Previous message:</b> <a href="0161.html">David Rose: "Minolta development commences"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Has anyone done a general survey to see what manufactures are likley to<br>
give us the information needed to write drivers for their USB scanners?<br>
The local best buy has an Acer USB scanner for $25.   (I surved all my<br>
windows using relatives, but none of them have USB though all want a<br>
scanner)  The Microtex isn't too expensive either.  If odds where good<br>
that I could use one of these with Sane in the future I'd probably buy<br>
one.<br>
<p>
It would be nice if the website could list which companies are responsive<br>
to queries for USB information.<br>
<p>
Looking over the mailing list, it appears that UMAX will not release their<br>
USB specs.  HP might not be so bad, we don't have drivers yet.<br>
<p>
<p>
<pre>
-- 
      <a href="http://www.black-hole.com/users/henrymiller/">http://www.black-hole.com/users/henrymiller/</a> 
      <a href="mailto:hank@black-hole.com">hank@black-hole.com</a>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0163.html">Steve Baker: "Re: compile trouble SANE v1.0.1, gimp 1.1.13"</a>
<li> <b>Previous message:</b> <a href="0161.html">David Rose: "Minolta development commences"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
