<!-- received="Tue Dec 28 22:25:41 1999 PST" -->
<!-- sent="Wed, 29 Dec 1999 01:26:48 -0500 (EST)" -->
<!-- name="Jeff DeFouw" -->
<!-- email="defouwj@purdue.edu" -->
<!-- subject="Mustek 600 III EP Plus SANE backend" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Mustek 600 III EP Plus SANE backend</title>
<h1>Mustek 600 III EP Plus SANE backend</h1>
<b>Jeff DeFouw</b> (<a href="mailto:defouwj@purdue.edu"><i>defouwj@purdue.edu</i></a>)<br>
<i>Wed, 29 Dec 1999 01:26:48 -0500 (EST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#191">[ date ]</a><a href="index.html#191">[ thread ]</a><a href="subject.html#191">[ subject ]</a><a href="author.html#191">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0192.html">Brad Johnson: "IBM IdeaScan"</a>
<li> <b>Previous message:</b> <a href="0190.html">Paulo Abreu: "Re: Mustek ScanExpress 12000P"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
The Mustek 600 III EP Plus SANE backend has been released and is now<br>
available at <a href="http://www.i2k.com/~jeffd/a4s2/">http://www.i2k.com/~jeffd/a4s2/</a> .  Source included.<br>
<p>
Be sure to read the release notes!<br>
<p>
This will probably be the last message I send out to the mailing list I've<br>
built for those interested in the driver.  Updates will appear on the site<br>
listed above.<br>
<p>
Send any patches, suggestions, and bug reports to me.<br>
<p>
<pre>
--
Jeff DeFouw &lt;<a href="mailto:defouwj@purdue.edu">defouwj@purdue.edu</a>&gt;
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0192.html">Brad Johnson: "IBM IdeaScan"</a>
<li> <b>Previous message:</b> <a href="0190.html">Paulo Abreu: "Re: Mustek ScanExpress 12000P"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
