<!-- received="Sun Nov  2 17:29:12 1997 PST" -->
<!-- sent="Mon, 03 Nov 97 02:28:58 +0100" -->
<!-- name="Stefan Knodt" -->
<!-- email="sknodt@bluewin.ch" -->
<!-- subject="Make OS2 Binaries ?" -->
<!-- id="199711030126.CAA22587@bluewin.ch" -->
<!-- inreplyto="" -->
<title>sane-devel: Make OS2 Binaries ?</title>
<h1>Make OS2 Binaries ?</h1>
<b>Stefan Knodt</b> (<a href="mailto:sknodt@bluewin.ch"><i>sknodt@bluewin.ch</i></a>)<br>
<i>Mon, 03 Nov 97 02:28:58 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#18">[ date ]</a><a href="index.html#18">[ thread ]</a><a href="subject.html#18">[ subject ]</a><a href="author.html#18">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0019.html">David Mosberger-Tang: "Re: Make OS2 Binaries ?"</a>
<li> <b>Previous message:</b> <a href="0017.html">Matt Thompson: "Re: ./configure doesn't think I have X"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0019.html">David Mosberger-Tang: "Re: Make OS2 Binaries ?"</a>
<li> <b>Reply:</b> <a href="0019.html">David Mosberger-Tang: "Re: Make OS2 Binaries ?"</a>
<li> <b>Reply:</b> <a href="0030.html">Jeff Freedman: "Re: Make OS2 Binaries ?"</a>
<li> <b>Reply:</b> <a href="0041.html">Stefan Knodt: "Re: Make OS2 Binaries ?"</a>
<li> <b>Reply:</b> <a href="0048.html">Jeff Freedman: "Re: Make OS2 Binaries ?"</a>
<li> <b>Reply:</b> <a href="0051.html">Stefan Knodt: "Re: Make OS2 Binaries ?"</a>
<li> <b>Reply:</b> <a href="0057.html">Stefan Knodt: "Re: Make OS2 Binaries ?"</a>
<li> <b>Reply:</b> <a href="0058.html">Jeff Freedman: "Re: Make OS2 Binaries ?"</a>
<li> <b>Reply:</b> <a href="0059.html">Jeff Freedman: "Re: Make OS2 Binaries ?"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Can anybody tell me  what tools are needed to make the binaries for OS2 ?<br>
<p>
Tks.<br>
<p>
<p>
---------------------------<br>
<a href="mailto:sknodt@bluewin.ch">sknodt@bluewin.ch</a><br>
---------------------------<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0019.html">David Mosberger-Tang: "Re: Make OS2 Binaries ?"</a>
<li> <b>Previous message:</b> <a href="0017.html">Matt Thompson: "Re: ./configure doesn't think I have X"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0019.html">David Mosberger-Tang: "Re: Make OS2 Binaries ?"</a>
<li> <b>Reply:</b> <a href="0019.html">David Mosberger-Tang: "Re: Make OS2 Binaries ?"</a>
<li> <b>Reply:</b> <a href="0030.html">Jeff Freedman: "Re: Make OS2 Binaries ?"</a>
<li> <b>Reply:</b> <a href="0041.html">Stefan Knodt: "Re: Make OS2 Binaries ?"</a>
<li> <b>Reply:</b> <a href="0048.html">Jeff Freedman: "Re: Make OS2 Binaries ?"</a>
<li> <b>Reply:</b> <a href="0051.html">Stefan Knodt: "Re: Make OS2 Binaries ?"</a>
<li> <b>Reply:</b> <a href="0057.html">Stefan Knodt: "Re: Make OS2 Binaries ?"</a>
<li> <b>Reply:</b> <a href="0058.html">Jeff Freedman: "Re: Make OS2 Binaries ?"</a>
<li> <b>Reply:</b> <a href="0059.html">Jeff Freedman: "Re: Make OS2 Binaries ?"</a>
<!-- reply="end" -->
</ul>
