<!-- received="Tue Nov  4 02:48:18 1997 PST" -->
<!-- sent="Tue, 4 Nov 1997 09:01:01 +0100 (MET)" -->
<!-- name="becka@rz.uni-duesseldorf.de" -->
<!-- email="becka@rz.uni-duesseldorf.de" -->
<!-- subject="Re: JAVA version" -->
<!-- id="m0xSdv3-000BWbC@charon.beck-sw.de" -->
<!-- inreplyto="345E1284.1C4BEB8A@hevanet.com" -->
<title>sane-devel: Re: JAVA version</title>
<h1>Re: JAVA version</h1>
<a href="mailto:becka@rz.uni-duesseldorf.de"><i>becka@rz.uni-duesseldorf.de</i></a><br>
<i>Tue, 4 Nov 1997 09:01:01 +0100 (MET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#44">[ date ]</a><a href="index.html#44">[ thread ]</a><a href="subject.html#44">[ subject ]</a><a href="author.html#44">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0045.html">Benedikt Heinen: "Scanner recommendations?"</a>
<li> <b>Previous message:</b> <a href="0043.html">Matto Marjanovic: "Re: gamma-bind infinite loops in 0.67"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi !<br>
<p>
<i>&gt; I'm working on a JAVA version of "xscanimage" which will run as a</i><br>
<i>&gt; stand-alone application.</i><br>
<p>
<i>&gt; I don't know much about HTML or the use of Java for applets, but am</i><br>
<i>&gt; wondering if it's possible to write an applet that can create a</i><br>
<i>&gt; temporary file on the server and then download it to the user.  If so,</i><br>
<i>&gt; then one could use SANE over the Internet. </i><br>
<p>
Using SANE over the net is already possible. This is what the netsaned <br>
and the net backend are for. Couldn't you simply use this ?<br>
<p>
<i>&gt; Would this be a useful thing to do?</i><br>
Sure. I always scan via my server machine over the network.<br>
<p>
CU,ANdy<br>
<p>
<pre>
-- 
Andreas Beck              |  Email :  &lt;<a href="mailto:becka@sunserver1.rz.uni-duesseldorf.de">becka@sunserver1.rz.uni-duesseldorf.de</a>&gt;
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0045.html">Benedikt Heinen: "Scanner recommendations?"</a>
<li> <b>Previous message:</b> <a href="0043.html">Matto Marjanovic: "Re: gamma-bind infinite loops in 0.67"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
