<!-- received="Tue Nov  4 07:12:51 1997 PST" -->
<!-- sent="Tue, 4 Nov 1997 10:12:42 -0500 (EST)" -->
<!-- name="Tom Lee" -->
<!-- email="tjlee@kiva.net" -->
<!-- subject="Tangential question about stuck SCSI scanner" -->
<!-- id="" -->
<!-- inreplyto="199711020931.KAA19521@Babylon5.wolfsburg.de" -->
<title>sane-devel: Tangential question about stuck SCSI scanner</title>
<h1>Tangential question about stuck SCSI scanner</h1>
<b>Tom Lee</b> (<a href="mailto:tjlee@kiva.net"><i>tjlee@kiva.net</i></a>)<br>
<i>Tue, 4 Nov 1997 10:12:42 -0500 (EST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#47">[ date ]</a><a href="index.html#47">[ thread ]</a><a href="subject.html#47">[ subject ]</a><a href="author.html#47">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0048.html">Jeff Freedman: "Re: Make OS2 Binaries ?"</a>
<li> <b>Previous message:</b> <a href="0046.html">Tom Lee: "Re: gtk-951025 patches"</a>
<li> <b>In reply to:</b> <a href="0010.html">Oliver.Rauch@Wolfsburg.DE: "Re: v0.67, finally!"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0090.html">Michael Sweet: "Re: v0.67, finally!"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
	Just a question that somebody out there might be likely to know the<br>
answer to ...<br>
<p>
	Sometimes while scanning I do a Bad Thing and either interrupt the<br>
scanning process with ^C, turn the scanner off and back on, or run a<br>
scanner-related command with the scanner not yet turned on ... and this seems<br>
to put the scanner into an uncommunicative state.  Is there any way to reset<br>
the scanner or reestablish the connection without rebooting the whole system?<br>
<p>
	I asked someone more knowledgeable here, and he said that if I rebuilt<br>
my kernel with the SCSI support as a module, I could remove and reload the<br>
module, and that would probably do it.  So there's a possibility.<br>
<p>
	Possibly relevant information: It's an i586 with Linux 2.0.29; the SCSI<br>
card is an Adaptek AHA-1540CF/1542CF type, and the scanner is a Umax Vista-S6.<br>
<p>
<pre>
--
Tom Lee (<a href="mailto:tjlee@kiva.net">tjlee@kiva.net</a>)
Project Manager (Software Development)
Kiva Networking, Bloomington, Indiana
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0048.html">Jeff Freedman: "Re: Make OS2 Binaries ?"</a>
<li> <b>Previous message:</b> <a href="0046.html">Tom Lee: "Re: gtk-951025 patches"</a>
<li> <b>In reply to:</b> <a href="0010.html">Oliver.Rauch@Wolfsburg.DE: "Re: v0.67, finally!"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0090.html">Michael Sweet: "Re: v0.67, finally!"</a>
<!-- reply="end" -->
</ul>
