<!-- received="Tue Nov  4 15:10:22 1997 PST" -->
<!-- sent="Tue, 4 Nov 1997 12:01:01 +0100 (MET)" -->
<!-- name="becka@rz.uni-duesseldorf.de" -->
<!-- email="becka@rz.uni-duesseldorf.de" -->
<!-- subject="Re: Scanner driver" -->
<!-- id="m0xSgjF-000BWbC@charon.beck-sw.de" -->
<!-- inreplyto="Pine.LNX.3.96.971104090317.27265A-100000@boch35.kfunigraz.ac.at" -->
<title>sane-devel: Re: Scanner driver</title>
<h1>Re: Scanner driver</h1>
<a href="mailto:becka@rz.uni-duesseldorf.de"><i>becka@rz.uni-duesseldorf.de</i></a><br>
<i>Tue, 4 Nov 1997 12:01:01 +0100 (MET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#50">[ date ]</a><a href="index.html#50">[ thread ]</a><a href="subject.html#50">[ subject ]</a><a href="author.html#50">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0051.html">Stefan Knodt: "Re: Make OS2 Binaries ?"</a>
<li> <b>Previous message:</b> <a href="0049.html">Jens Ritter: "v0.67+mustek 1200: color =) --- lineart =("</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt; I've just read your homepage, and I have the question: Is there</i><br>
<i>&gt; a scannerdriver (for Linux/x86 2.0.x) planned for Logitech Scanman?</i><br>
<p>
Logitech ScanMan (32 and 256, not the newer Color models) is supported by a<br>
kernel module driver available from sunsite and my homepage (with me being <br>
the original author).<br>
<p>
Unfortunately noone has yet written a LHII (Linux Handscanner Ioctl Interface)<br>
to SANE Bridge yet. I do not have the ScanMan connected to my system anymore,<br>
so it would be guesswork for me.<br>
<p>
If the kernel-driver works for you, maybe you would like to try ?<br>
It should be fairly easy, as SANE follows the same basic design as LHII ...<br>
<p>
CU,ANdy<br>
<p>
<pre>
-- 
==============================================================================
Andreas Beck              |  Email :  &lt;<a href="mailto:becka@sunserver1.rz.uni-duesseldorf.de">becka@sunserver1.rz.uni-duesseldorf.de</a>&gt;
===  World-Wide-Web URL :  <a href="http://sunserver1.rz.uni-duesseldorf.de/~becka">http://sunserver1.rz.uni-duesseldorf.de/~becka</a>  ===
========  GGI - The Right Thing To Do : <a href="http://synergy.foo.net/~ggi/">http://synergy.foo.net/~ggi/</a>  ========
==============================================================================
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0051.html">Stefan Knodt: "Re: Make OS2 Binaries ?"</a>
<li> <b>Previous message:</b> <a href="0049.html">Jens Ritter: "v0.67+mustek 1200: color =) --- lineart =("</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
