<!-- received="Mon Nov 10 06:26:08 1997 PST" -->
<!-- sent="Mon, 10 Nov 1997 15:25:29 +0100 (CET)" -->
<!-- name="Simona Venuti" -->
<!-- email="simona@termi.fi.infn.it" -->
<!-- subject="REQ: Info about drivers." -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: REQ: Info about drivers.</title>
<h1>REQ: Info about drivers.</h1>
<b>Simona Venuti</b> (<a href="mailto:simona@termi.fi.infn.it"><i>simona@termi.fi.infn.it</i></a>)<br>
<i>Mon, 10 Nov 1997 15:25:29 +0100 (CET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#89">[ date ]</a><a href="index.html#89">[ thread ]</a><a href="subject.html#89">[ subject ]</a><a href="author.html#89">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0090.html">Michael Sweet: "Re: v0.67, finally!"</a>
<li> <b>Previous message:</b> <a href="0088.html">Andrew Kuchling: "Re: SANE-HP Success with HP Scanjet 4P Model C1130A"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hello, <br>
<p>
I would like to know if SAME supports the Epson GT-6000 parallel scanner.<br>
I have looked for that scanner in the web pages, but I haven`t found<br>
anything.<br>
<p>
Thanks in advance,<br>
<p>
			Simona Venuti.<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0090.html">Michael Sweet: "Re: v0.67, finally!"</a>
<li> <b>Previous message:</b> <a href="0088.html">Andrew Kuchling: "Re: SANE-HP Success with HP Scanjet 4P Model C1130A"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
