<!-- received="Thu Nov 20 00:35:34 1997 PST" -->
<!-- sent="Thu, 20 Nov 1997 09:35:14 +0100 (MET)" -->
<!-- name="Andreas Czechanowski" -->
<!-- email="m075@ins.uni-stuttgart.de" -->
<!-- subject="Re: PARAGON 600 II N" -->
<!-- id="Pine.HPP.3.96.971120091213.26643A-100000@inshp01.ins.uni-stuttgart.de" -->
<!-- inreplyto="Pine.LNX.3.95.971119210511.321A-100000@Casper.co.za" -->
<title>sane-devel: Re: PARAGON 600 II N</title>
<h1>Re: PARAGON 600 II N</h1>
<b>Andreas Czechanowski</b> (<a href="mailto:m075@ins.uni-stuttgart.de"><i>m075@ins.uni-stuttgart.de</i></a>)<br>
<i>Thu, 20 Nov 1997 09:35:14 +0100 (MET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#122">[ date ]</a><a href="index.html#122">[ thread ]</a><a href="subject.html#122">[ subject ]</a><a href="author.html#122">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0123.html">Andreas Koppenhoefer: "Scanner-Support for HP LaserJet Companion?"</a>
<li> <b>Previous message:</b> <a href="0121.html">becka@rz.uni-duesseldorf.de: "Re: PARAGON 600 II N"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0166.html">Enrico Oreglia: "Re: PARAGON 600 II N"</a>
<li> <b>Reply:</b> <a href="0166.html">Enrico Oreglia: "Re: PARAGON 600 II N"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi Enrico !<br>
<p>
On Wed, 19 Nov 1997, Enrico Oreglia wrote:<br>
<p>
<i>&gt; I've taken sane-0.67 package and the patch (thank you Mr. Czechanowski!)</i><br>
<p>
That's what you need for a first try (color mode will produce ugly<br>
images, though)<br>
<p>
<i>&gt; Now, after reading all man pages, also the postscript guide, I've no ideas</i><br>
<i>&gt; on how to make working my scanner ;-(</i><br>
<i>&gt; </i><br>
<i>&gt; My scanner isn't scsi standard or parallel port scanner, it's driven by an</i><br>
<i>&gt; ISA card unknown, so what have I to do? I've read the sane-mustek man page</i><br>
<i>&gt; and I've not found my model...</i><br>
<p>
I know, I have the same model, with the AB306N special interface card etc...<br>
Generate a file mustek.conf (in /usr/local/etc/sane.d on my host,<br>
depends on what you have configured; you may use the distributed<br>
mustek.conf in the backends directory as a template), and instead of<br>
a device name (such as /dev/scanner), put a I/O base-address in it.<br>
There are 8 possible I/O bases where the card can be configured<br>
to reside (see sanei/sanei_ab306n.c) :<br>
0x26b, 0x2ab, 0x2eb, 0x22b, 0x32b, 0x36b, 0x3ab, 0x3eb<br>
<p>
Put one of these (in hexadecimal notation as shown) on a line by itself<br>
into the file mustek.conf. I use 0x32b, but it depends on your<br>
configuration (It's always good to know what I/O addresses are already<br>
used). <br>
<p>
<i>&gt; I've compiled the executables scanimage and xscanimage.</i><br>
<p>
Ok, now, you can execute :<br>
<p>
  xscanimage mustek<br>
<p>
or, you may first try<br>
<p>
  scanimage --help --device=mustek<br>
<p>
Optionally, do a <br>
<p>
  export SANE_DEBUG_MUSTEK=2<br>
<p>
to see what's going on (The ID and Firmware revision will be reported).<br>
The scanner should be switched on in both cases. Ignore messages about<br>
a SCSI device that cannot be opened.<br>
<p>
Hope this helps.<br>
<p>
Andreas. <br>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0123.html">Andreas Koppenhoefer: "Scanner-Support for HP LaserJet Companion?"</a>
<li> <b>Previous message:</b> <a href="0121.html">becka@rz.uni-duesseldorf.de: "Re: PARAGON 600 II N"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0166.html">Enrico Oreglia: "Re: PARAGON 600 II N"</a>
<li> <b>Reply:</b> <a href="0166.html">Enrico Oreglia: "Re: PARAGON 600 II N"</a>
<!-- reply="end" -->
</ul>
