<!-- received="Tue Nov 25 11:19:40 1997 PST" -->
<!-- sent="Tue, 25 Nov 1997 11:22:46 -0800" -->
<!-- name="Jeff Freedman" -->
<!-- email="jsf@hevanet.com" -->
<!-- subject="Re: SANE bug with large scans: Microtek E6/Linux 2.0.30" -->
<!-- id="" -->
<!-- inreplyto="SANE bug with large scans: Microtek E6/Linux 2.0.30" -->
<title>sane-devel: Re: SANE bug with large scans: Microtek E6/Linux 2.0.30</title>
<h1>Re: SANE bug with large scans: Microtek E6/Linux 2.0.30</h1>
<b>Jeff Freedman</b> (<a href="mailto:jsf@hevanet.com"><i>jsf@hevanet.com</i></a>)<br>
<i>Tue, 25 Nov 1997 11:22:46 -0800</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#154">[ date ]</a><a href="index.html#154">[ thread ]</a><a href="subject.html#154">[ subject ]</a><a href="author.html#154">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0155.html">John P. Beale: "Advansys SCSI Linux: suspect code"</a>
<li> <b>Previous message:</b> <a href="0153.html">beale@best.com: "SANE bug with large scans: Microtek E6/Linux 2.0.30"</a>
<li> <b>Maybe in reply to:</b> <a href="0153.html">beale@best.com: "SANE bug with large scans: Microtek E6/Linux 2.0.30"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<a href="mailto:beale@best.com">beale@best.com</a> wrote:<br>
<p>
<i>&gt; 3) scanning in big images (eg 8 meg) causes xscanimage to either (a) freeze or</i><br>
<i>&gt; (b) dump core.</i><br>
<p>
I had a similar problem with my Microtek E3, also on a 32Mb system,<br>
until I noticed that I'd never gotten around to setting up a swap<br>
partition.  That fixed it.<br>
<p>
-- Jeff<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0155.html">John P. Beale: "Advansys SCSI Linux: suspect code"</a>
<li> <b>Previous message:</b> <a href="0153.html">beale@best.com: "SANE bug with large scans: Microtek E6/Linux 2.0.30"</a>
<li> <b>Maybe in reply to:</b> <a href="0153.html">beale@best.com: "SANE bug with large scans: Microtek E6/Linux 2.0.30"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
