<!-- received="Thu Nov 27 12:07:35 1997 PST" -->
<!-- sent="Thu, 27 Nov 1997 22:08:30 +0100" -->
<!-- name="Nicolas Lucas de Peslouan" -->
<!-- email="nlp@usa.net" -->
<!-- subject="Re: Life with a UMAX 610S Scanner on Linux" -->
<!-- id="" -->
<!-- inreplyto="Life with a UMAX 610S Scanner on Linux" -->
<title>sane-devel: Re: Life with a UMAX 610S Scanner on Linux</title>
<h1>Re: Life with a UMAX 610S Scanner on Linux</h1>
<b>Nicolas Lucas de Peslouan</b> (<a href="mailto:nlp@usa.net"><i>nlp@usa.net</i></a>)<br>
<i>Thu, 27 Nov 1997 22:08:30 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#168">[ date ]</a><a href="index.html#168">[ thread ]</a><a href="subject.html#168">[ subject ]</a><a href="author.html#168">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0169.html">becka@rz.uni-duesseldorf.de: "Re: Life with a UMAX 610S Scanner on Linux"</a>
<li> <b>Previous message:</b> <a href="0167.html">Oliver.Rauch@Wolfsburg.DE: "Re: Life with a UMAX 610S Scanner on Linux"</a>
<li> <b>Maybe in reply to:</b> <a href="0165.html">Nicolas Lucas de Peslouan: "Life with a UMAX 610S Scanner on Linux"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Thanks for quick answer !<br>
<p>
All the commands I put in the original message was executed as root, so<br>
"Permission denied" is probably not due to mod 600. However, I just<br>
tried to change mod to 666 and link /dev/scanner to /dev/sgb. Then, I<br>
launch scanimage -d /dev/scanner and get the same error message.<br>
<p>
About SCSI disk, you're right, there is no SCSI disk, only one CDROM and<br>
the UMAX scanner. (Disk are IDE, but we don't care... :-)<br>
<p>
<a href="mailto:Oliver.Rauch@Wolfsburg.DE">Oliver.Rauch@Wolfsburg.DE</a> wrote:<br>
<i>&gt; </i><br>
<i>&gt; As far as I see, your scsi-devices are:</i><br>
<i>&gt; ID 3: SCSI-CDROM</i><br>
<i>&gt; ID 5: UMAX-SCANNER</i><br>
<i>&gt; </i><br>
<i>&gt; and there is no SCSI-harddisc!</i><br>
<i>&gt; </i><br>
<i>&gt; If that is so, the scanner should be on device /dev/sgb</i><br>
<i>&gt; </i><br>
<i>&gt; So login as root and do</i><br>
<i>&gt; chmod 666 /dev/sgb</i><br>
<i>&gt; </i><br>
<i>&gt; and I suggest to do:</i><br>
<i>&gt; ln -s /dev/sgb /dev/scanner</i><br>
<i>&gt; </i><br>
<i>&gt; then try again and please tell if it works!</i><br>
<i>&gt; </i><br>
<i>&gt; Bye</i><br>
<i>&gt; Oliver</i><br>
<i>&gt; </i><br>
<i>&gt; --</i><br>
<i>&gt; Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a></i><br>
<i>&gt; To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a></i><br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0169.html">becka@rz.uni-duesseldorf.de: "Re: Life with a UMAX 610S Scanner on Linux"</a>
<li> <b>Previous message:</b> <a href="0167.html">Oliver.Rauch@Wolfsburg.DE: "Re: Life with a UMAX 610S Scanner on Linux"</a>
<li> <b>Maybe in reply to:</b> <a href="0165.html">Nicolas Lucas de Peslouan: "Life with a UMAX 610S Scanner on Linux"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
