<!-- received="Mon Jul  5 14:14:32 1999 PDT" -->
<!-- sent="Mon, 05 Jul 1999 23:04:54 +0100" -->
<!-- name="Jonathan A. Buzzard" -->
<!-- email="jab@hex.prestel.co.uk" -->
<!-- subject="Re: UMAX parallel" -->
<!-- id="E111Gr9-00041S-00@hex.prestel.co.uk" -->
<!-- inreplyto="3780E942.3209BBAB@wolfsburg.de" -->
<title>sane-devel: Re: UMAX parallel</title>
<h1>Re: UMAX parallel</h1>
<b>Jonathan A. Buzzard</b> (<a href="mailto:jab@hex.prestel.co.uk"><i>jab@hex.prestel.co.uk</i></a>)<br>
<i>Mon, 05 Jul 1999 23:04:54 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#34">[ date ]</a><a href="index.html#34">[ thread ]</a><a href="subject.html#34">[ subject ]</a><a href="author.html#34">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0035.html">Jonathan A. Buzzard: "Re: UMAX parallel"</a>
<li> <b>Previous message:</b> <a href="0033.html">amalmin@coho.halcyon.com: "Re: UMAX parallel"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<a href="mailto:oliver.rauch@Wolfsburg.DE">oliver.rauch@Wolfsburg.DE</a> said:<br>
<i>&gt; Oh, I understand if they don`t want to give out their sources! </i><br>
<p>
All right, let UMAX produce the Chinese documentation then, and<br>
we/I will sort out the translation. I'am quite sure that their<br>
are some overseas students at some UK universities who would be<br>
glad of a little extra cash.<br>
<p>
Frankly they are using it as cheap smoke screen for the real reason.<br>
Toshiba have tried the same thing.<br>
<p>
<i>&gt; I only intended it to be a reality check so that people don't think</i><br>
<i>&gt; parallel UMAX scanners are going to be supported anytime soon.</i><br>
<i>&gt;</i><br>
<i>&gt; That is what I always say! </i><br>
<p>
Can't see any words of caution about parallel UMAX scanners, just praise <br>
for UMAX Germany.<br>
<p>
<p>
JAB.<br>
<p>
<p>
<pre>
-- 
Jonathan A. Buzzard                 Email: <a href="mailto:jonathan@buzzard.org.uk">jonathan@buzzard.org.uk</a>
Northumberland, United Kingdom.       Tel: +44(0)1661-832195
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0035.html">Jonathan A. Buzzard: "Re: UMAX parallel"</a>
<li> <b>Previous message:</b> <a href="0033.html">amalmin@coho.halcyon.com: "Re: UMAX parallel"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
