<!-- received="Wed Jul  7 09:38:03 1999 PDT" -->
<!-- sent="Wed, 07 Jul 1999 18:05:40 +0200" -->
<!-- name="abel deuring" -->
<!-- email="a.deuring@satzbau-gmbh.de" -->
<!-- subject="Re: CVS..." -->
<!-- id="" -->
<!-- inreplyto="CVS..." -->
<title>sane-devel: Re: CVS...</title>
<h1>Re: CVS...</h1>
<b>abel deuring</b> (<a href="mailto:a.deuring@satzbau-gmbh.de"><i>a.deuring@satzbau-gmbh.de</i></a>)<br>
<i>Wed, 07 Jul 1999 18:05:40 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#45">[ date ]</a><a href="index.html#45">[ thread ]</a><a href="subject.html#45">[ subject ]</a><a href="author.html#45">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0046.html">Matt Mozur: "xsane copy function"</a>
<li> <b>Previous message:</b> <a href="0044.html">Brian Macy: "CVS..."</a>
<li> <b>Maybe in reply to:</b> <a href="0044.html">Brian Macy: "CVS..."</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0060.html">Petter Reinholdtsen: "Re: CVS..."</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Brian Macy wrote:<br>
<i>&gt; </i><br>
<i>&gt; Is there a live CVS archive for SANE that I can get read-only access to?</i><br>
<p>
Since you are referring to my mail, I'll respond: I don't think so; at<br>
least I don't know about a CVS archive for Sane.<br>
<p>
Abel<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0046.html">Matt Mozur: "xsane copy function"</a>
<li> <b>Previous message:</b> <a href="0044.html">Brian Macy: "CVS..."</a>
<li> <b>Maybe in reply to:</b> <a href="0044.html">Brian Macy: "CVS..."</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0060.html">Petter Reinholdtsen: "Re: CVS..."</a>
<!-- reply="end" -->
</ul>
