<!-- received="Thu Jul  8 08:53:24 1999 PDT" -->
<!-- sent="Thu, 08 Jul 1999 17:48:28 +0200" -->
<!-- name="Oliver Rauch" -->
<!-- email="oliver.rauch@Wolfsburg.DE" -->
<!-- subject="Re: xsane copy function" -->
<!-- id="" -->
<!-- inreplyto="xsane copy function" -->
<title>sane-devel: Re: xsane copy function</title>
<h1>Re: xsane copy function</h1>
<b>Oliver Rauch</b> (<a href="mailto:oliver.rauch@Wolfsburg.DE"><i>oliver.rauch@Wolfsburg.DE</i></a>)<br>
<i>Thu, 08 Jul 1999 17:48:28 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#47">[ date ]</a><a href="index.html#47">[ thread ]</a><a href="subject.html#47">[ subject ]</a><a href="author.html#47">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0048.html">Oliver Rauch: "New umax backend (UMAX Mirage D-16L)"</a>
<li> <b>Previous message:</b> <a href="0046.html">Matt Mozur: "xsane copy function"</a>
<li> <b>Maybe in reply to:</b> <a href="0046.html">Matt Mozur: "xsane copy function"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Matt Mozur wrote:<br>
<p>
<i>&gt; I have been using the copy function quite a bit</i><br>
<i>&gt; at home &amp; I am wondering...</i><br>
<i>&gt;</i><br>
<i>&gt; would it make sense to add a means to select the</i><br>
<i>&gt; number of copies?  what I do now is to modify the</i><br>
<i>&gt; printer setup to use the lpr command string:</i><br>
<i>&gt;</i><br>
<i>&gt;    lpr -Plpxxx -#&lt;number of copies&gt; -</i><br>
<i>&gt;</i><br>
<i>&gt; It would be great if there was a way to pass a</i><br>
<i>&gt; parameter to the print command from the xsane gui.</i><br>
<i>&gt;</i><br>
<p>
Hi Matt,<br>
<p>
this is planned, but I do not have much time to work on<br>
it in the moment!<br>
<p>
Bye<br>
Oliver<br>
<p>
<p>
<pre>
--
EMAIL: <a href="mailto:Oliver.Rauch@Wolfsburg.DE">Oliver.Rauch@Wolfsburg.DE</a>
WWW: <a href="http://www.wolfsburg.de/~rauch">http://www.wolfsburg.de/~rauch</a>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0048.html">Oliver Rauch: "New umax backend (UMAX Mirage D-16L)"</a>
<li> <b>Previous message:</b> <a href="0046.html">Matt Mozur: "xsane copy function"</a>
<li> <b>Maybe in reply to:</b> <a href="0046.html">Matt Mozur: "xsane copy function"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
