<!-- received="Sat Jul 10 00:26:44 1999 PDT" -->
<!-- sent="Sat, 10 Jul 1999 02:30:53 -0500 (CDT)" -->
<!-- name="Kevin Charter" -->
<!-- email="charter@cs.rice.edu" -->
<!-- subject="SnapScan 0.7" -->
<!-- id="199907100730.CAA25557@cs.rice.edu" -->
<!-- inreplyto="" -->
<title>sane-devel: SnapScan 0.7</title>
<h1>SnapScan 0.7</h1>
<b>Kevin Charter</b> (<a href="mailto:charter@cs.rice.edu"><i>charter@cs.rice.edu</i></a>)<br>
<i>Sat, 10 Jul 1999 02:30:53 -0500 (CDT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#51">[ date ]</a><a href="index.html#51">[ thread ]</a><a href="subject.html#51">[ subject ]</a><a href="author.html#51">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0052.html">Bernd Schroeder: "Re: Microtek ScanMaker IV on Linux-2.2.10 (Redhat 6.0)"</a>
<li> <b>Previous message:</b> <a href="0050.html">Roland Genske: "Microtek Problems"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0053.html">Francois Desarmenien: "Re: SnapScan 0.7"</a>
<li> <b>Reply:</b> <a href="0053.html">Francois Desarmenien: "Re: SnapScan 0.7"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I've just put a patch on the SnapScan web page<br>
<p>
  <a href="http://www.cs.ualberta.ca/~charter/SnapScan/snapscan.html">http://www.cs.ualberta.ca/~charter/SnapScan/snapscan.html</a><br>
<p>
that provides a fix for the problems people have had using the backend<br>
with the series 2.2 kernels (in particular, kernels &gt;2.2.5 with the<br>
new generic scsi driver). It works with my model 300, an aha1522 and<br>
kernel 2.2.9. The new backend version is 0.7, and the patch fixes the<br>
sources distributed with SANE 1.0.1.<br>
<p>
Thanks to Francois Desarmeni, Douglas Gilbert, and Abel Deuring for<br>
their work tracking down the bug and suggesting this fix.<br>
<p>
I'll be out of contact until July 14th. In the meantime, I hope<br>
this fixes the problems people have had with late model kernels.<br>
<p>
Kevin<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0052.html">Bernd Schroeder: "Re: Microtek ScanMaker IV on Linux-2.2.10 (Redhat 6.0)"</a>
<li> <b>Previous message:</b> <a href="0050.html">Roland Genske: "Microtek Problems"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0053.html">Francois Desarmenien: "Re: SnapScan 0.7"</a>
<li> <b>Reply:</b> <a href="0053.html">Francois Desarmenien: "Re: SnapScan 0.7"</a>
<!-- reply="end" -->
</ul>
