<!-- received="Wed Jul 14 20:17:26 1999 PDT" -->
<!-- sent="Thu, 15 Jul 1999 11:30:31 +0800" -->
<!-- name="Steve Gunnell" -->
<!-- email="steveg@ccis.adisys.com.au" -->
<!-- subject="Xsane questions and wish list" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Xsane questions and wish list</title>
<h1>Xsane questions and wish list</h1>
<b>Steve Gunnell</b> (<a href="mailto:steveg@ccis.adisys.com.au"><i>steveg@ccis.adisys.com.au</i></a>)<br>
<i>Thu, 15 Jul 1999 11:30:31 +0800</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#77">[ date ]</a><a href="index.html#77">[ thread ]</a><a href="subject.html#77">[ subject ]</a><a href="author.html#77">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0078.html">abel deuring: "Re: SnapScan 0.7 sources available; working patch upcoming"</a>
<li> <b>Previous message:</b> <a href="0076.html">Steve Gunnell: "xscanimage preview problems"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0079.html">Oliver Rauch: "Re: Xsane questions and wish list"</a>
<li> <b>Reply:</b> <a href="0079.html">Oliver Rauch: "Re: Xsane questions and wish list"</a>
<li> <b>Reply:</b> <a href="0087.html">Steve Gunnell: "Re: Xsane questions and wish list"</a>
<li> <b>Reply:</b> <a href="0092.html">Oliver Rauch: "Re: Xsane questions and wish list"</a>
<li> <b>Reply:</b> <a href="0102.html">Peter Kirchgessner: "Re: Xsane questions and wish list"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I recently tried Xsane 0.27 as an alternative frontend to<br>
xscanimage. Most of my current operations are negative scans<br>
from my HP Photosmart. From the way things operate I would<br>
guess Xsane loads a gamma map into the scanner based on the<br>
various preview settings. Does this map operate on the 10<br>
bit values that the Photosmart supposedly has internally?<br>
I have R032 of the scanner firmware which only returns 8<br>
bit values to the computer and I am noticing that some of<br>
my histograms are starting to get a little sparse.<br>
<p>
I have been trying to use the white-point pippette to<br>
remove the negative colour mask but there always seems<br>
to be residual colour. Could the pippette tools be altered<br>
to average a range of values? Being able to shift-click and<br>
drag to select a range of pixels to average would be optimal.<br>
<p>
Failing that, I have found the numeric value boxes on the<br>
gimp histogram tool to be ideal for entering colour<br>
correction values. A window giving the colour values for the<br>
white grey and black points would be a good alternative.<br>
<p>
Cheers,<br>
<p>
Steveg<br>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0078.html">abel deuring: "Re: SnapScan 0.7 sources available; working patch upcoming"</a>
<li> <b>Previous message:</b> <a href="0076.html">Steve Gunnell: "xscanimage preview problems"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0079.html">Oliver Rauch: "Re: Xsane questions and wish list"</a>
<li> <b>Reply:</b> <a href="0079.html">Oliver Rauch: "Re: Xsane questions and wish list"</a>
<li> <b>Reply:</b> <a href="0087.html">Steve Gunnell: "Re: Xsane questions and wish list"</a>
<li> <b>Reply:</b> <a href="0092.html">Oliver Rauch: "Re: Xsane questions and wish list"</a>
<li> <b>Reply:</b> <a href="0102.html">Peter Kirchgessner: "Re: Xsane questions and wish list"</a>
<!-- reply="end" -->
</ul>
