<!-- received="Thu Jul 15 14:11:13 1999 PDT" -->
<!-- sent="Thu, 15 Jul 1999 23:19:07 +0200 (CEST)" -->
<!-- name="regis rampnoux" -->
<!-- email="regisr@regix.com" -->
<!-- subject="coolscan pb with xsane" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: coolscan pb with xsane</title>
<h1>coolscan pb with xsane</h1>
<b>regis rampnoux</b> (<a href="mailto:regisr@regix.com"><i>regisr@regix.com</i></a>)<br>
<i>Thu, 15 Jul 1999 23:19:07 +0200 (CEST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#83">[ date ]</a><a href="index.html#83">[ thread ]</a><a href="subject.html#83">[ subject ]</a><a href="author.html#83">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0084.html">Dr. Ing. Dieter Jurzitza: "(nil) entry in rcfiles"</a>
<li> <b>Previous message:</b> <a href="0082.html">=?iso-8859-1?Q?Fran=E7ois=20D=E9sarm=E9nien?=: "Re: defunct reader process after scan an image..."</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0089.html">Oliver Rauch: "Re: coolscan pb with xsane"</a>
<li> <b>Reply:</b> <a href="0089.html">Oliver Rauch: "Re: coolscan pb with xsane"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
two problems:<br>
<p>
- I tried to re-compile sane-1.0.1 but it never generate shared libraries. <br>
I solved this problem by using :<br>
ltconfig (GNU libtool) 1.2f (1.385 1999/03/15 17:24:54) instead of version 1.2<br>
(and ltmain.sh with same version).<br>
<p>
- xscanimage works with my new scanner Nikon coolscan but xsane 0.28 exits with<br>
an error "Segmentation fault (core dumped)" before displaying anything after<br>
I select the scanner.<br>
(pnm devices work but it is not very useful ;-)<br>
<p>
I use the new backend for the coolscan (which supports my scanner, the old<br>
don't).<br>
System FreeBSD 3.2, sane and xsane compiled with GCC 2.8.1.<br>
<p>
<p>
<p>
<pre>
---
&lt;regisr&gt;       <a href="mailto:regisr@regix.com">regisr@regix.com</a>     <a href="http://www.regix.com/">http://www.regix.com/</a>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0084.html">Dr. Ing. Dieter Jurzitza: "(nil) entry in rcfiles"</a>
<li> <b>Previous message:</b> <a href="0082.html">=?iso-8859-1?Q?Fran=E7ois=20D=E9sarm=E9nien?=: "Re: defunct reader process after scan an image..."</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0089.html">Oliver Rauch: "Re: coolscan pb with xsane"</a>
<li> <b>Reply:</b> <a href="0089.html">Oliver Rauch: "Re: coolscan pb with xsane"</a>
<!-- reply="end" -->
</ul>
