<!-- received="Sun Jul 18 15:28:55 1999 PDT" -->
<!-- sent="Sun, 18 Jul 1999 23:38:56 +0100 (GMT)" -->
<!-- name="Nick Lamb" -->
<!-- email="njl98r@ecs.soton.ac.uk" -->
<!-- subject="Re: Release early, release often" -->
<!-- id="" -->
<!-- inreplyto="199907181211.OAA10126@minerva.cc.uit.no" -->
<title>sane-devel: Re: Release early, release often</title>
<h1>Re: Release early, release often</h1>
<b>Nick Lamb</b> (<a href="mailto:njl98r@ecs.soton.ac.uk"><i>njl98r@ecs.soton.ac.uk</i></a>)<br>
<i>Sun, 18 Jul 1999 23:38:56 +0100 (GMT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#107">[ date ]</a><a href="index.html#107">[ thread ]</a><a href="subject.html#107">[ subject ]</a><a href="author.html#107">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0108.html">Adam Williams: "Possible xsane bug?"</a>
<li> <b>Previous message:</b> <a href="0106.html">Irv Thomae: "Re: Microtek E3 won't scan, but II-G okay (SANE-OS/2)"</a>
<li> <b>In reply to:</b> <a href="0101.html">Petter Reinholdtsen: "Release early, release often"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0115.html">Petter Reinholdtsen: "Re: Release early, release often"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Sun, 18 Jul 1999, Petter Reinholdtsen wrote:<br>
<p>
<i>&gt; I'm one of the strange programmers who beleave in the slogan "Release</i><br>
<i>&gt; early, release often".  I find the release rate of SANE too late and</i><br>
<i>&gt; too slow.</i><br>
<p>
Unfortunately I have to agree. In theory, SANE 1.0 should have been a<br>
good solid release, which many users would never have had cause to<br>
replace (at least until they upgraded their OS)<br>
<p>
In practise there were two problems with this:<br>
<p>
(1) SANE didn't deserve that 1.0 sticker. The 1.0.1 release should have<br>
gone out the door DAYS not MONTHS later. The same bugs were reported<br>
time and again to the list, and David was busy doing other things.<br>
<p>
I think the worst of this will soon be past. There are some elusive bugs<br>
in the transport code, and a lot of usability issues (some solved by<br>
XSane) but it feels more solid now than it was six months ago.<br>
<p>
(2) Scanners, like almost all PC hardware, change quickly and always<br>
choose lower costs and more features over compatability with previous<br>
models. HP being the nearest to a genuine exception. SANE drivers take<br>
long enough to arrive as it is, without waiting for a major release.<br>
<p>
TIME though, is a limiting factor. Does someone have the TIME to do the<br>
thankless donkey-work required for Release Early and Often on a big<br>
project like SANE?<br>
<p>
Nick.<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0108.html">Adam Williams: "Possible xsane bug?"</a>
<li> <b>Previous message:</b> <a href="0106.html">Irv Thomae: "Re: Microtek E3 won't scan, but II-G okay (SANE-OS/2)"</a>
<li> <b>In reply to:</b> <a href="0101.html">Petter Reinholdtsen: "Release early, release often"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0115.html">Petter Reinholdtsen: "Re: Release early, release often"</a>
<!-- reply="end" -->
</ul>
