<!-- received="Wed Jul 21 10:19:00 1999 PDT" -->
<!-- sent="Wed, 21 Jul 1999 14:29:46 -0300" -->
<!-- name="root" -->
<!-- email="mendes@mgconecta.com.br" -->
<!-- subject="Trouble after installing xsane-0.28" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Trouble after installing xsane-0.28</title>
<h1>Trouble after installing xsane-0.28</h1>
<b>root</b> (<a href="mailto:mendes@mgconecta.com.br"><i>mendes@mgconecta.com.br</i></a>)<br>
<i>Wed, 21 Jul 1999 14:29:46 -0300</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#133">[ date ]</a><a href="index.html#133">[ thread ]</a><a href="subject.html#133">[ subject ]</a><a href="author.html#133">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0134.html">Petter Reinholdtsen: "Re: Release early, release often"</a>
<li> <b>Previous message:</b> <a href="0132.html">Oliver Rauch: "Re: Release early, release often"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0135.html">Oliver Rauch: "Re: Trouble after installing xsane-0.28"</a>
<li> <b>Reply:</b> <a href="0135.html">Oliver Rauch: "Re: Trouble after installing xsane-0.28"</a>
<li> <b>Reply:</b> <a href="0136.html">Eduardo M. A. M. Mendes: "Re: Trouble after installing xsane-0.28"</a>
<li> <b>Reply:</b> <a href="0141.html">Oliver Rauch: "Re: Trouble after installing xsane-0.28"</a>
<li> <b>Reply:</b> <a href="0144.html">Eduardo M. A. M. Mendes: "Re: Trouble after installing xsane-0.28"</a>
<li> <b>Reply:</b> <a href="0145.html">Oliver Rauch: "Re: Trouble after installing xsane-0.28"</a>
<li> <b>Reply:</b> <a href="0146.html">mendes@mgconecta.com.br: "Re: Trouble after installing xsane-0.28"</a>
<li> <b>Reply:</b> <a href="0147.html">Oliver Rauch: "Re: Trouble after installing xsane-0.28"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hello all<br>
    I am now using Openlinux 2.2 and therefore my old problems regarding<br>
compiling stuff are gone.<br>
    I re-installed sane-1.0.1 and worked well (I changed a variable in<br>
sg.h as Oliver suggested).<br>
My old UMAX-T30 plugged in a cheap scsi card using slow option worked<br>
wonderfully. I was so<br>
glad that I decided to install xsane-0.28 and the installation went<br>
smooth as it can be.  When I tried<br>
to call xsane, it returns a error msg regarding a dll lib.  I fixed that<br>
by changing ld.so.conf.<br>
    Now the problem: once I call xsane my scanner does not work<br>
anymore.  It so slows that that<br>
both preview and scan commands abort before 1%.  Moreover xscanimage<br>
does not work either.<br>
I can't find the option slow anymore (advance options).  I do not know<br>
what to do anymore.  Any help<br>
will be most welcome.<br>
<p>
    Many thanks<br>
<p>
Ed<br>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0134.html">Petter Reinholdtsen: "Re: Release early, release often"</a>
<li> <b>Previous message:</b> <a href="0132.html">Oliver Rauch: "Re: Release early, release often"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0135.html">Oliver Rauch: "Re: Trouble after installing xsane-0.28"</a>
<li> <b>Reply:</b> <a href="0135.html">Oliver Rauch: "Re: Trouble after installing xsane-0.28"</a>
<li> <b>Reply:</b> <a href="0136.html">Eduardo M. A. M. Mendes: "Re: Trouble after installing xsane-0.28"</a>
<li> <b>Reply:</b> <a href="0141.html">Oliver Rauch: "Re: Trouble after installing xsane-0.28"</a>
<li> <b>Reply:</b> <a href="0144.html">Eduardo M. A. M. Mendes: "Re: Trouble after installing xsane-0.28"</a>
<li> <b>Reply:</b> <a href="0145.html">Oliver Rauch: "Re: Trouble after installing xsane-0.28"</a>
<li> <b>Reply:</b> <a href="0146.html">mendes@mgconecta.com.br: "Re: Trouble after installing xsane-0.28"</a>
<li> <b>Reply:</b> <a href="0147.html">Oliver Rauch: "Re: Trouble after installing xsane-0.28"</a>
<!-- reply="end" -->
</ul>
