<!-- received="Wed Jul 21 11:44:14 1999 PDT" -->
<!-- sent="Wed, 21 Jul 1999 20:56:11 +0200" -->
<!-- name="Petter Reinholdtsen" -->
<!-- email="pere@hungry.com" -->
<!-- subject="Re: Release early, release often" -->
<!-- id="199907211856.UAA31298@lee.cc.uit.no" -->
<!-- inreplyto="Release early, release often" -->
<title>sane-devel: Re: Release early, release often</title>
<h1>Re: Release early, release often</h1>
<b>Petter Reinholdtsen</b> (<a href="mailto:pere@hungry.com"><i>pere@hungry.com</i></a>)<br>
<i>Wed, 21 Jul 1999 20:56:11 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#134">[ date ]</a><a href="index.html#134">[ thread ]</a><a href="subject.html#134">[ subject ]</a><a href="author.html#134">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0135.html">Oliver Rauch: "Re: Trouble after installing xsane-0.28"</a>
<li> <b>Previous message:</b> <a href="0133.html">root: "Trouble after installing xsane-0.28"</a>
<li> <b>Maybe in reply to:</b> <a href="0101.html">Petter Reinholdtsen: "Release early, release often"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
[Oliver Rauch]<br>
<i>&gt; Ok, that would be possible - although I understood the original</i><br>
<i>&gt; message that EVERYONE should get write access. But I think CVS</i><br>
<i>&gt; should be able to set permissions for each file and that would be</i><br>
<i>&gt; the best solution!</i><br>
<p>
Oh, no.  Write access should be very limited.  Everyone have read<br>
access using anonymous CVS. :-)<br>
<pre>
-- 
##&gt;  Petter Reinholdtsen &lt;##    | <a href="mailto:pere@td.org.uit.no">pere@td.org.uit.no</a>
 O-  &lt;SCRIPT Language="Javascript"&gt;window.close()&lt;/SCRIPT&gt;
<a href="http://www.hungry.com/~pere/">http://www.hungry.com/~pere/</a>    | Go Mozilla, go! Go!
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0135.html">Oliver Rauch: "Re: Trouble after installing xsane-0.28"</a>
<li> <b>Previous message:</b> <a href="0133.html">root: "Trouble after installing xsane-0.28"</a>
<li> <b>Maybe in reply to:</b> <a href="0101.html">Petter Reinholdtsen: "Release early, release often"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
