<!-- received="Sun Jul 25 00:26:38 1999 PDT" -->
<!-- sent="Sun, 25 Jul 1999 09:39:40 +0200" -->
<!-- name="Oliver Rauch" -->
<!-- email="oliver.rauch@Wolfsburg.DE" -->
<!-- subject="Re: any problems with xscanimage/xsane?" -->
<!-- id="" -->
<!-- inreplyto="any problems with xscanimage/xsane?" -->
<title>sane-devel: Re: any problems with xscanimage/xsane?</title>
<h1>Re: any problems with xscanimage/xsane?</h1>
<b>Oliver Rauch</b> (<a href="mailto:oliver.rauch@Wolfsburg.DE"><i>oliver.rauch@Wolfsburg.DE</i></a>)<br>
<i>Sun, 25 Jul 1999 09:39:40 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#163">[ date ]</a><a href="index.html#163">[ thread ]</a><a href="subject.html#163">[ subject ]</a><a href="author.html#163">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0164.html">Oliver Rauch: "Re: Anyone with a Umax Document Feeder?"</a>
<li> <b>Previous message:</b> <a href="0162.html">Oliver Rauch: "Re: [Fwd: Re: Problem with Astra 1200s]"</a>
<li> <b>Maybe in reply to:</b> <a href="0156.html">Oliver Rauch: "any problems with xscanimage/xsane?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Tim Waugh wrote:<br>
<p>
<i>&gt; On Sat, 24 Jul 1999, Oliver Rauch wrote:</i><br>
<i>&gt;</i><br>
<i>&gt; &gt; I had some problems with xscanimage and xsane. After a lot of tests I</i><br>
<i>&gt; &gt; solved it by recompiling glib, gtk, sane and xsane with gcc instead of</i><br>
<i>&gt; &gt; egcs-compiler.</i><br>
<i>&gt;</i><br>
<i>&gt; What were the problems that you had, and what version of gcc did you</i><br>
<i>&gt; switch to (and what version of egcs did you switch from?).</i><br>
<i>&gt;</i><br>
<i>&gt; Tim.</i><br>
<i>&gt; */</i><br>
<i>&gt;</i><br>
<i>&gt; --</i><br>
<i>&gt; Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a></i><br>
<i>&gt; To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a></i><br>
<p>
egcs-1.1.2 -&gt; gcc 2.7.2.3<br>
<p>
The problem was that I was:<br>
When I pressed the cancel button in the progress bar window while scanning<br>
the scanner stopped correct but gtk did not give back control to<br>
xscanimage/xsane.<br>
When I run it with gdb it was the same, but when I set a breakpoint in the<br>
cancel routine and simply continiued after reaching the breakpoint<br>
everything worked fine.<br>
<p>
I also tested switching off compiler optimization without success.<br>
<p>
May be it is a problem with the egcs and the AMD processor,<br>
I will try with my pentium 166.<br>
<p>
Bye<br>
Oliver<br>
<p>
<pre>
--
EMAIL: <a href="mailto:Oliver.Rauch@Wolfsburg.DE">Oliver.Rauch@Wolfsburg.DE</a>
WWW: <a href="http://www.wolfsburg.de/~rauch">http://www.wolfsburg.de/~rauch</a>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0164.html">Oliver Rauch: "Re: Anyone with a Umax Document Feeder?"</a>
<li> <b>Previous message:</b> <a href="0162.html">Oliver Rauch: "Re: [Fwd: Re: Problem with Astra 1200s]"</a>
<li> <b>Maybe in reply to:</b> <a href="0156.html">Oliver Rauch: "any problems with xscanimage/xsane?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
