<!-- received="Tue Jul 27 00:12:14 1999 PDT" -->
<!-- sent="Tue, 27 Jul 1999 08:17:59 +0100 (GMT)" -->
<!-- name="Tim Waugh" -->
<!-- email="tim@cyberelk.demon.co.uk" -->
<!-- subject="Re: Epson GT-8000" -->
<!-- id="" -->
<!-- inreplyto="379D5A94.FA968532@gigabell.net" -->
<title>sane-devel: Re: Epson GT-8000</title>
<h1>Re: Epson GT-8000</h1>
<b>Tim Waugh</b> (<a href="mailto:tim@cyberelk.demon.co.uk"><i>tim@cyberelk.demon.co.uk</i></a>)<br>
<i>Tue, 27 Jul 1999 08:17:59 +0100 (GMT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#185">[ date ]</a><a href="index.html#185">[ thread ]</a><a href="subject.html#185">[ subject ]</a><a href="author.html#185">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0186.html">=?iso-8859-1?Q?Fran=E7ois=20D=E9sarm=E9nien?=: "Re: OCR package?"</a>
<li> <b>Previous message:</b> <a href="0184.html">Mike Harris: "Re: Microtek ScanMaker IV on Linux-2.2.10 (Redhat 6.0)"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Tue, 27 Jul 1999, Reinhold Jordan wrote:<br>
<p>
<i>&gt; &gt; What does 'backtrace' say at the (gdb) prompt?</i><br>
<i>&gt; </i><br>
<i>&gt; thanks. I've found a solution:</i><br>
<i>&gt; </i><br>
<i>&gt; #define str_cmp(a,b) (((a!=NULL)&amp;&amp;(b!=NULL))?strcmp(a,b):1)</i><br>
<p>
Surely that just hides the symptoms. _Why_ was strcmp getting passed NULL<br>
in the first place?<br>
<p>
Tim.<br>
*/<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0186.html">=?iso-8859-1?Q?Fran=E7ois=20D=E9sarm=E9nien?=: "Re: OCR package?"</a>
<li> <b>Previous message:</b> <a href="0184.html">Mike Harris: "Re: Microtek ScanMaker IV on Linux-2.2.10 (Redhat 6.0)"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
