<!-- received="Thu Jul 29 07:04:56 1999 PDT" -->
<!-- sent="Thu, 29 Jul 1999 15:17:16 +0100 (BST)" -->
<!-- name="Jens Scheithauer" -->
<!-- email="jenss@sco.COM" -->
<!-- subject="scanimage and HP scanners" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: scanimage and HP scanners</title>
<h1>scanimage and HP scanners</h1>
<b>Jens Scheithauer</b> (<a href="mailto:jenss@sco.COM"><i>jenss@sco.COM</i></a>)<br>
<i>Thu, 29 Jul 1999 15:17:16 +0100 (BST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#215">[ date ]</a><a href="index.html#215">[ thread ]</a><a href="subject.html#215">[ subject ]</a><a href="author.html#215">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0216.html">Nick Lamb: "Re: SANE &amp; exposure times"</a>
<li> <b>Previous message:</b> <a href="0214.html">Ewald R. de Wit: "Re: SANE &amp; exposure times"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Greetings,<br>
<p>
I've noticed something odd about scanimage and the hp backend. It seems as<br>
if the value for the resolution gets ignored if the resolution parameter<br>
is specified before the mode parameter and the mode is set to 'color',<br>
i.e.:<br>
<p>
  scanimage --resolution=100 --mode=color &gt; /tmp/out.pnm<br>
<p>
The scanners default value for the resolution (e.g. 300) will be used<br>
instead. The problem doesn't occur if you specify the mode first and the<br>
resolution next. <br>
<p>
I should say that this happens on UnixWare. Could someone check whether<br>
this is a problem on another OS, too?<br>
<p>
-Jens<br>
<p>
<p>
------------------------------------------------------------------------<br>
Jens Scheithauer                        The Santa Cruz Operation Limited<br>
Software Engineer                       Registered in England No 2063779<br>
                                     Croxley Business Park, Hatters Lane<br>
Tel: +44 (0)1923 813 803                                Watford, WD1 8YN<br>
Fax: +44 (0)1923 813 804                                         England<br>
------------------------------------------------------------------------<br>
<p>
<p>
<p>
<p>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0216.html">Nick Lamb: "Re: SANE &amp; exposure times"</a>
<li> <b>Previous message:</b> <a href="0214.html">Ewald R. de Wit: "Re: SANE &amp; exposure times"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
