<!-- received="Sat Jul 31 06:20:33 1999 PDT" -->
<!-- sent="Sat, 31 Jul 1999 13:56:38 +0200" -->
<!-- name="Oliver Rauch" -->
<!-- email="oliver.rauch@Wolfsburg.DE" -->
<!-- subject="Papersize "legal"" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Papersize "legal"</title>
<h1>Papersize "legal"</h1>
<b>Oliver Rauch</b> (<a href="mailto:oliver.rauch@Wolfsburg.DE"><i>oliver.rauch@Wolfsburg.DE</i></a>)<br>
<i>Sat, 31 Jul 1999 13:56:38 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#226">[ date ]</a><a href="index.html#226">[ thread ]</a><a href="subject.html#226">[ subject ]</a><a href="author.html#226">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0227.html">afadu209@oct.zaq.ne.jp: "Can I use Tekram DC-390 SCSI card on Linux box?"</a>
<li> <b>Previous message:</b> <a href="0225.html">Oliver Rauch: "Re: SANE &amp; exposure times"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0228.html">James H. Cloos Jr.: "Re: Papersize "legal""</a>
<li> <b>Reply:</b> <a href="0228.html">James H. Cloos Jr.: "Re: Papersize "legal""</a>
<li> <b>Reply:</b> <a href="0229.html">Oliver Rauch: "Re: Papersize "legal""</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi,<br>
<p>
what is the size "legal"?<br>
<p>
is letter = 215.9mm x  279.4mm correct?<br>
<p>
Bye<br>
Oliver<br>
<p>
<pre>
--
EMAIL: <a href="mailto:Oliver.Rauch@Wolfsburg.DE">Oliver.Rauch@Wolfsburg.DE</a>
WWW: <a href="http://www.wolfsburg.de/~rauch">http://www.wolfsburg.de/~rauch</a>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0227.html">afadu209@oct.zaq.ne.jp: "Can I use Tekram DC-390 SCSI card on Linux box?"</a>
<li> <b>Previous message:</b> <a href="0225.html">Oliver Rauch: "Re: SANE &amp; exposure times"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0228.html">James H. Cloos Jr.: "Re: Papersize "legal""</a>
<li> <b>Reply:</b> <a href="0228.html">James H. Cloos Jr.: "Re: Papersize "legal""</a>
<li> <b>Reply:</b> <a href="0229.html">Oliver Rauch: "Re: Papersize "legal""</a>
<!-- reply="end" -->
</ul>
