<!-- received="Sat Jul 31 08:53:02 1999 PDT" -->
<!-- sent="Sun, 1 Aug 1999 00:52:22 +0900" -->
<!-- name="afadu209@oct.zaq.ne.jp" -->
<!-- email=""afadu209@oct.zaq.ne.jp"" -->
<!-- subject="Can I use Tekram DC-390 SCSI card on Linux box?" -->
<!-- id="19990801005222.635aa0@mail.oct.zaq.ne.jp" -->
<!-- inreplyto="37A2E476.5BE81397@wolfsburg.de" -->
<title>sane-devel: Can I use Tekram DC-390 SCSI card on Linux box?</title>
<h1>Can I use Tekram DC-390 SCSI card on Linux box?</h1>
<b>afadu209@oct.zaq.ne.jp</b> (<a href="mailto:"afadu209@oct.zaq.ne.jp""><i>"afadu209@oct.zaq.ne.jp"</i></a>)<br>
<i>Sun, 1 Aug 1999 00:52:22 +0900</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#227">[ date ]</a><a href="index.html#227">[ thread ]</a><a href="subject.html#227">[ subject ]</a><a href="author.html#227">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0228.html">James H. Cloos Jr.: "Re: Papersize "legal""</a>
<li> <b>Previous message:</b> <a href="0226.html">Oliver Rauch: "Papersize "legal""</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hello,<br>
<p>
I am new to use SANE(Ver1.0.1 rpm version) in my PC with RedHat5.2(2.0.36) and HP scanjet3c.<br>
But I can't get a proper Image (also proper scanner work) <br>
<p>
I re-compile Linux with "generic SCSI support=y" then I fond a message like<br>
<p>
scsi0 : AM53/79C974 PCscsi driver rev. 0.5; host I/O address: 0xa800; irq: 11<br>
scsi : 1 host.<br>
  Vendor: HP        Model: C2520A            Rev: 3503<br>
  Type:   Processor                          ANSI SCSI revision: 02<br>
Detected scsi generic sgb at scsi0, channel 0, id 3, lun 0<br>
<p>
Also, I type "fscanimage -L"<br>
device `hp:/dev/sgb' is a Hewlett-Packard C2520A flatbed scanner<br>
<p>
Then I typed following command<br>
scanimage -d hp:/dev/sgb &gt; test.pnm<br>
<p>
At that time, HP scanner work a bit but stop. After 5 min., it work again but not light on!.<br>
<p>
Finally, when I see that test picture, it is a just black color images.<br>
<p>
If somebody know this problem. Please help me.<br>
<p>
Thank you,<br>
<p>
************************************<br>
*Nobuhisa Okuda                    *<br>
*     <a href="mailto:E-mail:okuda@netfort.gr.jp">E-mail:okuda@netfort.gr.jp</a>   *<br>
*                                  *<br>
*$B$$$$$s$A$gIa5Z0Q0w2q2q0w(J No.95    *<br>
************************************<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0228.html">James H. Cloos Jr.: "Re: Papersize "legal""</a>
<li> <b>Previous message:</b> <a href="0226.html">Oliver Rauch: "Papersize "legal""</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
