<!-- received="Sat Sep  5 05:56:22 1998 PDT" -->
<!-- sent="05 Sep 1998 14:57:38 +0200" -->
<!-- name="Oliver Graf" -->
<!-- email="ograf@fga.de" -->
<!-- subject="Olympus Camedia C-1400L" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Olympus Camedia C-1400L</title>
<h1>Olympus Camedia C-1400L</h1>
<b>Oliver Graf</b> (<a href="mailto:ograf@fga.de"><i>ograf@fga.de</i></a>)<br>
<i>05 Sep 1998 14:57:38 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#40">[ date ]</a><a href="index.html#40">[ thread ]</a><a href="subject.html#40">[ subject ]</a><a href="author.html#40">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0041.html">Jonathan Buzzard: "Re: How to build a db25 terminator"</a>
<li> <b>Previous message:</b> <a href="0039.html">Marcel Oliver: "ScanMaker E3 plus: Problems Solved"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi there!<br>
<p>
Well, I thought I would buy the new epson scanner first, but the camera was<br>
especially low priced, so I changed my mind.<br>
<p>
Any chance to get this thing working with SANE? Does someone have the specs of <br>
the Olympus C series (seems not to be compatible with the D series, which is<br>
compatible with Epson, etc...)?<br>
<p>
I will try to get the specs (since Epson had send me all printer and scanner<br>
developer specs after one small email... perhaps Olympus will send them<br>
to).<br>
<p>
Regards,<br>
  Oliver.<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0041.html">Jonathan Buzzard: "Re: How to build a db25 terminator"</a>
<li> <b>Previous message:</b> <a href="0039.html">Marcel Oliver: "ScanMaker E3 plus: Problems Solved"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
