<!-- received="Sat Sep  5 16:44:14 1998 PDT" -->
<!-- sent="Sat, 05 Sep 1998 16:40:29 -0400" -->
<!-- name="Kurt Schafer" -->
<!-- email="sassi@direct.ca" -->
<!-- subject="Dexxa Flatbed Scanner 4800 support?" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Dexxa Flatbed Scanner 4800 support?</title>
<h1>Dexxa Flatbed Scanner 4800 support?</h1>
<b>Kurt Schafer</b> (<a href="mailto:sassi@direct.ca"><i>sassi@direct.ca</i></a>)<br>
<i>Sat, 05 Sep 1998 16:40:29 -0400</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#42">[ date ]</a><a href="index.html#42">[ thread ]</a><a href="subject.html#42">[ subject ]</a><a href="author.html#42">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0043.html">Bostjan Lemut: "Re: How to build a db25 terminator"</a>
<li> <b>Next message:</b> <a href="0043.html">Zickner: "Mustek EPP Scanner - ScanExpress 6000P"</a>
<li> <b>Previous message:</b> <a href="0041.html">Jonathan Buzzard: "Re: How to build a db25 terminator"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Greetings... I'm not sure if you are the right person to be<br>
asking this of, but I was curious to know if SANE supported,<br>
or would support in the future, a Dexxa Flatbed Scanner.  At<br>
present, I run OS/2 Warp3 and am forced to run this parallel<br>
port scanner on the Win 3.1 software available on the Dexxa<br>
web site.  <br>
<p>
I have been searching far and wide for a better application<br>
to run it, and have only been able to find OS/2 SCSI app's,<br>
or brand-specific scanner app's which won't work.  I would<br>
dearly love to be able to use a purely OS/2 application to<br>
run my scanner. <br>
<p>
Do you have any suggestions for me?<br>
<p>
<p>
<p>
many thanks... Kurt Schafer.<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0043.html">Bostjan Lemut: "Re: How to build a db25 terminator"</a>
<li> <b>Next message:</b> <a href="0043.html">Zickner: "Mustek EPP Scanner - ScanExpress 6000P"</a>
<li> <b>Previous message:</b> <a href="0041.html">Jonathan Buzzard: "Re: How to build a db25 terminator"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
