<!-- received="Sun Sep 13 06:58:19 1998 PDT" -->
<!-- sent="Sun, 13 Sep 1998 06:57:51 -0700 (PDT)" -->
<!-- name="Roy-Anders Larsen" -->
<!-- email="royalarsen@yahoo.com" -->
<!-- subject="UMAX 610P and (in)SANE" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: UMAX 610P and (in)SANE</title>
<h1>UMAX 610P and (in)SANE</h1>
<b>Roy-Anders Larsen</b> (<a href="mailto:royalarsen@yahoo.com"><i>royalarsen@yahoo.com</i></a>)<br>
<i>Sun, 13 Sep 1998 06:57:51 -0700 (PDT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#77">[ date ]</a><a href="index.html#77">[ thread ]</a><a href="subject.html#77">[ subject ]</a><a href="author.html#77">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0078.html">Durk Talsma: "Having problems with canon backend"</a>
<li> <b>Previous message:</b> <a href="0076.html">Manfred Lemke: "Mustek low-level oddity"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0100.html">Jonathan Buzzard: "Re: UMAX 610P and (in)SANE"</a>
<li> <b>Reply:</b> <a href="0100.html">Jonathan Buzzard: "Re: UMAX 610P and (in)SANE"</a>
<li> <b>Reply:</b> <a href="0101.html">Oliver Rauch: "Re: UMAX 610P and (in)SANE"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Just wondering if there is any news on the UMAX 610P (parallel port<br>
scanner) and SANE.  I've searched around the net for any information<br>
about a backend for it.<br>
Of course on the 'official' SANE web pages, it is stated that there is<br>
no support for UMAX parallel port scanners.  Then I find some messages<br>
that some people are trying to make a backend themselves.<br>
Then I find some messages (www.dejanews.com) that some people state<br>
that the UMAX parallel port scanners are supported by SANE (???).<br>
Of course, I should probably believe the official pages, and not the<br>
messages individuals send, but since I have an Astra 610P and I need<br>
to use it with linux, I choose to be optimistic.<br>
<p>
Roy-Anders<br>
<p>
<p>
<p>
<p>
==<br>
### Unsolicited commercial email will be billed at $350/message ###<br>
<p>
_________________________________________________________<br>
DO YOU YAHOO!?<br>
Get your free @yahoo.com address at <a href="http://mail.yahoo.com">http://mail.yahoo.com</a><br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0078.html">Durk Talsma: "Having problems with canon backend"</a>
<li> <b>Previous message:</b> <a href="0076.html">Manfred Lemke: "Mustek low-level oddity"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0100.html">Jonathan Buzzard: "Re: UMAX 610P and (in)SANE"</a>
<li> <b>Reply:</b> <a href="0100.html">Jonathan Buzzard: "Re: UMAX 610P and (in)SANE"</a>
<li> <b>Reply:</b> <a href="0101.html">Oliver Rauch: "Re: UMAX 610P and (in)SANE"</a>
<!-- reply="end" -->
</ul>
