<!-- received="Sat Sep 19 16:09:09 1998 PDT" -->
<!-- sent="Sat, 19 Sep 1998 23:48:13 +0200" -->
<!-- name="mans@gyptis.frmug.org" -->
<!-- email="mans@gyptis.frmug.org" -->
<!-- subject="http://www.mostang.com/sane/sane-backends.html" -->
<!-- id="199809192148.XAA03613@gyptis.frmug.org" -->
<!-- inreplyto="" -->
<title>sane-devel: http://www.mostang.com/sane/sane-backends.html</title>
<h1>http://www.mostang.com/sane/sane-backends.html</h1>
<a href="mailto:mans@gyptis.frmug.org"><i>mans@gyptis.frmug.org</i></a><br>
<i>Sat, 19 Sep 1998 23:48:13 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#133">[ date ]</a><a href="index.html#133">[ thread ]</a><a href="subject.html#133">[ subject ]</a><a href="author.html#133">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0134.html">Bernd Schroeder: "Re: E6XL usable? &amp; scg driver help [was: Re: Microtek V300, anyone?]"</a>
<li> <b>Previous message:</b> <a href="0132.html">C. Le Cannellier, Pdt LUG Normandie: "newbie trouble"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hello all, sorry no speaking english :<br>
<p>
<p>
I'm testing sane for epson 5000 and 5500 (gt)<br>
Sane is good on GT 8500! all options<br>
<p>
I'm no read on man-epson, your add now! :))<br>
<p>
<p>
thinx for soft and perseverence!<br>
<p>
<p>
byebye<br>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0134.html">Bernd Schroeder: "Re: E6XL usable? &amp; scg driver help [was: Re: Microtek V300, anyone?]"</a>
<li> <b>Previous message:</b> <a href="0132.html">C. Le Cannellier, Pdt LUG Normandie: "newbie trouble"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
