<!-- received="Mon Sep 21 19:18:20 1998 PDT" -->
<!-- sent="Mon, 21 Sep 1998 19:17:25 -0700 (PDT)" -->
<!-- name="David B. Rees" -->
<!-- email="dbr@oto.dyn.ml.org" -->
<!-- subject="Re: Microtek ScanMaker V300?" -->
<!-- id="" -->
<!-- inreplyto="3606B404.FD2BDE0@mindspring.com" -->
<title>sane-devel: Re: Microtek ScanMaker V300?</title>
<h1>Re: Microtek ScanMaker V300?</h1>
<b>David B. Rees</b> (<a href="mailto:dbr@oto.dyn.ml.org"><i>dbr@oto.dyn.ml.org</i></a>)<br>
<i>Mon, 21 Sep 1998 19:17:25 -0700 (PDT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#146">[ date ]</a><a href="index.html#146">[ thread ]</a><a href="subject.html#146">[ subject ]</a><a href="author.html#146">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0147.html">mike: "Re: Rebop: Microtek V300"</a>
<li> <b>Previous message:</b> <a href="0145.html">Dan Noe: "SANE RPM"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On 21-Sep-98 Mike D. wrote:<br>
<i>&gt; David B. Rees wrote:</i><br>
<i>&gt; </i><br>
<i>&gt;&gt; Is there any support for the mtek SM V300?  The docs don't list any support,</i><br>
<i>&gt;&gt; and I haven't had any success in getting either of the mtek drivers to</i><br>
<i>&gt;&gt; detect</i><br>
<i>&gt;&gt; the scanner.  Here's my /proc/scsi/scsi if it helps:</i><br>
<i>&gt;&gt;</i><br>
<i>&gt; </i><br>
<i>&gt; On my machine, so far, I have been able to get find-scanner to see the</i><br>
<i>&gt; scanner, but that is it. Bernd has given me some possible fixes to get the</i><br>
<i>&gt; scanner working. I'll be trying it out tonight.</i><br>
<p>
I'd like to try them out, too. (And maybe speed up the devel process ;-)  Can<br>
you forward me the patches and tell me how you got find-scanner to recognize<br>
the scanner?<br>
<p>
-Dave<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0147.html">mike: "Re: Rebop: Microtek V300"</a>
<li> <b>Previous message:</b> <a href="0145.html">Dan Noe: "SANE RPM"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
