<!-- received="Tue Sep 22 08:07:16 1998 PDT" -->
<!-- sent="Tue, 22 Sep 1998 10:06:20 -0500 (EST)" -->
<!-- name="Brian E. Bothwell" -->
<!-- email="brbothwe@cs.indiana.edu" -->
<!-- subject="Re: Microtek ScanMaker X6EL supported??" -->
<!-- id="" -->
<!-- inreplyto="Pine.SV4.3.96.980922090253.8359E-100000@school.cs.indiana.edu" -->
<title>sane-devel: Re: Microtek ScanMaker X6EL supported??</title>
<h1>Re: Microtek ScanMaker X6EL supported??</h1>
<b>Brian E. Bothwell</b> (<a href="mailto:brbothwe@cs.indiana.edu"><i>brbothwe@cs.indiana.edu</i></a>)<br>
<i>Tue, 22 Sep 1998 10:06:20 -0500 (EST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#153">[ date ]</a><a href="index.html#153">[ thread ]</a><a href="subject.html#153">[ subject ]</a><a href="author.html#153">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0154.html">David B. Rees: "Re: Microtek ScanMaker V300?"</a>
<li> <b>Previous message:</b> <a href="0152.html">Brian E. Bothwell: "Microtek ScanMaker X6EL supported??"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Tue, 22 Sep 1998, Brian E. Bothwell wrote:<br>
<p>
<i>&gt; </i><br>
<i>&gt; I just got a Microtek ScanMaker X6EL (hanging off of a Adaptec AVA-2902</i><br>
<i>&gt; adapter, which shows up successfully as a Adaptec AIC-7850 and works with</i><br>
<i>&gt; the Zip drive on the same SCSI chain)</i><br>
<i>&gt; </i><br>
<i>&gt; I set up SANE to use only the microtek and microtek2 backends,  while the</i><br>
<i>&gt; scanner seems to be recognized, SANE still complains "no SANE devices</i><br>
<i>&gt; found".</i><br>
<i>&gt; </i><br>
<i>&gt; Anyone had any luck with this model?  It's a great scanner, and I would</i><br>
<i>&gt; love not to have to boot to Windoze95 to use it.  I assume if their is no</i><br>
<i>&gt; support, this is due to the fact the X6EL is so new to the market.</i><br>
<i>&gt; </i><br>
<i>&gt; *************************************************</i><br>
<i>&gt; </i><br>
<i>&gt; Here is a debugging dump of the microtek and microtek2 backends</i><br>
<i>&gt; (one thing to note is the VENDOR string is '        ', and the model it</i><br>
<i>&gt; shows up as is '636EL')</i><br>
<p>
<p>
Oops!  I sent the debug info without SANE_DEBUG_MICROTEK2=128.  Looks like<br>
I may have answered my own question given the line "Model 0x98 not<br>
supported"... :(<br>
<p>
here's the debug info for JUST the microtek2 backend:<br>
------------------------------------------------------<br>
<p>
[sanei_init_debug]: Setting debug level of microtek2 to 128.<br>
[microtek2] sane_init: Microtek2 (v0.3) says hello...<br>
[microtek2] calling sanei_config_attach_matching_devices()<br>
[microtek2] attach_one: name='# See sane-microtek2(5) for a description of<br>
the options<br>
'<br>
[microtek2] add_device_list: device='# See sane-microtek2(5) for a<br>
description of the options'<br>
[microtek2] add_device_list: Comment or empty line in microtek2.conf<br>
[microtek2] attach_one: returning<br>
[microtek2] returned from sanei_config_attach_matching_devices()<br>
[microtek2] calling sanei_config_attach_matching_devices()<br>
[microtek2] attach_one: name='option dump 4<br>
'<br>
[microtek2] add_device_list: device='option dump 4'<br>
[microtek2] attach_one: returning<br>
[microtek2] returned from sanei_config_attach_matching_devices()<br>
[microtek2] calling sanei_config_attach_matching_devices()<br>
[microtek2] attach_one: name='/dev/sgd'<br>
[microtek2] add_device_list: device='/dev/sgd'<br>
[microtek2] attach: device='/dev/sgd'<br>
[microtek2] scsi_inquiry: mi=0x804cf6c, device='/dev/sgd'<br>
[microtek2] dump_area2: inquiry<br>
[inquiry]<br>
120000006000<br>
[microtek2] dump_area2: inquiryresult                   <br>
[inquiryresult]<br>
060002025b00000020202020202020207363616e6e657220363336454c202020312e3130980000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000<br>
[microtek2] check_inquiry: mi=0x804cf6c<br>
[microtek2] check_inquiry: Model 0x98 not supported<br>
[microtek2] attach_one: returning<br>
[microtek2] attach_one: name='/dev/sgd'<br>
[microtek2] add_device_list: device='/dev/sgd'<br>
[microtek2] add_device_list: device '/dev/sgd' already in list<br>
[microtek2] attach_one: returning<br>
[microtek2] returned from sanei_config_attach_matching_devices()<br>
[microtek2] calling sanei_config_attach_matching_devices()<br>
[microtek2] attach_one: name='/dev/scanner<br>
'<br>
[microtek2] add_device_list: device='/dev/scanner'<br>
[microtek2] attach: device='/dev/scanner'<br>
[microtek2] scsi_inquiry: mi=0x8055664, device='/dev/scanner'<br>
[microtek2] dump_area2: inquiry<br>
[inquiry]<br>
120000006000<br>
[microtek2] dump_area2: inquiryresult<br>
[inquiryresult]<br>
060002025b00000020202020202020207363616e6e657220363336454c202020312e3130980000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000<br>
[microtek2] check_inquiry: mi=0x8055664<br>
[microtek2] check_inquiry: Model 0x98 not supported<br>
[microtek2] attach_one: returning<br>
[microtek2] returned from sanei_config_attach_matching_devices()<br>
[microtek2] sane_get_devices: local_only=0<br>
[microtek2] attach: device='/dev/scanner'<br>
[microtek2] scsi_inquiry: mi=0x8055664, device='/dev/scanner'<br>
[microtek2] dump_area2: inquiry<br>
[inquiry]<br>
120000006000<br>
[microtek2] dump_area2: inquiryresult<br>
[inquiryresult]<br>
060002025b00000020202020202020207363616e6e657220363336454c202020312e3130980000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000<br>
[microtek2] check_inquiry: mi=0x8055664<br>
[microtek2] check_inquiry: Model 0x98 not supported<br>
[microtek2] sane_get_devices: attach status 'Error during device I/O'<br>
[microtek2] attach: device='/dev/sgd'<br>
[microtek2] scsi_inquiry: mi=0x804cf6c, device='/dev/sgd'<br>
[microtek2] dump_area2: inquiry<br>
[inquiry]<br>
120000006000<br>
[microtek2] dump_area2: inquiryresult             <br>
[inquiryresult]<br>
060002025b00000020202020202020207363616e6e657220363336454c202020312e3130980000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000<br>
[microtek2] check_inquiry: mi=0x804cf6c<br>
[microtek2] check_inquiry: Model 0x98 not supported<br>
[microtek2] sane_get_devices: attach status 'Error during device I/O'<br>
scanimage: no SANE devices found<br>
[microtek2] sane_exit:<br>
[microtek2] sane_get_devices: local_only=0<br>
[microtek2] sane_get_devices: sd_list_freed<br>
[microtek2] sane_exit: MICROTEK2 says goodbye.    <br>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0154.html">David B. Rees: "Re: Microtek ScanMaker V300?"</a>
<li> <b>Previous message:</b> <a href="0152.html">Brian E. Bothwell: "Microtek ScanMaker X6EL supported??"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
