<!-- received="Thu Sep 24 06:47:19 1998 PDT" -->
<!-- sent="Thu, 24 Sep 1998 15:45:59 +0200" -->
<!-- name="Frank Haase" -->
<!-- email="fh@qc.ag-berlin.mpg.de" -->
<!-- subject="Re: Film scanner under sane" -->
<!-- id="" -->
<!-- inreplyto="Film scanner under sane" -->
<title>sane-devel: Re: Film scanner under sane</title>
<h1>Re: Film scanner under sane</h1>
<b>Frank Haase</b> (<a href="mailto:fh@qc.ag-berlin.mpg.de"><i>fh@qc.ag-berlin.mpg.de</i></a>)<br>
<i>Thu, 24 Sep 1998 15:45:59 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#168">[ date ]</a><a href="index.html#168">[ thread ]</a><a href="subject.html#168">[ subject ]</a><a href="author.html#168">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0169.html">Rogier Wolff: "Re: CanoScan 300 SCSI scanner setup problem"</a>
<li> <b>Previous message:</b> <a href="0167.html">Oliver Graf: "Re: Film scanner under sane"</a>
<li> <b>Maybe in reply to:</b> <a href="0166.html">Fabrice Rossi: "Film scanner under sane"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0170.html">Fabrice Rossi: "Re: Film scanner under sane"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Some weeks ago I managed to scan slides with the canoscan 2700F<br>
and sane. It works and the quality is quite good. Negatives are<br>
not possible to scan yet. But the backend is still alpha and compared<br>
to the windows scan software misses a lot features.<br>
<p>
frank<br>
<pre>
-- 
 Frank Haase <a href="mailto:fh@qc.ag-berlin.mpg.de">fh@qc.ag-berlin.mpg.de</a> 
 
         ================================================
         | "We Are Bill Gatus of Borg. Resistance is    |
         |  Futile. You will be assimilated."           |
         ------------------------------------------------
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0169.html">Rogier Wolff: "Re: CanoScan 300 SCSI scanner setup problem"</a>
<li> <b>Previous message:</b> <a href="0167.html">Oliver Graf: "Re: Film scanner under sane"</a>
<li> <b>Maybe in reply to:</b> <a href="0166.html">Fabrice Rossi: "Film scanner under sane"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0170.html">Fabrice Rossi: "Re: Film scanner under sane"</a>
<!-- reply="end" -->
</ul>
