<!-- received="Tue Dec  1 11:12:31 1998 PST" -->
<!-- sent="01 Dec 1998 11:10:58 -0800" -->
<!-- name="David Fox" -->
<!-- email="dsfox@cogsci.ucsd.edu" -->
<!-- subject="Re: Mustek MFS12000SP and Nikon LS1000" -->
<!-- id="" -->
<!-- inreplyto="Tue, 01 Dec 1998 14:07:59 +0100"" -->
<title>sane-devel: Re: Mustek MFS12000SP and Nikon LS1000</title>
<h1>Re: Mustek MFS12000SP and Nikon LS1000</h1>
<b>David Fox</b> (<a href="mailto:dsfox@cogsci.ucsd.edu"><i>dsfox@cogsci.ucsd.edu</i></a>)<br>
<i>01 Dec 1998 11:10:58 -0800</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#2">[ date ]</a><a href="index.html#2">[ thread ]</a><a href="subject.html#2">[ subject ]</a><a href="author.html#2">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0003.html">Jonathan Buzzard: "Re: Genius scanners"</a>
<li> <b>Previous message:</b> <a href="0001.html">Christian Ordig: "RE: Genius parallel port scanner"</a>
<li> <b>In reply to:</b> <a href="0000.html">Thomas Booms: "Mustek MFS12000SP and Nikon LS1000"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Thomas Booms &lt;<a href="mailto:Thomas.Booms@booms-edv.de">Thomas.Booms@booms-edv.de</a>&gt; writes:<br>
<p>
<i>&gt; Hi everybody,</i><br>
<i>&gt; </i><br>
<i>&gt; are these scanners running with Sane now? I work on the Nikon with a</i><br>
<i>&gt; slidefeeder too.</i><br>
<i>&gt; </i><br>
<i>&gt; I don't have experiences with sane and I'm new to this list too.</i><br>
<p>
My reading of <a href="http://www.mostang.com/sane/sane-backends.html">http://www.mostang.com/sane/sane-backends.html</a> indicates<br>
that the LS1000 is mostly supported.  However, I wonder how it differs<br>
from the LS2000, which I'm thinking of getting.  On the bright side, a<br>
programmer's reference manual for the LS2000 is on its way to me right<br>
now via U.S. mail.<br>
<pre>
-- 
David Fox           <a href="http://hci.ucsd.edu/dsf">http://hci.ucsd.edu/dsf</a>             xoF divaD
UCSD HCI Lab                                         baL ICH DSCU
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0003.html">Jonathan Buzzard: "Re: Genius scanners"</a>
<li> <b>Previous message:</b> <a href="0001.html">Christian Ordig: "RE: Genius parallel port scanner"</a>
<li> <b>In reply to:</b> <a href="0000.html">Thomas Booms: "Mustek MFS12000SP and Nikon LS1000"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
