<!-- received="Tue Dec  1 23:09:54 1998 PST" -->
<!-- sent="Wed, 2 Dec 1998 08:07:42 +0100 (CET)" -->
<!-- name="Hugo van der Kooij" -->
<!-- email="hvdkooij@caiw.nl" -->
<!-- subject="Re: USB scanners?" -->
<!-- id="" -->
<!-- inreplyto="199812012217.OAA09959@panda.mostang.com" -->
<title>sane-devel: Re: USB scanners?</title>
<h1>Re: USB scanners?</h1>
<b>Hugo van der Kooij</b> (<a href="mailto:hvdkooij@caiw.nl"><i>hvdkooij@caiw.nl</i></a>)<br>
<i>Wed, 2 Dec 1998 08:07:42 +0100 (CET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#7">[ date ]</a><a href="index.html#7">[ thread ]</a><a href="subject.html#7">[ subject ]</a><a href="author.html#7">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0008.html">Jon Knight: "Re: Genius scanners"</a>
<li> <b>Previous message:</b> <a href="0006.html">J. Rhett Aultman: "Re: USB scanners?"</a>
<li> <b>In reply to:</b> <a href="0005.html">David Mosberger-Tang: "USB scanners?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0013.html">Matto Marjanovic: "Re: USB scanners?"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Tue, 1 Dec 1998, David Mosberger-Tang wrote:<br>
<p>
<i>&gt; It occurred to me that this whole boring debate about parallel-port</i><br>
<i>&gt; scanners and the lack of support may soon disappear as a result of USB</i><br>
<i>&gt; picking up in popularity.  Maybe we should focus on USB support?  It</i><br>
<i>&gt; seems to me that parallel port scanners don't work well even if they</i><br>
<i>&gt; are supported.  The reason for this is that parallel port scanners</i><br>
<i>&gt; tend to waste all available CPU cycles on the scanner, effectively</i><br>
<i>&gt; turning your nice &amp; fast multi-user, multi-tasking machine into a</i><br>
<i>&gt; crummy single-task machine.  AFAIK, USB doesn't have any of these</i><br>
<i>&gt; problems yet is much cheaper than a SCSI interface.</i><br>
<p>
I do think there still must be USB hardware before we will be able to do<br>
some programming. But I do agree that the effort in parallel scanners is<br>
somehow too awesome to be justified.<br>
<p>
Hugo.<br>
<p>
	+------------------------+------------------------------+<br>
<i>	| Hugo van der Kooij     | <a href="mailto:Hugo.van.der.Kooij@caiw.nl">Hugo.van.der.Kooij@caiw.nl</a>   |</i><br>
<i>	| Oranje Nassaustraat 16 | <a href="http://www.caiw.nl/~hvdkooij">http://www.caiw.nl/~hvdkooij</a> |</i><br>
<i>	| 3155 VJ  Maasland      | (De man met de rode hoed)    |</i><br>
	+------------------------+------------------------------+<br>
    "Computers let you make more mistakes faster than any other invention in <br>
      human history, with the possible exception of handguns and tequila."<br>
		(Mitch Radcliffe)<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0008.html">Jon Knight: "Re: Genius scanners"</a>
<li> <b>Previous message:</b> <a href="0006.html">J. Rhett Aultman: "Re: USB scanners?"</a>
<li> <b>In reply to:</b> <a href="0005.html">David Mosberger-Tang: "USB scanners?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0013.html">Matto Marjanovic: "Re: USB scanners?"</a>
<!-- reply="end" -->
</ul>
