<!-- received="Wed Dec  2 21:06:59 1998 PST" -->
<!-- sent="Wed, 2 Dec 1998 21:06:55 -0800" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="David.Mosberger@acm.org" -->
<!-- subject="Re: USB scanners?" -->
<!-- id="199812030506.VAA22650@panda.mostang.com" -->
<!-- inreplyto="Pine.LNX.4.05.9812012229240.12362-100000@alley.gator.net" -->
<title>sane-devel: Re: USB scanners?</title>
<h1>Re: USB scanners?</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:David.Mosberger@acm.org"><i>David.Mosberger@acm.org</i></a>)<br>
<i>Wed, 2 Dec 1998 21:06:55 -0800</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#12">[ date ]</a><a href="index.html#12">[ thread ]</a><a href="subject.html#12">[ subject ]</a><a href="author.html#12">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0013.html">Matto Marjanovic: "Re: USB scanners?"</a>
<li> <b>Previous message:</b> <a href="0011.html">David Mosberger-Tang: "SANE logo contest at http://contest.gimp.org/"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;&gt;&gt;&gt;&gt; On Tue, 1 Dec 1998 22:36:58 -0500 (EST), "J. Rhett Aultman" &lt;<a href="mailto:cuplan@alley.gator.net">cuplan@alley.gator.net</a>&gt; said:</i><br>
<p>
  J&gt; But at least I'm willing to give it a shot.<br>
<p>
This is great and certainly no problem at all.  I'm not suggesting to<br>
_discourage_ development of parallel port scanner backends.  All I'm<br>
saying is that there is hope that the parallel port scanner mess may<br>
well be a temporary phenomenon.  Also, if someone happens to have a<br>
USB scanner and knows what's involved in writing a driver for it, I'd<br>
be interested in hearing about it.<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0013.html">Matto Marjanovic: "Re: USB scanners?"</a>
<li> <b>Previous message:</b> <a href="0011.html">David Mosberger-Tang: "SANE logo contest at http://contest.gimp.org/"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
