<!-- received="Fri Dec  4 00:50:06 1998 PST" -->
<!-- sent="Fri, 04 Dec 1998 03:49:02 -0500" -->
<!-- name="Andre Couture" -->
<!-- email="acouture@videotron.ca" -->
<!-- subject="sane-devel: Re: Win32 TWAIN DLL to interface with SANE" -->
<!-- id="" -->
<!-- inreplyto="Re: Win32 TWAIN DLL to interface with SANE" -->
<title>sane-devel: sane-devel: Re: Win32 TWAIN DLL to interface with SANE</title>
<h1>sane-devel: Re: Win32 TWAIN DLL to interface with SANE</h1>
<b>Andre Couture</b> (<a href="mailto:acouture@videotron.ca"><i>acouture@videotron.ca</i></a>)<br>
<i>Fri, 04 Dec 1998 03:49:02 -0500</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#34">[ date ]</a><a href="index.html#34">[ thread ]</a><a href="subject.html#34">[ subject ]</a><a href="author.html#34">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0035.html">Matthias Fleischer: "Re: Adjusting contrast and brightness"</a>
<li> <b>Previous message:</b> <a href="0033.html">Chris Pinkham: "Re: AT3:Transparancy &amp; ADF"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0282.html">Morris R. Bannerman: "Re: Compiling Sane"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
This is a multi-part message in MIME format.<br>
--------------C4BA1382B79E783E5EF51C9D<br>
Content-Type: text/plain; charset=us-ascii<br>
Content-Transfer-Encoding: 7bit<br>
<p>
I'd like to know the status on this?<br>
As anyone started anything?<br>
<p>
If not, can someone tell me where to get a "skeleton" of a TWAIN<br>
DataSource driver?<br>
<p>
I'm not doing much these days and would like very much to start doing<br>
something!<br>
Since I have a bunch of linux box and few windows 98/NT I can certainly<br>
get started on this.<br>
<p>
(That would help me get back into M$Fenetre development...<br>
<p>
/AC<br>
<p>
<a href="http://www.mostang.com/mail-archive/sane-devel/1998-05/0175.html">http://www.mostang.com/mail-archive/sane-devel/1998-05/0175.html</a><br>
<pre>
--
<p>
  ------------------------------------------------------------------------
Andre Couture
938934 Ontario Inc.
<a href="mailto:acouture@videotron.ca">mailto:acouture@videotron.ca</a>
<p>
<p>
<p>
<p>
<p>
<a href="mailto:search_n_find@yahoo.com">mailto:search_n_find@yahoo.com</a>
<p>
<p>
<p>
--------------C4BA1382B79E783E5EF51C9D
Content-Type: text/html; charset=us-ascii;
 name="0175.html"
Content-Transfer-Encoding: 7bit
Content-Disposition: inline;
 filename="0175.html"
Content-Base: "<a href="http://www.mostang.com/mail-archive/sa">http://www.mostang.com/mail-archive/sa</a>
	ne-devel/1998-05/0175.html"
Content-Location: "<a href="http://www.mostang.com/mail-archive/sa">http://www.mostang.com/mail-archive/sa</a>
	ne-devel/1998-05/0175.html"
<p>
&lt;!-- received="Thu May 14 17:09:24 1998 PDT" --&gt;
&lt;!-- sent="Fri, 15 May 1998 10:05:12 +1000 (EST)" --&gt;
&lt;!-- name="Graham Stoney" --&gt;
&lt;!-- email="greyham@research.canon.com.au" --&gt;
&lt;!-- subject="Re: Win32 TWAIN DLL to interface with SANE" --&gt;
&lt;!-- id="199805150005.KAA20389@miles.research.canon.com.au" --&gt;
&lt;!-- inreplyto="199805131357.PAA31566@no.sctrade.it" --&gt;
&lt;title&gt;sane-devel: Re: Win32 TWAIN DLL to interface with SANE&lt;/title&gt;
&lt;h1&gt;Re: Win32 TWAIN DLL to interface with SANE&lt;/h1&gt;
&lt;b&gt;Graham Stoney&lt;/b&gt; (&lt;a href="<a href="mailto:greyham@research.canon.com.au">mailto:greyham@research.canon.com.au</a>"&gt;&lt;i&gt;greyham@research.canon.com.au&lt;/i&gt;&lt;/a&gt;)&lt;br&gt;
&lt;i&gt;Fri, 15 May 1998 10:05:12 +1000 (EST)&lt;/i&gt;
&lt;p&gt;
&lt;ul&gt;
&lt;li&gt; &lt;b&gt;Messages sorted by:&lt;/b&gt; &lt;a href="date.html#175"&gt;[ date ]&lt;/a&gt;&lt;a href="index.html#175"&gt;[ thread ]&lt;/a&gt;&lt;a href="subject.html#175"&gt;[ subject ]&lt;/a&gt;&lt;a href="author.html#175"&gt;[ author ]&lt;/a&gt;
&lt;!-- next="start" --&gt;
&lt;li&gt; &lt;b&gt;Next message:&lt;/b&gt; &lt;a href="0176.html"&gt;Jon Schneider: "mustek mustave died"&lt;/a&gt;
&lt;li&gt; &lt;b&gt;Previous message:&lt;/b&gt; &lt;a href="0174.html"&gt;Kenneth Crudup: "Re: problems with snapscan and scanimage"&lt;/a&gt;
&lt;li&gt; &lt;b&gt;In reply to:&lt;/b&gt; &lt;a href="0149.html"&gt;Yuri Dario: "Re: Win32 TWAIN DLL to interface with SANE"&lt;/a&gt;
&lt;!-- nextthread="start" --&gt;
&lt;li&gt; &lt;b&gt;Next in thread:&lt;/b&gt; &lt;a href="0151.html"&gt;Brian Macy: "Re: Win32 TWAIN DLL to interface with SANE"&lt;/a&gt;
&lt;!-- reply="end" --&gt;
&lt;/ul&gt;
&lt;!-- body="start" --&gt;
Yuri Dario writes:&lt;br&gt;
&lt;i&gt;&amp;gt; On Wed, 13 May 1998 12:13:01 +1000 (EST), Graham Stoney wrote:&lt;/i&gt;&lt;br&gt;
&lt;i&gt;&amp;gt; &lt;/i&gt;&lt;br&gt;
&lt;i&gt;&amp;gt; &amp;gt;TWAIN users would be able to access scanners remotely via Sane,&lt;/i&gt;&lt;br&gt;
&lt;i&gt;&amp;gt; &amp;gt;and would ask themselves "why can't I access a scanner remotely with TWAIN?".&lt;/i&gt;&lt;br&gt;
&lt;i&gt;&amp;gt; &lt;/i&gt;&lt;br&gt;
&lt;i&gt;&amp;gt; now it is possible: my brother has a UMAX610S, and the Umax twain driver can be used in a network; the &lt;/i&gt;&lt;br&gt;
&lt;i&gt;&amp;gt; driver uses NETBIOS/IPX as transport protocol. But until now he hasn't tested a network configuration (but &lt;/i&gt;&lt;br&gt;
&lt;i&gt;&amp;gt; he should do it soon).&lt;/i&gt;&lt;br&gt;
&lt;p&gt;
When I did some research into TWAIN network scanner access a couple of months&lt;br&gt;
ago, the UMAX was the only one I could find, and I gather it uses some sort&lt;br&gt;
of proprietary protocol specific to the UMAX; whereas under SANE any scanner&lt;br&gt;
is network accessible. It would be really cool if the SANE protocol became&lt;br&gt;
some sort of defacto (or even official) standard for remote scanner access&lt;br&gt;
even under TWAIN, since the TWAIN standard doesn't specify such a protocol.&lt;br&gt;
&lt;p&gt;
Regards,&lt;br&gt;
Graham&lt;br&gt;
&lt;pre&gt;
<pre>
-- 
Graham Stoney, Senior Hardware/Software Engineer
Canon Information Systems Research Australia
Ph: + 61 2 9805 2909	Fax: + 61 2 9805 2929
&lt;p&gt;
&lt;pre&gt;
<pre>
--
Source code, list archive, and docs: &lt;a href="<a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>"&gt;http://www.mostang.com/sane/&lt;/a&gt;
To unsubscribe: echo unsubscribe sane-devel | mail &lt;a href="<a href="mailto:majordomo@mostang.com">mailto:majordomo@mostang.com</a>"&gt;majordomo@mostang.com&lt;/a&gt;
&lt;/pre&gt;
&lt;!-- body="end" --&gt;
&lt;p&gt;
&lt;ul&gt;
&lt;!-- next="start" --&gt;
&lt;li&gt; &lt;b&gt;Next message:&lt;/b&gt; &lt;a href="0176.html"&gt;Jon Schneider: "mustek mustave died"&lt;/a&gt;
&lt;li&gt; &lt;b&gt;Previous message:&lt;/b&gt; &lt;a href="0174.html"&gt;Kenneth Crudup: "Re: problems with snapscan and scanimage"&lt;/a&gt;
&lt;li&gt; &lt;b&gt;In reply to:&lt;/b&gt; &lt;a href="0149.html"&gt;Yuri Dario: "Re: Win32 TWAIN DLL to interface with SANE"&lt;/a&gt;
&lt;!-- nextthread="start" --&gt;
&lt;li&gt; &lt;b&gt;Next in thread:&lt;/b&gt; &lt;a href="0151.html"&gt;Brian Macy: "Re: Win32 TWAIN DLL to interface with SANE"&lt;/a&gt;
&lt;!-- reply="end" --&gt;
&lt;/ul&gt;
<p>
--------------C4BA1382B79E783E5EF51C9D--
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0035.html">Matthias Fleischer: "Re: Adjusting contrast and brightness"</a>
<li> <b>Previous message:</b> <a href="0033.html">Chris Pinkham: "Re: AT3:Transparancy &amp; ADF"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0282.html">Morris R. Bannerman: "Re: Compiling Sane"</a>
<!-- reply="end" -->
</ul>
