<!-- received="Tue Dec  8 20:14:48 1998 PST" -->
<!-- sent="Tue, 08 Dec 1998 23:13:43 -0500" -->
<!-- name="Andre Couture" -->
<!-- email="acouture@videotron.ca" -->
<!-- subject="Re: Saned screwing up???" -->
<!-- id="" -->
<!-- inreplyto="Saned screwing up???" -->
<title>sane-devel: Re: Saned screwing up???</title>
<h1>Re: Saned screwing up???</h1>
<b>Andre Couture</b> (<a href="mailto:acouture@videotron.ca"><i>acouture@videotron.ca</i></a>)<br>
<i>Tue, 08 Dec 1998 23:13:43 -0500</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#118">[ date ]</a><a href="index.html#118">[ thread ]</a><a href="subject.html#118">[ subject ]</a><a href="author.html#118">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0119.html">Matto Marjanovic: "Re: Saned screwing up???"</a>
<li> <b>Previous message:</b> <a href="0117.html">Chris Pinkham: "Re: Saned screwing up???"</a>
<li> <b>Maybe in reply to:</b> <a href="0075.html">Andre Couture: "Saned screwing up???"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0119.html">Matto Marjanovic: "Re: Saned screwing up???"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Thanks appreciated.<br>
<p>
Had a chance to look at my changes?<br>
I've notice that when xscanimage starts, the "bind resolution" toggle button is<br>
wrong. Must only be a flag somewhere.<br>
<p>
/ac<br>
<p>
Chris Pinkham wrote:<br>
<p>
<i>&gt; &gt; I've been trying for a while to get saned to work, but it the output is</i><br>
<i>&gt; &gt; looking very bad, (not aligned!)</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt; I have a AT3 scanner</i><br>
<i>&gt;</i><br>
<i>&gt; Like I said before, I hadn't had a chance to mess with saned using the</i><br>
<i>&gt; artec backend.  I finally was able to work on it tonight.</i><br>
<i>&gt;</i><br>
<i>&gt; &gt;From looking at the debugging output of saned and xscanimage, I believe</i><br>
<i>&gt; this has to do with the fact that currently my implementation</i><br>
<i>&gt; of the sane_read function does not like it when it is called with a</i><br>
<i>&gt; max_len which is less than 1 line of data.  I am working on changing</i><br>
<i>&gt; this function to buffer output from the scanner to allow returning less</i><br>
<i>&gt; than 1 row of data, hopefully I can have this fixed by next week.  I'm</i><br>
<i>&gt; pretty busy with work the next few days/nights, but I'll see what I can</i><br>
<i>&gt; work out.</i><br>
<i>&gt;</i><br>
<i>&gt; Chris</i><br>
<i>&gt;</i><br>
<i>&gt; *****************************************************************************</i><br>
<i>&gt; ** Chris Pinkham                      Linux v2.0.35, Sane v1.00, GIMP v1.0 **</i><br>
<i>&gt; ** <a href="mailto:cpinkham@sh001.infi.net">cpinkham@sh001.infi.net</a>                <a href="http://www4.infi.net/~cpinkham/">http://www4.infi.net/~cpinkham/</a> **</i><br>
<i>&gt; *****************************************************************************</i><br>
<i>&gt;</i><br>
<i>&gt; --</i><br>
<i>&gt; Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a></i><br>
<i>&gt; To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a></i><br>
<p>
<pre>
--
<p>
  ------------------------------------------------------------------------
Andre Couture
938934 Ontario Inc.
<a href="mailto:acouture@videotron.ca">mailto:acouture@videotron.ca</a>
<p>
<a href="mailto:search_n_find@yahoo.com">mailto:search_n_find@yahoo.com</a>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0119.html">Matto Marjanovic: "Re: Saned screwing up???"</a>
<li> <b>Previous message:</b> <a href="0117.html">Chris Pinkham: "Re: Saned screwing up???"</a>
<li> <b>Maybe in reply to:</b> <a href="0075.html">Andre Couture: "Saned screwing up???"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0119.html">Matto Marjanovic: "Re: Saned screwing up???"</a>
<!-- reply="end" -->
</ul>
