<!-- received="Thu Dec 10 12:05:13 1998 PST" -->
<!-- sent="Thu, 10 Dec 1998 15:04:20 -0500 (EST)" -->
<!-- name="Chris Burns" -->
<!-- email="burns@odarragh.astro.utoronto.ca" -->
<!-- subject="Re: UMAX 1200S Astra hangs, then resumes" -->
<!-- id="" -->
<!-- inreplyto="36701F5E.CBF8335A@wolfsburg.de" -->
<title>sane-devel: Re: UMAX 1200S Astra hangs, then resumes</title>
<h1>Re: UMAX 1200S Astra hangs, then resumes</h1>
<b>Chris Burns</b> (<a href="mailto:burns@odarragh.astro.utoronto.ca"><i>burns@odarragh.astro.utoronto.ca</i></a>)<br>
<i>Thu, 10 Dec 1998 15:04:20 -0500 (EST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#141">[ date ]</a><a href="index.html#141">[ thread ]</a><a href="subject.html#141">[ subject ]</a><a href="author.html#141">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0142.html">Oliver Rauch: "Re: UMAX 1200S Astra hangs, then resumes"</a>
<li> <b>Previous message:</b> <a href="0140.html">Michael Sweet: "[patch] Updated patch for SANE 1.0"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hello.<br>
<p>
<i>&gt; you can try to disable command-queeing and reconnect/disconnect for the scsi-driver-module.</i><br>
<i>&gt; </i><br>
<i>&gt; Did you terminate the scsi-bus correctly?</i><br>
<i>&gt; This can cause such problems, too!</i><br>
<p>
Yup, I tried all that.  (I read the mail archives before posting my question).<br>
Jon Burchmore has the same problem, and suggested downgrading to kernel<br>
versions prior to 2.1.126.  As soon as my users are mostly offline, I will<br>
try an older kernel.  If that works, then I guess it's an aic7xxx.o problem<br>
afterall.<br>
<p>
Cheers.<br>
<p>
Chris<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0142.html">Oliver Rauch: "Re: UMAX 1200S Astra hangs, then resumes"</a>
<li> <b>Previous message:</b> <a href="0140.html">Michael Sweet: "[patch] Updated patch for SANE 1.0"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
