<!-- received="Thu Dec 10 15:11:39 1998 PST" -->
<!-- sent="Fri, 11 Dec 1998 00:09:24 +0100 (CET)" -->
<!-- name="Hugo van der Kooij" -->
<!-- email="hvdkooij@caiw.nl" -->
<!-- subject="Solaris v2.6 support?" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Solaris v2.6 support?</title>
<h1>Solaris v2.6 support?</h1>
<b>Hugo van der Kooij</b> (<a href="mailto:hvdkooij@caiw.nl"><i>hvdkooij@caiw.nl</i></a>)<br>
<i>Fri, 11 Dec 1998 00:09:24 +0100 (CET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#146">[ date ]</a><a href="index.html#146">[ thread ]</a><a href="subject.html#146">[ subject ]</a><a href="author.html#146">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0147.html">Andreas Fiesser: "Re: UMAX 1200S Astra hangs, then resumes"</a>
<li> <b>Previous message:</b> <a href="0145.html">Neil Zampella: "Re:- Pacific Image Electronics 630P ?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0058.html">Martin Huber: "Re: Solaris v2.6 support?"</a>
<li> <b>Maybe reply:</b> <a href="0058.html">Martin Huber: "Re: Solaris v2.6 support?"</a>
<li> <b>Maybe reply:</b> <a href="0070.html">Chris Riggins: "Re:  Solaris v2.6 support?"</a>
<li> <b>Maybe reply:</b> <a href="0074.html">Chris Riggins: "Re:  Solaris v2.6 support?"</a>
<li> <b>Reply:</b> <a href="0148.html">Michael Sweet: "Re: Solaris v2.6 support?"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
LS,<br>
<p>
Did anyone get SANE 1.0 working on Solaris v2.6 (Sparc)?<br>
<p>
(I didn't; it just dumps core)<br>
<p>
Hugo.<br>
<p>
<p>
	+------------------------+------------------------------+<br>
<i>	| Hugo van der Kooij     | <a href="mailto:Hugo.van.der.Kooij@caiw.nl">Hugo.van.der.Kooij@caiw.nl</a>   |</i><br>
<i>	| Oranje Nassaustraat 16 | <a href="http://www.caiw.nl/~hvdkooij">http://www.caiw.nl/~hvdkooij</a> |</i><br>
<i>	| 3155 VJ  Maasland      | (De man met de rode hoed)    |</i><br>
	+------------------------+------------------------------+<br>
    "Computers let you make more mistakes faster than any other invention in <br>
      human history, with the possible exception of handguns and tequila."<br>
		(Mitch Radcliffe)<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0147.html">Andreas Fiesser: "Re: UMAX 1200S Astra hangs, then resumes"</a>
<li> <b>Previous message:</b> <a href="0145.html">Neil Zampella: "Re:- Pacific Image Electronics 630P ?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0058.html">Martin Huber: "Re: Solaris v2.6 support?"</a>
<li> <b>Maybe reply:</b> <a href="0058.html">Martin Huber: "Re: Solaris v2.6 support?"</a>
<li> <b>Maybe reply:</b> <a href="0070.html">Chris Riggins: "Re:  Solaris v2.6 support?"</a>
<li> <b>Maybe reply:</b> <a href="0074.html">Chris Riggins: "Re:  Solaris v2.6 support?"</a>
<li> <b>Reply:</b> <a href="0148.html">Michael Sweet: "Re: Solaris v2.6 support?"</a>
<!-- reply="end" -->
</ul>
