<!-- received="Sat Dec 12 09:14:36 1998 PST" -->
<!-- sent="Thu, 10 Dec 1998 07:33:33 +0100" -->
<!-- name="Peter Kirchgessner" -->
<!-- email="pkirchgessner@t-online.de" -->
<!-- subject="Unresolved external in hp backend v0.72c" -->
<!-- id="98121007381406.01261@dld" -->
<!-- inreplyto="" -->
<title>sane-devel: Unresolved external in hp backend v0.72c</title>
<h1>Unresolved external in hp backend v0.72c</h1>
<b>Peter Kirchgessner</b> (<a href="mailto:pkirchgessner@t-online.de"><i>pkirchgessner@t-online.de</i></a>)<br>
<i>Thu, 10 Dec 1998 07:33:33 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#171">[ date ]</a><a href="index.html#171">[ thread ]</a><a href="subject.html#171">[ subject ]</a><a href="author.html#171">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0172.html">!LLEGAL: "informations"</a>
<li> <b>Previous message:</b> <a href="0170.html">John Salmon: "hp photosmart and sane-1.00"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi,<br>
<p>
if someone want to test the beta version of the hp-backend (see<br>
<a href="http://www.kirchgessner.net">http://www.kirchgessner.net</a>), he/she must add the following line to<br>
backend/Makefile:<br>
<p>
libsane-hp.la: ../sanei/sanei_pio.lo<br>
<p>
Parallel scanner support for current HP scanners will not work with<br>
this backend.<br>
<p>
Peter<br>
<p>
<pre>
--
Peter Kirchgessner
WWW:    <a href="http://www.kirchgessner.net">http://www.kirchgessner.net</a>
e-mail: <a href="mailto:pkirchgessner@t-online.de">pkirchgessner@t-online.de</a>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0172.html">!LLEGAL: "informations"</a>
<li> <b>Previous message:</b> <a href="0170.html">John Salmon: "hp photosmart and sane-1.00"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
