<!-- received="Sun Dec 13 04:37:35 1998 PST" -->
<!-- sent="Sun, 13 Dec 1998 14:34:13 +0200" -->
<!-- name="aRtsCi - Nikolas Diamandis" -->
<!-- email="artsci@freemail.gr" -->
<!-- subject="Mustek ScanExpress 12000P. Is it SCSI?" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Mustek ScanExpress 12000P. Is it SCSI?</title>
<h1>Mustek ScanExpress 12000P. Is it SCSI?</h1>
<b>aRtsCi - Nikolas Diamandis</b> (<a href="mailto:artsci@freemail.gr"><i>artsci@freemail.gr</i></a>)<br>
<i>Sun, 13 Dec 1998 14:34:13 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#184">[ date ]</a><a href="index.html#184">[ thread ]</a><a href="subject.html#184">[ subject ]</a><a href="author.html#184">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0185.html">Hugo van der Kooij: "Re: Mustek ScanExpress 12000P. Is it SCSI?"</a>
<li> <b>Previous message:</b> <a href="0183.html">Justin Young: "RE: future supported devices"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0186.html">Dr. Andreas Bolsch: "Re: Mustek ScanExpress 12000P. Is it SCSI?"</a>
<li> <b>Reply:</b> <a href="0186.html">Dr. Andreas Bolsch: "Re: Mustek ScanExpress 12000P. Is it SCSI?"</a>
<li> <b>Reply:</b> <a href="0213.html">aRtsCi - Nikolas Diamandis: "Re: Mustek ScanExpress 12000P. Is it SCSI?"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I can't figure out which kind of interface this scanner uses!!!<br>
	Should I treat it as a SCSI device or as a PARALLEL port scanner?<br>
	Actually I know that I connect it at the parallel port without any<br>
other inside the computer cards and in parallel to the printer.<br>
	I'm a bit confused. Plz help 'cause in man sane-mustek I see that<br>
12000SP is SCSI, so I suspect that mine is SCSI too.<br>
	Should I compile the kernel with SCSI support (I don't have any other<br>
devices that need SCSI support) and if so, what are the exact options I<br>
should enable?<br>
<p>
Thanx in advance.<br>
<pre>
-- 
Nikolas Diamandis
<a href="mailto:artsci@freemail.gr">mailto:artsci@freemail.gr</a>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0185.html">Hugo van der Kooij: "Re: Mustek ScanExpress 12000P. Is it SCSI?"</a>
<li> <b>Previous message:</b> <a href="0183.html">Justin Young: "RE: future supported devices"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0186.html">Dr. Andreas Bolsch: "Re: Mustek ScanExpress 12000P. Is it SCSI?"</a>
<li> <b>Reply:</b> <a href="0186.html">Dr. Andreas Bolsch: "Re: Mustek ScanExpress 12000P. Is it SCSI?"</a>
<li> <b>Reply:</b> <a href="0213.html">aRtsCi - Nikolas Diamandis: "Re: Mustek ScanExpress 12000P. Is it SCSI?"</a>
<!-- reply="end" -->
</ul>
