<!-- received="Sun Dec 13 13:50:40 1998 PST" -->
<!-- sent="Sat, 12 Dec 1998 12:57:47 -0500" -->
<!-- name="Gregory Propf" -->
<!-- email="gregp@home.com" -->
<!-- subject="Problems using Umax Astr 1220S scanner under SANE - more..." -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Problems using Umax Astr 1220S scanner under SANE - more...</title>
<h1>Problems using Umax Astr 1220S scanner under SANE - more...</h1>
<b>Gregory Propf</b> (<a href="mailto:gregp@home.com"><i>gregp@home.com</i></a>)<br>
<i>Sat, 12 Dec 1998 12:57:47 -0500</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#199">[ date ]</a><a href="index.html#199">[ thread ]</a><a href="subject.html#199">[ subject ]</a><a href="author.html#199">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0200.html">Maciej Szulc: "Re: Mustek ScanExpress 12000P. Is it SCSI?"</a>
<li> <b>Previous message:</b> <a href="0198.html">James Brooks: "Question/SANE problem"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0204.html">Oliver Rauch: "Re: Problems using Umax Astr 1220S scanner under SANE - more..."</a>
<li> <b>Reply:</b> <a href="0204.html">Oliver Rauch: "Re: Problems using Umax Astr 1220S scanner under SANE - more..."</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Yesterday, I sent a note about my problems with the Astra 1220s under<br>
sane.  I set SANE_DEBUG_SANEI_SCSI=128 and ran scanimage to do a test<br>
scan.  In the debug info there were many entries of the format below. <br>
Finally the scan just froze and when I tried to stop the scan the<br>
program just printed "scanimage: stopping scanner..." and hung there. <br>
After a few minutes the system itself hung nad had to be reset.  Hope<br>
this helps.<br>
<p>
<p>
<p>
<p>
[sanei_scsi] sanei_scsi_req_wait: read 36 bytes<br>
[sanei_scsi] sanei_scsi_req_wait: SCSI command complained: Input/output<br>
error<br>
[sanei_scsi] scsi_req_enter: entered 0x80553c8<br>
[sanei_scsi] sanei_scsi_req_wait: waiting for 0x80553c8<br>
[sanei_scsi] sanei_scsi.issue: 0x80553c8<br>
<p>
<p>
<p>
<p>
<p>
<p>
<pre>
-- 
 
	    -- homepage: <a href="http://members.home.net/gregp/">http://members.home.net/gregp/</a> --
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0200.html">Maciej Szulc: "Re: Mustek ScanExpress 12000P. Is it SCSI?"</a>
<li> <b>Previous message:</b> <a href="0198.html">James Brooks: "Question/SANE problem"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0204.html">Oliver Rauch: "Re: Problems using Umax Astr 1220S scanner under SANE - more..."</a>
<li> <b>Reply:</b> <a href="0204.html">Oliver Rauch: "Re: Problems using Umax Astr 1220S scanner under SANE - more..."</a>
<!-- reply="end" -->
</ul>
