<!-- received="Mon Dec 14 11:45:57 1998 PST" -->
<!-- sent="Mon, 14 Dec 1998 21:42:24 +0200" -->
<!-- name="aRtsCi - Nikolas Diamandis" -->
<!-- email="artsci@freemail.gr" -->
<!-- subject="Re: Mustek ScanExpress 12000P. Is it SCSI?" -->
<!-- id="" -->
<!-- inreplyto="Mustek ScanExpress 12000P. Is it SCSI?" -->
<title>sane-devel: Re: Mustek ScanExpress 12000P. Is it SCSI?</title>
<h1>Re: Mustek ScanExpress 12000P. Is it SCSI?</h1>
<b>aRtsCi - Nikolas Diamandis</b> (<a href="mailto:artsci@freemail.gr"><i>artsci@freemail.gr</i></a>)<br>
<i>Mon, 14 Dec 1998 21:42:24 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#213">[ date ]</a><a href="index.html#213">[ thread ]</a><a href="subject.html#213">[ subject ]</a><a href="author.html#213">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0214.html">Martin Huber: "Re: Sane1.0 SOLARIS2.6"</a>
<li> <b>Previous message:</b> <a href="0212.html">Hugo van der Kooij: "Re: Sane1.0 SOLARIS2.6"</a>
<li> <b>Maybe in reply to:</b> <a href="0184.html">aRtsCi - Nikolas Diamandis: "Mustek ScanExpress 12000P. Is it SCSI?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
There is an option in the kernel configuration which allows the use of<br>
SCSI drivers for ATAPI devices when there is no proper driver for the<br>
device. Should I search it this way or it is a lost of time?<br>
	Are SANE developers planning to support 12000P in the near future?<br>
	Could you suggest another way I could use my scanner (other software<br>
maybe?), cause I don't wanna install M$ again, in order to have my<br>
scanner work!!!<br>
<p>
<p>
Maciej Szulc wrote:<br>
<i>&gt; &gt; I can't figure out which kind of interface this scanner uses!!!</i><br>
<i>&gt; &gt;       Should I treat it as a SCSI device or as a PARALLEL port scanner?</i><br>
<i>&gt; &gt;       Actually I know that I connect it at the parallel port without any</i><br>
<i>&gt; </i><br>
<i>&gt; It is parallel type scanner.</i><br>
<i>&gt; </i><br>
<i>&gt; &gt; other inside the computer cards and in parallel to the printer.</i><br>
<i>&gt; &gt;       I'm a bit confused. Plz help 'cause in man sane-mustek I see that</i><br>
<i>&gt; &gt; 12000SP is SCSI, so I suspect that mine is SCSI too.</i><br>
<i>&gt; </i><br>
<i>&gt; SP= scsi, P=parallel</i><br>
<i>&gt; </i><br>
<i>&gt; This model is not supported in sane.</i><br>
<p>
<pre>
-- 
Nikolas Diamandis
<a href="mailto:artsci@freemail.gr">mailto:artsci@freemail.gr</a>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0214.html">Martin Huber: "Re: Sane1.0 SOLARIS2.6"</a>
<li> <b>Previous message:</b> <a href="0212.html">Hugo van der Kooij: "Re: Sane1.0 SOLARIS2.6"</a>
<li> <b>Maybe in reply to:</b> <a href="0184.html">aRtsCi - Nikolas Diamandis: "Mustek ScanExpress 12000P. Is it SCSI?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
