<!-- received="Mon Dec 14 14:33:45 1998 PST" -->
<!-- sent="Mon, 14 Dec 1998 23:22:10 +0100" -->
<!-- name="Peter Kirchgessner" -->
<!-- email="pkirchgessner@t-online.de" -->
<!-- subject="Re: hp-backend: 2nd try parallel support and new ADF support" -->
<!-- id="98121423244902.09294@dld" -->
<!-- inreplyto="hp-backend: 2nd try parallel support and new ADF support" -->
<title>sane-devel: Re: hp-backend: 2nd try parallel support and new ADF support</title>
<h1>Re: hp-backend: 2nd try parallel support and new ADF support</h1>
<b>Peter Kirchgessner</b> (<a href="mailto:pkirchgessner@t-online.de"><i>pkirchgessner@t-online.de</i></a>)<br>
<i>Mon, 14 Dec 1998 23:22:10 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#218">[ date ]</a><a href="index.html#218">[ thread ]</a><a href="subject.html#218">[ subject ]</a><a href="author.html#218">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0219.html">Bernd Schroeder: "Re: Question/SANE problem"</a>
<li> <b>Previous message:</b> <a href="0217.html">Peter Kirchgessner: "Re: HP Scanner causes machine to freeze"</a>
<li> <b>Maybe in reply to:</b> <a href="0045.html">Peter Kirchgessner: "hp-backend: 2nd try parallel support and new ADF support"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Martin Huber wrote:<br>
<p>
<i>&gt;</i><br>
<i>&gt;I tried this backend with an HP "ScanJet ADF" (identified</i><br>
<i>&gt;by find-scanner: found processor "HP C6270A 3824").</i><br>
<i>&gt;I found no effect of the "Scan from ADF" button.</i><br>
<i>&gt;If a document is loaded in the ADF, it will be scanned,</i><br>
<i>&gt;regardless if "Scan from ADF" is checked or not.</i><br>
<i>&gt;</i><br>
<p>
How about the button "change document" in xscanimage.<br>
Does it appear and does it eject the page that is in the scanner and<br>
load the next one ?<br>
<p>
Peter<br>
<p>
<pre>
--
Peter Kirchgessner
WWW:    <a href="http://www.kirchgessner.net">http://www.kirchgessner.net</a>
e-mail: <a href="mailto:pkirchgessner@t-online.de">pkirchgessner@t-online.de</a>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0219.html">Bernd Schroeder: "Re: Question/SANE problem"</a>
<li> <b>Previous message:</b> <a href="0217.html">Peter Kirchgessner: "Re: HP Scanner causes machine to freeze"</a>
<li> <b>Maybe in reply to:</b> <a href="0045.html">Peter Kirchgessner: "hp-backend: 2nd try parallel support and new ADF support"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
