<!-- received="Wed Dec 16 14:22:06 1998 PST" -->
<!-- sent="Wed, 16 Dec 1998 23:20:14 +0100 (MET)" -->
<!-- name="Martin Huber" -->
<!-- email="hu@garfield.m.isar.de" -->
<!-- subject="hp-backend: 2nd try parallel support and new ADF support" -->
<!-- id="199812162220.XAA10979@garfield.m.isar.de" -->
<!-- inreplyto="" -->
<title>sane-devel: hp-backend: 2nd try parallel support and new ADF support</title>
<h1>hp-backend: 2nd try parallel support and new ADF support</h1>
<b>Martin Huber</b> (<a href="mailto:hu@garfield.m.isar.de"><i>hu@garfield.m.isar.de</i></a>)<br>
<i>Wed, 16 Dec 1998 23:20:14 +0100 (MET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#227">[ date ]</a><a href="index.html#227">[ thread ]</a><a href="subject.html#227">[ subject ]</a><a href="author.html#227">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0228.html">Michael D Hughes: "Re: sane-1.00 and FreeBSD"</a>
<li> <b>Previous message:</b> <a href="0226.html">Kevin R. Charter: "SnapScan 0.6"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0215.html">Martin Huber: "Re: hp-backend: 2nd try parallel support and new ADF support"</a>
<li> <b>Maybe reply:</b> <a href="0215.html">Martin Huber: "Re: hp-backend: 2nd try parallel support and new ADF support"</a>
<li> <b>Maybe reply:</b> <a href="0218.html">Peter Kirchgessner: "Re: hp-backend: 2nd try parallel support and new ADF support"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Peter Kirchgessner wrote:<br>
<p>
<i>&gt; </i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt;I tried this backend with an HP "ScanJet ADF" (identified</i><br>
<i>&gt; &gt;by find-scanner: found processor "HP C6270A 3824").</i><br>
<i>&gt; &gt;I found no effect of the "Scan from ADF" button.</i><br>
<i>&gt; &gt;If a document is loaded in the ADF, it will be scanned,</i><br>
<i>&gt; &gt;regardless if "Scan from ADF" is checked or not.</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; </i><br>
<i>&gt; How about the button "change document" in xscanimage.</i><br>
<i>&gt; Does it appear and does it eject the page that is in the scanner and</i><br>
<i>&gt; load the next one ?</i><br>
<i>&gt; </i><br>
<p>
I did some tests for this.<br>
<p>
1. There should be no paper loaded in the ADF when xscanimage is started.<br>
   Else the preview window has hight 0 and is double as wide as normal.<br>
   The geometry filed shows top-left x 0.0, top left y 0.0,<br>
   bottom right x 21.6, bottom right y 0.0 (The first -top left x- slide<br>
   is at the left and, the three others are on the right end).<br>
   No scan is possible until xscanimage is closed, the paper is removed <br>
   from the ADF and xscanimage is started again.<br>
   <br>
2. No paper in ADF, xscanimage started, preview window opened.<br>
   Some documents put in ADF.<br>
   "Change documents" pressed.<br>
   The preview window gets double as wide as it was before.<br>
   A sheet of paper is loaded from the ADF and pulled in until to<br>
   the point  where scanning would start.<br>
   xscanimage crashes with <br>
        hp-accessor.c:834: failed assertion `val_mm &gt;= 0'<br>
        Abort (core dumped)<br>
<p>
3. One document is still inside the ADF (how to get it out?)<br>
   xscanimage started again.<br>
   Bottom right y is still 0.0.<br>
   The preview window has hight 0 an is double as wide as normal.<br>
   "Start preview" aborts xscanimage with the same "faild assertion"<br>
   message as above.<br>
<p>
4. restart xscanimage, geometry as before. No preview window opened, but<br>
   "Scan" pressed. (How should I get the paper out of the scanner?)<br>
   The "Aquire image" popup appears and freezes.<br>
   After some time the popup disappears, and the scanner sounds as if<br>
   it would move a centimeter force and back (realign?)<br>
   The xscan window is as before.<br>
   Another "Scan" ejects the paper loaded before and pulls in the next one.<br>
   (Hugh!). Removed the rest of the paper from the ADF.<br>
   After some time the loaded document is scanned, but the resulting out.pnm<br>
   is only 349 bytes long.<br>
<p>
5. restarted xscanimage. Everything looks normal.<br>
   Put some documents in th ADF. "Scan from ADF" not checked.<br>
   Aquire preview. One sheet of paper is taken from the ADF and scanned.<br>
   The preview result is normal.<br>
   Pressed scan. The next document is scanned.<br>
<p>
6. Removed all documents from the ADF.<br>
   Terminated xscanimage and started again.<br>
   Put some documents into the ADF.<br>
   Opened preview window. Still everything normal.<br>
   Changed "Scan Mode" from Lineart to Color.<br>
   The preview window gets the double size, and the Top-Left y slide<br>
   jumps to the right edge and shows 0.0.<br>
   Aquire Preview results in<br>
      hp-accessor.c:834: failed assertion `val_mm &gt;= 0'<br>
      Abort (core dumped).<br>
<p>
7. Removed all paper from the ADF.<br>
   Started xscanimage.<br>
   Put paper into the ADF. <br>
   Checked "Scan from ADF".<br>
   Opened Preview window and changed Scan mode from Lineart to Color.<br>
   Same behaviour as above.<br>
   <br>
8. Same preparation as 7.<br>
   Pressing "Scan" insteat of "Aquire Preview" results in a "successful"<br>
   scan of a zero hight picture. At least it does not crash.<br>
<p>
9. xscanimage started, paper in ADF, Scan from ADF checked.<br>
   Change document pressed.<br>
   A sheet of paper is loaded from the ADF and pulled in until to<br>
   the point  where scanning would start.<br>
   Nothing happens. Further presses to "Change document" have no effect.<br>
   Scan scans the document and procduces a 349 byte out.pnm (i.e. a<br>
   zero hicht picture).<br>
<p>
It looks as if xscanimage reads a bad geomety value from the scanner when<br>
xscanimage is started, the Scan Mode is changed or Change document is<br>
pressed. Attempting to get a preview in this mode crashes.<br>
Scan from ADF seems to have no effect.<br>
<p>
--martin<br>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0228.html">Michael D Hughes: "Re: sane-1.00 and FreeBSD"</a>
<li> <b>Previous message:</b> <a href="0226.html">Kevin R. Charter: "SnapScan 0.6"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0215.html">Martin Huber: "Re: hp-backend: 2nd try parallel support and new ADF support"</a>
<li> <b>Maybe reply:</b> <a href="0215.html">Martin Huber: "Re: hp-backend: 2nd try parallel support and new ADF support"</a>
<li> <b>Maybe reply:</b> <a href="0218.html">Peter Kirchgessner: "Re: hp-backend: 2nd try parallel support and new ADF support"</a>
<!-- reply="end" -->
</ul>
