<!-- received="Mon Dec 21 20:43:19 1998 PST" -->
<!-- sent="Mon, 21 Dec 1998 20:50:13 -0800" -->
<!-- name="Zot O'Connor" -->
<!-- email="zot@zotconsulting.com" -->
<!-- subject="UMAX Vista-8 not seen by kernel modules, but see by bios" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: UMAX Vista-8 not seen by kernel modules, but see by bios</title>
<h1>UMAX Vista-8 not seen by kernel modules, but see by bios</h1>
<b>Zot O'Connor</b> (<a href="mailto:zot@zotconsulting.com"><i>zot@zotconsulting.com</i></a>)<br>
<i>Mon, 21 Dec 1998 20:50:13 -0800</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#242">[ date ]</a><a href="index.html#242">[ thread ]</a><a href="subject.html#242">[ subject ]</a><a href="author.html#242">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0243.html">Harry Putnam: "hp 5100Cse"</a>
<li> <b>Previous message:</b> <a href="0241.html">Andre Couture: "Re: New idea for sane."</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I posted a while ago with a an old future domain card.<br>
<p>
Now I am trying a new Diamond Fireport 40, an NCR53c875J based card.<br>
<p>
I get the same thing.<br>
<p>
*After* I turned parity off, I get the scanner seen by the card bios and<br>
setup screens.<br>
<p>
The kernel module does no see it.<br>
<p>
I am about to start meandering the driver next, but since this now<br>
happens under 2 different cards, redhat 5.1 and redhat 5.2, I wanted to<br>
know if I am S.O.L. to start with.<br>
<p>
Or can I convince SANE the scanner is there with the kernel admitting<br>
it?  (oh I know, that is insane, but perhaps it is in SANE).<br>
<p>
Any help would be appreciated.  Including any driver options to the scsi<br>
module to turn more debugging on.  Unfortunately the system disks are<br>
SCSI and I have to reboot to try a new driver.<br>
<p>
(BTW I have completely different cables).<br>
<p>
I assuming this is a parity/SCSI-IvsII/UMAX sucks issue.  But since this<br>
worked fine under a NCR on board SCSI (NCR chip on mother board that<br>
gave me Adaptec SCSI 78xx) and the included SCSI card under 95 and NT,<br>
I'd like to fix this now...<br>
<p>
Thanks in advance!<br>
<p>
<pre>
-- 
Zot O'Connor
<p>
www.ZotConsulting.com
www.WhiteKnightHackers.com
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0243.html">Harry Putnam: "hp 5100Cse"</a>
<li> <b>Previous message:</b> <a href="0241.html">Andre Couture: "Re: New idea for sane."</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
