<!-- received="Tue Dec 22 12:34:56 1998 PST" -->
<!-- sent="Tue, 22 Dec 1998 10:05:25 +0100" -->
<!-- name="Robert Schwebel" -->
<!-- email="r.schwebel@tu-bs.de" -->
<!-- subject="Re: New idea for sane." -->
<!-- id="" -->
<!-- inreplyto="New idea for sane." -->
<title>sane-devel: Re: New idea for sane.</title>
<h1>Re: New idea for sane.</h1>
<b>Robert Schwebel</b> (<a href="mailto:r.schwebel@tu-bs.de"><i>r.schwebel@tu-bs.de</i></a>)<br>
<i>Tue, 22 Dec 1998 10:05:25 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#255">[ date ]</a><a href="index.html#255">[ thread ]</a><a href="subject.html#255">[ subject ]</a><a href="author.html#255">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0256.html">Bernd Schroeder: "Re: scanmaker v310?"</a>
<li> <b>Previous message:</b> <a href="0254.html">Baudeuin Raphael: "HP OfficeJEt"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi!<br>
<p>
Turcat Jean-Philippe wrote:<br>
<i>&gt; Scanning only one photo with gimp is easy and great. But scanning</i><br>
<i>&gt; 200 photos is just a nightmare. I had a previous software (under</i><br>
<i>&gt; winblows...) that allowed a batch scanning (not more than 10 scan</i><br>
<i>&gt; because of crashing).</i><br>
<p>
I think this should be easyly possible with the commandline frontend,<br>
scanimage! You only need a little script that does the batch job.<br>
<p>
Robert<br>
<pre>
-- 
 +---------------------------------------------------------------------+
 +      Robert Schwebel,  Rueninger Weg 3g, 38124 Braunschweig         +
 +       Public Observatory Rothwesten (near Kassel, Germany)          +
 +        phone: +49-531-611959, e-mail: <a href="mailto:r.schwebel@tu-bs.de">r.schwebel@tu-bs.de</a>           +
 +---------------------------------------------------------------------+
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0256.html">Bernd Schroeder: "Re: scanmaker v310?"</a>
<li> <b>Previous message:</b> <a href="0254.html">Baudeuin Raphael: "HP OfficeJEt"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
