<!-- received="Wed Dec 23 07:26:10 1998 PST" -->
<!-- sent="Wed, 23 Dec 1998 16:29:04 +0100 (MET)" -->
<!-- name="Reinhold Bader" -->
<!-- email="uh341au@brossp5.lehrstuhl-bross.physik.uni-muenchen.de" -->
<!-- subject="Mustek SE 12000SP" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Mustek SE 12000SP</title>
<h1>Mustek SE 12000SP</h1>
<b>Reinhold Bader</b> (<a href="mailto:uh341au@brossp5.lehrstuhl-bross.physik.uni-muenchen.de"><i>uh341au@brossp5.lehrstuhl-bross.physik.uni-muenchen.de</i></a>)<br>
<i>Wed, 23 Dec 1998 16:29:04 +0100 (MET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#262">[ date ]</a><a href="index.html#262">[ thread ]</a><a href="subject.html#262">[ subject ]</a><a href="author.html#262">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0263.html">Peter Kirchgessner: "Re: hp 5100Cse"</a>
<li> <b>Previous message:</b> <a href="0261.html">becka@rz.uni-duesseldorf.de: "Re: NCR5380 vs g_NCR5380"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
 Hallo, <br>
<p>
 I've got a Mustek SE 12000SP, Firmware Version 2.02. Setting the<br>
 debug level to 128, calling scanimage (SANE 1.00) stops with an<br>
 error message:<br>
<p>
[sanei_init_debug]: Setting debug level of mustek to 128.<br>
[mustek] sane_init: strip-height set to 1 inches<br>
[mustek] attach: opening /dev/sg1 as scsi device<br>
[mustek] attach: sending INQUIRY<br>
[mustek] scsi_wait_ready: sending TEST_UNIT_READY<br>
[mustek] attach: firmware revision 2.02<br>
[mustek] attach: found Mustek scanner model  C06 S12IDW (flatbed scanner), 1-pass, SE<br>
[mustek] sane_init: enabling linedistance-fix for /dev/sg1<br>
[mustek] sane_init: enabling lineart-fix for /dev/sg1<br>
scanimage: sane_start: Invalid argument<br>
<p>
<p>
 is there anything in the works concerning this firmware revision?<br>
 <br>
<p>
 Dr. Reinhold Bader, <br>
 <br>
 Sektion Physik der LMU Muenchen, LS Bross | Tel. +4989 2394 4529<br>
 Theresienstr. 37/IV, 80333 Muenchen       | email <a href="mailto:uh341au@mail.lrz-muenchen.de">uh341au@mail.lrz-muenchen.de</a><br>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0263.html">Peter Kirchgessner: "Re: hp 5100Cse"</a>
<li> <b>Previous message:</b> <a href="0261.html">becka@rz.uni-duesseldorf.de: "Re: NCR5380 vs g_NCR5380"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
