<!-- received="Tue Dec 29 02:09:00 1998 PST" -->
<!-- sent="Tue, 29 Dec 1998 09:59:33 +0000 (GMT)" -->
<!-- name="a.bolsch@ic.ac.uk" -->
<!-- email="a.bolsch@ic.ac.uk" -->
<!-- subject="Re: Mustek SE 12000SP" -->
<!-- id="27323.9812290959@nestor.ma.ic.ac.uk" -->
<!-- inreplyto="Pine.LNX.3.96.981229101415.25012A-100000@brossp5.lehrstuhl-bross.physik.uni-muen" -->
<title>sane-devel: Re: Mustek SE 12000SP</title>
<h1>Re: Mustek SE 12000SP</h1>
<a href="mailto:a.bolsch@ic.ac.uk"><i>a.bolsch@ic.ac.uk</i></a><br>
<i>Tue, 29 Dec 1998 09:59:33 +0000 (GMT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#298">[ date ]</a><a href="index.html#298">[ thread ]</a><a href="subject.html#298">[ subject ]</a><a href="author.html#298">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0299.html">a.bolsch@ic.ac.uk: "Re: Silly noises instead of an Image"</a>
<li> <b>Previous message:</b> <a href="0297.html">Reinhold Bader: "Re: Mustek SE 12000SP"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0322.html">Reinhold Bader: "Re: Mustek SE 12000SP"</a>
<li> <b>Reply:</b> <a href="0322.html">Reinhold Bader: "Re: Mustek SE 12000SP"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Well, at least the SE-12000SP with f/w 1.01 can't handle resolutions<br>
below 60dpi. Maybe that's true for your version, too, so you might<br>
have to specify explicitly a valid one (e.g. --resolution 150). <br>
And, if that helps, could you please check the minimal resolution <br>
for your version?<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0299.html">a.bolsch@ic.ac.uk: "Re: Silly noises instead of an Image"</a>
<li> <b>Previous message:</b> <a href="0297.html">Reinhold Bader: "Re: Mustek SE 12000SP"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0322.html">Reinhold Bader: "Re: Mustek SE 12000SP"</a>
<li> <b>Reply:</b> <a href="0322.html">Reinhold Bader: "Re: Mustek SE 12000SP"</a>
<!-- reply="end" -->
</ul>
