<!-- received="Wed Dec 30 04:36:52 1998 PST" -->
<!-- sent="Wed, 30 Dec 1998 14:32:49 +0200" -->
<!-- name="aRtsCi - Nikos Diamandis" -->
<!-- email="artsci@freemail.gr" -->
<!-- subject="Re: Silly noises instead of an Image" -->
<!-- id="" -->
<!-- inreplyto="Silly noises instead of an Image" -->
<title>sane-devel: Re: Silly noises instead of an Image</title>
<h1>Re: Silly noises instead of an Image</h1>
<b>aRtsCi - Nikos Diamandis</b> (<a href="mailto:artsci@freemail.gr"><i>artsci@freemail.gr</i></a>)<br>
<i>Wed, 30 Dec 1998 14:32:49 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#313">[ date ]</a><a href="index.html#313">[ thread ]</a><a href="subject.html#313">[ subject ]</a><a href="author.html#313">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0314.html">Hugo van der Kooij: "Re: Silly noises instead of an Image"</a>
<li> <b>Previous message:</b> <a href="0312.html">Bernd Schroeder: "New version of microtek2 backend - testers wanted"</a>
<li> <b>Maybe in reply to:</b> <a href="0291.html">aRtsCi - Nikos Diamandis: "Silly noises instead of an Image"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0315.html">Nicolas de Peslouan: "Re: Silly noises instead of an Image"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<a href="mailto:a.bolsch@ic.ac.uk">a.bolsch@ic.ac.uk</a> wrote:<br>
<i>&gt; --speed and --backtrack has no meaning for the SE. Get rid of this damn</i><br>
<i>&gt; crippled SCSI-card shipped with the scanner. I've got an Adaptec 1520 and</i><br>
<i>&gt; 486-machine, a full page scan at 300dpi takes just 3 min. And kill anything</i><br>
<i>&gt; not absolutely necessary before scanning.</i><br>
<p>
	I think that this isn't a solution!<br>
	Or I could say: Change the OS and buy M$ in order to have whatever you want<br>
to!<br>
	I think that some people have used both the scanner and the scsi interface<br>
card I'm using and they have used it right! What did they do? Is it so<br>
difficult to describe??????<br>
<p>
<pre>
-- 
Nikolas Diamandis
<a href="mailto:artsci@freemail.gr">mailto:artsci@freemail.gr</a>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0314.html">Hugo van der Kooij: "Re: Silly noises instead of an Image"</a>
<li> <b>Previous message:</b> <a href="0312.html">Bernd Schroeder: "New version of microtek2 backend - testers wanted"</a>
<li> <b>Maybe in reply to:</b> <a href="0291.html">aRtsCi - Nikos Diamandis: "Silly noises instead of an Image"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0315.html">Nicolas de Peslouan: "Re: Silly noises instead of an Image"</a>
<!-- reply="end" -->
</ul>
