<!-- received="Thu Dec 31 17:08:27 1998 PST" -->
<!-- sent="Fri, 01 Jan 1999 02:05:04 +0100" -->
<!-- name="Peter Kirchgessner" -->
<!-- email="pkirchgessner@t-online.de" -->
<!-- subject="Re: Forwards-Backwards" -->
<!-- id="" -->
<!-- inreplyto="Forwards-Backwards" -->
<title>sane-devel: Re: Forwards-Backwards</title>
<h1>Re: Forwards-Backwards</h1>
<b>Peter Kirchgessner</b> (<a href="mailto:pkirchgessner@t-online.de"><i>pkirchgessner@t-online.de</i></a>)<br>
<i>Fri, 01 Jan 1999 02:05:04 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#332">[ date ]</a><a href="index.html#332">[ thread ]</a><a href="subject.html#332">[ subject ]</a><a href="author.html#332">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0333.html">Andrew Leahy: "Epson ES-600C anyone?"</a>
<li> <b>Previous message:</b> <a href="0331.html">D C Haslam: "Short pnm files"</a>
<li> <b>Maybe in reply to:</b> <a href="0326.html">aRtsCi - Nikos Diamandis: "Forwards-Backwards"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
aRtsCi - Nikos Diamandis wrote:<br>
<i>&gt; </i><br>
<i>&gt; Why could my scanner which is a SE6000SP with it's own DTC3181e SCSI</i><br>
<i>&gt; interface card, scan like crazy going let's say 10mm forwards and then 5</i><br>
<i>&gt; backwards. Then again 10mm forwards and again 5mm backwards. After it goes</i><br>
<i>&gt; forwards it stops and waits for some time and then it goes backwards again.</i><br>
<i>&gt;         Why? Why doesn't this happen to anyone else!? Why am I the most annoying</i><br>
<i>&gt; person in the mailing list? Is it my fault?</i><br>
<i>&gt;         I told you I've applied the mustek-0.6. patch on a 2.0.36 kernel compiled sg</i><br>
<i>&gt; and g_NCR5380 and used the SCSI card with it's 2 jumpers in every possible</i><br>
<i>&gt; position. I've done everything! What is missing? Please someone! This is the</i><br>
<i>&gt; last email I'm sending to this mailing list, because everyone tells me go and</i><br>
<i>&gt; buy another SCSI card. I don't quit!!! I'm not surrendering at M$'s strategy.</i><br>
<i>&gt; --</i><br>
<i>&gt; Nikolas Diamandis</i><br>
<i>&gt; <a href="mailto:artsci@freemail.gr">mailto:artsci@freemail.gr</a></i><br>
<i>&gt; </i><br>
<p>
Hi,<br>
<p>
I am not quite sure if I can help you. I dont know the Mustek scanners.<br>
But I know the phenomenon from another scanner. The problem is that the<br>
data<br>
the scanner generates is not picked up fast enough by the application<br>
(or the<br>
SCSI-driver). To prevent a buffer overrun, the scanner stops until the<br>
data<br>
has been picked up. Then it has to continue the scan at the scanline<br>
where<br>
it stopped. To get sufficient scan speed, it moves a little bit backward<br>
and then restarts scanning in the correct direction.<br>
You may experience that the moving forward/backward is not so bad in<br>
lineart<br>
(b/w) mode (if it exists) because the amount of data to transmit is much<br>
less.<br>
Specifying an option like --speed Fastest will make it even more worse.<br>
I am quite sure you have tried the option --speed Slowest. But maybe<br>
this<br>
would be in fact faster.<br>
Unnecessary to mention that the outputfile should not be written over a<br>
slow<br>
network.<br>
<p>
--Peter <br>
<p>
<p>
<pre>
-- 
Peter Kirchgessner
WWW:    <a href="http://www.kirchgessner.net">http://www.kirchgessner.net</a>
e-mail: <a href="mailto:peter@kirchgessner.net">peter@kirchgessner.net</a>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0333.html">Andrew Leahy: "Epson ES-600C anyone?"</a>
<li> <b>Previous message:</b> <a href="0331.html">D C Haslam: "Short pnm files"</a>
<li> <b>Maybe in reply to:</b> <a href="0326.html">aRtsCi - Nikos Diamandis: "Forwards-Backwards"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
