<!-- received="Fri Apr  2 00:19:11 1999 PST" -->
<!-- sent="Fri, 02 Apr 1999 09:32:39 +0200" -->
<!-- name="Oliver Rauch" -->
<!-- email="oliver.rauch@Wolfsburg.DE" -->
<!-- subject="Re: sane 1.0, UMAX 610S and FreeBSD 3.1" -->
<!-- id="" -->
<!-- inreplyto="sane 1.0, UMAX 610S and FreeBSD 3.1" -->
<title>sane-devel: Re: sane 1.0, UMAX 610S and FreeBSD 3.1</title>
<h1>Re: sane 1.0, UMAX 610S and FreeBSD 3.1</h1>
<b>Oliver Rauch</b> (<a href="mailto:oliver.rauch@Wolfsburg.DE"><i>oliver.rauch@Wolfsburg.DE</i></a>)<br>
<i>Fri, 02 Apr 1999 09:32:39 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#10">[ date ]</a><a href="index.html#10">[ thread ]</a><a href="subject.html#10">[ subject ]</a><a href="author.html#10">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0011.html">Milon Firikis: "Re: code freeze"</a>
<li> <b>Previous message:</b> <a href="0009.html">Oliver Rauch: "Re: To Astra 6X0S users!"</a>
<li> <b>Maybe in reply to:</b> <a href="0006.html">Allan Strand: "sane 1.0, UMAX 610S and FreeBSD 3.1"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0012.html">Allan Strand: "Re: sane 1.0, UMAX 610S and FreeBSD 3.1"</a>
<li> <b>Reply:</b> <a href="0012.html">Allan Strand: "Re: sane 1.0, UMAX 610S and FreeBSD 3.1"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Allan Strand wrote:<br>
<p>
<i>&gt; Hi all,</i><br>
<i>&gt;</i><br>
<i>&gt; I'm having a couple of problems:</i><br>
<i>&gt;</i><br>
<i>&gt; 1) I've just installed sane 1.00 on a freebsd 3.1 box.  The compile went</i><br>
<i>&gt; fine.  I have a UMAX 610S scanner on an adaptec 2940.  The scanner</i><br>
<i>&gt; probes fine during bootup (appears as device pass3).  I set the</i><br>
<i>&gt; permissions on /dev/pass3 to 777.  Executing scanimage -L  as root</i><br>
<i>&gt; reveals three devices, the UMAX scanner and two pnm devices.</i><br>
<i>&gt; Executing the same command as a normal user only reports the two pnm</i><br>
<i>&gt; devices.  Apparently I have a permission problem, but I;m not sure</i><br>
<i>&gt; where.</i><br>
<p>
is /dev/pass3 a symlink?do ls -l /dev/pass3<br>
<p>
<p>
<p>
<i>&gt;</i><br>
<i>&gt;</i><br>
<i>&gt; 2) When running scanimage as root, I also have the following problem:</i><br>
<i>&gt; the scsi subsystem reports:</i><br>
<i>&gt;</i><br>
<i>&gt; cam_periph_mapmem: attempt to map 130050 bytes, which is greater than DFLTPHYS(65536)</i><br>
<i>&gt;</i><br>
<i>&gt; no scan is produced</i><br>
<i>&gt;</i><br>
<i>&gt; I realize that this second problem is probably OS specific, but I was</i><br>
<i>&gt; hoping  that someone might have a suggestion on how to remedy it.</i><br>
<i>&gt;</i><br>
<p>
There was a fix for this on the list some weeks ago,I hope someone else still knows how<br>
to fix this, I don`t remember!<br>
<p>
<i>&gt;</i><br>
<p>
ByeOliver<br>
<p>
<p>
<pre>
--
EMAIL: <a href="mailto:Oliver.Rauch@Wolfsburg.DE">Oliver.Rauch@Wolfsburg.DE</a>
WWW: <a href="http://www.wolfsburg.de/~rauch">http://www.wolfsburg.de/~rauch</a>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0011.html">Milon Firikis: "Re: code freeze"</a>
<li> <b>Previous message:</b> <a href="0009.html">Oliver Rauch: "Re: To Astra 6X0S users!"</a>
<li> <b>Maybe in reply to:</b> <a href="0006.html">Allan Strand: "sane 1.0, UMAX 610S and FreeBSD 3.1"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0012.html">Allan Strand: "Re: sane 1.0, UMAX 610S and FreeBSD 3.1"</a>
<li> <b>Reply:</b> <a href="0012.html">Allan Strand: "Re: sane 1.0, UMAX 610S and FreeBSD 3.1"</a>
<!-- reply="end" -->
</ul>
