<!-- received="Fri Apr  2 06:06:03 1999 PST" -->
<!-- sent="02 Apr 1999 09:04:49 -0500" -->
<!-- name="Allan Strand" -->
<!-- email="stranda@cofc.edu" -->
<!-- subject="Re: sane 1.0, UMAX 610S and FreeBSD 3.1" -->
<!-- id="" -->
<!-- inreplyto="Fri, 02 Apr 1999 09:32:39 +0200"" -->
<title>sane-devel: Re: sane 1.0, UMAX 610S and FreeBSD 3.1</title>
<h1>Re: sane 1.0, UMAX 610S and FreeBSD 3.1</h1>
<b>Allan Strand</b> (<a href="mailto:stranda@cofc.edu"><i>stranda@cofc.edu</i></a>)<br>
<i>02 Apr 1999 09:04:49 -0500</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#12">[ date ]</a><a href="index.html#12">[ thread ]</a><a href="subject.html#12">[ subject ]</a><a href="author.html#12">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0013.html">Luciano Olivo: "Re: Mustek SE12000SP, SuSE5.3 and out of memory."</a>
<li> <b>Previous message:</b> <a href="0011.html">Milon Firikis: "Re: code freeze"</a>
<li> <b>In reply to:</b> <a href="0010.html">Oliver Rauch: "Re: sane 1.0, UMAX 610S and FreeBSD 3.1"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0064.html">Oliver Rauch: "Re: sane 1.0, UMAX 610S and FreeBSD 3.1"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Oliver Rauch &lt;<a href="mailto:oliver.rauch@Wolfsburg.DE">oliver.rauch@Wolfsburg.DE</a>&gt; writes:<br>
<i>&gt; Allan Strand wrote:</i><br>
<i>&gt; </i><br>
<i>&gt; &gt; 1) I've just installed sane 1.00 on a freebsd 3.1 box.  The compile went</i><br>
<i>&gt; &gt; fine.  I have a UMAX 610S scanner on an adaptec 2940.  The scanner</i><br>
<i>&gt; &gt; probes fine during bootup (appears as device pass3).  I set the</i><br>
<i>&gt; &gt; permissions on /dev/pass3 to 777.  Executing scanimage -L  as root</i><br>
<i>&gt; &gt; reveals three devices, the UMAX scanner and two pnm devices.</i><br>
<i>&gt; &gt; Executing the same command as a normal user only reports the two pnm</i><br>
<i>&gt; &gt; devices.  Apparently I have a permission problem, but I;m not sure</i><br>
<i>&gt; &gt; where.</i><br>
<i>&gt; </i><br>
<i>&gt; is /dev/pass3 a symlink?do ls -l /dev/pass3</i><br>
<i>&gt; </i><br>
<p>
pass3 is the actual device.  If I symlink /dev/pass3 to /dev/scanner,<br>
and update the umax.conf file then I can't even get root to see the<br>
scanner.<br>
<p>
<p>
<i>&gt; &gt;</i><br>
<i>&gt; </i><br>
<i>&gt; There was a fix for this on the list some weeks ago,I hope someone else still knows how</i><br>
<i>&gt; to fix this, I don`t remember!</i><br>
<i>&gt; </i><br>
<p>
Thanks for the tip.<br>
<p>
A.<br>
<p>
<pre>
-- 
Allan E. Strand          <a href="mailto:stranda@cofc.edu">stranda@cofc.edu</a>,  <a href="http://linum.cofc.edu">http://linum.cofc.edu</a>
Department of Biology    Phone:      (843) 953-8085
College of Charleston    Fax:        (843) 953-5453
Charleston, SC 29424           
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0013.html">Luciano Olivo: "Re: Mustek SE12000SP, SuSE5.3 and out of memory."</a>
<li> <b>Previous message:</b> <a href="0011.html">Milon Firikis: "Re: code freeze"</a>
<li> <b>In reply to:</b> <a href="0010.html">Oliver Rauch: "Re: sane 1.0, UMAX 610S and FreeBSD 3.1"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0064.html">Oliver Rauch: "Re: sane 1.0, UMAX 610S and FreeBSD 3.1"</a>
<!-- reply="end" -->
</ul>
