<!-- received="Fri Apr  2 16:26:14 1999 PST" -->
<!-- sent="Sat, 3 Apr 1999 02:24:38 +0200 (CEST)" -->
<!-- name="Hugo van der Kooij" -->
<!-- email="hvdkooij@caiw.nl" -->
<!-- subject="Re: Sane drivers" -->
<!-- id="" -->
<!-- inreplyto="017CD638FB49D1118AC100805FAD982D38EB62@mail.microtek.nl" -->
<title>sane-devel: Re: Sane drivers</title>
<h1>Re: Sane drivers</h1>
<b>Hugo van der Kooij</b> (<a href="mailto:hvdkooij@caiw.nl"><i>hvdkooij@caiw.nl</i></a>)<br>
<i>Sat, 3 Apr 1999 02:24:38 +0200 (CEST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#34">[ date ]</a><a href="index.html#34">[ thread ]</a><a href="subject.html#34">[ subject ]</a><a href="author.html#34">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0035.html">Tripp Lilley: "Re: Sane drivers"</a>
<li> <b>Previous message:</b> <a href="0033.html">Dr. Andreas Bolsch: "Re: Mustek SE12000SP, SuSE5.3 and out of memory"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Mon, 15 Mar 1999, Bert Bakker wrote:<br>
<p>
<i>&gt; We have already sent out the SCSI command set to several people would</i><br>
<i>&gt; said that they would publish the resulting driver on the SANE website. </i><br>
<i>&gt; I would like to have just one contact for this Linux SANE project and</i><br>
<i>&gt; not just individual people who just write a driver for only one scanner.</i><br>
<i>&gt;  We do not publish our driver command set. We require a signed</i><br>
<i>&gt; non-disclosure agreement before we are allowed to pass on this</i><br>
<i>&gt; information.</i><br>
<p>
We don't sign non-disclosure papers. This is a open-source project. So in<br>
the end you loose as we now now that your scanners should be<br>
avoided as your company does not support open-source.<br>
<p>
I do fear you have a lot to learn yet about linux and open-source.<br>
<p>
Hugo.<br>
<p>
        +------------------------+------------------------------+<br>
<i>        | Hugo van der Kooij     | <a href="mailto:Hugo.van.der.Kooij@caiw.nl">Hugo.van.der.Kooij@caiw.nl</a>   |</i><br>
<i>        | Oranje Nassaustraat 16 | <a href="http://www.caiw.nl/~hvdkooij">http://www.caiw.nl/~hvdkooij</a> |</i><br>
<i>        | 3155 VJ  Maasland      | (De man met de rode hoed)    |</i><br>
        +------------------------+------------------------------+<br>
    "Computers let you make more mistakes faster than any other invention in<br>
      human history, with the possible exception of handguns and tequila."<br>
                (Mitch Radcliffe)<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0035.html">Tripp Lilley: "Re: Sane drivers"</a>
<li> <b>Previous message:</b> <a href="0033.html">Dr. Andreas Bolsch: "Re: Mustek SE12000SP, SuSE5.3 and out of memory"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
