<!-- received="Fri Apr  2 17:19:56 1999 PST" -->
<!-- sent="Fri, 2 Apr 1999 17:19:51 -0800" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="David.Mosberger@acm.org" -->
<!-- subject="Re: Internationalized Sane" -->
<!-- id="199904030119.RAA05874@panda.mostang.com" -->
<!-- inreplyto="99031714555500.12185@wh2-229" -->
<title>sane-devel: Re: Internationalized Sane</title>
<h1>Re: Internationalized Sane</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:David.Mosberger@acm.org"><i>David.Mosberger@acm.org</i></a>)<br>
<i>Fri, 2 Apr 1999 17:19:51 -0800</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#36">[ date ]</a><a href="index.html#36">[ thread ]</a><a href="subject.html#36">[ subject ]</a><a href="author.html#36">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0037.html">Henry Miller: "Re: Sane drivers"</a>
<li> <b>Previous message:</b> <a href="0035.html">Tripp Lilley: "Re: Sane drivers"</a>
<li> <b>In reply to:</b> <a href="0022.html">Andre Herms: "Internationalized Sane"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0218.html">Jiri Baum: "Re: Internationalized Sane"</a>
<li> <b>Reply:</b> <a href="0218.html">Jiri Baum: "Re: Internationalized Sane"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;&gt;&gt;&gt;&gt; On Wed, 17 Mar 1999 14:24:20 +0100, Andre Herms &lt;<a href="mailto:aherms@prinz-atm.CS.Uni-Magdeburg.De">aherms@prinz-atm.CS.Uni-Magdeburg.De</a>&gt; said:</i><br>
<p>
  Andre&gt; So I have some little problems:<br>
<p>
  Andre&gt; 1) How shall SANE_Language be changed.  - it could be done by<br>
  Andre&gt; the frontend - it could be a new param to SANE_Init ?  - it<br>
  Andre&gt; could be made an extra Option ( best compatible way for me)<br>
<p>
  Andre&gt; 2) Where shall the Strings be stored - it could be put in a<br>
  Andre&gt; header-file. but the more strings, the bigger the resulting<br>
  Andre&gt; file gets and it uses RAM.  - it could be stored to an extra<br>
  Andre&gt; text file. but than there must be some functions for<br>
  Andre&gt; reading. And where to store this file.<br>
<p>
  Andre&gt; I'd like to get some suggestions, whats the easiest way not<br>
  Andre&gt; to change all backends or the Sane-standard<br>
<p>
I think it would be best to put the language functionality in the<br>
frontend since the frontend needs to be internationalized at any rate.<br>
Also, suppose a user in Germany accesses a scanner in the US---would<br>
it be realistic to expect for the scanner to provide a German user<br>
interface?<br>
<p>
I think GNU gettext guides the way in how to do this: use the english<br>
strings (e.g., "brightness") as keywords into the database that<br>
contains the translation.<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0037.html">Henry Miller: "Re: Sane drivers"</a>
<li> <b>Previous message:</b> <a href="0035.html">Tripp Lilley: "Re: Sane drivers"</a>
<li> <b>In reply to:</b> <a href="0022.html">Andre Herms: "Internationalized Sane"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0218.html">Jiri Baum: "Re: Internationalized Sane"</a>
<li> <b>Reply:</b> <a href="0218.html">Jiri Baum: "Re: Internationalized Sane"</a>
<!-- reply="end" -->
</ul>
