<!-- received="Sun Apr  4 03:40:14 1999 PDT" -->
<!-- sent="Sun, 4 Apr 1999 11:27:47 +0100 (GMT)" -->
<!-- name="Tim Waugh" -->
<!-- email="tim@cyberelk.demon.co.uk" -->
<!-- subject="Re: Epson GT-5000 (parallel port)" -->
<!-- id="" -->
<!-- inreplyto="Pine.LNX.4.04.9904031806410.20459-100000@localhost" -->
<title>sane-devel: Re: Epson GT-5000 (parallel port)</title>
<h1>Re: Epson GT-5000 (parallel port)</h1>
<b>Tim Waugh</b> (<a href="mailto:tim@cyberelk.demon.co.uk"><i>tim@cyberelk.demon.co.uk</i></a>)<br>
<i>Sun, 4 Apr 1999 11:27:47 +0100 (GMT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#54">[ date ]</a><a href="index.html#54">[ thread ]</a><a href="subject.html#54">[ subject ]</a><a href="author.html#54">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0055.html">Tim Waugh: "Re: Epson GT-5000 (parallel port)"</a>
<li> <b>Previous message:</b> <a href="0053.html">Jonathan A. Buzzard: "Re: 16 bit per sample support"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Sat, 3 Apr 1999, David Taylor wrote:<br>
<p>
<i>&gt; I've tried using the sane-epson backend, but it simply hangs (needs a</i><br>
<i>&gt; kill -9 to stop it), catting from /dev/lp1 once turns off the 'Ready'</i><br>
<i>&gt; light, catting a second time results in an IO error.  catting to /dev/lp1</i><br>
<i>&gt; appears to work fine, except pressing Ctrl-D doesnt exit.. I'm not entirly</i><br>
<p>
If you are using /dev/lp1, I suspect that you are you using a 2.0 kernel.<br>
In that case, catting from /dev/lp1 will do nothing useful regardless of<br>
what is connected to the parallel port.<br>
<p>
In 2.2 you can cat /dev/lp0, but in this instance it probably still won't<br>
buy you much.  There is currently no general 'parallel port' device<br>
driver: lp is specifically for printers.<br>
<p>
Tim.<br>
*/<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0055.html">Tim Waugh: "Re: Epson GT-5000 (parallel port)"</a>
<li> <b>Previous message:</b> <a href="0053.html">Jonathan A. Buzzard: "Re: 16 bit per sample support"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
