<!-- received="Sun Apr  4 10:24:50 1999 PDT" -->
<!-- sent="Sun, 4 Apr 1999 18:16:28 +0200" -->
<!-- name="Petter Reinholdtsen" -->
<!-- email="pere@hungry.com" -->
<!-- subject="Small patches for SANE 1.01 pre4" -->
<!-- id="199904041616.SAA14156@minerva.cc.uit.no" -->
<!-- inreplyto="" -->
<title>sane-devel: Small patches for SANE 1.01 pre4</title>
<h1>Small patches for SANE 1.01 pre4</h1>
<b>Petter Reinholdtsen</b> (<a href="mailto:pere@hungry.com"><i>pere@hungry.com</i></a>)<br>
<i>Sun, 4 Apr 1999 18:16:28 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#60">[ date ]</a><a href="index.html#60">[ thread ]</a><a href="subject.html#60">[ subject ]</a><a href="author.html#60">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0061.html">Rick Knebel: "umax 1120s"</a>
<li> <b>Previous message:</b> <a href="0059.html">Matthias Gamisch: "Re: Sane drivers"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Here is a small patch relative to 1.01 pre4.<br>
<p>
diff -ru sane-pre1.01-4/ChangeLog sane-pre1.01-4-pere/ChangeLog<br>
--- sane-pre1.01-4/ChangeLog	Sun Apr  4 01:17:20 1999<br>
+++ sane-pre1.01-4-pere/ChangeLog	Sun Apr  4 18:10:00 1999<br>
@@ -1,3 +1,9 @@<br>
+1999-04-04  Petter Reinholdtsen &lt;<a href="mailto:pere@td.org.uit.no">pere@td.org.uit.no</a>&gt;<br>
+	* PROBLEMS:  Updated note on SG_BIG_BUF.<br>
+	* tools/README: Corrected typo.  Added some notes on<br>
+	mustek600iin-off.<br>
+	* tools/mustek600iin-off.c: Remove hardcoded path to mustek.conf.<br>
+<br>
 1999-04-03  David Mosberger-Tang  &lt;<a href="mailto:David.Mosberger@acm.org">David.Mosberger@acm.org</a>&gt;<br>
 <br>
 	* include/sane/sanei_debug.h: Define sanei_debug_BACKEND_NAME only<br>
diff -ru sane-pre1.01-4/PROBLEMS sane-pre1.01-4-pere/PROBLEMS<br>
--- sane-pre1.01-4/PROBLEMS	Fri Jul 24 07:01:45 1998<br>
+++ sane-pre1.01-4-pere/PROBLEMS	Sun Apr  4 17:36:23 1999<br>
@@ -46,6 +46,11 @@<br>
 	the Linux kernel uses a smaller value, scanning will fail with<br>
 	"out of memory" errors.  To fix this problem, increase SG_BIG_BUFF<br>
 	to the old value, rebuild the kernel, then reboot the machine<br>
+	Newer versions of SANE (&gt;1.01) tries to read the current<br>
+	SG_BIG_BUFF from /proc/sys/kernel/sg-big-buff which is<br>
+	available with newer linux kernels ( &gt; 2.2.0 ?).<br>
+	XXX not sure when this kernel feature was made<br>
+	XXX available. [pere 1999-04-04]<br>
 <br>
 - xscanimage/xcam crashes X server on Linux/Alpha<br>
 	Older versions of the TGA X server (such as version 3.1.2) are known<br>
diff -ru sane-pre1.01-4/tools/README sane-pre1.01-4-pere/tools/README<br>
--- sane-pre1.01-4/tools/README	Thu Nov 13 05:49:52 1997<br>
+++ sane-pre1.01-4-pere/tools/README	Sun Apr  4 17:59:10 1999<br>
@@ -5,7 +5,7 @@<br>
  find-scanner:<br>
 	Attempts to find a scanner attached to your system.<br>
 	Invoke with "find-scanner -h" to get command-line<br>
-	sytax.<br>
+	syntax.<br>
 <br>
  xerox:<br>
 	A simple script to make photocopies ("xeroxing").  In<br>
@@ -13,3 +13,6 @@<br>
 	assigned to variable DEV and the resolution assigned<br>
 	to variable RES as well as the paper with and height<br>
 	(variables WIDTH and HEIGHT, respectively.<br>
+<br>
+ mustek600iin-off:<br>
+	Allows you to turn off a Mustek 600 II N scanner.<br>
\ No newline at end of file<br>
diff -ru sane-pre1.01-4/tools/mustek600iin-off.c sane-pre1.01-4-pere/tools/mustek600iin-off.c<br>
--- sane-pre1.01-4/tools/mustek600iin-off.c	Wed Mar  3 07:15:38 1999<br>
+++ sane-pre1.01-4-pere/tools/mustek600iin-off.c	Sun Apr  4 17:52:23 1999<br>
@@ -25,10 +25,11 @@<br>
    <a href="mailto:andreas.czechanowski@ins.uni-stuttgart.de">andreas.czechanowski@ins.uni-stuttgart.de</a><br>
  */<br>
 <br>
-#define MUSTEK_CONF	"/usr/local/etc/sane.d/mustek.conf"<br>
-#define PORT_DEV	"/dev/port"<br>
-<br>
 #include &lt;sane/config.h&gt;<br>
+#include &lt;sane/sanei.h&gt;<br>
+<br>
+#define MUSTEK_CONF	STRINGIFY(PATH_SANE_CONFIG_DIR) "/mustek.conf"<br>
+#define PORT_DEV	"/dev/port"<br>
 <br>
 #include &lt;stdio.h&gt;<br>
 #include &lt;stdlib.h&gt;<br>
<pre>
-- 
##&gt;  Petter Reinholdtsen  &lt;##  |  <a href="mailto:pere@td.org.uit.no">pere@td.org.uit.no</a>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0061.html">Rick Knebel: "umax 1120s"</a>
<li> <b>Previous message:</b> <a href="0059.html">Matthias Gamisch: "Re: Sane drivers"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
