<!-- received="Sun Apr  4 19:08:21 1999 PDT" -->
<!-- sent="Sun, 04 Apr 1999 22:08:52 -0400" -->
<!-- name="dave" -->
<!-- email="diacobe@megsinet.net" -->
<!-- subject="mustek scanner" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: mustek scanner</title>
<h1>mustek scanner</h1>
<b>dave</b> (<a href="mailto:diacobe@megsinet.net"><i>diacobe@megsinet.net</i></a>)<br>
<i>Sun, 04 Apr 1999 22:08:52 -0400</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#69">[ date ]</a><a href="index.html#69">[ thread ]</a><a href="subject.html#69">[ subject ]</a><a href="author.html#69">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0070.html">Bryce McKinlay: "Re: mustek scanner"</a>
<li> <b>Previous message:</b> <a href="0068.html">Petter Reinholdtsen: "Re: Sane drivers"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0070.html">Bryce McKinlay: "Re: mustek scanner"</a>
<li> <b>Reply:</b> <a href="0070.html">Bryce McKinlay: "Re: mustek scanner"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
i have a mustek mfs6000cx scanner that i would like to get to work under<br>
sane.  sane documentation shows the mfs6000cx as being supported but i<br>
cannot even get the scanner recognized by my adaptec 1520 card at boot.<br>
i tried to get the supplied ncr58c400a card to work but decided it<br>
wasn't worth the effort.  mustek claims the mfs6000cx is a proprietary<br>
twain driven device and were actually quite nasty when they found i was<br>
running linux.  i scanned the list archive but didn't see any articles<br>
relating to my problem but since you say this scanner will work can<br>
somebody point me in the right direction?  the scaner is on during boot<br>
and i have tried a db25 connection with passive term. on the centronics<br>
50 and also the other way around,  i have left the mac connector alone.<br>
i have a scsi hard drive hooked to this card internally and have<br>
connected an old fujitsu scanner to the external port.  i had no trouble<br>
getting either device recognized at boot.  some letters mentioned using<br>
a ui? to get around the twain problem.  any and all assistance will be<br>
appreciated.  i am also aware of the limitations of this scanner not<br>
being rev 2 compliant but it was free and i need a scanner<br>
<p>
thanks<br>
dave<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0070.html">Bryce McKinlay: "Re: mustek scanner"</a>
<li> <b>Previous message:</b> <a href="0068.html">Petter Reinholdtsen: "Re: Sane drivers"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0070.html">Bryce McKinlay: "Re: mustek scanner"</a>
<li> <b>Reply:</b> <a href="0070.html">Bryce McKinlay: "Re: mustek scanner"</a>
<!-- reply="end" -->
</ul>
