<!-- received="Sun Apr  4 20:29:43 1999 PDT" -->
<!-- sent="Sun, 4 Apr 1999 22:28:15 -0500 (CDT)" -->
<!-- name="Henry Miller" -->
<!-- email="hank@black-hole.com" -->
<!-- subject="Re: Sane drivers" -->
<!-- id="" -->
<!-- inreplyto="199904042156.XAA08422@minerva.cc.uit.no" -->
<title>sane-devel: Re: Sane drivers</title>
<h1>Re: Sane drivers</h1>
<b>Henry Miller</b> (<a href="mailto:hank@black-hole.com"><i>hank@black-hole.com</i></a>)<br>
<i>Sun, 4 Apr 1999 22:28:15 -0500 (CDT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#71">[ date ]</a><a href="index.html#71">[ thread ]</a><a href="subject.html#71">[ subject ]</a><a href="author.html#71">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0072.html">De Clarke: "Microtek X6 EL working -- a little green, but working"</a>
<li> <b>Previous message:</b> <a href="0070.html">Bryce McKinlay: "Re: mustek scanner"</a>
<li> <b>In reply to:</b> <a href="0068.html">Petter Reinholdtsen: "Re: Sane drivers"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0074.html">Hugo van der Kooij: "Re: Sane drivers"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Sun, 4 Apr 1999, Petter Reinholdtsen wrote:<br>
<p>
<i>&gt; Why not collect .pdf and .ps files at some central site, where all</i><br>
<i>&gt; potential developers can get them.  Most technical documentation is</i><br>
<i>&gt; available electronically, so there is really no need for a person</i><br>
<i>&gt; shuffling paper.</i><br>
<i>&gt; </i><br>
<i>&gt; BTW: I don't think SANE developers should accept signing a NDA to</i><br>
<i>&gt; write drivers for scanners.  _ever_.  Vendors refusing to give out</i><br>
<i>&gt; technical specs without NDA should be convinced that this is a bad</i><br>
<i>&gt; idea, but we should not make drivers where the source is closed.</i><br>
<i>&gt; </i><br>
<p>
Please seperate idealism from the real world.  Microtek (I belive the<br>
company in question) appears to want technical documentation for their<br>
eyes only, but allows release of source derived from that documentation.<br>
If they want to operate that way, we have to deal with it.  (we can try to<br>
change them, which might work long term)<br>
<p>
If we can get documentation in form suitable for using to further Sane<br>
drivers, that is good.  Eventially we can bring them around to the right<br>
way, and even if we can't, we still can get people like me father away<br>
from windows, and more into an open source world.<br>
<p>
We cannot just put documentation on a web site, they won't allow us to.<br>
Putting it up against their will is a bad thing.  It gives open source a<br>
reputation as bad peopel, willing to do whatever it takes to further their<br>
ends, and anyone who wants to (incorrectly, but it is their choice)<br>
protect their information will not allow any open source use.  Worse they<br>
will let other manufactures know, and pretty soon nobody will release<br>
anything for fear that we will reveal too much!  Soon Sane and all other<br>
open source applications die because no hardware can be supported.<br>
<p>
Remember, not everyone agrees with your phillosphy.  No matter how wrong<br>
they are, you need to deal with people who disagree with you, and refusing<br>
to deal with those who are trying to meet in the middle (see the parrelle<br>
port scanner problems for the other option) because they aren't willing to<br>
come all the way to our terms isn't a compromise.<br>
<p>
Of course if you personally refuse to use scanners from companies that<br>
won't release full documentation for all their scanners (and<br>
otherhardware) that is your business.  Feel free to make whatever personal<br>
choices you want. Just remember that not everyone is as extreem as you,<br>
and try not to limit our options.  <br>
<p>
<pre>
--
      <a href="http://www.black-hole.com/users/henrymiller/">http://www.black-hole.com/users/henrymiller/</a> 
      <a href="mailto:hank@black-hole.com">hank@black-hole.com</a>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0072.html">De Clarke: "Microtek X6 EL working -- a little green, but working"</a>
<li> <b>Previous message:</b> <a href="0070.html">Bryce McKinlay: "Re: mustek scanner"</a>
<li> <b>In reply to:</b> <a href="0068.html">Petter Reinholdtsen: "Re: Sane drivers"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0074.html">Hugo van der Kooij: "Re: Sane drivers"</a>
<!-- reply="end" -->
</ul>
