<!-- received="Mon Apr  5 02:05:38 1999 PDT" -->
<!-- sent="Mon, 5 Apr 1999 11:05:48 +0200 (CEST)" -->
<!-- name="Georg Huettenegger" -->
<!-- email="georg@mondoshawan.unix.cslab.tuwien.ac.at" -->
<!-- subject="Re: mustek scanner" -->
<!-- id="" -->
<!-- inreplyto="37081B34.D4858261@megsinet.net" -->
<title>sane-devel: Re: mustek scanner</title>
<h1>Re: mustek scanner</h1>
<b>Georg Huettenegger</b> (<a href="mailto:georg@mondoshawan.unix.cslab.tuwien.ac.at"><i>georg@mondoshawan.unix.cslab.tuwien.ac.at</i></a>)<br>
<i>Mon, 5 Apr 1999 11:05:48 +0200 (CEST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#75">[ date ]</a><a href="index.html#75">[ thread ]</a><a href="subject.html#75">[ subject ]</a><a href="author.html#75">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0076.html">Jonathan A. Buzzard: "Re: Sane drivers"</a>
<li> <b>Previous message:</b> <a href="0074.html">Hugo van der Kooij: "Re: Sane drivers"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
dear dave,<br>
<p>
<i>&gt; i have a mustek mfs6000cx scanner that i would like to get to work under</i><br>
<i>&gt; sane.  sane documentation shows the mfs6000cx as being supported but i</i><br>
<i>&gt; cannot even get the scanner recognized by my adaptec 1520 card at boot.</i><br>
<i>&gt; i tried to get the supplied ncr58c400a card to work but decided it</i><br>
<i>&gt; wasn't worth the effort.  mustek claims the mfs6000cx is a proprietary</i><br>
<i>&gt; twain driven device and were actually quite nasty when they found i was</i><br>
<i>&gt; running linux.  i scanned the list archive but didn't see any articles</i><br>
<i>&gt; relating to my problem but since you say this scanner will work can</i><br>
<i>&gt; somebody point me in the right direction?  the scaner is on during boot</i><br>
<i>&gt; and i have tried a db25 connection with passive term. on the centronics</i><br>
<i>&gt; 50 and also the other way around,  i have left the mac connector alone.</i><br>
<i>&gt; i have a scsi hard drive hooked to this card internally and have</i><br>
<i>&gt; connected an old fujitsu scanner to the external port.  i had no trouble</i><br>
<i>&gt; getting either device recognized at boot.  some letters mentioned using</i><br>
<i>&gt; a ui? to get around the twain problem.  any and all assistance will be</i><br>
<i>&gt; appreciated.  i am also aware of the limitations of this scanner not</i><br>
<i>&gt; being rev 2 compliant but it was free and i need a scanner</i><br>
<p>
i am not sure about your model, but a friend of mine got himself a rather<br>
old mustek model himself a 1200xx (don't know exactly). the important<br>
point is: this scanner was not recognised by a normal scsi controller (the<br>
bios scan of the scsi controller did not detect the device). i gave the<br>
friend my dtc card that came with my mustek 600 ii cd (i use a ncr810) and<br>
with this card the windows drivers did work.<br>
i am not sure whether this device will work under linux anyways but a<br>
normal scsi controller will not even detect it (and sane will not be able<br>
to use it).<br>
<p>
cheers,<br>
 georg huettenegger<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0076.html">Jonathan A. Buzzard: "Re: Sane drivers"</a>
<li> <b>Previous message:</b> <a href="0074.html">Hugo van der Kooij: "Re: Sane drivers"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
