<!-- received="Mon Apr  5 02:37:08 1999 PDT" -->
<!-- sent="Mon, 05 Apr 1999 09:26:28 +0000" -->
<!-- name="Jonathan A. Buzzard" -->
<!-- email="jab@hex.prestel.co.uk" -->
<!-- subject="Re: Sane drivers" -->
<!-- id="m10U5eG-000149C@hex" -->
<!-- inreplyto="3707B6DD.F442BDF1@wolfsburg.de" -->
<title>sane-devel: Re: Sane drivers</title>
<h1>Re: Sane drivers</h1>
<b>Jonathan A. Buzzard</b> (<a href="mailto:jab@hex.prestel.co.uk"><i>jab@hex.prestel.co.uk</i></a>)<br>
<i>Mon, 05 Apr 1999 09:26:28 +0000</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#76">[ date ]</a><a href="index.html#76">[ thread ]</a><a href="subject.html#76">[ subject ]</a><a href="author.html#76">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0077.html">Jonathan A. Buzzard: "Re: 16 bit per sample support"</a>
<li> <b>Previous message:</b> <a href="0075.html">Georg Huettenegger: "Re: mustek scanner"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<a href="mailto:oliver.rauch@Wolfsburg.DE">oliver.rauch@Wolfsburg.DE</a> said:<br>
<i>&gt; While you speak about this:</i><br>
<i>&gt; I got contact to two persons at umax in the last weeks. The one does</i><br>
<i>&gt; support me with programming informations, the other one asked if it</i><br>
<i>&gt; would help if umax gives me a scanner for some days for tests.</i><br>
<i>&gt;</i><br>
<i>&gt; On the german UMAX website (www.umax.de) there is a link to the sane</i><br>
<i>&gt; page and my homepage now.</i><br>
<i>&gt;</i><br>
<i>&gt; The two people are really interested in supporting me to get a real</i><br>
<i>&gt; good free linux/unix driver.</i><br>
<p>
The real test will be if they can give us copies of the parallel port<br>
protocol. There is a large demand for drivers for any parallel port<br>
scanners, and the UMAX scanners are quite popular.<br>
<p>
Personally I have been wanting the parallel port protocol for my Astra 600P<br>
since August 1997.<br>
<p>
<p>
JAB.<br>
<p>
<p>
<pre>
-- 
Jonathan A. Buzzard                 Email: <a href="mailto:jab@hex.prestel.co.uk">jab@hex.prestel.co.uk</a>
Northumberland, United Kingdom.       Tel: +44(0)1661-832195
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0077.html">Jonathan A. Buzzard: "Re: 16 bit per sample support"</a>
<li> <b>Previous message:</b> <a href="0075.html">Georg Huettenegger: "Re: mustek scanner"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
