<!-- received="Tue Apr  6 07:55:39 1999 PDT" -->
<!-- sent="06 Apr 1999 10:55:40 -0400" -->
<!-- name="Allan Strand" -->
<!-- email="stranda@cofc.edu" -->
<!-- subject="configuring sane-1.00" -->
<!-- id="" -->
<!-- inreplyto="06 Apr 1999 08:23:49 -0400"" -->
<title>sane-devel: configuring sane-1.00</title>
<h1>configuring sane-1.00</h1>
<b>Allan Strand</b> (<a href="mailto:stranda@cofc.edu"><i>stranda@cofc.edu</i></a>)<br>
<i>06 Apr 1999 10:55:40 -0400</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#101">[ date ]</a><a href="index.html#101">[ thread ]</a><a href="subject.html#101">[ subject ]</a><a href="author.html#101">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0102.html">Oliver Rauch: "Re: 16 bit per sample support"</a>
<li> <b>Previous message:</b> <a href="0100.html">John Profic: "(no subject)"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0104.html">Oliver Rauch: "Re: configuring sane-1.00"</a>
<li> <b>Reply:</b> <a href="0104.html">Oliver Rauch: "Re: configuring sane-1.00"</a>
<li> <b>Reply:</b> <a href="0109.html">Oliver Rauch: "Re: configuring sane-1.00"</a>
<li> <b>Reply:</b> <a href="0118.html">Oliver Rauch: "Re: configuring sane-1.00"</a>
<li> <b>Reply:</b> <a href="0130.html">Petter Reinholdtsen: "Re: configuring sane-1.00"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi,<br>
<p>
I mentioned this problem in an earlier message.  I know that it seems<br>
to be a simple permissions problem, but I can't seem to solve it. I'm<br>
hoping that somebody on this list has some insight.<br>
<p>
OS=FreeBSD 3.1-Stable<br>
SCSI Card=Adaptec 2940 (no U, no W)<br>
Machine=P133<br>
Scanner=UMAX 610S<br>
<p>
I've installed sane 1.00.  I seems to work fine, except that I cannot<br>
get any user other than root to recognize the scanner I have<br>
on the SCSI bus.  The scanner is at /dev/pass3 (actual device).<br>
<p>
I made a group called "scanner" and set the pass3 device to this<br>
group.  I then set the permissions to group read write execute.<br>
Finally, I put the users I want to access the scanner in the "scanner" <br>
group.  Still, I see no scanner for any of these users.  Any ideas?<br>
<p>
Thanks,<br>
A.<br>
<pre>
-- 
Allan E. Strand          <a href="mailto:stranda@cofc.edu">stranda@cofc.edu</a>,  <a href="http://linum.cofc.edu">http://linum.cofc.edu</a>
Department of Biology    Phone:      (843) 953-8085
College of Charleston    Fax:        (843) 953-5453
Charleston, SC 29424           
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0102.html">Oliver Rauch: "Re: 16 bit per sample support"</a>
<li> <b>Previous message:</b> <a href="0100.html">John Profic: "(no subject)"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0104.html">Oliver Rauch: "Re: configuring sane-1.00"</a>
<li> <b>Reply:</b> <a href="0104.html">Oliver Rauch: "Re: configuring sane-1.00"</a>
<li> <b>Reply:</b> <a href="0109.html">Oliver Rauch: "Re: configuring sane-1.00"</a>
<li> <b>Reply:</b> <a href="0118.html">Oliver Rauch: "Re: configuring sane-1.00"</a>
<li> <b>Reply:</b> <a href="0130.html">Petter Reinholdtsen: "Re: configuring sane-1.00"</a>
<!-- reply="end" -->
</ul>
