<!-- received="Wed Apr  7 16:37:06 1999 PDT" -->
<!-- sent="Wed, 7 Apr 1999 16:37:51 -0700 (PDT)" -->
<!-- name="De Clarke" -->
<!-- email="de@ucolick.org" -->
<!-- subject="Re: Microtek X6 35mm adapter" -->
<!-- id="de-990407163750.AD716424@celeste.ucolick.org" -->
<!-- inreplyto="19990407231600.2792.qmail@aquila.muc.de" -->
<title>sane-devel: Re: Microtek X6 35mm adapter</title>
<h1>Re: Microtek X6 35mm adapter</h1>
<b>De Clarke</b> (<a href="mailto:de@ucolick.org"><i>de@ucolick.org</i></a>)<br>
<i>Wed, 7 Apr 1999 16:37:51 -0700 (PDT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#141">[ date ]</a><a href="index.html#141">[ thread ]</a><a href="subject.html#141">[ subject ]</a><a href="author.html#141">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0142.html">Graham Stoney: "Linking non-libtool libraries into a new backend?"</a>
<li> <b>Previous message:</b> <a href="0140.html">Bernd Schroeder: "Re: Microtek X6 35mm adapter"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0151.html">Bernd Schroeder: "Re: Microtek X6 35mm adapter"</a>
<li> <b>Reply:</b> <a href="0151.html">Bernd Schroeder: "Re: Microtek X6 35mm adapter"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Bernd, thanks for the (depressing) explanation about the<br>
lightlid.<br>
<p>
Have you succeeded in scanning 35mm film with the lightlid<br>
even though the internal scanner light does not go off?<br>
<p>
Alternately is there some control that can be sent to the<br>
scanner that turns off the main internal light?  (Hey, if<br>
necessary I will open it up and put a physical toggle switch <br>
in the dc power to the light -- warranties exist to be<br>
broken).<br>
<p>
de<br>
<p>
.............................................................................<br>
:De Clarke, Software Engineer                     UCO/Lick Observatory, UCSC:<br>
:Mail: <a href="mailto:de@ucolick.org">de@ucolick.org</a> | There are only two kinds of computer languages: the :<br>
:Web: www.ucolick.org | ones people hate, and the ones people don't use.--JO:<br>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0142.html">Graham Stoney: "Linking non-libtool libraries into a new backend?"</a>
<li> <b>Previous message:</b> <a href="0140.html">Bernd Schroeder: "Re: Microtek X6 35mm adapter"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0151.html">Bernd Schroeder: "Re: Microtek X6 35mm adapter"</a>
<li> <b>Reply:</b> <a href="0151.html">Bernd Schroeder: "Re: Microtek X6 35mm adapter"</a>
<!-- reply="end" -->
</ul>
