<!-- received="Thu Apr  8 15:24:39 1999 PDT" -->
<!-- sent="Thu, 8 Apr 1999 15:26:05 -0700 (PDT)" -->
<!-- name="De Clarke" -->
<!-- email="de@ucolick.org" -->
<!-- subject="Re: Microtek X6 35mm adapter" -->
<!-- id="de-990408152604.AE516424@celeste.ucolick.org" -->
<!-- inreplyto="19990408222355.2109.qmail@aquila.muc.de" -->
<title>sane-devel: Re: Microtek X6 35mm adapter</title>
<h1>Re: Microtek X6 35mm adapter</h1>
<b>De Clarke</b> (<a href="mailto:de@ucolick.org"><i>de@ucolick.org</i></a>)<br>
<i>Thu, 8 Apr 1999 15:26:05 -0700 (PDT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#153">[ date ]</a><a href="index.html#153">[ thread ]</a><a href="subject.html#153">[ subject ]</a><a href="author.html#153">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0154.html">Gaetano Paolone: "Re: Color images - Lines mismatched ?"</a>
<li> <b>Previous message:</b> <a href="0152.html">Andreas Dilger: "Re: Link from SANE pages to Windows clients"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0180.html">Bernd Schroeder: "Re: Microtek X6 35mm adapter"</a>
<li> <b>Reply:</b> <a href="0180.html">Bernd Schroeder: "Re: Microtek X6 35mm adapter"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
well, there's nothing like wire :-)  I will take my<br>
scanner apart this weekend and see what can be done.<br>
<p>
You would think that the act of plugging in the lightlid<br>
would turn off the main light.  Microtek gear seems well<br>
made physically, but the firmware leaves something to<br>
be desired...<br>
<p>
de<br>
<p>
.............................................................................<br>
:De Clarke, Software Engineer                     UCO/Lick Observatory, UCSC:<br>
:Mail: <a href="mailto:de@ucolick.org">de@ucolick.org</a> | There are only two kinds of computer languages: the :<br>
:Web: www.ucolick.org | ones people hate, and the ones people don't use.--JO:<br>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0154.html">Gaetano Paolone: "Re: Color images - Lines mismatched ?"</a>
<li> <b>Previous message:</b> <a href="0152.html">Andreas Dilger: "Re: Link from SANE pages to Windows clients"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0180.html">Bernd Schroeder: "Re: Microtek X6 35mm adapter"</a>
<li> <b>Reply:</b> <a href="0180.html">Bernd Schroeder: "Re: Microtek X6 35mm adapter"</a>
<!-- reply="end" -->
</ul>
