<!-- received="Thu Apr  8 15:53:48 1999 PDT" -->
<!-- sent="Thu, 08 Apr 1999 15:55:31 -0700 (PDT)" -->
<!-- name="Rich Klumpp" -->
<!-- email="rmk@aracnet.com" -->
<!-- subject="Re: New ScanMaker X6 EL patch for pre1.01-4" -->
<!-- id="199904082255.PAA22290@mail4.aracnet.com" -->
<!-- inreplyto="19990407222945.1832.qmail@aquila.muc.de" -->
<title>sane-devel: Re: New ScanMaker X6 EL patch for pre1.01-4</title>
<h1>Re: New ScanMaker X6 EL patch for pre1.01-4</h1>
<b>Rich Klumpp</b> (<a href="mailto:rmk@aracnet.com"><i>rmk@aracnet.com</i></a>)<br>
<i>Thu, 08 Apr 1999 15:55:31 -0700 (PDT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#155">[ date ]</a><a href="index.html#155">[ thread ]</a><a href="subject.html#155">[ subject ]</a><a href="author.html#155">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0156.html">Rich Klumpp: "Re: New ScanMaker X6 EL patch for pre1.01-4"</a>
<li> <b>Previous message:</b> <a href="0154.html">Gaetano Paolone: "Re: Color images - Lines mismatched ?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0156.html">Rich Klumpp: "Re: New ScanMaker X6 EL patch for pre1.01-4"</a>
<li> <b>Reply:</b> <a href="0156.html">Rich Klumpp: "Re: New ScanMaker X6 EL patch for pre1.01-4"</a>
<li> <b>Reply:</b> <a href="0157.html">Scott Wells: "RE: New ScanMaker X6 EL patch for pre1.01-4"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Tue, Apr 06, 1999 at 02:57:02PM -0500, Scott Wells wrote:<br>
<i>&gt;&gt; I tried the patch from the mailing list and I was still getting green tones</i><br>
<i>&gt;&gt; on my previews.  It turns out that my revision is 1.10 (I bought this</i><br>
<i>&gt;&gt; scanner almost exactly when it was released) and the patch only checked for</i><br>
<i>&gt;&gt; 1.30.  Here's a new patch, but a more general solution is probably needed:</i><br>
<p>
This has been my experience with the green. I just checked and I have revision 1.40. What must I do<br>
to get rid of the green with that revision? Simply edit the patch to state 1.40 where it currently states  <br>
1.30? I am as green as my scans when it comes to hacking patches and such so any help is welcome.<br>
<p>
Thanks,<br>
Rich Klumpp<br>
<a href="mailto:rmk@aracnet.com">rmk@aracnet.com</a><br>
<a href="mailto:moab@worldnet.att.net">moab@worldnet.att.net</a><br>
<p>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0156.html">Rich Klumpp: "Re: New ScanMaker X6 EL patch for pre1.01-4"</a>
<li> <b>Previous message:</b> <a href="0154.html">Gaetano Paolone: "Re: Color images - Lines mismatched ?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0156.html">Rich Klumpp: "Re: New ScanMaker X6 EL patch for pre1.01-4"</a>
<li> <b>Reply:</b> <a href="0156.html">Rich Klumpp: "Re: New ScanMaker X6 EL patch for pre1.01-4"</a>
<li> <b>Reply:</b> <a href="0157.html">Scott Wells: "RE: New ScanMaker X6 EL patch for pre1.01-4"</a>
<!-- reply="end" -->
</ul>
