<!-- received="Sun Apr 11 07:50:48 1999 PDT" -->
<!-- sent="Sun, 11 Apr 1999 16:56:17 +0200" -->
<!-- name="Laurent GRAWET" -->
<!-- email="laurent.grawet@europe.com" -->
<!-- subject="Re: Need help to compile Sane." -->
<!-- id="" -->
<!-- inreplyto="Need help to compile Sane." -->
<title>sane-devel: Re: Need help to compile Sane.</title>
<h1>Re: Need help to compile Sane.</h1>
<b>Laurent GRAWET</b> (<a href="mailto:laurent.grawet@europe.com"><i>laurent.grawet@europe.com</i></a>)<br>
<i>Sun, 11 Apr 1999 16:56:17 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#185">[ date ]</a><a href="index.html#185">[ thread ]</a><a href="subject.html#185">[ subject ]</a><a href="author.html#185">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0186.html">John Profic: "Re: HP ScanJet 4p+ncr53c400a+kernel2.2.5 work too slow"</a>
<li> <b>Previous message:</b> <a href="0184.html">Laurent GRAWET: "Re: Need help to compile Sane."</a>
<li> <b>Maybe in reply to:</b> <a href="0176.html">Laurent GRAWET: "Need help to compile Sane."</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Oliver Rauch wrote:<br>
<i>&gt; </i><br>
<i>&gt; Laurent GRAWET wrote:</i><br>
<i>&gt; </i><br>
<i>&gt; &gt; Hi,</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt; I'm trying to compile sane-pre1.01-4 with the patch</i><br>
<i>&gt; &gt; agfa-snapscan-1236-5.diff</i><br>
<i>&gt; &gt; (for agfa 1236) for a few days. When I launch configure, it says that it</i><br>
<i>&gt; &gt; can't</i><br>
<i>&gt; &gt; run GTK (but it find usr/bin/gtk-config !!!). I'm SURE that gtk is well</i><br>
<i>&gt; &gt; installed because I've got other applications which run with it.</i><br>
<i>&gt; &gt; I tryed to tell configure where GTK is installed (with the option line)</i><br>
<i>&gt; &gt; but I</i><br>
<i>&gt; &gt; can't get any results.</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt; I've installed :</i><br>
<i>&gt; &gt; GTK+ 1.0.6-3 (rpm version)</i><br>
<i>&gt; &gt; GTL+-devel 1.0.6-3 (rpm version)</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt; and I run the Kernel 2.2.5 with source codes in usr/src/linux.</i><br>
<i>&gt; &gt; I use a mandrake 5.3 distribution.</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt; Question : When I run Configure, does all the lines must be</i><br>
<i>&gt; &gt; terminated by yes ? Or it is normal (following the configuration of the</i><br>
<i>&gt; &gt; system) that some lines are set to no ?</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt; Is it possible that the test (for GTK) in Configure is a bad test ?</i><br>
<i>&gt; &gt; Can I disable this test ?</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt; When I try to compile with make, I get the following error report after</i><br>
<i>&gt; &gt; a few</i><br>
<i>&gt; &gt; seconds :</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt; gcc -c -DHAVE_CONFIG_H -I. -I. -I../include -I../include -D_GNU_SOURCE</i><br>
<i>&gt; &gt; -Dgtk_events_pending=gdk_events_pending</i><br>
<i>&gt; &gt; -DPATH_SANE_CONFIG_DIR=/usr/local/etc/sane.d</i><br>
<i>&gt; &gt; -DPATH_SANE_DATA_DIR=/usr/local/share -DV_MAJOR=1 -DV_MINOR=0 -g -O2</i><br>
<i>&gt; &gt; -Wall -fPIC -DPIC sanei_net.c</i><br>
<i>&gt; &gt; sanei_net.c: In function `w_option_value':</i><br>
<i>&gt; &gt; sanei_net.c:122: `EINVAL' undeclared (first use this function)</i><br>
<i>&gt; &gt; sanei_net.c:122: (Each undeclared identifier is reported only once</i><br>
<i>&gt; &gt; sanei_net.c:122: for each function it appears in.)</i><br>
<i>&gt; &gt; make[1]: *** [sanei_net.o] Error 1</i><br>
<i>&gt; &gt; make[1]: Leaving directory `/usr/src/sane-pre1.01/sanei'</i><br>
<i>&gt; &gt; make: *** [all-recursive] Error 1</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt; Can anybody help me ?</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; </i><br>
<i>&gt; This is not a gtk problem, EINVAL is an error invalid defined in errno.h</i><br>
<i>&gt; </i><br>
<i>&gt; Did you test the not pached version?</i><br>
<p>
Yes, I tryed the not patched version and also sane-1.00<br>
<i>&gt; </i><br>
<i>&gt; Bye</i><br>
<i>&gt; Oliver</i><br>
<i>&gt; </i><br>
<i>&gt; --</i><br>
<i>&gt; EMAIL: <a href="mailto:Oliver.Rauch@Wolfsburg.DE">Oliver.Rauch@Wolfsburg.DE</a></i><br>
<i>&gt; WWW: <a href="http://www.wolfsburg.de/~rauch">http://www.wolfsburg.de/~rauch</a></i><br>
<i>&gt; </i><br>
<i>&gt; --</i><br>
<i>&gt; Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a></i><br>
<i>&gt; To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a></i><br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0186.html">John Profic: "Re: HP ScanJet 4p+ncr53c400a+kernel2.2.5 work too slow"</a>
<li> <b>Previous message:</b> <a href="0184.html">Laurent GRAWET: "Re: Need help to compile Sane."</a>
<li> <b>Maybe in reply to:</b> <a href="0176.html">Laurent GRAWET: "Need help to compile Sane."</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
