<!-- received="Sun Apr 11 08:06:37 1999 PDT" -->
<!-- sent="Sun, 11 Apr 1999 19:06:26 +0400" -->
<!-- name="John Profic" -->
<!-- email="profic@ddd.kursknet.ru" -->
<!-- subject="Re: HP ScanJet 4p+ncr53c400a+kernel2.2.5 work too slow" -->
<!-- id="" -->
<!-- inreplyto="HP ScanJet 4p+ncr53c400a+kernel2.2.5 work too slow" -->
<title>sane-devel: Re: HP ScanJet 4p+ncr53c400a+kernel2.2.5 work too slow</title>
<h1>Re: HP ScanJet 4p+ncr53c400a+kernel2.2.5 work too slow</h1>
<b>John Profic</b> (<a href="mailto:profic@ddd.kursknet.ru"><i>profic@ddd.kursknet.ru</i></a>)<br>
<i>Sun, 11 Apr 1999 19:06:26 +0400</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#186">[ date ]</a><a href="index.html#186">[ thread ]</a><a href="subject.html#186">[ subject ]</a><a href="author.html#186">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0187.html">Oliver Rauch: "Re: Compile Error with sane 1.01 pre4"</a>
<li> <b>Previous message:</b> <a href="0185.html">Laurent GRAWET: "Re: Need help to compile Sane."</a>
<li> <b>Maybe in reply to:</b> <a href="0181.html">John Profic: "HP ScanJet 4p+ncr53c400a+kernel2.2.5 work too slow"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hugo van der Kooij wrote:<br>
<i>&gt; </i><br>
<i>&gt; On Sun, 11 Apr 1999, John Profic wrote:</i><br>
<i>&gt; </i><br>
<i>&gt; &gt; I use 53c400a add-on to g_NCR5380.o to detect my SCSI card. Also the kernel</i><br>
<i>&gt; &gt; recognize my scaner as "procesor".</i><br>
<i>&gt; &gt; But then i try to use it it work very slow for example then i run 'xscanimage</i><br>
<i>&gt; &gt; hp:/dev/scanner' he stops about 30 seconds and then only show his fronend.</i><br>
<i>&gt; &gt; Then i try to scan it too has this delay but then i look at</i><br>
<i>&gt; &gt; /proc/scsi/g_NCR5380/0 it shows that transfer is about 500(k)bps...</i><br>
<i>&gt; </i><br>
<i>&gt; Dump the NCR 53C400 card and get a NCR 53C810 card for example. It works</i><br>
<i>&gt; like a charm.</i><br>
 <br>
If I can do this and pay no money I would do it, but I live in Russia and our<br>
organisation (newspaper) cannot pay even 10$.<br>
I also think that it would be good if you say me how better to use this card<br>
with IRQ or with no IRQ and whatever try to solve me problem<br>
Thanks,<br>
John U. Profic<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0187.html">Oliver Rauch: "Re: Compile Error with sane 1.01 pre4"</a>
<li> <b>Previous message:</b> <a href="0185.html">Laurent GRAWET: "Re: Need help to compile Sane."</a>
<li> <b>Maybe in reply to:</b> <a href="0181.html">John Profic: "HP ScanJet 4p+ncr53c400a+kernel2.2.5 work too slow"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
