<!-- received="Sun Apr 11 13:52:41 1999 PDT" -->
<!-- sent="Sun, 11 Apr 1999 17:15:11 -0400 (EDT)" -->
<!-- name="Tripp Lilley" -->
<!-- email="tlilley@perspex.com" -->
<!-- subject="Re: May sane_init fail?" -->
<!-- id="" -->
<!-- inreplyto="199904112008.NAA04717@panda.mostang.com" -->
<title>sane-devel: Re: May sane_init fail?</title>
<h1>Re: May sane_init fail?</h1>
<b>Tripp Lilley</b> (<a href="mailto:tlilley@perspex.com"><i>tlilley@perspex.com</i></a>)<br>
<i>Sun, 11 Apr 1999 17:15:11 -0400 (EDT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#196">[ date ]</a><a href="index.html#196">[ thread ]</a><a href="subject.html#196">[ subject ]</a><a href="author.html#196">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0197.html">David Mosberger-Tang: "Re: May sane_init fail?"</a>
<li> <b>Previous message:</b> <a href="0195.html">David Mosberger-Tang: "Re: sane-pre1.01 problems with dc210"</a>
<li> <b>In reply to:</b> <a href="0191.html">David Mosberger-Tang: "Re: May sane_init fail?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0194.html">Petter Reinholdtsen: "Re: May sane_init fail?"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Sun, 11 Apr 1999, David Mosberger-Tang wrote:<br>
<p>
<i>&gt; Hmmh, this may well be a typo.  I'm quite sure our intention was that</i><br>
<i>&gt; a frontend does not have to check for the return value of sane_init()</i><br>
<i>&gt; (i.e., treat it as a void).  Note that none of the existing frontends</i><br>
<i>&gt; check the return status of sane_init().  I think we should correct</i><br>
<i>&gt; this in v2 of the SANE protocol.</i><br>
<p>
The as-yet unreleased Perl module (SANE.pm) invokes die() if it receives<br>
anything other than SANE_STATUS_GOOD on return from sane_init. But it's<br>
unrelease, so I wouldn't have expected you to know that :-)<br>
<p>
<pre>
--
   Tripp Lilley + Innovative Workflow Engineering, Inc. + (<a href="mailto:tripp@iweinc.com">tripp@iweinc.com</a>)
------------------------------------------------------------------------------
"Keep in mind that the 'story of shrunken heads' is history, not how-to, and
that it is considered very bad manners indeed to shrink another person's head,
so don't try this at home... Shrink only apples, please."
<p>
 - Brian Carusella in <a href="http://www.freeweb.pdq.net/headstrong/shrunken.htm">http://www.freeweb.pdq.net/headstrong/shrunken.htm</a>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0197.html">David Mosberger-Tang: "Re: May sane_init fail?"</a>
<li> <b>Previous message:</b> <a href="0195.html">David Mosberger-Tang: "Re: sane-pre1.01 problems with dc210"</a>
<li> <b>In reply to:</b> <a href="0191.html">David Mosberger-Tang: "Re: May sane_init fail?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0194.html">Petter Reinholdtsen: "Re: May sane_init fail?"</a>
<!-- reply="end" -->
</ul>
