<!-- received="Sun Apr 11 23:07:31 1999 PDT" -->
<!-- sent="Sun, 11 Apr 1999 22:37:41 +0000" -->
<!-- name="Tony Butka" -->
<!-- email="butka@ibm.net" -->
<!-- subject="Epson Expression 636" -->
<!-- id="199904120557.FAA91448@out5.ibm.net" -->
<!-- inreplyto="" -->
<title>sane-devel: Epson Expression 636</title>
<h1>Epson Expression 636</h1>
<b>Tony Butka</b> (<a href="mailto:butka@ibm.net"><i>butka@ibm.net</i></a>)<br>
<i>Sun, 11 Apr 1999 22:37:41 +0000</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#201">[ date ]</a><a href="index.html#201">[ thread ]</a><a href="subject.html#201">[ subject ]</a><a href="author.html#201">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0202.html">De Clarke: "Re: Microtek X6 35mm adapter"</a>
<li> <b>Previous message:</b> <a href="0200.html">Graham Stoney: "Re: May sane_init fail?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi all -<br>
<p>
Just a note of success with using PMSANE 0.5 with an Epson Expression 636 (aka <br>
GT-9500).  Works like a charm, although it doesn't like the default 'very light' <br>
enhancement setting much.  Operating System is OS/2 Warp 4, Fixpak 10.<br>
<p>
Kudos to all for a very cool product -- I'm doing a 'mini-review' for our computer club as <br>
a part of my monthly column on printing &amp; scanning under OS/2.  It should be up on our <br>
web site within a few weeks (http;//www.scoug.com).<br>
<p>
Thanks,<br>
<p>
Tony Butka<br>
<p>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0202.html">De Clarke: "Re: Microtek X6 35mm adapter"</a>
<li> <b>Previous message:</b> <a href="0200.html">Graham Stoney: "Re: May sane_init fail?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
