<!-- received="Mon Apr 12 11:33:10 1999 PDT" -->
<!-- sent="Mon, 12 Apr 1999 19:37:11 +0100" -->
<!-- name="Dr. Andreas Bolsch" -->
<!-- email="Andreas.Bolsch@maths.nott.ac.uk" -->
<!-- subject="Re: Which libraries are needed to compile ?" -->
<!-- id="" -->
<!-- inreplyto="Which libraries are needed to compile ?" -->
<title>sane-devel: Re: Which libraries are needed to compile ?</title>
<h1>Re: Which libraries are needed to compile ?</h1>
<b>Dr. Andreas Bolsch</b> (<a href="mailto:Andreas.Bolsch@maths.nott.ac.uk"><i>Andreas.Bolsch@maths.nott.ac.uk</i></a>)<br>
<i>Mon, 12 Apr 1999 19:37:11 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#210">[ date ]</a><a href="index.html#210">[ thread ]</a><a href="subject.html#210">[ subject ]</a><a href="author.html#210">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0211.html">Rod Pike: "RE: Help? Undefined Reference g_debug compiling xscanimage"</a>
<li> <b>Previous message:</b> <a href="0209.html">Laurent GRAWET: "Re: Which libraries are needed to compile ?"</a>
<li> <b>Maybe in reply to:</b> <a href="0207.html">Laurent GRAWET: "Which libraries are needed to compile ?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0215.html">Laurent GRAWET: "Re: Which libraries are needed to compile ?"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
What do you mean by 'errors in config.log' ??? If there are just<br>
some searches answered with 'no': That's (usually) not an error.<br>
Just the opposite. Configure's duty is precisely to take care of<br>
these platform dependencies and to supply a workaround.<br>
<p>
If 'make' exits sucessfully then there is probably nothing missing.<br>
scanimage depends only on standard stuff, so if compiles but <br>
doesn't work then you've got a problem with the SCSI interface/driver<br>
or the scanner/backend, but not with any missing library.<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0211.html">Rod Pike: "RE: Help? Undefined Reference g_debug compiling xscanimage"</a>
<li> <b>Previous message:</b> <a href="0209.html">Laurent GRAWET: "Re: Which libraries are needed to compile ?"</a>
<li> <b>Maybe in reply to:</b> <a href="0207.html">Laurent GRAWET: "Which libraries are needed to compile ?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0215.html">Laurent GRAWET: "Re: Which libraries are needed to compile ?"</a>
<!-- reply="end" -->
</ul>
