<!-- received="Fri Apr 16 16:25:08 1999 PDT" -->
<!-- sent="Fri, 16 Apr 1999 16:25:06 -0700" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="David.Mosberger@acm.org" -->
<!-- subject="Re: Silly question?" -->
<!-- id="199904162325.QAA25791@panda.mostang.com" -->
<!-- inreplyto="Pine.LNX.4.10.9904170047500.12262-100000@bastion.nl3155vj16.vanderkooij.org" -->
<title>sane-devel: Re: Silly question?</title>
<h1>Re: Silly question?</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:David.Mosberger@acm.org"><i>David.Mosberger@acm.org</i></a>)<br>
<i>Fri, 16 Apr 1999 16:25:06 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#235">[ date ]</a><a href="index.html#235">[ thread ]</a><a href="subject.html#235">[ subject ]</a><a href="author.html#235">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0236.html">Petter Reinholdtsen: "Re: Silly question?"</a>
<li> <b>Previous message:</b> <a href="0234.html">Hugo van der Kooij: "Silly question?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;&gt;&gt;&gt;&gt; On Sat, 17 Apr 1999 00:51:42 +0200 (CEST), Hugo van der Kooij &lt;<a href="mailto:hvdkooij@caiw.nl">hvdkooij@caiw.nl</a>&gt; said:</i><br>
<p>
  Hugo&gt; Hi, It seems rather silly but I keep overlooking the way to<br>
  Hugo&gt; make a specific scanner on the network permanently available.<br>
<p>
  Hugo&gt; I can use it with: xscanimage net:host:hp:/dev/scanner<br>
<p>
  Hugo&gt; But it would be nice if it were selectable from a short<br>
  Hugo&gt; list. I know that should work but after puzzling through the<br>
  Hugo&gt; manual pages I seem to be overlooking the answer. (it's<br>
  Hugo&gt; propably right in front of my face but I failed to find<br>
  Hugo&gt; it. ;-)<br>
<p>
This should happen automatically if /dev/scanner is detected<br>
automatically on the host system _and_ the net backend in listed in<br>
dll.conf.<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0236.html">Petter Reinholdtsen: "Re: Silly question?"</a>
<li> <b>Previous message:</b> <a href="0234.html">Hugo van der Kooij: "Silly question?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
