<!-- received="Sat Apr 17 08:14:45 1999 PDT" -->
<!-- sent="Sat, 17 Apr 1999 08:14:34 -0700" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="David.Mosberger@acm.org" -->
<!-- subject="Re: Silly question?" -->
<!-- id="199904171514.IAA31131@panda.mostang.com" -->
<!-- inreplyto="Pine.LNX.4.10.9904171452250.15766-100000@bastion.nl3155vj16.vanderkooij.org" -->
<title>sane-devel: Re: Silly question?</title>
<h1>Re: Silly question?</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:David.Mosberger@acm.org"><i>David.Mosberger@acm.org</i></a>)<br>
<i>Sat, 17 Apr 1999 08:14:34 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#238">[ date ]</a><a href="index.html#238">[ thread ]</a><a href="subject.html#238">[ subject ]</a><a href="author.html#238">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0239.html">Nestech: "Guillemot MaxiScan A4 //"</a>
<li> <b>Previous message:</b> <a href="0237.html">Hugo van der Kooij: "Re: Silly question?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0240.html">Hugo van der Kooij: "Re: Silly question?"</a>
<li> <b>Reply:</b> <a href="0240.html">Hugo van der Kooij: "Re: Silly question?"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;&gt;&gt;&gt;&gt; On Sat, 17 Apr 1999 14:56:14 +0200 (CEST), Hugo van der Kooij &lt;<a href="mailto:hvdkooij@caiw.nl">hvdkooij@caiw.nl</a>&gt; said:</i><br>
<p>
  Hugo&gt; But as it seems now xscanimage does not recognize the scanner<br>
  Hugo&gt; on the host itself as well.<br>
<p>
  Hugo&gt; I guess I need tt figure out why my host doesn't do things<br>
  Hugo&gt; automagically anymore.<br>
<p>
I'd recommend to set SANE_DEBUG_DLL to 128 and do the same with the<br>
debug environment variable for your backend.  E.g., if you're using<br>
the HP backend, set SANE_DEBUG_HP to 128.  Then run "scanimage -L" on<br>
the host that has the scanner attached.  This should get you a long<br>
ways towards figuring out what's going on.<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0239.html">Nestech: "Guillemot MaxiScan A4 //"</a>
<li> <b>Previous message:</b> <a href="0237.html">Hugo van der Kooij: "Re: Silly question?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0240.html">Hugo van der Kooij: "Re: Silly question?"</a>
<li> <b>Reply:</b> <a href="0240.html">Hugo van der Kooij: "Re: Silly question?"</a>
<!-- reply="end" -->
</ul>
