<!-- received="Mon Apr 19 21:26:42 1999 PDT" -->
<!-- sent="Mon, 19 Apr 1999 21:26:39 -0700" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="David.Mosberger@acm.org" -->
<!-- subject="Re: latest beta finally available!" -->
<!-- id="199904200426.VAA18830@panda.mostang.com" -->
<!-- inreplyto="371B9B38.46A86FF7@wolfsburg.de" -->
<title>sane-devel: Re: latest beta finally available!</title>
<h1>Re: latest beta finally available!</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:David.Mosberger@acm.org"><i>David.Mosberger@acm.org</i></a>)<br>
<i>Mon, 19 Apr 1999 21:26:39 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#263">[ date ]</a><a href="index.html#263">[ thread ]</a><a href="subject.html#263">[ subject ]</a><a href="author.html#263">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0264.html">David Mosberger-Tang: "Re: Silly question?"</a>
<li> <b>Previous message:</b> <a href="0262.html">Irvin Probst: "RE: at3 + ava 1505 again..."</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0276.html">Ingo Wilken: "Mirrors (Re: latest beta finally available!)"</a>
<li> <b>Reply:</b> <a href="0276.html">Ingo Wilken: "Mirrors (Re: latest beta finally available!)"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;&gt;&gt;&gt;&gt; On Mon, 19 Apr 1999 23:08:08 +0200, Oliver Rauch &lt;<a href="mailto:oliver.rauch@Wolfsburg.DE">oliver.rauch@Wolfsburg.DE</a>&gt; said:</i><br>
<p>
  Oliver&gt; David Mosberger-Tang wrote:<br>
<i>  &gt;&gt; OK, I'm finally able to update the SANE ftp site again.  The</i><br>
<i>  &gt;&gt; latest beta is now at:</i><br>
<i>  &gt;&gt; </i><br>
<i>  &gt;&gt; <a href="ftp://ftp.mostang.com/pub/sane/beta/">ftp://ftp.mostang.com/pub/sane/beta/</a></i><br>
<p>
  Oliver&gt; Hi David,<br>
<p>
  Oliver&gt; I do not get contact to the ftp server since some days.<br>
  Oliver&gt; What is up with the server?<br>
<p>
Bummer.  I don't know.  It's out of my control.  Let's hope it will<br>
get back up quickly for you.<br>
<p>
  Oliver&gt; Shall we see if we find an other server for sane?<br>
<p>
Having ftp mirrors would be good indeed.  I like the scheme being used<br>
by kernel.org where you simply ftp to "ftp.CC.kernel.org" where "CC"<br>
is the two-character country code.  Since I own mostang.com, I can set<br>
this up easily.  All we need is a couple of places that are willing to<br>
mirror ftp.mostang.com on a daily basis.  Anyone?<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0264.html">David Mosberger-Tang: "Re: Silly question?"</a>
<li> <b>Previous message:</b> <a href="0262.html">Irvin Probst: "RE: at3 + ava 1505 again..."</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0276.html">Ingo Wilken: "Mirrors (Re: latest beta finally available!)"</a>
<li> <b>Reply:</b> <a href="0276.html">Ingo Wilken: "Mirrors (Re: latest beta finally available!)"</a>
<!-- reply="end" -->
</ul>
