<!-- received="Tue Apr 20 20:38:10 1999 PDT" -->
<!-- sent="Tue, 20 Apr 1999 20:31:59 -0700" -->
<!-- name="Brian Macy" -->
<!-- email="bmacy@sunshinecomputing.com" -->
<!-- subject="[Announce] WinSANE 0.0.1.0 Release" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: [Announce] WinSANE 0.0.1.0 Release</title>
<h1>[Announce] WinSANE 0.0.1.0 Release</h1>
<b>Brian Macy</b> (<a href="mailto:bmacy@sunshinecomputing.com"><i>bmacy@sunshinecomputing.com</i></a>)<br>
<i>Tue, 20 Apr 1999 20:31:59 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#278">[ date ]</a><a href="index.html#278">[ thread ]</a><a href="subject.html#278">[ subject ]</a><a href="author.html#278">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0279.html">David Mosberger-Tang: "Re: Sane 1.01pre5 segfaults in RedHat 5.1 (net)"</a>
<li> <b>Previous message:</b> <a href="0277.html">Warren Early: "Re: SCANPORT Support planned ??"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
This is nothing I'm going to get a big ego over but you can grab it at<br>
<a href="http://www.sunshinecomputing.com/winsane/">http://www.sunshinecomputing.com/winsane/</a> . I attempted to come up with an<br>
application license that gets what I want... take a look, constructive<br>
critcism welcome.<br>
<p>
The code requires:<br>
- Borland C++ 5.x (probably works fine with other Win32 compilers, but the<br>
YSLs will need some minor porting... shoot with a little effort it will<br>
probably work with the latest EGCS compiler out of CVS under Linux)<br>
- YSLs (<a href="http://www.ysl.org">http://www.ysl.org</a> and actually needs a release that will hopefully<br>
be made soon)<br>
- wxWindows (need code straight out of CVS... web address is listed at the<br>
winsane webpage)<br>
<p>
Brian Macy<br>
<p>
------------------------------------------------------------------------<br>
<p>
0.0.1.0<br>
winsane-0.0.1.0.zip<br>
winsane.src-0.0.1.0.zip<br>
April 20 1999<br>
<p>
Pre-lim Code Release (License).<br>
Not much here, but works.<br>
Requires latest wxWindow CVS code<br>
Requires latest YSL code (to be released soon)<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0279.html">David Mosberger-Tang: "Re: Sane 1.01pre5 segfaults in RedHat 5.1 (net)"</a>
<li> <b>Previous message:</b> <a href="0277.html">Warren Early: "Re: SCANPORT Support planned ??"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
