<!-- received="Tue Apr 20 21:37:58 1999 PDT" -->
<!-- sent="Tue, 20 Apr 1999 15:22:18 -0500" -->
<!-- name="Smileyq" -->
<!-- email="smileyq0@mindspring.com" -->
<!-- subject="Artec AC6000Plus" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Artec AC6000Plus</title>
<h1>Artec AC6000Plus</h1>
<b>Smileyq</b> (<a href="mailto:smileyq0@mindspring.com"><i>smileyq0@mindspring.com</i></a>)<br>
<i>Tue, 20 Apr 1999 15:22:18 -0500</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#282">[ date ]</a><a href="index.html#282">[ thread ]</a><a href="subject.html#282">[ subject ]</a><a href="author.html#282">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0283.html">Tom Reinertson: "2 Channel SCSI Card"</a>
<li> <b>Previous message:</b> <a href="0281.html">David Mosberger-Tang: "Re: Sane 1.01pre5 segfaults in RedHat 5.1 (net)"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
    I would like to be told when the version of Sane is ready for the<br>
Artec Scanners thanks for the job you do there.<br>
Sincerely,<br>
Smileyq<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0283.html">Tom Reinertson: "2 Channel SCSI Card"</a>
<li> <b>Previous message:</b> <a href="0281.html">David Mosberger-Tang: "Re: Sane 1.01pre5 segfaults in RedHat 5.1 (net)"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
