<!-- received="Wed Apr 21 11:49:06 1999 PDT" -->
<!-- sent="Wed, 21 Apr 1999 15:09:53 -0400 (EDT)" -->
<!-- name="Tripp Lilley" -->
<!-- email="tlilley@perspex.com" -->
<!-- subject="Re: PNM backend (was Segfaults in 1.01-pre ...)" -->
<!-- id="" -->
<!-- inreplyto="Pine.LNX.3.96.990421192258.4407A-100000@chef.ecs.soton.ac.uk" -->
<title>sane-devel: Re: PNM backend (was Segfaults in 1.01-pre ...)</title>
<h1>Re: PNM backend (was Segfaults in 1.01-pre ...)</h1>
<b>Tripp Lilley</b> (<a href="mailto:tlilley@perspex.com"><i>tlilley@perspex.com</i></a>)<br>
<i>Wed, 21 Apr 1999 15:09:53 -0400 (EDT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#288">[ date ]</a><a href="index.html#288">[ thread ]</a><a href="subject.html#288">[ subject ]</a><a href="author.html#288">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0289.html">Gregory Brennan: "Re: PNM backend (was Segfaults in 1.01-pre ...)"</a>
<li> <b>Previous message:</b> <a href="0287.html">Nick Lamb: "Re: PNM backend (was Segfaults in 1.01-pre ...)"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Wed, 21 Apr 1999, Nick Lamb wrote:<br>
<p>
<i>&gt; Actually for my purposes the PNM backend isn't very useful anyway. I'm still</i><br>
<i>&gt; working on a replacement test backend with behaviour which more closely</i><br>
<i>&gt; resembles a real scanner. This should let people fiddle about with front-end</i><br>
<i>&gt; code without needing a real scanner to hand, which the PNM backend is barely</i><br>
<i>&gt; suitable for even when it works.</i><br>
<p>
We should probably sync up, then. Work got in the way, but I have been<br>
working on a thoroughly revised PNM backend that serves as (a) a skeleton<br>
backend for fledgling backen writers and (b) a thorough exerciser of<br>
frontends in the style you mention.<br>
<p>
I started rewriting it when I contacted Andreas Beck about the bugs in the<br>
1.00 version. I was (am) writing a Perl module SANE frontend, and needed<br>
soemthing more robust than my UMAX scanner to exercise the frontend.<br>
<p>
It would make sense for use to put our brains together and share what<br>
progress we've made... I'm sending this to the list because there may be<br>
others, as well, who've made changes to the PNM backend or others that are<br>
relevant to this thread.<br>
<p>
(BTW: re the "sidetracked by work" issue -- not a problem after May 1st. <br>
I've resigned my current position, and my new position, by design, gives<br>
me much more "sanctioned" time to work on SANE and other Open Source<br>
projects).<br>
<p>
<pre>
--
   Tripp Lilley + Innovative Workflow Engineering, Inc. + (<a href="mailto:tripp@iweinc.com">tripp@iweinc.com</a>)
------------------------------------------------------------------------------
  "It all comes from health and good nutrition, and not just from
   giving them a nice bath before the show."
<p>
 - Mary Papadopoulos, on horses showing well
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0289.html">Gregory Brennan: "Re: PNM backend (was Segfaults in 1.01-pre ...)"</a>
<li> <b>Previous message:</b> <a href="0287.html">Nick Lamb: "Re: PNM backend (was Segfaults in 1.01-pre ...)"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
