<!-- received="Sat Apr 24 08:28:35 1999 PDT" -->
<!-- sent="Sat, 24 Apr 1999 15:32:01 +0000" -->
<!-- name="Luca Del Signore" -->
<!-- email="lucadels@tin.it" -->
<!-- subject="Re: HEEEELP!!!!!!!!!!!" -->
<!-- id="" -->
<!-- inreplyto="HEEEELP!!!!!!!!!!!" -->
<title>sane-devel: Re: HEEEELP!!!!!!!!!!!</title>
<h1>Re: HEEEELP!!!!!!!!!!!</h1>
<b>Luca Del Signore</b> (<a href="mailto:lucadels@tin.it"><i>lucadels@tin.it</i></a>)<br>
<i>Sat, 24 Apr 1999 15:32:01 +0000</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#340">[ date ]</a><a href="index.html#340">[ thread ]</a><a href="subject.html#340">[ subject ]</a><a href="author.html#340">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0341.html">Luca Del Signore: "HEEEELP!!!!!!!!!!!"</a>
<li> <b>Previous message:</b> <a href="0339.html">Dr. Andreas Bolsch: "Re: HEEEELP!!!!!!!!!!!"</a>
<li> <b>Maybe in reply to:</b> <a href="0338.html">Luca Del Signore: "HEEEELP!!!!!!!!!!!"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0342.html">Dr. Andreas Bolsch: "Re: HEEEELP!!!!!!!!!!!"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
"Dr. Andreas Bolsch" wrote:<br>
<i>&gt; </i><br>
<i>&gt; Would be useful to describe your problem precisely instead of</i><br>
<i>&gt; sending useless blabla.</i><br>
<i>&gt; </i><br>
Well if you take a look of my entire mail its FULLY explained!<br>
Anyway, i think it would be useful to repeat myself:<br>
I have an artec scanner at3 with an ava 1505. My linux partition is a<br>
5.3 mandrake with kde 1.1 and kernel 2.2.5 recompiled with the<br>
appropriate low-level driver.<br>
It all works fine and it does recognize my scsi adapter perfectly (i<br>
include my dmesg again)<br>
But when i try to run scanimage or xscanimage, my artec begins<br>
calibrating but then , instead of beginning the scan, everything freezes<br>
and i have to reboot.<br>
I would like to point out that i have tried everything i can<br>
(considering i am using linux from <br>
just three months and had no experience before except the f..ing<br>
win98...), including creating a link /dev/sga /dev/scanner . I am<br>
currently using SANE 1.01 (unsuccessfully) after having tried (equally<br>
unsuccessfully) SANE 1.00-3 the result is always the same: my pc freezes<br>
after the scanner calibration stage.<br>
I was about to give up whe i saw that, on the SANE web site, that two<br>
authors use successfully the same scanner (artec at3) with linux. <br>
I have tried to send a mail to them AND I DIDNT GET ANY HELP (sorry to<br>
repeat myself again).<br>
That's all. I hope you can help and would like to ask you to forgive me<br>
for my terrible english<br>
<p>
Luca Del Signore<br>
Viale Manlio gelsomini, 26<br>
Rome Italy 00153<br>
work phone: +393393541194<br>
<a href="mailto:lucadels@tin.it">lucadels@tin.it</a> <br>
<i>&gt; --</i><br>
<i>&gt; Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a></i><br>
<i>&gt; To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a></i><br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0341.html">Luca Del Signore: "HEEEELP!!!!!!!!!!!"</a>
<li> <b>Previous message:</b> <a href="0339.html">Dr. Andreas Bolsch: "Re: HEEEELP!!!!!!!!!!!"</a>
<li> <b>Maybe in reply to:</b> <a href="0338.html">Luca Del Signore: "HEEEELP!!!!!!!!!!!"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0342.html">Dr. Andreas Bolsch: "Re: HEEEELP!!!!!!!!!!!"</a>
<!-- reply="end" -->
</ul>
