<!-- received="Sat Apr 24 08:43:34 1999 PDT" -->
<!-- sent="Sat, 24 Apr 1999 08:45:49 -0600" -->
<!-- name="Bob van der Poel" -->
<!-- email="bvdpoel@kootenay.com" -->
<!-- subject="lineart vrs greyscale" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: lineart vrs greyscale</title>
<h1>lineart vrs greyscale</h1>
<b>Bob van der Poel</b> (<a href="mailto:bvdpoel@kootenay.com"><i>bvdpoel@kootenay.com</i></a>)<br>
<i>Sat, 24 Apr 1999 08:45:49 -0600</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#343">[ date ]</a><a href="index.html#343">[ thread ]</a><a href="subject.html#343">[ subject ]</a><a href="author.html#343">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0344.html">Nick Lamb: "Re: lineart vrs greyscale"</a>
<li> <b>Previous message:</b> <a href="0342.html">Dr. Andreas Bolsch: "Re: HEEEELP!!!!!!!!!!!"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0350.html">Bob van der Poel: "Re: lineart vrs greyscale"</a>
<li> <b>Reply:</b> <a href="0350.html">Bob van der Poel: "Re: lineart vrs greyscale"</a>
<li> <b>Reply:</b> <a href="0353.html">Brian Macy: "Re: lineart vrs greyscale"</a>
<li> <b>Reply:</b> <a href="0414.html">Bob van der Poel: "Re: lineart vrs greyscale"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I was scanning some documents last night using my Microtek E3. I figured<br>
that since the text was straight black and white that I should use the<br>
lineart setting. Even at 300dpi the result was unreadable. Using<br>
greyscale produced nice docs.<br>
<p>
So, what's going on? When I select lineart or whatever, I assume that<br>
this is setting the scanner to scan in a particular mode...so shouldn't<br>
it be able to resolve b/w text better in lineart mode?<br>
<p>
<pre>
-- 
   __
  /  )      /         Bob van der Poel
 /--&lt;  ____/__        <a href="mailto:bvdpoel@kootenay.com">bvdpoel@kootenay.com</a>
/___/_(_) /_)         <a href="http://www.kootenay.com/~bvdpoel">http://www.kootenay.com/~bvdpoel</a>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0344.html">Nick Lamb: "Re: lineart vrs greyscale"</a>
<li> <b>Previous message:</b> <a href="0342.html">Dr. Andreas Bolsch: "Re: HEEEELP!!!!!!!!!!!"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0350.html">Bob van der Poel: "Re: lineart vrs greyscale"</a>
<li> <b>Reply:</b> <a href="0350.html">Bob van der Poel: "Re: lineart vrs greyscale"</a>
<li> <b>Reply:</b> <a href="0353.html">Brian Macy: "Re: lineart vrs greyscale"</a>
<li> <b>Reply:</b> <a href="0414.html">Bob van der Poel: "Re: lineart vrs greyscale"</a>
<!-- reply="end" -->
</ul>
