<!-- received="Sun Apr 25 09:52:02 1999 PDT" -->
<!-- sent="Sun, 25 Apr 1999 16:56:45 +0000" -->
<!-- name="Luca Del Signore" -->
<!-- email="lucadels@tin.it" -->
<!-- subject="Re: HEEEELP!!!!!!!!!!!" -->
<!-- id="" -->
<!-- inreplyto="HEEEELP!!!!!!!!!!!" -->
<title>sane-devel: Re: HEEEELP!!!!!!!!!!!</title>
<h1>Re: HEEEELP!!!!!!!!!!!</h1>
<b>Luca Del Signore</b> (<a href="mailto:lucadels@tin.it"><i>lucadels@tin.it</i></a>)<br>
<i>Sun, 25 Apr 1999 16:56:45 +0000</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#357">[ date ]</a><a href="index.html#357">[ thread ]</a><a href="subject.html#357">[ subject ]</a><a href="author.html#357">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0358.html">Tom Reinertson: "Re: 2 Channel SCSI Card"</a>
<li> <b>Previous message:</b> <a href="0356.html">Dr. Andreas Bolsch: "Re: HEEEELP!!!!!!!!!!!"</a>
<li> <b>Maybe in reply to:</b> <a href="0341.html">Luca Del Signore: "HEEEELP!!!!!!!!!!!"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0371.html">Luca Del Signore: "Re: HEEEELP!!!!!!!!!!!"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
"Dr. Andreas Bolsch" wrote:<br>
<i>&gt; </i><br>
<i>&gt; "locate sane" should give you a comprehensive list of files related</i><br>
<i>&gt; to sane. Just look for a line containing "man" and "artec".</i><br>
<i>&gt; But I'd suppose anyway SANE_DEBUG_ARTEC is the right one.</i><br>
<i>&gt; </i><br>
<i>&gt; And have a look at the other manpages belonging to sane as well. So</i><br>
<i>&gt; typing</i><br>
<i>&gt; </i><br>
<i>&gt;   export SANE_DEBUG_SCSI=128</i><br>
<i>&gt;   export SANE_DEBUG_ARTEC=128</i><br>
<i>&gt;   scanimage -d artec:/dev/scanner --mode gray --resolution 10 &gt;/dev/null</i><br>
<i>&gt; </i><br>
<i>&gt; and writing down what you get shouldn't be that difficult.</i><br>
<i>&gt; Regarding /dev/scanner: Your device might be different, but</i><br>
<i>&gt; it will be defined in /etc/sane.d/artec.conf or a similar place.</i><br>
<i>&gt; </i><br>
No it's not different , and i will try as soon as i can thank you alot<br>
<i>&gt; --</i><br>
<i>&gt; Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a></i><br>
<i>&gt; To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a></i><br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0358.html">Tom Reinertson: "Re: 2 Channel SCSI Card"</a>
<li> <b>Previous message:</b> <a href="0356.html">Dr. Andreas Bolsch: "Re: HEEEELP!!!!!!!!!!!"</a>
<li> <b>Maybe in reply to:</b> <a href="0341.html">Luca Del Signore: "HEEEELP!!!!!!!!!!!"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0371.html">Luca Del Signore: "Re: HEEEELP!!!!!!!!!!!"</a>
<!-- reply="end" -->
</ul>
