<!-- received="Sun Apr 25 13:11:21 1999 PDT" -->
<!-- sent="Sun, 25 Apr 1999 02:52:18 -0500" -->
<!-- name="John Bodnar" -->
<!-- email="jwbodnar@bigfoot.com" -->
<!-- subject="RPM distributions" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: RPM distributions</title>
<h1>RPM distributions</h1>
<b>John Bodnar</b> (<a href="mailto:jwbodnar@bigfoot.com"><i>jwbodnar@bigfoot.com</i></a>)<br>
<i>Sun, 25 Apr 1999 02:52:18 -0500</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#362">[ date ]</a><a href="index.html#362">[ thread ]</a><a href="subject.html#362">[ subject ]</a><a href="author.html#362">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0363.html">Matti J Kinnunen: "HP1100A and Sane and Linux"</a>
<li> <b>Previous message:</b> <a href="0361.html">Michael Holzapfel: "sane-1.0.1 on AIX 4.2"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I know you guys don't build the RPM distributions of SANE, but perhaps<br>
you could influence whomever is building them to:<br>
<p>
PACKAGE THE D*** FRONT ENDS!<br>
<p>
Being a fairly new RedHat user with a UMAX scanner I was anxious to<br>
get working, I downloaded the RPM of SANE 1.00.  Much to my chagrin it<br>
(and now also the new 1.01 build) does not include the scanimage,<br>
xscanimage, saned, and xcam front ends.<br>
<p>
This is ridiculous since you can't do a darn thing with SANE without<br>
having a front end.<br>
<p>
To make a long story short, I downloaded the SANE sources and compiled<br>
everything myself.  It all works fine, now, but building SANE was a<br>
challenge because I hadn't installed all of the necessary libraries<br>
for compilation.  Having to do this defeats the primary reason for<br>
even offering an RPM distribution of SANE.<br>
<p>
Otherwise, thanks for a great piece of work.<br>
<p>
John Bodnar<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0363.html">Matti J Kinnunen: "HP1100A and Sane and Linux"</a>
<li> <b>Previous message:</b> <a href="0361.html">Michael Holzapfel: "sane-1.0.1 on AIX 4.2"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
