<!-- received="Mon Apr 26 07:04:24 1999 PDT" -->
<!-- sent="Mon, 26 Apr 1999 14:08:13 +0000" -->
<!-- name="Tom Reinertson" -->
<!-- email="treinertson@uswest.net" -->
<!-- subject="Re: 2 Channel SCSI Card" -->
<!-- id="" -->
<!-- inreplyto="2 Channel SCSI Card" -->
<title>sane-devel: Re: 2 Channel SCSI Card</title>
<h1>Re: 2 Channel SCSI Card</h1>
<b>Tom Reinertson</b> (<a href="mailto:treinertson@uswest.net"><i>treinertson@uswest.net</i></a>)<br>
<i>Mon, 26 Apr 1999 14:08:13 +0000</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#372">[ date ]</a><a href="index.html#372">[ thread ]</a><a href="subject.html#372">[ subject ]</a><a href="author.html#372">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0373.html">abel deuring: "Re: SANE on MacOS, MacOS X ?"</a>
<li> <b>Previous message:</b> <a href="0371.html">Luca Del Signore: "Re: HEEEELP!!!!!!!!!!!"</a>
<li> <b>Maybe in reply to:</b> <a href="0283.html">Tom Reinertson: "2 Channel SCSI Card"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0378.html">Oliver Rauch: "Re: 2 Channel SCSI Card"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Oliver,<br>
<p>
<i>&gt; Look like you did not compile a kernel before.</i><br>
<i>&gt;</i><br>
<i>&gt; It is not so simple to explain it in a mail.</i><br>
<i>&gt;</i><br>
<i>&gt; Which distribution do you have, do you have a book that explains</i><br>
<i>&gt; the compilation of a new kernel?</i><br>
<i>&gt;</i><br>
<p>
Well, I'm not quite that new :-).<br>
<p>
I've recompiled the kernel several  times for each of several machines.  I'm<br>
using RedHat 5.2 with a 2.0.36 kernel so most of the internals of the makes<br>
are hidden from me.  The only thing that has me stumped is the requirement<br>
for BSD scsi drivers.  I'm just using the scsi drivers that RedHat supplied.<br>
<p>
Thanks.<br>
<p>
Tom<br>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0373.html">abel deuring: "Re: SANE on MacOS, MacOS X ?"</a>
<li> <b>Previous message:</b> <a href="0371.html">Luca Del Signore: "Re: HEEEELP!!!!!!!!!!!"</a>
<li> <b>Maybe in reply to:</b> <a href="0283.html">Tom Reinertson: "2 Channel SCSI Card"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0378.html">Oliver Rauch: "Re: 2 Channel SCSI Card"</a>
<!-- reply="end" -->
</ul>
