<!-- received="Mon Apr 26 08:11:25 1999 PDT" -->
<!-- sent="Mon, 26 Apr 1999 17:13:58 +0200 (MET DST)" -->
<!-- name="Martin Huber" -->
<!-- email="hu@garfield.m.isar.de" -->
<!-- subject="Re: Makefile problems" -->
<!-- id="199904261513.RAA20387@garfield.m.isar.de" -->
<!-- inreplyto="Makefile problems" -->
<title>sane-devel: Re: Makefile problems</title>
<h1>Re: Makefile problems</h1>
<b>Martin Huber</b> (<a href="mailto:hu@garfield.m.isar.de"><i>hu@garfield.m.isar.de</i></a>)<br>
<i>Mon, 26 Apr 1999 17:13:58 +0200 (MET DST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#376">[ date ]</a><a href="index.html#376">[ thread ]</a><a href="subject.html#376">[ subject ]</a><a href="author.html#376">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0377.html">Oliver Rauch: "Re: sane-1.0.1 on AIX 4.2"</a>
<li> <b>Previous message:</b> <a href="0375.html">Dr. Andreas Bolsch: "Re: HEEEELP!!!!!!!!!!!"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt; 	Im in need of some help compiling Sane version 0.74.  I am</i><br>
<i>&gt; 	running Solaris x86 version 2.6.  I can run the find-scanner</i><br>
<i>&gt; 	program to find my tamarack 6000c scanner - OK.  The problem</i><br>
<i>&gt; 	is that the makefile for the backend fails as follows;</i><br>
<i>&gt; 	</i><br>
<i>&gt; making all in backend</i><br>
<i>&gt; make: Fatal error in reader: Makefile, line 69: More than one % pattern on </i><br>
right <br>
<i>&gt; hand side</i><br>
<i>&gt; Current working directory /export/sane-0.74/backend</i><br>
<i>&gt; *** Error code 1</i><br>
<i>&gt; make: Fatal error: Command failed for target `all-recursive'</i><br>
<i>&gt; </i><br>
<i>&gt; 	I am thinking that the problem is in the makefile?  Does anyone </i><br>
<i>&gt; 	know how to fix it or have a backend makefile that is already built </i><br>
<i>&gt; 	that I could try?</i><br>
<i>&gt; 	</i><br>
<p>
You need GNU make to build sane.<br>
<p>
  -martin<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0377.html">Oliver Rauch: "Re: sane-1.0.1 on AIX 4.2"</a>
<li> <b>Previous message:</b> <a href="0375.html">Dr. Andreas Bolsch: "Re: HEEEELP!!!!!!!!!!!"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
