<!-- received="Wed Apr 28 11:39:46 1999 PDT" -->
<!-- sent="Wed, 28 Apr 1999 20:25:44 +0200" -->
<!-- name="Peter Kirchgessner" -->
<!-- email="peter@kirchgessner.net" -->
<!-- subject="Re: How to config my HP Scanjet 4p to work with SANE ?" -->
<!-- id="" -->
<!-- inreplyto="How to config my HP Scanjet 4p to work with SANE ?" -->
<title>sane-devel: Re: How to config my HP Scanjet 4p to work with SANE ?</title>
<h1>Re: How to config my HP Scanjet 4p to work with SANE ?</h1>
<b>Peter Kirchgessner</b> (<a href="mailto:peter@kirchgessner.net"><i>peter@kirchgessner.net</i></a>)<br>
<i>Wed, 28 Apr 1999 20:25:44 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#401">[ date ]</a><a href="index.html#401">[ thread ]</a><a href="subject.html#401">[ subject ]</a><a href="author.html#401">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0402.html">Peter Kirchgessner: "Re: HP1100A and Sane and Linux"</a>
<li> <b>Previous message:</b> <a href="0400.html">Ingo Wilken: "Re: May sane_init fail?"</a>
<li> <b>Maybe in reply to:</b> <a href="0354.html">EiNiD: "How to config my HP Scanjet 4p to work with SANE ?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
EiNiD wrote:<br>
<i>&gt; </i><br>
<i>&gt; hi everybody...</i><br>
<i>&gt; </i><br>
<i>&gt; i'm very new at this..</i><br>
<i>&gt; </i><br>
<i>&gt; i've downloaded SANE and install it on my pc.. now.. how do i config it</i><br>
<i>&gt; to work with my HP Scanjet 4p ?</i><br>
<i>&gt; </i><br>
<i>&gt; the SCSI device is the one that comes with the scanner which is Symbios</i><br>
<i>&gt; Logic 53C400A (HP Version ) SCSI Adapter.</i><br>
<i>&gt; </i><br>
<i>&gt; so how am i going to load the SCSI driver ??</i><br>
<i>&gt; </i><br>
<i>&gt; i hope somebody would guide me...</i><br>
<i>&gt; </i><br>
<i>&gt; thank you in advance...</i><br>
<i>&gt; </i><br>
<i>&gt; --</i><br>
<i>&gt; Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a></i><br>
<i>&gt; To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a></i><br>
<p>
Hi,<br>
<p>
some people are reporting trouble when using the SCSI-cards<br>
delivered with the HP-Scanners. But you can try to use the SCSI-driver<br>
located at <a href="http://linux-sym53c416-driver.netpedia.net/">http://linux-sym53c416-driver.netpedia.net/</a><br>
<p>
Sincerely<br>
<p>
--Peter<br>
<p>
<pre>
-- 
Peter Kirchgessner
WWW:    <a href="http://www.kirchgessner.net">http://www.kirchgessner.net</a>
e-mail: <a href="mailto:peter@kirchgessner.net">peter@kirchgessner.net</a>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0402.html">Peter Kirchgessner: "Re: HP1100A and Sane and Linux"</a>
<li> <b>Previous message:</b> <a href="0400.html">Ingo Wilken: "Re: May sane_init fail?"</a>
<li> <b>Maybe in reply to:</b> <a href="0354.html">EiNiD: "How to config my HP Scanjet 4p to work with SANE ?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
