<!-- received="Wed Dec  3 14:28:31 1997 PST" -->
<!-- sent="Wed, 3 Dec 1997 23:29:36 +0100 (MET)" -->
<!-- name="Oliver.Rauch@Wolfsburg.DE" -->
<!-- email="Oliver.Rauch@Wolfsburg.DE" -->
<!-- subject="new-sane-homepage-outfit" -->
<!-- id="199712032229.XAA00245@Babylon5.wolfsburg.de" -->
<!-- inreplyto="199712030904.BAA17388@panda.mostang.com" -->
<title>sane-devel: new-sane-homepage-outfit</title>
<h1>new-sane-homepage-outfit</h1>
<a href="mailto:Oliver.Rauch@Wolfsburg.DE"><i>Oliver.Rauch@Wolfsburg.DE</i></a><br>
<i>Wed, 3 Dec 1997 23:29:36 +0100 (MET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#11">[ date ]</a><a href="index.html#11">[ thread ]</a><a href="subject.html#11">[ subject ]</a><a href="author.html#11">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0012.html">Bas Vermeulen: "Ricoh RS322+ (SCSI) support"</a>
<li> <b>Previous message:</b> <a href="0010.html">David Mosberger-Tang: "Re: Scanner not recognized on 2nd SCSI Host"</a>
<li> <b>In reply to:</b> <a href="0003.html">David Mosberger-Tang: "sane-0.68 available"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0017.html">Per Harald Myrvang: "Re: new-sane-homepage-outfit"</a>
<li> <b>Next in thread:</b> <a href="0013.html">Oliver.Rauch@Wolfsburg.DE: "Re: sane-0.68 available"</a>
<li> <b>Reply:</b> <a href="0017.html">Per Harald Myrvang: "Re: new-sane-homepage-outfit"</a>
<li> <b>Reply:</b> <a href="0022.html">Michael K. Johnson: "Re: new-sane-homepage-outfit"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hello David, hello everyone,<br>
<p>
<i>&gt; Oh, you may also have noticed a face lift for the SANE home page.</i><br>
<i>&gt; That's primarily the good work of Oliver.  You'll notice that most of</i><br>
<i>&gt; the applications/middleware/drivers pages are mostly empty (with the</i><br>
<i>&gt; notable exception of Oliver's umax page).  The idea is that</i><br>
<i>&gt; eventually, there is a meaningful page for each SANE frontend/backend.</i><br>
<i>&gt; If you wrote, maintain one or simply use a backend, all contributions</i><br>
<i>&gt; are welcome!</i><br>
<p>
Before anyone starts to work on html-documentations,<br>
we should think about how we coordinate man-pages and<br>
html-pages.<br>
<p>
David suggested to use the linuxdoc-sgml. I had a little look<br>
at it and if it works like it is described, I think it is a good<br>
idea!<br>
<p>
Bye<br>
Oliver<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0012.html">Bas Vermeulen: "Ricoh RS322+ (SCSI) support"</a>
<li> <b>Previous message:</b> <a href="0010.html">David Mosberger-Tang: "Re: Scanner not recognized on 2nd SCSI Host"</a>
<li> <b>In reply to:</b> <a href="0003.html">David Mosberger-Tang: "sane-0.68 available"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0017.html">Per Harald Myrvang: "Re: new-sane-homepage-outfit"</a>
<li> <b>Next in thread:</b> <a href="0013.html">Oliver.Rauch@Wolfsburg.DE: "Re: sane-0.68 available"</a>
<li> <b>Reply:</b> <a href="0017.html">Per Harald Myrvang: "Re: new-sane-homepage-outfit"</a>
<li> <b>Reply:</b> <a href="0022.html">Michael K. Johnson: "Re: new-sane-homepage-outfit"</a>
<!-- reply="end" -->
</ul>
