<!-- received="Wed Dec  3 15:27:29 1997 PST" -->
<!-- sent="Thu, 04 Dec 1997 00:27:22 +0100" -->
<!-- name="Philipp Klan" -->
<!-- email="philipp.klan@writeme.com" -->
<!-- subject="Re: Scanner not recognized on 2nd SCSI Host" -->
<!-- id="3485EADA.35741B59@writeme.com" -->
<!-- inreplyto="Scanner not recognized on 2nd SCSI Host" -->
<title>sane-devel: Re: Scanner not recognized on 2nd SCSI Host</title>
<h1>Re: Scanner not recognized on 2nd SCSI Host</h1>
<b>Philipp Klan</b> (<a href="mailto:philipp.klan@writeme.com"><i>philipp.klan@writeme.com</i></a>)<br>
<i>Thu, 04 Dec 1997 00:27:22 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#14">[ date ]</a><a href="index.html#14">[ thread ]</a><a href="subject.html#14">[ subject ]</a><a href="author.html#14">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0015.html">becka@rz.uni-duesseldorf.de: "Re: Ricoh RS322+ (SCSI) support"</a>
<li> <b>Previous message:</b> <a href="0013.html">Oliver.Rauch@Wolfsburg.DE: "Re: sane-0.68 available"</a>
<li> <b>Maybe in reply to:</b> <a href="0009.html">Philipp Klan: "Scanner not recognized on 2nd SCSI Host"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
David Mosberger-Tang wrote:<br>
<p>
<i>&gt; &gt;&gt;&gt;&gt;&gt; On Wed, 03 Dec 1997 20:52:42 +0100, Philipp Klan &lt;<a href="mailto:philipp.klan@writeme.com">philipp.klan@writeme.com</a>&gt; said:</i><br>
<i>&gt;</i><br>
<i>&gt;   Philipp&gt; I'm using kernel 2.0.30, a Symbios Logic 8751SP as a</i><br>
<i>&gt;   Philipp&gt; primary SCSI controller with a hard drive, a CD-ROM and a</i><br>
<i>&gt;   Philipp&gt; CD-Writer attached, a Symbios Logic 8100S as a secondary</i><br>
<i>&gt;   Philipp&gt; SCSI controller with only my scanner attached to the</i><br>
<i>&gt;   Philipp&gt; external connector.  Back when I only had the 8100S adapter</i><br>
<i>&gt;   Philipp&gt; the board recognized my scanner on bootup but now it</i><br>
<i>&gt;   Philipp&gt; doesn't. Instead, I get the following messages:</i><br>
<i>&gt;</i><br>
<i>&gt; Your problem might be due to incorrect SCSI termination.  Check the</i><br>
<i>&gt; SCSI Howtoq for details.</i><br>
<i>&gt;</i><br>
<i>&gt;</i><br>
<p>
I took the same termination as when I still had only one SCSI adapter. The<br>
externalconnector of my adapter is a DB50 mini connector connected to a 50pin CENTRONICS<br>
on my scanner. The 25pin DB connector on my scanner is terminated with an<br>
active terminator. So this cannot be the problem.<br>
<p>
Philipp<br>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0015.html">becka@rz.uni-duesseldorf.de: "Re: Ricoh RS322+ (SCSI) support"</a>
<li> <b>Previous message:</b> <a href="0013.html">Oliver.Rauch@Wolfsburg.DE: "Re: sane-0.68 available"</a>
<li> <b>Maybe in reply to:</b> <a href="0009.html">Philipp Klan: "Scanner not recognized on 2nd SCSI Host"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
