<!-- received="Thu Dec  4 08:47:25 1997 PST" -->
<!-- sent="Thu, 04 Dec 1997 08:43:30 -0500" -->
<!-- name="Michael K. Johnson" -->
<!-- email="johnsonm@redhat.com" -->
<!-- subject="Re: new-sane-homepage-outfit" -->
<!-- id="199712041343.IAA16145@nigel.redhat.com" -->
<!-- inreplyto="new-sane-homepage-outfit" -->
<title>sane-devel: Re: new-sane-homepage-outfit</title>
<h1>Re: new-sane-homepage-outfit</h1>
<b>Michael K. Johnson</b> (<a href="mailto:johnsonm@redhat.com"><i>johnsonm@redhat.com</i></a>)<br>
<i>Thu, 04 Dec 1997 08:43:30 -0500</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#22">[ date ]</a><a href="index.html#22">[ thread ]</a><a href="subject.html#22">[ subject ]</a><a href="author.html#22">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0023.html">Nicolas Lucas de Peslouan: "Using preview mode to scan in color with UMAX Astra 600/610S."</a>
<li> <b>Previous message:</b> <a href="0021.html">Oliver.Rauch@Wolfsburg.DE: "Re: Umax S-12 troubles (Linux)"</a>
<li> <b>Maybe in reply to:</b> <a href="0011.html">Oliver.Rauch@Wolfsburg.DE: "new-sane-homepage-outfit"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0013.html">Oliver.Rauch@Wolfsburg.DE: "Re: sane-0.68 available"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Per Harald Myrvang writes:<br>
<i>&gt;Why not use pod?</i><br>
<p>
Because sgml-tools (new, non-linux-specific name for the fairly general<br>
tool formerly known as linuxdoc-sgml) has a lot of development behind it,<br>
follows useful and well-understood standards, has many output formats<br>
that would give people a quality printed version of all the information<br>
on the web site, is actively developed and improved, and is used by a<br>
lot of people for this purpose.<br>
<p>
Also, it's fairly trivial to write stuff in sgml-tools.<br>
<p>
michaelkjohnson<br>
<p>
"Ever wonder why the SAME PEOPLE make up ALL the conspiracy theories?"<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0023.html">Nicolas Lucas de Peslouan: "Using preview mode to scan in color with UMAX Astra 600/610S."</a>
<li> <b>Previous message:</b> <a href="0021.html">Oliver.Rauch@Wolfsburg.DE: "Re: Umax S-12 troubles (Linux)"</a>
<li> <b>Maybe in reply to:</b> <a href="0011.html">Oliver.Rauch@Wolfsburg.DE: "new-sane-homepage-outfit"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0013.html">Oliver.Rauch@Wolfsburg.DE: "Re: sane-0.68 available"</a>
<!-- reply="end" -->
</ul>
