<!-- received="Tue Dec  9 05:55:52 1997 PST" -->
<!-- sent="Tue, 09 Dec 1997 08:55:20 -0500" -->
<!-- name="Christoph Doerbeck" -->
<!-- email="doerbeck@dma.isg.mot.com" -->
<!-- subject="Two SCSI bus question..." -->
<!-- id="199712091355.IAA07883@prospero.dma.isg.mot.com" -->
<!-- inreplyto="" -->
<title>sane-devel: Two SCSI bus question...</title>
<h1>Two SCSI bus question...</h1>
<b>Christoph Doerbeck</b> (<a href="mailto:doerbeck@dma.isg.mot.com"><i>doerbeck@dma.isg.mot.com</i></a>)<br>
<i>Tue, 09 Dec 1997 08:55:20 -0500</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#49">[ date ]</a><a href="index.html#49">[ thread ]</a><a href="subject.html#49">[ subject ]</a><a href="author.html#49">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0050.html">becka@rz.uni-duesseldorf.de: "Re: Two SCSI bus question..."</a>
<li> <b>Previous message:</b> <a href="0048.html">David Mosberger-Tang: "Alpha RPMs updated"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0050.html">becka@rz.uni-duesseldorf.de: "Re: Two SCSI bus question..."</a>
<li> <b>Reply:</b> <a href="0050.html">becka@rz.uni-duesseldorf.de: "Re: Two SCSI bus question..."</a>
<li> <b>Reply:</b> <a href="0059.html">Christoph Doerbeck: "Re: Two SCSI bus question..."</a>
<li> <b>Reply:</b> <a href="0060.html">Matto Marjanovic: "Re: Two SCSI bus question..."</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Perhaps this is not the right forum to ask this question, but<br>
since you're the Scanner experts...<br>
<p>
The topic of having multiple SCSI buses has surfaced before, but<br>
my curiousity is how the /dev/(scanner) is assigned to a device.<br>
SCSI disks are simple, they're assigned in the order that they<br>
are detected (unless configured otherwise in the kernel).  But,<br>
my scanner device seems to waffle around depending on whether or<br>
not some other devices are turned on/off at boot time.  Any ideas???<br>
<p>
<p>
- Christoph<br>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0050.html">becka@rz.uni-duesseldorf.de: "Re: Two SCSI bus question..."</a>
<li> <b>Previous message:</b> <a href="0048.html">David Mosberger-Tang: "Alpha RPMs updated"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0050.html">becka@rz.uni-duesseldorf.de: "Re: Two SCSI bus question..."</a>
<li> <b>Reply:</b> <a href="0050.html">becka@rz.uni-duesseldorf.de: "Re: Two SCSI bus question..."</a>
<li> <b>Reply:</b> <a href="0059.html">Christoph Doerbeck: "Re: Two SCSI bus question..."</a>
<li> <b>Reply:</b> <a href="0060.html">Matto Marjanovic: "Re: Two SCSI bus question..."</a>
<!-- reply="end" -->
</ul>
