<!-- received="Mon Dec 15 20:38:24 1997 PST" -->
<!-- sent="Mon, 15 Dec 1997 20:38:21 -0800" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="David.Mosberger@acm.org" -->
<!-- subject="Re: SANE support for AIX added" -->
<!-- id="199712160438.UAA03269@panda.mostang.com" -->
<!-- inreplyto="Pine.A32.3.95.971215145816.81194A-200000@hal6000.thp.Uni-Duisburg.DE" -->
<title>sane-devel: Re: SANE support for AIX added</title>
<h1>Re: SANE support for AIX added</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:David.Mosberger@acm.org"><i>David.Mosberger@acm.org</i></a>)<br>
<i>Mon, 15 Dec 1997 20:38:21 -0800</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#84">[ date ]</a><a href="index.html#84">[ thread ]</a><a href="subject.html#84">[ subject ]</a><a href="author.html#84">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0085.html">Matto Marjanovic: "adv. opt. patch for xscanimage..."</a>
<li> <b>Previous message:</b> <a href="0083.html">Jeff Freedman: "Re: jscanimage won't compile"</a>
<li> <b>In reply to:</b> <a href="0082.html">Fred Hucht: "SANE support for AIX added"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0093.html">Oliver.Rauch@Wolfsburg.DE: "Re: SANE support for AIX added"</a>
<li> <b>Reply:</b> <a href="0093.html">Oliver.Rauch@Wolfsburg.DE: "Re: SANE support for AIX added"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;&gt;&gt;&gt;&gt; On Mon, 15 Dec 1997 15:11:45 +0100 (MEZ), Fred Hucht &lt;<a href="mailto:fred@thp.Uni-Duisburg.DE">fred@thp.Uni-Duisburg.DE</a>&gt; said:</i><br>
<p>
  Fred&gt; Hi SaneDevel, we added support for user-level SCSI under AIX<br>
  Fred&gt; using the generic SCSI driver gsc written by Matthew Jacob<br>
  Fred&gt; &lt;<a href="mailto:mjacob@feral.com">mjacob@feral.com</a>&gt;. We tested SANE under AIX 4.1.5 with a<br>
  Fred&gt; HP-ScanJet IIc, it works fine.<br>
<p>
Great!<br>
<p>
  Fred&gt; The appended context diffs are based on SANE 0.68.<br>
<p>
Thanks, I integrated your changes except for the UMAX diffs.  Oliver,<br>
will you pick those up?<br>
<p>
  Fred&gt; One remark to the program tools/find-scanner: The HP ScanJet<br>
  Fred&gt; failed to respond to the inquiry command {INQUIRY, 0x00, 0x02,<br>
  Fred&gt; 0x00, 0xff, 0x00}, while the command {INQUIRY, 0x00, 0x00,<br>
  Fred&gt; 0x00, 0xff, 0x00} worked well.<br>
<p>
  Fred&gt; We changed this, but we don't know if it still will work with<br>
  Fred&gt; other scanners...<br>
<p>
Yes, the original command was "wrong" in the sense that it asks for<br>
additional information that we don't care about.  Changing it to zero<br>
should be safe.<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0085.html">Matto Marjanovic: "adv. opt. patch for xscanimage..."</a>
<li> <b>Previous message:</b> <a href="0083.html">Jeff Freedman: "Re: jscanimage won't compile"</a>
<li> <b>In reply to:</b> <a href="0082.html">Fred Hucht: "SANE support for AIX added"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0093.html">Oliver.Rauch@Wolfsburg.DE: "Re: SANE support for AIX added"</a>
<li> <b>Reply:</b> <a href="0093.html">Oliver.Rauch@Wolfsburg.DE: "Re: SANE support for AIX added"</a>
<!-- reply="end" -->
</ul>
