<!-- received="Tue Dec 16 23:32:02 1997 PST" -->
<!-- sent="Wed, 17 Dec 1997 08:24:50 +0001 (MET)" -->
<!-- name="Mathias Weigt" -->
<!-- email="p5iba@medchem7.pharmazie.uni-halle.de" -->
<!-- subject="Re: jscanimage won't compile" -->
<!-- id="" -->
<!-- inreplyto="34956BCB.9A8F68B5@hevanet.com" -->
<title>sane-devel: Re: jscanimage won't compile</title>
<h1>Re: jscanimage won't compile</h1>
<b>Mathias Weigt</b> (<a href="mailto:p5iba@medchem7.pharmazie.uni-halle.de"><i>p5iba@medchem7.pharmazie.uni-halle.de</i></a>)<br>
<i>Wed, 17 Dec 1997 08:24:50 +0001 (MET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#87">[ date ]</a><a href="index.html#87">[ thread ]</a><a href="subject.html#87">[ subject ]</a><a href="author.html#87">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0088.html">Allan Nielsen: "Re: jscanimage won't compile"</a>
<li> <b>Previous message:</b> <a href="0086.html">Matto Marjanovic: "new, improved Microtek backend"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Servus !<br>
<p>
Ok I got swing-0.61 from java.sun.com.<br>
Now all compiles cleanly but Jscanimage actually does nothing and Test <br>
does nothing but printing the version numbers (but I think it should do a <br>
little test-scan or at least list som devices ?).<br>
Any ideas ?<br>
Can I use SANE_DEBUGXXX to get more information ?<br>
<p>
But thanks for hint with swing...<br>
<p>
Mathias Weigt<br>
<a href="mailto:p5iba@medchem2.pharmazie.uni-halle.de">p5iba@medchem2.pharmazie.uni-halle.de</a><br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0088.html">Allan Nielsen: "Re: jscanimage won't compile"</a>
<li> <b>Previous message:</b> <a href="0086.html">Matto Marjanovic: "new, improved Microtek backend"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
