<!-- received="Sun Dec 21 14:39:30 1997 PST" -->
<!-- sent="Sun, 21 Dec 1997 14:39:24 -0800" -->
<!-- name="sane-devel@mostang.com" -->
<!-- email="sane-devel@mostang.com" -->
<!-- subject="Request_for_quotation" -->
<!-- id="199712212239.OAA07477@panda.mostang.com" -->
<!-- inreplyto="" -->
<title>sane-devel: Request_for_quotation</title>
<h1>Request_for_quotation</h1>
<a href="mailto:sane-devel@mostang.com"><i>sane-devel@mostang.com</i></a><br>
<i>Sun, 21 Dec 1997 14:39:24 -0800</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#120">[ date ]</a><a href="index.html#120">[ thread ]</a><a href="subject.html#120">[ subject ]</a><a href="author.html#120">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0121.html">Jonathan Buzzard: "Re: How to turn off lamp in ScanJet IIcx"</a>
<li> <b>Previous message:</b> <a href="0119.html">Warren Early: "Re: How to turn off lamp in ScanJet IIcx"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
--divider<br>
Content-Type: text/plain; charset="us-ascii"<br>
Content-Transfer-Encoding: 7bit<br>
<p>
Att. Sales / Export Department<br>
<p>
Re: Request for quotation<br>
<p>
A RFQ for products which, to the best of our knowledge are similar to<br>
those offered by you ,was placed with us by one of our clients.<br>
<p>
We are a  world wide sourcing firm and we are paid by our clients to<br>
find them suitable suppliers . <br>
<p>
To you ,our service is totally free of charge !!!   <br>
<p>
The information we will get from you will not only be immediately sent<br>
to this particular client but also to all other clients looking for<br>
similar products .<br>
 <br>
To define and advise us  the  products you are interested to export<br>
and/or to get more information about us and our FREE  SERVICE , please<br>
use our Internet interface at: <a href="http://www.thebol.com">http://www.thebol.com</a><br>
<p>
Best Regards<br>
<p>
theBOL - Purchasing Department<br>
<p>
<p>
<p>
--divider--<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0121.html">Jonathan Buzzard: "Re: How to turn off lamp in ScanJet IIcx"</a>
<li> <b>Previous message:</b> <a href="0119.html">Warren Early: "Re: How to turn off lamp in ScanJet IIcx"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
