<!-- received="Mon Nov  1 09:19:43 1999 PST" -->
<!-- sent="Mon, 1 Nov 1999 19:25:09 +0100" -->
<!-- name="Bernd Schroeder" -->
<!-- email="bernd@aquila.muc.de" -->
<!-- subject="Re: Microtek Phantom 636cx again" -->
<!-- id="" -->
<!-- inreplyto="38189DFD.6571DCC0@jaguar.dote.hu" -->
<title>sane-devel: Re: Microtek Phantom 636cx again</title>
<h1>Re: Microtek Phantom 636cx again</h1>
<b>Bernd Schroeder</b> (<a href="mailto:bernd@aquila.muc.de"><i>bernd@aquila.muc.de</i></a>)<br>
<i>Mon, 1 Nov 1999 19:25:09 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#3">[ date ]</a><a href="index.html#3">[ thread ]</a><a href="subject.html#3">[ subject ]</a><a href="author.html#3">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0004.html">Nicolas Michael: "Scanning in a network with Microtek2"</a>
<li> <b>Previous message:</b> <a href="0002.html">Bernd Schroeder: "Re: Microtek Scanning"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi,<br>
<p>
On Thu, Oct 28, 1999 at 09:03:25PM +0200, Novak Levente wrote:<br>
<i>&gt; Hello,</i><br>
<i>&gt; </i><br>
<i>&gt; Last time I wrote that image mirroring problem on my Phantom 636cx is</i><br>
<i>&gt; solved by Bernd's latest microtek2 backend. I am really sorry to say I</i><br>
<i>&gt; was wrong, as the mirroring still exists. At that time, I flipped</i><br>
<i>&gt; vertically the scanned image and as it was not mirrored, I thought it</i><br>
<i>&gt; was OK. However with simply rotating it, the right and left sides are</i><br>
<i>&gt; always inverted. Apologies for the misinformation.</i><br>
<i>&gt; By the way, I looked into the code, and couldn't find any major</i><br>
<i>&gt; difference between the August 22th and October 16th version of the</i><br>
<i>&gt; driver concerning Left-to-Right or Right-to-Left scanning devices. What</i><br>
<i>&gt; is the portion of code supposed to mirror the image if the scanning</i><br>
<i>&gt; direction is inverted?</i><br>
<p>
It looks as if you are right. The code is not in the release that I had<br>
uploaded to the ftp server. In the meanwhile I have purchased a Phantom C6,<br>
which is essentially the same as the Phantom 636cx, so I can test it myself.<br>
<p>
I have included code to solve the mirror problem for all modes (before it <br>
was only solved for color mode, and then not uploaded to the ftp server).<br>
<p>
I am also *trying* to address the problem of the vertical stripes, which<br>
in any case requires some major changes. That is why I do not have<br>
a working backend at the moment, which is newer than the 161099 release, but<br>
I will make an announcement, when it is working again.<br>
<p>
Bernd<br>
<p>
<pre>
-- 
Bernd Schroeder 
Email: <a href="mailto:bernd@aquila.muc.de">mailto:bernd@aquila.muc.de</a>
PGP public key available: <a href="mailto:pgp@aquila.muc.de">mailto:pgp@aquila.muc.de</a> | Subject: send key 
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0004.html">Nicolas Michael: "Scanning in a network with Microtek2"</a>
<li> <b>Previous message:</b> <a href="0002.html">Bernd Schroeder: "Re: Microtek Scanning"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
