<!-- received="Sun Nov 14 10:15:29 1999 PST" -->
<!-- sent="Sun, 14 Nov 1999 18:18:59 +0000" -->
<!-- name="Dave Restall - System Administrator" -->
<!-- email="dave@restall.net" -->
<!-- subject="Questions re Sane API digression &amp; MF Scanner" -->
<!-- id="E11n4Et-0000iL-00@basil.restall.net" -->
<!-- inreplyto="" -->
<title>sane-devel: Questions re Sane API digression &amp; MF Scanner</title>
<h1>Questions re Sane API digression &amp; MF Scanner</h1>
<b>Dave Restall - System Administrator</b> (<a href="mailto:dave@restall.net"><i>dave@restall.net</i></a>)<br>
<i>Sun, 14 Nov 1999 18:18:59 +0000</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#121">[ date ]</a><a href="index.html#121">[ thread ]</a><a href="subject.html#121">[ subject ]</a><a href="author.html#121">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0122.html">Ralph Corderoy: "Re: Questions re Sane API digression &amp; MF Scanner"</a>
<li> <b>Previous message:</b> <a href="0120.html">Tom Martone: "Re: next release?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0122.html">Ralph Corderoy: "Re: Questions re Sane API digression &amp; MF Scanner"</a>
<li> <b>Reply:</b> <a href="0122.html">Ralph Corderoy: "Re: Questions re Sane API digression &amp; MF Scanner"</a>
<li> <b>Reply:</b> <a href="0125.html">Oliver Rauch: "Re: Questions re Sane API digression &amp; MF Scanner"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi,<br>
<p>
I have started writing a backend for the Scanace 9630 scanner and<br>
unfortunately I hit a brick wall at my first attempt.  The brick wall<br>
being :-<br>
<p>
The API seems pretty clear to follow and relatively simple to<br>
implement, however there are a few things that I don't understand in the<br>
code that I've looked at for backends.  I'm only dealing with sane_init<br>
here, but the API says this :-<br>
<p>
"The version code of the backend is returned in the value pointed to by<br>
version_code.  If the pointer is NULL, no version code is returned.<br>
Argument authorize is either a pointer to a function that is invoked<br>
when the backend requires authentication for a specific resource or NULL<br>
if the frontend does not support authentication."<br>
<p>
Regarding authorization, should "frontend" read "backend" ?<br>
<p>
Apart from that this bit of the spec seems pretty clear, however when I<br>
started to read the code for other backends, all sorts of stuff seems to<br>
go on, especially when it comes to initialising the hardware.  Surely<br>
this belongs in sane_open ?<br>
<p>
I also don't understand the following :-<br>
<p>
stubs.c		What is it for ?<br>
<p>
I was hoping it would be a pile of function stubs with comments in like<br>
"put code for function Y here" in it, e.g. a template for the backend<br>
but it seems to have a more sinister use.<br>
<p>
What does the ENTRY macro do in stubs.c ?<br>
<p>
I'm not new to C but am new to the style used in the code development<br>
for sane so all help will be greatly appreciated.<br>
<p>
I'm also willing to create an empty template with the "Put code to do X<br>
for your scanner here" if it will help and write the FAQ for writing a<br>
backend but I'll need help and guidance, can I use the list for this ?<br>
<p>
My other question, I'm looking for a film scanner and liked the look of<br>
the Minolta Dimage series, Minolta don't seem to have any supported<br>
scanners.  Is this because nobody has tried or is it because Minolta<br>
won't release any information ?<br>
<p>
If Minolta won't play, can anybody recommend a suitable film scanner<br>
that meets the following :-<br>
<p>
Can scan :-<br>
<p>
35mm Negatives (singly or in strips)<br>
35mm Transparencies (Singly in frames, or in strips)<br>
Medium Format Negatives (Singly, in strips would be nice to have)<br>
Medium Format Transparencies (Singly, in strips would be nice to have)<br>
<p>
Optionally APS negatives and transparencies.<br>
<p>
Sorry about the length of the mail, lets hope you can help.<br>
<p>
Regards,<br>
<p>
<p>
Dave.<br>
mail/sane/991105.tx                                           sane<br>
+----------------------------------------------------------------------------+<br>
<i>| Dave Restall              Internet Intranet Resourcing Consultancy Limited |</i><br>
<i>| Tel. +44 (0) 1287 653003  Mob. +44 (0) 973 831245 Fax. +44 (0) 1287 652546 |</i><br>
<i>| email : <a href="mailto:dave@iirc.net">dave@iirc.net</a>       dave@restall.net     Web : <a href="http://www.iirc.net">http://www.iirc.net</a> |</i><br>
+----------------------------------------------------------------------------+<br>
<i>| What does it mean if there is no fortune for you?                          |</i><br>
+----------------------------------------------------------------------------+<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0122.html">Ralph Corderoy: "Re: Questions re Sane API digression &amp; MF Scanner"</a>
<li> <b>Previous message:</b> <a href="0120.html">Tom Martone: "Re: next release?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0122.html">Ralph Corderoy: "Re: Questions re Sane API digression &amp; MF Scanner"</a>
<li> <b>Reply:</b> <a href="0122.html">Ralph Corderoy: "Re: Questions re Sane API digression &amp; MF Scanner"</a>
<li> <b>Reply:</b> <a href="0125.html">Oliver Rauch: "Re: Questions re Sane API digression &amp; MF Scanner"</a>
<!-- reply="end" -->
</ul>
