<!-- received="Sun Nov 14 18:21:13 1999 PST" -->
<!-- sent="Mon, 15 Nov 1999 10:24:43 +0800" -->
<!-- name="Petter Reinholdtsen" -->
<!-- email="pere@hungry.com" -->
<!-- subject="Re: next release?" -->
<!-- id="199911150224.KAA01320@minerva.cc.uit.no" -->
<!-- inreplyto="next release?" -->
<title>sane-devel: Re: next release?</title>
<h1>Re: next release?</h1>
<b>Petter Reinholdtsen</b> (<a href="mailto:pere@hungry.com"><i>pere@hungry.com</i></a>)<br>
<i>Mon, 15 Nov 1999 10:24:43 +0800</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#123">[ date ]</a><a href="index.html#123">[ thread ]</a><a href="subject.html#123">[ subject ]</a><a href="author.html#123">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0124.html">raj2569@flashmail.com: "sane and video4linux"</a>
<li> <b>Previous message:</b> <a href="0122.html">Ralph Corderoy: "Re: Questions re Sane API digression &amp; MF Scanner"</a>
<li> <b>Maybe in reply to:</b> <a href="0085.html">William L. Sebok: "next release?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0222.html">Jens Scheithauer: "Re: next release?"</a>
<li> <b>Next in thread:</b> <a href="0126.html">Oliver Rauch: "Re: next release?"</a>
<li> <b>Reply:</b> <a href="0222.html">Jens Scheithauer: "Re: next release?"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
[Oliver Rauch]<br>
<i>&gt; I think David is the one who did the most work on dll and net, he</i><br>
<i>&gt; should decide about the patches made to it.</i><br>
<p>
Here I was going to have a long defense of my view of things, but I'll<br>
limit my self to this:<br>
<p>
In princible I agree, but as long as David seldom has time to response<br>
to patches, I will use my best judgment to decide if the change should<br>
be included.  I've done some bug fixes, and will continue to do so.<br>
<p>
In addition I have worked on porting the net backend to Win32, and<br>
might continue with that in the future.  I was working on changing the<br>
dll backend to use the ltdl library to make it work on all platforms,<br>
but got busy with other projects.  These changes are not included in<br>
CVS, but first released as patches to let people test it.  When I am<br>
sure they work, and David does not protest to them, I will include<br>
them in the CVS tree.<br>
<p>
<i>&gt; In the moment we talk about a new relase.</i><br>
<p>
Yes.  I just added my "rules" to try to stop everyone from sending<br>
patches to me.  (All patches should by the way be sent to the list for<br>
review, not to me. :-)<br>
<p>
<i>&gt; Changes to sanei-scsi etc. should be discussed with David Mosberger</i><br>
<i>&gt; and may be Andreas Beck.  We have to do a lot of tests before we</i><br>
<i>&gt; release a version with changes in the sanei-* routines!</i><br>
<p>
I've already added the Digital UNIX 4.0D patches to sanei_scsi.c, and<br>
was planning to include the Linux sg patches when I had time to test<br>
them.  As I lack a decent test platform, it will not happen anytime<br>
soon. :-( I will not do big changes to sanei, as I have too little<br>
knowledge on its details.<br>
<p>
[Kai Haberzettl]<br>
<i>&gt; Where is [the CVS tree] currently?</i><br>
<p>
Check &lt;URL:<a href="http://www.student.uit.no/~pere/linux/">http://www.student.uit.no/~pere/linux/</a>&gt;.<br>
<pre>
-- 
##&gt;  Petter Reinholdtsen  &lt;##  |  <a href="mailto:pere@td.org.uit.no">pere@td.org.uit.no</a>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0124.html">raj2569@flashmail.com: "sane and video4linux"</a>
<li> <b>Previous message:</b> <a href="0122.html">Ralph Corderoy: "Re: Questions re Sane API digression &amp; MF Scanner"</a>
<li> <b>Maybe in reply to:</b> <a href="0085.html">William L. Sebok: "next release?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0222.html">Jens Scheithauer: "Re: next release?"</a>
<li> <b>Next in thread:</b> <a href="0126.html">Oliver Rauch: "Re: next release?"</a>
<li> <b>Reply:</b> <a href="0222.html">Jens Scheithauer: "Re: next release?"</a>
<!-- reply="end" -->
</ul>
