<!-- received="Tue Nov 16 00:45:47 1999 PST" -->
<!-- sent="Tue, 16 Nov 1999 00:45:44 -0800" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="David.Mosberger@acm.org" -->
<!-- subject="Re: next release?" -->
<!-- id="199911160845.AAA23874@panda.mostang.com" -->
<!-- inreplyto="199911151717.BAA01635@minerva.cc.uit.no" -->
<title>sane-devel: Re: next release?</title>
<h1>Re: next release?</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:David.Mosberger@acm.org"><i>David.Mosberger@acm.org</i></a>)<br>
<i>Tue, 16 Nov 1999 00:45:44 -0800</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#147">[ date ]</a><a href="index.html#147">[ thread ]</a><a href="subject.html#147">[ subject ]</a><a href="author.html#147">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0148.html">David Mosberger-Tang: "Re: sane and video4linux"</a>
<li> <b>Previous message:</b> <a href="0146.html">Michael J. Dikkema: "Vista S6E problems"</a>
<li> <b>In reply to:</b> <a href="0140.html">Petter Reinholdtsen: "Re: next release?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;&gt;&gt;&gt;&gt; On Tue, 16 Nov 1999 01:17:59 +0800, Petter Reinholdtsen &lt;<a href="mailto:pere@hungry.com">pere@hungry.com</a>&gt; said:</i><br>
<p>
  Petter&gt; I would really like active maintainers for all the SANE<br>
  Petter&gt; source, so I could concentrate on making patches and send<br>
  Petter&gt; them to the maintainer for review.  As this did not seem to<br>
  Petter&gt; happend, I decided to do the nesessary work myself until<br>
  Petter&gt; development speed increases again.<br>
<p>
That's fine by me---so long as you try to minimize changes to routines<br>
that are shared by all backends/frontends (sanei etc., the official<br>
API, etc.).<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0148.html">David Mosberger-Tang: "Re: sane and video4linux"</a>
<li> <b>Previous message:</b> <a href="0146.html">Michael J. Dikkema: "Vista S6E problems"</a>
<li> <b>In reply to:</b> <a href="0140.html">Petter Reinholdtsen: "Re: next release?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
