<!-- received="Fri Nov 19 00:29:22 1999 PST" -->
<!-- sent="Fri, 19 Nov 1999 09:28:09 +0100" -->
<!-- name="Wolfgang Goeller" -->
<!-- email="wgoeller@active.ch" -->
<!-- subject="Re: SANE 1.0.1 locks up system: Linux 2.2.10, Agfa SnapScan 1236s" -->
<!-- id="" -->
<!-- inreplyto="SANE 1.0.1 locks up system: Linux 2.2.10, Agfa SnapScan 1236s" -->
<title>sane-devel: Re: SANE 1.0.1 locks up system: Linux 2.2.10, Agfa SnapScan 1236s</title>
<h1>Re: SANE 1.0.1 locks up system: Linux 2.2.10, Agfa SnapScan 1236s</h1>
<b>Wolfgang Goeller</b> (<a href="mailto:wgoeller@active.ch"><i>wgoeller@active.ch</i></a>)<br>
<i>Fri, 19 Nov 1999 09:28:09 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#179">[ date ]</a><a href="index.html#179">[ thread ]</a><a href="subject.html#179">[ subject ]</a><a href="author.html#179">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0180.html">Klaas Freitag: "Re: Mustek SE 12000SP Pro with Domex DMX3191 PCI SCSI controler"</a>
<li> <b>Previous message:</b> <a href="0178.html">David Mosberger-Tang: "Re: The Sane mailing list is regurgitating old messages"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
David Brodbeck wrote:<br>
 <br>
<i>&gt; &gt; My understanding is that the 1505 is supposed to work with the</i><br>
<i>&gt; &gt; Adaptec 152x driver. Have you tried using it?</i><br>
<i>&gt; </i><br>
<i>&gt; --&gt; Yes.  But it's a weird semi-plug-and-play card, and I couldn't get</i><br>
<i>&gt; Linux to recognize it, even using the same settings Win95 seemed to be</i><br>
<i>&gt; using.</i><br>
<p>
For the 1505 you must manually set the IRQ. I would suggest to build<br>
the 1505 as module. Then you can set the IRQ as part of the options.<br>
<p>
Regards<br>
Wolfgang<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0180.html">Klaas Freitag: "Re: Mustek SE 12000SP Pro with Domex DMX3191 PCI SCSI controler"</a>
<li> <b>Previous message:</b> <a href="0178.html">David Mosberger-Tang: "Re: The Sane mailing list is regurgitating old messages"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
