<!-- received="Sun Nov 21 12:52:19 1999 PST" -->
<!-- sent="Sun, 21 Nov 1999 14:46:09 -0600" -->
<!-- name="Laura DeWitt" -->
<!-- email="cats-rule@home.net" -->
<!-- subject="Problem with SANE and SCSI scanner" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Problem with SANE and SCSI scanner</title>
<h1>Problem with SANE and SCSI scanner</h1>
<b>Laura DeWitt</b> (<a href="mailto:cats-rule@home.net"><i>cats-rule@home.net</i></a>)<br>
<i>Sun, 21 Nov 1999 14:46:09 -0600</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#197">[ date ]</a><a href="index.html#197">[ thread ]</a><a href="subject.html#197">[ subject ]</a><a href="author.html#197">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0198.html">Dave Restall - System Administrator: "Backend development problems."</a>
<li> <b>Previous message:</b> <a href="0196.html">Lee Brown: "Re: Compile on Suse 5.3"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0201.html">Oliver Rauch: "Re: Problem with SANE and SCSI scanner"</a>
<li> <b>Reply:</b> <a href="0201.html">Oliver Rauch: "Re: Problem with SANE and SCSI scanner"</a>
<li> <b>Reply:</b> <a href="0205.html">Laura DeWitt: "Re: Problem with SANE and SCSI scanner"</a>
<li> <b>Reply:</b> <a href="0206.html">Laura DeWitt: "Re: Problem with SANE and SCSI scanner"</a>
<li> <b>Reply:</b> <a href="0238.html">Laura DeWitt: "Re: Problem with SANE and SCSI scanner"</a>
<li> <b>Reply:</b> <a href="0247.html">Laura DeWitt: "Re: Problem with SANE and SCSI scanner"</a>
<li> <b>Reply:</b> <a href="0272.html">Laura DeWitt: "Re: Problem with SANE and SCSI scanner"</a>
<li> <b>Reply:</b> <a href="0276.html">Oliver Rauch: "Re: Problem with SANE and SCSI scanner"</a>
<li> <b>Reply:</b> <a href="0282.html">Laura DeWitt: "Re: Problem with SANE and SCSI scanner"</a>
<li> <b>Reply:</b> <a href="0288.html">Douglas Gilbert: "Re: Problem with SANE and SCSI scanner"</a>
<li> <b>Reply:</b> <a href="0294.html">Oliver Rauch: "Re: Problem with SANE and SCSI scanner"</a>
<li> <b>Reply:</b> <a href="0295.html">Oliver Rauch: "Re: Problem with SANE and SCSI scanner"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Can somebody help me get SANE to work with my SCSI scanner?<br>
<p>
[root@c554912-a ldewitt]# scanimage --device sga -- help<br>
scanimage: open of device sga failed: Invalid argument<br>
[root@c554912-a ldewitt]#  scanimage --device sg0<br>
scanimage: open of device sg0 failed: Invalid argument<br>
[root@c554912-a ldewitt]# scanimage --list-devices<br>
[root@c554912-a ldewitt]# find-scanner<br>
find-scanner: found scanner "CANON IX-06015C 2.02" at device /dev/sg0<br>
find-scanner: found scanner "CANON IX-06015C 2.02" at device /dev/sga<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0198.html">Dave Restall - System Administrator: "Backend development problems."</a>
<li> <b>Previous message:</b> <a href="0196.html">Lee Brown: "Re: Compile on Suse 5.3"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0201.html">Oliver Rauch: "Re: Problem with SANE and SCSI scanner"</a>
<li> <b>Reply:</b> <a href="0201.html">Oliver Rauch: "Re: Problem with SANE and SCSI scanner"</a>
<li> <b>Reply:</b> <a href="0205.html">Laura DeWitt: "Re: Problem with SANE and SCSI scanner"</a>
<li> <b>Reply:</b> <a href="0206.html">Laura DeWitt: "Re: Problem with SANE and SCSI scanner"</a>
<li> <b>Reply:</b> <a href="0238.html">Laura DeWitt: "Re: Problem with SANE and SCSI scanner"</a>
<li> <b>Reply:</b> <a href="0247.html">Laura DeWitt: "Re: Problem with SANE and SCSI scanner"</a>
<li> <b>Reply:</b> <a href="0272.html">Laura DeWitt: "Re: Problem with SANE and SCSI scanner"</a>
<li> <b>Reply:</b> <a href="0276.html">Oliver Rauch: "Re: Problem with SANE and SCSI scanner"</a>
<li> <b>Reply:</b> <a href="0282.html">Laura DeWitt: "Re: Problem with SANE and SCSI scanner"</a>
<li> <b>Reply:</b> <a href="0288.html">Douglas Gilbert: "Re: Problem with SANE and SCSI scanner"</a>
<li> <b>Reply:</b> <a href="0294.html">Oliver Rauch: "Re: Problem with SANE and SCSI scanner"</a>
<li> <b>Reply:</b> <a href="0295.html">Oliver Rauch: "Re: Problem with SANE and SCSI scanner"</a>
<!-- reply="end" -->
</ul>
