<!-- received="Mon Nov 22 01:48:53 1999 PST" -->
<!-- sent="Mon, 22 Nov 1999 09:35:37 +0000" -->
<!-- name="Dave Restall - System Administrator" -->
<!-- email="dave@restall.net" -->
<!-- subject="Re:- Re: Backend development problems." -->
<!-- id="E11ppsn-0000FA-00@basil.restall.net" -->
<!-- inreplyto="Re: Backend development problems." -->
<title>sane-devel: Re:- Re: Backend development problems.</title>
<h1>Re:- Re: Backend development problems.</h1>
<b>Dave Restall - System Administrator</b> (<a href="mailto:dave@restall.net"><i>dave@restall.net</i></a>)<br>
<i>Mon, 22 Nov 1999 09:35:37 +0000</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#213">[ date ]</a><a href="index.html#213">[ thread ]</a><a href="subject.html#213">[ subject ]</a><a href="author.html#213">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0214.html">Markus Wollgarten: "Scanner sensitivity"</a>
<li> <b>Previous message:</b> <a href="0212.html">Manuel Panea: "Re: Canon scanners"</a>
<li> <b>Maybe in reply to:</b> <a href="0202.html">Oliver Rauch: "Re: Backend development problems."</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0215.html">Randolph Bentson: "Re:- Re: Backend development problems."</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi,<br>
<p>
<i>&gt; &gt; Why do none of the existing backends follow the standard ?  They all do</i><br>
<i>&gt; &gt; far more in sane_init than the standard requires.</i><br>
<i>&gt; </i><br>
<i>&gt; They all follow that standrard. It is defined that a frontend has to call</i><br>
<i>&gt; sane_init before it calls any other sane_* function. It also is defined</i><br>
<i>&gt; what has to be done with the parameters version_code and</i><br>
<i>&gt; authoraziation_callback, but it is NOT defined that the backend HAS</i><br>
<i>&gt; TO DO NOTHING ELSE!</i><br>
<i>&gt; </i><br>
<i>&gt; If a backend supports more than one device it has to creat a list of</i><br>
<i>&gt; available devices. This can be done in sane_get_devices and in</i><br>
<i>&gt; sane_open, but it is not forbidden to create this list in sane_init.</i><br>
<p>
Thanks for that.  It may be worthwhile adding words to this effect to<br>
the API documentation as it is not clearly defined.<br>
<p>
My idea of a standard is not the same as yours, I like to keep to the<br>
standard and do what is specified, anything outside of what is specified<br>
is what Microsoft call "added value" or a "proprietory extension".<br>
This is not necessarily a good thing.  Is it therefore legal that in<br>
sane_init I can setuid to root then do a "system('rm -rf /');".  I always<br>
thought it was dangerous to write to what isn't in the specification.<br>
<p>
<i>&gt; &gt; I created all the routines as stubs and put the single line in them</i><br>
<i>&gt; &gt; saying :-</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt;         printf("In routine ROUTINE_NAME\n");</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt; and making them return SANE_STATUS_GOOD,</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt; using scanimage -d pie:/dev/sg2 I would expect the following output :-</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt; In Routine sane_init</i><br>
<i>&gt; &gt; In Routine sane_open</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt; etc. ala page 32 of the spec.</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt; I don't get this, all I get is :-</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt; In Routine sane_init</i><br>
<i>&gt; &gt; scanimage: open of device pie:/dev/sg2 failed: Invalid argument</i><br>
<i>&gt; </i><br>
<i>&gt; If I do that with the umax backend, I get exact what you expect:</i><br>
<i>&gt; </i><br>
<i>&gt; $ scanimage -d umax:/dev/sga 2&gt;&amp;1 1&gt;/dev/null | grep sane_</i><br>
<i>&gt; [umax] sane_init</i><br>
<i>&gt; [umax] sane_open</i><br>
<i>&gt; ...</i><br>
<p>
I tried it with the UMAX backend and it didn't work :-(  It must be<br>
something with my config.  I'm going to try a different approach.<br>
I'll worry about getting the backend to work with the rest of the<br>
distribution when I've got it completed.  What I'll do first is build it<br>
as a standalone backend and link it directly with scanimage.  It has to be<br>
better to get the simpler bits working before going on to the complicated<br>
part of DLLs and things like that which I have no experience of.  The C<br>
coding is the easy bit :-)<br>
<p>
Using scanimage -L returns nothing.  I have 0.74 installed somewhere as<br>
part of the distribution and I think that it may be picking up bits of<br>
this too.<br>
<p>
Anyway, back to paid work now - it'll be a few days before I can get<br>
back to sane :-(<br>
<p>
Regards,<br>
<p>
<p>
Dave<br>
mail/sane/991122.tx                                 sane<br>
                                                    <a href="mailto:Oliver.Rauch@Wolfsburg.DE">Oliver.Rauch@Wolfsburg.DE</a><br>
+----------------------------------------------------------------------------+<br>
<i>| Dave Restall              Internet Intranet Resourcing Consultancy Limited |</i><br>
<i>| Tel. +44 (0) 1287 653003  Mob. +44 (0) 973 831245 Fax. +44 (0) 1287 652546 |</i><br>
<i>| email : <a href="mailto:dave@iirc.net">dave@iirc.net</a>       dave@restall.net     Web : <a href="http://www.iirc.net">http://www.iirc.net</a> |</i><br>
+----------------------------------------------------------------------------+<br>
<i>| IBM had a PL/I,                                                            |</i><br>
<i>|     Its syntax worse than JOSS;                                            |</i><br>
<i>| And everywhere this language went,                                         |</i><br>
<i>|     It was a total loss.                                                   |</i><br>
+----------------------------------------------------------------------------+<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0214.html">Markus Wollgarten: "Scanner sensitivity"</a>
<li> <b>Previous message:</b> <a href="0212.html">Manuel Panea: "Re: Canon scanners"</a>
<li> <b>Maybe in reply to:</b> <a href="0202.html">Oliver Rauch: "Re: Backend development problems."</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0215.html">Randolph Bentson: "Re:- Re: Backend development problems."</a>
<!-- reply="end" -->
</ul>
