<!-- received="Mon Nov 22 07:42:57 1999 PST" -->
<!-- sent="Mon, 22 Nov 1999 07:44:14 -0800" -->
<!-- name="Randolph Bentson" -->
<!-- email="bentson@grieg.holmsjoen.com" -->
<!-- subject="Re:- Re: Backend development problems." -->
<!-- id="199911221544.HAA20224@grieg.holmsjoen.com" -->
<!-- inreplyto="Re: Backend development problems." -->
<title>sane-devel: Re:- Re: Backend development problems.</title>
<h1>Re:- Re: Backend development problems.</h1>
<b>Randolph Bentson</b> (<a href="mailto:bentson@grieg.holmsjoen.com"><i>bentson@grieg.holmsjoen.com</i></a>)<br>
<i>Mon, 22 Nov 1999 07:44:14 -0800</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#215">[ date ]</a><a href="index.html#215">[ thread ]</a><a href="subject.html#215">[ subject ]</a><a href="author.html#215">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0216.html">Oliver Rauch: "Re: GIMP/SANE PERMISSIONS"</a>
<li> <b>Previous message:</b> <a href="0214.html">Markus Wollgarten: "Scanner sensitivity"</a>
<li> <b>Maybe in reply to:</b> <a href="0202.html">Oliver Rauch: "Re: Backend development problems."</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt; Dave Restall &lt;<a href="mailto:dave@restall.net">dave@restall.net</a>&gt; wrote:</i><br>
<i>&gt; My idea of a standard is not the same as yours, I like to keep to the</i><br>
<i>&gt; standard and do what is specified, anything outside of what is specified</i><br>
<i>&gt; is what Microsoft call "added value" or a "proprietory extension".</i><br>
<p>
The distinction is between permissive standards and restrictive standards.<br>
The former specifies what must be done and the rest is optional; the latter<br>
specifies what must be done and the rest is prohibited.  One classic example<br>
of this distinction is FORTRAN vs. Ada.<br>
<p>
With respect to permissive standards, Microsoft has a reputation for<br>
adding undocumented functions, but it is possible to document extensions.<br>
(I recall that CDC did a particularly good job in their FORTRAN reference<br>
manual: the extensions were typeset in a different font.)<br>
<p>
I think the goal in writing SANE modules would be to adhere to the<br>
"principle of least surprise" long known to the UNIX community, i.e.,<br>
writing them so that they contain the fewest violations to popular<br>
assumptions about their behavior and then clearly documenting those<br>
violations.<br>
<p>
Randolph Bentson<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0216.html">Oliver Rauch: "Re: GIMP/SANE PERMISSIONS"</a>
<li> <b>Previous message:</b> <a href="0214.html">Markus Wollgarten: "Scanner sensitivity"</a>
<li> <b>Maybe in reply to:</b> <a href="0202.html">Oliver Rauch: "Re: Backend development problems."</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
