<!-- received="Tue Nov 23 12:18:38 1999 PST" -->
<!-- sent="Tue, 23 Nov 1999 21:18:30 +0100 (CET)" -->
<!-- name="Simon Schmidig" -->
<!-- email="schmidi6@etu.unige.ch" -->
<!-- subject="Re: parallel port scanner" -->
<!-- id="" -->
<!-- inreplyto="parallel port scanner" -->
<title>sane-devel: Re: parallel port scanner</title>
<h1>Re: parallel port scanner</h1>
<b>Simon Schmidig</b> (<a href="mailto:schmidi6@etu.unige.ch"><i>schmidi6@etu.unige.ch</i></a>)<br>
<i>Tue, 23 Nov 1999 21:18:30 +0100 (CET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#223">[ date ]</a><a href="index.html#223">[ thread ]</a><a href="subject.html#223">[ subject ]</a><a href="author.html#223">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0224.html">Arnaud Gomes-do-Vale: "Re: Sane on OpenBSD/sparc"</a>
<li> <b>Previous message:</b> <a href="0222.html">Jens Scheithauer: "Re: next release?"</a>
<li> <b>Maybe in reply to:</b> <a href="0220.html">Simon Schmidig: "parallel port scanner"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Tue, 23 Nov 1999, Paul Barton McFarling wrote:<br>
<i>&gt; There is a scanner driver for the Mustek 600 III EP Plus</i><br>
<i>&gt; at <a href="http://www.i2k.com/~jeffd/a4s2">http://www.i2k.com/~jeffd/a4s2</a></i><br>
<i>&gt; It may or may not work for your scanner.</i><br>
<i>&gt; This is not a SANE backend.</i><br>
<p>
i'm so happy, it works. :-)) now i con use my scanner also in<br>
the linux environment.<br>
only the linetype scan gives a segment fault. <br>
is there perhaps a possibility for an access for a normal user. <br>
now i scan in the superuser mode.<br>
<p>
<pre>
-- 
-----------------------------------------------------------
                                             simon schmidig
                                      <a href="mailto:schmidi6@etu.unige.ch">schmidi6@etu.unige.ch</a>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0224.html">Arnaud Gomes-do-Vale: "Re: Sane on OpenBSD/sparc"</a>
<li> <b>Previous message:</b> <a href="0222.html">Jens Scheithauer: "Re: next release?"</a>
<li> <b>Maybe in reply to:</b> <a href="0220.html">Simon Schmidig: "parallel port scanner"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
