<!-- received="Tue Nov 23 13:07:17 1999 PST" -->
<!-- sent="Tue, 23 Nov 1999 13:08:45 -0800" -->
<!-- name="Vincent Parrilla" -->
<!-- email="parrilla@ix.netcom.com" -->
<!-- subject="Re: Experiences comparing/improving UMAX scans, Sane vs VistaScan" -->
<!-- id="" -->
<!-- inreplyto="Experiences comparing/improving UMAX scans, Sane vs VistaScan" -->
<title>sane-devel: Re: Experiences comparing/improving UMAX scans, Sane vs VistaScan</title>
<h1>Re: Experiences comparing/improving UMAX scans, Sane vs VistaScan</h1>
<b>Vincent Parrilla</b> (<a href="mailto:parrilla@ix.netcom.com"><i>parrilla@ix.netcom.com</i></a>)<br>
<i>Tue, 23 Nov 1999 13:08:45 -0800</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#226">[ date ]</a><a href="index.html#226">[ thread ]</a><a href="subject.html#226">[ subject ]</a><a href="author.html#226">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0227.html">Bill Thompson: "Epson Perfection 1200-SCSI Scanner"</a>
<li> <b>Previous message:</b> <a href="0225.html">Rod Pike: "Experiences comparing/improving UMAX scans, Sane vs VistaScan outputs"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
For what's its worth,  I am running a UMAX 1220s on my Linux box using<br>
SANE1.0.1, Gimp(?) and xscanimage 0.39 and am getting excellent results.<br>
I haven't noticed any horizontal lines - but will look closer.<br>
<p>
Vince Parrilla<br>
<p>
<p>
<i>&gt; Greetings,</i><br>
<i>&gt;</i><br>
<i>&gt; I'm trying to get Sane to provide me as good an output that I'm getting</i><br>
<i>&gt; from the UMAX supplied drivers for my 1220S.    I'm not sure if it's</i><br>
<i>&gt; something I'm doing wrong, something misconfigured, or magic that the</i><br>
<i>&gt; Windows drivers are doing but I'm getting much cleaner scans for the same</i><br>
<i>&gt; dpi (300) from my scanner using the Windows interface.  The output I get</i><br>
<i>&gt; using xscanimage have very faint horizontal lines.</i><br>
<i>&gt;</i><br>
<i>&gt; I'm using SANE 1.0.1 and Gimp 1.0.4.  I really would prefer to stick to one</i><br>
<i>&gt; OS for scanning and editing.</i><br>
<i>&gt;</i><br>
<i>&gt; Cheers,</i><br>
<i>&gt; Rod</i><br>
<i>&gt;</i><br>
<i>&gt; --</i><br>
<i>&gt; Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a></i><br>
<i>&gt; To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a></i><br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0227.html">Bill Thompson: "Epson Perfection 1200-SCSI Scanner"</a>
<li> <b>Previous message:</b> <a href="0225.html">Rod Pike: "Experiences comparing/improving UMAX scans, Sane vs VistaScan outputs"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
