<!-- received="Thu Nov 25 08:20:29 1999 PST" -->
<!-- sent="Thu, 25 Nov 1999 17:24:38 +0100" -->
<!-- name="Oliver Rauch" -->
<!-- email="oliver.rauch@Wolfsburg.DE" -->
<!-- subject="Re: Umax 1220S problem fixed" -->
<!-- id="" -->
<!-- inreplyto="Umax 1220S problem fixed" -->
<title>sane-devel: Re: Umax 1220S problem fixed</title>
<h1>Re: Umax 1220S problem fixed</h1>
<b>Oliver Rauch</b> (<a href="mailto:oliver.rauch@Wolfsburg.DE"><i>oliver.rauch@Wolfsburg.DE</i></a>)<br>
<i>Thu, 25 Nov 1999 17:24:38 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#242">[ date ]</a><a href="index.html#242">[ thread ]</a><a href="subject.html#242">[ subject ]</a><a href="author.html#242">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0243.html">genkin@canada.com: "Mustek Paragon A3 SP / 1200SP"</a>
<li> <b>Previous message:</b> <a href="0241.html">Cyril Y. Nickonorov: "Re: Umax 1220S problem fixed"</a>
<li> <b>Maybe in reply to:</b> <a href="0234.html">Cyril Y. Nickonorov: "Umax 1220S problem fixed"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
"Cyril Y. Nickonorov" wrote:<br>
<p>
<i>&gt; &gt; &gt; I just found why my scanner refused to do it's job. The problem was buffer size</i><br>
<i>&gt; &gt; &gt; value in</i><br>
<i>&gt; &gt; &gt; /usr/include/scsi/sg.h file. I've put there incorrect value and it causes sane</i><br>
<i>&gt; &gt; &gt; to</i><br>
<i>&gt; &gt; &gt; print "out of memory" error in log file.</i><br>
<i>&gt; &gt; &gt;</i><br>
<i>&gt; &gt; &gt; Now everything works just ok. :)</i><br>
<i>&gt; &gt; &gt;</i><br>
<i>&gt; &gt; &gt;</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt; ;-)</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt; Fine.</i><br>
<i>&gt;</i><br>
<i>&gt; Well, unfortunately I have overestimated my success. :(</i><br>
<i>&gt; As for today, scanner works fine only at 150 dpi and</i><br>
<i>&gt; lower resolutions. At 300 dpi it stalls when saving</i><br>
<i>&gt; image or sending it to the GIMP. I suppose it is again</i><br>
<i>&gt; SG_BIG_BUF problem. What are the reasonable values for</i><br>
<i>&gt; this value to be compliled in kernel and sane?</i><br>
<i>&gt;</i><br>
<p>
If you want to try again:<br>
<p>
edit<br>
/usr/include/scsi/sg.h<br>
AND<br>
/usr/src/linux/include/scsi/sg.h<br>
<p>
and changed SG_BIG_BUF to 131072<br>
<p>
Then recompile and INSTALL the kernel, reboot<br>
and recompile SANE<br>
<p>
Bye<br>
Oliver<br>
<p>
<pre>
--
Homepage:       <a href="http://www.wolfsburg.de/~rauch">http://www.wolfsburg.de/~rauch</a>
sane-umax:      <a href="http://www.wolfsburg.de/~rauch/sane/sane-umax.html">http://www.wolfsburg.de/~rauch/sane/sane-umax.html</a>
xsane:          <a href="http://www.wolfsburg.de/~rauch/sane/sane-xsane.html">http://www.wolfsburg.de/~rauch/sane/sane-xsane.html</a>
E-Mail:         <a href="mailto:Oliver.Rauch@Wolfsburg.DE">mailto:Oliver.Rauch@Wolfsburg.DE</a>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0243.html">genkin@canada.com: "Mustek Paragon A3 SP / 1200SP"</a>
<li> <b>Previous message:</b> <a href="0241.html">Cyril Y. Nickonorov: "Re: Umax 1220S problem fixed"</a>
<li> <b>Maybe in reply to:</b> <a href="0234.html">Cyril Y. Nickonorov: "Umax 1220S problem fixed"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
