<!-- received="Thu Nov 25 21:16:05 1999 PST" -->
<!-- sent="Thu, 25 Nov 1999 23:19:47 -0600 (EST)" -->
<!-- name="Russ Burdick" -->
<!-- email="grub@toast.net" -->
<!-- subject="Re: Acer 310s?" -->
<!-- id="" -->
<!-- inreplyto="19991009234308Z433432-9078+157@scapa.cs.ualberta.ca" -->
<title>sane-devel: Re: Acer 310s?</title>
<h1>Re: Acer 310s?</h1>
<b>Russ Burdick</b> (<a href="mailto:grub@toast.net"><i>grub@toast.net</i></a>)<br>
<i>Thu, 25 Nov 1999 23:19:47 -0600 (EST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#255">[ date ]</a><a href="index.html#255">[ thread ]</a><a href="subject.html#255">[ subject ]</a><a href="author.html#255">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0256.html">Manuel Panea: "Re: Problem with SANE and SCSI scanner"</a>
<li> <b>Previous message:</b> <a href="0254.html">Douglas Gilbert: "Re: no SG__BIG_BUF in kernel 2.2.12"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Sat, 9 Oct 1999, Kevin Charter wrote:<br>
<i>&gt; &gt; </i><br>
<i>&gt; &gt; i'm using sane 1.0.1 and have tried both the src-0.8 and src-1.0 patches </i><br>
<i>&gt; &gt; available on your site with the same results. if there is something else i</i><br>
<i>&gt; &gt; missed or should try then just let me know. thanks,</i><br>
<i>&gt; </i><br>
<i>&gt; Right now I don't have any suggestions for other things to try. I guess</i><br>
<i>&gt; you could try sending me a sample image or two to look at (though if</i><br>
<i>&gt; it's the same problem as I've seen before, that might not do much good).</i><br>
<i>&gt; </i><br>
<i>&gt; Try seeing if images less than 64kb long scan OK. It's probably best to</i><br>
<i>&gt; use greyscale for this. I assume that the problem is the same</i><br>
<i>&gt; regardless of the scanning mode, right? With what I've been told before,</i><br>
<i>&gt; the first 64kb or so of image data is OK, and then after that it becomes</i><br>
<i>&gt; garbled.</i><br>
<i>&gt; </i><br>
<p>
ok, finally have gotten my scanner to cooperate with my scsi hard drive so<br>
i can go back to getting this thing to work. i have checked what you just<br>
said and i am able to get greyscale images less than 64k to scan in ok. i<br>
tried a color image at 59.9k and the top half of it was fine, but then it<br>
got worse towards the bottom. if you'd like to see i can send you some of<br>
these. i should probably note that i'm basically going blind because the<br>
preview in xscanimage/xsane isnt showing me much. i can choose pretty much<br>
any section which is &lt;64k an it will get at least part of it scanned in<br>
ok. very small scans (~15-20k) seem to come out great.<br>
<p>
<i>&gt; A fellow mailed me a couple of days ago saying his SnapScan 600 would</i><br>
<i>&gt; scan in colour mode really slowly (about half an hour for a full-size</i><br>
<i>&gt; image). He found that there were two sg.h files on his system, that they</i><br>
<i>&gt; were different, and that the scsi driver and sane seemed to be using</i><br>
<i>&gt; different ones. You might want to run</i><br>
<i>&gt; </i><br>
<i>&gt; find /usr/include -name "sg.h" -exec ls -l {} \;</i><br>
<i>&gt; </i><br>
<i>&gt; on your system and see what it turns up. Maybe something similar is</i><br>
<i>&gt; going on here. It's a long shot, but worth trying. </i><br>
<i>&gt; </i><br>
<p>
checked that and it doesnt find anything. i also did a<br>
<p>
diff /usr/src/linux/include/scsi/sg.h /usr/include/scsi/sg.h<br>
<p>
which i saw someone else mention and there was no difference.<br>
<p>
<i>&gt; BTW what versions of the kernel and SANE are you using? (Sorry if I asked</i><br>
<i>&gt; this before)</i><br>
<i>&gt; </i><br>
<p>
kernel 2.2.13 and sane-1.0.1.<br>
<p>
<i>&gt; Kevin</i><br>
<i>&gt; -- </i><br>
<i>&gt; Kevin Charter              </i><br>
<i>&gt; <a href="mailto:charter@cs.rice.edu">charter@cs.rice.edu</a> | charter@cs.ualberta.ca</i><br>
<i>&gt; <a href="http://www.cs.rice.edu/~charter">http://www.cs.rice.edu/~charter</a> | http://www.cs.ualberta.ca/~charter</i><br>
<i>&gt; </i><br>
<p>
if you have any other suggestions, just let me know. i should be able to<br>
pick at this now. let me konw if you'd like to see some samples of what<br>
i'm getting in as well as what the previews are looking like. thanks,<br>
<p>
Russ<br>
<p>
=======================================================================<br>
<i>| Russ Burdick | "What do the good know...except what the             |</i><br>
<i>|===============  bad teach them by their excesses?" -Clive Barker    |</i><br>
<i>| <a href="mailto:grub@toast.net">grub@toast.net</a>                        <a href="http://members.toast.net/grub">http://members.toast.net/grub</a> |</i><br>
=======================================================================<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0256.html">Manuel Panea: "Re: Problem with SANE and SCSI scanner"</a>
<li> <b>Previous message:</b> <a href="0254.html">Douglas Gilbert: "Re: no SG__BIG_BUF in kernel 2.2.12"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
