<!-- received="Sat Nov 27 09:10:35 1999 PST" -->
<!-- sent="Sat, 27 Nov 1999 14:06:19 +0100" -->
<!-- name="Henning Meier-Geinitz" -->
<!-- email="henningmg@gmx.de" -->
<!-- subject="Re: Mustek 600 IIN color question" -->
<!-- id="" -->
<!-- inreplyto="383F2A39.55E76429@informatik.umu.se" -->
<title>sane-devel: Re: Mustek 600 IIN color question</title>
<h1>Re: Mustek 600 IIN color question</h1>
<b>Henning Meier-Geinitz</b> (<a href="mailto:henningmg@gmx.de"><i>henningmg@gmx.de</i></a>)<br>
<i>Sat, 27 Nov 1999 14:06:19 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#270">[ date ]</a><a href="index.html#270">[ thread ]</a><a href="subject.html#270">[ subject ]</a><a href="author.html#270">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0271.html">Mathias Wennberg: "Mustek 600 IIN color patch"</a>
<li> <b>Previous message:</b> <a href="0269.html">Larry Snyder: "Re: SANE support on Solaris 2.6"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hello,<br>
<p>
[color problem with mustek 600 II N]<br>
<p>
There are (at least) two firmware versions. The backend seems to work<br>
with one of these, the other shows the behaviour mentioned in your<br>
mail. I have written a small patch a long time ago but it wasn't build<br>
into sane because it could break the backend for users of the other<br>
firmware version. The patch doesn't fix the problem totally but the<br>
images are usable (for me). There remain some stripes after the end of<br>
the scanned image. Perhaps I can fix this some time but don't count on<br>
this.<br>
<p>
<i>&gt; Is it possible to get this scanner to scan in color under Linux? If so,</i><br>
<i>&gt; how do I do (simple version please, I am not directly used to recompile</i><br>
<i>&gt; programs and such stuff)?</i><br>
<p>
You must use the source (tar.gz), I don't have experience with the<br>
source rpms. Deinstall your existing sane and download the sane source<br>
code (e..g from <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>). Unpack the tar file in<br>
some directory (e.g. /usr/src/). Cd to the sane directory<br>
(/usr/src/sane-1.0.1) and patch the source code <br>
(patch -p1 &lt;patchfile). The patchfile is attached to this mail. Read the<br>
documentation for compiling and installation and install sane. Don't<br>
use line-distance-fix as the scanner reports its line-distance<br>
correctly.<br>
<p>
Feel free to ask again if you get stuck.<br>
<p>
Ciao, Henning<br>
<p>
Patchfile:<br>
<p>
diff -ru sane-0.72.orig/backend/mustek.c sane-0.72/backend/mustek.c<br>
--- sane-0.72.orig/backend/mustek.c	Tue Mar  3 04:02:43 1998<br>
+++ sane-0.72/backend/mustek.c	Mon Apr 13 21:25:53 1998<br>
@@ -1394,7 +1394,7 @@<br>
 	}<br>
     }<br>
 <br>
-  num_saved_lines = s-&gt;ld.index[0] - s-&gt;ld.index[2];<br>
+  num_saved_lines = s-&gt;ld.index[0] - s-&gt;ld.index[1];<br>
   if (num_saved_lines &gt; 0)<br>
     /* restore the previously saved lines: */<br>
     memcpy (out, s-&gt;ld.buf[0], num_saved_lines * bpl);<br>
@@ -1404,10 +1404,10 @@<br>
       if (++s-&gt;ld.lmod3 &gt;= 3)<br>
 	s-&gt;ld.lmod3 = 0;<br>
 <br>
-      c = color_seq[s-&gt;ld.lmod3];<br>
+      c = s-&gt;ld.lmod3;<br>
       if (s-&gt;ld.index[c] &lt; 0)<br>
 	++s-&gt;ld.index[c];<br>
-      else if (s-&gt;ld.index[c] &lt; s-&gt;params.lines)<br>
+      else /*if (s-&gt;ld.index[c] &lt; s-&gt;params.lines)*/<br>
 	{<br>
 	  s-&gt;ld.c[c].Qk += s-&gt;ld.peak_res;<br>
 	  if (s-&gt;ld.c[c].Qk &gt; s-&gt;ld.max_value)<br>
@@ -1421,17 +1421,17 @@<br>
 		  DBG (1, "fix_line_distance_pp: lmod3=%d, index=(%d,%d,%d)\n",<br>
 		       s-&gt;ld.lmod3,<br>
 		       s-&gt;ld.index[0], s-&gt;ld.index[1], s-&gt;ld.index[2]);<br>
-		  num_lines = s-&gt;ld.index[2] - s-&gt;ld.ld_line;<br>
+		  num_lines = s-&gt;ld.index[1] - s-&gt;ld.ld_line;<br>
 <br>
 		  /* copy away the lines with at least one missing<br>
 		     color component, so that we can interleave them<br>
 		     with new scan data on the next call */<br>
-		  num_saved_lines = s-&gt;ld.index[0] - s-&gt;ld.index[2];<br>
+		  num_saved_lines = s-&gt;ld.index[0] - s-&gt;ld.index[1];<br>
 		  memcpy (s-&gt;ld.buf[0], out + num_lines * bpl,<br>
 			  num_saved_lines * bpl);<br>
 <br>
 		  /* notice the number of lines we processed */<br>
-		  s-&gt;ld.ld_line = s-&gt;ld.index[2];<br>
+		  s-&gt;ld.ld_line = s-&gt;ld.index[1];<br>
 		  /* return number of complete (r+g+b) lines */<br>
 		  return num_lines;<br>
 		}<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0271.html">Mathias Wennberg: "Mustek 600 IIN color patch"</a>
<li> <b>Previous message:</b> <a href="0269.html">Larry Snyder: "Re: SANE support on Solaris 2.6"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
