<!-- received="Sat Nov 27 17:45:03 1999 PST" -->
<!-- sent="Sat, 27 Nov 1999 19:49:40 -0600 (CST)" -->
<!-- name="David Nelson" -->
<!-- email="dnelson@jump.net" -->
<!-- subject="Re: decoding image formats" -->
<!-- id="" -->
<!-- inreplyto="Pine.LNX.4.10.9911251746550.27353-100000@shell1.aracnet.com" -->
<title>sane-devel: Re: decoding image formats</title>
<h1>Re: decoding image formats</h1>
<b>David Nelson</b> (<a href="mailto:dnelson@jump.net"><i>dnelson@jump.net</i></a>)<br>
<i>Sat, 27 Nov 1999 19:49:40 -0600 (CST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#274">[ date ]</a><a href="index.html#274">[ thread ]</a><a href="subject.html#274">[ subject ]</a><a href="author.html#274">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0275.html">Brian Macy: "[ANN] WinSane 0.2.0.0..."</a>
<li> <b>Previous message:</b> <a href="0273.html">David Brodbeck: "Re: Problem with SANE and SCSI scanner"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi Brian,<br>
<p>
Have you bounced this off of the gphoto folks: <a href="http://www.gphoto.org?">http://www.gphoto.org?</a><br>
<p>
Regards,<br>
<p>
	/\/elson<br>
<p>
<p>
On Thu, 25 Nov 1999, Brian Beattie wrote:<br>
<p>
<i>&gt; I'm tryimg to reverse engineer the protocol my digital camera uses,</i><br>
<i>&gt; because Mustek does not respond to queries about such.  I am making some</i><br>
<i>&gt; progress in talking to the camera.  I am getting images from it but do not</i><br>
<i>&gt; know how to decode the results.  Any ideas, clues or resources?</i><br>
<i>&gt; </i><br>
<i>&gt; The camera is a VDC 3500, and is the same as the Relisys/TECO dimera 3500,</i><br>
<i>&gt; I am pretty sure the camera is manufactured by TECO.</i><br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0275.html">Brian Macy: "[ANN] WinSane 0.2.0.0..."</a>
<li> <b>Previous message:</b> <a href="0273.html">David Brodbeck: "Re: Problem with SANE and SCSI scanner"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
