<!-- received="Sun Nov 28 06:48:30 1999 PST" -->
<!-- sent="Sun, 28 Nov 1999 15:53:13 +0100" -->
<!-- name="Oliver Rauch" -->
<!-- email="oliver.rauch@Wolfsburg.DE" -->
<!-- subject="Re: Problem with SANE and SCSI scanner" -->
<!-- id="" -->
<!-- inreplyto="Problem with SANE and SCSI scanner" -->
<title>sane-devel: Re: Problem with SANE and SCSI scanner</title>
<h1>Re: Problem with SANE and SCSI scanner</h1>
<b>Oliver Rauch</b> (<a href="mailto:oliver.rauch@Wolfsburg.DE"><i>oliver.rauch@Wolfsburg.DE</i></a>)<br>
<i>Sun, 28 Nov 1999 15:53:13 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#276">[ date ]</a><a href="index.html#276">[ thread ]</a><a href="subject.html#276">[ subject ]</a><a href="author.html#276">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0277.html">Bernd Schroeder: "Re: Microtek Pagewizard support?"</a>
<li> <b>Previous message:</b> <a href="0275.html">Brian Macy: "[ANN] WinSane 0.2.0.0..."</a>
<li> <b>Maybe in reply to:</b> <a href="0197.html">Laura DeWitt: "Problem with SANE and SCSI scanner"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0282.html">Laura DeWitt: "Re: Problem with SANE and SCSI scanner"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Laura DeWitt wrote:<br>
<p>
<i>&gt; One additional piece of information, when I try to run the scanimage</i><br>
<i>&gt; command as root, it gets to the attach step and then locks up my machine.</i><br>
<i>&gt; I can't break out of it with a &lt;ctrl&gt;&lt;alt&gt;&lt;del&gt;, I have to powercycle.</i><br>
<i>&gt;</i><br>
<p>
Do you have the generic scsi driver (sg) installed?<br>
<p>
Bye<br>
Oliver<br>
<p>
<p>
<pre>
--
Homepage:       <a href="http://www.wolfsburg.de/~rauch">http://www.wolfsburg.de/~rauch</a>
sane-umax:      <a href="http://www.wolfsburg.de/~rauch/sane/sane-umax.html">http://www.wolfsburg.de/~rauch/sane/sane-umax.html</a>
xsane:          <a href="http://www.wolfsburg.de/~rauch/sane/sane-xsane.html">http://www.wolfsburg.de/~rauch/sane/sane-xsane.html</a>
E-Mail:         <a href="mailto:Oliver.Rauch@Wolfsburg.DE">mailto:Oliver.Rauch@Wolfsburg.DE</a>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0277.html">Bernd Schroeder: "Re: Microtek Pagewizard support?"</a>
<li> <b>Previous message:</b> <a href="0275.html">Brian Macy: "[ANN] WinSane 0.2.0.0..."</a>
<li> <b>Maybe in reply to:</b> <a href="0197.html">Laura DeWitt: "Problem with SANE and SCSI scanner"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0282.html">Laura DeWitt: "Re: Problem with SANE and SCSI scanner"</a>
<!-- reply="end" -->
</ul>
