<!-- received="Tue Nov 30 09:49:12 1999 PST" -->
<!-- sent="Tue, 30 Nov 1999 09:56:25 -0800 (PST)" -->
<!-- name="Brian Beattie" -->
<!-- email="beattie@aracnet.com" -->
<!-- subject="Re: Umax Parallel" -->
<!-- id="" -->
<!-- inreplyto="3843B429.C21D15F6@mrc-lmb.cam.ac.uk" -->
<title>sane-devel: Re: Umax Parallel</title>
<h1>Re: Umax Parallel</h1>
<b>Brian Beattie</b> (<a href="mailto:beattie@aracnet.com"><i>beattie@aracnet.com</i></a>)<br>
<i>Tue, 30 Nov 1999 09:56:25 -0800 (PST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#302">[ date ]</a><a href="index.html#302">[ thread ]</a><a href="subject.html#302">[ subject ]</a><a href="author.html#302">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0303.html">thomas huber: "(no subject)"</a>
<li> <b>Previous message:</b> <a href="0301.html">Oliver Rauch: "xsane-0.47"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
There is a piece of software called Portmon, that I have been using to<br>
reverse engineer the serial protocol on a digital camera.  I think it also<br>
monitors the paralle port.  It is free for non-comercial use, the URL is:<br>
<p>
<a href="http://www.sysinternals.com">http://www.sysinternals.com</a><br>
<p>
(I'm still trying to figure out the image format :-/)<br>
<p>
On Tue, 30 Nov 1999, Dmitry Veprintsev wrote:<br>
<p>
<i>&gt; You can (or can you?) try win3.11 drivers - they do not use .vxd (i</i><br>
<i>&gt; tried them under '95 running in VMware - works but no logging - vmware</i><br>
<i>&gt; access port mostly directly). If it gives some hope, i will probaly kill</i><br>
<i>&gt; some weekends as well.</i><br>
<i>&gt; 2) i have found on the net captured communication and some initial steps</i><br>
<i>&gt; into driver development (given up) - check the sane-devel or parport</i><br>
<i>&gt; archives (i still have them - just couldnt find the URL)</i><br>
<i>&gt; Dmitry</i><br>
<i>&gt; "Jonathan A. Buzzard" wrote:</i><br>
<i>&gt; &gt; </i><br>
<i>&gt; &gt; <a href="mailto:espenlaub@informatik.uni-ulm.de">espenlaub@informatik.uni-ulm.de</a> said:</i><br>
<i>&gt; &gt; &gt; ... or you could try to get the TWAIN driver running under WINE.  Open</i><br>
<i>&gt; &gt; &gt; source emulators (WINE, dosemu, ...) are a great reverse engineering</i><br>
<i>&gt; &gt; &gt; tool, because decent operating systems can control almost anything</i><br>
<i>&gt; &gt; &gt; going on inside the system/computer hardware.  So WINE has some code</i><br>
<i>&gt; &gt; &gt; that actually does the printer port emulation.  At least it should.</i><br>
<i>&gt; &gt; </i><br>
<i>&gt; &gt; Been tried, unfortunately the Windows scanner drivers make use of .vxd's</i><br>
<i>&gt; &gt; which Wine does not support. The run well under VMware but it provides</i><br>
<i>&gt; &gt; no method of logging the parallel port at the moment.</i><br>
<i>&gt; &gt; </i><br>
<i>&gt; &gt; &gt; By the way: is their scanner driven by a SCSI-over-parallel protocol</i><br>
<i>&gt; &gt; &gt; (which means that there is some SCSI driver installed by the Umax</i><br>
<i>&gt; &gt; &gt; software) or is it some fully proprietary protocol?  If it's SCSI then</i><br>
<i>&gt; &gt; &gt; you can cut a few corners.</i><br>
<i>&gt; &gt; </i><br>
<i>&gt; &gt; It's totally proprietary, though I believe UMAC licensed it to other</i><br>
<i>&gt; &gt; scanner manufactures.</i><br>
<i>&gt; &gt; </i><br>
<i>&gt; &gt; JAB.</i><br>
<i>&gt; &gt; </i><br>
<i>&gt; &gt; --</i><br>
<i>&gt; &gt; Jonathan A. Buzzard                 Email: <a href="mailto:jonathan@buzzard.org.uk">jonathan@buzzard.org.uk</a></i><br>
<i>&gt; &gt; Northumberland, United Kingdom.       Tel: +44(0)1661-832195</i><br>
<i>&gt; &gt; </i><br>
<i>&gt; &gt; --</i><br>
<i>&gt; &gt; Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a></i><br>
<i>&gt; &gt; To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a></i><br>
<i>&gt; </i><br>
<i>&gt; -- </i><br>
<i>&gt; Dr. Dmitry Veprintsev; <a href="mailto:dbv@mrc-lmb.cam.ac.uk">mailto:dbv@mrc-lmb.cam.ac.uk</a></i><br>
<i>&gt; MRC Centre for Protein Eng., Hills Rd., Cambridge CB2 2QH, UK</i><br>
<i>&gt; ph:  44(1223)402027 fax: 44(1223)402140</i><br>
<i>&gt; <a href="http://macx48.mrc-lmb.cam.ac.uk">http://macx48.mrc-lmb.cam.ac.uk</a></i><br>
<i>&gt; </i><br>
<i>&gt; --</i><br>
<i>&gt; Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a></i><br>
<i>&gt; To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a></i><br>
<i>&gt; </i><br>
<p>
Brian Beattie            | The only problem with<br>
<a href="mailto:beattie@aracnet.com">beattie@aracnet.com</a>      | winning the rat race ...<br>
www.aracnet.com/~beattie | in the end you're still a rat<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0303.html">thomas huber: "(no subject)"</a>
<li> <b>Previous message:</b> <a href="0301.html">Oliver Rauch: "xsane-0.47"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
