<!-- received="Mon Mar  1 08:48:37 1999 PST" -->
<!-- sent="Mon, 01 Mar 1999 11:45:20 -0500" -->
<!-- name="John Garrison" -->
<!-- email="jeg@visi.net" -->
<!-- subject="Re: SCSI not detected" -->
<!-- id="" -->
<!-- inreplyto="SCSI not detected" -->
<title>sane-devel: Re: SCSI not detected</title>
<h1>Re: SCSI not detected</h1>
<b>John Garrison</b> (<a href="mailto:jeg@visi.net"><i>jeg@visi.net</i></a>)<br>
<i>Mon, 01 Mar 1999 11:45:20 -0500</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#8">[ date ]</a><a href="index.html#8">[ thread ]</a><a href="subject.html#8">[ subject ]</a><a href="author.html#8">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0009.html">Juha Sahakangas: "Re: probleme mit Microtek Phantom 330  Problems with Microtek"</a>
<li> <b>Previous message:</b> <a href="0007.html">Rainer Krienke: "SCSI-Tomeout since Linux Kernel 2.2"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Milon Firikis wrote:<br>
<i>&gt; </i><br>
<i>&gt; John Garrison wrote:</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt; I am having trouble getting linux to detect my scsi card.  When my</i><br>
<i>&gt; &gt; computer boots up it says 'scsi detected 0' or something to that effect,</i><br>
<i>&gt; &gt; but I do have an scsi card installed.  If I do a modprobe of scsi_debug,</i><br>
<i>&gt; &gt; it finds a non-existent drive everywhere possible.  Somebody said the</i><br>
<i>&gt; &gt; scanner number might be the same as the id number on the controller, so</i><br>
<i>&gt; &gt; I changed it but nothing still happened.  Might I need to change some</i><br>
<i>&gt; &gt; DIP switches on the SCSI Card?  I'm not sure exactly what type of SCSI</i><br>
<i>&gt; &gt; card I have as it can with the scanner, and I can't find any reference</i><br>
<i>&gt; &gt; to it in the docs, but I think it is an adaptec, what kind of adaptec I</i><br>
<i>&gt; &gt; have no idea.</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt; Can somebody please help me get my scanner working?  I really need it</i><br>
<i>&gt; &gt; and the linux newgroups haven't be much help getting my SCSI card</i><br>
<i>&gt; &gt; detected.  I'm sure it is something simple I am not doing.</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; </i><br>
<i>&gt; Maybe you should tell us what scanner do you have. Then some experts in</i><br>
<i>&gt; this list may know the SCANNER_MODEL --&gt; WHICH_SCSI_CARD combination and</i><br>
<i>&gt; give you some hints...</i><br>
<i>&gt; </i><br>
<i>&gt;         MF</i><br>
<i>&gt; </i><br>
It is an Across 3s scanner.  This scanner is not on the list, but it<br>
seems to be<br>
a generic company so I'm hoping maybe it is compatible with one on the<br>
list.  I<br>
have put in an email to the company hoping that they may tell me what<br>
kind of card<br>
I've got, but don't know if they will as most people just have companies<br>
tell them<br>
they don't support linux.<br>
<p>
I just read something on the specifications that doesn't sound good. <br>
The driver that<br>
came with it is called "SmartScan" it says it was built specifically for<br>
this scanner <br>
and SCSI card.  It has a second driver called "Art-Scan" and says that<br>
one has to be <br>
used if you install the scanner on an existing Adaptec SCSI card.  Does<br>
that mean mine<br>
wouldn't be Adaptec compatible?  If this small company made their own<br>
card, I might <br>
never find a driver for it.  Although maybe this is good, if the<br>
"Art-scan" works on my<br>
SCSI card as well as Adaptecs, may they are compatible?<br>
<p>
Well, this is all the info the specification sheet gives me.  I hope it<br>
is helpful.<br>
<p>
<p>
<i>&gt; --</i><br>
<i>&gt; Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a></i><br>
<i>&gt; To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a></i><br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0009.html">Juha Sahakangas: "Re: probleme mit Microtek Phantom 330  Problems with Microtek"</a>
<li> <b>Previous message:</b> <a href="0007.html">Rainer Krienke: "SCSI-Tomeout since Linux Kernel 2.2"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
