<!-- received="Mon Mar  1 09:33:07 1999 PST" -->
<!-- sent="Mon, 01 Mar 1999 19:31:12 +0200" -->
<!-- name="Juha Sahakangas" -->
<!-- email="juhaz@dlc.fi" -->
<!-- subject="Re: probleme mit Microtek Phantom 330  Problems with Microtek" -->
<!-- id="3.0.5.32.19990301193112.007e1100@mail.dlc.fi" -->
<!-- inreplyto="probleme mit Microtek Phantom 330  Problems with Microtek" -->
<title>sane-devel: Re: probleme mit Microtek Phantom 330  Problems with Microtek</title>
<h1>Re: probleme mit Microtek Phantom 330  Problems with Microtek</h1>
<b>Juha Sahakangas</b> (<a href="mailto:juhaz@dlc.fi"><i>juhaz@dlc.fi</i></a>)<br>
<i>Mon, 01 Mar 1999 19:31:12 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#9">[ date ]</a><a href="index.html#9">[ thread ]</a><a href="subject.html#9">[ subject ]</a><a href="author.html#9">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0010.html">David Mosberger-Tang: "copyright change on sanei_net.h"</a>
<li> <b>Previous message:</b> <a href="0008.html">John Garrison: "Re: SCSI not detected"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
At 20:58 25.2.1999 +0100, you wrote:<br>
<i>&gt;I`m a very new Linux user and I`ve got a problem with my scanner.</i><br>
<i>&gt;Could you help me installing my scanner?</i><br>
<p>
No.<br>
<p>
<i>&gt;It`s a phantom 330 of Microtek (parallel port).</i><br>
<i>&gt;I thank you very much and I hope that there is somebody who can help me.</i><br>
<p>
It doesn't work in linux yet, we'll have to wait until the parport people<br>
get the driver for paraller port scsi adapter chip (OnSpec 90C26) in<br>
Microtek parallel port scanners ready.<br>
<p>
Any information about the current condition of that driver?<br>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0010.html">David Mosberger-Tang: "copyright change on sanei_net.h"</a>
<li> <b>Previous message:</b> <a href="0008.html">John Garrison: "Re: SCSI not detected"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
