<!-- received="Mon Mar  1 19:55:11 1999 PST" -->
<!-- sent="Mon, 01 Mar 1999 20:30:26 -0500 (EST)" -->
<!-- name="Neil Zampella" -->
<!-- email="neilz@techie.com" -->
<!-- subject="Re: Snapscan 310" -->
<!-- id="199903020131.UAA15235@pop02.globecomm.net" -->
<!-- inreplyto="Pine.OSF.4.05.9903011304310.26704-100000@waage" -->
<title>sane-devel: Re: Snapscan 310</title>
<h1>Re: Snapscan 310</h1>
<b>Neil Zampella</b> (<a href="mailto:neilz@techie.com"><i>neilz@techie.com</i></a>)<br>
<i>Mon, 01 Mar 1999 20:30:26 -0500 (EST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#13">[ date ]</a><a href="index.html#13">[ thread ]</a><a href="subject.html#13">[ subject ]</a><a href="author.html#13">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0014.html">Tony Simaz: "HP 4C Scanner and SANE"</a>
<li> <b>Previous message:</b> <a href="0012.html">becka@rz.uni-duesseldorf.de: "Re: SCSI not detected"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
-----BEGIN PGP SIGNED MESSAGE-----<br>
Hash: SHA1<br>
<p>
On Mon, 1 Mar 1999 13:13:11 +0100 (MET), Ole W. Saastad wrote:<br>
<p>
:&gt;<br>
:&gt;I have installed SANE with snapscan support, and this works very well.<br>
:&gt;However, the Photolook scans look better. <br>
:&gt;(see my www page <a href="http://www.uio.no/~olews/scanner.html">http://www.uio.no/~olews/scanner.html</a>)<br>
:&gt;<br>
:&gt;I am therfore wondering about the progress for the snapscan 310 backend. <br>
:&gt;As I can see from the www page of Kevin Charter there is only limited<br>
:&gt;development going on.<br>
:&gt;<br>
:&gt;I have written to Agfa and inquiered about support for Linux with<br>
:&gt;negative results.  (Interesting reply to read by the way)<br>
:&gt;<br>
<p>
Ole .. can you give us a short synopsis of what they said .. although I suspect NO WAY was the gist of the <br>
reply.<br>
<p>
<p>
<p>
:&gt;Will there be more devlopment for the snapscan 310 ?<br>
:&gt;<br>
:&gt;Are there many users of the snapscan who are interested in updating<br>
:&gt;of the driver for this scanner ?<br>
:&gt;<br>
:&gt;<br>
:&gt;<br>
:&gt;Best regards<br>
:&gt;Ole W Saastad <br>
:&gt;<br>
:&gt;<br>
:&gt;--<br>
:&gt;Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a><br>
:&gt;To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a><br>
:&gt;<br>
<p>
Neil Zampella<br>
<p>
Why do I use OS/2 ??<br>
Because I like choice !!<br>
<p>
PGP Public Key Fingerprint= 6082 7AD3 CFA1 FA0E 191B  9F0B 52ED 0716 5731 B7A1<br>
<p>
-----BEGIN PGP SIGNATURE-----<br>
Version: PGPfreeware 5.0 OS/2 for non-commercial use<br>
Comment: PGP 5.0 for OS/2<br>
Charset: cp850<br>
<p>
wj8DBQE22zEgUu0HFlcxt6ERAt0zAKC3DJj2UbUWMmXl/Stdqgy8osvKUgCg3h8S<br>
O1gi2wVDPuORUaVTcXdjAs0=<br>
=BUpI<br>
-----END PGP SIGNATURE-----<br>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0014.html">Tony Simaz: "HP 4C Scanner and SANE"</a>
<li> <b>Previous message:</b> <a href="0012.html">becka@rz.uni-duesseldorf.de: "Re: SCSI not detected"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
