<!-- received="Wed Mar  3 12:09:17 1999 PST" -->
<!-- sent="Wed, 3 Mar 1999 19:31:05 +1100 (EST)" -->
<!-- name="Jiri Baum" -->
<!-- email="jiri@baum.com.au" -->
<!-- subject="PhotoSmart hangs - help please" -->
<!-- id="E10I73a-0001ou-00@legend.baum.com.au" -->
<!-- inreplyto="" -->
<title>sane-devel: PhotoSmart hangs - help please</title>
<h1>PhotoSmart hangs - help please</h1>
<b>Jiri Baum</b> (<a href="mailto:jiri@baum.com.au"><i>jiri@baum.com.au</i></a>)<br>
<i>Wed, 3 Mar 1999 19:31:05 +1100 (EST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#34">[ date ]</a><a href="index.html#34">[ thread ]</a><a href="subject.html#34">[ subject ]</a><a href="author.html#34">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0035.html">Ewald R. de Wit: "Re: PhotoSmart hangs - help please"</a>
<li> <b>Previous message:</b> <a href="0033.html">Wolfgang Goeller: "Slide-Scanner"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0035.html">Ewald R. de Wit: "Re: PhotoSmart hangs - help please"</a>
<li> <b>Reply:</b> <a href="0035.html">Ewald R. de Wit: "Re: PhotoSmart hangs - help please"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hello,<br>
<p>
I have a PhotoSmart scanner, and it has a tendency to hang. It looks like a<br>
buffering problem - low-resolution or small scans go through OK, as do<br>
scans into /dev/null or into wc.<br>
<p>
Where would I start looking, please?<br>
<p>
<p>
The SCSI card is the one that came with it, a PnP "SYM 53C416". I have the<br>
Debian sane package version 1.00-1, kernel 2.0.36 with Lieven Willems'<br>
sym53c416 patch v. 1.0.0 and I'm trying to scan negative strips with four<br>
frames each (individual frames sometimes go through at 1600 dpi, whole<br>
strip only at very low res.).<br>
<p>
<p>
Jiri<br>
<pre>
-- 
&lt;<a href="mailto:jiri@baum.com.au">jiri@baum.com.au</a>&gt;
We'll know the future has arrived when every mailer transparently
quotes lines that begin with "From ", but no-one remembers why.
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0035.html">Ewald R. de Wit: "Re: PhotoSmart hangs - help please"</a>
<li> <b>Previous message:</b> <a href="0033.html">Wolfgang Goeller: "Slide-Scanner"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0035.html">Ewald R. de Wit: "Re: PhotoSmart hangs - help please"</a>
<li> <b>Reply:</b> <a href="0035.html">Ewald R. de Wit: "Re: PhotoSmart hangs - help please"</a>
<!-- reply="end" -->
</ul>
