<!-- received="Thu Mar  4 22:59:19 1999 PST" -->
<!-- sent="Fri, 05 Mar 1999 07:57:44 +0100" -->
<!-- name="Wolfgang Goeller" -->
<!-- email="wgoeller@active.ch" -->
<!-- subject="Re: Have HP 4P, need more res" -->
<!-- id="" -->
<!-- inreplyto="Have HP 4P, need more res" -->
<title>sane-devel: Re: Have HP 4P, need more res</title>
<h1>Re: Have HP 4P, need more res</h1>
<b>Wolfgang Goeller</b> (<a href="mailto:wgoeller@active.ch"><i>wgoeller@active.ch</i></a>)<br>
<i>Fri, 05 Mar 1999 07:57:44 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#60">[ date ]</a><a href="index.html#60">[ thread ]</a><a href="subject.html#60">[ subject ]</a><a href="author.html#60">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0061.html">Milon Firikis: "Re: another pre-test"</a>
<li> <b>Previous message:</b> <a href="0059.html">David Mosberger-Tang: "another pre-test"</a>
<li> <b>Maybe in reply to:</b> <a href="0057.html">J. Milgram: "Have HP 4P, need more res"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hello Judah<br>
<p>
<i>&gt; Am working with an HP Scanjet 4P, scanning with xscanimage 1.0 out of</i><br>
<i>&gt; gimp 1.02. Everything works great; only hangup is that this scanner is</i><br>
<i>&gt; advertised as 300dpi optical with 1200 enhanced. However, I find I can</i><br>
<i>&gt; only actually get 600dpi. Same result with xvscan 1.60.</i><br>
<p>
Yes and that's ok - but don't be fooled by adverts - all firms need to<br>
cry hype on their products and so all do: The "enhanced resolution" is<br>
not an optical resolution. They higher resolution is done by<br>
interpolation.<br>
The picture might become better if thre algoritm hits reality, but <br>
chances are, that it misses. The only real value is optical resolution.<br>
The rest can be done by manipulating the picture. But it's a fake<br>
solution. If you really need higher resolution, you have to go for<br>
higher optical resolution.<br>
<p>
Regards<br>
Wolfgang<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0061.html">Milon Firikis: "Re: another pre-test"</a>
<li> <b>Previous message:</b> <a href="0059.html">David Mosberger-Tang: "another pre-test"</a>
<li> <b>Maybe in reply to:</b> <a href="0057.html">J. Milgram: "Have HP 4P, need more res"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
