<!-- received="Sun Mar  7 21:24:52 1999 PST" -->
<!-- sent="Sun, 7 Mar 1999 08:17:03 -0600" -->
<!-- name="Gregg D. Adams" -->
<!-- email="dreamer@fwbnet.com" -->
<!-- subject="Epson ES-1200C Scanners" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Epson ES-1200C Scanners</title>
<h1>Epson ES-1200C Scanners</h1>
<b>Gregg D. Adams</b> (<a href="mailto:dreamer@fwbnet.com"><i>dreamer@fwbnet.com</i></a>)<br>
<i>Sun, 7 Mar 1999 08:17:03 -0600</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#69">[ date ]</a><a href="index.html#69">[ thread ]</a><a href="subject.html#69">[ subject ]</a><a href="author.html#69">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0070.html">bob gordon: "FCPA"</a>
<li> <b>Previous message:</b> <a href="0068.html">Arkadiy Chapkis: "SANE won't compile"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0091.html">Oliver Graf: "Re: Epson ES-1200C Scanners"</a>
<li> <b>Reply:</b> <a href="0091.html">Oliver Graf: "Re: Epson ES-1200C Scanners"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I have tried the sane package but it does not work with my scanner. I have<br>
had luck using the "epscan-0.5" package which is at several ftp sites. It<br>
would be great if you could use the source from this package to add this<br>
scanner to your list. The epscan interface is ok, but I would like to be<br>
able to access my scanner through something like Gimp which I believe you<br>
can do with SANE. Please let me know if this is a possibility.<br>
<p>
Thanks,<br>
<p>
Gregg D. Adams<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0070.html">bob gordon: "FCPA"</a>
<li> <b>Previous message:</b> <a href="0068.html">Arkadiy Chapkis: "SANE won't compile"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0091.html">Oliver Graf: "Re: Epson ES-1200C Scanners"</a>
<li> <b>Reply:</b> <a href="0091.html">Oliver Graf: "Re: Epson ES-1200C Scanners"</a>
<!-- reply="end" -->
</ul>
