<!-- received="Sun Mar  7 21:24:41 1999 PST" -->
<!-- sent="Sat, 06 Mar 1999 22:52:30 +0000" -->
<!-- name="Brian Idzik" -->
<!-- email="brian_idzik@admin.state.ak.us" -->
<!-- subject="Interesting scsi problem" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Interesting scsi problem</title>
<h1>Interesting scsi problem</h1>
<b>Brian Idzik</b> (<a href="mailto:brian_idzik@admin.state.ak.us"><i>brian_idzik@admin.state.ak.us</i></a>)<br>
<i>Sat, 06 Mar 1999 22:52:30 +0000</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#72">[ date ]</a><a href="index.html#72">[ thread ]</a><a href="subject.html#72">[ subject ]</a><a href="author.html#72">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0073.html">Tripp Lilley: "Re: FCPA"</a>
<li> <b>Previous message:</b> <a href="0071.html">John J. Frake: "Scanner and SANR compatibility"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I've successfully installed sane 1.0 &amp; am very excited about using it,<br>
but I'm running into a bit of a problem with SCSI/scanner recognition.<br>
I'm running RedHat 5.2 &amp; it installs the aic78xx driver for the Adaptec<br>
2920 PCI (fast scsi) card.   On boot, the Adaptec card properly reports<br>
the Mustek MFS-8000SP scanner (ID 6) on the bios check.  RedHat 5.2<br>
loads the aic78xx driver &amp; it sees the scanner as a "disk" (type WORM).<br>
(Message log follows:)<br>
<p>
Mar  6 07:14:47 brian kernel: (scsi0) &lt;Adaptec AIC-7850 SCSI host<br>
adapter&gt; found at PCI 3/0<br>
Mar  6 07:14:47 brian kernel: (scsi0) Narrow Channel, SCSI ID=7, 3/255<br>
SCBs<br>
Mar  6 07:14:47 brian kernel: (scsi0) Warning - detected<br>
auto-termination<br>
Mar  6 07:14:47 brian kernel: (scsi0) Please verify driver detected<br>
settings are correct.<br>
Mar  6 07:14:47 brian kernel: (scsi0) If not, then please properly set<br>
the device termination<br>
Mar  6 07:14:47 brian kernel: (scsi0) in the Adaptec SCSI BIOS by<br>
hitting CTRL-A when prompted<br>
Mar  6 07:14:47 brian kernel: (scsi0) during machine bootup.<br>
Mar  6 07:14:47 brian kernel: (scsi0) Cables present (Int-50 NO, Ext-50<br>
YES)<br>
Mar  6 07:14:47 brian kernel: (scsi0) Downloading sequencer code... 412<br>
instructions downloaded<br>
Mar  6 07:14:47 brian kernel: scsi0 : Adaptec AHA274x/284x/294x<br>
(EISA/VLB/PCI-Fast SCSI) 5.1.2/3.2.4<br>
Mar  6 07:14:47 brian kernel:        &lt;Adaptec AIC-7850 SCSI host<br>
adapter&gt;<br>
Mar  6 07:14:47 brian kernel: scsi : 1 host.<br>
Mar  6 07:14:47 brian kernel:   Vendor:<br>
Model:                   Rev:<br>
Mar  6 07:14:47 brian kernel:   Type:<br>
WORM                               ANSI SCSI revision: 00<br>
Mar  6 07:14:47 brian kernel: Detected scsi CD-ROM sr0 at scsi0, channel<br>
0, id 6, lun 0<br>
<p>
Any ideas on how to fix this?  Thanks in advance for any advice.  I'm 1<br>
scanner driver away from abandoning winxx forever :)<br>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0073.html">Tripp Lilley: "Re: FCPA"</a>
<li> <b>Previous message:</b> <a href="0071.html">John J. Frake: "Scanner and SANR compatibility"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
