<!-- received="Tue Mar 16 08:50:57 1999 PST" -->
<!-- sent="Tue, 16 Mar 1999 11:49:47 -0500" -->
<!-- name="J. Milgram" -->
<!-- email="milgram@cgpp.com" -->
<!-- subject="Understanding resolution." -->
<!-- id="199903161649.LAA15758@cgpp.com" -->
<!-- inreplyto="" -->
<title>sane-devel: Understanding resolution.</title>
<h1>Understanding resolution.</h1>
<b>J. Milgram</b> (<a href="mailto:milgram@cgpp.com"><i>milgram@cgpp.com</i></a>)<br>
<i>Tue, 16 Mar 1999 11:49:47 -0500</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#164">[ date ]</a><a href="index.html#164">[ thread ]</a><a href="subject.html#164">[ subject ]</a><a href="author.html#164">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0165.html">john allen pitney: "Re: HP Photosmart R032 problem"</a>
<li> <b>Previous message:</b> <a href="0163.html">Ewald R. de Wit: "Re: HP Photosmart R032 problem"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi -<br>
<p>
sorry if this is only indirectly a sane topic, but:<br>
<p>
My HP 6200Cse says "1200dpi" in the specs, yet the latest Computer<br>
Shopper puts it at 600x1200. Went back to look at the specs, and it<br>
seems it actually says "1200dpi hardware super sampling" or something<br>
like that. Does that mean the 1200dpi (1200x1200) is with<br>
interpolation?<br>
<p>
Instead of relying on what they're trying to tell you with the specs,<br>
is there some sort of standard test I can run to determine the<br>
resolution I'm getting? Analogous to printing a test page off the<br>
printer?<br>
<p>
thanks<br>
<p>
Judah<br>
<a href="mailto:milgram@cgpp.com">milgram@cgpp.com</a><br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0165.html">john allen pitney: "Re: HP Photosmart R032 problem"</a>
<li> <b>Previous message:</b> <a href="0163.html">Ewald R. de Wit: "Re: HP Photosmart R032 problem"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
