<!-- received="Tue Mar 16 12:40:01 1999 PST" -->
<!-- sent="Tue, 16 Mar 1999 12:38:54 -0800 (PST)" -->
<!-- name="georgewu@mediaone.net" -->
<!-- email="georgewu@mediaone.net" -->
<!-- subject="Re: Scanner survey: Which scanner do you have?" -->
<!-- id="" -->
<!-- inreplyto="199903161932.UAA15065@lee.Cc.Uit.No" -->
<title>sane-devel: Re: Scanner survey: Which scanner do you have?</title>
<h1>Re: Scanner survey: Which scanner do you have?</h1>
<a href="mailto:georgewu@mediaone.net"><i>georgewu@mediaone.net</i></a><br>
<i>Tue, 16 Mar 1999 12:38:54 -0800 (PST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#173">[ date ]</a><a href="index.html#173">[ thread ]</a><a href="subject.html#173">[ subject ]</a><a href="author.html#173">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0174.html">Paul Jakma: "Re: Scanner survey: Which scanner do you have?"</a>
<li> <b>Previous message:</b> <a href="0172.html">Warren Early: "Re: Microtek scanners"</a>
<li> <b>In reply to:</b> <a href="0170.html">Petter Reinholdtsen: "Scanner survey: Which scanner do you have?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0174.html">Paul Jakma: "Re: Scanner survey: Which scanner do you have?"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Tue, 16 Mar 1999, Petter Reinholdtsen wrote:<br>
<p>
<i>&gt; Date: Tue, 16 Mar 1999 20:32:30 +0100</i><br>
<i>&gt; From: Petter Reinholdtsen &lt;<a href="mailto:pere@hungry.com">pere@hungry.com</a>&gt;</i><br>
<i>&gt; Reply-To: <a href="mailto:sane-devel@mostang.com">sane-devel@mostang.com</a></i><br>
<i>&gt; To: <a href="mailto:sane-devel@mostang.com">sane-devel@mostang.com</a></i><br>
<i>&gt; Subject: Scanner survey: Which scanner do you have?</i><br>
<i>&gt; </i><br>
<i>&gt; </i><br>
<i>&gt; I suddenly started to wonder which scanners the sane developers have</i><br>
<i>&gt; access to.  Do anyone know?  I suspect that no such summary exists, so</i><br>
<i>&gt; I ask all readers for this mailing-list to send me a message before</i><br>
<i>&gt; 1999-03-20, with answers to these questions.  I'll then post a summary</i><br>
<i>&gt; of the replies.</i><br>
<i>&gt; </i><br>
<i>&gt; I ask you not to send the replies to the list, as each individual</i><br>
<i>&gt; answer has limited value, and would only waste the readers time.</i><br>
<i>&gt; </i><br>
<i>&gt; The questions:</i><br>
<i>&gt; </i><br>
<i>&gt;   What scanner(s) do you have access to?</i><br>
<i>&gt; </i><br>
     Microtek X6EL<br>
<p>
<i>&gt;   Does it work with SANE?</i><br>
<i>&gt; </i><br>
     Most of the time.  I've seen occasional odd behavior especially<br>
     if lineart scans are performed.<br>
<p>
<i>&gt;   If so, which backend and frontend are you using?</i><br>
<i>&gt; </i><br>
    microtek2 with the patch to recognize proper firmware version.<br>
<p>
<p>
<p>
<pre>
-- 
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0174.html">Paul Jakma: "Re: Scanner survey: Which scanner do you have?"</a>
<li> <b>Previous message:</b> <a href="0172.html">Warren Early: "Re: Microtek scanners"</a>
<li> <b>In reply to:</b> <a href="0170.html">Petter Reinholdtsen: "Scanner survey: Which scanner do you have?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0174.html">Paul Jakma: "Re: Scanner survey: Which scanner do you have?"</a>
<!-- reply="end" -->
</ul>
