<!-- received="Tue Mar 16 21:06:09 1999 PST" -->
<!-- sent="17 Mar 1999 14:04:59 +0900" -->
<!-- name="Kaz Sasayama" -->
<!-- email="Kaz.Sasayama@hypercore.co.jp" -->
<!-- subject="Re: Epson backend" -->
<!-- id="" -->
<!-- inreplyto="Pine.BSF.3.96.990316161639.21909B-100000@studenti.ing.unipi.it" -->
<title>sane-devel: Re: Epson backend</title>
<h1>Re: Epson backend</h1>
<b>Kaz Sasayama</b> (<a href="mailto:Kaz.Sasayama@hypercore.co.jp"><i>Kaz.Sasayama@hypercore.co.jp</i></a>)<br>
<i>17 Mar 1999 14:04:59 +0900</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#178">[ date ]</a><a href="index.html#178">[ thread ]</a><a href="subject.html#178">[ subject ]</a><a href="author.html#178">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0179.html">Mentore #cat# Siesto: "Re: Epson backend"</a>
<li> <b>Previous message:</b> <a href="0177.html">Warren Early: "Re: Microtek scanners"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;&gt;&gt;&gt;&gt; On Tue, 16 Mar 1999 16:18:57 +0100 (CET), Mentore #cat# Siesto &lt;<a href="mailto:s135989@studenti.ing.unipi.it">s135989@studenti.ing.unipi.it</a>&gt; said:</i><br>
<p>
    M#S&gt; AFAIK, Epson doesn't produce other image retrieval systems other than<br>
    M#S&gt; scanners. But, I think that they *could*, in future, produce things such<br>
    M#S&gt; as digital cameras, so that IMHO the test sdhould remain... BTW, this<br>
    M#S&gt; could be one of the reasons why the GT-300 is not correctly detected.<br>
<p>
Yes, they could, but there is another check in the backend<br>
to test if the device understands the scanner commands.  And<br>
even if Epson would make non-scanner devices in the future,<br>
it would be easier to maintain a list of such non-working<br>
devices than of working scanners, I hope.<br>
<pre>
-- 
"Free software is not for free."
Kaz Sasayama &lt;<a href="mailto:Kaz.Sasayama@hypercore.co.jp">Kaz.Sasayama@hypercore.co.jp</a>&gt;
Hypercore Software Design, Ltd. &lt;URL:<a href="http://www.hypercore.co.jp/">http://www.hypercore.co.jp/</a>&gt;
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0179.html">Mentore #cat# Siesto: "Re: Epson backend"</a>
<li> <b>Previous message:</b> <a href="0177.html">Warren Early: "Re: Microtek scanners"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
