<!-- received="Wed Mar 17 06:39:05 1999 PST" -->
<!-- sent="Wed, 17 Mar 1999 15:40:22 -0100" -->
<!-- name="Roderick Klein" -->
<!-- email="rwklein@wxs.nl" -->
<!-- subject="Re: trust backend?" -->
<!-- id="" -->
<!-- inreplyto="trust backend?" -->
<title>sane-devel: Re: trust backend?</title>
<h1>Re: trust backend?</h1>
<b>Roderick Klein</b> (<a href="mailto:rwklein@wxs.nl"><i>rwklein@wxs.nl</i></a>)<br>
<i>Wed, 17 Mar 1999 15:40:22 -0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#182">[ date ]</a><a href="index.html#182">[ thread ]</a><a href="subject.html#182">[ subject ]</a><a href="author.html#182">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0183.html">Nick Lamb: "Re: Scanner survey: Which scanner do you have?"</a>
<li> <b>Previous message:</b> <a href="0181.html">Juha Sahakangas: "Re: Sane drivers"</a>
<li> <b>Maybe in reply to:</b> <a href="0180.html">Yvan Cottyn: "trust backend?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Yvan Cottyn wrote:<br>
<i>&gt; </i><br>
<i>&gt; Hi,</i><br>
<i>&gt; </i><br>
<i>&gt; I am a new subscriber to the list.</i><br>
<i>&gt; </i><br>
<i>&gt; I found this posting in the archive:</i><br>
<i>&gt; </i><br>
<i>&gt; &gt;Hello,</i><br>
<i>&gt; &gt;I have a Trust Imagery 2400SP.</i><br>
<i>&gt; &gt;Since I found some questions on your mailing list concerning Trust</i><br>
<i>&gt; &gt;Scanners, I want to ask:</i><br>
<i>&gt; &gt;How do I get SANE working with Trust Imagery 2400SP ?</i><br>
<i>&gt; &gt;Is this scanner compatible to any scanner which is already supported ?</i><br>
<i>&gt; &gt;Since it is a scanner which fulfills the TWAIN standard, it should in</i><br>
<i>&gt; &gt;principle be very easy to support it ?</i><br>
<i>&gt; &gt;i. e., is there any general TWAIN driver/backend for SANE ?</i><br>
<i>&gt; &gt;Thank you very much (especially for developing SANE :-),</i><br>
<i>&gt; &gt;Yours, (NAME DELETED ON REQUEST OF AUTHOR)</i><br>
<i>&gt; </i><br>
<i>&gt; but I could not find any replies to the posting.</i><br>
<i>&gt; </i><br>
<i>&gt; so.... same question here....</i><br>
<i>&gt; </i><br>
<i>&gt; is there a Trust Imagery (compatible) backend?</i><br>
<p>
First of all let me correct one think. A scanner  that is twain can work<br>
with the TWAIN standard has nothing to do with the hardware. In a twain<br>
driver some special calls are put which make it possible for program<br>
devolpers to "talk" to scanner with standard commando's. Kind of API's<br>
for scanners. So as far as I know twain as nothing to do with the<br>
hardware.<br>
<p>
The trust scanner is not supported by sane. I have a Trust 2400SP and I<br>
think I'm one of few people in this world who is using this think under<br>
a none Microsoft OS. I using is under WIN/OS2 under OS/2 (Mind you<br>
WIN/OS2 for OS/2 Warp 4 is Windows 3.1 but almast complety rewritten by<br>
IBM!). It works great.<br>
<p>
1. First hind for people who are working with a trust scanner. Allthough<br>
it is of topic you may trie it with WINE.<br>
<p>
2. Get OS/2 and use it with this (please not command about OS/2 dead or<br>
alive, its just a suggestion!).<br>
<p>
3. Well look at the FCC number of the Trust scanner and go to<br>
www.fcc.gov. Bingo its a Teco Scanner. If I remeber it correctly the<br>
2400 SP was also sold under name Scorpio. I have on application IMPOS/2<br>
that supports mustek scanners. When I pick a random mustek scanner and<br>
use it with my Trust the scanner moves a little bit a shut stops. I need<br>
to turn it of and back on. So there is change that this think will work<br>
with a SANE mustek back end. This is for the people who have time left<br>
to experiment.<br>
<p>
Greetings Roderick Klein<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0183.html">Nick Lamb: "Re: Scanner survey: Which scanner do you have?"</a>
<li> <b>Previous message:</b> <a href="0181.html">Juha Sahakangas: "Re: Sane drivers"</a>
<li> <b>Maybe in reply to:</b> <a href="0180.html">Yvan Cottyn: "trust backend?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
