<!-- received="Wed Mar 17 09:01:11 1999 PST" -->
<!-- sent="Wed, 17 Mar 1999 16:58:42 +0000 (GMT)" -->
<!-- name="Nick Lamb" -->
<!-- email="njl98r@ecs.soton.ac.uk" -->
<!-- subject="Re: Scanner survey: Which scanner do you have?" -->
<!-- id="" -->
<!-- inreplyto="199903161932.UAA15065@lee.Cc.Uit.No" -->
<title>sane-devel: Re: Scanner survey: Which scanner do you have?</title>
<h1>Re: Scanner survey: Which scanner do you have?</h1>
<b>Nick Lamb</b> (<a href="mailto:njl98r@ecs.soton.ac.uk"><i>njl98r@ecs.soton.ac.uk</i></a>)<br>
<i>Wed, 17 Mar 1999 16:58:42 +0000 (GMT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#183">[ date ]</a><a href="index.html#183">[ thread ]</a><a href="subject.html#183">[ subject ]</a><a href="author.html#183">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0184.html">abel deuring: "SANE backend for Sharp JX 250 version 0.11"</a>
<li> <b>Previous message:</b> <a href="0182.html">Roderick Klein: "Re: trust backend?"</a>
<li> <b>In reply to:</b> <a href="0170.html">Petter Reinholdtsen: "Scanner survey: Which scanner do you have?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Tue, 16 Mar 1999, Petter Reinholdtsen wrote:<br>
<p>
<i>&gt; I ask you not to send the replies to the list, as each individual</i><br>
<i>&gt; answer has limited value, and would only waste the readers time.</i><br>
<p>
Well, the list insists on setting Reply-To: so it can have this reply.<br>
I don't like to keep objecting to this, but given the opportunity...<br>
<p>
<i>&gt;   What scanner(s) do you have access to?</i><br>
<p>
HP ScanJet IIc w/ ADF<br>
 good access<br>
A couple of more modern HP Scanners with tape over the identifiers<br>
 infrequent access<br>
Nikon LS-1000<br>
 good access, but I don't have any slide or negatives (!)<br>
<p>
<i>&gt;   Does it work with SANE?</i><br>
<p>
The ScanJet IIc works rather well (certainly better than Windows)<br>
The other HPs should work but aren't tested<br>
The Nikon is detected, but I have no slides<br>
<p>
<i>&gt;   If so, which backend and frontend are you using?</i><br>
<p>
ScanJet IIc == hp + saned + net + XSane, scanimage, xscanimage<br>
Nikon LS    == coolscan + scanimage<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0184.html">abel deuring: "SANE backend for Sharp JX 250 version 0.11"</a>
<li> <b>Previous message:</b> <a href="0182.html">Roderick Klein: "Re: trust backend?"</a>
<li> <b>In reply to:</b> <a href="0170.html">Petter Reinholdtsen: "Scanner survey: Which scanner do you have?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
