<!-- received="Fri Mar 19 10:08:25 1999 PST" -->
<!-- sent="Fri, 19 Mar 1999 19:07:01 +0100" -->
<!-- name="Peter Kirchgessner" -->
<!-- email="peter@kirchgessner.net" -->
<!-- subject="Re: Ummmmm..." -->
<!-- id="" -->
<!-- inreplyto="Ummmmm..." -->
<title>sane-devel: Re: Ummmmm...</title>
<h1>Re: Ummmmm...</h1>
<b>Peter Kirchgessner</b> (<a href="mailto:peter@kirchgessner.net"><i>peter@kirchgessner.net</i></a>)<br>
<i>Fri, 19 Mar 1999 19:07:01 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#202">[ date ]</a><a href="index.html#202">[ thread ]</a><a href="subject.html#202">[ subject ]</a><a href="author.html#202">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0203.html">regis rampnoux: "Digital Camera"</a>
<li> <b>Previous message:</b> <a href="0201.html">Oliver Rauch: "Re: Xsane"</a>
<li> <b>Maybe in reply to:</b> <a href="0199.html">James Nash: "Ummmmm..."</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0206.html">Peter Kirchgessner: "Re: Ummmmm..."</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
James Nash wrote:<br>
<i>&gt; </i><br>
<i>&gt; Hi!</i><br>
<i>&gt; I know this is most probably the wrong place to ask, but I'm desperate</i><br>
<i>&gt; and this was the only mailing list I found on the snae web-site....</i><br>
<i>&gt; I'm a bit of a newbie to Linux and I wanted to get my scanner (a HP</i><br>
<i>&gt; ScanJet 5100C) to work under Linux. </i><br>
<p>
Sorry,<br>
<p>
not with SANE. The HP 5100C is a parallel port scanner<br>
and those are currently not supported. HP scanners are only supported<br>
with a SCSI interface. Maybe at some time if special parallel<br>
port drivers are available, we can think about supporting<br>
parallel port scanners from HP.<br>
<p>
--Peter<br>
<p>
<pre>
-- 
Peter Kirchgessner
WWW:    <a href="http://www.kirchgessner.net">http://www.kirchgessner.net</a>
e-mail: <a href="mailto:peter@kirchgessner.net">peter@kirchgessner.net</a>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0203.html">regis rampnoux: "Digital Camera"</a>
<li> <b>Previous message:</b> <a href="0201.html">Oliver Rauch: "Re: Xsane"</a>
<li> <b>Maybe in reply to:</b> <a href="0199.html">James Nash: "Ummmmm..."</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0206.html">Peter Kirchgessner: "Re: Ummmmm..."</a>
<!-- reply="end" -->
</ul>
