<!-- received="Mon Mar 22 08:59:44 1999 PST" -->
<!-- sent="Mon, 22 Mar 1999 17:58:27 +0100 (MET)" -->
<!-- name="Andreas Czechanowski" -->
<!-- email="m075@ins.uni-stuttgart.de" -->
<!-- subject="Re: Scanner survey results" -->
<!-- id="" -->
<!-- inreplyto="199903211623.RAA03911@lee.Cc.Uit.No" -->
<title>sane-devel: Re: Scanner survey results</title>
<h1>Re: Scanner survey results</h1>
<b>Andreas Czechanowski</b> (<a href="mailto:m075@ins.uni-stuttgart.de"><i>m075@ins.uni-stuttgart.de</i></a>)<br>
<i>Mon, 22 Mar 1999 17:58:27 +0100 (MET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#216">[ date ]</a><a href="index.html#216">[ thread ]</a><a href="subject.html#216">[ subject ]</a><a href="author.html#216">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0217.html">Luciano Olivo: "Mustek SE12000SP, SuSE5.3 and out of memory."</a>
<li> <b>Previous message:</b> <a href="0215.html">Oliver Rauch: "xsane-0.18 available"</a>
<li> <b>In reply to:</b> <a href="0210.html">Petter Reinholdtsen: "Scanner survey results"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0223.html">Johan Bengtsson: "Re: Scanner survey results"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hello,<br>
<p>
Please add to the list:<br>
<p>
Mustek 600 II N (F/W 2.00) works mostly (color + grayscale),<br>
in lineart/halftone the threshold/contrast/brightness cannot be<br>
adjusted yet (but grayscale is a superset of all this, so you can<br>
do it in an application like GIMP afterwards).<br>
<p>
There is another Firmware (1.01) out there which seems to be widely<br>
spread and newer than 2.00, which may still have some problems.<br>
<p>
Anyone else with this WYGIWYP (what you get is what you paid) scanner ?<br>
<p>
Regards,<br>
<p>
Andreas. <br>
<p>
<pre>
--
Dipl.-Ing. Andreas Czechanowski                  Fon: +49-711-685-7335
<a href="mailto:andreas.czechanowski@ins.uni-stuttgart.de">andreas.czechanowski@ins.uni-stuttgart.de</a>        Fax: +49-711-685-7311
Institut fuer Netzwerk- und Systemtheorie        Pfaffenwaldring 47
Universitaet Stuttgart                           70550 Stuttgart
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0217.html">Luciano Olivo: "Mustek SE12000SP, SuSE5.3 and out of memory."</a>
<li> <b>Previous message:</b> <a href="0215.html">Oliver Rauch: "xsane-0.18 available"</a>
<li> <b>In reply to:</b> <a href="0210.html">Petter Reinholdtsen: "Scanner survey results"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0223.html">Johan Bengtsson: "Re: Scanner survey results"</a>
<!-- reply="end" -->
</ul>
