<!-- received="Tue Mar 23 00:21:41 1999 PST" -->
<!-- sent="Tue, 23 Mar 1999 00:21:03 -0800" -->
<!-- name="Dean Martin Townsley" -->
<!-- email="townsley@physics.ucsb.edu" -->
<!-- subject="Calibration problem on UMAX Astra 1220S" -->
<!-- id="199903230820.AAA13695@spacecase.physics.ucsb.edu" -->
<!-- inreplyto="" -->
<title>sane-devel: Calibration problem on UMAX Astra 1220S</title>
<h1>Calibration problem on UMAX Astra 1220S</h1>
<b>Dean Martin Townsley</b> (<a href="mailto:townsley@physics.ucsb.edu"><i>townsley@physics.ucsb.edu</i></a>)<br>
<i>Tue, 23 Mar 1999 00:21:03 -0800</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#220">[ date ]</a><a href="index.html#220">[ thread ]</a><a href="subject.html#220">[ subject ]</a><a href="author.html#220">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0221.html">Oliver Rauch: "Re: Calibration problem on UMAX Astra 1220S"</a>
<li> <b>Previous message:</b> <a href="0219.html">lduperval@sprint.ca: "Re: xsane-0.18 available"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0221.html">Oliver Rauch: "Re: Calibration problem on UMAX Astra 1220S"</a>
<li> <b>Reply:</b> <a href="0221.html">Oliver Rauch: "Re: Calibration problem on UMAX Astra 1220S"</a>
<li> <b>Reply:</b> <a href="0237.html">Oliver Rauch: "Re: Calibration problem on UMAX Astra 1220S"</a>
<li> <b>Reply:</b> <a href="0240.html">Oliver Rauch: "Re: Calibration problem on UMAX Astra 1220S"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi all,<br>
  My problem with the calibration is simple:  I can't get it to perform the<br>
calibration.  I'm using sane 1.00 with the build-1 patch for the umax drivers<br>
and xsane 0.18 for the frontend (tried xscanimage too).<br>
  I stuck a debug message in the code to supplement the messages already<br>
there and found that dev-&gt;do_calibration was zero when the scan process went<br>
through the do_calibration() function even when the box for "Quality<br>
Calibration" was checked in the interface.  The code checks and to me seems<br>
to only perform the calibration if this is nonzero.  I don't know if this is<br>
a problem in the driver itself or somewhere else but both xsane and<br>
xscanimage exhibit the same problem.  That's as far as I got, I have final<br>
exams for the next two days (take homes) so I won't be able to fiddle again<br>
until after that probably, but I figured I'd say something so someone with<br>
better knowledge of the code can maybe investigate.<br>
<p>
oh, btw, /proc/scsi/scsi says<br>
Host: scsi0 Channel: 00 Id: 05 Lun: 00<br>
  Vendor: UMAX     Model: Astra 1220S      Rev: V1.1<br>
  Type:   Scanner                          ANSI SCSI revision: 02<br>
<p>
<p>
Which I presume means it's firmware 1.1, (out of a possible 1.5, ugh).<br>
<p>
Thanks,<br>
-Dean Townsley<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0221.html">Oliver Rauch: "Re: Calibration problem on UMAX Astra 1220S"</a>
<li> <b>Previous message:</b> <a href="0219.html">lduperval@sprint.ca: "Re: xsane-0.18 available"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0221.html">Oliver Rauch: "Re: Calibration problem on UMAX Astra 1220S"</a>
<li> <b>Reply:</b> <a href="0221.html">Oliver Rauch: "Re: Calibration problem on UMAX Astra 1220S"</a>
<li> <b>Reply:</b> <a href="0237.html">Oliver Rauch: "Re: Calibration problem on UMAX Astra 1220S"</a>
<li> <b>Reply:</b> <a href="0240.html">Oliver Rauch: "Re: Calibration problem on UMAX Astra 1220S"</a>
<!-- reply="end" -->
</ul>
