<!-- received="Sat Mar 27 15:30:16 1999 PST" -->
<!-- sent="Sat, 27 Mar 1999 22:14:26 +0100" -->
<!-- name="Luciano Olivo" -->
<!-- email="luciano.olivo@ud.nettuno.it" -->
<!-- subject="Re: Mustek SE12000SP, SuSE5.3 and out of memory." -->
<!-- id="99032800352200.00235@xyz" -->
<!-- inreplyto="Mustek SE12000SP, SuSE5.3 and out of memory." -->
<title>sane-devel: Re: Mustek SE12000SP, SuSE5.3 and out of memory.</title>
<h1>Re: Mustek SE12000SP, SuSE5.3 and out of memory.</h1>
<b>Luciano Olivo</b> (<a href="mailto:luciano.olivo@ud.nettuno.it"><i>luciano.olivo@ud.nettuno.it</i></a>)<br>
<i>Sat, 27 Mar 1999 22:14:26 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#249">[ date ]</a><a href="index.html#249">[ thread ]</a><a href="subject.html#249">[ subject ]</a><a href="author.html#249">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0250.html">Bernd Schroeder: "Update microtek2 backend"</a>
<li> <b>Previous message:</b> <a href="0248.html">Bernd Schroeder: "Update of microtek2 backend available"</a>
<li> <b>Maybe in reply to:</b> <a href="0217.html">Luciano Olivo: "Mustek SE12000SP, SuSE5.3 and out of memory."</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;Oliver Rauch wrote:</i><br>
<i>&gt;</i><br>
<i>&gt;Hi Luciano,</i><br>
<i>&gt;</i><br>
<i>&gt;you made a mistake while you changed the linux-kernel-file sg.h</i><br>
<i>&gt;</i><br>
<i>&gt;Correct that and then recompile the kernel and sane!</i><br>
<i>&gt;</i><br>
<i>&gt;Bye</i><br>
<i>&gt;Oliver</i><br>
<i>&gt;</i><br>
<p>
Hi Oliver,<br>
<p>
thanks for the advice: I suspected that I made a mistake, but I was not able to<br>
find it until I unerstood that the compile.log was not overwritten at every<br>
compilation and that I was reading at every compilation the same error message<br>
(ok, you guessed right, I am a begginner).<br>
I corrected the mistake, but I still got the OUT OF MEMORY message when running<br>
scanimage or xscanimage in hig resolution or color! The day after I booted the<br>
system and ran again xscanimage: this time, to my great surprise, it<br>
worked fine at 300 dpi, color-mode (but very slowly, a lot of times slower than<br>
using the Mustek drivers under Windoze 3.11).<br>
Then, I don' t know why, the system crashed, with some dameages to the<br>
filesystem (I lost all the inodes containing the /var/log directory).<br>
May be I made some other mistake (the probability for this is not low) but<br>
I am beginning to think that some trick is needed to get SANE 1.0 to work<br>
with SuSE 5.3  the SE12000SP and the DMX3181LE scsi card.<br>
<p>
Bye<br>
<p>
Luciano<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0250.html">Bernd Schroeder: "Update microtek2 backend"</a>
<li> <b>Previous message:</b> <a href="0248.html">Bernd Schroeder: "Update of microtek2 backend available"</a>
<li> <b>Maybe in reply to:</b> <a href="0217.html">Luciano Olivo: "Mustek SE12000SP, SuSE5.3 and out of memory."</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
