<!-- received="Sun Feb  1 17:44:24 1998 PST" -->
<!-- sent="Mon, 2 Feb 1998 14:45:47 +1300" -->
<!-- name="rodgerd@ihug.co.nz" -->
<!-- email="rodgerd@ihug.co.nz" -->
<!-- subject="Re: request for comments on hardware" -->
<!-- id="" -->
<!-- inreplyto="Pine.LNX.3.95.980201190704.25800A-100000@nrb119c.physics.fsu.edu" -->
<title>sane-devel: Re: request for comments on hardware</title>
<h1>Re: request for comments on hardware</h1>
<a href="mailto:rodgerd@ihug.co.nz"><i>rodgerd@ihug.co.nz</i></a><br>
<i>Mon, 2 Feb 1998 14:45:47 +1300</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#5">[ date ]</a><a href="index.html#5">[ thread ]</a><a href="subject.html#5">[ subject ]</a><a href="author.html#5">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0006.html">Milon Firikis: "apple: Announce Pre-Alpha Apple Scanners backend (0.1)"</a>
<li> <b>Previous message:</b> <a href="0004.html">Peter JD Hall: "Re: Micotek E3, SANE-0.69"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Sun, Feb 01, 1998 at 07:27:35PM -0500, tim drummer wrote:<br>
<p>
<i>&gt; my overall impression is that the Astra 1200S and Microtek E6 are about</i><br>
<i>&gt; the same scanner at about the same price (around $200 mail order).</i><br>
<i>&gt; however, the HP 5P is siginificantlky higher (about $299 mail order). is</i><br>
<i>&gt; there any reason to spend the extra money for the HP?</i><br>
<p>
I've been highly impressed by the 5P - while the specs are no notably better<br>
than any other scanner in its range, thew visual quality of the scans is<br>
very impressive - I've used SANE and the 5P to aquire images of oil<br>
paintings for mt partner's web pages, and even at low resoultions, you get<br>
an impression of the textures of the painting.<br>
<p>
<pre>
-- 
Rodger Donaldson		<a href="mailto:rodgerd@ihug.co.nz">rodgerd@ihug.co.nz</a>
The Pinguin Patrol
"Rent a flat above a shop, cut your hair and get a job."
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0006.html">Milon Firikis: "apple: Announce Pre-Alpha Apple Scanners backend (0.1)"</a>
<li> <b>Previous message:</b> <a href="0004.html">Peter JD Hall: "Re: Micotek E3, SANE-0.69"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
