<!-- received="Mon Feb  2 10:15:19 1998 PST" -->
<!-- sent="Mon, 2 Feb 1998 18:22:04 +0100 (MET)" -->
<!-- name="Oliver.Rauch@Wolfsburg.DE" -->
<!-- email="Oliver.Rauch@Wolfsburg.DE" -->
<!-- subject="Re: request for comments on hardware" -->
<!-- id="199802021722.SAA00209@Babylon5.wolfsburg.de" -->
<!-- inreplyto="Pine.LNX.3.95.980201190704.25800A-100000@nrb119c.physics.fsu.edu" -->
<title>sane-devel: Re: request for comments on hardware</title>
<h1>Re: request for comments on hardware</h1>
<a href="mailto:Oliver.Rauch@Wolfsburg.DE"><i>Oliver.Rauch@Wolfsburg.DE</i></a><br>
<i>Mon, 2 Feb 1998 18:22:04 +0100 (MET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#8">[ date ]</a><a href="index.html#8">[ thread ]</a><a href="subject.html#8">[ subject ]</a><a href="author.html#8">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0009.html">Yves Huguenin: "sane 0-70/Amiga OS"</a>
<li> <b>Previous message:</b> <a href="0007.html">Rogier Wolff: "Re: SANE works on SPARCLinux!"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hello Tim.<br>
<p>
<i>&gt; i have read that Astra 1200S does not work with an adaptec 2940UW</i><br>
<p>
May be the adaptec 2940UW makes problem with the umax-backend and<br>
sane-0.69/sane-0.70, but there are no important problems as far as<br>
I know, so I think it will work!<br>
<p>
Bye<br>
Oliver<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0009.html">Yves Huguenin: "sane 0-70/Amiga OS"</a>
<li> <b>Previous message:</b> <a href="0007.html">Rogier Wolff: "Re: SANE works on SPARCLinux!"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
