<!-- received="Mon Feb  2 11:32:02 1998 PST" -->
<!-- sent="Mon, 02 Feb 1998 14:28:24 -0500" -->
<!-- name="Kevin Cozens" -->
<!-- email="kcozens@interlog.com" -->
<!-- subject="Re: sane-0.70 RPMS won't work properly with gtk 0.99.3" -->
<!-- id="3.0.32.19980202142814.006ffca0@interlog.com" -->
<!-- inreplyto="sane-0.70 RPMS won't work properly with gtk 0.99.3" -->
<title>sane-devel: Re: sane-0.70 RPMS won't work properly with gtk 0.99.3</title>
<h1>Re: sane-0.70 RPMS won't work properly with gtk 0.99.3</h1>
<b>Kevin Cozens</b> (<a href="mailto:kcozens@interlog.com"><i>kcozens@interlog.com</i></a>)<br>
<i>Mon, 02 Feb 1998 14:28:24 -0500</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#11">[ date ]</a><a href="index.html#11">[ thread ]</a><a href="subject.html#11">[ subject ]</a><a href="author.html#11">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0012.html">Christoph Doerbeck: "Problems after installing 0.70"</a>
<li> <b>Previous message:</b> <a href="0010.html">Carl D. Roth: "Re: DC25 Digi-Cam?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
At 10:33 AM 02/02/1998 -0800, you wrote:<br>
<i>&gt;On Mon, 2 Feb 1998, Kevin Cozens wrote:</i><br>
<i>&gt;</i><br>
<i>&gt;&gt; GIMP source had to be modified/fixed to work with the .3 version of GTK.</i><br>
<i>&gt;&gt; It would appear that the same thing applies to the current version of</i><br>
<i>&gt;&gt; SANE. Is this already being worked on by someone? I would prefer to do</i><br>
<i>&gt;&gt; my scanning in Linux with GIMP than having to go back to Windoze.</i><br>
<i>&gt;</i><br>
<i>&gt;You could always run xscanimage standalone and then fire up gimp, as a</i><br>
<i>&gt;last resort.</i><br>
<p>
That doesn't help as the problem was caused as a result of changes to the<br>
GTK libraries which are needed by xscanimage.<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0012.html">Christoph Doerbeck: "Problems after installing 0.70"</a>
<li> <b>Previous message:</b> <a href="0010.html">Carl D. Roth: "Re: DC25 Digi-Cam?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
