<!-- received="Sat Feb  7 22:22:15 1998 PST" -->
<!-- sent="Sat, 7 Feb 1998 22:22:13 -0800" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="David.Mosberger@acm.org" -->
<!-- subject="Re: sane-0.70 RPMS won't work properly with gtk 0.99.3" -->
<!-- id="199802080622.WAA16673@panda.mostang.com" -->
<!-- inreplyto="34D60C3E.14113095@hotmail.com" -->
<title>sane-devel: Re: sane-0.70 RPMS won't work properly with gtk 0.99.3</title>
<h1>Re: sane-0.70 RPMS won't work properly with gtk 0.99.3</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:David.Mosberger@acm.org"><i>David.Mosberger@acm.org</i></a>)<br>
<i>Sat, 7 Feb 1998 22:22:13 -0800</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#34">[ date ]</a><a href="index.html#34">[ thread ]</a><a href="subject.html#34">[ subject ]</a><a href="author.html#34">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0035.html">David Mosberger-Tang: "Re: Mustek Scan Magic 4800 P"</a>
<li> <b>Previous message:</b> <a href="0033.html">David Mosberger-Tang: "Re: Problems with compiling..."</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;&gt;&gt;&gt;&gt; On Mon, 02 Feb 1998 13:11:10 -0500, Kevin Cozens &lt;<a href="mailto:kcozens@interlog.com">kcozens@interlog.com</a>&gt; said:</i><br>
<p>
  Kevin&gt; Greetings, all!  I am running the latest version of GIMP<br>
  Kevin&gt; (0.99.18) which requires the latest GTK (0.99.3). The 0.70<br>
  Kevin&gt; version of the SANE scanner plug-in complains that it can't<br>
  Kevin&gt; find gtk_tooltips_destroy and would exit.<br>
<p>
Umh, sane-0.70 builds fine against gtk 0.99.3.  There aren't any calls<br>
to gtk_tooltips_destroy.  Are you sure you're picking up the correct<br>
shared libraries?  Sounds as if you had installed gtk 0.99.3 but, for<br>
some reason, the binary finds &amp; uses an older version of gtk.<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0035.html">David Mosberger-Tang: "Re: Mustek Scan Magic 4800 P"</a>
<li> <b>Previous message:</b> <a href="0033.html">David Mosberger-Tang: "Re: Problems with compiling..."</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
