<!-- received="Sun Feb  8 10:50:47 1998 PST" -->
<!-- sent="Sun, 8 Feb 1998 19:52:27 +0100 (MET)" -->
<!-- name="Oliver.Rauch@Wolfsburg.DE" -->
<!-- email="Oliver.Rauch@Wolfsburg.DE" -->
<!-- subject="Astra 6X0S colormode" -->
<!-- id="199802081852.TAA00600@Babylon5.wolfsburg.de" -->
<!-- inreplyto="" -->
<title>sane-devel: Astra 6X0S colormode</title>
<h1>Astra 6X0S colormode</h1>
<a href="mailto:Oliver.Rauch@Wolfsburg.DE"><i>Oliver.Rauch@Wolfsburg.DE</i></a><br>
<i>Sun, 8 Feb 1998 19:52:27 +0100 (MET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#37">[ date ]</a><a href="index.html#37">[ thread ]</a><a href="subject.html#37">[ subject ]</a><a href="author.html#37">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0038.html">Preston Brown: "Re: Astra 6X0S colormode"</a>
<li> <b>Previous message:</b> <a href="0036.html">Benedikt Eric Heinen: "Re: sane-0.70: net-backend?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0038.html">Preston Brown: "Re: Astra 6X0S colormode"</a>
<li> <b>Reply:</b> <a href="0038.html">Preston Brown: "Re: Astra 6X0S colormode"</a>
<li> <b>Reply:</b> <a href="0045.html">Nicolas Lucas de Peslouan: "Re: Astra 6X0S colormode"</a>
<li> <b>Reply:</b> <a href="0049.html">Nicolas Lucas de Peslouan: "Re: Astra 6X0S colormode"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hello Astra 6X0S users!<br>
<p>
The Astra 600S works in colormode with exact 300 dpi<br>
now, may be the 610S does it, too!<br>
Support for other resolutions will come!<br>
<p>
You can download the current patch from:<br>
www.wolfsburg.de/~rauch<br>
<p>
Bye<br>
Oliver<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0038.html">Preston Brown: "Re: Astra 6X0S colormode"</a>
<li> <b>Previous message:</b> <a href="0036.html">Benedikt Eric Heinen: "Re: sane-0.70: net-backend?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0038.html">Preston Brown: "Re: Astra 6X0S colormode"</a>
<li> <b>Reply:</b> <a href="0038.html">Preston Brown: "Re: Astra 6X0S colormode"</a>
<li> <b>Reply:</b> <a href="0045.html">Nicolas Lucas de Peslouan: "Re: Astra 6X0S colormode"</a>
<li> <b>Reply:</b> <a href="0049.html">Nicolas Lucas de Peslouan: "Re: Astra 6X0S colormode"</a>
<!-- reply="end" -->
</ul>
