<!-- received="Tue Feb 10 19:16:01 1998 PST" -->
<!-- sent="Tue, 10 Feb 1998 19:18:07 -0800" -->
<!-- name="Harald Sundt" -->
<!-- email="hsundt@eugn.uswest.net" -->
<!-- subject="SANE on a PPC linux box?" -->
<!-- id="v04003a00b106c80a3a5c@[207.109.244.42]" -->
<!-- inreplyto="" -->
<title>sane-devel: SANE on a PPC linux box?</title>
<h1>SANE on a PPC linux box?</h1>
<b>Harald Sundt</b> (<a href="mailto:hsundt@eugn.uswest.net"><i>hsundt@eugn.uswest.net</i></a>)<br>
<i>Tue, 10 Feb 1998 19:18:07 -0800</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#52">[ date ]</a><a href="index.html#52">[ thread ]</a><a href="subject.html#52">[ subject ]</a><a href="author.html#52">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0053.html">David Mosberger-Tang: "Re: Document storage system?"</a>
<li> <b>Previous message:</b> <a href="0051.html">Marc Rassbach: "Document storage system?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0054.html">David Mosberger-Tang: "Re: SANE on a PPC linux box?"</a>
<li> <b>Reply:</b> <a href="0054.html">David Mosberger-Tang: "Re: SANE on a PPC linux box?"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I eager devoured the new LJ article on SANE, especially in that I have a<br>
UMAX Vista S6E, Connectex EyeBall Cam, and these seem to be suppoerted by<br>
SANE.<br>
<p>
Being a newbie to Linux I wondered if a binary RPM for ppc is available, or<br>
if the "generic" form would work. And I would like to get the binary<br>
compiled if possible.<br>
<p>
I hope to plug it into the GIMP and get going!<br>
<p>
Thank you<br>
<p>
Hal<br>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0053.html">David Mosberger-Tang: "Re: Document storage system?"</a>
<li> <b>Previous message:</b> <a href="0051.html">Marc Rassbach: "Document storage system?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0054.html">David Mosberger-Tang: "Re: SANE on a PPC linux box?"</a>
<li> <b>Reply:</b> <a href="0054.html">David Mosberger-Tang: "Re: SANE on a PPC linux box?"</a>
<!-- reply="end" -->
</ul>
