<!-- received="Thu Feb 12 13:17:00 1998 PST" -->
<!-- sent="Thu, 12 Feb 1998 13:17:00 -0800" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="davidm@mostang.com" -->
<!-- subject="Re: Mustek 1200SP" -->
<!-- id="199802122117.NAA04404@panda.mostang.com" -->
<!-- inreplyto="Mustek 1200SP" -->
<title>sane-devel: Re: Mustek 1200SP</title>
<h1>Re: Mustek 1200SP</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:davidm@mostang.com"><i>davidm@mostang.com</i></a>)<br>
<i>Thu, 12 Feb 1998 13:17:00 -0800</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#70">[ date ]</a><a href="index.html#70">[ thread ]</a><a href="subject.html#70">[ subject ]</a><a href="author.html#70">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0071.html">Hans Christian Saustrup: "Re: Mustek 1200SP"</a>
<li> <b>Previous message:</b> <a href="0069.html">Hans Christian Saustrup: "Re: Mustek 1200SP"</a>
<li> <b>Maybe in reply to:</b> <a href="0058.html">Hans Christian Saustrup: "Mustek 1200SP"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0071.html">Hans Christian Saustrup: "Re: Mustek 1200SP"</a>
<li> <b>Reply:</b> <a href="0071.html">Hans Christian Saustrup: "Re: Mustek 1200SP"</a>
<li> <b>Reply:</b> <a href="0075.html">becka@rz.uni-duesseldorf.de: "Re: Mustek 1200SP"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Is there someone with a Mustek 1200SP scanner that has the infamous color<br>
strip problem AND is willing to give me access to his/her machine AND<br>
has a continuous and reasonably fast Internet connection?<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0071.html">Hans Christian Saustrup: "Re: Mustek 1200SP"</a>
<li> <b>Previous message:</b> <a href="0069.html">Hans Christian Saustrup: "Re: Mustek 1200SP"</a>
<li> <b>Maybe in reply to:</b> <a href="0058.html">Hans Christian Saustrup: "Mustek 1200SP"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0071.html">Hans Christian Saustrup: "Re: Mustek 1200SP"</a>
<li> <b>Reply:</b> <a href="0071.html">Hans Christian Saustrup: "Re: Mustek 1200SP"</a>
<li> <b>Reply:</b> <a href="0075.html">becka@rz.uni-duesseldorf.de: "Re: Mustek 1200SP"</a>
<!-- reply="end" -->
</ul>
