<!-- received="Fri Feb 13 00:58:35 1998 PST" -->
<!-- sent="Fri, 13 Feb 1998 09:57:30 +0100 (MET)" -->
<!-- name="Rogier Wolff" -->
<!-- email="R.E.Wolff@BitWizard.nl" -->
<!-- subject="Re: Mustek ScanExpress 12000SP" -->
<!-- id="199802130857.JAA00743@cave.BitWizard.nl" -->
<!-- inreplyto="98021307570800.00232@fbgeo5" -->
<title>sane-devel: Re: Mustek ScanExpress 12000SP</title>
<h1>Re: Mustek ScanExpress 12000SP</h1>
<b>Rogier Wolff</b> (<a href="mailto:R.E.Wolff@BitWizard.nl"><i>R.E.Wolff@BitWizard.nl</i></a>)<br>
<i>Fri, 13 Feb 1998 09:57:30 +0100 (MET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#81">[ date ]</a><a href="index.html#81">[ thread ]</a><a href="subject.html#81">[ subject ]</a><a href="author.html#81">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0082.html">Hans Christian Saustrup: "RE: Mustek 1200SP - eprom rip?"</a>
<li> <b>Previous message:</b> <a href="0080.html">Yves Huguenin: "RE: Mustek ScanExpress 12000SP"</a>
<li> <b>In reply to:</b> <a href="0078.html">cschirme@fbgeo1.tuwien.ac.at: "Mustek ScanExpress 12000SP"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0089.html">David Mosberger-Tang: "Re: Mustek ScanExpress 12000SP"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<a href="mailto:cschirme@fbgeo1.tuwien.ac.at">cschirme@fbgeo1.tuwien.ac.at</a> wrote:<br>
<p>
<i>&gt; With SANE_DEBUG_MUSTEK=128, I can see that the connection to the</i><br>
<i>&gt; scanner is established, but it quits scanning immediately. (Not even</i><br>
<i>&gt; one line, Out of memory, 0 bytes read).</i><br>
<p>
<i>&gt; SCSI-Buffers is increased from 32k to 128k. Kernel &amp; Sane recompiled.</i><br>
<p>
<i>&gt; It seems that the scanner tries to read several lines to the SCSI</i><br>
<i>&gt; buffer and quits, when this buffer is full.</i><br>
<p>
Sounds as if you're not RUNNING the updated (recompiled) kernel. <br>
<p>
					Roger. <br>
<p>
<pre>
-- 
If it's there and you can see it, it's REAL      <a href="mailto:|___R.E.Wolff@BitWizard.nl">|___R.E.Wolff@BitWizard.nl</a>  |
If it's there and you can't see it, it's TRANSPARENT |  Tel: +31-15-2137555  |
If it's not there and you can see it, it's VIRTUAL   |__FAX:_+31-15-2138217  |
If it's not there and you can't see it, it's GONE! -- Roy Wilks, 1983  |_____|
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0082.html">Hans Christian Saustrup: "RE: Mustek 1200SP - eprom rip?"</a>
<li> <b>Previous message:</b> <a href="0080.html">Yves Huguenin: "RE: Mustek ScanExpress 12000SP"</a>
<li> <b>In reply to:</b> <a href="0078.html">cschirme@fbgeo1.tuwien.ac.at: "Mustek ScanExpress 12000SP"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0089.html">David Mosberger-Tang: "Re: Mustek ScanExpress 12000SP"</a>
<!-- reply="end" -->
</ul>
