<!-- received="Tue Feb 17 15:58:33 1998 PST" -->
<!-- sent="Tue, 17 Feb 1998 16:57:30 -0700 (MST)" -->
<!-- name="Derrik Pates" -->
<!-- email="dmp8309@silver.sdsmt.edu" -->
<!-- subject="HP and Microtek parallel scanners" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: HP and Microtek parallel scanners</title>
<h1>HP and Microtek parallel scanners</h1>
<b>Derrik Pates</b> (<a href="mailto:dmp8309@silver.sdsmt.edu"><i>dmp8309@silver.sdsmt.edu</i></a>)<br>
<i>Tue, 17 Feb 1998 16:57:30 -0700 (MST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#101">[ date ]</a><a href="index.html#101">[ thread ]</a><a href="subject.html#101">[ subject ]</a><a href="author.html#101">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0102.html">Allen Wilkinson: "HELP: RedHat 5.0 and AHA1502AE SCSI adapter for Microtek E6 scanner setup"</a>
<li> <b>Previous message:</b> <a href="0100.html">Frederic LE FOLL: "OS/2 platform"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I got curious and started poking into the Windows95 drivers for HP and<br>
Microtek's new parallel-port scanners. Just thought I'd drop a note and<br>
let you know that the HP ScanJet 5100C uses a Shuttle EPST controller<br>
chip, and the Microtek scanners (the V300, V310, E3Plus, V600) use<br>
OnSpec's SCSI controller chip. Support for both these chips is currently<br>
in development, and if you're interested, take a look at<br>
<a href="http://www.torque.net/parport/">http://www.torque.net/parport/</a>. I know it'd be nice to see more scanners<br>
supported on Linux.<br>
<p>
Derrik Pates<br>
<a href="mailto:dmp8309@silver.sdsmt.edu">dmp8309@silver.sdsmt.edu</a><br>
<a href="mailto:dpates@acm.org">dpates@acm.org</a><br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0102.html">Allen Wilkinson: "HELP: RedHat 5.0 and AHA1502AE SCSI adapter for Microtek E6 scanner setup"</a>
<li> <b>Previous message:</b> <a href="0100.html">Frederic LE FOLL: "OS/2 platform"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
