<!-- received="Thu Feb 19 13:38:58 1998 PST" -->
<!-- sent="Thu, 19 Feb 1998 17:18:04 +0100 (MET)" -->
<!-- name="Oliver.Rauch@Wolfsburg.DE" -->
<!-- email="Oliver.Rauch@Wolfsburg.DE" -->
<!-- subject="Re: Umax Astra 6x0S - CCD distance - Do they *really* do this that way ?" -->
<!-- id="199802191618.RAA00272@Babylon5.wolfsburg.de" -->
<!-- inreplyto="34EB7FC6.2029CD04@usa.net" -->
<title>sane-devel: Re: Umax Astra 6x0S - CCD distance - Do they *really* do this that way ?</title>
<h1>Re: Umax Astra 6x0S - CCD distance - Do they *really* do this that way ?</h1>
<a href="mailto:Oliver.Rauch@Wolfsburg.DE"><i>Oliver.Rauch@Wolfsburg.DE</i></a><br>
<i>Thu, 19 Feb 1998 17:18:04 +0100 (MET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#112">[ date ]</a><a href="index.html#112">[ thread ]</a><a href="subject.html#112">[ subject ]</a><a href="author.html#112">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0113.html">Oliver.Rauch@Wolfsburg.DE: "Astra 6X0S patch"</a>
<li> <b>Previous message:</b> <a href="0111.html">becka@rz.uni-duesseldorf.de: "Re: Umax Astra 6x0S - CCD distance - Do they *really* do this that way"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi,<br>
<p>
<i>&gt; us-&gt;CCD_distance = us-&gt;y_resolution / 37.5 +.5;</i><br>
As long as us-&gt;CCD_distance is type integer, you get an 8 and that<br>
is ccd_distance!<br>
<p>
<i>&gt; This way, you get correct images at 4 different resolutions (75, 150,</i><br>
<i>&gt; 225 and 300 dpi). </i><br>
I know 300 dpi and 150 dpi work with my version, 75 should work too, but<br>
is not tested, 225 dpi don't know!<br>
<p>
<i>&gt; After this change, all images (except the 4 resolutions above) need to</i><br>
<i>&gt; be ccd-corrected, but with a float ccd value, -1 &lt; ccd &lt; 1</i><br>
<p>
I think we have to calculate when does a ccd is positioned over a<br>
line that shall be scanned, then the scan-line is sent in that moment<br>
to the computer.<br>
If we use 300, 150 or 75 dpi, we get the data in correct order,<br>
if we use other resolutions, the lines are scanned and sent<br>
in an other order!<br>
<p>
Bye<br>
Oliver<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0113.html">Oliver.Rauch@Wolfsburg.DE: "Astra 6X0S patch"</a>
<li> <b>Previous message:</b> <a href="0111.html">becka@rz.uni-duesseldorf.de: "Re: Umax Astra 6x0S - CCD distance - Do they *really* do this that way"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
