<!-- received="Mon Feb 23 21:17:34 1998 PST" -->
<!-- sent="Mon, 23 Feb 1998 21:17:33 -0800" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="David.Mosberger@acm.org" -->
<!-- subject="Re: How to send in patches/code ...." -->
<!-- id="199802240517.VAA01607@panda.mostang.com" -->
<!-- inreplyto="199802231558.QAA01025@hyper.huygens.org" -->
<title>sane-devel: Re: How to send in patches/code ....</title>
<h1>Re: How to send in patches/code ....</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:David.Mosberger@acm.org"><i>David.Mosberger@acm.org</i></a>)<br>
<i>Mon, 23 Feb 1998 21:17:33 -0800</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#150">[ date ]</a><a href="index.html#150">[ thread ]</a><a href="subject.html#150">[ subject ]</a><a href="author.html#150">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0151.html">David Mosberger-Tang: "sane-0.71 available now"</a>
<li> <b>Previous message:</b> <a href="0149.html">David Mosberger-Tang: "Re: Re[1]: someone working on hp-backend ?"</a>
<li> <b>In reply to:</b> <a href="0134.html">Feico Dillema: "How to send in patches/code ...."</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;&gt;&gt;&gt;&gt; On Mon, 23 Feb 1998 16:58:36 +0100, Feico Dillema &lt;<a href="mailto:dillema@acm.org">dillema@acm.org</a>&gt; said:</i><br>
<p>
  Feico&gt; I'm new to this list, so this may be a simple and obvious<br>
  Feico&gt; list of questions.  I'm busy adding support for RICOH<br>
  Feico&gt; scanners<br>
<p>
Great!<br>
<p>
  Feico&gt; 1. How do I send in little patches for SANE to support these<br>
  Feico&gt; scanners (it only needs to recognize some ID-strings).<br>
<p>
Just mail me a diff.  Unified diffs (diff -u) is my preferred format.<br>
<p>
  Feico&gt; [snip...]<br>
<p>
  Feico&gt; 3. I'm considering to start working on a proper SANE backend<br>
  Feico&gt; for Ricoh scanners, when I finish the PINT code. Could you<br>
  Feico&gt; give me some pointers to information I need to write a SANE<br>
  Feico&gt; backend, and in addition give me an indication on how much<br>
  Feico&gt; work that would be?<br>
<p>
Assuming you've read the SANE API docs already (available at<br>
<a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>), it's generally easiest to start with an<br>
existing backend that's reasonably close to what you need.  The<br>
mustek, umax, snapscan, coolscan, tamarack all look fairly full<br>
featured (though I have only seen the Mustek backend in action), so<br>
anyone of those should do.<br>
<p>
Cheers,<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0151.html">David Mosberger-Tang: "sane-0.71 available now"</a>
<li> <b>Previous message:</b> <a href="0149.html">David Mosberger-Tang: "Re: Re[1]: someone working on hp-backend ?"</a>
<li> <b>In reply to:</b> <a href="0134.html">Feico Dillema: "How to send in patches/code ...."</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
