<!-- received="Wed Feb 25 14:10:19 1998 PST" -->
<!-- sent="Wed, 25 Feb 1998 18:37:10 +0100 (MET)" -->
<!-- name="Oliver.Rauch@Wolfsburg.DE" -->
<!-- email="Oliver.Rauch@Wolfsburg.DE" -->
<!-- subject="Re: Request for Information" -->
<!-- id="199802251737.SAA00272@Babylon5.wolfsburg.de" -->
<!-- inreplyto="199802251208.RAA04142@venus.sarksoft.com" -->
<title>sane-devel: Re: Request for Information</title>
<h1>Re: Request for Information</h1>
<a href="mailto:Oliver.Rauch@Wolfsburg.DE"><i>Oliver.Rauch@Wolfsburg.DE</i></a><br>
<i>Wed, 25 Feb 1998 18:37:10 +0100 (MET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#175">[ date ]</a><a href="index.html#175">[ thread ]</a><a href="subject.html#175">[ subject ]</a><a href="author.html#175">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0176.html">Kaz Sasayama: "Re: Epson GT8000 (was Re: Epson GT-5500)"</a>
<li> <b>Previous message:</b> <a href="0174.html">Matthias Trute: "Epson GT8000 (was Re: Epson GT-5500)"</a>
<li> <b>In reply to:</b> <a href="0169.html">Kiran R. Ambardekar: "Request for Information"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0180.html">Christoph Doerbeck: "Re: Request for Information"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi Kiran,<br>
<p>
<i>&gt; We have very recently purchased a UMAX Astra 1200S scanner.</i><br>
<i>&gt; </i><br>
<i>&gt; Could you please let me know if I can load the SANE driver and </i><br>
<i>&gt; network server on our Linux (RedHat) box and load some suitable </i><br>
<i>&gt; software (if you can suggest) on Win95 based PCs so that the scanner </i><br>
<i>&gt; connected to Linux box could be shared by guys working on Win95?</i><br>
<p>
Not the way you think about!<br>
But what you could do is - if you have a fast network-connection between<br>
the two computers - you could run X11 on the Win95 System and use<br>
the SANE on the linux-computer.<br>
<p>
But then you have to transfer the scanned image from the linux-machine<br>
to the win95-machine via nfs or ftp!<br>
<p>
Bye<br>
Oliver<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0176.html">Kaz Sasayama: "Re: Epson GT8000 (was Re: Epson GT-5500)"</a>
<li> <b>Previous message:</b> <a href="0174.html">Matthias Trute: "Epson GT8000 (was Re: Epson GT-5500)"</a>
<li> <b>In reply to:</b> <a href="0169.html">Kiran R. Ambardekar: "Request for Information"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0180.html">Christoph Doerbeck: "Re: Request for Information"</a>
<!-- reply="end" -->
</ul>
