<!-- received="Wed Feb 25 22:00:23 1998 PST" -->
<!-- sent="Wed, 25 Feb 1998 22:00:21 -0800" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="David.Mosberger@acm.org" -->
<!-- subject="RE: ScanExpress" -->
<!-- id="199802260600.WAA04780@panda.mostang.com" -->
<!-- inreplyto="01BD4222.78EA1550.yves.huguenin@urbanet.ch" -->
<title>sane-devel: RE: ScanExpress</title>
<h1>RE: ScanExpress</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:David.Mosberger@acm.org"><i>David.Mosberger@acm.org</i></a>)<br>
<i>Wed, 25 Feb 1998 22:00:21 -0800</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#177">[ date ]</a><a href="index.html#177">[ thread ]</a><a href="subject.html#177">[ subject ]</a><a href="author.html#177">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0178.html">Pkirchg@aol.com: "Help with HP-Scanners for new backend"</a>
<li> <b>Previous message:</b> <a href="0176.html">Kaz Sasayama: "Re: Epson GT8000 (was Re: Epson GT-5500)"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;&gt;&gt;&gt;&gt; On Wed, 25 Feb 1998 19:20:45 +0100, Yves Huguenin &lt;<a href="mailto:yves.huguenin@urbanet.ch">yves.huguenin@urbanet.ch</a>&gt; said:</i><br>
<p>
  Yves&gt; The problem is that musteck begin to use the standard SCSI-II<br>
  Yves&gt; command !  With the old, the scanner does nothing.  Thor<br>
<p>
Even the "old" protocol was following scsi-ii somewhat.  Do you know<br>
what changed or what you based your comment on?<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0178.html">Pkirchg@aol.com: "Help with HP-Scanners for new backend"</a>
<li> <b>Previous message:</b> <a href="0176.html">Kaz Sasayama: "Re: Epson GT8000 (was Re: Epson GT-5500)"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
