<!-- received="Fri Feb 27 17:53:47 1998 PST" -->
<!-- sent="28 Feb 1998 10:53:02 +0900" -->
<!-- name="Kaz Sasayama" -->
<!-- email="Kaz.Sasayama@hypercore.co.jp" -->
<!-- subject="Re: Epson GT8000 (was Re: Epson GT-5500)" -->
<!-- id="" -->
<!-- inreplyto="Thu, 26 Feb 1998 19:57:25 +0100" -->
<title>sane-devel: Re: Epson GT8000 (was Re: Epson GT-5500)</title>
<h1>Re: Epson GT8000 (was Re: Epson GT-5500)</h1>
<b>Kaz Sasayama</b> (<a href="mailto:Kaz.Sasayama@hypercore.co.jp"><i>Kaz.Sasayama@hypercore.co.jp</i></a>)<br>
<i>28 Feb 1998 10:53:02 +0900</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#189">[ date ]</a><a href="index.html#189">[ thread ]</a><a href="subject.html#189">[ subject ]</a><a href="author.html#189">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0190.html">Kevin Dalley: "Problems with sane-0.71 and gimp 0.99.18"</a>
<li> <b>Previous message:</b> <a href="0188.html">Donald Burr: "RE: Microtek 630"</a>
<li> <b>In reply to:</b> <a href="0187.html">Matthias Trute: "Re: Epson GT8000 (was Re: Epson GT-5500)"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Thank you for the report, but I couldn't guess what is wrong <br>
from that only.<br>
<p>
Can you try again with SANE_DEBUG_SANEI_SCSI set to 4?  It<br>
will produce debug messages from the SCSI functions.<br>
<p>
<pre>
-- 
Kaz Sasayama &lt;<a href="mailto:Kaz.Sasayama@hypercore.co.jp">Kaz.Sasayama@hypercore.co.jp</a>&gt;
Hypercore Software Design, Ltd. &lt;URL:<a href="http://www.hypercore.co.jp/">http://www.hypercore.co.jp/</a>&gt;
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0190.html">Kevin Dalley: "Problems with sane-0.71 and gimp 0.99.18"</a>
<li> <b>Previous message:</b> <a href="0188.html">Donald Burr: "RE: Microtek 630"</a>
<li> <b>In reply to:</b> <a href="0187.html">Matthias Trute: "Re: Epson GT8000 (was Re: Epson GT-5500)"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
