<!-- received="Sun May  2 15:38:02 1999 PDT" -->
<!-- sent="Mon, 3 May 1999 00:38:12 +0200" -->
<!-- name="Petter Reinholdtsen" -->
<!-- email="pere@hungry.com" -->
<!-- subject="Re: AGFA Arcus II" -->
<!-- id="199905022238.AAA30379@lee.Cc.Uit.No" -->
<!-- inreplyto="AGFA Arcus II" -->
<title>sane-devel: Re: AGFA Arcus II</title>
<h1>Re: AGFA Arcus II</h1>
<b>Petter Reinholdtsen</b> (<a href="mailto:pere@hungry.com"><i>pere@hungry.com</i></a>)<br>
<i>Mon, 3 May 1999 00:38:12 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#13">[ date ]</a><a href="index.html#13">[ thread ]</a><a href="subject.html#13">[ subject ]</a><a href="author.html#13">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0014.html">Petter Reinholdtsen: "Re: xsane default sizes"</a>
<li> <b>Previous message:</b> <a href="0012.html">Petter Reinholdtsen: "Re: May sane_init fail?"</a>
<li> <b>Maybe in reply to:</b> <a href="0003.html">robc: "AGFA Arcus II"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt; I've got an Agfa ARCUS II working with SANE version 1.01 under Red</i><br>
<i>&gt; Hat5.2</i><br>
<p>
Which backend where you using?  (what is the output from find-scanner<br>
and 'scanimage -L'?)<br>
<pre>
-- 
##&gt;  Petter Reinholdtsen &lt;##    | <a href="mailto:pere@td.org.uit.no">pere@td.org.uit.no</a>
 O-  &lt;SCRIPT Language="Javascript"&gt;window.close()&lt;/SCRIPT&gt;
<a href="http://www.hungry.com/~pere/">http://www.hungry.com/~pere/</a>    | Go Mozilla, go! Go!
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0014.html">Petter Reinholdtsen: "Re: xsane default sizes"</a>
<li> <b>Previous message:</b> <a href="0012.html">Petter Reinholdtsen: "Re: May sane_init fail?"</a>
<li> <b>Maybe in reply to:</b> <a href="0003.html">robc: "AGFA Arcus II"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
