<!-- received="Tue May  4 08:36:19 1999 PDT" -->
<!-- sent="Tue, 4 May 1999 09:35:17 -0600 (MDT)" -->
<!-- name="Andreas Dilger" -->
<!-- email="adilger@enel.ucalgary.ca" -->
<!-- subject="Re: Question" -->
<!-- id="199905041535.JAA15527@munet-d.enel.ucalgary.ca" -->
<!-- inreplyto="372EE666D2.F15FBENDER@relay1.spu.edu.ar" -->
<title>sane-devel: Re: Question</title>
<h1>Re: Question</h1>
<b>Andreas Dilger</b> (<a href="mailto:adilger@enel.ucalgary.ca"><i>adilger@enel.ucalgary.ca</i></a>)<br>
<i>Tue, 4 May 1999 09:35:17 -0600 (MDT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#40">[ date ]</a><a href="index.html#40">[ thread ]</a><a href="subject.html#40">[ subject ]</a><a href="author.html#40">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0041.html">Peter Kirchgessner: "Re: HP Scanjet XXX SCSI and Linux Crash"</a>
<li> <b>Previous message:</b> <a href="0039.html">Oliver Rauch: "(no subject)"</a>
<li> <b>In reply to:</b> <a href="0036.html">Pablo Bendersky: "Re: Question"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
You write:<br>
<i>&gt; I knew that. I also red the problem is that there's not any standard.</i><br>
<i>&gt; I would like to contribute making tests on my scanner, and trying to</i><br>
<i>&gt; detect the protocol, but I would need you to tell me how to make those</i><br>
<i>&gt; tests and what to test.</i><br>
<p>
The first step is to contact the manufacturer to see if you can get<br>
detailed specs on the protocol.  Usually this is not very successful.<br>
<p>
I haven't done this myself, but the general consensus is that you need<br>
to run WINE or DOSEMU (if the scanner has a DOS driver) and try to record<br>
the parallel protocol from the TWAIN driver and decode it.  Then<br>
re-implement it under Linux.  It may also be possible with VMWARE if you<br>
modify the Linux lp driver to record all of the traffic.<br>
<p>
Cheers, Andreas<br>
<pre>
-- 
Andreas Dilger   University of Calgary  \"If a man ate a pound of pasta and
                 Micronet Research Group \ a pound of antipasto, would they
Dept of Electrical &amp; Computer Engineering \   cancel out, leaving him still
<a href="http://www-mddsp.enel.ucalgary.ca/People/adilger/">http://www-mddsp.enel.ucalgary.ca/People/adilger/</a>       hungry?" -- Dogbert
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0041.html">Peter Kirchgessner: "Re: HP Scanjet XXX SCSI and Linux Crash"</a>
<li> <b>Previous message:</b> <a href="0039.html">Oliver Rauch: "(no subject)"</a>
<li> <b>In reply to:</b> <a href="0036.html">Pablo Bendersky: "Re: Question"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
