<!-- received="Thu May  6 04:24:09 1999 PDT" -->
<!-- sent="Thu, 6 May 1999 13:24:01 +0200 (MESZ)" -->
<!-- name="Gunter Koenigsmann" -->
<!-- email="siggkoen@cip.e-technik.uni-erlangen.de" -->
<!-- subject="Mustek 12000P" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Mustek 12000P</title>
<h1>Mustek 12000P</h1>
<b>Gunter Koenigsmann</b> (<a href="mailto:siggkoen@cip.e-technik.uni-erlangen.de"><i>siggkoen@cip.e-technik.uni-erlangen.de</i></a>)<br>
<i>Thu, 6 May 1999 13:24:01 +0200 (MESZ)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#59">[ date ]</a><a href="index.html#59">[ thread ]</a><a href="subject.html#59">[ subject ]</a><a href="author.html#59">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0060.html">Simon Huggins: "Newbie to SANE - scanimage patch"</a>
<li> <b>Previous message:</b> <a href="0058.html">=?iso-8859-1?Q?Donnchadh_=D3_Donnabh=E1in?=: "RE: Mustek parallel scanner Linux driver"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I know this isn't the right mailing list to ask, but <br>
<p>
... Does anybody know how to use the Mustek 12000P scanner from mustek<br>
under any given Os? ... Me not, and the manufacurer won't answer my mails<br>
<p>
Thenks,<br>
<p>
Gunter<br>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0060.html">Simon Huggins: "Newbie to SANE - scanimage patch"</a>
<li> <b>Previous message:</b> <a href="0058.html">=?iso-8859-1?Q?Donnchadh_=D3_Donnabh=E1in?=: "RE: Mustek parallel scanner Linux driver"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
