<!-- received="Thu May  6 10:52:25 1999 PDT" -->
<!-- sent="Thu, 06 May 1999 18:52:37 +0100" -->
<!-- name="Dr. Andreas Bolsch" -->
<!-- email="Andreas.Bolsch@maths.nott.ac.uk" -->
<!-- subject="Re: Why is my Mustek Scanner not found?" -->
<!-- id="" -->
<!-- inreplyto="Why is my Mustek Scanner not found?" -->
<title>sane-devel: Re: Why is my Mustek Scanner not found?</title>
<h1>Re: Why is my Mustek Scanner not found?</h1>
<b>Dr. Andreas Bolsch</b> (<a href="mailto:Andreas.Bolsch@maths.nott.ac.uk"><i>Andreas.Bolsch@maths.nott.ac.uk</i></a>)<br>
<i>Thu, 06 May 1999 18:52:37 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#61">[ date ]</a><a href="index.html#61">[ thread ]</a><a href="subject.html#61">[ subject ]</a><a href="author.html#61">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0062.html">Michele Bini: "parport scanners and the 90c26 adapter"</a>
<li> <b>Previous message:</b> <a href="0060.html">Simon Huggins: "Newbie to SANE - scanimage patch"</a>
<li> <b>Maybe in reply to:</b> <a href="0051.html">Norman Elliott: "Why is my Mustek Scanner not found?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Might be a good idea to swap the SCSI cards. <br>
Do you get the same result when running scanimage as root?<br>
And you will need to add a symbolic link from /dev/scanner<br>
(or whatever is in /etc/sane.d/mustek.conf).<br>
to the actual device (/dev/sg*).<br>
<p>
And, does your kernel include the generic SCSI driver?<br>
Or, if it is a module, was it loaded? The fact that you see<br>
the scanner unter /proc/scsi/scsi or so does *not* imply that <br>
the generic SCSI driver is available. This has nothing to<br>
do with the fact that you can use a SCSI disk, too.<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0062.html">Michele Bini: "parport scanners and the 90c26 adapter"</a>
<li> <b>Previous message:</b> <a href="0060.html">Simon Huggins: "Newbie to SANE - scanimage patch"</a>
<li> <b>Maybe in reply to:</b> <a href="0051.html">Norman Elliott: "Why is my Mustek Scanner not found?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
