<!-- received="Mon May 10 12:27:45 1999 PDT" -->
<!-- sent="Mon, 10 May 1999 21:25:30 +0200" -->
<!-- name="Peter Kirchgessner" -->
<!-- email="peter@kirchgessner.net" -->
<!-- subject="Re: Low versus medium priced scanners" -->
<!-- id="" -->
<!-- inreplyto="Low versus medium priced scanners" -->
<title>sane-devel: Re: Low versus medium priced scanners</title>
<h1>Re: Low versus medium priced scanners</h1>
<b>Peter Kirchgessner</b> (<a href="mailto:peter@kirchgessner.net"><i>peter@kirchgessner.net</i></a>)<br>
<i>Mon, 10 May 1999 21:25:30 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#77">[ date ]</a><a href="index.html#77">[ thread ]</a><a href="subject.html#77">[ subject ]</a><a href="author.html#77">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0078.html">Peter Kirchgessner: "Re: Hp 4C Scanner"</a>
<li> <b>Previous message:</b> <a href="0076.html">Ewald R. de Wit: "Re: [Announce] WinSANE 0.1.0.0 Release"</a>
<li> <b>Maybe in reply to:</b> <a href="0075.html">Rick Macdonald: "Low versus medium priced scanners"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Rick Macdonald wrote:<br>
<i>&gt; </i><br>
<i>&gt; It's seems that I'm currently best off getting a SCSI based scanner, but I</i><br>
<i>&gt; have a genereal question first.</i><br>
<i>&gt; </i><br>
<i>&gt; When comparing a cheap scanner (under $100) such as the Plustek 96xx</i><br>
<i>&gt; series with a medium price scanner such as the so-called business-class HP</i><br>
<i>&gt; 5200c, I can't tell what claims are due to the scanner hardware itself, or</i><br>
<i>&gt; simply the bundled software. Obviously, the bundled software does a Linux</i><br>
<i>&gt; user little good.</i><br>
<i>&gt; </i><br>
<i>&gt; The HP has color correction, snap-to colors for areas of what should be</i><br>
<i>&gt; solid color, recognizes black and white line art and vectorizes it for</i><br>
<i>&gt; smooth scaling, etc. This _sounds_ all like software features to me, but</i><br>
<i>&gt; their wording in the specs implies that it's hardware, and I'm wondering</i><br>
<i>&gt; if the hardware itself is really much different beyond the optical DPI</i><br>
<i>&gt; resolution.</i><br>
<i>&gt; </i><br>
<i>&gt; ...RickM...</i><br>
<i>&gt; </i><br>
<i>&gt; --</i><br>
<i>&gt; Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a></i><br>
<i>&gt; To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a></i><br>
<p>
Hi Rick,<br>
<p>
I think the only feature that can be done by hardware/firmware of the<br>
scanner is color correction. But there is little support in the<br>
hp-backend of SANE. Concerning color you can only select NTSC or RGB<br>
colors and you can do some brightness/contrast/gamma corrections.<br>
Snap-to-colors or vetorization of lineart is neither supported by the<br>
firmware nor by the backend.<br>
<p>
--Peter<br>
<p>
<pre>
-- 
Peter Kirchgessner
WWW:    <a href="http://www.kirchgessner.net">http://www.kirchgessner.net</a>
e-mail: <a href="mailto:peter@kirchgessner.net">peter@kirchgessner.net</a>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0078.html">Peter Kirchgessner: "Re: Hp 4C Scanner"</a>
<li> <b>Previous message:</b> <a href="0076.html">Ewald R. de Wit: "Re: [Announce] WinSANE 0.1.0.0 Release"</a>
<li> <b>Maybe in reply to:</b> <a href="0075.html">Rick Macdonald: "Low versus medium priced scanners"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
