<!-- received="Tue May 11 02:58:12 1999 PDT" -->
<!-- sent="Tue, 11 May 1999 12:57:46 +0300" -->
<!-- name="Milon Firikis" -->
<!-- email="milonf@ariadne-t.gr" -->
<!-- subject="Re: Networked Sane" -->
<!-- id="" -->
<!-- inreplyto="Networked Sane" -->
<title>sane-devel: Re: Networked Sane</title>
<h1>Re: Networked Sane</h1>
<b>Milon Firikis</b> (<a href="mailto:milonf@ariadne-t.gr"><i>milonf@ariadne-t.gr</i></a>)<br>
<i>Tue, 11 May 1999 12:57:46 +0300</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#89">[ date ]</a><a href="index.html#89">[ thread ]</a><a href="subject.html#89">[ subject ]</a><a href="author.html#89">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0090.html">John Profic: "Re: saned troubles"</a>
<li> <b>Previous message:</b> <a href="0088.html">Ewald R. de Wit: "Re: [Announce] WinSANE 0.1.0.0 Release"</a>
<li> <b>Maybe in reply to:</b> <a href="0084.html">Sven Riedel: "Networked Sane"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Sven Riedel wrote:<br>
<i>&gt; </i><br>
<i>&gt; Hi,</i><br>
<i>&gt; I'm currently trying to use sane over the network. I installed sane as an</i><br>
<i>&gt; inetd service and added the corresponding port to /etc/services (lets</i><br>
<i>&gt; call this Machine A). The machine calling A (lets call it B) was added to</i><br>
<i>&gt; A's saned.conf, and A was added to B's net.conf. the entry "net" is the</i><br>
<i>&gt; first in Bs dll.conf.</i><br>
<i>&gt; Running saned -d on A, and calling xscanimage on B runs fine. Running plain</i><br>
<i>&gt; saned (manually) on A won't let B connect. And having saned as a pure inetd</i><br>
<i>&gt; service results in Bs xscanimage to segfault.</i><br>
<i>&gt; Both A and B have sane 1.01 installed. Any thoughts on how to handle this?</i><br>
<i>&gt; ssh'ing over to A and calling saned -d by hand is not exactely what I call</i><br>
<i>&gt; elegant :)</i><br>
<p>
Aargh!!! So that was it. I should have found it long before. I haven't<br>
thought to run it outside the inetd.<br>
<p>
OK. I confirm this behaviour. I don't have network but running saned<br>
locally:<br>
	a) saned -d works	:scanimage -L reports both local and network devices<br>
	b) saned		:scanimage -L does't connect<br>
	c) through inetd	:scanimage -L crashes<br>
<p>
This is buggy behaviour since '-d' means "debug" and not "daemon".<br>
I don't have the actual hardware handy to test my backend with the net<br>
backend , but I will do as soon as I get home.<br>
<p>
<p>
	MF<br>
<p>
My system is RedHat 5.1<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0090.html">John Profic: "Re: saned troubles"</a>
<li> <b>Previous message:</b> <a href="0088.html">Ewald R. de Wit: "Re: [Announce] WinSANE 0.1.0.0 Release"</a>
<li> <b>Maybe in reply to:</b> <a href="0084.html">Sven Riedel: "Networked Sane"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
