<!-- received="Wed May 12 10:46:11 1999 PDT" -->
<!-- sent="Wed, 12 May 1999 18:46:23 +0100" -->
<!-- name="Dr. Andreas Bolsch" -->
<!-- email="Andreas.Bolsch@maths.nott.ac.uk" -->
<!-- subject="Re: saned troubles" -->
<!-- id="" -->
<!-- inreplyto="saned troubles" -->
<title>sane-devel: Re: saned troubles</title>
<h1>Re: saned troubles</h1>
<b>Dr. Andreas Bolsch</b> (<a href="mailto:Andreas.Bolsch@maths.nott.ac.uk"><i>Andreas.Bolsch@maths.nott.ac.uk</i></a>)<br>
<i>Wed, 12 May 1999 18:46:23 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#112">[ date ]</a><a href="index.html#112">[ thread ]</a><a href="subject.html#112">[ subject ]</a><a href="author.html#112">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0113.html">Milon Firikis: "Re: [Announce] WinSANE 0.1.0.0 Release"</a>
<li> <b>Previous message:</b> <a href="0111.html">David Fox: "Is the nikon ls-20 slide scanner quiet?"</a>
<li> <b>Maybe in reply to:</b> <a href="0069.html">Dean@Home: "saned troubles"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
If the message in /var/log/messages says "connection refused" it might<br>
be due to your /etc/hosts.allow &amp; /etc/hosts.deny files.<br>
Have a look at the man page for hosts_access. Maybe (because the<br>
server acts as a firewall) all services except for a few one are<br>
rejected. (Otherwise it wouldn't be a good firewall, would it?)<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0113.html">Milon Firikis: "Re: [Announce] WinSANE 0.1.0.0 Release"</a>
<li> <b>Previous message:</b> <a href="0111.html">David Fox: "Is the nikon ls-20 slide scanner quiet?"</a>
<li> <b>Maybe in reply to:</b> <a href="0069.html">Dean@Home: "saned troubles"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
