<!-- received="Thu May 13 04:37:33 1999 PDT" -->
<!-- sent="Thu, 13 May 1999 13:39:11 +0200" -->
<!-- name="Ewald R. de Wit" -->
<!-- email="ewald@pobox.com" -->
<!-- subject="Re: Coolscan LS-30 + best scanner" -->
<!-- id="" -->
<!-- inreplyto="373AAE69.569471C3@bigfoot.com" -->
<title>sane-devel: Re: Coolscan LS-30 + best scanner</title>
<h1>Re: Coolscan LS-30 + best scanner</h1>
<b>Ewald R. de Wit</b> (<a href="mailto:ewald@pobox.com"><i>ewald@pobox.com</i></a>)<br>
<i>Thu, 13 May 1999 13:39:11 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#123">[ date ]</a><a href="index.html#123">[ thread ]</a><a href="subject.html#123">[ subject ]</a><a href="author.html#123">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0124.html">Milon Firikis: "Re: [Announce] WinSANE 0.1.0.0 Release"</a>
<li> <b>Previous message:</b> <a href="0122.html">Chris Bitmead: "Re: Coolscan LS-30 + best scanner"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt; &gt; The best thing would be for you to get the Nikon LS30 and write </i><br>
<i>&gt; &gt; the driver for it! </i><br>
<i>&gt; </i><br>
<i>&gt; How hard would that be? Do Nikon release specs? I would consider doing</i><br>
<i>&gt; it if it's not going to be some project that makes me tear my hair out.</i><br>
<p>
I believe Nikon releases the specs with no problems but I'm not sure.<br>
About how hard it is, I don't know. There is already a functioning<br>
Nikon backend and chances are that things need not be changed too<br>
much. Perhaps Didier Carlier knows more about this?<br>
<p>
I don't know how much time you have but it sounds like a fun project<br>
to me, especially with the extra infrared channel and stuff.<br>
<p>
<i>&gt; The Photosmart S20 or the regular Photosmart. The S20 is better isn't</i><br>
<i>&gt; it?</i><br>
<p>
The new S20 is a USB scanner and as such it does not work at all under<br>
SANE. It's supposedly better (albeit slower) than the old model but<br>
don't let the '12 bit' predicate fool you - the dynamic range is about<br>
the same as the old model.<br>
<p>
<pre>
-- 
  --  Ewald
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0124.html">Milon Firikis: "Re: [Announce] WinSANE 0.1.0.0 Release"</a>
<li> <b>Previous message:</b> <a href="0122.html">Chris Bitmead: "Re: Coolscan LS-30 + best scanner"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
