<!-- received="Sun May 16 19:42:40 1999 PDT" -->
<!-- sent="Sun, 16 May 1999 21:45:54 -0500" -->
<!-- name="john allen pitney" -->
<!-- email="pitney@students.uiuc.edu" -->
<!-- subject="HP PhotoSmart strip lengths" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: HP PhotoSmart strip lengths</title>
<h1>HP PhotoSmart strip lengths</h1>
<b>john allen pitney</b> (<a href="mailto:pitney@students.uiuc.edu"><i>pitney@students.uiuc.edu</i></a>)<br>
<i>Sun, 16 May 1999 21:45:54 -0500</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#152">[ date ]</a><a href="index.html#152">[ thread ]</a><a href="subject.html#152">[ subject ]</a><a href="author.html#152">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0153.html">Chris Bitmead: "Re: Film scanners, Canon + Coolscan"</a>
<li> <b>Previous message:</b> <a href="0151.html">regis rampnoux: "RE: Better Preview? Take xsane-0.25..."</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0157.html">Peter Kirchgessner: "Re: HP PhotoSmart strip lengths"</a>
<li> <b>Reply:</b> <a href="0157.html">Peter Kirchgessner: "Re: HP PhotoSmart strip lengths"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi all!  <br>
<p>
I'm playing with writing a little SANE frontend for my HP PhotoSmart.  It's <br>
not going to be as general as xscanimage or XSane; I only want to duplicate<br>
the HP frontend (with improvements possibly) using GTK and SANE.  <br>
<p>
I wonder if anyone doing HP backend development has any leads on getting <br>
the actual length of a film strip scan from the scanner?  The method I've <br>
found for acquiring a preview scan of a strip of unknown length, is to <br>
scan the whole thing using the maximum length, buffer everything including <br>
the spurious bytes at the end, then quit sane and do sane_init again.  Now,<br>
the HP backend reports a maximum scan length which corresponds to the <br>
actual length of the film strip.  Unfortunately, this method has a couple <br>
of problems: I have to buffer a lot of junk then throw it away later, and <br>
the sane quit/restart cycle is a little slow.  <br>
<p>
Is there any way to get the "end of film strip" signal from the scanner <br>
during the sane_read() loop?  <br>
<p>
Also, I'm noticing that the image gets stretched in the Y direction for <br>
any exposure setting which does not have a 100% Red exposure, that is, <br>
only "Off" and "Negative" seem to have the proper dimensions.  I might <br>
be remembering the effect I saw incorrectly, but I noticed something <br>
along these lines.  <br>
<p>
I'm using a Photosmart R032, by the way.  <br>
<p>
Thanks!<br>
<p>
John Pitney<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0153.html">Chris Bitmead: "Re: Film scanners, Canon + Coolscan"</a>
<li> <b>Previous message:</b> <a href="0151.html">regis rampnoux: "RE: Better Preview? Take xsane-0.25..."</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0157.html">Peter Kirchgessner: "Re: HP PhotoSmart strip lengths"</a>
<li> <b>Reply:</b> <a href="0157.html">Peter Kirchgessner: "Re: HP PhotoSmart strip lengths"</a>
<!-- reply="end" -->
</ul>
