<!-- received="Mon May 17 10:41:50 1999 PDT" -->
<!-- sent="Mon, 17 May 1999 13:43:24 -0400" -->
<!-- name="David A. Cooley" -->
<!-- email="n5xmt@bellsouth.net" -->
<!-- subject="Acer PRISA 310P (Parallel)" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Acer PRISA 310P (Parallel)</title>
<h1>Acer PRISA 310P (Parallel)</h1>
<b>David A. Cooley</b> (<a href="mailto:n5xmt@bellsouth.net"><i>n5xmt@bellsouth.net</i></a>)<br>
<i>Mon, 17 May 1999 13:43:24 -0400</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#156">[ date ]</a><a href="index.html#156">[ thread ]</a><a href="subject.html#156">[ subject ]</a><a href="author.html#156">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0157.html">Peter Kirchgessner: "Re: HP PhotoSmart strip lengths"</a>
<li> <b>Previous message:</b> <a href="0155.html">Fernando Fernandez: "scanimage: infinite loop hogs CPU and fills up disk"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Is there any pre-release (Alpha or Beta) support for the Acer Prisa 310P<br>
parallel scanner?<br>
I know the risks of running drivers that are alpha or beta and am willing to<br>
support any testing I can.<br>
Thanks,<br>
Dave<br>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0157.html">Peter Kirchgessner: "Re: HP PhotoSmart strip lengths"</a>
<li> <b>Previous message:</b> <a href="0155.html">Fernando Fernandez: "scanimage: infinite loop hogs CPU and fills up disk"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
