<!-- received="Tue May 18 21:11:35 1999 PDT" -->
<!-- sent="Tue, 18 May 1999 22:16:12 -0600 (MDT)" -->
<!-- name="Andreas Dilger" -->
<!-- email="adilger@enel.ucalgary.ca" -->
<!-- subject="Re: Astra 1220S problems" -->
<!-- id="199905190416.WAA11491@munet-d.enel.ucalgary.ca" -->
<!-- inreplyto="Pine.LNX.3.96.990517184328.17175B-100000@zsigmondy.ucsd.edu" -->
<title>sane-devel: Re: Astra 1220S problems</title>
<h1>Re: Astra 1220S problems</h1>
<b>Andreas Dilger</b> (<a href="mailto:adilger@enel.ucalgary.ca"><i>adilger@enel.ucalgary.ca</i></a>)<br>
<i>Tue, 18 May 1999 22:16:12 -0600 (MDT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#179">[ date ]</a><a href="index.html#179">[ thread ]</a><a href="subject.html#179">[ subject ]</a><a href="author.html#179">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0180.html">Chris Bitmead: "PhotoSmart problem"</a>
<li> <b>Previous message:</b> <a href="0178.html">Scott Wells: "RE: saned: process_request: received unexpected procedure number 0"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0191.html">Mark Vojkovich: "Re: Astra 1220S problems"</a>
<li> <b>Reply:</b> <a href="0191.html">Mark Vojkovich: "Re: Astra 1220S problems"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Mark Vojkovich &lt;<a href="mailto:mvojkovi@ucsd.edu">mvojkovi@ucsd.edu</a>&gt; wrote:<br>
<i>&gt;   I have an UMAX Astra 1220S and have tried it with the</i><br>
<i>&gt; sane 0.71, 1.0.0 and 1.0.1 packages.  It works, sortof.</i><br>
<i>&gt; The images it scans are badly sheared.</i><br>
<p>
This was a problem with 0.7x because of the way that the number of<br>
pixels/row was calculated - it didn't always match the data being<br>
sent from the scanner.  However, I haven't seen this problem in a<br>
while.  Are you sure you are using the most recent Umax backend?<br>
Maybe you still have an old version around?<br>
<p>
Cheers, Andreas<br>
<pre>
-- 
Andreas Dilger   University of Calgary  \"If a man ate a pound of pasta and
                 Micronet Research Group \ a pound of antipasto, would they
Dept of Electrical &amp; Computer Engineering \   cancel out, leaving him still
<a href="http://www-mddsp.enel.ucalgary.ca/People/adilger/">http://www-mddsp.enel.ucalgary.ca/People/adilger/</a>       hungry?" -- Dogbert
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0180.html">Chris Bitmead: "PhotoSmart problem"</a>
<li> <b>Previous message:</b> <a href="0178.html">Scott Wells: "RE: saned: process_request: received unexpected procedure number 0"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0191.html">Mark Vojkovich: "Re: Astra 1220S problems"</a>
<li> <b>Reply:</b> <a href="0191.html">Mark Vojkovich: "Re: Astra 1220S problems"</a>
<!-- reply="end" -->
</ul>
