<!-- received="Tue May 18 21:35:02 1999 PDT" -->
<!-- sent="Wed, 19 May 1999 04:41:53 +0000" -->
<!-- name="Chris Bitmead" -->
<!-- email="chris.bitmead@bigfoot.com" -->
<!-- subject="PhotoSmart problem" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: PhotoSmart problem</title>
<h1>PhotoSmart problem</h1>
<b>Chris Bitmead</b> (<a href="mailto:chris.bitmead@bigfoot.com"><i>chris.bitmead@bigfoot.com</i></a>)<br>
<i>Wed, 19 May 1999 04:41:53 +0000</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#180">[ date ]</a><a href="index.html#180">[ thread ]</a><a href="subject.html#180">[ subject ]</a><a href="author.html#180">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0181.html">Harald Finster: "microtek x6 (Firmware 1.3) problem"</a>
<li> <b>Previous message:</b> <a href="0179.html">Andreas Dilger: "Re: Astra 1220S problems"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0184.html">Russ Price: "Re: PhotoSmart problem"</a>
<li> <b>Reply:</b> <a href="0184.html">Russ Price: "Re: PhotoSmart problem"</a>
<li> <b>Reply:</b> <a href="0193.html">Peter Kirchgessner: "Re: PhotoSmart problem"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I'm using a Photosmart scanner, and when xsane starts up it says there<br>
are 4 scanners to choose from (/dev/sgb /dev/sgc /dev/sgd /dev/sgd I<br>
think). /dev/sgb doesn't work. /dev/sgc does work. Not sure about the<br>
other two.<br>
<p>
What's the story there with 4 choices?<br>
<p>
Also, the SCSI cards that come with the scanner - Symbios brand<br>
apparently - anybody had any luck getting them to work with Linux? I<br>
tried a long time ago with an older card without any luck, was wondering<br>
if anybody had tried recently with any success.<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0181.html">Harald Finster: "microtek x6 (Firmware 1.3) problem"</a>
<li> <b>Previous message:</b> <a href="0179.html">Andreas Dilger: "Re: Astra 1220S problems"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0184.html">Russ Price: "Re: PhotoSmart problem"</a>
<li> <b>Reply:</b> <a href="0184.html">Russ Price: "Re: PhotoSmart problem"</a>
<li> <b>Reply:</b> <a href="0193.html">Peter Kirchgessner: "Re: PhotoSmart problem"</a>
<!-- reply="end" -->
</ul>
