<!-- received="Wed May 19 15:15:34 1999 PDT" -->
<!-- sent="Wed, 19 May 1999 17:09:14 +0200" -->
<!-- name="Oliver Rauch" -->
<!-- email="oliver.rauch@Wolfsburg.DE" -->
<!-- subject="Re: Astra 1220S problems" -->
<!-- id="" -->
<!-- inreplyto="Astra 1220S problems" -->
<title>sane-devel: Re: Astra 1220S problems</title>
<h1>Re: Astra 1220S problems</h1>
<b>Oliver Rauch</b> (<a href="mailto:oliver.rauch@Wolfsburg.DE"><i>oliver.rauch@Wolfsburg.DE</i></a>)<br>
<i>Wed, 19 May 1999 17:09:14 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#195">[ date ]</a><a href="index.html#195">[ thread ]</a><a href="subject.html#195">[ subject ]</a><a href="author.html#195">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0196.html">Oliver Rauch: "Re: Astra 1220S problems"</a>
<li> <b>Previous message:</b> <a href="0194.html">Dr. Detlev Reymann: "RE: saned: process_request: received unexpected procedure number 0"</a>
<li> <b>Maybe in reply to:</b> <a href="0159.html">Mark Vojkovich: "Astra 1220S problems"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0196.html">Oliver Rauch: "Re: Astra 1220S problems"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Andreas Dilger wrote:<br>
<p>
<i>&gt; Mark Vojkovich &lt;<a href="mailto:mvojkovi@ucsd.edu">mvojkovi@ucsd.edu</a>&gt; wrote:</i><br>
<i>&gt; &gt;   I have an UMAX Astra 1220S and have tried it with the</i><br>
<i>&gt; &gt; sane 0.71, 1.0.0 and 1.0.1 packages.  It works, sortof.</i><br>
<i>&gt; &gt; The images it scans are badly sheared.</i><br>
<i>&gt;</i><br>
<i>&gt; This was a problem with 0.7x because of the way that the number of</i><br>
<i>&gt; pixels/row was calculated - it didn't always match the data being</i><br>
<i>&gt; sent from the scanner.  However, I haven't seen this problem in a</i><br>
<i>&gt; while.  Are you sure you are using the most recent Umax backend?</i><br>
<i>&gt; Maybe you still have an old version around?</i><br>
<i>&gt;</i><br>
<p>
That problem never happend in the preview with any sane-version.<br>
<p>
The problem is still there, but I think it does not occur very often.<br>
I asked UMAX how to handle this and the one I asked tries to find<br>
out about that.<br>
<p>
Bye<br>
Oliver<br>
<p>
<pre>
--
EMAIL: <a href="mailto:Oliver.Rauch@Wolfsburg.DE">Oliver.Rauch@Wolfsburg.DE</a>
WWW: <a href="http://www.wolfsburg.de/~rauch">http://www.wolfsburg.de/~rauch</a>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0196.html">Oliver Rauch: "Re: Astra 1220S problems"</a>
<li> <b>Previous message:</b> <a href="0194.html">Dr. Detlev Reymann: "RE: saned: process_request: received unexpected procedure number 0"</a>
<li> <b>Maybe in reply to:</b> <a href="0159.html">Mark Vojkovich: "Astra 1220S problems"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0196.html">Oliver Rauch: "Re: Astra 1220S problems"</a>
<!-- reply="end" -->
</ul>
