<!-- received="Wed May 19 15:15:41 1999 PDT" -->
<!-- sent="Tue, 18 May 1999 17:27:51 +0200" -->
<!-- name="Oliver Rauch" -->
<!-- email="oliver.rauch@Wolfsburg.DE" -->
<!-- subject="Re: UMAX UC1260 -- now working." -->
<!-- id="" -->
<!-- inreplyto="UMAX UC1260 -- now working." -->
<title>sane-devel: Re: UMAX UC1260 -- now working.</title>
<h1>Re: UMAX UC1260 -- now working.</h1>
<b>Oliver Rauch</b> (<a href="mailto:oliver.rauch@Wolfsburg.DE"><i>oliver.rauch@Wolfsburg.DE</i></a>)<br>
<i>Tue, 18 May 1999 17:27:51 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#197">[ date ]</a><a href="index.html#197">[ thread ]</a><a href="subject.html#197">[ subject ]</a><a href="author.html#197">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0198.html">Oliver Rauch: "Re: Astra 1220S problems"</a>
<li> <b>Previous message:</b> <a href="0196.html">Oliver Rauch: "Re: Astra 1220S problems"</a>
<li> <b>Maybe in reply to:</b> <a href="0161.html">Clemmitt Sigler: "UMAX UC1260 -- now working."</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Clemmitt Sigler wrote:<br>
<p>
<i>&gt; Hi,</i><br>
<i>&gt;</i><br>
<i>&gt; To follow up my inquiry of last week:</i><br>
<i>&gt;</i><br>
<i>&gt; I upgraded the firmware on my UMAX UC1260 scanner from V1.1 to V1.6.</i><br>
<i>&gt; It's now working :^)  Thanks for marking the firmware rev. in the</i><br>
<i>&gt; supported docs so I could figure this out!</i><br>
<i>&gt;</i><br>
<i>&gt;</i><br>
<p>
Thanks for your info!<br>
<p>
Bye<br>
Oliver<br>
<p>
<p>
<pre>
--
EMAIL: <a href="mailto:Oliver.Rauch@Wolfsburg.DE">Oliver.Rauch@Wolfsburg.DE</a>
WWW: <a href="http://www.wolfsburg.de/~rauch">http://www.wolfsburg.de/~rauch</a>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0198.html">Oliver Rauch: "Re: Astra 1220S problems"</a>
<li> <b>Previous message:</b> <a href="0196.html">Oliver Rauch: "Re: Astra 1220S problems"</a>
<li> <b>Maybe in reply to:</b> <a href="0161.html">Clemmitt Sigler: "UMAX UC1260 -- now working."</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
