<!-- received="Wed May 19 17:06:47 1999 PDT" -->
<!-- sent="Wed, 19 May 1999 17:06:26 -0700 (PDT)" -->
<!-- name="Mark Vojkovich" -->
<!-- email="mvojkovi@ucsd.edu" -->
<!-- subject="Re: Astra 1220S problems" -->
<!-- id="" -->
<!-- inreplyto="37433971.4C01DCBB@wolfsburg.de" -->
<title>sane-devel: Re: Astra 1220S problems</title>
<h1>Re: Astra 1220S problems</h1>
<b>Mark Vojkovich</b> (<a href="mailto:mvojkovi@ucsd.edu"><i>mvojkovi@ucsd.edu</i></a>)<br>
<i>Wed, 19 May 1999 17:06:26 -0700 (PDT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#204">[ date ]</a><a href="index.html#204">[ thread ]</a><a href="subject.html#204">[ subject ]</a><a href="author.html#204">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0205.html">Harald Finster: "Re: microtek x6 (Firmware 1.3) problem"</a>
<li> <b>Previous message:</b> <a href="0203.html">Mark Vojkovich: "Re: Astra 1220S problems"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Thu, 20 May 1999, Oliver Rauch wrote:<br>
<p>
<i>&gt; Mark Vojkovich wrote:</i><br>
<i>&gt; </i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt;  I'm not familar with the sane code.  Is there a particular place</i><br>
<i>&gt; &gt; I should be looking to debug the pixels/scanline problem?</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt;                         Mark.</i><br>
<i>&gt; </i><br>
<i>&gt; Hi Mark,</i><br>
<i>&gt; </i><br>
<i>&gt; the Astra 1220S normally works fine with the sane-umax-backend.</i><br>
<i>&gt; </i><br>
<i>&gt; Did you ever test the scanner under Windows?</i><br>
<p>
   Nope.  I don't have MS windows.<br>
<p>
<i>&gt; </i><br>
<i>&gt; Please could you tell me wich firmware version your scanner has?</i><br>
<p>
  V 1.3<br>
<p>
<i>&gt; </i><br>
<i>&gt; If you want to play around in the source code, take a look at baout line</i><br>
<i>&gt; 2200 in umax.c in sane-1.0.1.</i><br>
<i>&gt; </i><br>
<p>
   Ok.  I will play with this.<br>
<p>
<p>
			Mark.<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0205.html">Harald Finster: "Re: microtek x6 (Firmware 1.3) problem"</a>
<li> <b>Previous message:</b> <a href="0203.html">Mark Vojkovich: "Re: Astra 1220S problems"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
