<!-- received="Thu May 20 08:34:52 1999 PDT" -->
<!-- sent="Thu, 20 May 1999 17:35:09 +0200" -->
<!-- name="Lorenzo M. Catucci" -->
<!-- email="lorenzo@argon.roma2.infn.it" -->
<!-- subject="Re: Astra 1220S problems" -->
<!-- id="" -->
<!-- inreplyto="Astra 1220S problems" -->
<title>sane-devel: Re: Astra 1220S problems</title>
<h1>Re: Astra 1220S problems</h1>
<b>Lorenzo M. Catucci</b> (<a href="mailto:lorenzo@argon.roma2.infn.it"><i>lorenzo@argon.roma2.infn.it</i></a>)<br>
<i>Thu, 20 May 1999 17:35:09 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#206">[ date ]</a><a href="index.html#206">[ thread ]</a><a href="subject.html#206">[ subject ]</a><a href="author.html#206">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0207.html">Oliver Rauch: "Someone with UMAX UC630 or Vista T630 scanner and sane?"</a>
<li> <b>Previous message:</b> <a href="0205.html">Harald Finster: "Re: microtek x6 (Firmware 1.3) problem"</a>
<li> <b>Maybe in reply to:</b> <a href="0159.html">Mark Vojkovich: "Astra 1220S problems"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0208.html">Oliver Rauch: "Re: Astra 1220S problems"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Oliver Rauch wrote:<br>
<i>&gt; </i><br>
<i>&gt; Andreas Dilger wrote:</i><br>
<i>&gt; </i><br>
<i>&gt; &gt; Mark Vojkovich &lt;<a href="mailto:mvojkovi@ucsd.edu">mvojkovi@ucsd.edu</a>&gt; wrote:</i><br>
<i>&gt; &gt; &gt;   I have an UMAX Astra 1220S and have tried it with the</i><br>
<i>&gt; &gt; &gt; sane 0.71, 1.0.0 and 1.0.1 packages.  It works, sortof.</i><br>
<i>&gt; &gt; &gt; The images it scans are badly sheared.</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt; This was a problem with 0.7x because of the way that the number of</i><br>
<i>&gt; &gt; pixels/row was calculated - it didn't always match the data being</i><br>
<i>&gt; &gt; sent from the scanner.  However, I haven't seen this problem in a</i><br>
<i>&gt; &gt; while.  Are you sure you are using the most recent Umax backend?</i><br>
<i>&gt; &gt; Maybe you still have an old version around?</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; </i><br>
<i>&gt; That problem never happend in the preview with any sane-version.</i><br>
<i>&gt; </i><br>
<i>&gt; The problem is still there, but I think it does not occur very often.</i><br>
<i>&gt; I asked UMAX how to handle this and the one I asked tries to find</i><br>
<i>&gt; out about that.</i><br>
<i>&gt; </i><br>
As a matter of fact, I have never had shear problems with either xsane<br>
or xscanimage. Instead, I have had shear problems myself when I first<br>
tried usin PIL's[*] sanemodule. FWIR, I solved the problem by changeing<br>
the end of scanline logic, since AMK thought any scanner would jump to<br>
the next line after 3*pixels were read. If you need it, ask me, and I'll<br>
send you my patched version of the file, since, as of now, Andrew has<br>
not still axcepted and merged my changes into his module.<br>
<p>
Yours,<br>
lorenzo<br>
<p>
[*] Python Imaging Library<br>
<pre>
-- 
+-------------------------+--------------------------------------------+
|   Lorenzo M.  Catucci   | Centro di Calcolo e Documentazione         |
| <a href="mailto:catucci@ccd.uniroma2.it">catucci@ccd.uniroma2.it</a> | UniversitÓ di Roma "Tor Vergata"           |
|                         | Via O. Raimondo 16 -- 00173 ROMA  -- ITALY |
|  Tel. +39 06 7259 2255  | Fax. +39 06 7259 3100                      |
+-------------------------+--------------------------------------------+
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0207.html">Oliver Rauch: "Someone with UMAX UC630 or Vista T630 scanner and sane?"</a>
<li> <b>Previous message:</b> <a href="0205.html">Harald Finster: "Re: microtek x6 (Firmware 1.3) problem"</a>
<li> <b>Maybe in reply to:</b> <a href="0159.html">Mark Vojkovich: "Astra 1220S problems"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0208.html">Oliver Rauch: "Re: Astra 1220S problems"</a>
<!-- reply="end" -->
</ul>
