<!-- received="Thu May 20 15:44:44 1999 PDT" -->
<!-- sent="Thu, 20 May 1999 19:53:17 -0300" -->
<!-- name="Eduardo M. A. M. Mendes" -->
<!-- email="mendes@mgconecta.com.br" -->
<!-- subject="Re: Someone with UMAX UC630 or Vista T630 scanner and sane?" -->
<!-- id="" -->
<!-- inreplyto="Someone with UMAX UC630 or Vista T630 scanner and sane?" -->
<title>sane-devel: Re: Someone with UMAX UC630 or Vista T630 scanner and sane?</title>
<h1>Re: Someone with UMAX UC630 or Vista T630 scanner and sane?</h1>
<b>Eduardo M. A. M. Mendes</b> (<a href="mailto:mendes@mgconecta.com.br"><i>mendes@mgconecta.com.br</i></a>)<br>
<i>Thu, 20 May 1999 19:53:17 -0300</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#209">[ date ]</a><a href="index.html#209">[ thread ]</a><a href="subject.html#209">[ subject ]</a><a href="author.html#209">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0210.html">Larry Snyder: "Re: Someone with UMAX UC630 or Vista T630 scanner and sane?"</a>
<li> <b>Previous message:</b> <a href="0208.html">Oliver Rauch: "Re: Astra 1220S problems"</a>
<li> <b>Maybe in reply to:</b> <a href="0207.html">Oliver Rauch: "Someone with UMAX UC630 or Vista T630 scanner and sane?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
HI Oliver<br>
    As you know I have an old umax T-630. I could not get the module n_g<br>
(something) working<br>
on COL 1.3 (the whole systems hangs up as soon as I enter insmod).<br>
<p>
Sorry for not being of much help.<br>
<p>
Thanks a lot<br>
<p>
Eduardo<br>
<p>
<i>&gt; Hi,</i><br>
<i>&gt;</i><br>
<i>&gt; I want to verify which firmware versions of the UMAX UC630 and Vista T630</i><br>
<i>&gt; scanners</i><br>
<i>&gt; do work with the sane-umax backend.</i><br>
<i>&gt;</i><br>
<i>&gt; Please could anyone reply to me who has any experience with these scanners?</i><br>
<i>&gt;</i><br>
<i>&gt; Thanks</i><br>
<i>&gt; Bye</i><br>
<i>&gt; Oliver</i><br>
<i>&gt;</i><br>
<i>&gt; --</i><br>
<i>&gt; EMAIL: <a href="mailto:Oliver.Rauch@Wolfsburg.DE">Oliver.Rauch@Wolfsburg.DE</a></i><br>
<i>&gt; WWW: <a href="http://www.wolfsburg.de/~rauch">http://www.wolfsburg.de/~rauch</a></i><br>
<i>&gt;</i><br>
<i>&gt; --</i><br>
<i>&gt; Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a></i><br>
<i>&gt; To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a></i><br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0210.html">Larry Snyder: "Re: Someone with UMAX UC630 or Vista T630 scanner and sane?"</a>
<li> <b>Previous message:</b> <a href="0208.html">Oliver Rauch: "Re: Astra 1220S problems"</a>
<li> <b>Maybe in reply to:</b> <a href="0207.html">Oliver Rauch: "Someone with UMAX UC630 or Vista T630 scanner and sane?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
