<!-- received="Thu May 20 18:50:50 1999 PDT" -->
<!-- sent="Thu, 20 May 1999 20:56:13 +0000 (/etc/localtime)" -->
<!-- name="genkai wa doko da" -->
<!-- email="gauze@110.net" -->
<!-- subject="Umax scanner woes (halp!)" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Umax scanner woes (halp!)</title>
<h1>Umax scanner woes (halp!)</h1>
<b>genkai wa doko da</b> (<a href="mailto:gauze@110.net"><i>gauze@110.net</i></a>)<br>
<i>Thu, 20 May 1999 20:56:13 +0000 (/etc/localtime)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#215">[ date ]</a><a href="index.html#215">[ thread ]</a><a href="subject.html#215">[ subject ]</a><a href="author.html#215">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0216.html">Larry Snyder: "Re: Umax scanner woes (halp!)"</a>
<li> <b>Previous message:</b> <a href="0214.html">Chris Bitmead: "Gamma and xsane"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0228.html">Oliver Rauch: "Re: Umax scanner woes (halp!)"</a>
<li> <b>Reply:</b> <a href="0228.html">Oliver Rauch: "Re: Umax scanner woes (halp!)"</a>
<li> <b>Reply:</b> <a href="0232.html">Oliver Rauch: "Re: Umax scanner woes (halp!)"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
hello,<br>
<p>
1st my specs:<br>
Linux distort 2.2.9 #2 Thu May 20 12:16:24 /etc/localtime 1999 i586 unknown<br>
CPU: Pentium 166 <br>
scsi card: Always 2000 scsi card(I unhooked everything from the scsi chain except the scanner to get contamination free results btw!)<br>
<p>
from dmesg:<br>
--snip--<br>
IN2000 driver version 1.33 - 26/August/1998<br>
scsi0 : Always IN2000<br>
scsi : 1 host.<br>
  Vendor: UMAX      Model: Astra 610S        Rev: V1.3<br>
  Type:   Scanner                            ANSI SCSI revision: 02<br>
scsi : detected total.<br>
--snip--<br>
<p>
distort:/home/gauze/sane-1.0.1# tools/find-scanner<br>
Detected scsi generic sga at scsi0, channel 0, id 3, lun 0<br>
find-scanner: found scanner "  " at device /dev/sga<br>
distort:/home/gauze/sane-1.0.1# scanimage -d umax:/dev/sga -h<br>
--snip--<br>
List of available devices:<br>
<p>
but if I do the same command again right after the 1st one:<br>
<p>
distort:/home/gauze/sane-1.0.1# scanimage -d umax:/dev/sga -h<br>
--snip--<br>
List of available devices:<br>
    umax:/dev/sga<br>
<p>
now the final test:<br>
<p>
distort:/home/gauze/sane-1.0.1# scanimage -d umax:/dev/sga &gt;foo.pnm<br>
sits there for a LONG time....<br>
<p>
so I ^C it and:<br>
<p>
scanimage: stopping scanner...<br>
scanimage: sanei_scsi.c:1352: sanei_scsi_req_wait: Assertion `req == qhead' failed.<br>
Aborted<br>
<p>
scsi : aborting command due to timeout : pid 56, scsi0, channel 0, id 3, lun 0 Start/Stop Unit 00 00 00 01 00<br>
scsi0: Abort-(asr=80,count=1,resid=1,buf_resid=0,have_data=1,FC=fd)- scsi0: Aborting connected command 56 - sending wd33c93 ABORT command - flushing fifo - asr=c0, sr=48, 1 bytes un-transferred (timeout=1000000) - sending wd33c93 DISCONNECT command - asr=00, sr=48.<br>
<p>
I have these set in the shell I am running scanimage in:<br>
SANE_DEBUG_DLL=128<br>
SANE_DEBUG_SANEI_SCSI=128<br>
SANE_DEBUG_UMAX=128<br>
<p>
Ok after power switching down the scanner I kerel paniced/stack dumped<br>
but here I am again (viva la vim) <br>
this time I don't use find-scanner tool:<br>
<p>
istort:/home/gauze/sane-1.0.1# scanimage -d umax:/dev/sga &gt;foo2.pnm 2&gt;crud<br>
<p>
let me read in the redirected stderr:<br>
<p>
[sanei_init_debug]: Setting debug level of dll to 128.<br>
[dll] adding backend net<br>
[dll] adding backend abaton<br>
[dll] adding backend agfafocus<br>
[dll] adding backend apple<br>
[dll] adding backend artec<br>
[dll] adding backend canon<br>
[dll] adding backend coolscan<br>
[dll] adding backend dmc<br>
[dll] adding backend epson<br>
[dll] adding backend hp<br>
[dll] adding backend microtek<br>
[dll] adding backend microtek2<br>
[dll] adding backend mustek<br>
[dll] adding backend pint<br>
[dll] adding backend qcam<br>
[dll] adding backend ricoh<br>
[dll] adding backend s9036<br>
[dll] adding backend sharp<br>
[dll] adding backend snapscan<br>
[dll] adding backend tamarack<br>
[dll] adding backend umax<br>
[dll] loading backend umax<br>
[dll] dlopen()ing `/usr/local/lib/sane/libsane-umax.so.1'<br>
[dll] init: initializing backend `umax'<br>
[sanei_init_debug]: Setting debug level of umax to 128.<br>
[umax] sane_init<br>
[umax] This is sane-umax version 1.0 build 3<br>
[umax] (C) 1997-1999 by Oliver Rauch<br>
[umax] EMAIL: <a href="mailto:Oliver.Rauch@Wolfsburg.DE">Oliver.Rauch@Wolfsburg.DE</a><br>
[sanei_init_debug]: Setting debug level of sanei_scsi to 128.<br>
[sanei_scsi] searched device is /dev/sga<br>
[umax] attach_scanner: /dev/sga<br>
[umax] attach_scanner: opening /dev/sga<br>
[sanei_init_debug]: Setting debug level of sanei_scsi to 128.<br>
[umax] init<br>
[umax] backend runs on little endian machine<br>
[umax] initialize_values<br>
[umax] identify_scanner<br>
[umax] do_inquiry<br>
[sanei_scsi] scsi_req_enter: entered 0x80563d0<br>
[sanei_scsi] sanei_scsi_req_wait: waiting for 0x80563d0<br>
[sanei_scsi] sanei_scsi.issue: 0x80563d0<br>
[sanei_scsi] sanei_scsi_req_wait: read 41 bytes<br>
[sanei_scsi] scsi_req_enter: entered 0x80563d0<br>
[sanei_scsi] sanei_scsi_req_wait: waiting for 0x80563d0<br>
[sanei_scsi] sanei_scsi.issue: 0x80563d0<br>
[sanei_scsi] sanei_scsi_req_wait: read 41 bytes<br>
[umax] Found  scanner version  on device /dev/sga<br>
[umax] attach_scanner: scanner-identification failed<br>
[umax] attach_scanner: /dev/scanner<br>
[umax] attach_scanner: opening /dev/scanner<br>
[sanei_init_debug]: Setting debug level of sanei_scsi to 128.<br>
[sanei_scsi] sanei_scsi_open: open of `/dev/scanner' failed: Device not configured<br>
[umax] attach_scanner: open failed<br>
[umax] sane_open<br>
[umax] attach_scanner: /dev/sga<br>
[umax] attach_scanner: opening /dev/sga<br>
[sanei_init_debug]: Setting debug level of sanei_scsi to 128.<br>
[umax] init<br>
[umax] backend runs on little endian machine<br>
[umax] initialize_values<br>
[umax] identify_scanner<br>
[umax] do_inquiry<br>
[sanei_scsi] scsi_req_enter: entered 0x80563d0<br>
[sanei_scsi] sanei_scsi_req_wait: waiting for 0x80563d0<br>
[sanei_scsi] sanei_scsi.issue: 0x80563d0<br>
[sanei_scsi] sanei_scsi_req_wait: read 41 bytes<br>
[sanei_scsi] scsi_req_enter: entered 0x80563d0<br>
[sanei_scsi] sanei_scsi_req_wait: waiting for 0x80563d0<br>
[sanei_scsi] sanei_scsi.issue: 0x80563d0<br>
[sanei_scsi] sanei_scsi_req_wait: read 41 bytes<br>
[umax] Found  scanner version  on device /dev/sga<br>
[umax] attach_scanner: scanner-identification failed<br>
scanimage: open of device umax:/dev/sga failed: Invalid argument<br>
[dll] exiting<br>
[dll] calling backend `umax's exit function<br>
[umax] sane_exit<br>
<p>
<p>
ANY help would be GREATLY appreciated!<br>
<p>
gauze/brian<br>
<p>
<p>
<pre>
---
Rhode Island Free Unix Group (RIFUG)
web:<a href="http://www.rifug.org">http://www.rifug.org</a>
<a href="mailto:email:rifug@rifug.org">email:rifug@rifug.org</a>
snailmail:P.O.Box 8511
	  Warwick,RI 02888
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0216.html">Larry Snyder: "Re: Umax scanner woes (halp!)"</a>
<li> <b>Previous message:</b> <a href="0214.html">Chris Bitmead: "Gamma and xsane"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0228.html">Oliver Rauch: "Re: Umax scanner woes (halp!)"</a>
<li> <b>Reply:</b> <a href="0228.html">Oliver Rauch: "Re: Umax scanner woes (halp!)"</a>
<li> <b>Reply:</b> <a href="0232.html">Oliver Rauch: "Re: Umax scanner woes (halp!)"</a>
<!-- reply="end" -->
</ul>
