<!-- received="Thu May 20 19:51:50 1999 PDT" -->
<!-- sent="Thu, 20 May 1999 22:57:19 -0400 (EDT)" -->
<!-- name="Larry Snyder" -->
<!-- email="larrys@lexis-nexis.com" -->
<!-- subject="Re: Umax scanner woes (halp!)" -->
<!-- id="199905210257.WAA05356@ra.lexis-nexis.com" -->
<!-- inreplyto="Pine.LNX.4.10.9905202049180.210-100000@distort" -->
<title>sane-devel: Re: Umax scanner woes (halp!)</title>
<h1>Re: Umax scanner woes (halp!)</h1>
<b>Larry Snyder</b> (<a href="mailto:larrys@lexis-nexis.com"><i>larrys@lexis-nexis.com</i></a>)<br>
<i>Thu, 20 May 1999 22:57:19 -0400 (EDT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#216">[ date ]</a><a href="index.html#216">[ thread ]</a><a href="subject.html#216">[ subject ]</a><a href="author.html#216">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0217.html">Harald Finster: "Re: microtek x6 (Firmware 1.3) problem"</a>
<li> <b>Previous message:</b> <a href="0215.html">genkai wa doko da: "Umax scanner woes (halp!)"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
...almost looks like a scsi disconnect thing...<br>
just a thought.<br>
-ls-<br>
<p>
genkai wa doko da &lt;<a href="mailto:gauze@110.net">gauze@110.net</a>&gt; wrote:<br>
<i>&gt; hello,</i><br>
<i>&gt; </i><br>
<i>&gt; 1st my specs:</i><br>
<i>&gt; Linux distort 2.2.9 #2 Thu May 20 12:16:24 /etc/localtime 1999 i586 unknown</i><br>
<i>&gt; CPU: Pentium 166 </i><br>
<i>&gt; scsi card: Always 2000 scsi card(I unhooked everything from the scsi chain except the scanner to get contamination free results btw!)</i><br>
<i>&gt; </i><br>
<i>&gt; from dmesg:</i><br>
<i>&gt; --snip--</i><br>
<i>&gt; IN2000 driver version 1.33 - 26/August/1998</i><br>
<i>&gt; scsi0 : Always IN2000</i><br>
<i>&gt; scsi : 1 host.</i><br>
<i>&gt;   Vendor: UMAX      Model: Astra 610S        Rev: V1.3</i><br>
<i>&gt;   Type:   Scanner                            ANSI SCSI revision: 02</i><br>
<i>&gt; scsi : detected total.</i><br>
<i>&gt; --snip--</i><br>
<i>&gt; </i><br>
<i>&gt; distort:/home/gauze/sane-1.0.1# tools/find-scanner</i><br>
<i>&gt; Detected scsi generic sga at scsi0, channel 0, id 3, lun 0</i><br>
<i>&gt; find-scanner: found scanner "  " at device /dev/sga</i><br>
<i>&gt; distort:/home/gauze/sane-1.0.1# scanimage -d umax:/dev/sga -h</i><br>
<i>&gt; --snip--</i><br>
<i>&gt; List of available devices:</i><br>
<i>&gt; </i><br>
<i>&gt; but if I do the same command again right after the 1st one:</i><br>
<i>&gt; </i><br>
<i>&gt; distort:/home/gauze/sane-1.0.1# scanimage -d umax:/dev/sga -h</i><br>
<i>&gt; --snip--</i><br>
<i>&gt; List of available devices:</i><br>
<i>&gt;     umax:/dev/sga</i><br>
<i>&gt; </i><br>
<i>&gt; now the final test:</i><br>
<i>&gt; </i><br>
<i>&gt; distort:/home/gauze/sane-1.0.1# scanimage -d umax:/dev/sga &gt;foo.pnm</i><br>
<i>&gt; sits there for a LONG time....</i><br>
<i>&gt; </i><br>
<i>&gt; so I ^C it and:</i><br>
<i>&gt; </i><br>
<i>&gt; scanimage: stopping scanner...</i><br>
<i>&gt; scanimage: sanei_scsi.c:1352: sanei_scsi_req_wait: Assertion `req == qhead' failed.</i><br>
<i>&gt; Aborted</i><br>
<i>&gt; </i><br>
<i>&gt; scsi : aborting command due to timeout : pid 56, scsi0, channel 0, id 3, lun 0 Start/Stop Unit 00 00 00 01 00</i><br>
<i>&gt; scsi0: Abort-(asr=80,count=1,resid=1,buf_resid=0,have_data=1,FC=fd)- scsi0: Aborting connected command 56 - sending wd33c93 ABORT command - flushing fifo - asr=c0, sr=48, 1 bytes un-transferred (timeout=1000000) - sending wd33c93 DISCONNECT command - asr=00, sr=48.</i><br>
<i>&gt; </i><br>
<i>&gt; I have these set in the shell I am running scanimage in:</i><br>
<i>&gt; SANE_DEBUG_DLL=128</i><br>
<i>&gt; SANE_DEBUG_SANEI_SCSI=128</i><br>
<i>&gt; SANE_DEBUG_UMAX=128</i><br>
<i>&gt; </i><br>
<i>&gt; Ok after power switching down the scanner I kerel paniced/stack dumped</i><br>
<i>&gt; but here I am again (viva la vim) </i><br>
<i>&gt; this time I don't use find-scanner tool:</i><br>
<i>&gt; </i><br>
<i>&gt; istort:/home/gauze/sane-1.0.1# scanimage -d umax:/dev/sga &gt;foo2.pnm 2&gt;crud</i><br>
<i>&gt; </i><br>
<i>&gt; let me read in the redirected stderr:</i><br>
<i>&gt; </i><br>
<i>&gt; [sanei_init_debug]: Setting debug level of dll to 128.</i><br>
<i>&gt; [dll] adding backend net</i><br>
<i>&gt; [dll] adding backend abaton</i><br>
<i>&gt; [dll] adding backend agfafocus</i><br>
<i>&gt; [dll] adding backend apple</i><br>
<i>&gt; [dll] adding backend artec</i><br>
<i>&gt; [dll] adding backend canon</i><br>
<i>&gt; [dll] adding backend coolscan</i><br>
<i>&gt; [dll] adding backend dmc</i><br>
<i>&gt; [dll] adding backend epson</i><br>
<i>&gt; [dll] adding backend hp</i><br>
<i>&gt; [dll] adding backend microtek</i><br>
<i>&gt; [dll] adding backend microtek2</i><br>
<i>&gt; [dll] adding backend mustek</i><br>
<i>&gt; [dll] adding backend pint</i><br>
<i>&gt; [dll] adding backend qcam</i><br>
<i>&gt; [dll] adding backend ricoh</i><br>
<i>&gt; [dll] adding backend s9036</i><br>
<i>&gt; [dll] adding backend sharp</i><br>
<i>&gt; [dll] adding backend snapscan</i><br>
<i>&gt; [dll] adding backend tamarack</i><br>
<i>&gt; [dll] adding backend umax</i><br>
<i>&gt; [dll] loading backend umax</i><br>
<i>&gt; [dll] dlopen()ing `/usr/local/lib/sane/libsane-umax.so.1'</i><br>
<i>&gt; [dll] init: initializing backend `umax'</i><br>
<i>&gt; [sanei_init_debug]: Setting debug level of umax to 128.</i><br>
<i>&gt; [umax] sane_init</i><br>
<i>&gt; [umax] This is sane-umax version 1.0 build 3</i><br>
<i>&gt; [umax] (C) 1997-1999 by Oliver Rauch</i><br>
<i>&gt; [umax] EMAIL: <a href="mailto:Oliver.Rauch@Wolfsburg.DE">Oliver.Rauch@Wolfsburg.DE</a></i><br>
<i>&gt; [sanei_init_debug]: Setting debug level of sanei_scsi to 128.</i><br>
<i>&gt; [sanei_scsi] searched device is /dev/sga</i><br>
<i>&gt; [umax] attach_scanner: /dev/sga</i><br>
<i>&gt; [umax] attach_scanner: opening /dev/sga</i><br>
<i>&gt; [sanei_init_debug]: Setting debug level of sanei_scsi to 128.</i><br>
<i>&gt; [umax] init</i><br>
<i>&gt; [umax] backend runs on little endian machine</i><br>
<i>&gt; [umax] initialize_values</i><br>
<i>&gt; [umax] identify_scanner</i><br>
<i>&gt; [umax] do_inquiry</i><br>
<i>&gt; [sanei_scsi] scsi_req_enter: entered 0x80563d0</i><br>
<i>&gt; [sanei_scsi] sanei_scsi_req_wait: waiting for 0x80563d0</i><br>
<i>&gt; [sanei_scsi] sanei_scsi.issue: 0x80563d0</i><br>
<i>&gt; [sanei_scsi] sanei_scsi_req_wait: read 41 bytes</i><br>
<i>&gt; [sanei_scsi] scsi_req_enter: entered 0x80563d0</i><br>
<i>&gt; [sanei_scsi] sanei_scsi_req_wait: waiting for 0x80563d0</i><br>
<i>&gt; [sanei_scsi] sanei_scsi.issue: 0x80563d0</i><br>
<i>&gt; [sanei_scsi] sanei_scsi_req_wait: read 41 bytes</i><br>
<i>&gt; [umax] Found  scanner version  on device /dev/sga</i><br>
<i>&gt; [umax] attach_scanner: scanner-identification failed</i><br>
<i>&gt; [umax] attach_scanner: /dev/scanner</i><br>
<i>&gt; [umax] attach_scanner: opening /dev/scanner</i><br>
<i>&gt; [sanei_init_debug]: Setting debug level of sanei_scsi to 128.</i><br>
<i>&gt; [sanei_scsi] sanei_scsi_open: open of `/dev/scanner' failed: Device not configured</i><br>
<i>&gt; [umax] attach_scanner: open failed</i><br>
<i>&gt; [umax] sane_open</i><br>
<i>&gt; [umax] attach_scanner: /dev/sga</i><br>
<i>&gt; [umax] attach_scanner: opening /dev/sga</i><br>
<i>&gt; [sanei_init_debug]: Setting debug level of sanei_scsi to 128.</i><br>
<i>&gt; [umax] init</i><br>
<i>&gt; [umax] backend runs on little endian machine</i><br>
<i>&gt; [umax] initialize_values</i><br>
<i>&gt; [umax] identify_scanner</i><br>
<i>&gt; [umax] do_inquiry</i><br>
<i>&gt; [sanei_scsi] scsi_req_enter: entered 0x80563d0</i><br>
<i>&gt; [sanei_scsi] sanei_scsi_req_wait: waiting for 0x80563d0</i><br>
<i>&gt; [sanei_scsi] sanei_scsi.issue: 0x80563d0</i><br>
<i>&gt; [sanei_scsi] sanei_scsi_req_wait: read 41 bytes</i><br>
<i>&gt; [sanei_scsi] scsi_req_enter: entered 0x80563d0</i><br>
<i>&gt; [sanei_scsi] sanei_scsi_req_wait: waiting for 0x80563d0</i><br>
<i>&gt; [sanei_scsi] sanei_scsi.issue: 0x80563d0</i><br>
<i>&gt; [sanei_scsi] sanei_scsi_req_wait: read 41 bytes</i><br>
<i>&gt; [umax] Found  scanner version  on device /dev/sga</i><br>
<i>&gt; [umax] attach_scanner: scanner-identification failed</i><br>
<i>&gt; scanimage: open of device umax:/dev/sga failed: Invalid argument</i><br>
<i>&gt; [dll] exiting</i><br>
<i>&gt; [dll] calling backend `umax's exit function</i><br>
<i>&gt; [umax] sane_exit</i><br>
<i>&gt; </i><br>
<i>&gt; </i><br>
<i>&gt; ANY help would be GREATLY appreciated!</i><br>
<i>&gt; </i><br>
<i>&gt; gauze/brian</i><br>
<i>&gt; </i><br>
<i>&gt; </i><br>
<i>&gt; ---</i><br>
<i>&gt; Rhode Island Free Unix Group (RIFUG)</i><br>
<i>&gt; web:<a href="http://www.rifug.org">http://www.rifug.org</a></i><br>
<i>&gt; <a href="mailto:email:rifug@rifug.org">email:rifug@rifug.org</a></i><br>
<i>&gt; snailmail:P.O.Box 8511</i><br>
<i>&gt; 	  Warwick,RI 02888</i><br>
<i>&gt; </i><br>
<i>&gt; </i><br>
<i>&gt; </i><br>
<i>&gt; --</i><br>
<i>&gt; Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a></i><br>
<i>&gt; To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a></i><br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0217.html">Harald Finster: "Re: microtek x6 (Firmware 1.3) problem"</a>
<li> <b>Previous message:</b> <a href="0215.html">genkai wa doko da: "Umax scanner woes (halp!)"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
