<!-- received="Thu May 20 23:57:27 1999 PDT" -->
<!-- sent="Fri, 21 May 1999 09:04:20 +0200" -->
<!-- name="Harald Finster" -->
<!-- email="finster@ave.ac.agit.de" -->
<!-- subject="Re: microtek x6 (Firmware 1.3) problem" -->
<!-- id="" -->
<!-- inreplyto="microtek x6 (Firmware 1.3) problem" -->
<title>sane-devel: Re: microtek x6 (Firmware 1.3) problem</title>
<h1>Re: microtek x6 (Firmware 1.3) problem</h1>
<b>Harald Finster</b> (<a href="mailto:finster@ave.ac.agit.de"><i>finster@ave.ac.agit.de</i></a>)<br>
<i>Fri, 21 May 1999 09:04:20 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#217">[ date ]</a><a href="index.html#217">[ thread ]</a><a href="subject.html#217">[ subject ]</a><a href="author.html#217">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0218.html">Andreas Rick: "First sucess with Coolscan LS-30"</a>
<li> <b>Previous message:</b> <a href="0216.html">Larry Snyder: "Re: Umax scanner woes (halp!)"</a>
<li> <b>Maybe in reply to:</b> <a href="0181.html">Harald Finster: "microtek x6 (Firmware 1.3) problem"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0223.html">Greg Franks: "Re: microtek x6 (Firmware 1.3) problem"</a>
<li> <b>Reply:</b> <a href="0223.html">Greg Franks: "Re: microtek x6 (Firmware 1.3) problem"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Bernd Schroeder wrote:<br>
<i>&gt; </i><br>
<p>
<i>&gt; </i><br>
<i>&gt; Once the scanner is running and you experience problems with</i><br>
<i>&gt; wrong (transposed) colors, you should download the 0.7 release</i><br>
<i>&gt; of the backend from</i><br>
<p>
Hello Bernd, hello listees,<br>
<p>
ScanMaker X6 now (almost) works fine with Firmware 1.3,<br>
sane V1.0.1 and the patch mentioned above (0.7).<br>
The only remaing problem is, that 12 and 36 bit scans<br>
result in noisy images with wrong colours.<br>
(Might be a problem of the ppm-format? I think, the <br>
man pages mention something about a 8-bit limitation?)<br>
<p>
Greetings <br>
<p>
Harald<br>
<p>
<p>
<p>
<pre>
-- 
Windows is not the answer. Windows is the question. The answer is LINUX!
Harald Finster
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0218.html">Andreas Rick: "First sucess with Coolscan LS-30"</a>
<li> <b>Previous message:</b> <a href="0216.html">Larry Snyder: "Re: Umax scanner woes (halp!)"</a>
<li> <b>Maybe in reply to:</b> <a href="0181.html">Harald Finster: "microtek x6 (Firmware 1.3) problem"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0223.html">Greg Franks: "Re: microtek x6 (Firmware 1.3) problem"</a>
<li> <b>Reply:</b> <a href="0223.html">Greg Franks: "Re: microtek x6 (Firmware 1.3) problem"</a>
<!-- reply="end" -->
</ul>
