<!-- received="Fri May 21 05:47:31 1999 PDT" -->
<!-- sent="Fri, 21 May 1999 14:56:38 +0200" -->
<!-- name="Oliver Rauch" -->
<!-- email="oliver.rauch@Wolfsburg.DE" -->
<!-- subject="Re: Gamma and xsane" -->
<!-- id="" -->
<!-- inreplyto="Gamma and xsane" -->
<title>sane-devel: Re: Gamma and xsane</title>
<h1>Re: Gamma and xsane</h1>
<b>Oliver Rauch</b> (<a href="mailto:oliver.rauch@Wolfsburg.DE"><i>oliver.rauch@Wolfsburg.DE</i></a>)<br>
<i>Fri, 21 May 1999 14:56:38 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#225">[ date ]</a><a href="index.html#225">[ thread ]</a><a href="subject.html#225">[ subject ]</a><a href="author.html#225">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0226.html">Chris Bitmead: "Re: Gamma and xsane"</a>
<li> <b>Previous message:</b> <a href="0224.html">Harald Finster: "Re: microtek x6 (Firmware 1.3) problem"</a>
<li> <b>Maybe in reply to:</b> <a href="0214.html">Chris Bitmead: "Gamma and xsane"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0226.html">Chris Bitmead: "Re: Gamma and xsane"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Chris Bitmead wrote:<br>
<p>
<i>&gt; I've read a few things about what Gamma is and I think I understand it,</i><br>
<i>&gt; but I'm still not clear on what the Gamma Slider does in xsane.</i><br>
<i>&gt;</i><br>
<i>&gt; Does the Gamma Slider:</i><br>
<i>&gt;</i><br>
<i>&gt; a) Have no effect on the resulting scan file, it merely assists viewing</i><br>
<i>&gt; on your monitor.</i><br>
<i>&gt;</i><br>
<i>&gt; b) Modify the resulting scan file to look pleasant on your monitor (and</i><br>
<i>&gt; thus render it potentially unpleasant on a different monitor).</i><br>
<p>
Hi Chris,<br>
<p>
if the gamma slider in xsane is set to 1.0 the scanned data keeps untouched,<br>
if you select another value, the data that comes from the scanner is transformed<br>
<p>
with the gamma value you selected. If you scan such an image into a file, the<br>
image<br>
in the file is transformed by the selected gamma value.<br>
<p>
In the preview window you can see the changes you make.<br>
<p>
<i>&gt;</i><br>
<i>&gt; How does all this relate to web publishing? Let's say I found a utility</i><br>
<i>&gt; to adjust the gamma of my monitor (apparently there is a windows utility</i><br>
<i>&gt; at <a href="http://www.entechtaiwan.com">http://www.entechtaiwan.com</a>). Let's say I adjusted it to an ideal of</i><br>
<i>&gt; 1.0. That's wonderful for me, but then if I publish it on the web, it</i><br>
<i>&gt; will look awful for everyone else.</i><br>
<p>
If you need a gamma correction of 1.0 on your monitor, I think the contast and<br>
brightness<br>
of your monitor is much too high. Normally you need a gamma correction of about<br>
1.5 - 2.5<br>
to get good results on a monitor.<br>
Turn down brightness and contrast.<br>
<p>
<i>&gt; How does it relate to archiving images? Should I leave the gamma alone</i><br>
<i>&gt; for an archived image and only adjust it for a web image?</i><br>
<i>&gt;</i><br>
<i>&gt; Also, I seem to be finding (as a newbie user of xsane who's only done a</i><br>
<i>&gt; few scans) that the pics only look ok with the gamma turned right up.</i><br>
<i>&gt; What does this mean?</i><br>
<i>&gt;</i><br>
<p>
Take a look at <a href="http://www.scantips.com">http://www.scantips.com</a> there are good infos about scaniing/color<br>
correction!<br>
<p>
Bye<br>
Oliver<br>
<p>
<p>
<p>
<pre>
--
EMAIL: <a href="mailto:Oliver.Rauch@Wolfsburg.DE">Oliver.Rauch@Wolfsburg.DE</a>
WWW: <a href="http://www.wolfsburg.de/~rauch">http://www.wolfsburg.de/~rauch</a>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0226.html">Chris Bitmead: "Re: Gamma and xsane"</a>
<li> <b>Previous message:</b> <a href="0224.html">Harald Finster: "Re: microtek x6 (Firmware 1.3) problem"</a>
<li> <b>Maybe in reply to:</b> <a href="0214.html">Chris Bitmead: "Gamma and xsane"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0226.html">Chris Bitmead: "Re: Gamma and xsane"</a>
<!-- reply="end" -->
</ul>
