<!-- received="Sun May 23 14:25:44 1999 PDT" -->
<!-- sent="Sun, 23 May 1999 23:33:05 +0200" -->
<!-- name="Thomas Mueller" -->
<!-- email="tmm@bigfoot.de" -->
<!-- subject="Re: Sane-1.0.1" -->
<!-- id="" -->
<!-- inreplyto="Sane-1.0.1" -->
<title>sane-devel: Re: Sane-1.0.1</title>
<h1>Re: Sane-1.0.1</h1>
<b>Thomas Mueller</b> (<a href="mailto:tmm@bigfoot.de"><i>tmm@bigfoot.de</i></a>)<br>
<i>Sun, 23 May 1999 23:33:05 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#249">[ date ]</a><a href="index.html#249">[ thread ]</a><a href="subject.html#249">[ subject ]</a><a href="author.html#249">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0250.html">Oliver Rauch: "Re: scanimage error"</a>
<li> <b>Previous message:</b> <a href="0248.html">Nick Lamb: "Re: scanimage error"</a>
<li> <b>Maybe in reply to:</b> <a href="0244.html">Fernando Segura: "Sane-1.0.1"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Fernando Segura wrote:<br>
<p>
<i>&gt; I'm getting some error  messages while compilig sane 1.0.1, in xscanimage</i><br>
<i>&gt; compile.</i><br>
<i>&gt; /usr/lib/libgimp.so: undefined reference to `g_debug'</i><br>
<i>&gt; /usr/lib/libgimp.so: undefined reference to `g_message'</i><br>
<i>&gt; /usr/lib/libgimp.so: undefined reference to `g_warning'</i><br>
<i>&gt; /usr/lib/libgimp.so: undefined reference to `g_error'</i><br>
<i>&gt; make: *** [xscanimage] Error 1</i><br>
<i>&gt; My GTK version is 1.2.2 and GIMP is v1.0.2. Is there anything missing?</i><br>
<p>
Yes, GIMP &gt;= 1.0.4  :-)<br>
<p>
<p>
<pre>
-- 
mfg Thomas Mueller - <a href="http://tmueller.home.pages.de">http://tmueller.home.pages.de</a> - ICQ #17471620
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0250.html">Oliver Rauch: "Re: scanimage error"</a>
<li> <b>Previous message:</b> <a href="0248.html">Nick Lamb: "Re: scanimage error"</a>
<li> <b>Maybe in reply to:</b> <a href="0244.html">Fernando Segura: "Sane-1.0.1"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
