<!-- received="Wed May 26 03:50:23 1999 PDT" -->
<!-- sent="Wed, 26 May 1999 10:58:21 +0200" -->
<!-- name="abel deuring" -->
<!-- email="a.deuring@satzbau-gmbh.de" -->
<!-- subject="Re: version 0.20 of ths Sharp backend available" -->
<!-- id="" -->
<!-- inreplyto="version 0.20 of ths Sharp backend available" -->
<title>sane-devel: Re: version 0.20 of ths Sharp backend available</title>
<h1>Re: version 0.20 of ths Sharp backend available</h1>
<b>abel deuring</b> (<a href="mailto:a.deuring@satzbau-gmbh.de"><i>a.deuring@satzbau-gmbh.de</i></a>)<br>
<i>Wed, 26 May 1999 10:58:21 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#259">[ date ]</a><a href="index.html#259">[ thread ]</a><a href="subject.html#259">[ subject ]</a><a href="author.html#259">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0260.html">Jeff Lopes: "Mustek 600 III EP Plus"</a>
<li> <b>Previous message:</b> <a href="0258.html">dch: "Re: To UMAX Astra 6X0S users"</a>
<li> <b>Maybe in reply to:</b> <a href="0255.html">abel deuring: "version 0.20 of ths Sharp backend available"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Milon Firikis wrote:<br>
<p>
<i>&gt; &gt;   - a separate process is forked which reads data from the</i><br>
<i>&gt; &gt;     scanner and delivers the data to the parent process.</i><br>
<i>&gt; &gt;     Unlike several other backends, which also fork a reader</i><br>
<i>&gt; &gt;     process and transfer the data to parent process through</i><br>
<i>&gt; &gt;     a pipe, the Sharp backend uses shared memory for this</i><br>
<i>&gt; &gt;     purpose.</i><br>
<i>&gt; </i><br>
<i>&gt; May I ask why?</i><br>
<p>
Firstly, because I did not get a sufficiently fast reader <br>
process using a pipe - at least for the Sharp JX-250. <br>
This scanner is a relatively fast scanner (the data <br>
transfer for an A4 gray scale scan with 400 dpi needs <br>
less than 10 seconds), but has obviously only a very small <br>
internal buffer. In order to avoid carriage stops, the <br>
reader process must issue a read command to the scanner as <br>
soon as possible after processing the data from the <br>
previous read command. Writing the scan data into a pipe <br>
needs, at least on a P166 under Linux, enough time to <br>
cause some carriage stops.<br>
<p>
Secondly, with shared memory it is easy to use a larger<br>
buffer. This can avoid some carriage stops if the frontend<br>
is temporarily too slow to read the scan data as fast as it<br>
is delivered by the backend.<br>
<p>
Abel<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0260.html">Jeff Lopes: "Mustek 600 III EP Plus"</a>
<li> <b>Previous message:</b> <a href="0258.html">dch: "Re: To UMAX Astra 6X0S users"</a>
<li> <b>Maybe in reply to:</b> <a href="0255.html">abel deuring: "version 0.20 of ths Sharp backend available"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
