<!-- received="Sun May 30 21:18:18 1999 PDT" -->
<!-- sent="Sun, 30 May 1999 22:32:04 -0400 (EDT)" -->
<!-- name="phillipp" -->
<!-- email="phillipp@w3eax.umd.edu" -->
<!-- subject="newbie - HP Scanjet 11cx" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: newbie - HP Scanjet 11cx</title>
<h1>newbie - HP Scanjet 11cx</h1>
<b>phillipp</b> (<a href="mailto:phillipp@w3eax.umd.edu"><i>phillipp@w3eax.umd.edu</i></a>)<br>
<i>Sun, 30 May 1999 22:32:04 -0400 (EDT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#275">[ date ]</a><a href="index.html#275">[ thread ]</a><a href="subject.html#275">[ subject ]</a><a href="author.html#275">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0276.html">Joachim Kunze: "pnm-files"</a>
<li> <b>Previous message:</b> <a href="0274.html">Rene Rebe: "Re: AVISION AV630CS ?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0281.html">Peter Kirchgessner: "Re: newbie - HP Scanjet 11cx"</a>
<li> <b>Reply:</b> <a href="0281.html">Peter Kirchgessner: "Re: newbie - HP Scanjet 11cx"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
O.S. is COL 2.2<br>
<p>
Things seem to track the March 98 LJ article pretty well except:<br>
<p>
1. No scsi is seen (small detail :-))<br>
        a. The hp.conf file only has /dev/scanner in it.<br>
        b. /dev/scanner  is a link to /dev/sge. ( I hve no scsi card, only the<br>
        little controller card that came with the scanner).<br>
        c. sge default was linked to sg4 - should I (unlink) that and link<br>
        sge to sg0?, since that is the only and therefore the last scsi.<br>
        A little foggy how that command line might look.<br>
<p>
2. I see the menu's and the preview box, but don't see a "pnm" picture yet.<br>
Seems like it complained about not seeing a scanner. ( I think ) . I thought<br>
not finding the scanner might have nothing to do with delivering a pnm file.<br>
We are newbie green here.<br>
<p>
That scanner is "long term borrowed", and old, and I might replace it if<br>
necessary, but its in the "supported list".<br>
        Hope this makes sense to someone. <a href="mailto:phillipp@w3eax.umd.edu">phillipp@w3eax.umd.edu</a><br>
<p>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0276.html">Joachim Kunze: "pnm-files"</a>
<li> <b>Previous message:</b> <a href="0274.html">Rene Rebe: "Re: AVISION AV630CS ?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0281.html">Peter Kirchgessner: "Re: newbie - HP Scanjet 11cx"</a>
<li> <b>Reply:</b> <a href="0281.html">Peter Kirchgessner: "Re: newbie - HP Scanjet 11cx"</a>
<!-- reply="end" -->
</ul>
