<!-- received="Mon May 31 13:18:44 1999 PDT" -->
<!-- sent="Mon, 31 May 1999 16:18:17 -0400 (EDT)" -->
<!-- name="Britt Bolen" -->
<!-- email="bolen@eecs.harvard.edu" -->
<!-- subject="problems with HP SJ 4C and Linux" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: problems with HP SJ 4C and Linux</title>
<h1>problems with HP SJ 4C and Linux</h1>
<b>Britt Bolen</b> (<a href="mailto:bolen@eecs.harvard.edu"><i>bolen@eecs.harvard.edu</i></a>)<br>
<i>Mon, 31 May 1999 16:18:17 -0400 (EDT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#280">[ date ]</a><a href="index.html#280">[ thread ]</a><a href="subject.html#280">[ subject ]</a><a href="author.html#280">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0281.html">Peter Kirchgessner: "Re: newbie - HP Scanjet 11cx"</a>
<li> <b>Previous message:</b> <a href="0279.html">Christian Ordig: "ANN: Primax NDA"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0283.html">Peter Kirchgessner: "Re: problems with HP SJ 4C and Linux"</a>
<li> <b>Reply:</b> <a href="0283.html">Peter Kirchgessner: "Re: problems with HP SJ 4C and Linux"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I've got a stock RedHat 6.0 Linux machine running on a P166 with an<br>
ncr53c825 scsi controller.<br>
<p>
My machine sees the scanner as<br>
<p>
  Vendor: HP        Model: C2520A            Rev: 3503<br>
  Type:   Processor                          ANSI SCSI revision: 02<br>
<p>
scanimage gives me this info....<br>
<p>
device `hp:/dev/scanner' is a Hewlett-Packard C2520A flatbed scanner<br>
<p>
When i set SANE_DEBUG_HP to 1 and try and grab an image, i get this<br>
output... (abridged)<br>
<p>
[hp] sanei_hp_device_new: /dev/scanner: found HP ScanJet model C2520A<br>
[hp] start: No request to mirror image vertically<br>
[hp] start: No request to mirror image vertically<br>
[hp] start: 2550 pixels per line, 319 bytes, 4199 lines high<br>
[hp] sanei_hp_scl_startScan: Start scan<br>
[hp] start_reader: reader proces 14468 started<br>
[hp] do_read: Start reading data from scanner<br>
[hp] do_read: Error from scsi_req_wait: Error during device I/O<br>
[hp] do_read: cleaning up leftover requests<br>
[hp] read: EOF from pipe<br>
[hp] do_cancel: child exited, status = 9<br>
scanimage: sane_read: Error during device I/O<br>
<p>
and it dies...<br>
<p>
I have stock 2.2.5 kernel with the generic scsi module loaded.<br>
<p>
Any ideas on why this is dieing?<br>
<p>
thanks a lot,<br>
<p>
Britt<br>
<p>
------------------------------------------------------------------------<br>
Britt Bolen                                 EECS Computer Support Office<br>
Division of Engineering and Applied Sciences      email:      bolen@eecs<br>
Harvard University                                voice:    617 495-UNIX<br>
ESL 112, 40 Oxford St., Cambridge, MA, 02138        fax:    617-496-1066<br>
------------------------------------------------------------------------<br>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0281.html">Peter Kirchgessner: "Re: newbie - HP Scanjet 11cx"</a>
<li> <b>Previous message:</b> <a href="0279.html">Christian Ordig: "ANN: Primax NDA"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0283.html">Peter Kirchgessner: "Re: problems with HP SJ 4C and Linux"</a>
<li> <b>Reply:</b> <a href="0283.html">Peter Kirchgessner: "Re: problems with HP SJ 4C and Linux"</a>
<!-- reply="end" -->
</ul>
