<!-- received="Fri Aug 14 19:52:25 1998 PDT" -->
<!-- sent="Fri, 14 Aug 1998 22:44:33 -0400" -->
<!-- name="MIchael Katz-Hyman" -->
<!-- email="mkatshym@erols.com" -->
<!-- subject="Info Peripherals Scanner" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Info Peripherals Scanner</title>
<h1>Info Peripherals Scanner</h1>
<b>MIchael Katz-Hyman</b> (<a href="mailto:mkatshym@erols.com"><i>mkatshym@erols.com</i></a>)<br>
<i>Fri, 14 Aug 1998 22:44:33 -0400</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#73">[ date ]</a><a href="index.html#73">[ thread ]</a><a href="subject.html#73">[ subject ]</a><a href="author.html#73">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0074.html">Sreenivasa Sista: "Re: SCSI-II scanner command list - specification file - common lib"</a>
<li> <b>Previous message:</b> <a href="0072.html">Bernd Schroeder: "Re: Microtek E3+ war story (The good guys win)"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I have just bought an Info ImageReader LE scanner and I was wondering if<br>
anybody was already in the process of writing a sane backend for it and<br>
if not, does anybody have the technical specs for it, and if not are<br>
there any objections to me trying to get the information and write the<br>
drivers, thanks.<br>
<p>
			Michael Katz-Hyman<br>
			<a href="mailto:mkatshym@erols.com">mkatshym@erols.com</a><br>
			Linux 2.0.34<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0074.html">Sreenivasa Sista: "Re: SCSI-II scanner command list - specification file - common lib"</a>
<li> <b>Previous message:</b> <a href="0072.html">Bernd Schroeder: "Re: Microtek E3+ war story (The good guys win)"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
