<!-- received="Sun Aug 16 07:08:09 1998 PDT" -->
<!-- sent="Sun, 16 Aug 1998 10:07:16 -0400 (EDT)" -->
<!-- name="Matto Marjanovic" -->
<!-- email="maddog@mir.com" -->
<!-- subject="Re: SCSI-II scanner command list - specification file - common lib" -->
<!-- id="m0z83Sm-000J3sC@yoo-hoo.ai.mit.edu" -->
<!-- inreplyto="SCSI-II scanner command list - specification file - common lib" -->
<title>sane-devel: Re: SCSI-II scanner command list - specification file - common lib</title>
<h1>Re: SCSI-II scanner command list - specification file - common lib</h1>
<b>Matto Marjanovic</b> (<a href="mailto:maddog@mir.com"><i>maddog@mir.com</i></a>)<br>
<i>Sun, 16 Aug 1998 10:07:16 -0400 (EDT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#78">[ date ]</a><a href="index.html#78">[ thread ]</a><a href="subject.html#78">[ subject ]</a><a href="author.html#78">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0079.html">Jim Ford: "Re: Umax Astra 1220S - on/off button?"</a>
<li> <b>Previous message:</b> <a href="0077.html">Michael Stutz: "Umax Astra 1220S - on/off button?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i> &gt;I was very busy for last few weeks. Now I've got the Inquiry information=20</i><br>
<i> &gt;for the LEO Scan S3. I hope the INQUIRY information makes some sense</i><br>
<i> &gt;to the people who had put a lot of effort in building the backends</i><br>
<i> &gt;for varioius scanners.</i><br>
<p>
Well, it doesn't look like any type of microtek firmware (either (1) or (2)),<br>
 that much I can tell you....<br>
<p>
-matt m.<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0079.html">Jim Ford: "Re: Umax Astra 1220S - on/off button?"</a>
<li> <b>Previous message:</b> <a href="0077.html">Michael Stutz: "Umax Astra 1220S - on/off button?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
