<!-- received="Thu Aug 20 11:34:50 1998 PDT" -->
<!-- sent="Fri, 21 Aug 1998 01:31:32 -0500 (CDT)" -->
<!-- name="ixnay@idir.net" -->
<!-- email="ixnay@idir.net" -->
<!-- subject="parallel port scanners" -->
<!-- id="m0z9kjU-0005KIC@kapoopychoo.dyn.ml.org" -->
<!-- inreplyto="" -->
<title>sane-devel: parallel port scanners</title>
<h1>parallel port scanners</h1>
<a href="mailto:ixnay@idir.net"><i>ixnay@idir.net</i></a><br>
<i>Fri, 21 Aug 1998 01:31:32 -0500 (CDT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#84">[ date ]</a><a href="index.html#84">[ thread ]</a><a href="subject.html#84">[ subject ]</a><a href="author.html#84">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0085.html">Raymond A. Ingles: "Is ftp.mostang.com down?"</a>
<li> <b>Previous message:</b> <a href="0083.html">Dan Birchall: "Re: different backends change the look and feel of xscanimage"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hello,<br>
	I'm new to sane and somewhat new to linux. My problem is that I<br>
recently recived a Mustek TwainScan 600 III EP Plus color flatbed scanner.<br>
This is a true parallel port scanner, ie it did not come with a "funky<br>
parallel port card" as discussed in the sane-mustek man page. I can't get<br>
this thing to work at all, but it seems that there has to be a way to do it.<br>
Like I said  I am somewhat new to linux and do not have much experience with<br>
creating devices in /dev so advice on this would be helpfull also. So if<br>
anyone knows how to get this scanner to work with linux either with sane or<br>
some other method (although from what I've read I'd rather it be sane)<br>
please let me know.<br>
<p>
Please excuse my ignorance.<br>
Thank you <br>
<p>
Brian<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0085.html">Raymond A. Ingles: "Is ftp.mostang.com down?"</a>
<li> <b>Previous message:</b> <a href="0083.html">Dan Birchall: "Re: different backends change the look and feel of xscanimage"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
