<!-- received="Sun Aug 30 12:51:38 1998 PDT" -->
<!-- sent="Sat, 29 Aug 1998 08:50:58 -0400 (EDT)" -->
<!-- name="Michael Kayz-Hyman" -->
<!-- email="root@klingon.com" -->
<!-- subject="Re: Primax Colorado Direct (parallel) support" -->
<!-- id="" -->
<!-- inreplyto="35E7D8EE.93449D5A@usa.net" -->
<title>sane-devel: Re: Primax Colorado Direct (parallel) support</title>
<h1>Re: Primax Colorado Direct (parallel) support</h1>
<b>Michael Kayz-Hyman</b> (<a href="mailto:root@klingon.com"><i>root@klingon.com</i></a>)<br>
<i>Sat, 29 Aug 1998 08:50:58 -0400 (EDT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#140">[ date ]</a><a href="index.html#140">[ thread ]</a><a href="subject.html#140">[ subject ]</a><a href="author.html#140">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0141.html">Jesper Skov: "Konica M-Q100 serial protocol"</a>
<li> <b>Previous message:</b> <a href="0139.html">KSchmenger@aol.com: "Problems with xscanimage and gimp"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I have the parallel protocol for the Artec line of parallel prt scanners.<br>
I beliebe that this is the same protocol used in many scanners besides<br>
artec.  If the FCCID of your scanner contains AS6E than your scanner is a<br>
Artec AS6E OEM scanner.  That is the protocol info. that I have.  If not<br>
your still might want to look at the info for ideas.  Also, the QuickCam<br>
driver under sane uses the parallel prt, check that out.<br>
<p>
						Michael Katz-Hyman<br>
<p>
On Sat, 29 Aug 1998, Luca Montecchiani wrote:<br>
<p>
<i>&gt; Hi,</i><br>
<i>&gt; there is a chance to see this cheap scanner work under Linux/sane ?</i><br>
<i>&gt; What we can do ?</i><br>
<i>&gt; </i><br>
<i>&gt; o There is no support from the Primax...</i><br>
<i>&gt;   (send more and more e-mail ?)</i><br>
<i>&gt; </i><br>
<i>&gt; o Have anyone successfully setup the scanner under Wine</i><br>
<i>&gt;   to capture the parallel protocol used ??</i><br>
<i>&gt;   (and after ? Is there any guru that will do the hack job ?)</i><br>
<i>&gt; </i><br>
<i>&gt; o Is better to transform it in a UVA sun-lamp ?</i><br>
<i>&gt;   ( well, in this case project will be released</i><br>
<i>&gt;     under the GNU/GPL License of course ;)</i><br>
<i>&gt; </i><br>
<i>&gt; Enjoy, Luca Montecchiani</i><br>
<i>&gt; </i><br>
<i>&gt; __________________________________________________________</i><br>
<i>&gt; </i><br>
<i>&gt; E-mail: <a href="mailto:m.luca@usa.net">m.luca@usa.net</a></i><br>
<i>&gt; W.W.W.: <a href="http://www.geocities.com/SiliconValley/Vista/2964/">http://www.geocities.com/SiliconValley/Vista/2964/</a></i><br>
<i>&gt; I.R.C.: defrag (#linux-it)</i><br>
<i>&gt; __________________________________________________________</i><br>
<i>&gt; </i><br>
<i>&gt; --</i><br>
<i>&gt; Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a></i><br>
<i>&gt; To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a></i><br>
<i>&gt; </i><br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0141.html">Jesper Skov: "Konica M-Q100 serial protocol"</a>
<li> <b>Previous message:</b> <a href="0139.html">KSchmenger@aol.com: "Problems with xscanimage and gimp"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
