<!-- received="Sun Aug 30 12:47:47 1998 PDT" -->
<!-- sent="Wed, 26 Aug 1998 10:16:55 -0500 (CDT)" -->
<!-- name="Glenn Powers" -->
<!-- email="glenn@bigbrother.net" -->
<!-- subject="Re: HTML documentation" -->
<!-- id="199808261516.KAA30820@bigbrother.net" -->
<!-- inreplyto="3601F6C8.489BFFC@mieterra.com" -->
<title>sane-devel: Re: HTML documentation</title>
<h1>Re: HTML documentation</h1>
<b>Glenn Powers</b> (<a href="mailto:glenn@bigbrother.net"><i>glenn@bigbrother.net</i></a>)<br>
<i>Wed, 26 Aug 1998 10:16:55 -0500 (CDT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#142">[ date ]</a><a href="index.html#142">[ thread ]</a><a href="subject.html#142">[ subject ]</a><a href="author.html#142">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0143.html">Jon Wikne: "Mail archive"</a>
<li> <b>Previous message:</b> <a href="0141.html">Jesper Skov: "Konica M-Q100 serial protocol"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
LinkBot for Windoze or w3mir for linux can mirror a site and<br>
change all the URL's to be relative. no need to change the<br>
original HTML.<br>
glenn<br>
<p>
<i>&gt; </i><br>
<i>&gt; </i><br>
<i>&gt; --------------99FC077C49613C32E9A6C89D</i><br>
<i>&gt; Content-Type: text/plain; charset=us-ascii</i><br>
<i>&gt; Content-Transfer-Encoding: 7bit</i><br>
<i>&gt; </i><br>
<i>&gt; Hello,</i><br>
<i>&gt; </i><br>
<i>&gt; I was wondering if someone has packaged the HTML documentation for SANE</i><br>
<i>&gt; (available at  <a href="http://www.mostang.com/sane/html/">http://www.mostang.com/sane/html/</a> ) for download so it</i><br>
<i>&gt; can be viewed at leisure.  I noticed the internal links include the</i><br>
<i>&gt; complete URL and thus it would take some work to download every page and</i><br>
<i>&gt; fix the links.  However, if nobody has done this and the SANE site would</i><br>
<i>&gt; host it, please let me know and I may just do it . . . .</i><br>
<i>&gt; </i><br>
<i>&gt; Please include my e-mail in any response 'cuz I'm not subscribed (yet).</i><br>
<i>&gt; </i><br>
<i>&gt; Regards,</i><br>
<i>&gt; </i><br>
<i>&gt; Andreas F. Pour</i><br>
<i>&gt; MieTerra LLC</i><br>
<i>&gt; <a href="mailto:pour@mieterra.com">pour@mieterra.com</a></i><br>
<i>&gt; </i><br>
<i>&gt; </i><br>
<i>&gt; --------------99FC077C49613C32E9A6C89D</i><br>
<i>&gt; Content-Type: text/html; charset=us-ascii</i><br>
<i>&gt; Content-Transfer-Encoding: 7bit</i><br>
<i>&gt; </i><br>
<i>&gt; &lt;HTML&gt;</i><br>
<i>&gt; </i><br>
<i>&gt; </i><br>
<i>&gt; &lt;P&gt;Hello,</i><br>
<i>&gt; </i><br>
<i>&gt; &lt;P&gt;I&amp;nbsp;was wondering if someone has packaged the HTML&amp;nbsp;documentation</i><br>
<i>&gt; for SANE (available at&amp;nbsp; &lt;A HREF="<a href="http://www.mostang.com/sane/html/">http://www.mostang.com/sane/html/</a>"&gt;http://www.mostang.com/sane/html/&lt;/A&gt;</i><br>
<i>&gt; ) for download so it can be viewed at leisure.&amp;nbsp; I&amp;nbsp;noticed the</i><br>
<i>&gt; internal links include the complete URL and thus it would take some work</i><br>
<i>&gt; to download every page and fix the links.&amp;nbsp; However, if nobody has</i><br>
<i>&gt; done this and the SANE&amp;nbsp;site would host it, please let me know and</i><br>
<i>&gt; I&amp;nbsp;may just do it . . . .</i><br>
<i>&gt; </i><br>
<i>&gt; &lt;P&gt;Please include my e-mail in any response 'cuz I'm not subscribed (yet).</i><br>
<i>&gt; </i><br>
<i>&gt; &lt;P&gt;Regards,</i><br>
<i>&gt; </i><br>
<i>&gt; &lt;P&gt;Andreas F. Pour</i><br>
<i>&gt; &lt;BR&gt;MieTerra LLC</i><br>
<i>&gt; &lt;BR&gt;&lt;A HREF="<a href="mailto:pour@mieterra.com">mailto:pour@mieterra.com</a>"&gt;pour@mieterra.com&lt;/A&gt;</i><br>
<i>&gt; &lt;BR&gt;&amp;nbsp;&lt;/HTML&gt;</i><br>
<i>&gt; </i><br>
<i>&gt; --------------99FC077C49613C32E9A6C89D--</i><br>
<i>&gt; </i><br>
<i>&gt; </i><br>
<i>&gt; --</i><br>
<i>&gt; Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a></i><br>
<i>&gt; To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a></i><br>
<i>&gt; </i><br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0143.html">Jon Wikne: "Mail archive"</a>
<li> <b>Previous message:</b> <a href="0141.html">Jesper Skov: "Konica M-Q100 serial protocol"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
