<!-- received="Mon Aug 31 14:23:24 1998 PDT" -->
<!-- sent="31 Aug 1998 23:24:18 +0200" -->
<!-- name="Oliver Graf" -->
<!-- email="ograf@fga.de" -->
<!-- subject="Epson GT-6500 parallel" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Epson GT-6500 parallel</title>
<h1>Epson GT-6500 parallel</h1>
<b>Oliver Graf</b> (<a href="mailto:ograf@fga.de"><i>ograf@fga.de</i></a>)<br>
<i>31 Aug 1998 23:24:18 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#161">[ date ]</a><a href="index.html#161">[ thread ]</a><a href="subject.html#161">[ subject ]</a><a href="author.html#161">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0162.html">R Pickett: "Re: Mustek scanner"</a>
<li> <b>Previous message:</b> <a href="0160.html">Oliver Graf: "Mustek ScanExpress 12000SP"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
System  linux 2.0.35, XFree86 3.3.2, gtk+ 1.0.5<br>
Adapter Epson Parallel Card supplied with GT-6500 on 0x278<br>
Scanner Epson GT-6500 parallel<br>
<p>
Does only work for Gray scans. Lineart will kill xscanimage, Color pics come<br>
up wrong in preview and actual scan (diagonal moving image -- line to long /<br>
line offset).<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0162.html">R Pickett: "Re: Mustek scanner"</a>
<li> <b>Previous message:</b> <a href="0160.html">Oliver Graf: "Mustek ScanExpress 12000SP"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
