<!-- received="Wed Apr  1 09:28:11 1998 PST" -->
<!-- sent="Wed, 01 Apr 1998 10:14:02 -0700" -->
<!-- name="Bob van der Poel" -->
<!-- email="bvdpoel@kootenay.com" -->
<!-- subject="Re: Patch to 0.71 spec file" -->
<!-- id="" -->
<!-- inreplyto="Patch to 0.71 spec file" -->
<title>sane-devel: Re: Patch to 0.71 spec file</title>
<h1>Re: Patch to 0.71 spec file</h1>
<b>Bob van der Poel</b> (<a href="mailto:bvdpoel@kootenay.com"><i>bvdpoel@kootenay.com</i></a>)<br>
<i>Wed, 01 Apr 1998 10:14:02 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#2">[ date ]</a><a href="index.html#2">[ thread ]</a><a href="subject.html#2">[ subject ]</a><a href="author.html#2">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0003.html">Hugo van der Kooij: "Re: Patch to 0.71 spec file"</a>
<li> <b>Previous message:</b> <a href="0001.html">Hugo van der Kooij: "Re: Patch to 0.71 spec file"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt; </i><br>
<i>&gt; Well. I took some effort and was finally able to find the dlh package. (As</i><br>
<i>&gt; it is needed it should be pointed to and not require one to use the ftp</i><br>
<i>&gt; search machine.)</i><br>
<p>
Could you save me some time and tell me where to find dlh? Thanks.<br>
<p>
<pre>
-- 
   __
  /  )      /         Bob van der Poel
 /--&lt;  ____/__        <a href="mailto:bvdpoel@kootenay.com">bvdpoel@kootenay.com</a>
/___/_(_) /_)         <a href="http://www.kootenay.com/~bvdpoel">http://www.kootenay.com/~bvdpoel</a>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0003.html">Hugo van der Kooij: "Re: Patch to 0.71 spec file"</a>
<li> <b>Previous message:</b> <a href="0001.html">Hugo van der Kooij: "Re: Patch to 0.71 spec file"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
