<!-- received="Wed Apr  1 13:00:14 1998 PST" -->
<!-- sent="Wed, 1 Apr 1998 22:41:15 +0200 (MET DST)" -->
<!-- name="Hugo van der Kooij" -->
<!-- email="hvdkooij@caiw.nl" -->
<!-- subject="sane 0.71-4 package" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: sane 0.71-4 package</title>
<h1>sane 0.71-4 package</h1>
<b>Hugo van der Kooij</b> (<a href="mailto:hvdkooij@caiw.nl"><i>hvdkooij@caiw.nl</i></a>)<br>
<i>Wed, 1 Apr 1998 22:41:15 +0200 (MET DST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#4">[ date ]</a><a href="index.html#4">[ thread ]</a><a href="subject.html#4">[ subject ]</a><a href="author.html#4">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0005.html">Matto Marjanovic: "Re: Microtek 35t +"</a>
<li> <b>Previous message:</b> <a href="0003.html">Hugo van der Kooij: "Re: Patch to 0.71 spec file"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I made a new RPM file.<br>
<p>
It includes:<br>
 - sane-umax 0.71h	backend<br>
 - xhp			backend<br>
 - gtk+ gimp fix<br>
<p>
I had to fix the patch of the xhp frontend as it did disable the other<br>
frontends. (small typo in the make file)<br>
<p>
The documentation is now fully available.<br>
<p>
sane-umax documentation is installed as well.<br>
<p>
To compile them with full documentation you need dlh and sgmltools.<br>
<p>
The sane and dlh packages are send to ftp.redhat.com and I will ask Brian<br>
to handle them a.s.a.p. The packages will be available in source and intel<br>
and alpha binaries created on redhat 5.0 systems.<br>
<p>
Regards,<br>
Hugo.<br>
<p>
	+------------------------+------------------------------+<br>
<i>	| Hugo van der Kooij     | <a href="mailto:Hugo.van.der.Kooij@caiw.nl">Hugo.van.der.Kooij@caiw.nl</a>   |</i><br>
<i>	| Oranje Nassaustraat 16 | <a href="http://www.caiw.nl/~hvdkooij">http://www.caiw.nl/~hvdkooij</a> |</i><br>
<i>	| 3155 VJ  Maasland      | (De man met de rode hoed)    |</i><br>
	+------------------------+------------------------------+<br>
    "Computers let you make more mistakes faster than any other invention in <br>
      human history, with the possible exception of handguns and tequila."<br>
		(Mitch Radcliffe)<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0005.html">Matto Marjanovic: "Re: Microtek 35t +"</a>
<li> <b>Previous message:</b> <a href="0003.html">Hugo van der Kooij: "Re: Patch to 0.71 spec file"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
