<!-- received="Fri Apr  3 02:32:34 1998 PST" -->
<!-- sent="Fri, 3 Apr 1998 12:31:55 +0200 (METDST)" -->
<!-- name="Stefan Gombar" -->
<!-- email="e9125065@student.tuwien.ac.at" -->
<!-- subject="Canon 300 support? (in OS/2)" -->
<!-- id="Pine.A41.3.95.980403122540.77716A-100000@stud1.tuwien.ac.at" -->
<!-- inreplyto="" -->
<title>sane-devel: Canon 300 support? (in OS/2)</title>
<h1>Canon 300 support? (in OS/2)</h1>
<b>Stefan Gombar</b> (<a href="mailto:e9125065@student.tuwien.ac.at"><i>e9125065@student.tuwien.ac.at</i></a>)<br>
<i>Fri, 3 Apr 1998 12:31:55 +0200 (METDST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#31">[ date ]</a><a href="index.html#31">[ thread ]</a><a href="subject.html#31">[ subject ]</a><a href="author.html#31">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0032.html">Hugo van der Kooij: "Re: pre-release available for testing"</a>
<li> <b>Previous message:</b> <a href="0030.html">Dr. Andreas Bolsch: "Re: Mustek MSF-06000SP Rev. 2.10"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0043.html">Yuri Dario: "Re: Canon 300 support? (in OS/2)"</a>
<li> <b>Reply:</b> <a href="0043.html">Yuri Dario: "Re: Canon 300 support? (in OS/2)"</a>
<li> <b>Reply:</b> <a href="0044.html">Stefan Gombar: "Re: Canon 300 support? (in OS/2)"</a>
<li> <b>Reply:</b> <a href="0049.html">Yuri Dario: "Re: Canon 300 support? (in OS/2)"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi!<br>
<p>
Is there SANE support for Canon scanners in OS/2 available?<br>
<p>
I have writte a small program for OS/2 for faxing and copying<br>
(using the Rexx-functions of Impos/2 and FaxWorks PRO). As Impos/2<br>
doesn't support every scanner type, I would like to add<br>
SANE support for those models (e.g. Canon, Mustek and Umax).<br>
<p>
Thanks in advance.<br>
<p>
Best regards,<br>
<p>
Stefan<br>
<p>
<p>
--------------------------------------<br>
Stefan Gombar<br>
Member of TeamOS/2<br>
email: <a href="mailto:e9125065@stud1.tuwien.ac.at">e9125065@stud1.tuwien.ac.at</a> <br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0032.html">Hugo van der Kooij: "Re: pre-release available for testing"</a>
<li> <b>Previous message:</b> <a href="0030.html">Dr. Andreas Bolsch: "Re: Mustek MSF-06000SP Rev. 2.10"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0043.html">Yuri Dario: "Re: Canon 300 support? (in OS/2)"</a>
<li> <b>Reply:</b> <a href="0043.html">Yuri Dario: "Re: Canon 300 support? (in OS/2)"</a>
<li> <b>Reply:</b> <a href="0044.html">Stefan Gombar: "Re: Canon 300 support? (in OS/2)"</a>
<li> <b>Reply:</b> <a href="0049.html">Yuri Dario: "Re: Canon 300 support? (in OS/2)"</a>
<!-- reply="end" -->
</ul>
