<!-- received="Fri Apr  3 10:24:17 1998 PST" -->
<!-- sent="Fri, 3 Apr 1998 15:39:20 +0200 (MET DST)" -->
<!-- name="Rogier Wolff" -->
<!-- email="R.E.Wolff@BitWizard.nl" -->
<!-- subject="Re: Mustek MSF-06000SP Rev. 2.10" -->
<!-- id="199804031339.PAA01271@cave.BitWizard.nl" -->
<!-- inreplyto="3524B2DB.93510E3D@ic.ac.uk" -->
<title>sane-devel: Re: Mustek MSF-06000SP Rev. 2.10</title>
<h1>Re: Mustek MSF-06000SP Rev. 2.10</h1>
<b>Rogier Wolff</b> (<a href="mailto:R.E.Wolff@BitWizard.nl"><i>R.E.Wolff@BitWizard.nl</i></a>)<br>
<i>Fri, 3 Apr 1998 15:39:20 +0200 (MET DST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#36">[ date ]</a><a href="index.html#36">[ thread ]</a><a href="subject.html#36">[ subject ]</a><a href="author.html#36">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0037.html">Matto Marjanovic: "Re: pre-release available for testing"</a>
<li> <b>Previous message:</b> <a href="0035.html">zerbst@tu-harburg.de: "Re: Microtek 35t +"</a>
<li> <b>In reply to:</b> <a href="0030.html">Dr. Andreas Bolsch: "Re: Mustek MSF-06000SP Rev. 2.10"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0045.html">Martin Radford: "Re: Mustek MSF-06000SP Rev. 2.10"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Dr. Andreas Bolsch wrote:<br>
<i>&gt; </i><br>
<i>&gt; Hi,</i><br>
<i>&gt; What kind of SCSI card do you use? The one shipped with the scanner?</i><br>
<i>&gt; I've a Mustek ScanExpress 12000SP and tried this card, but either</i><br>
<i>&gt; nothing works or else (after some modifications of mustek.c)</i><br>
<i>&gt; only 0x00's are read. </i><br>
<i>&gt; </i><br>
<i>&gt; I'll try another SCSI card next week, because I suspect there is</i><br>
<i>&gt; some problem with the SCSI card/driver.</i><br>
<p>
I'd suspect some software problem. Something like forgetting to set<br>
the gamma transfer function means that the transfer function is<br>
    1-&gt;0, 2-&gt;0, 3-&gt;0, .... 255-&gt;0. <br>
<p>
			Roger. <br>
<p>
<p>
<pre>
-- 
If it's there and you can see it, it's REAL      <a href="mailto:|___R.E.Wolff@BitWizard.nl">|___R.E.Wolff@BitWizard.nl</a>  |
If it's there and you can't see it, it's TRANSPARENT |  Tel: +31-15-2137555  |
If it's not there and you can see it, it's VIRTUAL   |__FAX:_+31-15-2138217  |
If it's not there and you can't see it, it's GONE! -- Roy Wilks, 1983  |_____|
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0037.html">Matto Marjanovic: "Re: pre-release available for testing"</a>
<li> <b>Previous message:</b> <a href="0035.html">zerbst@tu-harburg.de: "Re: Microtek 35t +"</a>
<li> <b>In reply to:</b> <a href="0030.html">Dr. Andreas Bolsch: "Re: Mustek MSF-06000SP Rev. 2.10"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0045.html">Martin Radford: "Re: Mustek MSF-06000SP Rev. 2.10"</a>
<!-- reply="end" -->
</ul>
