<!-- received="Fri Apr  3 11:02:11 1998 PST" -->
<!-- sent="Fri, 3 Apr 1998 21:00:40 +0200 (CEST)" -->
<!-- name="Jorgen Pehrson" -->
<!-- email="jp@spektr.ludvika.se" -->
<!-- subject="Olympys &amp; Sane?" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Olympys &amp; Sane?</title>
<h1>Olympys &amp; Sane?</h1>
<b>Jorgen Pehrson</b> (<a href="mailto:jp@spektr.ludvika.se"><i>jp@spektr.ludvika.se</i></a>)<br>
<i>Fri, 3 Apr 1998 21:00:40 +0200 (CEST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#39">[ date ]</a><a href="index.html#39">[ thread ]</a><a href="subject.html#39">[ subject ]</a><a href="author.html#39">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0040.html">Matto Marjanovic: "Re: Artec AT3 and A6000C Plus driver"</a>
<li> <b>Previous message:</b> <a href="0038.html">Matto Marjanovic: "Re: sane_read returning *len == 0"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi,<br>
I have an Olympus Camedia C820-L (D320-L in the US) and I'm wondering if<br>
there's a SANE driver for it? If not, is anyone working on a driver?<br>
<p>
The (unofficial) specs for the serial protocol is available on the net...<br>
(<a href="http://www.average.org/digicam/protocol.html">http://www.average.org/digicam/protocol.html</a>)<br>
<p>
Thanks.<br>
<p>
<pre>
--
Jorgen Pehrson                  HP 9000/380 (NetBSD/hp300 1.3)
<a href="mailto:jp@spektr.ludvika.se">jp@spektr.ludvika.se</a>            DECstation 5000/200 (NetBSD/pmax 1.3)
<a href="http://spektr.ludvika.se/museum">http://spektr.ludvika.se/museum</a> VAXstation 2000 (VMS 5.5-2)
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0040.html">Matto Marjanovic: "Re: Artec AT3 and A6000C Plus driver"</a>
<li> <b>Previous message:</b> <a href="0038.html">Matto Marjanovic: "Re: sane_read returning *len == 0"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
