<!-- received="Tue Apr  7 22:43:39 1998 PDT" -->
<!-- sent="Tue, 7 Apr 1998 22:43:37 -0700" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="David.Mosberger@acm.org" -->
<!-- subject="sane 0.72 available" -->
<!-- id="199804080543.WAA23929@panda.mostang.com" -->
<!-- inreplyto="" -->
<title>sane-devel: sane 0.72 available</title>
<h1>sane 0.72 available</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:David.Mosberger@acm.org"><i>David.Mosberger@acm.org</i></a>)<br>
<i>Tue, 7 Apr 1998 22:43:37 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#77">[ date ]</a><a href="index.html#77">[ thread ]</a><a href="subject.html#77">[ subject ]</a><a href="author.html#77">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0078.html">Rogier Wolff: "Re: sane 0.72 available"</a>
<li> <b>Previous message:</b> <a href="0076.html">Oliver.Rauch@Wolfsburg.DE: "/proc/scsi/scsi"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0078.html">Rogier Wolff: "Re: sane 0.72 available"</a>
<li> <b>Reply:</b> <a href="0078.html">Rogier Wolff: "Re: sane 0.72 available"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
OK, sane-0.72 is finally available.  You can get it from:<br>
<p>
    <a href="ftp://ftp.mostang.com/pub/sane/sane-0.72.tar.gz">ftp://ftp.mostang.com/pub/sane/sane-0.72.tar.gz</a><br>
<p>
The most important changes:<br>
<p>
------------------------------------------------------------------<br>
New with 0.72:<br>
<p>
* New backend for Artec scanners.<br>
   This backend is known to work with Artec AT3, but others may work<br>
   too (A6000C should work).<br>
<p>
* Updated DMC and Microtek backend.<br>
<p>
* Updated UMAX backend:<br>
** added exposure time adjustment (for high-end scanners)<br>
** added lamp density control (for high-end scanners)<br>
** UMAX Astra 6X0S works in color-mode now, you have to enable<br>
   preview_patch!<br>
** added support for UMAX UC1200S and UC1260, but it will not work fine!<br>
** enabled x-resolution greater than 600 dpi if supported by scanner<br>
   (e.g. UMAX S12) but it sometimes still does not work right!<br>
<p>
* Updated SnapScan backend:<br>
<p>
There is now support for the SnapScan 310 and 600 scanner models.<br>
<p>
* OS/2 and FreeBSD support should be working again.<br>
<p>
* New backend writer's guide to SANE<br>
   File backend/GUIDE outlines a few rules that should help in writing<br>
   a new backend.<br>
------------------------------------------------------------------<br>
<p>
As usual, please drop me a note if you build SANE on a platform other<br>
than Linux.<br>
<p>
Cheers,<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0078.html">Rogier Wolff: "Re: sane 0.72 available"</a>
<li> <b>Previous message:</b> <a href="0076.html">Oliver.Rauch@Wolfsburg.DE: "/proc/scsi/scsi"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0078.html">Rogier Wolff: "Re: sane 0.72 available"</a>
<li> <b>Reply:</b> <a href="0078.html">Rogier Wolff: "Re: sane 0.72 available"</a>
<!-- reply="end" -->
</ul>
