<!-- received="Wed Apr  8 22:58:09 1998 PDT" -->
<!-- sent="Thu, 9 Apr 1998 00:09:40 +0200 (MET DST)" -->
<!-- name="Rogier Wolff" -->
<!-- email="R.E.Wolff@BitWizard.nl" -->
<!-- subject="Re: Question regarding PNM-Format (OS/2)" -->
<!-- id="199804082209.AAA02924@cave.BitWizard.nl" -->
<!-- inreplyto="9804081649.AA43576@stud1.tuwien.ac.at" -->
<title>sane-devel: Re: Question regarding PNM-Format (OS/2)</title>
<h1>Re: Question regarding PNM-Format (OS/2)</h1>
<b>Rogier Wolff</b> (<a href="mailto:R.E.Wolff@BitWizard.nl"><i>R.E.Wolff@BitWizard.nl</i></a>)<br>
<i>Thu, 9 Apr 1998 00:09:40 +0200 (MET DST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#87">[ date ]</a><a href="index.html#87">[ thread ]</a><a href="subject.html#87">[ subject ]</a><a href="author.html#87">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0088.html">Stefan Gombar: ""Dirty hack" for PNM-Problem (Re: Question regarding PNM-Format (OS/2))"</a>
<li> <b>Previous message:</b> <a href="0086.html">David Wolfskill: "Re:  find scanner via /proc/scsi/scsi"</a>
<li> <b>In reply to:</b> <a href="0080.html">Stefan Gombar: "Question regarding PNM-Format (OS/2)"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0089.html">becka@rz.uni-duesseldorf.de: "Re: Question regarding PNM-Format (OS/2)"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Stefan Gombar wrote:<br>
<i>&gt; </i><br>
<i>&gt; Hi!</i><br>
<i>&gt; </i><br>
<i>&gt; When saving images in the PNM-Format with scanimage, there is a little</i><br>
<i>&gt; string at the beginning of the image file (# SANE data follows).</i><br>
<i>&gt; </i><br>
<i>&gt; As this string isn't really neccessary, can it be omitted? It's because</i><br>
<i>&gt; some graphic programs (like Impos/2) doesn't like this string in the</i><br>
<i>&gt; image file. Without those 20 Bytes the images load without problems.</i><br>
<p>
The pnm specs say that anything starting with a "#" is to be<br>
considered a file note (comment) until the next line. That program is<br>
not conforming to the pnm specs.<br>
<p>
 From pbm (5):<br>
<p>
       - Characters from  a  "#"  to  the  next  end-of-line  are<br>
         ignored (comments).<br>
<p>
(People from the Unix arena rather have everybody follow the specs<br>
instead of everybody creating ad-hoc workarounds for every bug that<br>
crops up. Please complain to the Impos/2 people about this.... ;-)<br>
<p>
(Unix people also like to make small tools that do just one thing. <br>
How a about a de-comment tool.....)<br>
<p>
Regards,<br>
<p>
				Roger.<br>
<p>
<p>
<p>
<pre>
-- 
If it's there and you can see it, it's REAL      <a href="mailto:|___R.E.Wolff@BitWizard.nl">|___R.E.Wolff@BitWizard.nl</a>  |
If it's there and you can't see it, it's TRANSPARENT |  Tel: +31-15-2137555  |
If it's not there and you can see it, it's VIRTUAL   |__FAX:_+31-15-2138217  |
If it's not there and you can't see it, it's GONE! -- Roy Wilks, 1983  |_____|
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0088.html">Stefan Gombar: ""Dirty hack" for PNM-Problem (Re: Question regarding PNM-Format (OS/2))"</a>
<li> <b>Previous message:</b> <a href="0086.html">David Wolfskill: "Re:  find scanner via /proc/scsi/scsi"</a>
<li> <b>In reply to:</b> <a href="0080.html">Stefan Gombar: "Question regarding PNM-Format (OS/2)"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0089.html">becka@rz.uni-duesseldorf.de: "Re: Question regarding PNM-Format (OS/2)"</a>
<!-- reply="end" -->
</ul>
