<!-- received="Thu Apr  9 00:46:47 1998 PDT" -->
<!-- sent="Thu, 09 Apr 98 09:46:59 " -->
<!-- name="Stefan Gombar" -->
<!-- email="e9125065@student.tuwien.ac.at" -->
<!-- subject=""Dirty hack" for PNM-Problem (Re: Question regarding PNM-Format (OS/2))" -->
<!-- id="9804090746.AA56534@stud1.tuwien.ac.at" -->
<!-- inreplyto="Question regarding PNM-Format (OS/2))" -->
<title>sane-devel: "Dirty hack" for PNM-Problem (Re: Question regarding PNM-Format (OS/2))</title>
<h1>"Dirty hack" for PNM-Problem (Re: Question regarding PNM-Format (OS/2))</h1>
<b>Stefan Gombar</b> (<a href="mailto:e9125065@student.tuwien.ac.at"><i>e9125065@student.tuwien.ac.at</i></a>)<br>
<i>Thu, 09 Apr 98 09:46:59 </i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#88">[ date ]</a><a href="index.html#88">[ thread ]</a><a href="subject.html#88">[ subject ]</a><a href="author.html#88">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0089.html">becka@rz.uni-duesseldorf.de: "Re: Question regarding PNM-Format (OS/2)"</a>
<li> <b>Previous message:</b> <a href="0087.html">Rogier Wolff: "Re: Question regarding PNM-Format (OS/2)"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Thu, 9 Apr 1998 00:09:40 +0200 (MET DST), Rogier Wolff wrote:<br>
<p>
<i>&gt;(People from the Unix arena rather have everybody follow the specs</i><br>
<i>&gt;instead of everybody creating ad-hoc workarounds for every bug that</i><br>
<i>&gt;crops up. Please complain to the Impos/2 people about this.... ;-)</i><br>
<p>
Yes. I will :-)<br>
<p>
<i>&gt;(Unix people also like to make small tools that do just one thing. </i><br>
<i>&gt;How a about a de-comment tool.....)</i><br>
<p>
OS/2 people are writing little tools,too. :-)<br>
Here is the little script I wrote:<br>
<p>
tempname is the file from 'scanimage ...&gt;tempname'<br>
tempname2 is the new file, which will be 20 Bytes shorter... :-)<br>
<p>
/* Rexx script for converting SANE PNM to Impos/2 PNM */<br>
<p>
i=0<br>
rc=STREAM(tempname,'C','OPEN')<br>
rc=STREAM(tempname2,'C','OPEN')<br>
do while CHARS(tempname)&lt;&gt;0<br>
  character=CHARIN(tempname)<br>
  i=i+1<br>
  if (i&lt;4)|(i&gt;23) then rc=CHAROUT(tempname2,character)<br>
  if i=23 then do<br>
    filecontent=CHARIN(tempname,24,CHARS(tempname))<br>
    rc=CHAROUT(tempname2,filecontent)<br>
    leave<br>
  end<br>
end<br>
rc=STREAM(tempname,'C','CLOSE')<br>
rc=STREAM(tempname2,'C','CLOSE')<br>
<p>
<p>
Thanks for the help.<br>
<p>
Best regards,<br>
<p>
Stefan<br>
<p>
<p>
<p>
<p>
-----------------------------------<br>
Stefan GOMBAR<br>
Member of TeamOS/2<br>
Certified OS/2 Engineer<br>
<p>
email:	<a href="mailto:e9125065@stud1.tuwien.ac.at">e9125065@stud1.tuwien.ac.at</a><br>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0089.html">becka@rz.uni-duesseldorf.de: "Re: Question regarding PNM-Format (OS/2)"</a>
<li> <b>Previous message:</b> <a href="0087.html">Rogier Wolff: "Re: Question regarding PNM-Format (OS/2)"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
