<!-- received="Fri Apr 10 09:06:25 1998 PDT" -->
<!-- sent="Fri, 10 Apr 1998 12:05:34 -0300" -->
<!-- name="Michael K. Johnson" -->
<!-- email="johnsonm@redhat.com" -->
<!-- subject="Re: /proc/scsi/scsi" -->
<!-- id="199804101605.MAA15063@tristan.redhat.com" -->
<!-- inreplyto="/proc/scsi/scsi" -->
<title>sane-devel: Re: /proc/scsi/scsi</title>
<h1>Re: /proc/scsi/scsi</h1>
<b>Michael K. Johnson</b> (<a href="mailto:johnsonm@redhat.com"><i>johnsonm@redhat.com</i></a>)<br>
<i>Fri, 10 Apr 1998 12:05:34 -0300</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#102">[ date ]</a><a href="index.html#102">[ thread ]</a><a href="subject.html#102">[ subject ]</a><a href="author.html#102">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0103.html">Mario Moder: "xscanimage &amp; previews"</a>
<li> <b>Previous message:</b> <a href="0101.html">Matto Marjanovic: "Re: /proc/scsi/scsi"</a>
<li> <b>Maybe in reply to:</b> <a href="0076.html">Oliver.Rauch@Wolfsburg.DE: "/proc/scsi/scsi"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0122.html">Oliver.Rauch@Wolfsburg.DE: "Re: /proc/scsi/scsi"</a>
<li> <b>Next in thread:</b> <a href="0109.html">Nicolas Lucas de Peslouan: "Re: /proc/scsi/scsi"</a>
<li> <b>Reply:</b> <a href="0122.html">Oliver.Rauch@Wolfsburg.DE: "Re: /proc/scsi/scsi"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Matto Marjanovic writes:<br>
<i>&gt; I don't know of any scanners that don't properly claim</i><br>
<i>&gt; to be Device Type 0x06 (scanner).</i><br>
<p>
All HP scanners ident as a "CPU".  Only scanners which implement something<br>
remotely resembling the SCSI-II spec part 14 even ought to ident as<br>
scanners; the HP has it's own wacky protocol that has no relationship<br>
whatsoever to part 14.<br>
<p>
michaelkjohnson<br>
<p>
"Magazines all too frequently lead to books and should be regarded by the<br>
 prudent as the heavy petting of literature."            -- Fran Lebowitz<br>
 Linux Application Development       <a href="http://www.redhat.com/~johnsonm/lad/">http://www.redhat.com/~johnsonm/lad/</a><br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0103.html">Mario Moder: "xscanimage &amp; previews"</a>
<li> <b>Previous message:</b> <a href="0101.html">Matto Marjanovic: "Re: /proc/scsi/scsi"</a>
<li> <b>Maybe in reply to:</b> <a href="0076.html">Oliver.Rauch@Wolfsburg.DE: "/proc/scsi/scsi"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0122.html">Oliver.Rauch@Wolfsburg.DE: "Re: /proc/scsi/scsi"</a>
<li> <b>Next in thread:</b> <a href="0109.html">Nicolas Lucas de Peslouan: "Re: /proc/scsi/scsi"</a>
<li> <b>Reply:</b> <a href="0122.html">Oliver.Rauch@Wolfsburg.DE: "Re: /proc/scsi/scsi"</a>
<!-- reply="end" -->
</ul>
