<!-- received="Sun Apr 12 02:11:53 1998 PDT" -->
<!-- sent="Sun, 12 Apr 1998 11:13:19 +0100" -->
<!-- name="Ondrej Popp" -->
<!-- email="ondrej@geocities.com" -->
<!-- subject="Re: find scanner via /proc/scsi/scsi" -->
<!-- id="" -->
<!-- inreplyto="find scanner via /proc/scsi/scsi" -->
<title>sane-devel: Re: find scanner via /proc/scsi/scsi</title>
<h1>Re: find scanner via /proc/scsi/scsi</h1>
<b>Ondrej Popp</b> (<a href="mailto:ondrej@geocities.com"><i>ondrej@geocities.com</i></a>)<br>
<i>Sun, 12 Apr 1998 11:13:19 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#111">[ date ]</a><a href="index.html#111">[ thread ]</a><a href="subject.html#111">[ subject ]</a><a href="author.html#111">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0112.html">Michael Sweet: "Problems building 0.72 under IRIX"</a>
<li> <b>Previous message:</b> <a href="0110.html">William T Wilson: "Re: SANE 0.72 + UMAX Astra 610S + Always IN2000 = No Joy :("</a>
<li> <b>Maybe in reply to:</b> <a href="0082.html">Oliver.Rauch@Wolfsburg.DE: "find scanner via /proc/scsi/scsi"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0136.html">Ondrej Popp: "Re: find scanner via /proc/scsi/scsi"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
[50] popp@FastFelix $ readproc 'UMAX' 'Astra 1200S'<br>
readproc reads /proc/scsi/scsi<br>
and tries to find out on which device your scanner is connected<br>
looking for vendor = "UMAX", model = "Astra 1200S"<br>
device = 0 : vendor = "QUANTUM ", model = "FIREBALL_TM3200S", revision =<br>
"300N"<br>
device = 1 : vendor = "IBM     ", model = "DPES-31080      ", revision =<br>
"S31Q"<br>
device = 2 : vendor = "TOSHIBA ", model = "CD-ROM XM-5301TA", revision =<br>
"0925"<br>
device = 3 : vendor = "UMAX    ", model = "Astra 1200S     ", revision =<br>
"V2.8"<br>
I guess the devicename is: /dev/sgd<br>
<p>
I also find the programs addumax and delumax very usefull.<br>
these can add or remove the umax scanner form the device list.<br>
In this way you can have your scanner turned off during the initial<br>
bootsequence,<br>
and add it only when you want to use the scanner.<br>
It is important however that the scsi id of the scanner remains the<br>
same,<br>
as it is hardcoded into these programs.<br>
I dont remember who wrote it, maybe it was you :)<br>
Maybe you would be willing to consider to incorporate your readproc<br>
functionality into these programs?<br>
<p>
regards,<br>
Ondrej<br>
<p>
<p>
<p>
<a href="mailto:Oliver.Rauch@Wolfsburg.DE">Oliver.Rauch@Wolfsburg.DE</a> wrote:<br>
<i>&gt; </i><br>
<i>&gt; Hi,</i><br>
<i>&gt; </i><br>
<i>&gt; this is a little tool that reads /proc/scsi/scsi</i><br>
<i>&gt; and tries to find out on which device the scanner is connected.</i><br>
<i>&gt; </i><br>
<i>&gt; To compile it, just call</i><br>
<i>&gt; gcc readproc.c -o readproc</i><br>
<i>&gt; </i><br>
<i>&gt; To use it call</i><br>
<i>&gt; readproc "vendor" "model"</i><br>
<i>&gt; e.g.:</i><br>
<i>&gt; readproc "UMAX " "UMAX S-12"</i><br>
<i>&gt; </i><br>
<i>&gt; Please tell me if the "guessed" devicename is correct or not!</i><br>
<i>&gt; </i><br>
<i>&gt; Bye</i><br>
<i>&gt; Oliver</i><br>
<i>&gt;</i><br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0112.html">Michael Sweet: "Problems building 0.72 under IRIX"</a>
<li> <b>Previous message:</b> <a href="0110.html">William T Wilson: "Re: SANE 0.72 + UMAX Astra 610S + Always IN2000 = No Joy :("</a>
<li> <b>Maybe in reply to:</b> <a href="0082.html">Oliver.Rauch@Wolfsburg.DE: "find scanner via /proc/scsi/scsi"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0136.html">Ondrej Popp: "Re: find scanner via /proc/scsi/scsi"</a>
<!-- reply="end" -->
</ul>
