<!-- received="Sun Apr 12 19:56:31 1998 PDT" -->
<!-- sent="Mon, 13 Apr 1998 04:55:48 +0200 (CEST)" -->
<!-- name="Alexander Schulz" -->
<!-- email="Alexander.Schulz@stud.uni-karlsruhe.de" -->
<!-- subject="xscanimage looking for Mustek 1200SP" -->
<!-- id="199804130255.EAA10706@silvermine.blue.sky.mining.de" -->
<!-- inreplyto="" -->
<title>sane-devel: xscanimage looking for Mustek 1200SP</title>
<h1>xscanimage looking for Mustek 1200SP</h1>
<b>Alexander Schulz</b> (<a href="mailto:Alexander.Schulz@stud.uni-karlsruhe.de"><i>Alexander.Schulz@stud.uni-karlsruhe.de</i></a>)<br>
<i>Mon, 13 Apr 1998 04:55:48 +0200 (CEST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#115">[ date ]</a><a href="index.html#115">[ thread ]</a><a href="subject.html#115">[ subject ]</a><a href="author.html#115">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0116.html">Hugo van der Kooij: "Re: Problems building 0.72 under IRIX"</a>
<li> <b>Previous message:</b> <a href="0114.html">Michael Polo: "Re: Problems building 0.72 under IRIX"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0117.html">Hugo van der Kooij: "Re: xscanimage looking for Mustek 1200SP"</a>
<li> <b>Reply:</b> <a href="0117.html">Hugo van der Kooij: "Re: xscanimage looking for Mustek 1200SP"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hello,<br>
<p>
I just compiled sane-0.72 and it works well with my 1200SP.<br>
There are only two Problems:<br>
<p>
1) xscanimage crashes, when I close the preview-window.<br>
   I am using gtk 0.99.7, so I will update that, when I find the time,<br>
   but I didn't find anything about the version of gtk to use in<br>
   the README.<br>
<p>
2) When I start xscanimage with two entries in mustek.conf, it hangs.<br>
   Turning debugging on shows this:<br>
<p>
   [mustek] attach: opening /dev/scanner2 as scsi device<br>
   [mustek] attach: sending INQUIRY	<br>
   [mustek] scsi_wait_ready: sending TEST_UNIT_READY<br>
   [mustek] sense_handler: got unknown sense code 70<br>
   [mustek] scsi_wait_ready: test unit ready failed (Error during device I/O)<br>
<p>
   It's not really a wonder, because this is my ZIP-drive!<br>
   But as the ZIP is external, it is sometimes on when I scan and sometimes<br>
   it is not, so the devicefile for the scanner moves around. In older<br>
   versions of sane it just ignored the ZIP, but now it tries to see a<br>
   scanner in it, looping for ever...<br>
<p>
   Is there a way to change this behaviour, or will I have to change the<br>
   entries in mustek.conf any time I want to scan?<br>
<p>
<p>
Thanks in advance<br>
  Alexander<br>
<p>
<pre>
-- 
       ,,,
      (o o)
+-oOO--(_)--OOo--/"T"""""""""""""""""""""""""T""""""""""""""""""""""""""""""""T
| Alexander Schulz |  Fax: +49 6221 384746   | ... denn man ist immer so tot, |
| <a href="mailto:Alexander.Schulz@stud.uni-karlsruhe.de">Alexander.Schulz@stud.uni-karlsruhe.de</a>     | wie man sich fuehlt!           |
| <a href="http://www.uni-karlsruhe.de/~un23">http://www.uni-karlsruhe.de/~un23</a>          | (D. Adams : mostly harmless)   |
+------------------+-------------------------+--------------------------------+
| The system has detected an internal processing error in module REALITY.SYS. |
| Please shut down your universe and reboot.                                  |
+-----------------------------------------------------------------------------+
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0116.html">Hugo van der Kooij: "Re: Problems building 0.72 under IRIX"</a>
<li> <b>Previous message:</b> <a href="0114.html">Michael Polo: "Re: Problems building 0.72 under IRIX"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0117.html">Hugo van der Kooij: "Re: xscanimage looking for Mustek 1200SP"</a>
<li> <b>Reply:</b> <a href="0117.html">Hugo van der Kooij: "Re: xscanimage looking for Mustek 1200SP"</a>
<!-- reply="end" -->
</ul>
