<!-- received="Mon Apr 13 11:39:27 1998 PDT" -->
<!-- sent="Mon, 13 Apr 1998 20:33:28 +0200 (MET DST)" -->
<!-- name="Oliver.Rauch@Wolfsburg.DE" -->
<!-- email="Oliver.Rauch@Wolfsburg.DE" -->
<!-- subject="Re: /proc/scsi/scsi" -->
<!-- id="199804131833.UAA00458@Babylon5.wolfsburg.de" -->
<!-- inreplyto="199804101605.MAA15063@tristan.redhat.com" -->
<title>sane-devel: Re: /proc/scsi/scsi</title>
<h1>Re: /proc/scsi/scsi</h1>
<a href="mailto:Oliver.Rauch@Wolfsburg.DE"><i>Oliver.Rauch@Wolfsburg.DE</i></a><br>
<i>Mon, 13 Apr 1998 20:33:28 +0200 (MET DST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#122">[ date ]</a><a href="index.html#122">[ thread ]</a><a href="subject.html#122">[ subject ]</a><a href="author.html#122">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0123.html">Oliver.Rauch@Wolfsburg.DE: "Re: /proc/scsi/scsi"</a>
<li> <b>Previous message:</b> <a href="0121.html">Oliver.Rauch@Wolfsburg.DE: "Re: SANE 0.72 + UMAX Astra 610S + Always IN2000 = No Joy :("</a>
<li> <b>In reply to:</b> <a href="0102.html">Michael K. Johnson: "Re: /proc/scsi/scsi"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0109.html">Nicolas Lucas de Peslouan: "Re: /proc/scsi/scsi"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hello Michael,<br>
<p>
<i>&gt; All HP scanners ident as a "CPU".  Only scanners which implement something</i><br>
<i>&gt; remotely resembling the SCSI-II spec part 14 even ought to ident as</i><br>
<i>&gt; scanners; the HP has it's own wacky protocol that has no relationship</i><br>
<i>&gt; whatsoever to part 14.</i><br>
<p>
I know, that's the reason why I don't use the scanner-type in the moment,<br>
but it would be possible to use it in future if a device answers with<br>
type 6 (scanner).<br>
<p>
Bye<br>
Oliver<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0123.html">Oliver.Rauch@Wolfsburg.DE: "Re: /proc/scsi/scsi"</a>
<li> <b>Previous message:</b> <a href="0121.html">Oliver.Rauch@Wolfsburg.DE: "Re: SANE 0.72 + UMAX Astra 610S + Always IN2000 = No Joy :("</a>
<li> <b>In reply to:</b> <a href="0102.html">Michael K. Johnson: "Re: /proc/scsi/scsi"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0109.html">Nicolas Lucas de Peslouan: "Re: /proc/scsi/scsi"</a>
<!-- reply="end" -->
</ul>
