<!-- received="Tue Apr 14 13:42:38 1998 PDT" -->
<!-- sent="Tue, 14 Apr 98 19:10:56 +0100" -->
<!-- name="Yuri Dario" -->
<!-- email="mc6530@mclink.it" -->
<!-- subject="Libtool 1.1 under OS/2" -->
<!-- id="199804142041.WAA25325@ammi.mclink.it" -->
<!-- inreplyto="" -->
<title>sane-devel: Libtool 1.1 under OS/2</title>
<h1>Libtool 1.1 under OS/2</h1>
<b>Yuri Dario</b> (<a href="mailto:mc6530@mclink.it"><i>mc6530@mclink.it</i></a>)<br>
<i>Tue, 14 Apr 98 19:10:56 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#141">[ date ]</a><a href="index.html#141">[ thread ]</a><a href="subject.html#141">[ subject ]</a><a href="author.html#141">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0142.html">Oliver.Rauch@Wolfsburg.DE: "new readproc"</a>
<li> <b>Previous message:</b> <a href="0140.html">Martin Huber: "Re: Solaris x86 support"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0143.html">Jeff Freedman: "Re: Libtool 1.1 under OS/2"</a>
<li> <b>Reply:</b> <a href="0143.html">Jeff Freedman: "Re: Libtool 1.1 under OS/2"</a>
<li> <b>Reply:</b> <a href="0158.html">Yuri Dario: "Re: Libtool 1.1 under OS/2"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi,<br>
<p>
libtool 1.1 under OS/2 is broken: it doesn't compile dynamic libraries .dll.<br>
<p>
After a lot of checks with libtool 1.0d, I have found that ltconfig is missing two parameters (-lsocket in <br>
archive_cmds and library_names_spec). But also ltmain.sh has changed the default value of <br>
'allow_undefined' from 'no to 'yes'; with allow_undefined=no the libtool is working fine, but I think that this <br>
will not work under other platforms.<br>
<p>
I have only a minimal knowledge of unix scripts, so I hope that someone else could fix this.<br>
<p>
Also saned doesn't build under OS/2, because syslog.h is missing: where is possible to get the sources <br>
for syslog.h (is (there also a syslog.c?), so I will try to get a working saned for OS/2.<br>
<p>
TIA,<br>
<p>
<p>
	Yuri Dario<br>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0142.html">Oliver.Rauch@Wolfsburg.DE: "new readproc"</a>
<li> <b>Previous message:</b> <a href="0140.html">Martin Huber: "Re: Solaris x86 support"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0143.html">Jeff Freedman: "Re: Libtool 1.1 under OS/2"</a>
<li> <b>Reply:</b> <a href="0143.html">Jeff Freedman: "Re: Libtool 1.1 under OS/2"</a>
<li> <b>Reply:</b> <a href="0158.html">Yuri Dario: "Re: Libtool 1.1 under OS/2"</a>
<!-- reply="end" -->
</ul>
