<!-- received="Tue Apr 14 14:36:10 1998 PDT" -->
<!-- sent="Tue, 14 Apr 1998 14:36:32 -0700" -->
<!-- name="Jeff Freedman" -->
<!-- email="jsf@hevanet.com" -->
<!-- subject="Re: Libtool 1.1 under OS/2" -->
<!-- id="" -->
<!-- inreplyto="Libtool 1.1 under OS/2" -->
<title>sane-devel: Re: Libtool 1.1 under OS/2</title>
<h1>Re: Libtool 1.1 under OS/2</h1>
<b>Jeff Freedman</b> (<a href="mailto:jsf@hevanet.com"><i>jsf@hevanet.com</i></a>)<br>
<i>Tue, 14 Apr 1998 14:36:32 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#143">[ date ]</a><a href="index.html#143">[ thread ]</a><a href="subject.html#143">[ subject ]</a><a href="author.html#143">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0144.html">Stig HackVan: "DTC436e SCSI (comes with mustek paragon 800 II sp)"</a>
<li> <b>Previous message:</b> <a href="0142.html">Oliver.Rauch@Wolfsburg.DE: "new readproc"</a>
<li> <b>Maybe in reply to:</b> <a href="0141.html">Yuri Dario: "Libtool 1.1 under OS/2"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0158.html">Yuri Dario: "Re: Libtool 1.1 under OS/2"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Yuri Dario wrote:<br>
<i>&gt; </i><br>
<i>&gt; Hi,</i><br>
<i>&gt; </i><br>
<i>&gt; libtool 1.1 under OS/2 is broken: it doesn't compile dynamic libraries .dll.</i><br>
<p>
At one time, I got this to work, and sent the Libtool changes to the<br>
author.  Unfortunately, Libtool changed quite a bit after that, and the<br>
OS/2 part is now broken.  Since I had spent more time on that than on<br>
the actual port of SANE to OS/2, and since I'm not that great an expert<br>
on shell scripts either (and also since I mostly use Linux these days<br>
anyway), I've pretty much given it up.  So if someone else wants to fix<br>
this, I certainly wouldn't mind :-).   But it's a lot easier just to<br>
write a direct rule in the makefile for building the OS/2 DLL, the<br>
equivalent .lib, and the executable.<br>
<p>
The big difference between OS/2 (and Windows) DLL's and UNIX shared<br>
libraries is that in UNIX, you just link your executable with the shared<br>
library.  But in OS/2 or Windows, you still have to create a separate<br>
.lib file that you link to.  EMX/GCC gives you simple tools to do this,<br>
but I found it a real pain to try to incorporate the procedure into<br>
Libtool.<br>
<p>
<p>
<i>&gt; </i><br>
<i>&gt; After a lot of checks with libtool 1.0d, I have found that ltconfig is missing two parameters (-lsocket in</i><br>
<i>&gt; archive_cmds and library_names_spec). But also ltmain.sh has changed the default value of</i><br>
<i>&gt; 'allow_undefined' from 'no to 'yes'; with allow_undefined=no the libtool is working fine, but I think that this</i><br>
<i>&gt; will not work under other platforms.</i><br>
<p>
You can find the socket stuff in the OS/2 "bsd" package on<br>
hobbes.nmsu.edu.  With that, I was able to compile the SANE "net"<br>
backend after making a couple minor fixes in the sockets headers.<br>
<p>
<i>&gt; Also saned doesn't build under OS/2, because syslog.h is missing: where is possible to get the sources</i><br>
<i>&gt; for syslog.h (is (there also a syslog.c?), so I will try to get a working saned for OS/2.</i><br>
<p>
I haven't looked, but I've read that the "syslog" package for EMX is<br>
also available on hobbes.<br>
<p>
-- Jeff<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0144.html">Stig HackVan: "DTC436e SCSI (comes with mustek paragon 800 II sp)"</a>
<li> <b>Previous message:</b> <a href="0142.html">Oliver.Rauch@Wolfsburg.DE: "new readproc"</a>
<li> <b>Maybe in reply to:</b> <a href="0141.html">Yuri Dario: "Libtool 1.1 under OS/2"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0158.html">Yuri Dario: "Re: Libtool 1.1 under OS/2"</a>
<!-- reply="end" -->
</ul>
