<!-- received="Wed Apr 15 07:30:19 1998 PDT" -->
<!-- sent="Wed, 15 Apr 1998 15:22:17 +0200 (MET DST)" -->
<!-- name="Rogier Wolff" -->
<!-- email="R.E.Wolff@BitWizard.nl" -->
<!-- subject="Re: DTC436e SCSI &amp; ScanExpress" -->
<!-- id="199804151322.PAA02568@cave.BitWizard.nl" -->
<!-- inreplyto="353487AF.73981AEF@ic.ac.uk" -->
<title>sane-devel: Re: DTC436e SCSI &amp; ScanExpress</title>
<h1>Re: DTC436e SCSI &amp; ScanExpress</h1>
<b>Rogier Wolff</b> (<a href="mailto:R.E.Wolff@BitWizard.nl"><i>R.E.Wolff@BitWizard.nl</i></a>)<br>
<i>Wed, 15 Apr 1998 15:22:17 +0200 (MET DST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#147">[ date ]</a><a href="index.html#147">[ thread ]</a><a href="subject.html#147">[ subject ]</a><a href="author.html#147">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0148.html">Jan Krueger: "ScanExpress 12000 SP Command-set ..."</a>
<li> <b>Previous message:</b> <a href="0146.html">Jan Krueger: "Re: DTC436e SCSI &amp; ScanExpress &amp; other Mustek-Scanner command-sets"</a>
<li> <b>In reply to:</b> <a href="0145.html">Dr. Andreas Bolsch: "Re: DTC436e SCSI &amp; ScanExpress"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Dr. Andreas Bolsch wrote:<br>
<i>&gt; </i><br>
<i>&gt; This card seems to work with the g_NCR5380 driver (but only with</i><br>
<i>&gt; the mustek patch supplied in the same directory as SANE itself.</i><br>
<i>&gt; You have to supply some additional parameters, for using as a module</i><br>
<i>&gt; 'modprobe g_NCR5380 ncr_addr=0x280 ncr_irq=255 dtc_3181e=1' works</i><br>
<i>&gt; for me. </i><br>
<i>&gt; </i><br>
<i>&gt; At first I thought there is some trouble with the driver since my</i><br>
<i>&gt; scanner (ScanExpress 12000SP) doesn't work with the mustek</i><br>
<i>&gt; backend. But yours should work.</i><br>
<i>&gt; </i><br>
<i>&gt; But now I've made some progress, it seems that the scanner's </i><br>
<i>&gt; SCSI implementation is *very* crippled, even after totally weird</i><br>
<i>&gt; commands the scanner never sends any error code at all.</i><br>
<i>&gt; Only INQUIRY worked first, but according to David's hint I am</i><br>
<i>&gt; trying SCSI-II commands, and --- what a surprise --- something</i><br>
<i>&gt; happens. After SET_WINDOW and SCAN the slide moves slightly</i><br>
<i>&gt; forward, and back to the home position after closing the device.</i><br>
<i>&gt; </i><br>
<i>&gt; And READ produces some noise like moving the slide back and forth</i><br>
<i>&gt; a few scanlines, perhaps continuous backtracking because the</i><br>
<i>&gt; scanner can't get rid of the data. Unfortunately, the SCSI-II</i><br>
<i>&gt; standard isn't very precise concerning how to specify the </i><br>
<i>&gt; amount of data to be transferred. I don't know what the 'blocksize'</i><br>
<i>&gt; actually is.</i><br>
<p>
Just try to read 28k blocks or so. That should, once you've got things<br>
setup correctly give you a "working scan", but it might be horribly<br>
slow. There is a possibility that the scanner will enforce you to ask<br>
for a multiple of the line-length. You could try to behave correctly<br>
by taking a number that will fit any possible line-length that you<br>
expect.<br>
<p>
The Tamarack scanner also speaks a SCSI-II scaner like language. This<br>
does not mean that any SCSI-II scanner will work with any driver using<br>
a SCSI-II commands: There are enough places where there are lots of<br>
differences possible, and since the spec isn't specific enough,<br>
different vendors have done different things.<br>
<p>
Ideally, all standard-conforming scanner backends should be merged,<br>
with a small "scanner spec" file defining the specifics for each<br>
scanner.<br>
<p>
					Roger. <br>
<p>
<pre>
-- 
If it's there and you can see it, it's REAL      <a href="mailto:|___R.E.Wolff@BitWizard.nl">|___R.E.Wolff@BitWizard.nl</a>  |
If it's there and you can't see it, it's TRANSPARENT |  Tel: +31-15-2137555  |
If it's not there and you can see it, it's VIRTUAL   |__FAX:_+31-15-2138217  |
If it's not there and you can't see it, it's GONE! -- Roy Wilks, 1983  |_____|
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0148.html">Jan Krueger: "ScanExpress 12000 SP Command-set ..."</a>
<li> <b>Previous message:</b> <a href="0146.html">Jan Krueger: "Re: DTC436e SCSI &amp; ScanExpress &amp; other Mustek-Scanner command-sets"</a>
<li> <b>In reply to:</b> <a href="0145.html">Dr. Andreas Bolsch: "Re: DTC436e SCSI &amp; ScanExpress"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
