<!-- received="Wed Apr 15 11:42:43 1998 PDT" -->
<!-- sent="Wed, 15 Apr 1998 20:42:26 +0200" -->
<!-- name="Dr. Andreas Bolsch" -->
<!-- email="a.bolsch@ic.ac.uk" -->
<!-- subject="Re: DTC436e SCSI &amp; ScanExpress &amp; other Mustek-Scanner command-sets" -->
<!-- id="3534FF92.8380ED7E@ic.ac.uk" -->
<!-- inreplyto="DTC436e SCSI &amp; ScanExpress &amp; other Mustek-Scanner command-sets" -->
<title>sane-devel: Re: DTC436e SCSI &amp; ScanExpress &amp; other Mustek-Scanner command-sets</title>
<h1>Re: DTC436e SCSI &amp; ScanExpress &amp; other Mustek-Scanner command-sets</h1>
<b>Dr. Andreas Bolsch</b> (<a href="mailto:a.bolsch@ic.ac.uk"><i>a.bolsch@ic.ac.uk</i></a>)<br>
<i>Wed, 15 Apr 1998 20:42:26 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#150">[ date ]</a><a href="index.html#150">[ thread ]</a><a href="subject.html#150">[ subject ]</a><a href="author.html#150">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0151.html">Matthew Costello: "sane-0.72-1.i386.rpm not yet available"</a>
<li> <b>Previous message:</b> <a href="0149.html">Matthew Smith: "Mustek CG800 Hand Held Scanner"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi,<br>
<p>
That's really execellent news. I've tried to get some information<br>
serveral times (from mustek's headquater in taiwan as well as their<br>
european department, without any success). <br>
What's the trick you have used to get it? Would be very pleased if you<br>
post the specs somewhere for public access.<br>
<p>
And thanks for your efforts!<br>
<p>
Andreas Bolsch<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0151.html">Matthew Costello: "sane-0.72-1.i386.rpm not yet available"</a>
<li> <b>Previous message:</b> <a href="0149.html">Matthew Smith: "Mustek CG800 Hand Held Scanner"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
