<!-- received="Thu Apr 16 03:59:35 1998 PDT" -->
<!-- sent="Thu, 16 Apr 1998 12:58:47 +0200 (MET DST)" -->
<!-- name="Michael Vorleiter" -->
<!-- email="michaelv@augusta.de" -->
<!-- subject="trying to build sane v.065" -->
<!-- id="199804161058.MAA28072@inga.augusta.de" -->
<!-- inreplyto="" -->
<title>sane-devel: trying to build sane v.065</title>
<h1>trying to build sane v.065</h1>
<b>Michael Vorleiter</b> (<a href="mailto:michaelv@augusta.de"><i>michaelv@augusta.de</i></a>)<br>
<i>Thu, 16 Apr 1998 12:58:47 +0200 (MET DST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#160">[ date ]</a><a href="index.html#160">[ thread ]</a><a href="subject.html#160">[ subject ]</a><a href="author.html#160">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0161.html">becka@rz.uni-duesseldorf.de: "Re: Need scanner info, please (OS/2, but also others)"</a>
<li> <b>Previous message:</b> <a href="0159.html">Andreas van Almsick: "Re: Mustek 300 / 600 Command-set ..."</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I have just installed gtk+1.0.0<br>
Now there are problemes in building xscanimage under FreeBSD 2.2.1.<br>
I get the error from gtkglue.c<br>
_gtk_set_tips_ referrenced from text.<br>
Gimp is also installed. (0.99.21).<br>
With a newer version of sane it's the same.<br>
<p>
Any glues ?<br>
<p>
Bye<br>
<p>
Michael<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0161.html">becka@rz.uni-duesseldorf.de: "Re: Need scanner info, please (OS/2, but also others)"</a>
<li> <b>Previous message:</b> <a href="0159.html">Andreas van Almsick: "Re: Mustek 300 / 600 Command-set ..."</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
