<!-- received="Thu Apr 16 16:14:15 1998 PDT" -->
<!-- sent="Thu, 16 Apr 1998 16:02:59 +0200 (MET DST)" -->
<!-- name="becka@rz.uni-duesseldorf.de" -->
<!-- email="becka@rz.uni-duesseldorf.de" -->
<!-- subject="Re: Need scanner info, please (OS/2, but also others)" -->
<!-- id="m0yPpFj-0000cLC@charon.beck-sw.de" -->
<!-- inreplyto="Pine.A41.3.95.980416141119.77358A-100000@stud1.tuwien.ac.at" -->
<title>sane-devel: Re: Need scanner info, please (OS/2, but also others)</title>
<h1>Re: Need scanner info, please (OS/2, but also others)</h1>
<a href="mailto:becka@rz.uni-duesseldorf.de"><i>becka@rz.uni-duesseldorf.de</i></a><br>
<i>Thu, 16 Apr 1998 16:02:59 +0200 (MET DST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#167">[ date ]</a><a href="index.html#167">[ thread ]</a><a href="subject.html#167">[ subject ]</a><a href="author.html#167">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0168.html">Stefan Gombar: "Re: Need scanner info, please (OS/2, but also others)"</a>
<li> <b>Previous message:</b> <a href="0166.html">Kevin Dalley: "xscanimage frequently exits in umax without reason"</a>
<li> <b>In reply to:</b> <a href="0163.html">Stefan Gombar: "Re: Need scanner info, please (OS/2, but also others)"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0168.html">Stefan Gombar: "Re: Need scanner info, please (OS/2, but also others)"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi !<br>
<p>
<i>&gt; &gt; &gt; I am writing a little program (it is called "fax 'n copy", a little</i><br>
<i>&gt; &gt; &gt; utility for copying and faxing), and I want to support as many scanners as</i><br>
<i>&gt; &gt; &gt; possible.</i><br>
<i>&gt; &gt; &gt; Therefore I need the output of the following commands:</i><br>
<i>&gt; &gt; &gt; *) scanimage -L</i><br>
<i>&gt; &gt; &gt; *) scanimage --help -d DEVICE (your device)</i><br>
<p>
<i>&gt; Another thing is that it seems that every model has different commands</i><br>
<i>&gt; e.g. for setting the resolutions, etc. Is this true?</i><br>
<p>
Basically yes, because every model is different.<br>
<p>
Some scanners can control their x and y resolutions independently,<br>
others can't, as you have already seen.<br>
<p>
<i>&gt; I know that at least for a Microtek it says '-resolution' and</i><br>
<i>&gt; for a Canon '-Xresolution' and '-Yresolution'.</i><br>
<p>
<i>&gt; Or to define the scan area, one says mm, the other says pixels. I know</i><br>
<i>&gt; that I can convert them - I even know how ;-) - but this suprises me.</i><br>
<p>
SANE handles that internally. You can give units together with values<br>
to scanimage.<br>
<p>
<i>&gt; Is there a more general way to access the scanners?</i><br>
<p>
No. SANE was designed to allow _everything_ a scanner can do. Any API<br>
based on a "complete feature list" ist likely to grow beyond limits<br>
and there will always be devices/functions that are not fully supported.<br>
<p>
This is the reason why SANE puts the intelligence to understand what an<br>
option means into the user not in a program.<br>
<p>
There are some "standard" options that can be recognized, but they are<br>
always optional. Remember that SANE also drives picture archives, still<br>
cameras etc, which have e.g. no notion of "resolution". At least not in <br>
the way a scanner does.<br>
<p>
Regarding your request of --help outputs ... :<br>
<p>
You can more easily find out the possible options a backend provides<br>
by having a glimpse at the SANE source. The options are normally listed <br>
in a more or less long list which should be easy to spot in each backend<br>
driver.<br>
<p>
CU,Andy<br>
<p>
<pre>
-- 
= Andreas Beck                    |  Email :  &lt;<a href="mailto:andreas.beck@ggi-project.org">andreas.beck@ggi-project.org</a>&gt; =
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0168.html">Stefan Gombar: "Re: Need scanner info, please (OS/2, but also others)"</a>
<li> <b>Previous message:</b> <a href="0166.html">Kevin Dalley: "xscanimage frequently exits in umax without reason"</a>
<li> <b>In reply to:</b> <a href="0163.html">Stefan Gombar: "Re: Need scanner info, please (OS/2, but also others)"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0168.html">Stefan Gombar: "Re: Need scanner info, please (OS/2, but also others)"</a>
<!-- reply="end" -->
</ul>
