<!-- received="Fri Apr 17 07:18:18 1998 PDT" -->
<!-- sent="Fri, 17 Apr 1998 16:07:29 +0200 (MET DST)" -->
<!-- name="Rogier Wolff" -->
<!-- email="R.E.Wolff@BitWizard.nl" -->
<!-- subject="Re: Minolta Reply (was:Public Relation Department (Ref. No. CR-3255 V)" -->
<!-- id="199804171407.QAA02359@cave.BitWizard.nl" -->
<!-- inreplyto="m0yQ9R2-0000cOC@charon.beck-sw.de" -->
<title>sane-devel: Re: Minolta Reply (was:Public Relation Department (Ref. No. CR-3255 V)</title>
<h1>Re: Minolta Reply (was:Public Relation Department (Ref. No. CR-3255 V)</h1>
<b>Rogier Wolff</b> (<a href="mailto:R.E.Wolff@BitWizard.nl"><i>R.E.Wolff@BitWizard.nl</i></a>)<br>
<i>Fri, 17 Apr 1998 16:07:29 +0200 (MET DST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#171">[ date ]</a><a href="index.html#171">[ thread ]</a><a href="subject.html#171">[ subject ]</a><a href="author.html#171">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0172.html">Dr. Andreas Bolsch: "Re: Minolta Reply (was:Public Relation Department (Ref. No. CR-3255 V)"</a>
<li> <b>Previous message:</b> <a href="0170.html">becka@rz.uni-duesseldorf.de: "Re: Minolta Reply (was:Public Relation Department (Ref. No. CR-3255 V)"</a>
<li> <b>In reply to:</b> <a href="0170.html">becka@rz.uni-duesseldorf.de: "Re: Minolta Reply (was:Public Relation Department (Ref. No. CR-3255 V)"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0182.html">Mathias Koerber: "Re: Minolta Reply (was:Public Relation Department (Ref. No. CR-3255 V)"</a>
<li> <b>Reply:</b> <a href="0182.html">Mathias Koerber: "Re: Minolta Reply (was:Public Relation Department (Ref. No. CR-3255 V)"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<a href="mailto:becka@rz.uni-duesseldorf.de">becka@rz.uni-duesseldorf.de</a> wrote:<br>
<i>&gt; </i><br>
<i>&gt; Hi !</i><br>
<i>&gt; </i><br>
<i>&gt; &gt; I must say I fairly dismayed by this attitude, especially that they</i><br>
<i>&gt; &gt; brand me an "individual customer" after I had made it clear in the</i><br>
<i>&gt; &gt; request that the information would enable me (us) to develop the driver</i><br>
<i>&gt; &gt; on our own, and thus was not intended for just me myself.</i><br>
<i>&gt; </i><br>
<i>&gt; It might help, if we try further requests under a corporate EMail address.</i><br>
<i>&gt; </i><br>
<i>&gt; I assume, that we have quite some software professionals here, and </i><br>
<i>&gt; very probably some that run their own small company and could use its </i><br>
<i>&gt; name for getting at information.</i><br>
<i>&gt; </i><br>
<i>&gt; It is much easier, when the "other side" thinks they are dealing with a</i><br>
<i>&gt; professional developer trying to make a product that gives an alternate</i><br>
<i>&gt; "surface" to scanning, and they are much more easily convinced, that</i><br>
<i>&gt; it might be beneficial, if their product shows up in the "supported</i><br>
<i>&gt; scanners" list.</i><br>
<i>&gt; </i><br>
<i>&gt; I know this is psychological trickery, but well - if it helps ?</i><br>
<p>
I will be contacting Minolta soon from my "corporate address". One<br>
little difference, I'm going to ask them to pay me for developping the<br>
SANE driver.<br>
<p>
Who-all was interested in which Minolta scanner?<br>
<p>
My list now consists of:<br>
     Ray Clouse &lt;Ray.Clouse@boeing.com&gt;  Dimage Scan Dual<br>
<p>
Regards,<br>
<p>
			Roger. <br>
<p>
<p>
<pre>
-- 
If it's there and you can see it, it's REAL      <a href="mailto:|___R.E.Wolff@BitWizard.nl">|___R.E.Wolff@BitWizard.nl</a>  |
If it's there and you can't see it, it's TRANSPARENT |  Tel: +31-15-2137555  |
If it's not there and you can see it, it's VIRTUAL   |__FAX:_+31-15-2138217  |
If it's not there and you can't see it, it's GONE! -- Roy Wilks, 1983  |_____|
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0172.html">Dr. Andreas Bolsch: "Re: Minolta Reply (was:Public Relation Department (Ref. No. CR-3255 V)"</a>
<li> <b>Previous message:</b> <a href="0170.html">becka@rz.uni-duesseldorf.de: "Re: Minolta Reply (was:Public Relation Department (Ref. No. CR-3255 V)"</a>
<li> <b>In reply to:</b> <a href="0170.html">becka@rz.uni-duesseldorf.de: "Re: Minolta Reply (was:Public Relation Department (Ref. No. CR-3255 V)"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0182.html">Mathias Koerber: "Re: Minolta Reply (was:Public Relation Department (Ref. No. CR-3255 V)"</a>
<li> <b>Reply:</b> <a href="0182.html">Mathias Koerber: "Re: Minolta Reply (was:Public Relation Department (Ref. No. CR-3255 V)"</a>
<!-- reply="end" -->
</ul>
