<!-- received="Sat Apr 18 18:08:34 1998 PDT" -->
<!-- sent="Sat, 18 Apr 1998 19:08:03 -0600" -->
<!-- name="Sean Reifschneider" -->
<!-- email="jafo@tummy.com" -->
<!-- subject="Re: Artec and Scanner Documentation" -->
<!-- id="" -->
<!-- inreplyto="352E3DC8.979F4D1B@balfourroad.demon.co.uk" -->
<title>sane-devel: Re: Artec and Scanner Documentation</title>
<h1>Re: Artec and Scanner Documentation</h1>
<b>Sean Reifschneider</b> (<a href="mailto:jafo@tummy.com"><i>jafo@tummy.com</i></a>)<br>
<i>Sat, 18 Apr 1998 19:08:03 -0600</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#192">[ date ]</a><a href="index.html#192">[ thread ]</a><a href="subject.html#192">[ subject ]</a><a href="author.html#192">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0193.html">Sean Reifschneider: "Re: SANE Platform"</a>
<li> <b>Previous message:</b> <a href="0191.html">Sean Reifschneider: "Re: Linux Sense buffer (was: sane 0.71 and microtek E3)"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Fri, Apr 10, 1998 at 03:42:00PM +0000, Damyan Pepper wrote:<br>
<i>&gt;They haven't been too useful -- they won't provide documentation.</i><br>
<p>
A situation that seems to happen a lot unfortunately...<br>
<p>
<i>&gt;Does anyone have any similar experiences with other companies?</i><br>
<p>
Yep.  Originally I was going to support Mustek scanners.  I even<br>
went so far as to buy one.  But, after a 3 days of trying to get<br>
it to work by following the SCSI spec, it wasn't happening.  When<br>
I call Mustek the tech support person said "Nobody outside of<br>
Taiwan knows anything about programming these scanners." and<br>
the response to "Is there somebody else that might know more<br>
about it?" was "Nobody knows more about it than I do."<br>
<p>
<i>&gt;Is there a good way to convince these companies to give out such</i><br>
<i>&gt;documentation?</i><br>
<p>
Well, I returned the Mustek and got an HP.  4 hours after it arrived,<br>
I had it up and scanning...<br>
<p>
Sean<br>
<pre>
-- 
 Every program in development at MIT expands until it can read mail.
Sean Reifschneider, Inimitably Superfluous &lt;<a href="mailto:jafo@tummy.com">jafo@tummy.com</a>&gt;
URL: &lt;<a href="http://www.tummy.com/xvscan">http://www.tummy.com/xvscan</a>&gt; HP-UX/Linux/FreeBSD/BSDOS scanning software.
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0193.html">Sean Reifschneider: "Re: SANE Platform"</a>
<li> <b>Previous message:</b> <a href="0191.html">Sean Reifschneider: "Re: Linux Sense buffer (was: sane 0.71 and microtek E3)"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
