<!-- received="Mon Apr 20 13:51:24 1998 PDT" -->
<!-- sent="Mon, 20 Apr 1998 18:03:41 +0200 (MET DST)" -->
<!-- name="Oliver.Rauch@Wolfsburg.DE" -->
<!-- email="Oliver.Rauch@Wolfsburg.DE" -->
<!-- subject="Re: Problems compiling SANE" -->
<!-- id="199804201603.SAA00273@Babylon5.wolfsburg.de" -->
<!-- inreplyto="353A8618.78F57150@unm.edu" -->
<title>sane-devel: Re: Problems compiling SANE</title>
<h1>Re: Problems compiling SANE</h1>
<a href="mailto:Oliver.Rauch@Wolfsburg.DE"><i>Oliver.Rauch@Wolfsburg.DE</i></a><br>
<i>Mon, 20 Apr 1998 18:03:41 +0200 (MET DST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#217">[ date ]</a><a href="index.html#217">[ thread ]</a><a href="subject.html#217">[ subject ]</a><a href="author.html#217">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0218.html">Press Agency Ozgurluk: "sigprocmask"</a>
<li> <b>Previous message:</b> <a href="0216.html">Michael Ritzert: "Re: /proc/scsi/scsi"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi John,<br>
<p>
<i>&gt; I've tried it with gtk 0.99.2 and 1.0.0.</i><br>
<i>&gt; It hasn't worked with either.</i><br>
<p>
With 0.99.2 it does not work, with 1.0.0 it should.<br>
<p>
I sometimes had some funny problems because there have been<br>
some *.h files in /usr/local/include or old libs in /usr/local/lib.<br>
<p>
I suggest you remove everthing about sane and gtk and gimp<br>
in /usr/local/lib and /usr/local/include<br>
<p>
then you compile gtk-1.0.0 and install it<br>
then you compile gimp 0.99.26 or later and install it<br>
then you compile sane-0.72 and ... install it<br>
<p>
Hope that will work!<br>
<p>
Bye<br>
Oliver<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0218.html">Press Agency Ozgurluk: "sigprocmask"</a>
<li> <b>Previous message:</b> <a href="0216.html">Michael Ritzert: "Re: /proc/scsi/scsi"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
