<!-- received="Tue Apr 21 11:23:28 1998 PDT" -->
<!-- sent="Tue, 21 Apr 1998 10:24:36 -0800" -->
<!-- name="Slana" -->
<!-- email="suslosit@ptialaska.net" -->
<!-- subject="Re: 0.69 - 0.72 upgrade" -->
<!-- id="" -->
<!-- inreplyto="0.69 - 0.72 upgrade" -->
<title>sane-devel: Re: 0.69 - 0.72 upgrade</title>
<h1>Re: 0.69 - 0.72 upgrade</h1>
<b>Slana</b> (<a href="mailto:suslosit@ptialaska.net"><i>suslosit@ptialaska.net</i></a>)<br>
<i>Tue, 21 Apr 1998 10:24:36 -0800</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#230">[ date ]</a><a href="index.html#230">[ thread ]</a><a href="subject.html#230">[ subject ]</a><a href="author.html#230">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0231.html">Oliver.Rauch@Wolfsburg.DE: "Re: /proc/scsi/scsi"</a>
<li> <b>Previous message:</b> <a href="0229.html">Jim Ford: "Sane compilation ate my ram!"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Any advice on upgrading a working GIMP, SANE 0.69, Microtek E-3  with<br>
1502AE Card, under Linux RH 5.0 to  the SANE 0.72 versiion ?<br>
Are there advantages? Disadvantages?<br>
Thanks people I really like your product !<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0231.html">Oliver.Rauch@Wolfsburg.DE: "Re: /proc/scsi/scsi"</a>
<li> <b>Previous message:</b> <a href="0229.html">Jim Ford: "Sane compilation ate my ram!"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
