<!-- received="Tue Apr 21 13:42:37 1998 PDT" -->
<!-- sent="Tue, 21 Apr 1998 13:42:36 -0700" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="David.Mosberger@acm.org" -->
<!-- subject="Re: Suggestion for Improvement of Xscanimage" -->
<!-- id="199804212042.NAA04765@panda.mostang.com" -->
<!-- inreplyto="Pine.LNX.3.96.980421221458.32649A-100000@hvdkooij" -->
<title>sane-devel: Re: Suggestion for Improvement of Xscanimage</title>
<h1>Re: Suggestion for Improvement of Xscanimage</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:David.Mosberger@acm.org"><i>David.Mosberger@acm.org</i></a>)<br>
<i>Tue, 21 Apr 1998 13:42:36 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#234">[ date ]</a><a href="index.html#234">[ thread ]</a><a href="subject.html#234">[ subject ]</a><a href="author.html#234">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0235.html">Oliver.Rauch@Wolfsburg.DE: "Re: Suggestion for Improvement of Xscanimage"</a>
<li> <b>Previous message:</b> <a href="0233.html">Hugo van der Kooij: "Re: Suggestion for Improvement of Xscanimage"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0235.html">Oliver.Rauch@Wolfsburg.DE: "Re: Suggestion for Improvement of Xscanimage"</a>
<li> <b>Reply:</b> <a href="0235.html">Oliver.Rauch@Wolfsburg.DE: "Re: Suggestion for Improvement of Xscanimage"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;&gt;&gt;&gt;&gt; On Tue, 21 Apr 1998 22:16:32 +0200 (MET DST), Hugo van der Kooij &lt;<a href="mailto:hvdkooij@caiw.nl">hvdkooij@caiw.nl</a>&gt; said:</i><br>
<p>
<i>  &gt;&gt; I already thought about that, but in my dictonary there is</i><br>
<i>  &gt;&gt; written:</i><br>
<i>  &gt;&gt; </i><br>
<i>  &gt;&gt; xerox = photocopy,</i><br>
<i>  &gt;&gt; </i><br>
<i>  &gt;&gt; The question is: is "xerox = photocopy" because everybody uses it</i><br>
<i>  &gt;&gt; that way because the name is taken from the company, or has there</i><br>
<i>  &gt;&gt; been the word "xerox" first and the company named itsel "xerox"</i><br>
<i>  &gt;&gt; aterwards?</i><br>
<p>
  Hugo&gt; It is named after the company. They do not seem to be that<br>
  Hugo&gt; hard on this as it means good advertisement.<br>
<p>
As I recall it, Xerox went to court trying to enforce their trademark<br>
but they lost because "xeroxing" had become a synonym for photocopying<br>
long before they tried to enforce the trademark (well, I'm sure<br>
someone will correct the details...).<br>
<p>
Anyhow, I think we're on fairly safe ground with "xerox" but the SANE<br>
legal staff is certainly much worse endowed than Xerox's, so picking a<br>
safer name may still be better... ;-)<br>
<p>
<i>  &gt;&gt; I don't know and if there might be a real problem with it, I will</i><br>
<i>  &gt;&gt; call id Xphotocopy, but that's too lonk :-( !</i><br>
<p>
  Hugo&gt; How about Xcopy ;-)<br>
<p>
That would sound like an X11 version of the "cp" command.  I like<br>
xphotocopy or, if you want to be in line with the other SANE<br>
frontends, xcopyimage (I don't think long filenames are a big issue,<br>
given that every decent shell today has filename completion...).<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0235.html">Oliver.Rauch@Wolfsburg.DE: "Re: Suggestion for Improvement of Xscanimage"</a>
<li> <b>Previous message:</b> <a href="0233.html">Hugo van der Kooij: "Re: Suggestion for Improvement of Xscanimage"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0235.html">Oliver.Rauch@Wolfsburg.DE: "Re: Suggestion for Improvement of Xscanimage"</a>
<li> <b>Reply:</b> <a href="0235.html">Oliver.Rauch@Wolfsburg.DE: "Re: Suggestion for Improvement of Xscanimage"</a>
<!-- reply="end" -->
</ul>
