<!-- received="Sun Apr 26 22:57:26 1998 PDT" -->
<!-- sent="Mon, 27 Apr 1998 07:54:57 +0200 (MET DST)" -->
<!-- name="Hugo van der Kooij" -->
<!-- email="hvdkooij@caiw.nl" -->
<!-- subject="Re: Re[2]: gtk_tooltips" -->
<!-- id="" -->
<!-- inreplyto="199804270536.WAA12633@panda.mostang.com" -->
<title>sane-devel: Re: Re[2]: gtk_tooltips</title>
<h1>Re: Re[2]: gtk_tooltips</h1>
<b>Hugo van der Kooij</b> (<a href="mailto:hvdkooij@caiw.nl"><i>hvdkooij@caiw.nl</i></a>)<br>
<i>Mon, 27 Apr 1998 07:54:57 +0200 (MET DST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#289">[ date ]</a><a href="index.html#289">[ thread ]</a><a href="subject.html#289">[ subject ]</a><a href="author.html#289">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0290.html">Christoph Doerbeck: "Success compiling sane-0.72, gtk-1.0 and gimp-0.99.28"</a>
<li> <b>Previous message:</b> <a href="0288.html">David Mosberger-Tang: "Re: Re[2]: gtk_tooltips"</a>
<li> <b>In reply to:</b> <a href="0288.html">David Mosberger-Tang: "Re: Re[2]: gtk_tooltips"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Sun, 26 Apr 1998, David Mosberger-Tang wrote:<br>
<p>
<i>&gt; &gt;&gt;&gt;&gt;&gt; On Mon, 27 Apr 1998 07:18:01 +0200 (MET DST), Hugo van der Kooij &lt;<a href="mailto:hvdkooij@caiw.nl">hvdkooij@caiw.nl</a>&gt; said:</i><br>
<i>&gt; </i><br>
<i>&gt;   &gt;&gt; The SuSE-Linux Distribution 5.2 installs the gtk-libs Version</i><br>
<i>&gt;   &gt;&gt; 0.99.3 as Version 1.0.0 in /usr/lib and the header files in</i><br>
<i>&gt;   &gt;&gt; /usr/include/.. for version 0.99.3. When I run configure on</i><br>
<i>&gt;   &gt;&gt; sane-0.72, configure thinks i have version 1.0.0</i><br>
<i>&gt;   &gt;&gt; installed. During compilation the compiler switches to the wrong</i><br>
<i>&gt;   &gt;&gt; branch in the ifdef-statement in gtkglue.c near line #80.</i><br>
<i>&gt;   &gt;&gt; </i><br>
<i>&gt;   &gt;&gt; When i removed all SuSE Packages (gimp, gtk) and installed the</i><br>
<i>&gt;   &gt;&gt; original source packages the compilation works fine without any</i><br>
<i>&gt;   &gt;&gt; modifications.  Of course no scan with Mustek 1200 SP PRO, but</i><br>
<i>&gt;   &gt;&gt; this is another story ... :)</i><br>
<i>&gt; </i><br>
<i>&gt;   Hugo&gt; Please report this as a SERIOUS bug. Using wrong version</i><br>
<i>&gt;   Hugo&gt; numbers for RPM packages is a serious matter and should be</i><br>
<i>&gt;   Hugo&gt; solved immediately!</i><br>
<i>&gt; </i><br>
<i>&gt; Note that this is not SuSE's fault.  All versions in the gtk+ 0.99</i><br>
<i>&gt; series used a shared library version of 1.0.</i><br>
<p>
I was thinking of the RPM version numbers. I wonder if those are set<br>
correctly. If they are, then the user should have checked if gtk and gimp<br>
were installed as package and which version they are.<br>
<p>
	rpm -qa|grep gtk<br>
	rpm -qa|grep gimp<br>
<p>
If they are not identical to the actual version installed then SuSe has a<br>
serious problem. Otherwise the user should have paid a little more<br>
attention (as should I).<br>
<p>
Hugo.<br>
<p>
	+------------------------+------------------------------+<br>
<i>	| Hugo van der Kooij     | <a href="mailto:Hugo.van.der.Kooij@caiw.nl">Hugo.van.der.Kooij@caiw.nl</a>   |</i><br>
<i>	| Oranje Nassaustraat 16 | <a href="http://www.caiw.nl/~hvdkooij">http://www.caiw.nl/~hvdkooij</a> |</i><br>
<i>	| 3155 VJ  Maasland      | (De man met de rode hoed)    |</i><br>
	+------------------------+------------------------------+<br>
    "Computers let you make more mistakes faster than any other invention in <br>
      human history, with the possible exception of handguns and tequila."<br>
		(Mitch Radcliffe)<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0290.html">Christoph Doerbeck: "Success compiling sane-0.72, gtk-1.0 and gimp-0.99.28"</a>
<li> <b>Previous message:</b> <a href="0288.html">David Mosberger-Tang: "Re: Re[2]: gtk_tooltips"</a>
<li> <b>In reply to:</b> <a href="0288.html">David Mosberger-Tang: "Re: Re[2]: gtk_tooltips"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
