<!-- received="Mon Apr 27 11:33:11 1998 PDT" -->
<!-- sent="Mon, 27 Apr 1998 14:32:21 -0400" -->
<!-- name="Bill's way in if the password server fails" -->
<!-- email="kosh@merl.com" -->
<!-- subject="Bug report - UMAX Astra 1200s scanner and a PCMCIA Bus Toaster." -->
<!-- id="199804271832.OAA02884@zahadum.merl.com" -->
<!-- inreplyto="" -->
<title>sane-devel: Bug report - UMAX Astra 1200s scanner and a PCMCIA Bus Toaster.</title>
<h1>Bug report - UMAX Astra 1200s scanner and a PCMCIA Bus Toaster.</h1>
<b>Bill's way in if the password server fails</b> (<a href="mailto:kosh@merl.com"><i>kosh@merl.com</i></a>)<br>
<i>Mon, 27 Apr 1998 14:32:21 -0400</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#293">[ date ]</a><a href="index.html#293">[ thread ]</a><a href="subject.html#293">[ subject ]</a><a href="author.html#293">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0294.html">Bill's way in if the password server fails: "Bug report, version 0.72, with hack fixes.."</a>
<li> <b>Previous message:</b> <a href="0292.html">Kenneth Crudup: "Re:  Success compiling sane-0.72, gtk-1.0 and gimp-0.99.28"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0295.html">Oliver.Rauch@Wolfsburg.DE: "Re: Bug report - UMAX Astra 1200s scanner and a PCMCIA Bus Toaster."</a>
<li> <b>Reply:</b> <a href="0295.html">Oliver.Rauch@Wolfsburg.DE: "Re: Bug report - UMAX Astra 1200s scanner and a PCMCIA Bus Toaster."</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
There's a problem _somewhere_ with using a New Media Corp "Bus Toaster"<br>
(old version) PCMCIA SCSI card with a UMAX Astra 1200s flatbed scanner.<br>
<p>
/proc/scsi/scsi shows the scanner properly; however "scanimage" shows<br>
the scanner as a "MAX M ", no model number, no version number.<br>
<p>
This is reported under kernel 2.0.30, and 2.0.33, with card services<br>
2.9.9, 2.9.11-4, 2.9.12, and 3.0.0; SANE was version 0.71 and 0.72 .<br>
<p>
My guess is that it's a problem with the specifics of the Bus Toaster<br>
as it tries to talk to the UMAX.  The same Bus Toaster and same<br>
cables have no problem talking to a PCMCIA CDROM, a JAZ disk, or a Zip <br>
drive.  The same UMAX scanner has no problem being talked to by <br>
an Adaptec SlimSCSI 1460B PCMCIA card, or by a genuine Adaptec <br>
AHA-1520 in a deskside machine.  <br>
<p>
My current solution is to not use the Bus Toaster; I tried a debug<br>
session but didn't get too far; the scanner doesn't ID correctly and<br>
it's all downhill from there (only gets 51 then 49 bytes back on the<br>
reply strings.  I read the code but just using the 1460B is a lot<br>
more appetizing right now.)<br>
<p>
Anyway, I'm not sure what you need to act on, but just so you know...<br>
it might be worth caveating in the documentation if nothing else.<br>
<p>
   -Thanks!<br>
    Bill Yerazunis<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0294.html">Bill's way in if the password server fails: "Bug report, version 0.72, with hack fixes.."</a>
<li> <b>Previous message:</b> <a href="0292.html">Kenneth Crudup: "Re:  Success compiling sane-0.72, gtk-1.0 and gimp-0.99.28"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0295.html">Oliver.Rauch@Wolfsburg.DE: "Re: Bug report - UMAX Astra 1200s scanner and a PCMCIA Bus Toaster."</a>
<li> <b>Reply:</b> <a href="0295.html">Oliver.Rauch@Wolfsburg.DE: "Re: Bug report - UMAX Astra 1200s scanner and a PCMCIA Bus Toaster."</a>
<!-- reply="end" -->
</ul>
