<!-- received="Mon Apr 27 13:42:58 1998 PDT" -->
<!-- sent="Mon, 27 Apr 1998 22:42:25 +0200" -->
<!-- name="Ruediger Berlich" -->
<!-- email="Ruediger.Berlich@suse.de" -->
<!-- subject="Re: Re[2]: gtk_tooltips" -->
<!-- id="srb-9803272042.AA00522170@Galois.suse.de" -->
<!-- inreplyto="Pine.LNX.3.96.980427071547.16894B-100000@hvdkooij" -->
<title>sane-devel: Re: Re[2]: gtk_tooltips</title>
<h1>Re: Re[2]: gtk_tooltips</h1>
<b>Ruediger Berlich</b> (<a href="mailto:Ruediger.Berlich@suse.de"><i>Ruediger.Berlich@suse.de</i></a>)<br>
<i>Mon, 27 Apr 1998 22:42:25 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#301">[ date ]</a><a href="index.html#301">[ thread ]</a><a href="subject.html#301">[ subject ]</a><a href="author.html#301">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0302.html">Chris Sparks: "Re: MUSTEK Scan Express 6000 P"</a>
<li> <b>Previous message:</b> <a href="0300.html">Ruediger Berlich: "Re: Re[2]: gtk_tooltips"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Dear Sir,<br>
<p>
Hugo van der Kooij schrieb mir am Mon, 27 Apr 1998 07:18:01 +0200 (MET DST):<br>
<i>&gt; To: <a href="mailto:sane-devel@mostang.com">sane-devel@mostang.com</a></i><br>
<i>&gt; Cc: <a href="mailto:support@suse.de">support@suse.de</a></i><br>
<i>&gt; From: Hugo van der Kooij &lt;<a href="mailto:hvdkooij@caiw.nl">hvdkooij@caiw.nl</a>&gt;</i><br>
<i>&gt; In-Reply-To: &lt;m0yTb8F-000FgNC@darkstar&gt;</i><br>
<i>&gt; Subject: Re: Re[2]: gtk_tooltips</i><br>
<i>&gt; </i><br>
<i>&gt; On Mon, 27 Apr 1998 <a href="mailto:hopp@darkstar.fact.rhein-ruhr.de">hopp@darkstar.fact.rhein-ruhr.de</a> wrote:</i><br>
<i>&gt; </i><br>
<i>&gt; &gt; i think  i have found the reason for the problems with gtktooltips :</i><br>
<i>&gt; &gt; </i><br>
<i>&gt; &gt; The SuSE-Linux Distribution 5.2 installs the gtk-libs Version 0.99.3 as Version 1.0.0 in /usr/lib and the header files in /usr/include/.. for version 0.99.3. When I run configure on sane-0.72, configure thinks i have version 1.0.0 installed. During compilation the compiler switches to the wrong branch in the ifdef-statement in gtkglue.c near line #80.</i><br>
<i>&gt; &gt; </i><br>
<i>&gt; &gt; When i removed all SuSE Packages (gimp, gtk) and installed the original source packages the compilation works fine without any modifications.</i><br>
<i>&gt; &gt; Of course no scan with Mustek 1200 SP PRO, but this is another story ... :)</i><br>
<i>&gt; </i><br>
<i>&gt; Please report this as a SERIOUS bug. Using wrong version numbers for RPM</i><br>
<i>&gt; packages is a serious matter and should be solved immediately!</i><br>
<i>&gt; </i><br>
<i>&gt; Hugo.</i><br>
<i>&gt; </i><br>
<i>&gt; 	+------------------------+------------------------------+</i><br>
<i>&gt; 	| Hugo van der Kooij     | <a href="mailto:Hugo.van.der.Kooij@caiw.nl">Hugo.van.der.Kooij@caiw.nl</a>   |</i><br>
<i>&gt; 	| Oranje Nassaustraat 16 | <a href="http://www.caiw.nl/~hvdkooij">http://www.caiw.nl/~hvdkooij</a> |</i><br>
<i>&gt; 	| 3155 VJ  Maasland      | (De man met de rode hoed)    |</i><br>
<i>&gt; 	+------------------------+------------------------------+</i><br>
<i>&gt;     "Computers let you make more mistakes faster than any other invention in </i><br>
<i>&gt;       human history, with the possible exception of handguns and tequila."</i><br>
<i>&gt; 		(Mitch Radcliffe)</i><br>
<i>&gt; </i><br>
<i>&gt; </i><br>
<i>&gt; </i><br>
<p>
I have forwarded your mail to the maintainer of gtk.<br>
Thank you very much for the feedback !<br>
<p>
Have a nice day,<br>
<p>
the S.u.S.E. Support-Team<br>
Ruediger Berlich (<a href="mailto:Ruediger.Berlich@suse.de">Ruediger.Berlich@suse.de</a>)<br>
<p>
------------------------------------------------------------<br>
S.u.S.E. GmbH,    Gebhardtstr. 2,   90762 Fuerth,    Germany<br>
Tel: +49-911-3247130 Mo/Do 13-18.00,    Fax: +49-911-3206727<br>
<a href="http://www.suse.de/Support/sdb">http://www.suse.de/Support/sdb</a>        Email: <a href="mailto:support@suse.de">support@suse.de</a><br>
------------------------------------------------------------<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0302.html">Chris Sparks: "Re: MUSTEK Scan Express 6000 P"</a>
<li> <b>Previous message:</b> <a href="0300.html">Ruediger Berlich: "Re: Re[2]: gtk_tooltips"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
