<!-- received="Thu Apr 30 14:57:44 1998 PDT" -->
<!-- sent="Thu, 30 Apr 1998 16:56:21 -0500 (CDT)" -->
<!-- name="Rod Troch" -->
<!-- email="troch@Texas.COM" -->
<!-- subject="How do I apply the "preview_patch"" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: How do I apply the "preview_patch"</title>
<h1>How do I apply the "preview_patch"</h1>
<b>Rod Troch</b> (<a href="mailto:troch@Texas.COM"><i>troch@Texas.COM</i></a>)<br>
<i>Thu, 30 Apr 1998 16:56:21 -0500 (CDT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#323">[ date ]</a><a href="index.html#323">[ thread ]</a><a href="subject.html#323">[ subject ]</a><a href="author.html#323">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0324.html">8434qs: "(no subject)"</a>
<li> <b>Previous message:</b> <a href="0322.html">Hugo van der Kooij: "sane-0.72-6 rpm files on ftp.redhat.com"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hello,<br>
<p>
I recently built 0.72 on a Linux system with the newly released GTK 1.0.  <br>
(Man, building GTK 1.0 and then building Sane went very smoothly), but <br>
alas I use a Umax 610S scanner.  <br>
<p>
I read in the NEWS file that I need to apply the "preview_patch" to get <br>
RGB scans.  Now, for the life of me I can not figure what or where I need <br>
to do to get that patch loaded.  <br>
<p>
please help!<br>
<p>
thanks,<br>
Rod<br>
<p>
<p>
Rod Troch  N2ZVV                             | <br>
<a href="mailto:troch@texas.com">troch@texas.com</a>                              | Don't mess with TEXAS.<br>
<a href="http://www.texas.com/">http://www.texas.com/</a>                        | <br>
<a href="ftp://lonestar.texas.com/">ftp://lonestar.texas.com/</a>                    | FTP for PGP key<br>
Direct NeXTMail to <a href="mailto:troch@bart.texas.com">troch@bart.texas.com</a><br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0324.html">8434qs: "(no subject)"</a>
<li> <b>Previous message:</b> <a href="0322.html">Hugo van der Kooij: "sane-0.72-6 rpm files on ftp.redhat.com"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
