<!-- received="Sun Dec 15 07:34:02 1996 MST" -->
<!-- sent="Sat, 14 Dec 1996 20:52:03 +0000 (GMT)" -->
<!-- name="Tristan Tarrant" -->
<!-- email="tst@orthanc.isengard.com.galactica.it" -->
<!-- subject="Re: sane-0.3: it's almost for real now!" -->
<!-- id="199612142052.UAA00984@orthanc.isengard.com" -->
<!-- inreplyto="tcppop3.3285734@bbs.galactica.it" -->
<title>sane-devel: Re: sane-0.3: it's almost for real now!</title>
<h1>Re: sane-0.3: it's almost for real now!</h1>
<b>Tristan Tarrant</b> (<a href="mailto:tst@orthanc.isengard.com.galactica.it"><i>tst@orthanc.isengard.com.galactica.it</i></a>)<br>
<i>Sat, 14 Dec 1996 20:52:03 +0000 (GMT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#7">[ date ]</a><a href="index.html#7">[ thread ]</a><a href="subject.html#7">[ subject ]</a><a href="author.html#7">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0008.html">David Mosberger-Tang: "Re: sane-0.3: it's almost for real now!"</a>
<li> <b>Previous message:</b> <a href="0006.html">David Mosberger-Tang: "invitation to join SANE development (Scanner Access Now Easy)"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On 14 Dic, <a href="mailto:sane-devel@azstarnet.com">sane-devel@azstarnet.com</a> wrote:<br>
<i>&gt;&gt; also renamed the program from sanescan to xscan---I don't think that</i><br>
<i>&gt;&gt; name is taken yet, so why not?  But if you don't like it, just give a</i><br>
<i>&gt;&gt; holler.</i><br>
<i>&gt; </i><br>
<i>&gt; /pub/Linux/apps/graphics/scanners/xscan-1.1.tgz</i><br>
<i>&gt; </i><br>
<i>&gt; Seem to have precedent :-(</i><br>
<p>
Then what about gtkscan ?<br>
The plugin should remain gimpscan.<br>
<p>
Tristan<br>
<pre>
-- 
 - Lo sai che la tua faccia assomiglia a uno che vale 1000 dollari ?
 - Si', ma tu non somigli a quello che li incassa. Due passi indietro...
	Il Biondo - Il buono, il brutto e il cattivo
<p>
<p>
<pre>
---
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe:    echo unsubscribe sane-devel | mail <a href="mailto:majordomo@azstarnet.com">majordomo@azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0008.html">David Mosberger-Tang: "Re: sane-0.3: it's almost for real now!"</a>
<li> <b>Previous message:</b> <a href="0006.html">David Mosberger-Tang: "invitation to join SANE development (Scanner Access Now Easy)"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
