<!-- received="Wed Dec 18 19:16:44 1996 MST" -->
<!-- sent="Thu, 19 Dec 1996 01:13:31 +0100 (MET)" -->
<!-- name="becka@sunserver1.rz.uni-duesseldorf.de" -->
<!-- email="becka@sunserver1.rz.uni-duesseldorf.de" -->
<!-- subject="Re: sane-0.3: it's almost for real now!" -->
<!-- id="m0vaW79-000BYLC@charon.beck-sw.de" -->
<!-- inreplyto="199612181546.KAA26162@tristan.redhat.com" -->
<title>sane-devel: Re: sane-0.3: it's almost for real now!</title>
<h1>Re: sane-0.3: it's almost for real now!</h1>
<a href="mailto:becka@sunserver1.rz.uni-duesseldorf.de"><i>becka@sunserver1.rz.uni-duesseldorf.de</i></a><br>
<i>Thu, 19 Dec 1996 01:13:31 +0100 (MET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#16">[ date ]</a><a href="index.html#16">[ thread ]</a><a href="subject.html#16">[ subject ]</a><a href="author.html#16">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0017.html">Michael K. Johnson: "Re: sane-0.3: it's almost for real now!"</a>
<li> <b>Previous message:</b> <a href="0015.html">becka@sunserver1.rz.uni-duesseldorf.de: "Re: mail lossage?"</a>
<li> <b>In reply to:</b> <a href="0014.html">Michael K. Johnson: "Re: sane-0.3: it's almost for real now!"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0017.html">Michael K. Johnson: "Re: sane-0.3: it's almost for real now!"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt; &gt;The same is true for several "Feeder-Type" scanners (what is a good english</i><br>
<i>&gt; &gt;word for those scanners ?) ...</i><br>
<i>&gt; The common denomination is "ADF", for Automatic Document Feeder</i><br>
No ... I knew I didn't make clear what I meant ...<br>
<p>
ADF means the device which feeds a flatbed-scanner from a stack of pages<br>
- right ?<br>
<p>
What I meant are scanners which grab the page using a wheel (quite like<br>
a printer does) and feed it through the scanner (whose CCD element is<br>
mounted statically).<br>
They are essentially handscanners turned upside-down with a motor <br>
above the wheel.<br>
<p>
They are very similar to the scanner part of common facsimile machines.<br>
<p>
CU,ANdy<br>
<p>
<pre>
-- 
==============================================================================
Andreas Beck              |  Email :  &lt;<a href="mailto:becka@sunserver1.rz.uni-duesseldorf.de">becka@sunserver1.rz.uni-duesseldorf.de</a>&gt;
<p>
<pre>
---
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe:    echo unsubscribe sane-devel | mail <a href="mailto:majordomo@azstarnet.com">majordomo@azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0017.html">Michael K. Johnson: "Re: sane-0.3: it's almost for real now!"</a>
<li> <b>Previous message:</b> <a href="0015.html">becka@sunserver1.rz.uni-duesseldorf.de: "Re: mail lossage?"</a>
<li> <b>In reply to:</b> <a href="0014.html">Michael K. Johnson: "Re: sane-0.3: it's almost for real now!"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0017.html">Michael K. Johnson: "Re: sane-0.3: it's almost for real now!"</a>
<!-- reply="end" -->
</ul>
