<!-- received="Tue Feb 25 01:13:59 1997 MST" -->
<!-- sent="Tue, 25 Feb 1997 09:16:55 -0100 (GMT)" -->
<!-- name="Stefano Gaffuri" -->
<!-- email="stefano@suntlc" -->
<!-- subject="Re: XScan progress" -->
<!-- id="199702251016.JAA09591@suntlc." -->
<!-- inreplyto="3786453@bbs.galactica.it" -->
<title>sane-devel: Re: XScan progress</title>
<h1>Re: XScan progress</h1>
<b>Stefano Gaffuri</b> (<a href="mailto:stefano@suntlc"><i>stefano@suntlc</i></a>)<br>
<i>Tue, 25 Feb 1997 09:16:55 -0100 (GMT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#57">[ date ]</a><a href="index.html#57">[ thread ]</a><a href="subject.html#57">[ subject ]</a><a href="author.html#57">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0058.html">Michael K. Johnson: "Re: XScan progress"</a>
<li> <b>Previous message:</b> <a href="0056.html">Michael K. Johnson: "Re: Suggestions, and status of Microtek backend"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On 23 Feb, <a href="mailto:sane-devel@listserv.azstarnet.com">sane-devel@listserv.azstarnet.com</a> wrote:<br>
<i>&gt; Tristan Tarrant writes:</i><br>
<i>&gt;&gt;preview hasn't gone very far because my Umax scanner doesn't have a</i><br>
<i>&gt;&gt;sane backend (Michael do you hear ?:-)</i><br>
<i>&gt; </i><br>
<i>&gt; I will have no time to do that in the next several months, anyway.</i><br>
<i>&gt; 0.5 would be reasonably easy for someone who already knows sane to</i><br>
<i>&gt; shove into the sane framework as a one-shot port, and later versions</i><br>
<i>&gt; will be easier to map into the framework in a way that is more</i><br>
<i>&gt; maintainable.  But I've got committments that I've got to meet, and</i><br>
<i>&gt; I can't work on it until at least summer.</i><br>
<i>&gt; </i><br>
<i>&gt; Sorry,</i><br>
<p>
If you don't mind, I can be the person for the job. In fact I've had a<br>
look at the code, and it doesn't seem too difficult...<br>
<p>
<p>
Tristan<br>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0058.html">Michael K. Johnson: "Re: XScan progress"</a>
<li> <b>Previous message:</b> <a href="0056.html">Michael K. Johnson: "Re: Suggestions, and status of Microtek backend"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
