<title>sane-devel by author</title>
<a name="start"><h1>sane-devel by author</h1></a>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#start">[ date ]</a><a href="index.html#start">[ thread ]</a><a href="subject.html#start">[ subject ]</a>
<li> <b><a href="..">Other mail archives</a></b>
</ul>
<p>
<b>Starting:</b> <i>Mon 09 Dec 1996 - 00:00:-2421 MST</i><br>
<b>Ending:</b> <i>Tue 25 Feb 1997 - 08:42:42 MST</i><br>
<b>Messages:</b> 59
<p>
<ul>
<li> <b>becka@sunserver1.rz.uni-duesseldorf.de</b>
<ul>
<li> <a href="0053.html">Re: repeat post: xcam frontend for SANE</a> <a name="53"><i>Tue, 28 Jan 1997 16:39:30 +0100 (MET)</i></a>
</ul>
<ul>
<li> <a href="0049.html">Re: Get-Option ...</a> <a name="49"><i>Sun, 26 Jan 1997 03:10:57 +0100 (MET)</i></a>
</ul>
<ul>
<li> <a href="0048.html">NetSane for 0.41 =&gt; 0.42</a> <a name="48"><i>Sat, 25 Jan 1997 16:07:23 +0100 (MET)</i></a>
</ul>
<ul>
<li> <a href="0047.html">Re: Mustek Problems</a> <a name="47"><i>Sat, 25 Jan 1997 16:18:38 +0100 (MET)</i></a>
</ul>
<ul>
<li> <a href="0043.html">List problem ?</a> <a name="43"><i>Fri, 24 Jan 1997 14:12:21 +0100 (MET)</i></a>
</ul>
<ul>
<li> <a href="0042.html">Get-Option ...</a> <a name="42"><i>Fri, 24 Jan 1997 15:27:56 +0100 (MET)</i></a>
</ul>
<ul>
<li> <a href="0041.html">Netsane working. Just making the diffs ...</a> <a name="41"><i>Fri, 24 Jan 1997 01:40:20 +0100 (MET)</i></a>
</ul>
<ul>
<li> <a href="0040.html">netsane running ...</a> <a name="40"><i>Sun, 19 Jan 1997 01:19:20 +0100 (MET)</i></a>
</ul>
<ul>
<li> <a href="0037.html">Netsane ... getting better ...</a> <a name="37"><i>Fri, 17 Jan 1997 21:46:56 +0100 (MET)</i></a>
</ul>
<ul>
<li> <a href="0036.html">Re: sane-0.32 available</a> <a name="36"><i>Fri, 17 Jan 1997 16:01:49 +0100 (MET)</i></a>
</ul>
<ul>
<li> <a href="0018.html">Away for a while ...</a> <a name="18"><i>Sat, 21 Dec 1996 00:07:27 +0100 (MET)</i></a>
</ul>
<ul>
<li> <a href="0016.html">Re: sane-0.3: it's almost for real now!</a> <a name="16"><i>Thu, 19 Dec 1996 01:13:31 +0100 (MET)</i></a>
</ul>
<ul>
<li> <a href="0015.html">Re: mail lossage?</a> <a name="15"><i>Wed, 18 Dec 1996 20:45:42 +0100 (MET)</i></a>
</ul>
<ul>
<li> <a href="0013.html">Re: sane-0.3: it's almost for real now!</a> <a name="13"><i>Tue, 17 Dec 1996 23:58:14 +0100 (MET)</i></a>
</ul>
<ul>
<li> <a href="0010.html">Re: sane-0.3: it's almost for real now!</a> <a name="10"><i>Sun, 15 Dec 1996 03:39:04 +0100 (MET)</i></a>
</ul>
<ul>
<li> <a href="0009.html">Re: mail lossage?</a> <a name="9"><i>Sun, 15 Dec 1996 03:51:20 +0100 (MET)</i></a>
</ul>
<li> <b>David  Mosberger</b>
<ul>
<li> <a href="0055.html">Re: Dumb Makefile.in question</a> <a name="55"><i>Thu, 6 Feb 1997 12:49:59 -0700 (MST)</i></a>
</ul>
<ul>
<li> <a href="0044.html">Re: Get-Option ...</a> <a name="44"><i>Fri, 24 Jan 1997 14:28:55 -0700 (MST)</i></a>
</ul>
<ul>
<li> <a href="0034.html">Re: sane-0.32 available</a> <a name="34"><i>Thu, 16 Jan 1997 13:14:14 -0700 (MST)</i></a>
</ul>
<li> <b>David Mosberger-Tang</b>
<ul>
<li> <a href="0054.html">Re: repeat post: xcam frontend for SANE</a> <a name="54"><i>Tue, 28 Jan 1997 15:20:11 -0700</i></a>
</ul>
<ul>
<li> <a href="0052.html">sane-0.42.tar.gz</a> <a name="52"><i>Tue, 28 Jan 1997 00:22:32 -0700</i></a>
</ul>
<ul>
<li> <a href="0051.html">[dirk@informatik.uni-frankfurt.de: Re: Paragon 600 SP with mscan-0.1/tkmscan [patches]]</a> <a name="51"><i>Mon, 27 Jan 1997 19:00:50 -0700</i></a>
</ul>
<ul>
<li> <a href="0050.html">repeat post: xcam frontend for SANE</a> <a name="50"><i>Mon, 27 Jan 1997 10:16:59 -0700</i></a>
</ul>
<ul>
<li> <a href="0046.html">Re: Get-Option ...</a> <a name="46"><i>Fri, 24 Jan 1997 21:05:19 -0700</i></a>
</ul>
<ul>
<li> <a href="0039.html">sane-0.4 has QuickCam backend!</a> <a name="39"><i>Sun, 19 Jan 1997 11:17:01 -0700</i></a>
</ul>
<ul>
<li> <a href="0032.html">Re: Microtek SANE backend</a> <a name="32"><i>Thu, 16 Jan 1997 08:44:40 -0700</i></a>
</ul>
<ul>
<li> <a href="0030.html">sane-0.33 available</a> <a name="30"><i>Wed, 15 Jan 1997 21:08:36 -0700</i></a>
</ul>
<ul>
<li> <a href="0029.html">sane-0.32 available</a> <a name="29"><i>Wed, 8 Jan 1997 20:35:42 -0700</i></a>
</ul>
<ul>
<li> <a href="0028.html">sane-0.31 available</a> <a name="28"><i>Mon, 6 Jan 1997 22:10:59 -0700</i></a>
</ul>
<ul>
<li> <a href="0026.html">Re: Gtk rulers</a> <a name="26"><i>Tue, 31 Dec 1996 10:46:27 -0700</i></a>
</ul>
<ul>
<li> <a href="0025.html">Re: Gtk rulers</a> <a name="25"><i>Tue, 31 Dec 1996 10:24:24 -0700</i></a>
</ul>
<ul>
<li> <a href="0022.html">Re: MetaDL issues</a> <a name="22"><i>Sun, 29 Dec 1996 12:02:33 -0700</i></a>
</ul>
<ul>
<li> <a href="0020.html">Re: Graphical frontend issues...</a> <a name="20"><i>Thu, 26 Dec 1996 10:51:25 -0700</i></a>
</ul>
<ul>
<li> <a href="0012.html">Re: mail lossage?</a> <a name="12"><i>Mon, 16 Dec 1996 21:07:03 -0700</i></a>
</ul>
<ul>
<li> <a href="0008.html">Re: sane-0.3: it's almost for real now!</a> <a name="8"><i>Sun, 15 Dec 1996 08:41:37 -0700</i></a>
</ul>
<ul>
<li> <a href="0006.html">invitation to join SANE development (Scanner Access Now Easy)</a> <a name="6"><i>Sat, 14 Dec 1996 15:55:11 -0700</i></a>
</ul>
<ul>
<li> <a href="0005.html">Re: sane-0.3: it's almost for real now!</a> <a name="5"><i>Sat, 14 Dec 1996 15:13:30 -0700</i></a>
</ul>
<ul>
<li> <a href="0003.html">sane-0.3: it's almost for real now!</a> <a name="3"><i>Fri, 13 Dec 1996 21:21:12 -0700</i></a>
</ul>
<ul>
<li> <a href="0002.html">tar files moved</a> <a name="2"><i>Thu, 12 Dec 1996 10:06:36 -0700</i></a>
</ul>
<ul>
<li> <a href="0001.html">welcome to the sane-devel mailing list</a> <a name="1"><i>Mon, 9 Dec 1996 23:41:21 -0700</i></a>
</ul>
<ul>
<li> <a href="0000.html">mailing list</a> <a name="0"><i>Mon, 9 Dec 1996 23:25:19 -0700</i></a>
</ul>
<li> <b>Erik Troan</b>
<ul>
<li> <a href="0004.html">Re: sane-0.3: it's almost for real now!</a> <a name="4"><i>Sat, 14 Dec 1996 10:26:10 -0500 (EST)</i></a>
</ul>
<li> <b>Jeremy Rosenberger</b>
<ul>
<li> <a href="0035.html">Re: Microtek SANE backend</a> <a name="35"><i>Thu, 16 Jan 1997 20:34:42 -0700 (MST)</i></a>
</ul>
<ul>
<li> <a href="0031.html">Microtek SANE backend</a> <a name="31"><i>Wed, 15 Jan 1997 22:32:33 -0700 (MST)</i></a>
</ul>
<li> <b>Michael K. Johnson</b>
<ul>
<li> <a href="0058.html">Re: XScan progress</a> <a name="58"><i>Tue, 25 Feb 1997 10:44:36 -0500</i></a>
</ul>
<ul>
<li> <a href="0056.html">Re: Suggestions, and status of Microtek backend</a> <a name="56"><i>Sat, 08 Feb 1997 08:57:57 -0500</i></a>
</ul>
<ul>
<li> <a href="0038.html">Re: sane-0.32 available</a> <a name="38"><i>Sat, 18 Jan 1997 09:13:35 -0500</i></a>
</ul>
<ul>
<li> <a href="0017.html">Re: sane-0.3: it's almost for real now!</a> <a name="17"><i>Wed, 18 Dec 1996 23:37:18 -0500</i></a>
</ul>
<ul>
<li> <a href="0014.html">Re: sane-0.3: it's almost for real now!</a> <a name="14"><i>Wed, 18 Dec 1996 10:46:06 -0500</i></a>
</ul>
<li> <b>Stefan Luettringhaus-Kappel</b>
<ul>
<li> <a href="0045.html">Mustek Problems</a> <a name="45"><i>Sat, 25 Jan 1997 00:16:14 +0100 (MET)</i></a>
</ul>
<li> <b>Stefano Gaffuri</b>
<ul>
<li> <a href="0057.html">Re: XScan progress</a> <a name="57"><i>Tue, 25 Feb 1997 09:16:55 -0100 (GMT)</i></a>
</ul>
<li> <b>Tristan Tarrant</b>
<ul>
<li> <a href="0033.html">Re: sane-0.32 available</a> <a name="33"><i>Thu, 16 Jan 1997 20:15:23 +0000 (GMT)</i></a>
</ul>
<ul>
<li> <a href="0027.html">xscan 0.52</a> <a name="27"><i>Sun, 5 Jan 1997 17:51:09 +0000 (GMT)</i></a>
</ul>
<ul>
<li> <a href="0024.html">Gtk rulers</a> <a name="24"><i>Tue, 31 Dec 1996 16:06:28 +0000 (GMT)</i></a>
</ul>
<ul>
<li> <a href="0023.html">Re: MetaDL issues</a> <a name="23"><i>Mon, 30 Dec 1996 18:13:52 +0000 (GMT)</i></a>
</ul>
<ul>
<li> <a href="0021.html">MetaDL issues</a> <a name="21"><i>Sun, 29 Dec 1996 18:38:28 +0000 (GMT)</i></a>
</ul>
<ul>
<li> <a href="0019.html">Graphical frontend issues...</a> <a name="19"><i>Tue, 24 Dec 1996 12:11:39 +0000 (GMT)</i></a>
</ul>
<ul>
<li> <a href="0011.html">Re: sane-0.3: it's almost for real now!</a> <a name="11"><i>Mon, 16 Dec 1996 18:51:31 +0000 (GMT)</i></a>
</ul>
<ul>
<li> <a href="0007.html">Re: sane-0.3: it's almost for real now!</a> <a name="7"><i>Sat, 14 Dec 1996 20:52:03 +0000 (GMT)</i></a>
</ul>
</ul>
<p>
<b>Last message date:</b> <i>Tue 25 Feb 1997 - 08:42:42 MST</i><br>
<b>Archived on:</b> <i>Tue Sep 30 1997 - 21:19:36 MST</i><p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#start">[ date ]</a><a href="index.html#start">[ thread ]</a><a href="subject.html#start">[ subject ]</a>
<li> <b><a href="..">Other mail archives</a></b>
</ul>
<p>
<hr>
<i>This archive was generated by <a href="http://www.eit.com/software/hypermail/hypermail.html">hypermail 1.02</a>.</i>
