<!-- received="Sat Oct  3 18:13:33 1998 PDT" -->
<!-- sent="Sat, 3 Oct 1998 20:51:15 +0200" -->
<!-- name="Huub Reuver" -->
<!-- email="h_reuver@dds.nl" -->
<!-- subject="Re: Mustek Scanexpress 12000SP?" -->
<!-- id="" -->
<!-- inreplyto="Pine.LNX.3.96.981003153901.518A-100000@dh3mb.in.de.ampr.org" -->
<title>sane-devel: Re: Mustek Scanexpress 12000SP?</title>
<h1>Re: Mustek Scanexpress 12000SP?</h1>
<b>Huub Reuver</b> (<a href="mailto:h_reuver@dds.nl"><i>h_reuver@dds.nl</i></a>)<br>
<i>Sat, 3 Oct 1998 20:51:15 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#47">[ date ]</a><a href="index.html#47">[ thread ]</a><a href="subject.html#47">[ subject ]</a><a href="author.html#47">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0048.html">Oliver Graf: "Re: Nikon or Minolta slide scanner?"</a>
<li> <b>Previous message:</b> <a href="0046.html">Zach Fine: "Re: HP photosmart and negatives to positives"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Sat, Oct 03, 1998 at 03:46:22PM +0000, Johann Hanne wrote:<br>
<i>&gt; Hi folks,</i><br>
<i>&gt; </i><br>
<i>&gt; yesterday i've bought a "MUSTEK SCANEXPRESS 12000SP" and I was quite</i><br>
<i>&gt; dissapointed, when sane 0.74 did not recognize it. However, according to</i><br>
<i>&gt; the mailing list there seems to be support for that scanner?</i><br>
<i>&gt; So, could anybody tell me if there IS support for it, or if there IS NOT?</i><br>
<i>&gt; If yes, is it included in version 0.74, or must i get a newer (alpha)</i><br>
<i>&gt; version? (where?)</i><br>
<p>
You are lucky o have the SCSI-version. It'll work.<br>
Try "<a href="http://www.math.TU-Berlin.de/funktion/bolsch/sane/">http://www.math.TU-Berlin.de/funktion/bolsch/sane/</a>" for patches.<br>
<p>
Read the sane-archives for more info (6-98 till 9-98).<br>
<p>
Grtx,<br>
Huub<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0048.html">Oliver Graf: "Re: Nikon or Minolta slide scanner?"</a>
<li> <b>Previous message:</b> <a href="0046.html">Zach Fine: "Re: HP photosmart and negatives to positives"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
