<!-- received="Sun Oct  4 10:07:02 1998 PDT" -->
<!-- sent="Sun, 4 Oct 1998 10:07:01 -0700" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="David.Mosberger@acm.org" -->
<!-- subject="Re: EPSON backend and xscanimage" -->
<!-- id="199810041707.KAA11838@panda.mostang.com" -->
<!-- inreplyto="m33e94mwa3.fsf@indie.fga-intern.de" -->
<title>sane-devel: Re: EPSON backend and xscanimage</title>
<h1>Re: EPSON backend and xscanimage</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:David.Mosberger@acm.org"><i>David.Mosberger@acm.org</i></a>)<br>
<i>Sun, 4 Oct 1998 10:07:01 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#59">[ date ]</a><a href="index.html#59">[ thread ]</a><a href="subject.html#59">[ subject ]</a><a href="author.html#59">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0060.html">Oliver Rauch: "Re: Need a device"</a>
<li> <b>Previous message:</b> <a href="0058.html">Matthias Braun: "is my scanner supported?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0063.html">Oliver Graf: "Re: EPSON backend and xscanimage"</a>
<li> <b>Reply:</b> <a href="0063.html">Oliver Graf: "Re: EPSON backend and xscanimage"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;&gt;&gt;&gt;&gt; On 04 Oct 1998 12:55:16 +0200, Oliver Graf &lt;<a href="mailto:ograf@fga.de">ograf@fga.de</a>&gt; said:</i><br>
<p>
  Oliver&gt; The other point of interest is: does anyone who works on<br>
  Oliver&gt; xscanimage plans to change the area-selection interface?<br>
<p>
I don't think so.<br>
<p>
  Oliver&gt; I would like to see 'modification' functions to change a<br>
  Oliver&gt; existing selection (currently I can only make a new one --<br>
  Oliver&gt; but it would be great if you could change the<br>
  Oliver&gt; corners/borders or move the current selection).<br>
<p>
Yup, this would be a nice feature.  You may want to consider starting<br>
with Chris Small's GNOMEified version of xscanimage.  He sent pointers<br>
to it a while ago (if you can't find it in the mail archive, let me<br>
know and I'll dig it out).<br>
<p>
Cheers,<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0060.html">Oliver Rauch: "Re: Need a device"</a>
<li> <b>Previous message:</b> <a href="0058.html">Matthias Braun: "is my scanner supported?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0063.html">Oliver Graf: "Re: EPSON backend and xscanimage"</a>
<li> <b>Reply:</b> <a href="0063.html">Oliver Graf: "Re: EPSON backend and xscanimage"</a>
<!-- reply="end" -->
</ul>
