<!-- received="Sun Oct  4 12:32:27 1998 PDT" -->
<!-- sent="Sun, 4 Oct 1998 14:31:37 -0500 (EST)" -->
<!-- name="Brian E. Bothwell" -->
<!-- email="brbothwe@cs.indiana.edu" -->
<!-- subject="Re: Microtek ScanMaker X6EL supported??" -->
<!-- id="" -->
<!-- inreplyto="19981004131041.3874.qmail@aquila.muc.de" -->
<title>sane-devel: Re: Microtek ScanMaker X6EL supported??</title>
<h1>Re: Microtek ScanMaker X6EL supported??</h1>
<b>Brian E. Bothwell</b> (<a href="mailto:brbothwe@cs.indiana.edu"><i>brbothwe@cs.indiana.edu</i></a>)<br>
<i>Sun, 4 Oct 1998 14:31:37 -0500 (EST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#62">[ date ]</a><a href="index.html#62">[ thread ]</a><a href="subject.html#62">[ subject ]</a><a href="author.html#62">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0063.html">Oliver Graf: "Re: EPSON backend and xscanimage"</a>
<li> <b>Previous message:</b> <a href="0061.html">Oliver Rauch: "Re: permissions"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Sun, 4 Oct 1998, Bernd Schroeder wrote:<br>
<p>
<i>&gt; Hi,</i><br>
<i>&gt; </i><br>
<i>&gt; On Sat, Oct 03, 1998 at 03:02:45PM -0500, Brian E. Bothwell wrote:</i><br>
<i>&gt; </i><br>
<i>&gt; [...]</i><br>
<i>&gt; </i><br>
<i>&gt; &gt; Here is the last few lines of output:</i><br>
<i>&gt; &gt; </i><br>
<i>&gt; &gt; [microtek2] scsi_read_system_status: md=0x80b13e0, fd=-1</i><br>
<i>&gt; &gt; [microtek2] dump_area2: readsystemstatus</i><br>
<i>&gt; &gt; [readsystemstatus]</i><br>
<i>&gt; &gt; 28008100000000000900</i><br>
<i>&gt; &gt; [microtek2] dump_area2: readsystemstatusresult</i><br>
<i>&gt; &gt; [readsystemstatusresult]</i><br>
<i>&gt; &gt; 010000001100000000</i><br>
<i>&gt; &gt; </i><br>
<i>&gt; &gt; </i><br>
<i>&gt; &gt; Again, it hangs at the last line (I let it sit for over a minute)</i><br>
<i>&gt; </i><br>
<i>&gt; After this command (or "test unit ready", if present) the frontend loads</i><br>
<i>&gt; and initializes some other backends. Please remove all other backends</i><br>
<i>&gt; from the dll.conf file and try it again (and tell us/me what happens).</i><br>
<i>&gt; </i><br>
<i>&gt; Bernd</i><br>
<p>
<p>
I am almost sure that I already have every backend besides microtek2<br>
commented out.  I'll check to be 100% sure when I get home.<br>
<p>
Thanks,<br>
<p>
-brian<br>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0063.html">Oliver Graf: "Re: EPSON backend and xscanimage"</a>
<li> <b>Previous message:</b> <a href="0061.html">Oliver Rauch: "Re: permissions"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
