<!-- received="Mon Oct  5 07:40:05 1998 PDT" -->
<!-- sent="Mon, 5 Oct 98 07:39:14 -0700" -->
<!-- name="Ray Clouse" -->
<!-- email="Ray.Clouse@boeing.com" -->
<!-- subject="Re: Nikon or Minolta slide scanner?" -->
<!-- id="199810051439.HAA15906@simsg1.lgb.cal.boeing.com" -->
<!-- inreplyto="Nikon or Minolta slide scanner?" -->
<title>sane-devel: Re: Nikon or Minolta slide scanner?</title>
<h1>Re: Nikon or Minolta slide scanner?</h1>
<b>Ray Clouse</b> (<a href="mailto:Ray.Clouse@boeing.com"><i>Ray.Clouse@boeing.com</i></a>)<br>
<i>Mon, 5 Oct 98 07:39:14 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#65">[ date ]</a><a href="index.html#65">[ thread ]</a><a href="subject.html#65">[ subject ]</a><a href="author.html#65">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0066.html">Hilario Ortigosa Monteoliva: "(no subject)"</a>
<li> <b>Previous message:</b> <a href="0064.html">Huub Reuver: "Re: Mustek ScanExpress 12000SP"</a>
<li> <b>Maybe in reply to:</b> <a href="0042.html">David Bartlett: "Nikon or Minolta slide scanner?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;I'd like to get either the Nikon CoolScan III, or a Minolta Dimage Scan Dual</i><br>
<i>&gt;slide/film scanner. Neither appears to be supported by sane at present.</i><br>
<p>
Don't get the Minolta scanner.  I have one, and I am forced to use it <br>
with the supplied drivers on a Mac.  I have contacted Minolta, informing <br>
them of the SANE effort, with no results.<br>
<p>
Ray Clouse                                  ray.clouse AT boeing.com<br>
Engineer Scientist Specialist               rclouse AT atdot.org<br>
Boeing Information, Space, &amp;       "No '@' signs helps prevent SPAM,<br>
  Defense Systems                      sorry for the inconvenience."<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0066.html">Hilario Ortigosa Monteoliva: "(no subject)"</a>
<li> <b>Previous message:</b> <a href="0064.html">Huub Reuver: "Re: Mustek ScanExpress 12000SP"</a>
<li> <b>Maybe in reply to:</b> <a href="0042.html">David Bartlett: "Nikon or Minolta slide scanner?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
