<!-- received="Wed Oct  7 22:53:51 1998 PDT" -->
<!-- sent="Thu, 8 Oct 1998 07:51:06 +0200 (CEST)" -->
<!-- name="Hugo van der Kooij" -->
<!-- email="hvdkooij@caiw.nl" -->
<!-- subject="Re: Majordomo results" -->
<!-- id="" -->
<!-- inreplyto="Pine.LNX.3.95.981007121342.10396B-100000@terry1.acun.com" -->
<title>sane-devel: Re: Majordomo results</title>
<h1>Re: Majordomo results</h1>
<b>Hugo van der Kooij</b> (<a href="mailto:hvdkooij@caiw.nl"><i>hvdkooij@caiw.nl</i></a>)<br>
<i>Thu, 8 Oct 1998 07:51:06 +0200 (CEST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#104">[ date ]</a><a href="index.html#104">[ thread ]</a><a href="subject.html#104">[ subject ]</a><a href="author.html#104">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0105.html">Yuri Dario: "Re: OS/2 ant sane 0.74"</a>
<li> <b>Previous message:</b> <a href="0103.html">Terry Mackintosh: "saned help needed"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Wed, 7 Oct 1998, Terry Mackintosh wrote:<br>
<p>
<i>&gt; Hi</i><br>
<i>&gt; </i><br>
<i>&gt; It was never made clear what the 'message' address is for this list, I</i><br>
<i>&gt; guess it is <a href="mailto:sane-devel@mostang.com?">sane-devel@mostang.com?</a> (I'm no list guru.)</i><br>
<i>&gt; </i><br>
<i>&gt; ------</i><br>
<i>&gt; Having read all info on the matter that I can find, mainly 'man saned' and</i><br>
<i>&gt; 'man sane-net', I am still confused as to how saned is run as a deamond?</i><br>
<i>&gt; </i><br>
<i>&gt; After putting the entries in /etc/inetd.conf</i><br>
<i>&gt; #sane stream tcp nowait  nobody /usr/local/sbin/saned saned</i><br>
<i>&gt; sane stream tcp nowait nobody.nobody /usr/local/sbin/saned saned</i><br>
<i>&gt; </i><br>
<i>&gt; and /etc/services,</i><br>
<i>&gt; sane 6566/tcp # SANE network scanner daemon</i><br>
<i>&gt; </i><br>
<i>&gt; and</i><br>
<i>&gt; rebooting, it does nothing, no messages in the log files, nothing.</i><br>
<p>
Which is right.<br>
<p>
As soon as a session comes to port 6566 then saned will be started<br>
automagiaclly. Just like ftpd and telnetd<br>
<p>
<i>&gt; What am I missing?</i><br>
<p>
Basic knowledge of how inetd works I guess.<br>
<p>
Hugo.<br>
<p>
	+------------------------+------------------------------+<br>
<i>	| Hugo van der Kooij     | <a href="mailto:Hugo.van.der.Kooij@caiw.nl">Hugo.van.der.Kooij@caiw.nl</a>   |</i><br>
<i>	| Oranje Nassaustraat 16 | <a href="http://www.caiw.nl/~hvdkooij">http://www.caiw.nl/~hvdkooij</a> |</i><br>
<i>	| 3155 VJ  Maasland      | (De man met de rode hoed)    |</i><br>
	+------------------------+------------------------------+<br>
    "Computers let you make more mistakes faster than any other invention in <br>
      human history, with the possible exception of handguns and tequila."<br>
		(Mitch Radcliffe)<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0105.html">Yuri Dario: "Re: OS/2 ant sane 0.74"</a>
<li> <b>Previous message:</b> <a href="0103.html">Terry Mackintosh: "saned help needed"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
