<!-- received="Fri Oct  9 11:59:04 1998 PDT" -->
<!-- sent="Fri, 9 Oct 1998 22:44:02 +0200 (MEST)" -->
<!-- name="becka@rz.uni-duesseldorf.de" -->
<!-- email="becka@rz.uni-duesseldorf.de" -->
<!-- subject="Re: saned - Problem found" -->
<!-- id="m0zRjOM-000CEkC@hades.beck-sw.de" -->
<!-- inreplyto="Pine.LNX.3.95.981008141353.16162C-100000@terry1.acun.com" -->
<title>sane-devel: Re: saned - Problem found</title>
<h1>Re: saned - Problem found</h1>
<a href="mailto:becka@rz.uni-duesseldorf.de"><i>becka@rz.uni-duesseldorf.de</i></a><br>
<i>Fri, 9 Oct 1998 22:44:02 +0200 (MEST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#125">[ date ]</a><a href="index.html#125">[ thread ]</a><a href="subject.html#125">[ subject ]</a><a href="author.html#125">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0126.html">Andrew Williams: "Re: AS6e under WINE: It works!"</a>
<li> <b>Previous message:</b> <a href="0124.html">Kaz Sasayama: "Re: EPSON backend and xscanimage"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi !<br>
<p>
<i>&gt; &gt; &gt; Added both read and write for every one, changed the line in inet.conf</i><br>
<i>&gt; &gt; &gt; back to nobody.nobody, and all works well.</i><br>
<i>&gt; &gt; Hmm - this isn't a very good solution, but ...</i><br>
<p>
<i>&gt; OK, I'm listening, what is a better solution?</i><br>
<p>
1. Make a group scanner.<br>
2. chown root.scanner /dev/sg[whatever]<br>
3. chmod 660 /dev/sg[whatever]<br>
4. make the programs that you trust to access your scanner (i.e. saned,<br>
   scanimage and xscanimage) setgid scanner.<br>
<p>
That is you do:<br>
4a. chown root.scanner scanimage<br>
4b. chmod 2755 scanimage<br>
<p>
This will allow only these programs to access the scanner. You can do about<br>
the same with setuid, but you have much less trouble with file permissions<br>
when writing out files to your home or something like that when you<br>
still retain your uid, but run with a new gid.<br>
<p>
CU, Andy <br>
<p>
<pre>
-- 
= Andreas Beck                    |  Email :  &lt;<a href="mailto:andreas.beck@ggi-project.org">andreas.beck@ggi-project.org</a>&gt; =
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0126.html">Andrew Williams: "Re: AS6e under WINE: It works!"</a>
<li> <b>Previous message:</b> <a href="0124.html">Kaz Sasayama: "Re: EPSON backend and xscanimage"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
