<!-- received="Mon Oct 12 09:46:15 1998 PDT" -->
<!-- sent="Mon, 12 Oct 1998 18:44:25 +0200" -->
<!-- name="Christian Reiser" -->
<!-- email="bm882425@muenchen.org" -->
<!-- subject="Re: Scanexpress 12000SP?" -->
<!-- id="" -->
<!-- inreplyto="Scanexpress 12000SP?" -->
<title>sane-devel: Re: Scanexpress 12000SP?</title>
<h1>Re: Scanexpress 12000SP?</h1>
<b>Christian Reiser</b> (<a href="mailto:bm882425@muenchen.org"><i>bm882425@muenchen.org</i></a>)<br>
<i>Mon, 12 Oct 1998 18:44:25 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#131">[ date ]</a><a href="index.html#131">[ thread ]</a><a href="subject.html#131">[ subject ]</a><a href="author.html#131">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0132.html">Thomas Kluge: "xscanimage works, scanimage not (Umax Astra 1220S)"</a>
<li> <b>Previous message:</b> <a href="0130.html">Brian E. Bothwell: "Re: Microtek ScanMaker X6EL supported??"</a>
<li> <b>Maybe in reply to:</b> <a href="0128.html">Thomas Kluge: "Scanexpress 12000SP?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Thomas Kluge wrote:<br>
<i>&gt; </i><br>
<i>&gt; Hi,</i><br>
<i>&gt; </i><br>
<i>&gt; i've got the scanexpress 6000SP running with the backend by Andreas Bolsch,</i><br>
<i>&gt; but it has the already mentioned color-bug. Now i want to ask if there's</i><br>
<i>&gt; anybody there who has a scanexpress 12000SP to tell me if that scanner does</i><br>
<i>&gt; support color-scanning correctly or if the backend shows the same problem.</i><br>
<p>
The Mustek Scanexpress (AKA Mustek paragon 1200 III) has a Problem with<br>
Colorscans &gt;=600dpi. With 300 DPI it works. &gt;= 600 DPI the problem is,<br>
that the colors are move vertically (don't know the order...) - test<br>
scans can be obtained via mail...<br>
<p>
<i>&gt; Many thanks,</i><br>
<i>&gt; </i><br>
<i>&gt; Thomas</i><br>
<p>
Ciao<br>
	Christian<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0132.html">Thomas Kluge: "xscanimage works, scanimage not (Umax Astra 1220S)"</a>
<li> <b>Previous message:</b> <a href="0130.html">Brian E. Bothwell: "Re: Microtek ScanMaker X6EL supported??"</a>
<li> <b>Maybe in reply to:</b> <a href="0128.html">Thomas Kluge: "Scanexpress 12000SP?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
