<!-- received="Wed Oct 14 20:30:29 1998 PDT" -->
<!-- sent="Fri, 9 Oct 1998 11:33:33 +0200" -->
<!-- name="C. Le Cannellier, Pdt LUG Normandie" -->
<!-- email="lecannelli_c@decus.fr" -->
<!-- subject="Mustek 12000SP users ?" -->
<!-- id="98100911333323@decus.fr" -->
<!-- inreplyto="" -->
<title>sane-devel: Mustek 12000SP users ?</title>
<h1>Mustek 12000SP users ?</h1>
<b>C. Le Cannellier, Pdt LUG Normandie</b> (<a href="mailto:lecannelli_c@decus.fr"><i>lecannelli_c@decus.fr</i></a>)<br>
<i>Fri, 9 Oct 1998 11:33:33 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#141">[ date ]</a><a href="index.html#141">[ thread ]</a><a href="subject.html#141">[ subject ]</a><a href="author.html#141">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0142.html">Malcolm Boffey: "(no subject)"</a>
<li> <b>Previous message:</b> <a href="0140.html">Mark A Gebert: "Microtek2 X6El"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0157.html">David B. Rees: "RE: Mustek 12000SP users ?"</a>
<li> <b>Reply:</b> <a href="0157.html">David B. Rees: "RE: Mustek 12000SP users ?"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
	I have a Mustek ScanExpress 12000SP, working with SANE 0.74<br>
	Apart the fact that previews are displayed with wrong colors, <br>
	which is not very annoying to me, I got some shrinked pictures <br>
	when I scan A4 documents at maximum resolution (the picture is<br>
	vertically stretched)<br>
<p>
	I'd like to know if some people have experienced the same problem<br>
<p>
	Another related point : I use the gimp to display scanned picts,<br>
	and when the image file is large (~30Mb), I have *tons* of meesages<br>
	saying 'cannot write tile to file', then a button box from the gimp<br>
	telling me that image cannot be loaded.<br>
	is it a memory, swap or temp file size issue ? <br>
<p>
<p>
	Regards,<br>
<p>
	Christophe<br>
<p>
<p>
;+++++++++++++  L I N U X, the choice of a G N U generation +++++++++++++++++++<br>
;<br>
;	Christophe Le Cannellier<br>
;<br>
;	email	<a href="mailto:christophe.le-cannellier@decus.fr">christophe.le-cannellier@decus.fr</a><br>
;		<a href="mailto:christophe.le-cannellier@wanadoo.fr">christophe.le-cannellier@wanadoo.fr</a><br>
;	phone 	(33) [0]2 3302 4554<br>
;	mobile	(33) [0]6 8130 9440<br>
;<br>
;-------------- C'est la nuit qu'il est beau de croire a la lumiere. ----------<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0142.html">Malcolm Boffey: "(no subject)"</a>
<li> <b>Previous message:</b> <a href="0140.html">Mark A Gebert: "Microtek2 X6El"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0157.html">David B. Rees: "RE: Mustek 12000SP users ?"</a>
<li> <b>Reply:</b> <a href="0157.html">David B. Rees: "RE: Mustek 12000SP users ?"</a>
<!-- reply="end" -->
</ul>
