<!-- received="Sat Oct 17 23:54:57 1998 PDT" -->
<!-- sent="Sun, 18 Oct 1998 08:54:22 +0200" -->
<!-- name="Wolfgang Goeller" -->
<!-- email="wgoeller@active.ch" -->
<!-- subject="Re: Does anybody recognize this inquiry information ?" -->
<!-- id="" -->
<!-- inreplyto="Does anybody recognize this inquiry information ?" -->
<title>sane-devel: Re: Does anybody recognize this inquiry information ?</title>
<h1>Re: Does anybody recognize this inquiry information ?</h1>
<b>Wolfgang Goeller</b> (<a href="mailto:wgoeller@active.ch"><i>wgoeller@active.ch</i></a>)<br>
<i>Sun, 18 Oct 1998 08:54:22 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#189">[ date ]</a><a href="index.html#189">[ thread ]</a><a href="subject.html#189">[ subject ]</a><a href="author.html#189">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0190.html">Oliver Rauch: "Re: XPhotocopy question"</a>
<li> <b>Previous message:</b> <a href="0188.html">Tobias Ernst: "XPhotocopy question"</a>
<li> <b>Maybe in reply to:</b> <a href="0187.html">Bernd Schroeder: "Does anybody recognize this inquiry information ?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hallo Bernd<br>
<p>
<i>&gt; The vendor string consists of 8 spaces, and the model string is simply</i><br>
<i>&gt; "Flatbed Scanner ".</i><br>
<p>
It's probably an ACER Scanner, that is sold in several outfits.<br>
Look at their homepage for the types and compare them to your<br>
Scanner.<br>
<p>
Regards<br>
Wolfgang<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0190.html">Oliver Rauch: "Re: XPhotocopy question"</a>
<li> <b>Previous message:</b> <a href="0188.html">Tobias Ernst: "XPhotocopy question"</a>
<li> <b>Maybe in reply to:</b> <a href="0187.html">Bernd Schroeder: "Does anybody recognize this inquiry information ?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
