<!-- received="Sun Oct 18 11:47:20 1998 PDT" -->
<!-- sent="Sun, 18 Oct 1998 19:49:15 +0100" -->
<!-- name="Dr. Andreas Bolsch" -->
<!-- email="a.bolsch@ic.ac.uk" -->
<!-- subject="New version of Mustek backend - 6000SP, 12000SP" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: New version of Mustek backend - 6000SP, 12000SP</title>
<h1>New version of Mustek backend - 6000SP, 12000SP</h1>
<b>Dr. Andreas Bolsch</b> (<a href="mailto:a.bolsch@ic.ac.uk"><i>a.bolsch@ic.ac.uk</i></a>)<br>
<i>Sun, 18 Oct 1998 19:49:15 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#193">[ date ]</a><a href="index.html#193">[ thread ]</a><a href="subject.html#193">[ subject ]</a><a href="author.html#193">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0194.html">Oliver Rauch: "Re: New umax-backend for Astra 1220S (gamma-function)"</a>
<li> <b>Previous message:</b> <a href="0192.html">Dave Restall - System Administrator: "Black Widow Scanners (Was "Does anybody recognize this inquiry information ?")"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0195.html">Jani Frilander: "Re: New version of Mustek backend - 6000SP, 12000SP"</a>
<li> <b>Reply:</b> <a href="0195.html">Jani Frilander: "Re: New version of Mustek backend - 6000SP, 12000SP"</a>
<li> <b>Reply:</b> <a href="0203.html">Dr. Andreas Bolsch: "Re: New version of Mustek backend - 6000SP, 12000SP"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
There is a new version (0.4) of the extended mustek<br>
backend available at<br>
<p>
 <a href="http://www.math.TU-Berlin.DE/funktion/bolsch/sane">http://www.math.TU-Berlin.DE/funktion/bolsch/sane</a><br>
<p>
Color mode for ScanExpress 6000SP should work now,<br>
and the annoying wrong colors near the top in<br>
higher resolutions have disappeared.<br>
<p>
For further remarks see README.<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0194.html">Oliver Rauch: "Re: New umax-backend for Astra 1220S (gamma-function)"</a>
<li> <b>Previous message:</b> <a href="0192.html">Dave Restall - System Administrator: "Black Widow Scanners (Was "Does anybody recognize this inquiry information ?")"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0195.html">Jani Frilander: "Re: New version of Mustek backend - 6000SP, 12000SP"</a>
<li> <b>Reply:</b> <a href="0195.html">Jani Frilander: "Re: New version of Mustek backend - 6000SP, 12000SP"</a>
<li> <b>Reply:</b> <a href="0203.html">Dr. Andreas Bolsch: "Re: New version of Mustek backend - 6000SP, 12000SP"</a>
<!-- reply="end" -->
</ul>
