<!-- received="Tue Oct 20 15:19:30 1998 PDT" -->
<!-- sent="Wed, 21 Oct 1998 00:00:15 +0200" -->
<!-- name="Bernd Schroeder" -->
<!-- email="bernd@aquila.muc.de" -->
<!-- subject="Re: Black Widow Scanners (Was "Does anybody recognize this inquiry information ?")" -->
<!-- id="" -->
<!-- inreplyto="199810180817.IAA00661@restallnet.demon.co.uk" -->
<title>sane-devel: Re: Black Widow Scanners (Was "Does anybody recognize this inquiry information ?")</title>
<h1>Re: Black Widow Scanners (Was "Does anybody recognize this inquiry information ?")</h1>
<b>Bernd Schroeder</b> (<a href="mailto:bernd@aquila.muc.de"><i>bernd@aquila.muc.de</i></a>)<br>
<i>Wed, 21 Oct 1998 00:00:15 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#218">[ date ]</a><a href="index.html#218">[ thread ]</a><a href="subject.html#218">[ subject ]</a><a href="author.html#218">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0219.html">becka@rz.uni-duesseldorf.de: "Re: Pixels vs. Bytes per Line"</a>
<li> <b>Previous message:</b> <a href="0217.html">Jean-Baptiste Nivoit: "Re: your mail"</a>
<li> <b>In reply to:</b> <a href="0192.html">Dave Restall - System Administrator: "Black Widow Scanners (Was "Does anybody recognize this inquiry information ?")"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi,<br>
<p>
On Sun, Oct 18, 1998 at 08:17:39AM +0000, Dave Restall - System Administrator wrote:<br>
<p>
[...]<br>
<p>
<i>&gt; The inquiry result doesn't seem to follow the spec, the spec does say</i><br>
<i>&gt; 0x02 for the response code, could you have transcribed the data</i><br>
<i>&gt; incorrectly ?</i><br>
<p>
No, the 0x01 is in there. I only wrapped the only original long line, and<br>
added the byte count at the beginning of the lines to make it easier to<br>
to read (and failed to add 8 to 80, if you read it carefully). But<br>
the inquiry information is ok.<br>
<p>
Bernd<br>
<p>
<pre>
-- 
Bernd Schroeder 
Email: <a href="mailto:bernd@aquila.muc.de">mailto:bernd@aquila.muc.de</a>
PGP public key available: <a href="mailto:pgp@aquila.muc.de">mailto:pgp@aquila.muc.de</a> | Subject: send key 
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0219.html">becka@rz.uni-duesseldorf.de: "Re: Pixels vs. Bytes per Line"</a>
<li> <b>Previous message:</b> <a href="0217.html">Jean-Baptiste Nivoit: "Re: your mail"</a>
<li> <b>In reply to:</b> <a href="0192.html">Dave Restall - System Administrator: "Black Widow Scanners (Was "Does anybody recognize this inquiry information ?")"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
