<!-- received="Wed Oct 21 05:11:30 1998 PDT" -->
<!-- sent="Wed, 21 Oct 1998 14:10:24 +0100" -->
<!-- name="Yuri Dario" -->
<!-- email="mc6530@mclink.it" -->
<!-- subject="[Announce] SANE 0.74 for OS/2" -->
<!-- id="199810211210.OAA12189@mail1.mclink.it" -->
<!-- inreplyto="" -->
<title>sane-devel: [Announce] SANE 0.74 for OS/2</title>
<h1>[Announce] SANE 0.74 for OS/2</h1>
<b>Yuri Dario</b> (<a href="mailto:mc6530@mclink.it"><i>mc6530@mclink.it</i></a>)<br>
<i>Wed, 21 Oct 1998 14:10:24 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#221">[ date ]</a><a href="index.html#221">[ thread ]</a><a href="subject.html#221">[ subject ]</a><a href="author.html#221">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0222.html">Mike Nachlinger: "libc6_2.0.7u-3/Gimp install problems"</a>
<li> <b>Previous message:</b> <a href="0220.html">Mentore #cat# Siesto: "Epson GT-300, scanimage results"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0223.html">bruno schwander: "Re: [Announce] SANE 0.74 for OS/2"</a>
<li> <b>Reply:</b> <a href="0223.html">bruno schwander: "Re: [Announce] SANE 0.74 for OS/2"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hello,<br>
<p>
<p>
after a long delay, SANE 0.74 for OS/2 is available for download from my homepage<br>
<p>
	<a href="http://www.geocities.com/SiliconValley/Peaks/4320">http://www.geocities.com/SiliconValley/Peaks/4320</a><br>
<p>
<p>
Bye,<br>
<p>
	Yuri Dario<br>
<p>
/*<br>
 * member of TeamOS/2 - Italy<br>
 */<br>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0222.html">Mike Nachlinger: "libc6_2.0.7u-3/Gimp install problems"</a>
<li> <b>Previous message:</b> <a href="0220.html">Mentore #cat# Siesto: "Epson GT-300, scanimage results"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0223.html">bruno schwander: "Re: [Announce] SANE 0.74 for OS/2"</a>
<li> <b>Reply:</b> <a href="0223.html">bruno schwander: "Re: [Announce] SANE 0.74 for OS/2"</a>
<!-- reply="end" -->
</ul>
