<!-- received="Thu Oct 22 19:58:29 1998 PDT" -->
<!-- sent="Mon, 19 Oct 1998 19:47:16 +0930 (CST)" -->
<!-- name="Jamie Lovick" -->
<!-- email="jalovick@inettech.net.au" -->
<!-- subject="Acer Scanner Range" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Acer Scanner Range</title>
<h1>Acer Scanner Range</h1>
<b>Jamie Lovick</b> (<a href="mailto:jalovick@inettech.net.au"><i>jalovick@inettech.net.au</i></a>)<br>
<i>Mon, 19 Oct 1998 19:47:16 +0930 (CST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#234">[ date ]</a><a href="index.html#234">[ thread ]</a><a href="subject.html#234">[ subject ]</a><a href="author.html#234">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0235.html">Emmanuel PIERRE: "Sane with Microtek ScanMaker 2"</a>
<li> <b>Next message:</b> <a href="0235.html">Sheldon E. Newhouse: "copy program and document feeder for hp"</a>
<li> <b>Previous message:</b> <a href="0233.html">Carsten Wartmann: "AGFA Focus scanner backend released"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0243.html">Wolfgang Goeller: "Re: Acer Scanner Range"</a>
<li> <b>Reply:</b> <a href="0243.html">Wolfgang Goeller: "Re: Acer Scanner Range"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi,<br>
<p>
I was wondering if support was in the pipeline for the Acer range of<br>
SCSI scanners (the 310S, 610S, 620ST)<br>
<p>
Thanks in advance.<br>
<p>
Seeya<br>
<p>
Jamie<br>
<p>
<pre>
--
Mr Jamie Lovick | Phone : +618 8242 3811 | Email: <a href="mailto:jalovick@inettech.net.au">jalovick@inettech.net.au</a> |
IT Consultant   | Fax   : +618 8242 3822 | Anet : <a href="mailto:jalovick@amiganet.org">jalovick@amiganet.org</a>    |
InetTech        | Mobile: +614 1479 1681 | Doof : <a href="mailto:jalovick@doof.org">jalovick@doof.org</a>        |
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0235.html">Emmanuel PIERRE: "Sane with Microtek ScanMaker 2"</a>
<li> <b>Next message:</b> <a href="0235.html">Sheldon E. Newhouse: "copy program and document feeder for hp"</a>
<li> <b>Previous message:</b> <a href="0233.html">Carsten Wartmann: "AGFA Focus scanner backend released"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0243.html">Wolfgang Goeller: "Re: Acer Scanner Range"</a>
<li> <b>Reply:</b> <a href="0243.html">Wolfgang Goeller: "Re: Acer Scanner Range"</a>
<!-- reply="end" -->
</ul>
