<!-- received="Thu Oct 22 22:50:46 1998 PDT" -->
<!-- sent="Fri, 23 Oct 1998 06:30:03 +0200" -->
<!-- name="Thomas Kluge" -->
<!-- email="thomas@darkstar.rhein-neckar.de" -->
<!-- subject="List broken?" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: List broken?</title>
<h1>List broken?</h1>
<b>Thomas Kluge</b> (<a href="mailto:thomas@darkstar.rhein-neckar.de"><i>thomas@darkstar.rhein-neckar.de</i></a>)<br>
<i>Fri, 23 Oct 1998 06:30:03 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#246">[ date ]</a><a href="index.html#246">[ thread ]</a><a href="subject.html#246">[ subject ]</a><a href="author.html#246">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0247.html">David Mosberger-Tang: "Re: SANE and GNU"</a>
<li> <b>Previous message:</b> <a href="0245.html">Wolfgang Goeller: "Re: unsupported scanner-model"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi,<br>
<p>
what's wrong with this list? Since some days, i didn't receive any new mail,<br>
and today it happened that some already received mails came in again.<br>
<p>
cu,<br>
<p>
Thomas<br>
<p>
<pre>
-- 
EMAIL: <a href="mailto:thomas@darkstar.rhein-neckar.de">thomas@darkstar.rhein-neckar.de</a> WWW: www.rhein-neckar.de/~darkstar/
IRC: ctom   SITE: Tommi Online   PGP: send email with subject "get pgpkey"
-------------------------------Linux 2.0.35-------------------------------
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0247.html">David Mosberger-Tang: "Re: SANE and GNU"</a>
<li> <b>Previous message:</b> <a href="0245.html">Wolfgang Goeller: "Re: unsupported scanner-model"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
