<!-- received="Fri Oct 23 09:48:02 1998 PDT" -->
<!-- sent="Fri, 23 Oct 1998 09:47:57 -0700" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="David.Mosberger@acm.org" -->
<!-- subject="Re: Scan Size Clarification and JPEG/whatever format data" -->
<!-- id="199810231647.JAA05587@panda.mostang.com" -->
<!-- inreplyto="19981023035230.A10094@tummy.com" -->
<title>sane-devel: Re: Scan Size Clarification and JPEG/whatever format data</title>
<h1>Re: Scan Size Clarification and JPEG/whatever format data</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:David.Mosberger@acm.org"><i>David.Mosberger@acm.org</i></a>)<br>
<i>Fri, 23 Oct 1998 09:47:57 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#258">[ date ]</a><a href="index.html#258">[ thread ]</a><a href="subject.html#258">[ subject ]</a><a href="author.html#258">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0259.html">Didier Carlier: "RE: Coolscan driver produces error at the image border"</a>
<li> <b>Previous message:</b> <a href="0257.html">Sean Reifschneider: "Scan Size Clarification and JPEG/whatever format data"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;&gt;&gt;&gt;&gt; On Fri, 23 Oct 1998 03:52:30 -0600, Sean Reifschneider &lt;<a href="mailto:jafo@tummy.com">jafo@tummy.com</a>&gt; said:</i><br>
<p>
  Sean&gt; It's not entirely clear to me from the draft document how soon<br>
  Sean&gt; after doing a "start scan" that it's expected the X and Y<br>
  Sean&gt; image size will be known.  The back-end I'm working on right<br>
  Sean&gt; now doesn't actually have the exact size (only an estimate<br>
  Sean&gt; because of auto-page-size detection) until after the first<br>
  Sean&gt; data read has completed.<br>
<p>
Actually, I think the draft is pretty clear:<br>
<p>
	"The returned parameters are guaranteed to be accurate between<br>
	 the time a scan has been started (sane_start() has<br>
	 been called) and the completion of that request."<br>
<p>
  Sean&gt; I suspect that some front-ends will expect it to be accurate<br>
  Sean&gt; before reading the first data-block (for writing a header or<br>
  Sean&gt; allocating the image buffer).<br>
<p>
Yup, this is correct.  Maybe you can buffer the first line?<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0259.html">Didier Carlier: "RE: Coolscan driver produces error at the image border"</a>
<li> <b>Previous message:</b> <a href="0257.html">Sean Reifschneider: "Scan Size Clarification and JPEG/whatever format data"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
