<!-- received="Tue Oct 27 10:15:43 1998 PST" -->
<!-- sent="Tue, 27 Oct 1998 16:56:36 +0800 (SGT)" -->
<!-- name="Mathias Koerber" -->
<!-- email="mathias@koerber.org" -->
<!-- subject="Re: Minolta QuickScan35" -->
<!-- id="" -->
<!-- inreplyto="36334AF8.8A76CF71@wupperonline.de" -->
<title>sane-devel: Re: Minolta QuickScan35</title>
<h1>Re: Minolta QuickScan35</h1>
<b>Mathias Koerber</b> (<a href="mailto:mathias@koerber.org"><i>mathias@koerber.org</i></a>)<br>
<i>Tue, 27 Oct 1998 16:56:36 +0800 (SGT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#279">[ date ]</a><a href="index.html#279">[ thread ]</a><a href="subject.html#279">[ subject ]</a><a href="author.html#279">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0280.html">Mathias Koerber: "Re: Minolta QuickScan35"</a>
<li> <b>Previous message:</b> <a href="0278.html">Mathias Koerber: "Re: Minolta QuickScan35"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Sun, 25 Oct 1998, Andreas Schrell wrote:<br>
<p>
<i>| Date: Sun, 25 Oct 1998 16:59:52 +0100</i><br>
<i>| From: Andreas Schrell &lt;<a href="mailto:schrell@wupperonline.de">schrell@wupperonline.de</a>&gt;</i><br>
<i>| Reply-To: <a href="mailto:sane-devel@mostang.com">sane-devel@mostang.com</a></i><br>
<i>| To: <a href="mailto:sane-devel@mostang.com">sane-devel@mostang.com</a></i><br>
<i>| Subject: Minolta QuickScan35</i><br>
<i>| </i><br>
<i>| Hello,</i><br>
<i>| </i><br>
<i>| is there any information on using a QuickScan35 (Minolta) with SANE?</i><br>
<i>| </i><br>
<i>| I asked Minolta for Technical Documentation (via mail). Perhaps I can</i><br>
<i>| write a backend. Any comments for compatibility?</i><br>
<i>| </i><br>
<i>| The QS35 is a 35mm slide scanner with up to 2820dpi.</i><br>
<p>
Forget it, I asked Minolta several times for specs on my<br>
Dimage Scan Dual. I would NOT RECOMMEND Minolta products.<br>
<p>
<i>| </i><br>
<i>| Andreas Schrell, Wuppertal (Germany)</i><br>
<i>| </i><br>
<i>| </i><br>
<i>| --</i><br>
<i>| Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a></i><br>
<i>| To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a></i><br>
<i>| </i><br>
<p>
Mathias Koerber   | Tel: +65 / 471 9820    |   <a href="mailto:mathias@staff.singnet.com.sg">mathias@staff.singnet.com.sg</a><br>
SingNet NOC       | Fax: +65 / 475 3273    |            <a href="mailto:mathias@koerber.org">mathias@koerber.org</a><br>
Q'town Tel. Exch. | PGP: Keyid: 768/25E082BD, finger <a href="mailto:mathias@singnet.com.sg">mathias@singnet.com.sg</a><br>
2 Stirling Rd     |      1A 8B FC D4 93 F1 9A FC BD 98 A3 1A 0E 73 01 65<br>
S'pore 148943     | Disclaimer: I speak only for myself<br>
* Eifersucht ist eine Leidenschaft, die mit Eifer sucht, was Leiden schafft *<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0280.html">Mathias Koerber: "Re: Minolta QuickScan35"</a>
<li> <b>Previous message:</b> <a href="0278.html">Mathias Koerber: "Re: Minolta QuickScan35"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
