<!-- received="Tue Oct 27 19:14:35 1998 PST" -->
<!-- sent="Wed, 28 Oct 1998 02:49:41 +0100 (MET)" -->
<!-- name="becka@rz.uni-duesseldorf.de" -->
<!-- email="becka@rz.uni-duesseldorf.de" -->
<!-- subject="Re: HP ScanJet 5P and SCSI-card" -->
<!-- id="m0zYKk1-000CEkC@hades.beck-sw.de" -->
<!-- inreplyto="19981027231051.A902@mrps.demon.co.uk" -->
<title>sane-devel: Re: HP ScanJet 5P and SCSI-card</title>
<h1>Re: HP ScanJet 5P and SCSI-card</h1>
<a href="mailto:becka@rz.uni-duesseldorf.de"><i>becka@rz.uni-duesseldorf.de</i></a><br>
<i>Wed, 28 Oct 1998 02:49:41 +0100 (MET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#286">[ date ]</a><a href="index.html#286">[ thread ]</a><a href="subject.html#286">[ subject ]</a><a href="author.html#286">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0287.html">Didier Carlier: "RE: nikon ls film scanners"</a>
<li> <b>Previous message:</b> <a href="0285.html">Oliver Rauch: "Re: UMAX Vista-T630"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi !<br>
<p>
<i>&gt; Best to look at the Hardware-HOWTO for current information on supported cards.</i><br>
<i>&gt; Last time I looked I don't remember seeing Symbios cards</i><br>
<p>
Symbios logic has bought NCR, so these are listed as NCR cards.<br>
<p>
However the newer ones like the 53c4xx series might be unsupported.<br>
<p>
There is a 5380/53c400 driver, but I'm not sure on how compatible the cards<br>
are. I _think_ I remember hearing they are not compatible enough.<br>
<p>
CU,Andy<br>
<p>
<pre>
-- 
= Andreas Beck                    |  Email :  &lt;<a href="mailto:andreas.beck@ggi-project.org">andreas.beck@ggi-project.org</a>&gt; =
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0287.html">Didier Carlier: "RE: nikon ls film scanners"</a>
<li> <b>Previous message:</b> <a href="0285.html">Oliver Rauch: "Re: UMAX Vista-T630"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
