<!-- received="Sat Oct 31 02:47:28 1998 PST" -->
<!-- sent="Sat, 31 Oct 1998 12:46:41 +0100" -->
<!-- name="Oliver Rauch" -->
<!-- email="oliver.rauch@Wolfsburg.DE" -->
<!-- subject="Re: pre-release available for testing" -->
<!-- id="" -->
<!-- inreplyto="pre-release available for testing" -->
<title>sane-devel: Re: pre-release available for testing</title>
<h1>Re: pre-release available for testing</h1>
<b>Oliver Rauch</b> (<a href="mailto:oliver.rauch@Wolfsburg.DE"><i>oliver.rauch@Wolfsburg.DE</i></a>)<br>
<i>Sat, 31 Oct 1998 12:46:41 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#307">[ date ]</a><a href="index.html#307">[ thread ]</a><a href="subject.html#307">[ subject ]</a><a href="author.html#307">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0308.html">Manfred Lemke: "Re: Mustek backend 0.5"</a>
<li> <b>Previous message:</b> <a href="0306.html">Scott J. Kramer: "Re: pre-release available for testing"</a>
<li> <b>Maybe in reply to:</b> <a href="0305.html">David Mosberger-Tang: "pre-release available for testing"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
David Mosberger-Tang wrote:<br>
<p>
<i>&gt; If you're a backend maintainer, please take a look at what's there</i><br>
<i>&gt; now.  In particular, let me know if you'd like to see anything added</i><br>
<i>&gt; to the NEWS file or if I missed a patch.</i><br>
<p>
Hi David,<br>
<p>
the umax-backend is ok!<br>
<p>
Please could you include the following text to the NEWS-file:<br>
<p>
    - added output of umax-backend-version in sane_init<br>
<p>
    - added Linotype Hell Jade2 (Vobis ScanBoostar Premium)<br>
      SCSI-ID "LinoHell","Office2" as supported scanner<br>
<p>
    - changed base of calculation of scanwidth and scanlegth from<br>
      pixel to resolutionbase (1/300, 1/600 or 1/1200 inch)<br>
<p>
    - changed calculation for width in pixels for lineart mode<br>
<p>
    - changed selection for calibration mode<br>
<p>
    - added inquiry for UMUX UC1200SE<br>
<p>
    - corrected 12/36-bit-mode in send_gamma_data and array in umax.h<br>
<p>
<p>
<p>
Do you plan to call this version 1.0 ?<br>
You wrote in NEWS: New with 1.00:<br>
<p>
Bye<br>
Oliver<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0308.html">Manfred Lemke: "Re: Mustek backend 0.5"</a>
<li> <b>Previous message:</b> <a href="0306.html">Scott J. Kramer: "Re: pre-release available for testing"</a>
<li> <b>Maybe in reply to:</b> <a href="0305.html">David Mosberger-Tang: "pre-release available for testing"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
