<title>sane-devel by subject</title>
<a name="start"><h1>sane-devel by subject</h1></a>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#start">[ date ]</a><a href="index.html#start">[ thread ]</a><a href="author.html#start">[ author ]</a>
<li> <b><a href="..">Other mail archives</a></b>
</ul>
<p>
<b>Starting:</b> <i>Thu 01 Oct 1998 - 04:39:33 PST</i><br>
<b>Ending:</b> <i>Sun 01 Nov 1998 - 16:02:39 PST</i><br>
<b>Messages:</b> 315
<p>
<ul>
<ul>
<li> <a href="0268.html"></a> <a name="268"><i></i></a>
</ul>
<li> <b>(no subject)</b>
<ul>
<li> <a href="0242.html">Wolfgang Goeller</a> <a name="242"><i>Fri, 23 Oct 1998 06:57:34 +0200</i></a>
</ul>
<ul>
<li> <a href="0240.html">=?iso-8859-1?Q?Lev=E1rdy_Zolt=E1n?=</a> <a name="240"><i>Wed, 21 Oct 1998 09:01:54 +0200</i></a>
</ul>
<ul>
<li> <a href="0238.html">lenorman@naxos.unice.fr</a> <a name="238"><i>Tue, 20 Oct 1998 20:07:32 +0100</i></a>
</ul>
<ul>
<li> <a href="0212.html">jbnivoit@ix.netcom.com</a> <a name="212"><i>Mon, 19 Oct 1998 20:10:57 -0500 (CDT)</i></a>
</ul>
<ul>
<li> <a href="0142.html">Malcolm Boffey</a> <a name="142"><i>Wed, 7 Oct 1998 13:13:09 -0700</i></a>
</ul>
<ul>
<li> <a href="0066.html">Hilario Ortigosa Monteoliva</a> <a name="66"><i>Mon, 05 Oct 1998 22:56:32 +0000</i></a>
</ul>
<li> <b>6000SP: open of device /dev/dg0 failed, invalid argument</b>
<ul>
<li> <a href="0252.html">Dr. Andreas Bolsch</a> <a name="252"><i>Fri, 23 Oct 1998 10:46:26 +0100</i></a>
</ul>
<ul>
<li> <a href="0236.html">a8805193@unet.univie.ac.at</a> <a name="236"><i>Tue, 20 Oct 1998 14:42:12 +0200 (MSZ)</i></a>
</ul>
<li> <b>[Announce] SANE 0.74 for OS/2</b>
<ul>
<li> <a href="0225.html">Tobias Ernst</a> <a name="225"><i>Thu, 22 Oct 1998 16:27:30 +0200</i></a>
</ul>
<ul>
<li> <a href="0223.html">bruno schwander</a> <a name="223"><i>Wed, 21 Oct 1998 17:39:19 +0000</i></a>
</ul>
<ul>
<li> <a href="0221.html">Yuri Dario</a> <a name="221"><i>Wed, 21 Oct 1998 14:10:24 +0100</i></a>
</ul>
<li> <b>a couple sco sane questions</b>
<ul>
<li> <a href="0149.html">the developer</a> <a name="149"><i>Wed, 14 Oct 98 9:57:50 PDT</i></a>
</ul>
<li> <b>Acer Scanner Range</b>
<ul>
<li> <a href="0243.html">Wolfgang Goeller</a> <a name="243"><i>Fri, 23 Oct 1998 07:00:07 +0200</i></a>
</ul>
<ul>
<li> <a href="0234.html">Jamie Lovick</a> <a name="234"><i>Mon, 19 Oct 1998 19:47:16 +0930 (CST)</i></a>
</ul>
<li> <b>AcerScan 610S Support</b>
<ul>
<li> <a href="0162.html">Wolfgang Goeller</a> <a name="162"><i>Thu, 15 Oct 1998 13:11:58 +0200</i></a>
</ul>
<ul>
<li> <a href="0151.html">Lowery, Robert</a> <a name="151"><i>Wed, 14 Oct 1998 11:22:42 +1000</i></a>
</ul>
<li> <b>Again: SCO Open Server, scsi device</b>
<ul>
<li> <a href="0095.html">Dr. Andreas Bolsch</a> <a name="95"><i>Wed, 07 Oct 1998 16:03:12 +0100</i></a>
</ul>
<ul>
<li> <a href="0094.html">ralf@tqe2.iap.physik.tu-darmstadt.de</a> <a name="94"><i>Wed, 7 Oct 98 16:31:22 CETDST</i></a>
</ul>
<ul>
<li> <a href="0093.html">Dr. Andreas Bolsch</a> <a name="93"><i>Wed, 07 Oct 1998 15:04:11 +0100</i></a>
</ul>
<ul>
<li> <a href="0090.html">ralf@tqe2.iap.physik.tu-darmstadt.de</a> <a name="90"><i>Wed, 7 Oct 98 15:17:33 CETDST</i></a>
</ul>
<ul>
<li> <a href="0089.html">Dr. Andreas Bolsch</a> <a name="89"><i>Wed, 07 Oct 1998 13:34:43 +0100</i></a>
</ul>
<ul>
<li> <a href="0088.html">ralf@tqe2.iap.physik.tu-darmstadt.de</a> <a name="88"><i>Wed, 7 Oct 98 14:01:40 CETDST</i></a>
</ul>
<li> <b>AGFA Focus scanner backend released</b>
<ul>
<li> <a href="0233.html">Carsten Wartmann</a> <a name="233"><i>Mon, 19 Oct 1998 12:42:22 +0200</i></a>
</ul>
<ul>
<li> <a href="0197.html">Karl Anders Oygard</a> <a name="197"><i>Sun, 18 Oct 1998 22:27:47 GMT</i></a>
</ul>
<li> <b>Artec A6000C problems</b>
<ul>
<li> <a href="0134.html">malcolm-sane@cs.york.ac.uk</a> <a name="134"><i>Tue, 13 Oct 1998 18:16:54 +0100</i></a>
</ul>
<li> <b>AS6e under WINE: It works!</b>
<ul>
<li> <a href="0126.html">Andrew Williams</a> <a name="126"><i>Sat, 10 Oct 1998 11:15:58 -0400</i></a>
</ul>
<li> <b>automatic scanning</b>
<ul>
<li> <a href="0267.html">Alexander Jerjomin</a> <a name="267"><i>Mon, 26 Oct 1998 17:31:33 +0200</i></a>
</ul>
<li> <b>Black Widow Scanners</b>
<ul>
<li> <a href="0262.html">Dave Restall - System Administrator</a> <a name="262"><i>Fri, 23 Oct 1998 19:52:03 GMT</i></a>
</ul>
<li> <b>Black Widow Scanners (Was "Does anybody recognize this inquiry information ?")</b>
<ul>
<li> <a href="0218.html">Bernd Schroeder</a> <a name="218"><i>Wed, 21 Oct 1998 00:00:15 +0200</i></a>
</ul>
<ul>
<li> <a href="0192.html">Dave Restall - System Administrator</a> <a name="192"><i>Sun, 18 Oct 1998 08:17:39 GMT</i></a>
</ul>
<li> <b>Blackwidow 4800SP is really...</b>
<ul>
<li> <a href="0304.html">Chris Pinkham</a> <a name="304"><i>Fri, 30 Oct 1998 18:10:12 -0500 (EST)</i></a>
</ul>
<ul>
<li> <a href="0303.html">Jon Schneider</a> <a name="303"><i>Fri, 30 Oct 1998 22:06:13 +0000</i></a>
</ul>
<li> <b>can the HP Photosmart scanner scsi card work, or do I need to use a supported scsi card</b>
<ul>
<li> <a href="0038.html">Chris Niekel</a> <a name="38"><i>Wed, 23 Sep 1998 21:34:38 +0200</i></a>
</ul>
<li> <b>Casio QV-11</b>
<ul>
<li> <a href="0213.html">Thomas Kluge</a> <a name="213"><i>Tue, 20 Oct 1998 06:38:37 +0200</i></a>
</ul>
<li> <b>color problem with Mustek 6000SP</b>
<ul>
<li> <a href="0100.html">Jani Frilander</a> <a name="100"><i>Wed, 07 Oct 1998 22:51:28 +0300</i></a>
</ul>
<ul>
<li> <a href="0092.html">michael brunsteiner</a> <a name="92"><i>Wed, 07 Oct 1998 14:43:35 +0200</i></a>
</ul>
<li> <b>Compilation problems</b>
<ul>
<li> <a href="0239.html">Eric Bouillier</a> <a name="239"><i>Thu, 22 Oct 1998 14:47:14 +0000</i></a>
</ul>
<li> <b>Coolscan driver produces error at the image border</b>
<ul>
<li> <a href="0256.html">Andreas Tille</a> <a name="256"><i>Fri, 23 Oct 1998 16:52:45 +0200 (METDST)</i></a>
</ul>
<li> <b>copy program and document feeder for hp</b>
<ul>
<li> <a href="0248.html">becka@rz.uni-duesseldorf.de</a> <a name="248"><i>Fri, 23 Oct 1998 09:33:03 +0200 (MET DST)</i></a>
</ul>
<ul>
<li> <a href="0235.html">Sheldon E. Newhouse</a> <a name="235"><i>Mon, 19 Oct 1998 10:37:20 -0400</i></a>
</ul>
<li> <b>Does anybody recognize this inquiry information ?</b>
<ul>
<li> <a href="0189.html">Wolfgang Goeller</a> <a name="189"><i>Sun, 18 Oct 1998 08:54:22 +0200</i></a>
</ul>
<ul>
<li> <a href="0187.html">Bernd Schroeder</a> <a name="187"><i>Sat, 17 Oct 1998 17:16:51 +0200</i></a>
</ul>
<li> <b>EPSON backend and xscanimage</b>
<ul>
<li> <a href="0124.html">Kaz Sasayama</a> <a name="124"><i>09 Oct 1998 14:11:22 +0900</i></a>
</ul>
<ul>
<li> <a href="0063.html">Oliver Graf</a> <a name="63"><i>04 Oct 1998 22:02:31 +0200</i></a>
</ul>
<ul>
<li> <a href="0059.html">David Mosberger-Tang</a> <a name="59"><i>Sun, 4 Oct 1998 10:07:01 -0700</i></a>
</ul>
<ul>
<li> <a href="0050.html">Oliver Graf</a> <a name="50"><i>04 Oct 1998 12:55:16 +0200</i></a>
</ul>
<li> <b>Epson GT-300</b>
<ul>
<li> <a href="0170.html">Oliver Graf</a> <a name="170"><i>15 Oct 1998 11:12:39 +0200</i></a>
</ul>
<ul>
<li> <a href="0158.html">Mentore #cat# Siesto</a> <a name="158"><i>Thu, 15 Oct 1998 09:23:59 +0200 (CEST)</i></a>
</ul>
<li> <b>Epson GT-300, new results</b>
<ul>
<li> <a href="0295.html">Christian Bucher</a> <a name="295"><i>Wed, 28 Oct 1998 18:38:43 +0100</i></a>
</ul>
<ul>
<li> <a href="0269.html">Mentore #cat# Siesto</a> <a name="269"><i>Tue, 27 Oct 1998 08:54:44 +0100 (CET)</i></a>
</ul>
<li> <b>Epson GT-300, scanimage results</b>
<ul>
<li> <a href="0250.html">Christian Bucher</a> <a name="250"><i>Fri, 23 Oct 1998 10:39:15 +0200</i></a>
</ul>
<ul>
<li> <a href="0220.html">Mentore #cat# Siesto</a> <a name="220"><i>Wed, 21 Oct 1998 08:57:34 +0200 (CEST)</i></a>
</ul>
<li> <b>Having problems with canon backend</b>
<ul>
<li> <a href="0007.html">Durk Talsma</a> <a name="7"><i>Fri, 02 Oct 1998 06:02:29 +0000</i></a>
</ul>
<ul>
<li> <a href="0003.html">Simon Thompson</a> <a name="3"><i>Fri, 02 Oct 1998 08:53:02 +1300</i></a>
</ul>
<li> <b>help for sane use</b>
<ul>
<li> <a href="0033.html">Labo Chimie Physique 0326053233</a> <a name="33"><i>Wed, 16 Sep 1998 20:06:23 +0200 (CEST)</i></a>
</ul>
<li> <b>Help with sane needed...</b>
<ul>
<li> <a href="0027.html">rick hamell</a> <a name="27"><i>Wed, 30 Sep 1998 22:29:09 -0700 (PDT)</i></a>
</ul>
<li> <b>help with sane use ...</b>
<ul>
<li> <a href="0013.html">Labo Chimie Physique 0326053233</a> <a name="13"><i>Fri, 18 Sep 1998 17:32:17 +0200 (CEST)</i></a>
</ul>
<li> <b>how to make net scanner appear in xscanimage?</b>
<ul>
<li> <a href="0175.html">olberg@oso.chalmers.se</a> <a name="175"><i>Fri, 16 Oct 1998 09:31:53 +0200 (CEST)</i></a>
</ul>
<ul>
<li> <a href="0174.html">olberg@oso.chalmers.se</a> <a name="174"><i>Fri, 16 Oct 1998 09:22:38 +0200 (CEST)</i></a>
</ul>
<ul>
<li> <a href="0167.html">Ray Curtis</a> <a name="167"><i>Thu, 15 Oct 1998 14:12:35 -0400 (EDT)</i></a>
</ul>
<ul>
<li> <a href="0156.html">David Mosberger-Tang</a> <a name="156"><i>Wed, 14 Oct 1998 20:43:28 -0700</i></a>
</ul>
<ul>
<li> <a href="0155.html">David Mosberger-Tang</a> <a name="155"><i>Wed, 14 Oct 1998 20:39:50 -0700</i></a>
</ul>
<ul>
<li> <a href="0137.html">Rogier Wolff</a> <a name="137"><i>Wed, 14 Oct 1998 11:39:44 +0200 (MEST)</i></a>
</ul>
<ul>
<li> <a href="0136.html">olberg@oso.chalmers.se</a> <a name="136"><i>Wed, 14 Oct 1998 08:10:12 +0200 (CEST)</i></a>
</ul>
<li> <b>HP + Link</b>
<ul>
<li> <a href="0041.html">Ales List</a> <a name="41"><i>Tue, 29 Sep 1998 18:16:29 +0200</i></a>
</ul>
<li> <b>HP 6200</b>
<ul>
<li> <a href="0230.html">Tom Martone</a> <a name="230"><i>Fri, 16 Oct 1998 10:12:10 -0400</i></a>
</ul>
<ul>
<li> <a href="0171.html">Jan Ehrhard</a> <a name="171"><i>Thu, 15 Oct 1998 15:14:48 +0200 (CES)</i></a>
</ul>
<li> <b>HP photosmart and negatives to positives</b>
<ul>
<li> <a href="0055.html">Craig Ruff</a> <a name="55"><i>Sun, 4 Oct 1998 08:05:37 -0600</i></a>
</ul>
<ul>
<li> <a href="0046.html">Zach Fine</a> <a name="46"><i>Sat, 3 Oct 1998 18:05:07 -0700 (PDT)</i></a>
</ul>
<ul>
<li> <a href="0034.html">Chris Niekel</a> <a name="34"><i>Wed, 23 Sep 1998 21:44:19 +0200</i></a>
</ul>
<li> <b>HP ScanJet 5P and SCSI-card</b>
<ul>
<li> <a href="0298.html">Samuli Ylinen</a> <a name="298"><i>28 Oct 1998 14:59:37 +0200</i></a>
</ul>
<ul>
<li> <a href="0294.html">James Hughes</a> <a name="294"><i>Tue, 27 Oct 1998 19:23:05 -0500 (EST)</i></a>
</ul>
<ul>
<li> <a href="0286.html">becka@rz.uni-duesseldorf.de</a> <a name="286"><i>Wed, 28 Oct 1998 02:49:41 +0100 (MET)</i></a>
</ul>
<ul>
<li> <a href="0284.html">Anthony J. Terlecki</a> <a name="284"><i>Tue, 27 Oct 1998 23:10:51 +0000</i></a>
</ul>
<ul>
<li> <a href="0282.html">Matti Koskimies</a> <a name="282"><i>Tue, 27 Oct 1998 17:00:18 +0200 (EET)</i></a>
</ul>
<ul>
<li> <a href="0272.html">Matti Koskimies</a> <a name="272"><i>Tue, 27 Oct 1998 17:00:18 +0200 (EET)</i></a>
</ul>
<ul>
<li> <a href="0271.html">Matti Koskimies</a> <a name="271"><i>Tue, 27 Oct 1998 17:00:18 +0200 (EET)</i></a>
</ul>
<li> <b>HP/UX 10.20 DLL support</b>
<ul>
<li> <a href="0232.html">Petter Reinholdtsen</a> <a name="232"><i>Mon, 19 Oct 1998 18:55:52 +0200 (METDST)</i></a>
</ul>
<li> <b>HP6250C observations</b>
<ul>
<li> <a href="0028.html">Tom Martone</a> <a name="28"><i>Fri, 02 Oct 1998 02:30:17 -0400</i></a>
</ul>
<li> <b>http://www.mostang.com/sane/sane-backends.html</b>
<ul>
<li> <a href="0032.html">micr@dds.nl</a> <a name="32"><i>Wed, 23 Sep 1998 22:08:20 +0200</i></a>
</ul>
<li> <b>Internet Message Header</b>
<ul>
<li> <a href="0076.html">Wolfgang Kaess</a> <a name="76"><i>Tue, 6 Oct 1998 16:40:23 -0400</i></a>
</ul>
<li> <b>Internet Message Header [1 of 2]</b>
<ul>
<li> <a href="0075.html">Wolfgang Kaess</a> <a name="75"><i>Tue, 6 Oct 1998 16:40:21 -0400</i></a>
</ul>
<li> <b>is my scanner supported?</b>
<ul>
<li> <a href="0058.html">Matthias Braun</a> <a name="58"><i>Sun, 04 Oct 1998 13:40:48 +0200</i></a>
</ul>
<li> <b>joy scanner 600 problems</b>
<ul>
<li> <a href="0086.html">Henning Meier-Geinitz</a> <a name="86"><i>Tue, 6 Oct 1998 19:51:19 +0200</i></a>
</ul>
<ul>
<li> <a href="0024.html">gametron</a> <a name="24"><i>Mon, 28 Sep 1998 17:44:29 -0600</i></a>
</ul>
<li> <b>Just a few dumb questions</b>
<ul>
<li> <a href="0273.html">Dr. Andreas Bolsch</a> <a name="273"><i>Tue, 27 Oct 1998 12:28:07 +0000</i></a>
</ul>
<ul>
<li> <a href="0270.html">Dr. Andreas Bolsch</a> <a name="270"><i>Tue, 27 Oct 1998 12:28:07 +0000</i></a>
</ul>
<li> <b>Just a question...</b>
<ul>
<li> <a href="0118.html">Thomas Heidel</a> <a name="118"><i>Thu, 08 Oct 1998 19:10:44 +0200</i></a>
</ul>
<ul>
<li> <a href="0083.html">Daniel Stodden</a> <a name="83"><i>07 Oct 1998 04:03:28 +0200</i></a>
</ul>
<ul>
<li> <a href="0072.html">Dr. Andreas Bolsch</a> <a name="72"><i>Tue, 06 Oct 1998 16:23:19 +0100</i></a>
</ul>
<ul>
<li> <a href="0071.html">becka@rz.uni-duesseldorf.de</a> <a name="71"><i>Tue, 6 Oct 1998 16:50:03 +0200 (MET DST)</i></a>
</ul>
<ul>
<li> <a href="0070.html">Thomas Fischbacher</a> <a name="70"><i>Tue, 6 Oct 1998 16:27:48 +0200 (MESZ)</i></a>
</ul>
<li> <b>libc6_2.0.7u-3/Gimp install problems</b>
<ul>
<li> <a href="0224.html">Mike Nachlinger</a> <a name="224"><i>Wed, 21 Oct 1998 22:41:59 -0700 (PDT)</i></a>
</ul>
<ul>
<li> <a href="0222.html">Mike Nachlinger</a> <a name="222"><i>Wed, 21 Oct 1998 12:35:09 -0700 (PDT)</i></a>
</ul>
<li> <b>Linux handscanner backend ?</b>
<ul>
<li> <a href="0249.html">becka@rz.uni-duesseldorf.de</a> <a name="249"><i>Fri, 23 Oct 1998 09:47:03 +0200 (MET DST)</i></a>
</ul>
<ul>
<li> <a href="0237.html">Tuukka Toivonen</a> <a name="237"><i>Tue, 20 Oct 1998 17:54:23 +0300 (EET DST)</i></a>
</ul>
<li> <b>List broken?</b>
<ul>
<li> <a href="0246.html">Thomas Kluge</a> <a name="246"><i>Fri, 23 Oct 1998 06:30:03 +0200</i></a>
</ul>
<li> <b>Majordomo results</b>
<ul>
<li> <a href="0104.html">Hugo van der Kooij</a> <a name="104"><i>Thu, 8 Oct 1998 07:51:06 +0200 (CEST)</i></a>
</ul>
<ul>
<li> <a href="0096.html">Terry Mackintosh</a> <a name="96"><i>Wed, 7 Oct 1998 12:37:38 -0400 (EDT)</i></a>
</ul>
<li> <b>Majordomo resultst</b>
<ul>
<li> <a href="0106.html">Andreas Dilger</a> <a name="106"><i>Wed, 7 Oct 1998 21:19:19 -0600 (MDT)</i></a>
</ul>
<li> <b>Microtek ScanMaker V300?</b>
<ul>
<li> <a href="0012.html">David B. Rees</a> <a name="12"><i>Sat, 03 Oct 1998 08:50:25 -0700 (PDT)</i></a>
</ul>
<li> <b>Microtek ScanMaker X6EL supported??</b>
<ul>
<li> <a href="0135.html">Bernd Schroeder</a> <a name="135"><i>Tue, 13 Oct 1998 23:36:20 +0200</i></a>
</ul>
<ul>
<li> <a href="0130.html">Brian E. Bothwell</a> <a name="130"><i>Mon, 12 Oct 1998 08:53:41 -0500 (EST)</i></a>
</ul>
<ul>
<li> <a href="0102.html">Bernd Schroeder</a> <a name="102"><i>Wed, 7 Oct 1998 23:05:49 +0200</i></a>
</ul>
<ul>
<li> <a href="0080.html">Brian E. Bothwell</a> <a name="80"><i>Tue, 6 Oct 1998 18:42:04 -0500 (EST)</i></a>
</ul>
<ul>
<li> <a href="0062.html">Brian E. Bothwell</a> <a name="62"><i>Sun, 4 Oct 1998 14:31:37 -0500 (EST)</i></a>
</ul>
<ul>
<li> <a href="0051.html">Bernd Schroeder</a> <a name="51"><i>Sun, 4 Oct 1998 15:10:41 +0200</i></a>
</ul>
<ul>
<li> <a href="0037.html">Brian E. Bothwell</a> <a name="37"><i>Sat, 3 Oct 1998 15:02:45 -0500 (EST)</i></a>
</ul>
<li> <b>Microtek ScanMaker630 broken?</b>
<ul>
<li> <a href="0101.html">Bernd Schroeder</a> <a name="101"><i>Wed, 7 Oct 1998 23:48:55 +0200</i></a>
</ul>
<ul>
<li> <a href="0078.html">Matthias Hessler</a> <a name="78"><i>Tue, 06 Oct 1998 23:50:21 +0200</i></a>
</ul>
<li> <b>Microtek V300, anyone?]</b>
<ul>
<li> <a href="0039.html">Joerg Schilling</a> <a name="39"><i>Sun, 20 Sep 98 23:16:16 +0200</i></a>
</ul>
<li> <b>Microtek2 X6El</b>
<ul>
<li> <a href="0181.html">Bernd Schroeder</a> <a name="181"><i>Sat, 17 Oct 1998 01:06:01 +0200</i></a>
</ul>
<ul>
<li> <a href="0140.html">Mark A Gebert</a> <a name="140"><i>Wed, 07 Oct 1998 19:48:44 -0400</i></a>
</ul>
<li> <b>Minolta QuickScan35</b>
<ul>
<li> <a href="0283.html">David Rose</a> <a name="283"><i>Tue, 27 Oct 1998 11:58:12 -0800</i></a>
</ul>
<ul>
<li> <a href="0281.html">Mathias Koerber</a> <a name="281"><i>Tue, 27 Oct 1998 16:56:36 +0800 (SGT)</i></a>
</ul>
<ul>
<li> <a href="0280.html">Mathias Koerber</a> <a name="280"><i>Tue, 27 Oct 1998 16:56:36 +0800 (SGT)</i></a>
</ul>
<ul>
<li> <a href="0279.html">Mathias Koerber</a> <a name="279"><i>Tue, 27 Oct 1998 16:56:36 +0800 (SGT)</i></a>
</ul>
<ul>
<li> <a href="0278.html">Mathias Koerber</a> <a name="278"><i>Tue, 27 Oct 1998 16:56:36 +0800 (SGT)</i></a>
</ul>
<ul>
<li> <a href="0277.html">Mathias Koerber</a> <a name="277"><i>Tue, 27 Oct 1998 16:56:36 +0800 (SGT)</i></a>
</ul>
<ul>
<li> <a href="0276.html">Mathias Koerber</a> <a name="276"><i>Tue, 27 Oct 1998 16:56:36 +0800 (SGT)</i></a>
</ul>
<ul>
<li> <a href="0275.html">Mathias Koerber</a> <a name="275"><i>Tue, 27 Oct 1998 16:56:36 +0800 (SGT)</i></a>
</ul>
<ul>
<li> <a href="0274.html">Mathias Koerber</a> <a name="274"><i>Tue, 27 Oct 1998 16:56:36 +0800 (SGT)</i></a>
</ul>
<li> <b>Minor typo in sane-net.5 man page</b>
<ul>
<li> <a href="0107.html">Andreas Dilger</a> <a name="107"><i>Wed, 7 Oct 1998 21:45:26 -0600 (MDT)</i></a>
</ul>
<li> <b>Mustek 1200 III SP and color registration</b>
<ul>
<li> <a href="0056.html">Dr. Andreas Bolsch</a> <a name="56"><i>Sun, 04 Oct 1998 15:30:05 +0100</i></a>
</ul>
<ul>
<li> <a href="0053.html">Mitch Chapman</a> <a name="53"><i>Sun, 04 Oct 1998 09:21:38 -0400</i></a>
</ul>
<li> <b>Mustek 12000SP users ?</b>
<ul>
<li> <a href="0141.html">C. Le Cannellier, Pdt LUG Normandie</a> <a name="141"><i>Fri, 9 Oct 1998 11:33:33 +0200</i></a>
</ul>
<li> <b>Mustek backend 0.5</b>
<ul>
<li> <a href="0308.html">Manfred Lemke</a> <a name="308"><i>Sat, 31 Oct 1998 11:46:45 +0100 (CET)</i></a>
</ul>
<ul>
<li> <a href="0263.html">Dr. Andreas Bolsch</a> <a name="263"><i>Sat, 24 Oct 1998 20:27:15 +0100</i></a>
</ul>
<li> <b>mustek color scan problem</b>
<ul>
<li> <a href="0255.html">Dirk Engelmann</a> <a name="255"><i>Fri, 23 Oct 1998 15:32:22 +0200 (CEST)</i></a>
</ul>
<ul>
<li> <a href="0254.html">Dirk Engelmann</a> <a name="254"><i>Fri, 23 Oct 1998 15:09:47 +0200 (CEST)</i></a>
</ul>
<li> <b>Mustek Paragon 1200 III SP</b>
<ul>
<li> <a href="0052.html">Mitch Chapman</a> <a name="52"><i>Sun, 04 Oct 1998 09:21:29 -0400</i></a>
</ul>
<ul>
<li> <a href="0023.html">Boris Epstein</a> <a name="23"><i>Sun, 27 Sep 1998 08:37:41 -0700</i></a>
</ul>
<li> <b>Mustek Paragon 1200 LS</b>
<ul>
<li> <a href="0022.html">David Grote</a> <a name="22"><i>Sun, 26 Jul 1998 20:46:27 -0500</i></a>
</ul>
<ul>
<li> <a href="0016.html">David Grote</a> <a name="16"><i>Sun, 26 Jul 1998 20:42:49 -0500</i></a>
</ul>
<li> <b>mustek parallel</b>
<ul>
<li> <a href="0148.html">Augustin Vidovic</a> <a name="148"><i>Mon, 12 Oct 1998 19:31:22 +0200</i></a>
</ul>
<li> <b>Mustek ScanExpress 12000SP</b>
<ul>
<li> <a href="0064.html">Huub Reuver</a> <a name="64"><i>Sun, 4 Oct 1998 15:53:36 +0200</i></a>
</ul>
<ul>
<li> <a href="0049.html">Oliver Graf</a> <a name="49"><i>04 Oct 1998 12:50:44 +0200</i></a>
</ul>
<ul>
<li> <a href="0018.html">C. Le Cannellier, Pdt LUG Normandie</a> <a name="18"><i>Thu, 24 Sep 1998 22:46:24 +0200</i></a>
</ul>
<li> <b>Mustek Scanexpress 12000SP?</b>
<ul>
<li> <a href="0047.html">Huub Reuver</a> <a name="47"><i>Sat, 3 Oct 1998 20:51:15 +0200</i></a>
</ul>
<ul>
<li> <a href="0043.html">Gunnar Weikamp</a> <a name="43"><i>Sat, 03 Oct 1998 17:12:15 GMT</i></a>
</ul>
<ul>
<li> <a href="0011.html">Johann Hanne</a> <a name="11"><i>Sat, 3 Oct 1998 15:46:22 +0000 (UTC)</i></a>
</ul>
<li> <b>Mustek ScanExpress 6000 SP</b>
<ul>
<li> <a href="0120.html">Thomas Kluge</a> <a name="120"><i>Thu, 8 Oct 1998 20:01:20 +0200</i></a>
</ul>
<ul>
<li> <a href="0084.html">Daniel Stodden</a> <a name="84"><i>07 Oct 1998 03:59:31 +0200</i></a>
</ul>
<ul>
<li> <a href="0074.html">Thomas Kluge</a> <a name="74"><i>Tue, 6 Oct 1998 19:02:22 +0200</i></a>
</ul>
<li> <b>mustek scanexpress 6000p parallelport</b>
<ul>
<li> <a href="0099.html">Rudolf Hatheyer</a> <a name="99"><i>Wed, 07 Oct 1998 19:40:12 +0200</i></a>
</ul>
<li> <b>Mustek scanner on parallel port</b>
<ul>
<li> <a href="0147.html">Simon Schmidig dipl. Architekt</a> <a name="147"><i>Mon, 12 Oct 1998 22:04:37 +0200</i></a>
</ul>
<li> <b>Mustek12000SP</b>
<ul>
<li> <a href="0015.html">C. Le Cannellier, Pdt LUG Normandie</a> <a name="15"><i>Mon, 21 Sep 1998 10:23:11 +0200</i></a>
</ul>
<li> <b>Mustel ScanExpress 12000</b>
<ul>
<li> <a href="0014.html">Erik Beckers</a> <a name="14"><i>Tue, 22 Sep 1998 08:57:40 +0200</i></a>
</ul>
<li> <b>Need a device</b>
<ul>
<li> <a href="0060.html">Oliver Rauch</a> <a name="60"><i>Sun, 04 Oct 1998 19:50:34 +0200</i></a>
</ul>
<ul>
<li> <a href="0021.html">Famille Guyot</a> <a name="21"><i>Sun, 27 Sep 1998 11:36:35 +0200</i></a>
</ul>
<li> <b>need help mustek 600 II N</b>
<ul>
<li> <a href="0085.html">Henning Meier-Geinitz</a> <a name="85"><i>Tue, 6 Oct 1998 19:46:20 +0200</i></a>
</ul>
<ul>
<li> <a href="0035.html">doron tamir</a> <a name="35"><i>Thu, 24 Sep 1998 03:05:32 +0200</i></a>
</ul>
<li> <b>Never been mentioned</b>
<ul>
<li> <a href="0009.html">Chris Sparks</a> <a name="9"><i>Fri, 02 Oct 1998 13:11:38 -0700</i></a>
</ul>
<ul>
<li> <a href="0008.html">Oliver Graf</a> <a name="8"><i>02 Oct 1998 21:17:27 +0200</i></a>
</ul>
<ul>
<li> <a href="0006.html">Chris Sparks</a> <a name="6"><i>Thu, 01 Oct 1998 14:39:49 -0700</i></a>
</ul>
<ul>
<li> <a href="0005.html">Oliver Graf</a> <a name="5"><i>01 Oct 1998 23:29:16 +0200</i></a>
</ul>
<ul>
<li> <a href="0004.html">Chris Sparks</a> <a name="4"><i>Thu, 01 Oct 1998 14:06:20 -0700</i></a>
</ul>
<li> <b>New umax-backend for Astra 1220S (gamma-function)</b>
<ul>
<li> <a href="0211.html">leila belhadjali</a> <a name="211"><i>Mon, 19 Oct 1998 17:35:45 -0700 (PDT)</i></a>
</ul>
<ul>
<li> <a href="0196.html">Peter Rasmussen</a> <a name="196"><i>Sun, 18 Oct 1998 17:09:28 -0400</i></a>
</ul>
<ul>
<li> <a href="0194.html">Oliver Rauch</a> <a name="194"><i>Sun, 18 Oct 1998 22:06:15 +0200</i></a>
</ul>
<ul>
<li> <a href="0191.html">Peter Rasmussen</a> <a name="191"><i>Sun, 18 Oct 1998 11:23:51 -0400</i></a>
</ul>
<ul>
<li> <a href="0183.html">Cory Kempf</a> <a name="183"><i>17 Oct 1998 00:19:22 -0400</i></a>
</ul>
<ul>
<li> <a href="0182.html">Oliver Rauch</a> <a name="182"><i>Sat, 17 Oct 1998 05:49:41 +0200</i></a>
</ul>
<li> <b>New version of Mustek backend - 6000SP, 12000SP</b>
<ul>
<li> <a href="0203.html">Dr. Andreas Bolsch</a> <a name="203"><i>Mon, 19 Oct 1998 11:17:30 +0100</i></a>
</ul>
<ul>
<li> <a href="0195.html">Jani Frilander</a> <a name="195"><i>Sun, 18 Oct 1998 23:25:51 +0300</i></a>
</ul>
<ul>
<li> <a href="0193.html">Dr. Andreas Bolsch</a> <a name="193"><i>Sun, 18 Oct 1998 19:49:15 +0100</i></a>
</ul>
<li> <b>nikon ls film scanners</b>
<ul>
<li> <a href="0288.html">Andreas Tille</a> <a name="288"><i>Wed, 28 Oct 1998 09:59:44 +0100 (MET)</i></a>
</ul>
<li> <b>Nikon LS-20 problem</b>
<ul>
<li> <a href="0133.html">malcolm-sane@cs.york.ac.uk</a> <a name="133"><i>Tue, 13 Oct 1998 16:28:54 +0100</i></a>
</ul>
<li> <b>Nikon or Minolta slide scanner?</b>
<ul>
<li> <a href="0065.html">Ray Clouse</a> <a name="65"><i>Mon, 5 Oct 98 07:39:14 -0700</i></a>
</ul>
<ul>
<li> <a href="0057.html">Mathias Koerber</a> <a name="57"><i>Sun, 4 Oct 1998 10:48:09 +0800</i></a>
</ul>
<ul>
<li> <a href="0048.html">Oliver Graf</a> <a name="48"><i>04 Oct 1998 12:49:16 +0200</i></a>
</ul>
<ul>
<li> <a href="0042.html">David Bartlett</a> <a name="42"><i>Tue, 29 Sep 1998 22:37:20 GMT</i></a>
</ul>
<li> <b>One question</b>
<ul>
<li> <a href="0026.html">Sergiusz Silkowski</a> <a name="26"><i>Wed, 30 Sep 1998 15:51:40 +0200 (CEST)</i></a>
</ul>
<li> <b>OS/2 ant sane 0.74</b>
<ul>
<li> <a href="0117.html">bruno schwander</a> <a name="117"><i>Thu, 08 Oct 1998 09:37:41 +0000</i></a>
</ul>
<ul>
<li> <a href="0114.html">Tobias Ernst</a> <a name="114"><i>Thu, 08 Oct 1998 15:28:48 +0200</i></a>
</ul>
<ul>
<li> <a href="0105.html">Yuri Dario</a> <a name="105"><i>Wed, 07 Oct 1998 23:46:29 +0100</i></a>
</ul>
<ul>
<li> <a href="0097.html">bruno schwander</a> <a name="97"><i>Wed, 07 Oct 1998 09:55:37 +0000</i></a>
</ul>
<ul>
<li> <a href="0087.html">Tobias Ernst</a> <a name="87"><i>Wed, 07 Oct 1998 13:01:08 +0200</i></a>
</ul>
<ul>
<li> <a href="0077.html">Bruno Schwander</a> <a name="77"><i>Tue, 06 Oct 1998 14:28:47 -0700</i></a>
</ul>
<li> <b>Parallel port interface</b>
<ul>
<li> <a href="0266.html">Reeves Hall</a> <a name="266"><i>Sun, 25 Oct 1998 13:45:35 -0600</i></a>
</ul>
<li> <b>parallel port scanner support</b>
<ul>
<li> <a href="0260.html">Jonathan Buzzard</a> <a name="260"><i>Fri, 23 Oct 1998 21:02:43 +0100</i></a>
</ul>
<ul>
<li> <a href="0251.html">Jon Knight</a> <a name="251"><i>Fri, 23 Oct 1998 09:29:21 +0100 (BST)</i></a>
</ul>
<ul>
<li> <a href="0227.html">Marco Foglia</a> <a name="227"><i>Fri, 16 Oct 1998 14:00:21 +0200</i></a>
</ul>
<ul>
<li> <a href="0210.html">Jonathan Buzzard</a> <a name="210"><i>Mon, 19 Oct 1998 20:48:00 +0100</i></a>
</ul>
<li> <b>parallel port support</b>
<ul>
<li> <a href="0244.html">Wolfgang Goeller</a> <a name="244"><i>Fri, 23 Oct 1998 07:02:28 +0200</i></a>
</ul>
<ul>
<li> <a href="0229.html">Hermang Mansilla</a> <a name="229"><i>Mon, 12 Oct 1998 11:48:22 -0500</i></a>
</ul>
<ul>
<li> <a href="0200.html">Hermang Mansilla</a> <a name="200"><i>Mon, 12 Oct 1998 11:48:22 -0500</i></a>
</ul>
<li> <b>parallel port support in general</b>
<ul>
<li> <a href="0207.html">Marco Foglia</a> <a name="207"><i>Mon, 19 Oct 1998 15:14:50 +0200</i></a>
</ul>
<li> <b>Parallelport scanner</b>
<ul>
<li> <a href="0201.html">Oliver Graf</a> <a name="201"><i>16 Oct 1998 11:11:29 +0200</i></a>
</ul>
<ul>
<li> <a href="0176.html">Andreas Czechanowski</a> <a name="176"><i>Fri, 16 Oct 1998 09:43:27 +0200 (METDST)</i></a>
</ul>
<ul>
<li> <a href="0173.html">Oliver Graf</a> <a name="173"><i>15 Oct 1998 08:14:03 +0200</i></a>
</ul>
<ul>
<li> <a href="0154.html">Simon Schmidig dipl. Architekt</a> <a name="154"><i>Wed, 14 Oct 1998 21:30:01 +0200</i></a>
</ul>
<li> <b>Patch for MUSTEK scanner driver</b>
<ul>
<li> <a href="0150.html">Heiko_Schroeder@t-online.de</a> <a name="150"><i>Sun, 11 Oct 1998 17:34:51 +0200 (MEST)</i></a>
</ul>
<li> <b>permissions</b>
<ul>
<li> <a href="0061.html">Oliver Rauch</a> <a name="61"><i>Sun, 04 Oct 1998 19:48:54 +0200</i></a>
</ul>
<ul>
<li> <a href="0031.html">Rick Knebel</a> <a name="31"><i>Wed, 23 Sep 1998 21:37:58 -0400</i></a>
</ul>
<li> <b>Pixels vs. Bytes per Line</b>
<ul>
<li> <a href="0219.html">becka@rz.uni-duesseldorf.de</a> <a name="219"><i>Wed, 21 Oct 1998 03:17:35 +0200 (MEST)</i></a>
</ul>
<ul>
<li> <a href="0215.html">Dr. Andreas Bolsch</a> <a name="215"><i>Tue, 20 Oct 1998 19:54:26 +0100</i></a>
</ul>
<li> <b>Plustek support</b>
<ul>
<li> <a href="0314.html">Rick Bronson</a> <a name="314"><i>Sat, 31 Oct 1998 15:01:46 -0800</i></a>
</ul>
<ul>
<li> <a href="0297.html">David Mosberger-Tang</a> <a name="297"><i>Wed, 28 Oct 1998 22:01:34 -0800</i></a>
</ul>
<ul>
<li> <a href="0296.html">Rick Bronson</a> <a name="296"><i>Wed, 28 Oct 1998 18:16:00 -0800</i></a>
</ul>
<li> <b>pre-release available for testing</b>
<ul>
<li> <a href="0307.html">Oliver Rauch</a> <a name="307"><i>Sat, 31 Oct 1998 12:46:41 +0100</i></a>
</ul>
<ul>
<li> <a href="0306.html">Scott J. Kramer</a> <a name="306"><i>Fri, 30 Oct 1998 23:10:07 -1000</i></a>
</ul>
<ul>
<li> <a href="0305.html">David Mosberger-Tang</a> <a name="305"><i>Fri, 30 Oct 1998 23:42:07 -0800</i></a>
</ul>
<li> <b>Primax</b>
<ul>
<li> <a href="0029.html">pestilence</a> <a name="29"><i>Thu, 01 Oct 1998 10:34:18 +0000</i></a>
</ul>
<li> <b>PRIMAX &amp; Linux -- NO !</b>
<ul>
<li> <a href="0139.html">Jo</a> <a name="139"><i>Wed, 07 Oct 1998 15:24:57 +0200</i></a>
</ul>
<li> <b>problem getting linux to recognize SCSI host adapter</b>
<ul>
<li> <a href="0313.html">Oliver Rauch</a> <a name="313"><i>Sat, 31 Oct 1998 23:58:05 +0100</i></a>
</ul>
<ul>
<li> <a href="0312.html">Mike Mitten</a> <a name="312"><i>31 Oct 1998 22:01:52 -0000</i></a>
</ul>
<li> <b>Problem with a Trust Imagery 4800SP</b>
<ul>
<li> <a href="0202.html">Dr. Andreas Bolsch</a> <a name="202"><i>Mon, 19 Oct 1998 11:05:34 +0100</i></a>
</ul>
<ul>
<li> <a href="0198.html">kicou</a> <a name="198"><i>Sun, 18 Oct 1998 02:41:44 +0200</i></a>
</ul>
<li> <b>Problem with backend/Makefile on SGI IRIX 6.2.</b>
<ul>
<li> <a href="0025.html">ROBERT_REIF@ntsc.navy.mil</a> <a name="25"><i>Wed, 30 Sep 98 09:00:39 EST</i></a>
</ul>
<li> <b>Problems with new Mustek backend...</b>
<ul>
<li> <a href="0209.html">Johann Hanne</a> <a name="209"><i>Mon, 19 Oct 1998 20:33:47 +0000 (UTC)</i></a>
</ul>
<li> <b>Problems with SANE 0.74 for OS/2</b>
<ul>
<li> <a href="0253.html">Tobias Ernst</a> <a name="253"><i>Fri, 23 Oct 1998 10:24:30 +0200</i></a>
</ul>
<li> <b>RE: AGFA Focus scanner backend released</b>
<ul>
<li> <a href="0226.html">Chris Pinkham</a> <a name="226"><i>Sun, 18 Oct 1998 22:57:06 -0400 (EDT)</i></a>
</ul>
<ul>
<li> <a href="0199.html">Chris Pinkham</a> <a name="199"><i>Sun, 18 Oct 1998 22:57:06 -0400 (EDT)</i></a>
</ul>
<li> <b>RE: Artec A6000C problems</b>
<ul>
<li> <a href="0138.html">Chris Pinkham</a> <a name="138"><i>Wed, 14 Oct 1998 10:56:54 -0400 (EDT)</i></a>
</ul>
<li> <b>RE: Coolscan driver produces error at the image border</b>
<ul>
<li> <a href="0264.html">Andreas Tille</a> <a name="264"><i>Fri, 23 Oct 1998 19:43:08 +0200 (METDST)</i></a>
</ul>
<ul>
<li> <a href="0259.html">Didier Carlier</a> <a name="259"><i>Fri, 23 Oct 1998 19:05:29 +0200 (CEST)</i></a>
</ul>
<li> <b>RE: Just a question...</b>
<ul>
<li> <a href="0073.html">A. R. M.</a> <a name="73"><i>Tue, 6 Oct 1998 11:40:05 -0400</i></a>
</ul>
<li> <b>RE: Microtek ScanMaker630 broken?</b>
<ul>
<li> <a href="0079.html">David B. Rees</a> <a name="79"><i>Tue, 06 Oct 1998 16:08:08 -0700 (PDT)</i></a>
</ul>
<li> <b>RE: Mustek 12000SP users ?</b>
<ul>
<li> <a href="0157.html">David B. Rees</a> <a name="157"><i>Wed, 14 Oct 1998 21:58:17 -0700 (PDT)</i></a>
</ul>
<li> <b>RE: nikon ls film scanners</b>
<ul>
<li> <a href="0287.html">Didier Carlier</a> <a name="287"><i>Wed, 28 Oct 1998 09:50:52 +0100 (CET)</i></a>
</ul>
<li> <b>RE: Nikon or Minolta slide scanner?</b>
<ul>
<li> <a href="0054.html">Didier Carlier</a> <a name="54"><i>Sun, 04 Oct 1998 12:34:04 +0200 (CEST)</i></a>
</ul>
<li> <b>RE: UMAX found but xscanimage not working right.</b>
<ul>
<li> <a href="0001.html">A. R. M.</a> <a name="1"><i>Thu, 1 Oct 1998 10:42:54 -0400</i></a>
</ul>
<li> <b>sane 0.74 and os/2 ?</b>
<ul>
<li> <a href="0045.html">bruno schwander</a> <a name="45"><i>Sat, 03 Oct 1998 14:40:49 +0000</i></a>
</ul>
<li> <b>SANE 0.74 patch for HP/UX 10.20</b>
<ul>
<li> <a href="0231.html">Petter Reinholdtsen</a> <a name="231"><i>Mon, 19 Oct 1998 13:34:49 +0200 (METDST)</i></a>
</ul>
<li> <b>Sane 0.75 beta + Mustek 600 II N</b>
<ul>
<li> <a href="0311.html">Johan Bengtsson</a> <a name="311"><i>Sat, 31 Oct 1998 22:32:09 +0100</i></a>
</ul>
<ul>
<li> <a href="0310.html">Dr. Andreas Bolsch</a> <a name="310"><i>Sat, 31 Oct 1998 18:53:32 +0000</i></a>
</ul>
<ul>
<li> <a href="0309.html">Johan Bengtsson</a> <a name="309"><i>Sat, 31 Oct 1998 18:02:42 +0100</i></a>
</ul>
<li> <b>SANE and GNU</b>
<ul>
<li> <a href="0247.html">David Mosberger-Tang</a> <a name="247"><i>Thu, 22 Oct 1998 22:59:34 -0700</i></a>
</ul>
<ul>
<li> <a href="0241.html">Karl Heuer</a> <a name="241"><i>Thu, 22 Oct 1998 17:35:46 -0400</i></a>
</ul>
<li> <b>SANE appearance in slashdot</b>
<ul>
<li> <a href="0302.html">David Mosberger-Tang</a> <a name="302"><i>Fri, 30 Oct 1998 00:46:20 -0800</i></a>
</ul>
<li> <b>SANE on BSDI?</b>
<ul>
<li> <a href="0153.html">Byron Rakitzis</a> <a name="153"><i>Tue, 13 Oct 1998 02:56:25 -0700</i></a>
</ul>
<li> <b>SANE OS/2</b>
<ul>
<li> <a href="0216.html">Dominique Pivard</a> <a name="216"><i>Tue, 20 Oct 1998 23:35:43 +0300</i></a>
</ul>
<li> <b>Sane with Microtek ScanMaker 2</b>
<ul>
<li> <a href="0265.html">Ralph Angenendt</a> <a name="265"><i>Fri, 23 Oct 1998 19:58:36 +0200</i></a>
</ul>
<ul>
<li> <a href="0261.html">Bernd Schroeder</a> <a name="261"><i>Sat, 24 Oct 1998 18:18:24 +0200</i></a>
</ul>
<li> <b>sane-0.63 for SCO</b>
<ul>
<li> <a href="0091.html">ralf@tqe2.iap.physik.tu-darmstadt.de</a> <a name="91"><i>Wed, 7 Oct 98 15:18:54 CETDST</i></a>
</ul>
<li> <b>sane-hp HP 6200/6250</b>
<ul>
<li> <a href="0044.html">Roger Smith</a> <a name="44"><i>Fri, 02 Oct 1998 13:19:37 -0400</i></a>
</ul>
<li> <b>sane-hp w/ ScanJet 6250C</b>
<ul>
<li> <a href="0019.html">Ross J. Reedstrom</a> <a name="19"><i>Sat, 26 Sep 1998 11:37:46 -0500</i></a>
</ul>
<li> <b>Sane/2 (0.74), and Canon 300</b>
<ul>
<li> <a href="0299.html">Simon Thompson</a> <a name="299"><i>Fri, 30 Oct 1998 08:21:57 +1300</i></a>
</ul>
<li> <b>sane: Coolscan driver produces error at the image border</b>
<ul>
<li> <a href="0292.html">Andreas Tille</a> <a name="292"><i>Wed, 28 Oct 1998 12:58:49 +0100 (MET)</i></a>
</ul>
<ul>
<li> <a href="0289.html">Kevin Dalley</a> <a name="289"><i>28 Oct 1998 01:38:58 -0800</i></a>
</ul>
<li> <b>sane: Coolscan driver produces unsharp images</b>
<ul>
<li> <a href="0293.html">Andreas Tille</a> <a name="293"><i>Wed, 28 Oct 1998 12:59:34 +0100 (MET)</i></a>
</ul>
<ul>
<li> <a href="0290.html">Kevin Dalley</a> <a name="290"><i>28 Oct 1998 01:41:16 -0800</i></a>
</ul>
<li> <b>SANE: Supported platforms</b>
<ul>
<li> <a href="0301.html">Mark Onyschuk</a> <a name="301"><i>Thu, 29 Oct 98 16:52:47 -0500</i></a>
</ul>
<li> <b>saned</b>
<ul>
<li> <a href="0108.html">Terry Mackintosh</a> <a name="108"><i>Thu, 8 Oct 1998 10:11:17 -0400 (EDT)</i></a>
</ul>
<li> <b>saned - Problem found</b>
<ul>
<li> <a href="0125.html">becka@rz.uni-duesseldorf.de</a> <a name="125"><i>Fri, 9 Oct 1998 22:44:02 +0200 (MEST)</i></a>
</ul>
<ul>
<li> <a href="0122.html">Matto Marjanovic</a> <a name="122"><i>Thu, 8 Oct 1998 14:47:10 -0400 (EDT)</i></a>
</ul>
<ul>
<li> <a href="0121.html">Terry Mackintosh</a> <a name="121"><i>Thu, 8 Oct 1998 14:23:05 -0400 (EDT)</i></a>
</ul>
<ul>
<li> <a href="0113.html">becka@rz.uni-duesseldorf.de</a> <a name="113"><i>Thu, 8 Oct 1998 17:23:44 +0200 (MET DST)</i></a>
</ul>
<ul>
<li> <a href="0111.html">Terry Mackintosh</a> <a name="111"><i>Thu, 8 Oct 1998 11:03:46 -0400 (EDT)</i></a>
</ul>
<ul>
<li> <a href="0110.html">becka@rz.uni-duesseldorf.de</a> <a name="110"><i>Thu, 8 Oct 1998 16:46:41 +0200 (MET DST)</i></a>
</ul>
<ul>
<li> <a href="0109.html">Terry Mackintosh</a> <a name="109"><i>Thu, 8 Oct 1998 10:45:11 -0400 (EDT)</i></a>
</ul>
<li> <b>saned help needed</b>
<ul>
<li> <a href="0103.html">Terry Mackintosh</a> <a name="103"><i>Wed, 7 Oct 1998 18:42:31 -0400 (EDT)</i></a>
</ul>
<li> <b>Scan Size Clarification and JPEG/whatever format data</b>
<ul>
<li> <a href="0258.html">David Mosberger-Tang</a> <a name="258"><i>Fri, 23 Oct 1998 09:47:57 -0700</i></a>
</ul>
<ul>
<li> <a href="0257.html">Sean Reifschneider</a> <a name="257"><i>Fri, 23 Oct 1998 03:52:30 -0600</i></a>
</ul>
<li> <b>Scanexpress 12000SP?</b>
<ul>
<li> <a href="0131.html">Christian Reiser</a> <a name="131"><i>Mon, 12 Oct 1998 18:44:25 +0200</i></a>
</ul>
<ul>
<li> <a href="0128.html">Thomas Kluge</a> <a name="128"><i>Sun, 11 Oct 1998 17:35:18 +0200</i></a>
</ul>
<li> <b>scanner Mustek 1200CP driver for linux</b>
<ul>
<li> <a href="0177.html">Dr. Andreas Bolsch</a> <a name="177"><i>Fri, 16 Oct 1998 10:43:16 +0100</i></a>
</ul>
<ul>
<li> <a href="0172.html">Robert Geise</a> <a name="172"><i>Thu, 15 Oct 1998 21:22:10 +0200</i></a>
</ul>
<li> <b>Scanner not recognized</b>
<ul>
<li> <a href="0146.html">Nicolas.Gaudilliere</a> <a name="146"><i>Tue, 13 Oct 1998 11:09:09 +0200</i></a>
</ul>
<li> <b>Scanner-Model Mustek 600 II CD -- Problem</b>
<ul>
<li> <a href="0040.html">adam@ifm.uni-hamburg.de</a> <a name="40"><i>Thu, 24 Sep 1998 12:29:37 +0200 (CEST)</i></a>
</ul>
<li> <b>Scanners - SCSI card for ARTEC AT12</b>
<ul>
<li> <a href="0098.html">Dieter Lange</a> <a name="98"><i>Wed, 07 Oct 1998 19:00:00 +0200</i></a>
</ul>
<ul>
<li> <a href="0082.html">Chris Pinkham</a> <a name="82"><i>Tue, 6 Oct 1998 12:53:55 -0400 (EDT)</i></a>
</ul>
<ul>
<li> <a href="0081.html">Raymond A. Ingles</a> <a name="81"><i>Tue, 6 Oct 1998 14:09:32 -0400 (EDT)</i></a>
</ul>
<ul>
<li> <a href="0068.html">Uwe Maier</a> <a name="68"><i>Tue, 6 Oct 1998 13:47:22 +0200 (MET DST)</i></a>
</ul>
<ul>
<li> <a href="0067.html">H C Pumphrey</a> <a name="67"><i>Tue, 6 Oct 1998 12:24:51 +0100 (BST)</i></a>
</ul>
<li> <b>SCO Open Server, scsi device</b>
<ul>
<li> <a href="0160.html">John DuBois</a> <a name="160"><i>Thu, 15 Oct 1998 01:58:22 -0700</i></a>
</ul>
<ul>
<li> <a href="0144.html">ralf@tqe2.iap.physik.tu-darmstadt.de</a> <a name="144"><i>Wed, 7 Oct 98 12:45:29 CETDST</i></a>
</ul>
<li> <b>setting up Mustek MFS-6000SP and aha152x</b>
<ul>
<li> <a href="0030.html">Pawan Jaitly - Negative Entropy to my friends</a> <a name="30"><i>Fri, 02 Oct 1998 15:04:57</i></a>
</ul>
<li> <b>shrinked pict issue</b>
<ul>
<li> <a href="0161.html">Dr. Andreas Bolsch</a> <a name="161"><i>Thu, 15 Oct 1998 10:40:21 +0100</i></a>
</ul>
<ul>
<li> <a href="0143.html">C. Le Cannellier, Pdt LUG Normandie</a> <a name="143"><i>Wed, 7 Oct 1998 16:48:04 +0200</i></a>
</ul>
<li> <b>Strage behavior (MFS-1200SP &amp; sane 0.73)</b>
<ul>
<li> <a href="0123.html">Anthony Mallet</a> <a name="123"><i>Thu,  8 Oct 1998 20:54:13 +0200 (CEST)</i></a>
</ul>
<ul>
<li> <a href="0119.html">Terry Mackintosh</a> <a name="119"><i>Thu, 8 Oct 1998 13:55:12 -0400 (EDT)</i></a>
</ul>
<ul>
<li> <a href="0116.html">Andreas Czechanowski</a> <a name="116"><i>Thu, 8 Oct 1998 18:25:06 +0200 (METDST)</i></a>
</ul>
<ul>
<li> <a href="0115.html">Dr. Andreas Bolsch</a> <a name="115"><i>Thu, 08 Oct 1998 17:24:46 +0100</i></a>
</ul>
<ul>
<li> <a href="0112.html">Anthony Mallet</a> <a name="112"><i>Thu,  8 Oct 1998 17:04:28 +0200 (MET DST)</i></a>
</ul>
<li> <b>subscribe to the mailing list</b>
<ul>
<li> <a href="0017.html">Zmarzlowski</a> <a name="17"><i>Fri, 25 Sep 1998 00:02:14 +0200</i></a>
</ul>
<li> <b>support for Mustek 600 CP</b>
<ul>
<li> <a href="0020.html">Christoph Kies</a> <a name="20"><i>Wed, 23 Sep 1998 19:12:22 +0200</i></a>
</ul>
<li> <b>Sym53c416 driver update</b>
<ul>
<li> <a href="0300.html">David A. Bartold</a> <a name="300"><i>Fri, 30 Oct 1998 04:25:59 +0000</i></a>
</ul>
<li> <b>THough u would like to know</b>
<ul>
<li> <a href="0036.html">Ryan Stapleton</a> <a name="36"><i>Wed, 16 Sep 1998 17:50:01 +0000</i></a>
</ul>
<li> <b>To all UMAX Astra 1220S users</b>
<ul>
<li> <a href="0180.html">Oliver Rauch</a> <a name="180"><i>Fri, 16 Oct 1998 16:48:02 +0200</i></a>
</ul>
<li> <b>Transparency adapter for UMAX 1220S</b>
<ul>
<li> <a href="0129.html">Oliver Rauch</a> <a name="129"><i>Sun, 11 Oct 1998 17:00:17 +0200</i></a>
</ul>
<ul>
<li> <a href="0127.html">Peter Rasmussen</a> <a name="127"><i>Sat, 10 Oct 1998 23:07:27 -0400</i></a>
</ul>
<li> <b>Twain &lt;&gt; SANE ?</b>
<ul>
<li> <a href="0178.html">Danilo Godec</a> <a name="178"><i>Fri, 16 Oct 1998 16:15:24 +0200 (MET DST)</i></a>
</ul>
<li> <b>umax 1220s question</b>
<ul>
<li> <a href="0164.html">Cory Kempf</a> <a name="164"><i>15 Oct 1998 09:10:15 -0400</i></a>
</ul>
<ul>
<li> <a href="0163.html">Michael K. Johnson</a> <a name="163"><i>Thu, 15 Oct 1998 08:01:47 -0400</i></a>
</ul>
<ul>
<li> <a href="0159.html">Oliver Rauch</a> <a name="159"><i>Thu, 15 Oct 1998 09:42:20 +0200</i></a>
</ul>
<ul>
<li> <a href="0152.html">tlailax</a> <a name="152"><i>Sat, 10 Oct 1998 18:21:23 +0000</i></a>
</ul>
<li> <b>Umax 1220s scans 'dark'.</b>
<ul>
<li> <a href="0291.html">Kevin Dalley</a> <a name="291"><i>28 Oct 1998 02:02:39 -0800</i></a>
</ul>
<ul>
<li> <a href="0179.html">Oliver Rauch</a> <a name="179"><i>Fri, 16 Oct 1998 16:49:07 +0200</i></a>
</ul>
<ul>
<li> <a href="0169.html">Cory Kempf</a> <a name="169"><i>15 Oct 1998 16:17:06 -0400</i></a>
</ul>
<ul>
<li> <a href="0168.html">leila belhadjali</a> <a name="168"><i>Thu, 15 Oct 1998 12:20:06 -0700 (PDT)</i></a>
</ul>
<ul>
<li> <a href="0166.html">Oliver Rauch</a> <a name="166"><i>Thu, 15 Oct 1998 18:18:22 +0200</i></a>
</ul>
<ul>
<li> <a href="0165.html">leila belhadjali</a> <a name="165"><i>Thu, 15 Oct 1998 09:08:13 -0700 (PDT)</i></a>
</ul>
<li> <b>UMAX found but xscanimage not working right.</b>
<ul>
<li> <a href="0010.html">Kevin Dalley</a> <a name="10"><i>02 Oct 1998 13:51:28 -0700</i></a>
</ul>
<ul>
<li> <a href="0002.html">Oliver Rauch</a> <a name="2"><i>Thu, 01 Oct 1998 22:32:12 +0200</i></a>
</ul>
<li> <b>UMAX Vista-T630</b>
<ul>
<li> <a href="0285.html">Oliver Rauch</a> <a name="285"><i>Wed, 28 Oct 1998 03:46:56 +0100</i></a>
</ul>
<li> <b>unsupported scanner-model</b>
<ul>
<li> <a href="0245.html">Wolfgang Goeller</a> <a name="245"><i>Fri, 23 Oct 1998 07:06:34 +0200</i></a>
</ul>
<ul>
<li> <a href="0208.html">Volker Beyerle</a> <a name="208"><i>Mon, 19 Oct 98 15:51:49 </i></a>
</ul>
<ul>
<li> <a href="0206.html">Dr. Andreas Bolsch</a> <a name="206"><i>Mon, 19 Oct 1998 13:02:54 +0100</i></a>
</ul>
<ul>
<li> <a href="0205.html">Volker Beyerle</a> <a name="205"><i>Mon, 19 Oct 98 13:50:35 </i></a>
</ul>
<ul>
<li> <a href="0204.html">Dr. Andreas Bolsch</a> <a name="204"><i>Mon, 19 Oct 1998 11:29:27 +0100</i></a>
</ul>
<li> <b>Using PINT backend</b>
<ul>
<li> <a href="0000.html">Mr Ada</a> <a name="0"><i>Thu, 01 Oct 1998 02:21:18 -0700</i></a>
</ul>
<li> <b>Version 0.74</b>
<ul>
<li> <a href="0069.html">Remko Faes</a> <a name="69"><i>Sun, 04 Oct 1998 11:57:36 +0100</i></a>
</ul>
<li> <b>video4linux and sane?</b>
<ul>
<li> <a href="0145.html">Mark Spencer</a> <a name="145"><i>Wed, 7 Oct 1998 12:53:17 -0500 (CDT)</i></a>
</ul>
<li> <b>When is next SANE version released?</b>
<ul>
<li> <a href="0228.html">Petter Reinholdtsen</a> <a name="228"><i>Mon, 19 Oct 1998 18:09:04 +0200 (METDST)</i></a>
</ul>
<li> <b>XPhotocopy question</b>
<ul>
<li> <a href="0190.html">Oliver Rauch</a> <a name="190"><i>Sun, 18 Oct 1998 10:59:20 +0200</i></a>
</ul>
<ul>
<li> <a href="0188.html">Tobias Ernst</a> <a name="188"><i>Sat, 17 Oct 1998 18:30:38 +0200</i></a>
</ul>
<ul>
<li> <a href="0184.html">Oliver Rauch</a> <a name="184"><i>Sat, 17 Oct 1998 11:16:31 +0200</i></a>
</ul>
<li> <b>xscanimage works, scanimage not (Umax Astra 1220S)</b>
<ul>
<li> <a href="0186.html">Peter Daum</a> <a name="186"><i>Sat, 17 Oct 1998 11:58:16 +0200 (MET DST)</i></a>
</ul>
<ul>
<li> <a href="0185.html">Peter Daum</a> <a name="185"><i>Sat, 17 Oct 1998 11:58:16 +0200 (MET DST)</i></a>
</ul>
<ul>
<li> <a href="0132.html">Thomas Kluge</a> <a name="132"><i>Tue, 13 Oct 1998 14:45:57 +0200</i></a>
</ul>
<li> <b>your mail</b>
<ul>
<li> <a href="0217.html">Jean-Baptiste Nivoit</a> <a name="217"><i>Mon, 19 Oct 1998 11:34:38 -0400</i></a>
</ul>
<ul>
<li> <a href="0214.html">becka@rz.uni-duesseldorf.de</a> <a name="214"><i>Tue, 20 Oct 1998 22:02:03 +0200 (MEST)</i></a>
</ul>
</ul>
<p>
<b>Last message date:</b> <i>Sun 01 Nov 1998 - 16:02:39 PST</i><br>
<b>Archived on:</b> <i>Sat Oct 31 1998 - 16:04:36 PST</i><p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#start">[ date ]</a><a href="index.html#start">[ thread ]</a><a href="author.html#start">[ author ]</a>
<li> <b><a href="..">Other mail archives</a></b>
</ul>
<p>
<hr>
<i>This archive was generated by <a href="http://www.eit.com/software/hypermail/hypermail.html">hypermail 1.02</a>.</i>
