<!-- received="Mon Jun  1 11:36:58 1998 PDT" -->
<!-- sent="Mon, 1 Jun 1998 20:14:36 +0200 (MET DST)" -->
<!-- name="Oliver.Rauch@Wolfsburg.DE" -->
<!-- email="Oliver.Rauch@Wolfsburg.DE" -->
<!-- subject="Re: sane &amp; umac-astra 610s" -->
<!-- id="199806011814.UAA00477@Babylon5.wolfsburg.de" -->
<!-- inreplyto="XFMail.980531203244.akiraly@studi.unizh.ch" -->
<title>sane-devel: Re: sane &amp; umac-astra 610s</title>
<h1>Re: sane &amp; umac-astra 610s</h1>
<a href="mailto:Oliver.Rauch@Wolfsburg.DE"><i>Oliver.Rauch@Wolfsburg.DE</i></a><br>
<i>Mon, 1 Jun 1998 20:14:36 +0200 (MET DST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#8">[ date ]</a><a href="index.html#8">[ thread ]</a><a href="subject.html#8">[ subject ]</a><a href="author.html#8">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0009.html">Christer Weinigel: "Original HP ScanJet driver"</a>
<li> <b>Previous message:</b> <a href="0007.html">John Warren Duprey: "Re: no SANE devices found.."</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi<br>
<p>
<i>&gt; NCR 810 hostadapter</i><br>
<p>
Please use the BSD-NCR-8X0 driver, then everything should work fine!<br>
<p>
Bye<br>
Oliver<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0009.html">Christer Weinigel: "Original HP ScanJet driver"</a>
<li> <b>Previous message:</b> <a href="0007.html">John Warren Duprey: "Re: no SANE devices found.."</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
