<!-- received="Wed Jun  3 22:01:05 1998 PDT" -->
<!-- sent="Wed, 03 Jun 1998 23:15:09 -0300" -->
<!-- name="Gregory McLean" -->
<!-- email="gregm@comstar.net" -->
<!-- subject="Re: GNOME SANE 0.73" -->
<!-- id="199806040315.XAA12635@tweetie.comstar.net" -->
<!-- inreplyto="GNOME SANE 0.73" -->
<title>sane-devel: Re: GNOME SANE 0.73</title>
<h1>Re: GNOME SANE 0.73</h1>
<b>Gregory McLean</b> (<a href="mailto:gregm@comstar.net"><i>gregm@comstar.net</i></a>)<br>
<i>Wed, 03 Jun 1998 23:15:09 -0300</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#22">[ date ]</a><a href="index.html#22">[ thread ]</a><a href="subject.html#22">[ subject ]</a><a href="author.html#22">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0023.html">Ole Gerden: "Re: [PATCH] Fix re: Mustek Scan Express 12000SP Problems"</a>
<li> <b>Previous message:</b> <a href="0021.html">Cindy Sherman: "Re: no SANE devices found.."</a>
<li> <b>Maybe in reply to:</b> <a href="0017.html">Craig Small: "GNOME SANE 0.73"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0042.html">Tom Tromey: "Re: GNOME SANE 0.73"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt; G'day All,</i><br>
<i>&gt;   SANE (the gtk version) has upped from version 0.72 to 0.73.  I have, I</i><br>
<i>&gt; think, successfully merged in those changes and put them into the CVS</i><br>
<i>&gt; tree.</i><br>
<i>&gt; </i><br>
<i>&gt; I also have gnome-ified the messagebox and the progress window, plus</i><br>
<i>&gt; added some little tweaks here and there. Oh, and the properties are</i><br>
<i>&gt; back in.</i><br>
<i>&gt; </i><br>
<i>&gt; Something has gone wrong with the help menu, if someone can work out what</i><br>
<i>&gt; please let me know.  I have the about item but all the gnome-help stuff is</i><br>
<i>&gt; now missing; wierdness.</i><br>
<i>&gt; </i><br>
<i>&gt; I would like people to test this, it's cvs module 'sane', specifically:</i><br>
<i>&gt;   * Does it work with your scanner (I don't own one)?</i><br>
Hp Scanner works just fine.<br>
<i>&gt;   * Does it work as a gimp plugin?</i><br>
Buzz. Nope:<br>
[gregm@tweetie gregm]$ gimp<br>
xscanimage: Too many arguments<br>
Try `xscanimage --help' or `xscanimage --usage' for more information.<br>
wire_read: unexpected EOF (plug-in crashed?)<br>
<p>
<i>&gt;   * Does the autconf thingo work for you?</i><br>
Yep<br>
<i>&gt;   * Any suggestions?</i><br>
Make it work with gimp again? :)<br>
<i>&gt; </i><br>
<i>&gt;     - Craig</i><br>
<i>&gt; </i><br>
<i>&gt; PS: Is there one 'correct way' to merge in an upstream tar file into my</i><br>
<i>&gt; CVS directories?</i><br>
<i>&gt; </i><br>
<i>&gt; -- </i><br>
<i>&gt; Craig Small VK2XLZ, PGP: AD 8D D8 63 6E BF C3 C7  47 41 B1 A2 1F 46 EC 90</i><br>
<i>&gt; |@work: csmall@scooter.o.i.net,            @play: vk2xlz@vk2xlz.ampr.org|</i><br>
<i>&gt; |@home: csmall@small.dropbear.id.au,           @debian:csmall@debian.org|</i><br>
<i>&gt; |@web: <a href="http://www.triode.net.au/~csmall">http://www.triode.net.au/~csmall</a>             @spam:root@localhost| </i><br>
<i>&gt; </i><br>
<i>&gt; </i><br>
<i>&gt; -- </i><br>
<i>&gt;          To unsubscribe: mail <a href="mailto:gnome-hackers-request@gnome.org">gnome-hackers-request@gnome.org</a> with </i><br>
<i>&gt;                        "unsubscribe" as the Subject.</i><br>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0023.html">Ole Gerden: "Re: [PATCH] Fix re: Mustek Scan Express 12000SP Problems"</a>
<li> <b>Previous message:</b> <a href="0021.html">Cindy Sherman: "Re: no SANE devices found.."</a>
<li> <b>Maybe in reply to:</b> <a href="0017.html">Craig Small: "GNOME SANE 0.73"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0042.html">Tom Tromey: "Re: GNOME SANE 0.73"</a>
<!-- reply="end" -->
</ul>
