<!-- received="Thu Jun  4 11:40:25 1998 PDT" -->
<!-- sent="Thu, 4 Jun 1998 11:11:32 -0700 (MST)" -->
<!-- name="Shawn Rutledge" -->
<!-- email="ecloud@goodnet.com" -->
<!-- subject="Re: TWAIN support in JMF? (fwd)" -->
<!-- id="199806041811.LAA26823@goodnet.com" -->
<!-- inreplyto="TWAIN support in JMF? (fwd)" -->
<title>sane-devel: Re: TWAIN support in JMF? (fwd)</title>
<h1>Re: TWAIN support in JMF? (fwd)</h1>
<b>Shawn Rutledge</b> (<a href="mailto:ecloud@goodnet.com"><i>ecloud@goodnet.com</i></a>)<br>
<i>Thu, 4 Jun 1998 11:11:32 -0700 (MST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#32">[ date ]</a><a href="index.html#32">[ thread ]</a><a href="subject.html#32">[ subject ]</a><a href="author.html#32">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0033.html">Jeff Freedman: "Re: TWAIN support in JMF? (fwd)"</a>
<li> <b>Previous message:</b> <a href="0031.html">Matto Marjanovic: "Re: new UMAX-Patch available"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
JMF has no scanner support yet.  I put in a plug for Sane.  Seems to me <br>
if it could be ported (and I think I heard that that is possible) to Windows<br>
and the Mac, it would be a great thing to build the Java interface on top of,<br>
and get Sane firmly entrenched as well.  <br>
<p>
I don't think I'm on this list anymore (in fact I forget if this is the <br>
list address?) so please CC me on replies.  Joining the JMF-interest list<br>
might also be a good idea if you wish to pursue this.<br>
<p>
Forwarded message:<br>
<i>&gt; From <a href="mailto:timur@io.com">timur@io.com</a> Thu Jun  4 11:05:41 1998</i><br>
<i>&gt; X-Authentication-Warning: pentagon.io.com: timur owned process doing -bs</i><br>
<i>&gt; Date: Thu, 4 Jun 1998 13:05:32 -0500 (CDT)</i><br>
<i>&gt; From: Timur Tabi &lt;<a href="mailto:timur@io.com">timur@io.com</a>&gt;</i><br>
<i>&gt; To: Shawn Rutledge &lt;<a href="mailto:ecloud@goodnet.com">ecloud@goodnet.com</a>&gt;</i><br>
<i>&gt; cc: <a href="mailto:jmf-interest@Sun.COM">jmf-interest@Sun.COM</a></i><br>
<i>&gt; Subject: Re: TWAIN support in JMF?  </i><br>
<i>&gt; In-Reply-To: &lt;<a href="mailto:199806032002.NAA26970@goodnet.com">199806032002.NAA26970@goodnet.com</a>&gt;</i><br>
<i>&gt; Message-ID: &lt;<a href="mailto:Pine.BSI.3.96.980604130323.678B-100000@pentagon.io.com">Pine.BSI.3.96.980604130323.678B-100000@pentagon.io.com</a>&gt;</i><br>
<i>&gt; MIME-Version: 1.0</i><br>
<i>&gt; Content-Type: TEXT/PLAIN; charset=US-ASCII</i><br>
<i>&gt; </i><br>
<i>&gt; On Wed, 3 Jun 1998, Shawn Rutledge wrote:</i><br>
<i>&gt; </i><br>
<i>&gt; &gt;&gt; I searched all the archives and the product API pages, but</i><br>
<i>&gt; &gt;&gt; haven't come across anything covering this.  Will there</i><br>
<i>&gt; &gt;&gt; be TWAIN scanner/camera support in JMF?</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt;Or perhaps more importantly, SANE support... SANE is the equivalent cross-</i><br>
<i>&gt; &gt;platform API.  It runs on most Unices and could potentially be ported to</i><br>
<i>&gt; &gt;Windows as well.  See <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>  It also supports </i><br>
<i>&gt; &gt;digital cameras BTW.</i><br>
<i>&gt; </i><br>
<i>&gt; FYI, SANE (as well as two versions of TWAIN) also exists on OS/2.</i><br>
<i>&gt; However, since I there isn't a Java scanner API, any Java solution would</i><br>
<i>&gt; be platform-specific.  I think this level of device communication (being</i><br>
<i>&gt; able to scan SCSI, parallel, and USB ports for devices) doesn't quite</i><br>
<i>&gt; exist yet in Java.</i><br>
<i>&gt; </i><br>
<i>&gt; --</i><br>
<i>&gt; Timur Tabi, <a href="mailto:timur@io.com">timur@io.com</a>, <a href="http://www.io.com/~timur/index.html">http://www.io.com/~timur/index.html</a></i><br>
<i>&gt; THE OS/2 Programming Page: <a href="http://www.edm2.com/common/links.html">http://www.edm2.com/common/links.html</a></i><br>
<i>&gt; </i><br>
<i>&gt; ... In Windows 95, no one can hear you scream</i><br>
<i>&gt; </i><br>
<i>&gt; </i><br>
<p>
<p>
<pre>
-- 
  _______                      KB7PWD @ KC7Y.AZ.US.NOAM   ecloud@goodnet.com
 (_  | |_)   Shawn T. Rutledge    on the web: <a href="http://www.goodnet.com/~ecloud">http://www.goodnet.com/~ecloud</a>
 __) | | \__________________________________________________________________
* VRML * electronics * Gravis Ultrasound * Khoros * emusic * X window * 
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0033.html">Jeff Freedman: "Re: TWAIN support in JMF? (fwd)"</a>
<li> <b>Previous message:</b> <a href="0031.html">Matto Marjanovic: "Re: new UMAX-Patch available"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
