<!-- received="Thu Jun 11 10:42:23 1998 PDT" -->
<!-- sent="Thu, 11 Jun 1998 10:41:22 -0700" -->
<!-- name="Michael Polo" -->
<!-- email="mikep@Polo.NET" -->
<!-- subject="simple change..." -->
<!-- id="199806111741.KAA01772@enigma.Polo.NET" -->
<!-- inreplyto="" -->
<title>sane-devel: simple change...</title>
<h1>simple change...</h1>
<b>Michael Polo</b> (<a href="mailto:mikep@Polo.NET"><i>mikep@Polo.NET</i></a>)<br>
<i>Thu, 11 Jun 1998 10:41:22 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#92">[ date ]</a><a href="index.html#92">[ thread ]</a><a href="subject.html#92">[ subject ]</a><a href="author.html#92">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0093.html">becka@rz.uni-duesseldorf.de: "Re: os/2 and Parallel scanners"</a>
<li> <b>Previous message:</b> <a href="0091.html">erikyyy@studbox.uni-stuttgart.de: "QV-*forgotten somethig"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Do you think we could add a (possibly blank)<br>
<p>
/usr/local/etc/sane.d/saned.conf<br>
<p>
file?  Maybe with just a few comments like:<br>
<p>
# add the names of remote systems that will<br>
# be permitted to access the local scanner<br>
# through the saned daemon here, one per line<br>
<p>
(you could probably word it better than that)<br>
<p>
When I reinstalled, I got bitten because I forgot to<br>
create this file, which doesn't exist in the standard<br>
distribution.<br>
<p>
It took a while to determine what was going wrong - I<br>
was checking the wrong things until I noticed the<br>
denied messages in the remote system syslog, which is<br>
headless. It would also fit with the way the other<br>
config files were implemented.<br>
<p>
Thanks!<br>
Mike<br>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0093.html">becka@rz.uni-duesseldorf.de: "Re: os/2 and Parallel scanners"</a>
<li> <b>Previous message:</b> <a href="0091.html">erikyyy@studbox.uni-stuttgart.de: "QV-*forgotten somethig"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
