<!-- received="Sun Jun 21 05:04:57 1998 PDT" -->
<!-- sent="Sun, 21 Jun 1998 12:13:54 +0200 (MET DST)" -->
<!-- name="becka@rz.uni-duesseldorf.de" -->
<!-- email="becka@rz.uni-duesseldorf.de" -->
<!-- subject="Re: UMax 1220S" -->
<!-- id="m0ynh8F-0000XLC@charon.beck-sw.de" -->
<!-- inreplyto="199806201845.LAA32094@saul9.u.washington.edu" -->
<title>sane-devel: Re: UMax 1220S</title>
<h1>Re: UMax 1220S</h1>
<a href="mailto:becka@rz.uni-duesseldorf.de"><i>becka@rz.uni-duesseldorf.de</i></a><br>
<i>Sun, 21 Jun 1998 12:13:54 +0200 (MET DST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#176">[ date ]</a><a href="index.html#176">[ thread ]</a><a href="subject.html#176">[ subject ]</a><a href="author.html#176">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0177.html">Gunnar Weikamp: "Mustek Scanner 12000SP gives wrong SCSI-Information"</a>
<li> <b>Previous message:</b> <a href="0175.html">Antal Novak: "backend development"</a>
<li> <b>In reply to:</b> <a href="0173.html">Zach Fine: "Re: UMax 1220S"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0174.html">Nicolas Lucas de Peslouan: "Re: UMax 1220S"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi !<br>
<p>
<i>&gt;     Jim&gt; Why does my scanner provide resolutions up to 9600 dpi when</i><br>
<i>&gt;     Jim&gt; the default resolution for photos seems to be 100 and OCR</i><br>
<i>&gt;     Jim&gt; 300? What use is 9600 - scanning postage stamps?</i><br>
<p>
*grin* Marketing.<br>
<p>
<i>&gt; FWIW, most consumer level scanners on the market scan with a maximum</i><br>
<i>&gt; optical resolution of 300-600dpi.  Many scanners are marketed with</i><br>
<i>&gt; such claims as "scans at up to 9600dpi (interpolated)". This is a</i><br>
<i>&gt; joke, false advertising, and ought to be illegal. </i><br>
<p>
Yep. The problem probably is, that most law-folks do not understand<br>
the technical details ...<br>
 <br>
<i>&gt; Interpolation is a process of creating a new pixel based on the pixels</i><br>
<i>&gt; surrounding it.  Interpolation can look ok at low levels, but it is</i><br>
<i>&gt; not adding any real, captured information to your scanned image. I'm</i><br>
<i>&gt; always surprised that the marketing folk stop at 9600dpi, they might</i><br>
<i>&gt; as well advertise "scans at 1billion dpi (interpolated)", since</i><br>
<i>&gt; besides disk and memory space, there's no limit to how many</i><br>
<i>&gt; interpolated pixels can be added to a scan.</i><br>
<p>
Well - maybe someone with a clue about physics might jump in, then.<br>
<p>
There is actually a hard limit on achievable _real_ (not interpolated)<br>
resolution. Except for some paranoid exceptions (SNOM for those that<br>
are interested), any optical system is limited by diffraction.<br>
<p>
That means, that you cannot resolve structures below the wavelength<br>
of the light you are using to look at it.<br>
<p>
Visible light ranges at around 400-700nm. Let's have a look at the<br>
red component (longest wavelength) and assume we look at a bright red<br>
at 620nm.<br>
<p>
Now there is a simple calculation:<br>
<p>
MaxDPI = 1 Inch / MinimumDotSize <br>
<p>
MaxDPI = 25.4 mm / 620nm = 25.4e-3 / 620e-9 = 25.4/620 * 1e+6 = 40968.<br>
<p>
That means the marketing folks have only two numbers left, if they don't <br>
want to advertise beyond physical limits of real achieveable resolution :<br>
19200 and 38400 (assuming they keep going up in *2 increments).<br>
<p>
So I assume the 9600 is chosen, because it has the nice "9" as the<br>
first digit (you know - something beginning with a 9 must be pretty <br>
high ... :-).<br>
<p>
CU,Andy<br>
<p>
<pre>
-- 
= Andreas Beck                    |  Email :  &lt;<a href="mailto:andreas.beck@ggi-project.org">andreas.beck@ggi-project.org</a>&gt; =
========  GGI - The Right Thing To Do : <a href="http://www.ggi-project.org/">http://www.ggi-project.org/</a>   ========
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0177.html">Gunnar Weikamp: "Mustek Scanner 12000SP gives wrong SCSI-Information"</a>
<li> <b>Previous message:</b> <a href="0175.html">Antal Novak: "backend development"</a>
<li> <b>In reply to:</b> <a href="0173.html">Zach Fine: "Re: UMax 1220S"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0174.html">Nicolas Lucas de Peslouan: "Re: UMax 1220S"</a>
<!-- reply="end" -->
</ul>
