<!-- received="Tue Jun 23 13:23:09 1998 PDT" -->
<!-- sent="Tue, 23 Jun 1998 16:22:13 -0400" -->
<!-- name="Christoph Doerbeck" -->
<!-- email="doerbeck@dma.isg.mot.com" -->
<!-- subject="Re: Backend overview page" -->
<!-- id="199806232022.QAA17054@prospero.dma.isg.mot.com" -->
<!-- inreplyto="Backend overview page" -->
<title>sane-devel: Re: Backend overview page</title>
<h1>Re: Backend overview page</h1>
<b>Christoph Doerbeck</b> (<a href="mailto:doerbeck@dma.isg.mot.com"><i>doerbeck@dma.isg.mot.com</i></a>)<br>
<i>Tue, 23 Jun 1998 16:22:13 -0400</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#194">[ date ]</a><a href="index.html#194">[ thread ]</a><a href="subject.html#194">[ subject ]</a><a href="author.html#194">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0195.html">Martin Huber: "Re: support for slides on hp scanjet 4"</a>
<li> <b>Previous message:</b> <a href="0193.html">Matto Marjanovic: "Re: Backend overview page"</a>
<li> <b>Maybe in reply to:</b> <a href="0189.html">Hugo van der Kooij: "Backend overview page"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0196.html">Rob Fargher: "Re: Backend overview page"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt; Any reasonable, short, convenient name would do (not .c, .h, or .conf, for</i><br>
<i>&gt;  sure).</i><br>
<i>&gt; </i><br>
<i>&gt; ".sspec" maybe?  (Short for "SANE Spec", since sane-spec is the name of</i><br>
<i>&gt;  elisp stuff which does the processing?)</i><br>
<i>&gt; </i><br>
<i>&gt; ".sinfo"?  ".stuff"?  :)</i><br>
<i>&gt; </i><br>
<i>&gt; -matt m.</i><br>
<i>&gt; </i><br>
<p>
How about ".detail" or better yet... ".doc" ?<br>
<p>
<p>
- Christoph<br>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0195.html">Martin Huber: "Re: support for slides on hp scanjet 4"</a>
<li> <b>Previous message:</b> <a href="0193.html">Matto Marjanovic: "Re: Backend overview page"</a>
<li> <b>Maybe in reply to:</b> <a href="0189.html">Hugo van der Kooij: "Backend overview page"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0196.html">Rob Fargher: "Re: Backend overview page"</a>
<!-- reply="end" -->
</ul>
