<!-- received="Sun Jan  3 10:00:39 1999 PST" -->
<!-- sent="Sun, 03 Jan 1999 18:59:25 +0100" -->
<!-- name="Oliver Rauch" -->
<!-- email="oliver.rauch@Wolfsburg.DE" -->
<!-- subject="Re: Problems compiling" -->
<!-- id="09" -->
<!-- inreplyto="Problems compiling" -->
<title>sane-devel: Re: Problems compiling</title>
<h1>Re: Problems compiling</h1>
<b>Oliver Rauch</b> (<a href="mailto:oliver.rauch@Wolfsburg.DE"><i>oliver.rauch@Wolfsburg.DE</i></a>)<br>
<i>Sun, 03 Jan 1999 18:59:25 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#27">[ date ]</a><a href="index.html#27">[ thread ]</a><a href="subject.html#27">[ subject ]</a><a href="author.html#27">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0028.html">Gordon Scott: "Re: OCR?"</a>
<li> <b>Previous message:</b> <a href="0026.html">Hugo van der Kooij: "Re: Problems compiling"</a>
<li> <b>Maybe in reply to:</b> <a href="0023.html">Michael J Surette: "Problems compiling"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0032.html">Guy G. Sotomayor: "Re: Problems compiling"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Dirk von Suchodoletz wrote:<br>
<p>
<i>&gt; On Sun, 3 Jan 1999, Michael J Surette wrote:</i><br>
<i>&gt;</i><br>
<i>&gt; &gt; I am running Stampede Linux w/2.0.26 kernel and pgcc -2.91.57.  I am</i><br>
<i>&gt; &gt; trying to compile sane-1.00.</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt; On my first try backend/abaton.c gave me an error on line 1116.  I changed</i><br>
<i>&gt; &gt; it from...</i><br>
<i>&gt; &gt;           s-&gt;val[OPT_X_RESOLUTION] = *(SANE_Word *)val;</i><br>
<i>&gt; &gt; to...</i><br>
<i>&gt; &gt;           s-&gt;val[OPT_X_RESOLUTION].w = *(SANE_Word *)val;</i><br>
<i>&gt; &gt; and that file gave me no more problems.</i><br>
<i>&gt;</i><br>
<i>&gt; YES :-) It's compiling on my system now (Suse 6.0, EGCS-Compiler, glibc2).</i><br>
<i>&gt;</i><br>
<i>&gt; &gt; umax.c now gives me a 'virtual memory exhausted' error (see below).  I</i><br>
<i>&gt; &gt; have 32Mb of ram and a 64Mb swap partition.  Shouldn't this be enough?</i><br>
<i>&gt; &gt; Any ideas?</i><br>
<i>&gt;</i><br>
<i>&gt; No, but had the same problem.</i><br>
<p>
Hi,<br>
<p>
read PROBLEMS in the sane directory!<br>
<p>
Bye<br>
Oliver<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0028.html">Gordon Scott: "Re: OCR?"</a>
<li> <b>Previous message:</b> <a href="0026.html">Hugo van der Kooij: "Re: Problems compiling"</a>
<li> <b>Maybe in reply to:</b> <a href="0023.html">Michael J Surette: "Problems compiling"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0032.html">Guy G. Sotomayor: "Re: Problems compiling"</a>
<!-- reply="end" -->
</ul>
