<!-- received="Mon Jan  4 10:26:00 1999 PST" -->
<!-- sent="Mon, 4 Jan 1999 18:28:13 +0000 (GMT)" -->
<!-- name="Nick Lamb" -->
<!-- email="njl98r@ecs.soton.ac.uk" -->
<!-- subject="Re: TWAIN - SANE interface : announce" -->
<!-- id="" -->
<!-- inreplyto="369101AE.D03745E1@videotron.ca" -->
<title>sane-devel: Re: TWAIN - SANE interface : announce</title>
<h1>Re: TWAIN - SANE interface : announce</h1>
<b>Nick Lamb</b> (<a href="mailto:njl98r@ecs.soton.ac.uk"><i>njl98r@ecs.soton.ac.uk</i></a>)<br>
<i>Mon, 4 Jan 1999 18:28:13 +0000 (GMT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#51">[ date ]</a><a href="index.html#51">[ thread ]</a><a href="subject.html#51">[ subject ]</a><a href="author.html#51">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0052.html">Andre Couture: "Re: TWAIN - SANE interface : announce"</a>
<li> <b>Previous message:</b> <a href="0050.html">Martin Spott: "AGFA StudioScan IIsi"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Mon, 4 Jan 1999, Andre Couture wrote:<br>
<p>
<i>&gt; Hi there,</i><br>
<i>&gt; </i><br>
<i>&gt; I got it, but having problmes with the artec backend.</i><br>
<i>&gt; </i><br>
<i>&gt; It seem that the BRIGHTNESS and some other options are not always supported</i><br>
<i>&gt; by some backends.</i><br>
<i>&gt; I think that, if the options are left to '0' you should not try to set them.</i><br>
<i>&gt; I've experimented with "bypassing" the BRIGHTNESS from the backend and works</i><br>
<i>&gt; better.</i><br>
<i>&gt; But that sould be changed from the "frontend" which in this case is TWAIN.</i><br>
<p>
If the artec backend reports an option "BRIGHTNESS", but when you set it,<br>
falls over or does something stupid, then it is broken. If the TWAIN<br>
frontend, which I've yet to test, puts lots of options up regardless of<br>
whether they are offered by the backend, then it is broken. However, the<br>
SANE specification doesn't say "If you receive weird option specifiers,<br>
please crash and burn", so the backend should handle it gracefully anyway.<br>
<p>
I'm not sure which is the case here, but it sounds like (again) backends<br>
aren't sticking to SANE. Does someone else know?<br>
<p>
Nick.<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0052.html">Andre Couture: "Re: TWAIN - SANE interface : announce"</a>
<li> <b>Previous message:</b> <a href="0050.html">Martin Spott: "AGFA StudioScan IIsi"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
