<!-- received="Mon Jan  4 13:25:42 1999 PST" -->
<!-- sent="Mon, 4 Jan 1999 13:19:05 -0500" -->
<!-- name="Michelle Maynes" -->
<!-- email="adams@mail.interlog.com" -->
<!-- subject="abaton 300 GS" -->
<!-- id="v03007800b2b6b39769ac@[206.108.67.239]" -->
<!-- inreplyto="" -->
<title>sane-devel: abaton 300 GS</title>
<h1>abaton 300 GS</h1>
<b>Michelle Maynes</b> (<a href="mailto:adams@mail.interlog.com"><i>adams@mail.interlog.com</i></a>)<br>
<i>Mon, 4 Jan 1999 13:19:05 -0500</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#57">[ date ]</a><a href="index.html#57">[ thread ]</a><a href="subject.html#57">[ subject ]</a><a href="author.html#57">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0058.html">Jan Willamowius: "Scanner compatibility list"</a>
<li> <b>Previous message:</b> <a href="0056.html">Dan Bizuneh: "MUSTEK 1200 III EP Scanner"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0068.html">David Huggins-Daines: "Re: abaton 300 GS"</a>
<li> <b>Reply:</b> <a href="0068.html">David Huggins-Daines: "Re: abaton 300 GS"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I thought I'd found the answer when I located your site on the web: here,<br>
finally is the software we need to run our old Abaton 300 GS scanner from a<br>
Power PC Mac with System 7! My excitement flagged as I spent some time<br>
trying to understand how to get this software, and now  I confess I'm lost<br>
in cyberspace.  I'm not a software writer, don't know a thing about Linux<br>
or LaTex. Am I out of luck here or can you tell me  if your SANE software<br>
is what we need  to run our scanner, and if so, how do I download and<br>
install it?<br>
<p>
Thanks for your patience with this decidedly non-techie computer user.<br>
<p>
Michelle<br>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0058.html">Jan Willamowius: "Scanner compatibility list"</a>
<li> <b>Previous message:</b> <a href="0056.html">Dan Bizuneh: "MUSTEK 1200 III EP Scanner"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0068.html">David Huggins-Daines: "Re: abaton 300 GS"</a>
<li> <b>Reply:</b> <a href="0068.html">David Huggins-Daines: "Re: abaton 300 GS"</a>
<!-- reply="end" -->
</ul>
