<!-- received="Mon Jan  4 14:06:19 1999 PST" -->
<!-- sent="Mon, 4 Jan 1999 22:12:09 +0100" -->
<!-- name="Robert Brink" -->
<!-- email="linux4me@dds.nl" -->
<!-- subject="Re: Forwards-Backwards" -->
<!-- id="99010422193902.00214@petteflet" -->
<!-- inreplyto="Forwards-Backwards" -->
<title>sane-devel: Re: Forwards-Backwards</title>
<h1>Re: Forwards-Backwards</h1>
<b>Robert Brink</b> (<a href="mailto:linux4me@dds.nl"><i>linux4me@dds.nl</i></a>)<br>
<i>Mon, 4 Jan 1999 22:12:09 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#64">[ date ]</a><a href="index.html#64">[ thread ]</a><a href="subject.html#64">[ subject ]</a><a href="author.html#64">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0065.html">Andre Couture: "Re: TWAIN - SANE interface : announce"</a>
<li> <b>Previous message:</b> <a href="0063.html">Brian Macy: "Re: TWAIN - SANE interface : announce"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Mon, 04 Jan 1999, you wrote:<br>
<p>
<i>&gt;This happens for me, too, but only above 600dpi. It's easy to modify the</i><br>
<i>&gt;backend in order to prevent this.</i><br>
<p>
It happens here for any colour scan which exceeds the maximum internal buffer<br>
size (128kb). Large grayscale scans are not affected by backtracking, unless<br>
you check the "Force backtracking" box in xscanimage. I know it must be easy to<br>
modify the backend, only if I knew *what* to modify. I've been searching in the<br>
wrong places up till now :-) So any help in modifying the backend will be<br>
greatly appreciated. I think it would be the neatest solution, if the "Force<br>
backtracking" option works in either scan mode. Then you can still choose the<br>
slower method of scanning, should the image be corrupted.<br>
<p>
Robert<br>
<a href="mailto:linux4me@dds.nl">linux4me@dds.nl</a><br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0065.html">Andre Couture: "Re: TWAIN - SANE interface : announce"</a>
<li> <b>Previous message:</b> <a href="0063.html">Brian Macy: "Re: TWAIN - SANE interface : announce"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
