<!-- received="Wed Jan  6 11:39:52 1999 PST" -->
<!-- sent="Wed, 6 Jan 1999 14:38:34 -0500 (EST)" -->
<!-- name="Ted Llewellyn" -->
<!-- email="llewell@interport.net" -->
<!-- subject="supported scanners" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: supported scanners</title>
<h1>supported scanners</h1>
<b>Ted Llewellyn</b> (<a href="mailto:llewell@interport.net"><i>llewell@interport.net</i></a>)<br>
<i>Wed, 6 Jan 1999 14:38:34 -0500 (EST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#97">[ date ]</a><a href="index.html#97">[ thread ]</a><a href="subject.html#97">[ subject ]</a><a href="author.html#97">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0098.html">cummings@stingray.net: "re: scsi lockup under RedHat 5.2"</a>
<li> <b>Previous message:</b> <a href="0096.html">cummings@stingray.net: "scsi lockup under RedHat 5.2"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
  Is anybody working on support for the Microtek ScanMaker 5 or the<br>
Polaroid SprintScan 45?  Barring that, is there any info that someone has<br>
tried the Microtek backends with the 5?<br>
  Sorry, but I can't volunteer to write these; I'm just a lowly user.<br>
<p>
Thanks,<br>
Ted<br>
<p>
 _ () _-- __()       Ted Llewellyn<br>
    )  _--  /        <br>
   /_--    /__---    <br>
 (/      (/          <br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0098.html">cummings@stingray.net: "re: scsi lockup under RedHat 5.2"</a>
<li> <b>Previous message:</b> <a href="0096.html">cummings@stingray.net: "scsi lockup under RedHat 5.2"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
