<!-- received="Mon Jan 11 04:54:45 1999 PST" -->
<!-- sent="Mon, 11 Jan 1999 13:53:25 +0100 (CET)" -->
<!-- name="Lorenzo M. Catucci" -->
<!-- email="lorenzo@argon.roma2.infn.it" -->
<!-- subject="Re: Transparency adapter with SANE" -->
<!-- id="" -->
<!-- inreplyto="369A575F.97E4A750@chsa.broca.inserm.fr" -->
<title>sane-devel: Re: Transparency adapter with SANE</title>
<h1>Re: Transparency adapter with SANE</h1>
<b>Lorenzo M. Catucci</b> (<a href="mailto:lorenzo@argon.roma2.infn.it"><i>lorenzo@argon.roma2.infn.it</i></a>)<br>
<i>Mon, 11 Jan 1999 13:53:25 +0100 (CET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#111">[ date ]</a><a href="index.html#111">[ thread ]</a><a href="subject.html#111">[ subject ]</a><a href="author.html#111">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0112.html">Ray Curtis: "Re: Symbios Logic 53C400A problems"</a>
<li> <b>Previous message:</b> <a href="0110.html">Roger CLODIC: "Transparency adapter with SANE"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Mon, 11 Jan 1999, Roger CLODIC wrote:<br>
<p>
<i>&gt; Hi!</i><br>
<i>&gt;  </i><br>
<i>&gt;  Have anyone had successful results with a Transparency adapter on his</i><br>
<i>&gt;  scanner. I've tried with an Agfa Arcu II, but I was only able to scan</i><br>
<i>&gt;  gray opaque images.</i><br>
<i>&gt;  </i><br>
<i>&gt;  For example, I know such an adapter can be fixed on the HP6100C scan,</i><br>
<i>&gt;  did anyone test it?</i><br>
<i>&gt;  </i><br>
<i>&gt; </i><br>
I had results ranging from good enough to excellent with my own umax astra<br>
1220. This is my public plug to Oliver's great work!<br>
<p>
Yours,<br>
<p>
l.<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0112.html">Ray Curtis: "Re: Symbios Logic 53C400A problems"</a>
<li> <b>Previous message:</b> <a href="0110.html">Roger CLODIC: "Transparency adapter with SANE"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
