<!-- received="Mon Jan 18 20:00:25 1999 PST" -->
<!-- sent="Mon, 11 Jan 1999 20:44:57 -0600" -->
<!-- name="A Doll by Shelia Customer Service" -->
<!-- email="custserv@sheliasdolls.com" -->
<!-- subject="SANED Documentation?" -->
<!-- id="99011120462302.12180@mpatton.dynip.com" -->
<!-- inreplyto="" -->
<title>sane-devel: SANED Documentation?</title>
<h1>SANED Documentation?</h1>
<b>A Doll by Shelia Customer Service</b> (<a href="mailto:custserv@sheliasdolls.com"><i>custserv@sheliasdolls.com</i></a>)<br>
<i>Mon, 11 Jan 1999 20:44:57 -0600</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#133">[ date ]</a><a href="index.html#133">[ thread ]</a><a href="subject.html#133">[ subject ]</a><a href="author.html#133">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0134.html">Dave Neal: "Two Questions"</a>
<li> <b>Previous message:</b> <a href="0132.html">Calderwood, Eric: "Multiple Scanner Support"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Where could I find better instructions on setting up saned? I am having some<br>
problems getting it to work. SANE is working great locally, but I can not<br>
understand the directions on getting the SANED working. Any suggestions?<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0134.html">Dave Neal: "Two Questions"</a>
<li> <b>Previous message:</b> <a href="0132.html">Calderwood, Eric: "Multiple Scanner Support"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
