<!-- received="Mon Jan 18 20:08:39 1999 PST" -->
<!-- sent="Sat, 09 Jan 1999 01:15:16 -0500" -->
<!-- name="Matthew P. Inger" -->
<!-- email="mattinger@mindless.com" -->
<!-- subject="Scanners" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Scanners</title>
<h1>Scanners</h1>
<b>Matthew P. Inger</b> (<a href="mailto:mattinger@mindless.com"><i>mattinger@mindless.com</i></a>)<br>
<i>Sat, 09 Jan 1999 01:15:16 -0500</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#138">[ date ]</a><a href="index.html#138">[ thread ]</a><a href="subject.html#138">[ subject ]</a><a href="author.html#138">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0139.html">Benjamin Jelen: "Supported Scanners,"</a>
<li> <b>Previous message:</b> <a href="0137.html">Wolfgang Platzer: "Olympus Digital Cameras!"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Is there any way to use a scanner using SANE that is hooked up through<br>
the parallel port?<br>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0139.html">Benjamin Jelen: "Supported Scanners,"</a>
<li> <b>Previous message:</b> <a href="0137.html">Wolfgang Platzer: "Olympus Digital Cameras!"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
