<!-- received="Mon Jan 18 23:18:17 1999 PST" -->
<!-- sent="Wed, 13 Jan 1999 23:04:04 -0800 (PST)" -->
<!-- name="Sam Phillips" -->
<!-- email="sam@inetworld.com" -->
<!-- subject="xscanimage and root" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: xscanimage and root</title>
<h1>xscanimage and root</h1>
<b>Sam Phillips</b> (<a href="mailto:sam@inetworld.com"><i>sam@inetworld.com</i></a>)<br>
<i>Wed, 13 Jan 1999 23:04:04 -0800 (PST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#148">[ date ]</a><a href="index.html#148">[ thread ]</a><a href="subject.html#148">[ subject ]</a><a href="author.html#148">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0149.html">VSW: "BeOS R4"</a>
<li> <b>Previous message:</b> <a href="0147.html">Michal Ludwiczak: "Primax support"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi<br>
<p>
I just upgraded to sane 1.0, and when I run xscanimage as a regular user<br>
after I choose the scanner I want to use the program stops running.  When<br>
the program stops there isn't an error messages at all.<br>
<p>
Later I tried running xscanimage as root when I do this everything works.<br>
I checked the permissions on the scanner device, and a few other things I<br>
thought might cause a problem, and everything seemed in order.<br>
<p>
Does anyone know what is going on here?<br>
<p>
If possible please CC me on the response, since I'm not on the list.<br>
<p>
<pre>
---
Sam Phillips
``For a powerful magnate, you don't pick things up real fast.''
			-Bullwinkle Moose
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0149.html">VSW: "BeOS R4"</a>
<li> <b>Previous message:</b> <a href="0147.html">Michal Ludwiczak: "Primax support"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
