<!-- received="Tue Jan 19 12:53:11 1999 PST" -->
<!-- sent="Tue, 19 Jan 1999 14:50:00 -0600" -->
<!-- name="Kevin R. Charter" -->
<!-- email="charter@cs.rice.edu" -->
<!-- subject="Re: AGFA 1236S supported ?" -->
<!-- id="" -->
<!-- inreplyto="AGFA 1236S supported ?" -->
<title>sane-devel: Re: AGFA 1236S supported ?</title>
<h1>Re: AGFA 1236S supported ?</h1>
<b>Kevin R. Charter</b> (<a href="mailto:charter@cs.rice.edu"><i>charter@cs.rice.edu</i></a>)<br>
<i>Tue, 19 Jan 1999 14:50:00 -0600</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#162">[ date ]</a><a href="index.html#162">[ thread ]</a><a href="subject.html#162">[ subject ]</a><a href="author.html#162">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0163.html">Christian Ordig: "RE: Primax support"</a>
<li> <b>Previous message:</b> <a href="0161.html">Jeff DeFouw: "Re: mustek 12000P"</a>
<li> <b>Maybe in reply to:</b> <a href="0130.html">becka@rz.uni-duesseldorf.de: "AGFA 1236S supported ?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<a href="mailto:becka@rz.uni-duesseldorf.de">becka@rz.uni-duesseldorf.de</a> wrote:<br>
<i>&gt; </i><br>
<i>&gt; Hi !</i><br>
<i>&gt; </i><br>
<i>&gt; I have received a mail asking whether the AGFA SnapScan 1236S is supported</i><br>
<i>&gt; by SANE.</i><br>
<p>
If it is at all compatible with the SnapScan 300/310/600 then it might<br>
work with the snapscan backend. But trying it out requires hacking the<br>
backend to accept the vendor and model strings and selecting which<br>
of the previous AGFA scanners it's most closely compatible with. I would<br>
guess that the 310 is probably the most likely. Naturally, since it's<br>
a newer scanner not all the features will likely be supported.<br>
And recent efforts to get documentation haven't been very successful,<br>
so it may never be fully supported.<br>
<p>
Kevin<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0163.html">Christian Ordig: "RE: Primax support"</a>
<li> <b>Previous message:</b> <a href="0161.html">Jeff DeFouw: "Re: mustek 12000P"</a>
<li> <b>Maybe in reply to:</b> <a href="0130.html">becka@rz.uni-duesseldorf.de: "AGFA 1236S supported ?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
