<!-- received="Thu Jan 21 04:50:02 1999 PST" -->
<!-- sent="Thu, 21 Jan 1999 13:48:50 +0100 (MET)" -->
<!-- name="Petter Reinholdtsen" -->
<!-- email="pere@hungry.com" -->
<!-- subject="Anonymous CVS up and running" -->
<!-- id="199901211248.NAA14977@zero.cc.uit.no" -->
<!-- inreplyto="" -->
<title>sane-devel: Anonymous CVS up and running</title>
<h1>Anonymous CVS up and running</h1>
<b>Petter Reinholdtsen</b> (<a href="mailto:pere@hungry.com"><i>pere@hungry.com</i></a>)<br>
<i>Thu, 21 Jan 1999 13:48:50 +0100 (MET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#184">[ date ]</a><a href="index.html#184">[ thread ]</a><a href="subject.html#184">[ subject ]</a><a href="author.html#184">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0185.html">Petter Reinholdtsen: "Re: SG_BIG_BUFF woes on Linux"</a>
<li> <b>Previous message:</b> <a href="0183.html">Lars Schylberg: "Driver for Polaroid Sprintscan 35"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
The SANE anonymous CVS repository is up and running.  The current<br>
source available is unpatched v1.00.  To fetch the source, do the<br>
following, assuming you have cvs 1.9 or later:<br>
<p>
  CVSROOT=<a href="mailto::pserver:anoncvs@anoncvs.hungry.com:/cvsroot">:pserver:anoncvs@anoncvs.hungry.com:/cvsroot</a> cvs login<br>
  [Use password 'anoncvs']<br>
  CVSROOT=<a href="mailto::pserver:anoncvs@anoncvs.hungry.com:/cvsroot">:pserver:anoncvs@anoncvs.hungry.com:/cvsroot</a> cvs co sane<br>
<p>
This should create a directory sane/ with all the source in it.<br>
Hopefully, David will make the repository up to date with the current<br>
source soon.<br>
<p>
More info on CVS is available on<br>
&lt;URL:<a href="http://www.cyclic.com/cvs/info.html">http://www.cyclic.com/cvs/info.html</a>&gt;.<br>
<pre>
-- 
##&gt;  Petter Reinholdtsen &lt;##    | <a href="mailto:pere@td.org.uit.no">pere@td.org.uit.no</a>
 O-  &lt;SCRIPT Language="Javascript"&gt;window.close()&lt;/SCRIPT&gt;
<a href="http://www.hungry.com/~pere/">http://www.hungry.com/~pere/</a>    | Go Mozilla, go! Go!
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0185.html">Petter Reinholdtsen: "Re: SG_BIG_BUFF woes on Linux"</a>
<li> <b>Previous message:</b> <a href="0183.html">Lars Schylberg: "Driver for Polaroid Sprintscan 35"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
