<!-- received="Tue Jan 26 11:15:29 1999 PST" -->
<!-- sent="Tue, 26 Jan 1999 19:13:15 +0000 (GMT)" -->
<!-- name="Gordon Scott" -->
<!-- email="gordon@apis.demon.co.uk" -->
<!-- subject="Re: AVA-1505AE and Microtec X6: freeze everything while scanning" -->
<!-- id="" -->
<!-- inreplyto="36AE065C.40F0EF53@objsystem.it" -->
<title>sane-devel: Re: AVA-1505AE and Microtec X6: freeze everything while scanning</title>
<h1>Re: AVA-1505AE and Microtec X6: freeze everything while scanning</h1>
<b>Gordon Scott</b> (<a href="mailto:gordon@apis.demon.co.uk"><i>gordon@apis.demon.co.uk</i></a>)<br>
<i>Tue, 26 Jan 1999 19:13:15 +0000 (GMT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#231">[ date ]</a><a href="index.html#231">[ thread ]</a><a href="subject.html#231">[ subject ]</a><a href="author.html#231">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0232.html">Davide Achilli: "Re: AVA-1505AE and Microtec X6: freeze everything while scanning"</a>
<li> <b>Previous message:</b> <a href="0230.html">Davide Achilli: "AVA-1505AE and Microtec X6: freeze everything while scanning"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Tue, 26 Jan 1999, Davide Achilli wrote:<br>
<p>
<i>&gt; The most annoying problem is that while it is scanning all system il</i><br>
<i>&gt; completely freezed: mouse doesn't move, network is locked, etc.</i><br>
<i>&gt; Is this problem related to the AVA-1505AE controller?  Can I solve it</i><br>
<i>&gt; buying a different SCSI-II controller?</i><br>
<p>
A common cause of these types of lockup is an interrupt conflict.<br>
<p>
<i>&gt; I also tried on a different Linux PC with a Tekram DC-390 SCSI-II</i><br>
<i>&gt; controller, which works under Linux with a Yamaha CD-Writer, but as soon</i><br>
<i>&gt; as scanning begins, SCSI bus locks up and it is necessary to reset the</i><br>
<i>&gt; machine.</i><br>
<p>
I believe that some scanners are implicated in SCSI lockups and should<br>
have a controller to themselves. <br>
<p>
G.<br>
<pre>
--
Gordon Scott   <a href="mailto:gordon@apis.demon.co.uk">gordon@apis.demon.co.uk</a>      gordon@multitone.co.uk (work)
&lt;A HREF="<a href="http://www.apis.demon.co.uk">http://www.apis.demon.co.uk</a>"&gt;Gordon's Apis Home Page&lt;/A&gt;
Beekeeper; Kendo 3rd Dan, retd :-(; Sometime sailor.  Hampshire, England.
	    Linux -- Because I like to *get* there today.
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0232.html">Davide Achilli: "Re: AVA-1505AE and Microtec X6: freeze everything while scanning"</a>
<li> <b>Previous message:</b> <a href="0230.html">Davide Achilli: "AVA-1505AE and Microtec X6: freeze everything while scanning"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
