<!-- received="Thu Jun  3 01:05:58 1999 PDT" -->
<!-- sent="Thu, 3 Jun 1999 10:07:31 +0200" -->
<!-- name="Ewald R. de Wit" -->
<!-- email="ewald@pobox.com" -->
<!-- subject="Re: problems with HP SJ 4C and Linux" -->
<!-- id="" -->
<!-- inreplyto="Pine.OSF.4.10.9906021617150.31213-100000@wally.eecs.harvard.edu" -->
<title>sane-devel: Re: problems with HP SJ 4C and Linux</title>
<h1>Re: problems with HP SJ 4C and Linux</h1>
<b>Ewald R. de Wit</b> (<a href="mailto:ewald@pobox.com"><i>ewald@pobox.com</i></a>)<br>
<i>Thu, 3 Jun 1999 10:07:31 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#12">[ date ]</a><a href="index.html#12">[ thread ]</a><a href="subject.html#12">[ subject ]</a><a href="author.html#12">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0013.html">Christophe PUZENAT: "Problem with snapscan, aha1505, linux kernel 2.2.9"</a>
<li> <b>Previous message:</b> <a href="0011.html">Mentore #cat# Siesto: "Re: FAQs for HP scanners"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Britt Bolen (<a href="mailto:bolen@eecs.harvard.edu">bolen@eecs.harvard.edu</a>) wrote:<br>
<p>
<i>&gt; Termination is correct.  (this used to work with xvscan under BSD/OS)</i><br>
<i>&gt; </i><br>
<i>&gt; Any other clues?</i><br>
<p>
OK so it's not a hardware problem. Have you tried linux 2.2.9?<br>
The version you have now (2.2.5) was, from what I remember, the<br>
first to have completely new code for the generic SCSI driver and<br>
it caused problems for some people.<br>
<p>
<pre>
-- 
  --  Ewald
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0013.html">Christophe PUZENAT: "Problem with snapscan, aha1505, linux kernel 2.2.9"</a>
<li> <b>Previous message:</b> <a href="0011.html">Mentore #cat# Siesto: "Re: FAQs for HP scanners"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
