<!-- received="Thu Jun  3 09:20:54 1999 PDT" -->
<!-- sent="Thu, 03 Jun 1999 17:22:19 +0100" -->
<!-- name="Dr. Andreas Bolsch" -->
<!-- email="Andreas.Bolsch@maths.nott.ac.uk" -->
<!-- subject="Re: Mustek ScanExpress 12000SP slow" -->
<!-- id="" -->
<!-- inreplyto="Mustek ScanExpress 12000SP slow" -->
<title>sane-devel: Re: Mustek ScanExpress 12000SP slow</title>
<h1>Re: Mustek ScanExpress 12000SP slow</h1>
<b>Dr. Andreas Bolsch</b> (<a href="mailto:Andreas.Bolsch@maths.nott.ac.uk"><i>Andreas.Bolsch@maths.nott.ac.uk</i></a>)<br>
<i>Thu, 03 Jun 1999 17:22:19 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#19">[ date ]</a><a href="index.html#19">[ thread ]</a><a href="subject.html#19">[ subject ]</a><a href="author.html#19">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0020.html">Peter Kirchgessner: "Re: problems with HP SJ 4C and Linux"</a>
<li> <b>Previous message:</b> <a href="0018.html">Nemeth Laszlo: "Re: Mustek ScanExpress 12000SP slow"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Actually I already thought about rearranging the reader process to<br>
speed things up. This would mean to decouple the actual reading of<br>
the data and issuing new read requests. The problem is to realize<br>
this in a portable way. Another problem is that the scanner should<br>
still respond instantly to cancellation of the scan.<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0020.html">Peter Kirchgessner: "Re: problems with HP SJ 4C and Linux"</a>
<li> <b>Previous message:</b> <a href="0018.html">Nemeth Laszlo: "Re: Mustek ScanExpress 12000SP slow"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
