<!-- received="Wed Jun  9 14:46:29 1999 PDT" -->
<!-- sent="Wed, 09 Jun 1999 23:47:16 +0200" -->
<!-- name="Oliver Rauch" -->
<!-- email="oliver.rauch@Wolfsburg.DE" -->
<!-- subject="Re: UMAX T-30 and Adaptec 2906" -->
<!-- id="" -->
<!-- inreplyto="UMAX T-30 and Adaptec 2906" -->
<title>sane-devel: Re: UMAX T-30 and Adaptec 2906</title>
<h1>Re: UMAX T-30 and Adaptec 2906</h1>
<b>Oliver Rauch</b> (<a href="mailto:oliver.rauch@Wolfsburg.DE"><i>oliver.rauch@Wolfsburg.DE</i></a>)<br>
<i>Wed, 09 Jun 1999 23:47:16 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#53">[ date ]</a><a href="index.html#53">[ thread ]</a><a href="subject.html#53">[ subject ]</a><a href="author.html#53">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0054.html">Eduardo M. A. M. Mendes: "Re: UMAX T-30 and Adaptec 2906"</a>
<li> <b>Previous message:</b> <a href="0052.html">Wim Taymans: "Re: UMAX T-30 and Adaptec 2906"</a>
<li> <b>Maybe in reply to:</b> <a href="0045.html">Eduardo M. A. M. Mendes: "UMAX T-30 and Adaptec 2906"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0054.html">Eduardo M. A. M. Mendes: "Re: UMAX T-30 and Adaptec 2906"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<a href="mailto:mendes@mgconecta.com.br">mendes@mgconecta.com.br</a> wrote:<br>
<p>
<i>&gt; Oops!!</i><br>
<i>&gt;</i><br>
<i>&gt; No, I did not.   I guess I am in trouble right now, aren't I?</i><br>
<i>&gt; Where can I check whether the card is supported or not?</i><br>
<i>&gt;</i><br>
<i>&gt;</i><br>
<p>
You can try to find out which chip is on the card.<br>
But if I am right is a very cheap card, these cards often make trouble.<br>
Best is to use a card like Symbios Logig 53c8xx or one of the good<br>
Adaptec cards!<br>
<p>
Bye<br>
Oliver<br>
<p>
<p>
<pre>
--
EMAIL: <a href="mailto:Oliver.Rauch@Wolfsburg.DE">Oliver.Rauch@Wolfsburg.DE</a>
WWW: <a href="http://www.wolfsburg.de/~rauch">http://www.wolfsburg.de/~rauch</a>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0054.html">Eduardo M. A. M. Mendes: "Re: UMAX T-30 and Adaptec 2906"</a>
<li> <b>Previous message:</b> <a href="0052.html">Wim Taymans: "Re: UMAX T-30 and Adaptec 2906"</a>
<li> <b>Maybe in reply to:</b> <a href="0045.html">Eduardo M. A. M. Mendes: "UMAX T-30 and Adaptec 2906"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0054.html">Eduardo M. A. M. Mendes: "Re: UMAX T-30 and Adaptec 2906"</a>
<!-- reply="end" -->
</ul>
