<!-- received="Mon Jun 14 16:05:59 1999 PDT" -->
<!-- sent="Mon, 14 Jun 1999 17:24:17 -0500" -->
<!-- name="Brian B." -->
<!-- email="ixnay@wws.net" -->
<!-- subject="Artec AT6" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Artec AT6</title>
<h1>Artec AT6</h1>
<b>Brian B.</b> (<a href="mailto:ixnay@wws.net"><i>ixnay@wws.net</i></a>)<br>
<i>Mon, 14 Jun 1999 17:24:17 -0500</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#72">[ date ]</a><a href="index.html#72">[ thread ]</a><a href="subject.html#72">[ subject ]</a><a href="author.html#72">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0073.html">Jeff DeFouw: "Re: 600 ||| EP Plus"</a>
<li> <b>Previous message:</b> <a href="0071.html">Bart: "600 ||| EP Plus"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0075.html">Douglas Gilbert: "Re: Artec AT6"</a>
<li> <b>Reply:</b> <a href="0075.html">Douglas Gilbert: "Re: Artec AT6"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hello.<br>
<p>
I am having a problem with my AT6 scanner. it appears to calibrate but then<br>
hangs my entire system forcing a reboot.<br>
<p>
my system info is.<br>
<p>
Adaptec 1520 host adapter<br>
kernel version 2.3.2<br>
<p>
<p>
Here is the output from modprobe aha152x<br>
<p>
	warp9:~# modprobe aha152x<br>
	aha152x: BIOS test: passed, auto configuration: ok, detected 1 controller(s)<br>
	aha152x0: vital data: PORTBASE=0x340, IRQ=11, SCSI ID=7, reconnect=enabled,<br>
	parity=enabled, synchronous=disabled, delay=100, extended translation=disabled<br>
	aha152x: trying software interrupt, ok.<br>
	scsi0 : Adaptec 152x SCSI driver; $Revision: 1.7 $<br>
	scsi : 1 host.<br>
	  Vendor: ULTIMA    Model: AT6               Rev: 1.01<br>
	  Type:   Scanner                            ANSI SCSI revision: 02<br>
<p>
output from scanimage -L<br>
<p>
	warp9:~# scanimage -L<br>
	Detected scsi generic sga at scsi0, channel 0, id 1, lun 0<br>
	device `artec:/dev/sg0' is a ULTIMA AT6 flatbed<br>
<p>
<p>
Also in /var/log/syslog the line <br>
<p>
Jun 14 08:31:29 warp9 kernel: Detected scsi generic sga at scsi0, channel 0, id<br>
   1, lun 0<br>
<p>
appears and I have my scanner set on lun 1 I assume this might be a problem but<br>
im not sure what to do about it.<br>
<p>
Any help whould be much appreciated.<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0073.html">Jeff DeFouw: "Re: 600 ||| EP Plus"</a>
<li> <b>Previous message:</b> <a href="0071.html">Bart: "600 ||| EP Plus"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0075.html">Douglas Gilbert: "Re: Artec AT6"</a>
<li> <b>Reply:</b> <a href="0075.html">Douglas Gilbert: "Re: Artec AT6"</a>
<!-- reply="end" -->
</ul>
