<!-- received="Mon Jun 14 21:59:44 1999 PDT" -->
<!-- sent="14 Jun 1999 22:01:14 -0700" -->
<!-- name="David Fox" -->
<!-- email="dsfox@cogsci.ucsd.edu" -->
<!-- subject="Re: First sucessSecond version of Coolscan backend for the LS-30 and LS-2000" -->
<!-- id="" -->
<!-- inreplyto="Mon, 14 Jun 1999 21:43:17 -0400"" -->
<title>sane-devel: Re: First sucessSecond version of Coolscan backend for the LS-30 and LS-2000</title>
<h1>Re: First sucessSecond version of Coolscan backend for the LS-30 and LS-2000</h1>
<b>David Fox</b> (<a href="mailto:dsfox@cogsci.ucsd.edu"><i>dsfox@cogsci.ucsd.edu</i></a>)<br>
<i>14 Jun 1999 22:01:14 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#77">[ date ]</a><a href="index.html#77">[ thread ]</a><a href="subject.html#77">[ subject ]</a><a href="author.html#77">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0078.html">Pedro Almeida: "SANE 1.0.1 under RedHat 6.0"</a>
<li> <b>Previous message:</b> <a href="0076.html">Marian Szebenyi: "SANE 1.0.1 under DEC UNIX 4.0"</a>
<li> <b>In reply to:</b> <a href="0074.html">Fred Willingham: "Re: First sucessSecond version of Coolscan backend for the LS-30 and LS-2000"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
"Fred Willingham" &lt;<a href="mailto:fcw@worldpath.net">fcw@worldpath.net</a>&gt; writes:<br>
<p>
<i>&gt; It works for me! I used xscanimage.</i><br>
<i>&gt; </i><br>
<i>&gt; I had to turn on the advanced options and turn on auto-focus. (I think I had</i><br>
<i>&gt; to turn advanced options "off" to tunr them on.)</i><br>
<i>&gt; </i><br>
<i>&gt; Is there any other means of focusing?</i><br>
<p>
So you turned on auto-focus?  And it auto-focused?  But it sounds like<br>
it didn't, or why would you be asking for another means of focusing?<br>
We should brainstorm about what could possibly be causing these auto-focus<br>
problems.  What SCSI card are you using?  My LS-2000 autofocuses fine<br>
with the supplied Adaptec 7850 card.<br>
<pre>
-- 
David Fox           <a href="http://hci.ucsd.edu/dsf">http://hci.ucsd.edu/dsf</a>             xoF divaD
UCSD HCI Lab                                         baL ICH DSCU
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0078.html">Pedro Almeida: "SANE 1.0.1 under RedHat 6.0"</a>
<li> <b>Previous message:</b> <a href="0076.html">Marian Szebenyi: "SANE 1.0.1 under DEC UNIX 4.0"</a>
<li> <b>In reply to:</b> <a href="0074.html">Fred Willingham: "Re: First sucessSecond version of Coolscan backend for the LS-30 and LS-2000"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
