<!-- received="Thu Jun 17 02:09:38 1999 PDT" -->
<!-- sent="Thu, 17 Jun 1999 09:19:43 +0000" -->
<!-- name="Michele Bini" -->
<!-- email="mibin@tin.it" -->
<!-- subject="Re: [PARPORT] BETA test, new ppSCSI drivers" -->
<!-- id="" -->
<!-- inreplyto="19990617023116.A538@diamond.tin.it" -->
<title>sane-devel: Re: [PARPORT] BETA test, new ppSCSI drivers</title>
<h1>Re: [PARPORT] BETA test, new ppSCSI drivers</h1>
<b>Michele Bini</b> (<a href="mailto:mibin@tin.it"><i>mibin@tin.it</i></a>)<br>
<i>Thu, 17 Jun 1999 09:19:43 +0000</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#97">[ date ]</a><a href="index.html#97">[ thread ]</a><a href="subject.html#97">[ subject ]</a><a href="author.html#97">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0098.html">regis rampnoux: "Polaroid scanner"</a>
<li> <b>Previous message:</b> <a href="0096.html">Wolfgang Goeller: "Re: Artec AT6 yet again"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0099.html">Bernd Schroeder: "Re: Re: [PARPORT] BETA test, new ppSCSI drivers"</a>
<li> <b>Reply:</b> <a href="0099.html">Bernd Schroeder: "Re: Re: [PARPORT] BETA test, new ppSCSI drivers"</a>
<li> <b>Reply:</b> <a href="0100.html">Bernd Schroeder: "Re: Re: [PARPORT] BETA test, new ppSCSI drivers"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Thu, Jun 17, 1999 at 02:31:16AM +0000, Michele Bini wrote:<br>
<i>&gt; Scanning usually works, but there are some problems still, the</i><br>
<i>&gt; biggest one being the fact that the head starts scanning</i><br>
<i>&gt; with a certain offset, which, in 'preview mode', seems</i><br>
<i>&gt; proportional to the bit depth of the image (that is, small</i><br>
<i>&gt; at line-art mode, big at gray mode and huge at color mode).</i><br>
<p>
I have to correct this: the offset of the previews at<br>
line-art and gray mode are the same<br>
<p>
The offset (the ratio part_skipped/part_scanned, not in bytes)<br>
is reduced a lot when I do a full scan in color mode.<br>
<p>
-Michele<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0098.html">regis rampnoux: "Polaroid scanner"</a>
<li> <b>Previous message:</b> <a href="0096.html">Wolfgang Goeller: "Re: Artec AT6 yet again"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0099.html">Bernd Schroeder: "Re: Re: [PARPORT] BETA test, new ppSCSI drivers"</a>
<li> <b>Reply:</b> <a href="0099.html">Bernd Schroeder: "Re: Re: [PARPORT] BETA test, new ppSCSI drivers"</a>
<li> <b>Reply:</b> <a href="0100.html">Bernd Schroeder: "Re: Re: [PARPORT] BETA test, new ppSCSI drivers"</a>
<!-- reply="end" -->
</ul>
