<!-- received="Thu Jun 17 12:17:53 1999 PDT" -->
<!-- sent="Thu, 17 Jun 1999 21:24:26 +0200 (CEST)" -->
<!-- name="regis rampnoux" -->
<!-- email="regisr@regix.com" -->
<!-- subject="Polaroid scanner" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Polaroid scanner</title>
<h1>Polaroid scanner</h1>
<b>regis rampnoux</b> (<a href="mailto:regisr@regix.com"><i>regisr@regix.com</i></a>)<br>
<i>Thu, 17 Jun 1999 21:24:26 +0200 (CEST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#98">[ date ]</a><a href="index.html#98">[ thread ]</a><a href="subject.html#98">[ subject ]</a><a href="author.html#98">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0099.html">Bernd Schroeder: "Re: Re: [PARPORT] BETA test, new ppSCSI drivers"</a>
<li> <b>Previous message:</b> <a href="0097.html">Michele Bini: "Re: [PARPORT] BETA test, new ppSCSI drivers"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I am looking about the the new Polaroid scanner 4000 dpi (for films).<br>
I want to known if others plan to use this scanner with sane?<br>
<p>
<p>
<pre>
---
&lt;regisr&gt;       <a href="mailto:regisr@regix.com">regisr@regix.com</a>     <a href="http://www.regix.com/">http://www.regix.com/</a>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0099.html">Bernd Schroeder: "Re: Re: [PARPORT] BETA test, new ppSCSI drivers"</a>
<li> <b>Previous message:</b> <a href="0097.html">Michele Bini: "Re: [PARPORT] BETA test, new ppSCSI drivers"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
