<!-- received="Mon Jun 21 14:24:36 1999 PDT" -->
<!-- sent="Mon, 21 Jun 1999 18:22:37 -0300" -->
<!-- name="Eduardo M. A. M. Mendes" -->
<!-- email="mendes@mgconecta.com.br" -->
<!-- subject="Re: UMAX T-630 question" -->
<!-- id="" -->
<!-- inreplyto="UMAX T-630 question" -->
<title>sane-devel: Re: UMAX T-630 question</title>
<h1>Re: UMAX T-630 question</h1>
<b>Eduardo M. A. M. Mendes</b> (<a href="mailto:mendes@mgconecta.com.br"><i>mendes@mgconecta.com.br</i></a>)<br>
<i>Mon, 21 Jun 1999 18:22:37 -0300</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#133">[ date ]</a><a href="index.html#133">[ thread ]</a><a href="subject.html#133">[ subject ]</a><a href="author.html#133">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0134.html">Eduardo M. A. M. Mendes: "Re: UMAX T-630 question"</a>
<li> <b>Previous message:</b> <a href="0132.html">Andreas Rick: "Re: Spy on the SCSI-bus"</a>
<li> <b>Maybe in reply to:</b> <a href="0122.html">mendes@mgconecta.com.br: "UMAX T-630 question"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0134.html">Eduardo M. A. M. Mendes: "Re: UMAX T-630 question"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Oliver Rauch wrote:<br>
<p>
<i>&gt; <a href="mailto:mendes@mgconecta.com.br">mendes@mgconecta.com.br</a> wrote:</i><br>
<i>&gt;</i><br>
<i>&gt; &gt; Hi</i><br>
<i>&gt; &gt;     I managed to get my old umax t-630 working on linux.  There is one thing</i><br>
<i>&gt; &gt; that I am not quite sure though.</i><br>
<i>&gt; &gt; Is it normal to have the scanner "jumping in small steps" in color mode</i><br>
<i>&gt; &gt; scanning?</i><br>
<p>
But if it does not.  What did I do wrong?<br>
<p>
<i>&gt;</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt;     Many thanks</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt; Ed</i><br>
<i>&gt;</i><br>
<i>&gt; Hi Ed,</i><br>
<i>&gt;</i><br>
<i>&gt; if you scan large images, the scanner does make pauses,</i><br>
<i>&gt; in low resolutions (e.g. preview), the scanner should scan the whole image</i><br>
<i>&gt; without any pause!</i><br>
<i>&gt;</i><br>
<i>&gt; Bye</i><br>
<i>&gt; Oliver</i><br>
<i>&gt;</i><br>
<i>&gt; --</i><br>
<i>&gt; EMAIL: <a href="mailto:Oliver.Rauch@Wolfsburg.DE">Oliver.Rauch@Wolfsburg.DE</a></i><br>
<i>&gt; WWW: <a href="http://www.wolfsburg.de/~rauch">http://www.wolfsburg.de/~rauch</a></i><br>
<i>&gt;</i><br>
<i>&gt; --</i><br>
<i>&gt; Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a></i><br>
<i>&gt; To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a></i><br>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0134.html">Eduardo M. A. M. Mendes: "Re: UMAX T-630 question"</a>
<li> <b>Previous message:</b> <a href="0132.html">Andreas Rick: "Re: Spy on the SCSI-bus"</a>
<li> <b>Maybe in reply to:</b> <a href="0122.html">mendes@mgconecta.com.br: "UMAX T-630 question"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0134.html">Eduardo M. A. M. Mendes: "Re: UMAX T-630 question"</a>
<!-- reply="end" -->
</ul>
