<!-- received="Tue Jun 22 13:26:28 1999 PDT" -->
<!-- sent="Tue, 22 Jun 1999 21:29:18 +0100 (GMT)" -->
<!-- name="Nick Lamb" -->
<!-- email="njl98r@ecs.soton.ac.uk" -->
<!-- subject="Re: SCSI-bus confusing with AVISION AV630CS/TEKRAM DC390F" -->
<!-- id="" -->
<!-- inreplyto="19990622212152L.root@solfire.ludwigsburg.netsurf.de" -->
<title>sane-devel: Re: SCSI-bus confusing with AVISION AV630CS/TEKRAM DC390F</title>
<h1>Re: SCSI-bus confusing with AVISION AV630CS/TEKRAM DC390F</h1>
<b>Nick Lamb</b> (<a href="mailto:njl98r@ecs.soton.ac.uk"><i>njl98r@ecs.soton.ac.uk</i></a>)<br>
<i>Tue, 22 Jun 1999 21:29:18 +0100 (GMT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#143">[ date ]</a><a href="index.html#143">[ thread ]</a><a href="subject.html#143">[ subject ]</a><a href="author.html#143">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0144.html">Simon Piette: "Re: Umax 1200S on LinuxPPC R5"</a>
<li> <b>Previous message:</b> <a href="0142.html">Oliver Rauch: "Re: Umax 1200S on LinuxPPC R5"</a>
<li> <b>In reply to:</b> <a href="0141.html">Meino Christian Cramer: "SCSI-bus confusing with AVISION AV630CS/TEKRAM DC390F"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Tue, 22 Jun 1999, Meino Christian Cramer wrote:<br>
<p>
<i>&gt;  Does anyone out there knows about some things I could try</i><br>
<i>&gt;  to avoid those dead-scans?</i><br>
<p>
Well, to at least avoid killing the Linux box you should check out<br>
<p>
(1) SCSI may become happy again if you turn off the scanner when it hangs<br>
You will see a lot of screaming from the kernel "Where did that go????"<br>
but then it should settle down and you can reboot safely<br>
<p>
(2) Magic SysRq is your friend, in 2.2.x at least you can configure the<br>
Alt+SysRq sequence on and have a keypress which syncs and reboots to<br>
avoid file corruption. Check out the appropriate kernel files.<br>
<p>
AFAIK the SCSI mid-layer of Linux is unhelpful about reporting errors<br>
such as "You sent too much/ not enough/ wrong kind of data" to upper<br>
layers such as SCSI generic. Tinkering with mid-layer endangers SCSI<br>
disks, tape backups etc. and only benefits SCSI generic users. So it<br>
won't happen for a while yet.<br>
<p>
Nick.<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0144.html">Simon Piette: "Re: Umax 1200S on LinuxPPC R5"</a>
<li> <b>Previous message:</b> <a href="0142.html">Oliver Rauch: "Re: Umax 1200S on LinuxPPC R5"</a>
<li> <b>In reply to:</b> <a href="0141.html">Meino Christian Cramer: "SCSI-bus confusing with AVISION AV630CS/TEKRAM DC390F"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
