<!-- received="Tue Jun 22 15:00:21 1999 PDT" -->
<!-- sent="Tue, 22 Jun 1999 18:00:53 -0400" -->
<!-- name="Simon Piette" -->
<!-- email="spiette@generation.net" -->
<!-- subject="Re: Umax 1200S on LinuxPPC R5" -->
<!-- id="" -->
<!-- inreplyto="Umax 1200S on LinuxPPC R5" -->
<title>sane-devel: Re: Umax 1200S on LinuxPPC R5</title>
<h1>Re: Umax 1200S on LinuxPPC R5</h1>
<b>Simon Piette</b> (<a href="mailto:spiette@generation.net"><i>spiette@generation.net</i></a>)<br>
<i>Tue, 22 Jun 1999 18:00:53 -0400</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#147">[ date ]</a><a href="index.html#147">[ thread ]</a><a href="subject.html#147">[ subject ]</a><a href="author.html#147">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0148.html">Nick Lamb: "Re: Umax 1200S on LinuxPPC R5"</a>
<li> <b>Previous message:</b> <a href="0146.html">Oliver Rauch: "Re: Umax 1200S on LinuxPPC R5"</a>
<li> <b>Maybe in reply to:</b> <a href="0140.html">Simon Piette: "Umax 1200S on LinuxPPC R5"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0150.html">Simon Piette: "Re: Umax 1200S on LinuxPPC R5"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Oliver Rauch wrote:<br>
<i>&gt; </i><br>
<i>&gt; Simon Piette wrote:</i><br>
<i>&gt; </i><br>
<i>&gt; &gt; Hi Olivier,</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt; Oliver Rauch wrote:</i><br>
<i>&gt; &gt; &gt;</i><br>
<i>&gt; &gt; &gt; Simon Piette wrote:</i><br>
<i>&gt; &gt; &gt;</i><br>
<i>&gt; &gt; &gt; &gt; Hi,</i><br>
<i>&gt; &gt; &gt; &gt;</i><br>
<i>&gt; &gt; &gt; &gt; Hers is my problem:</i><br>
<i>&gt; &gt; &gt; &gt;</i><br>
<i>&gt; &gt; &gt; &gt; # cd ./tools</i><br>
<i>&gt; &gt; &gt; &gt; # ./find-scanner</i><br>
<i>&gt; &gt; &gt; &gt; find-scanner: found scanner "UMAX Astra 1200S V1.3" at device</i><br>
<i>&gt; &gt; &gt; &gt; /dev/scanner</i><br>
<i>&gt; &gt; &gt; &gt; find-scanner: found scanner "UMAX Astra 1200S V1.3" at device /dev/sg5</i><br>
<i>&gt; &gt; &gt; &gt; find-scanner: found scanner "UMAX Astra 1200S V1.3" at device /dev/sgf</i><br>
<i>&gt; &gt; &gt; &gt; # scanimage -l</i><br>
<i>&gt; &gt; &gt; &gt; scanimage: no SANE devices found</i><br>
<i>&gt; &gt; &gt; &gt; #</i><br>
<i>&gt; &gt; &gt; &gt;</i><br>
<i>&gt; &gt; &gt;</i><br>
<i>&gt; </i><br>
<i>&gt; Hi Simon,</i><br>
<i>&gt; </i><br>
<i>&gt; did you install the generic scsi driver (sg) ?</i><br>
<p>
In /etc, I did ./MAKEDEV sg . It produced sg[0-70 and sg[a-h].<br>
<p>
Simon<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0148.html">Nick Lamb: "Re: Umax 1200S on LinuxPPC R5"</a>
<li> <b>Previous message:</b> <a href="0146.html">Oliver Rauch: "Re: Umax 1200S on LinuxPPC R5"</a>
<li> <b>Maybe in reply to:</b> <a href="0140.html">Simon Piette: "Umax 1200S on LinuxPPC R5"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0150.html">Simon Piette: "Re: Umax 1200S on LinuxPPC R5"</a>
<!-- reply="end" -->
</ul>
