<!-- received="Tue Jun 22 20:06:17 1999 PDT" -->
<!-- sent="Tue, 22 Jun 1999 23:06:58 -0400" -->
<!-- name="Simon Piette" -->
<!-- email="spiette@generation.net" -->
<!-- subject="Re: Umax 1200S on LinuxPPC R5" -->
<!-- id="" -->
<!-- inreplyto="Umax 1200S on LinuxPPC R5" -->
<title>sane-devel: Re: Umax 1200S on LinuxPPC R5</title>
<h1>Re: Umax 1200S on LinuxPPC R5</h1>
<b>Simon Piette</b> (<a href="mailto:spiette@generation.net"><i>spiette@generation.net</i></a>)<br>
<i>Tue, 22 Jun 1999 23:06:58 -0400</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#150">[ date ]</a><a href="index.html#150">[ thread ]</a><a href="subject.html#150">[ subject ]</a><a href="author.html#150">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0151.html">Ingo Wilken: "scanimage: support $SANE_DEFAULT_DEVICE (patch)"</a>
<li> <b>Previous message:</b> <a href="0149.html">Meino Christian Cramer: "Re: SCSI-bus confusing with AVISION AV630CS/TEKRAM DC390F"</a>
<li> <b>Maybe in reply to:</b> <a href="0140.html">Simon Piette: "Umax 1200S on LinuxPPC R5"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0152.html">Oliver Rauch: "Re: Umax 1200S on LinuxPPC R5"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi,<br>
<p>
Yes, the kernel got it compiled in (not as a module). So, dmesg give:<br>
<p>
...<br>
Detected scsi removable disk sdd at scsi1, channel 0, id 2, lun 0<br>
  Vendor: UMAX      Model: Astra 1200S       Rev: V1.3<br>
  Type:   Scanner                            ANSI SCSI revision: 02<br>
Detected scsi generic sgf at scsi1, channel 0, id 5, lun 0<br>
scsi : detected 1 SCSI cdrom 4 SCSI disks total.<br>
sr0: scsi3-mmc drive: 10x/10x xa/form2 cdda tray<br>
...<br>
<p>
<p>
Simon<br>
<p>
Nick Lamb wrote:<br>
<i>&gt; </i><br>
<i>&gt; On Tue, 22 Jun 1999, Simon Piette wrote:</i><br>
<i>&gt; &gt; &gt;</i><br>
<i>&gt; &gt; &gt; Hi Simon,</i><br>
<i>&gt; &gt; &gt;</i><br>
<i>&gt; &gt; &gt; did you install the generic scsi driver (sg) ?</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt; In /etc, I did ./MAKEDEV sg . It produced sg[0-70 and sg[a-h].</i><br>
<i>&gt; </i><br>
<i>&gt; That isn't what he meant, he meant the actual (kernel level) SG driver</i><br>
<i>&gt; </i><br>
<i>&gt; But AFAIK you already said that find-scanner sees your scanner, so</i><br>
<i>&gt; that means you MUST have SCSI generic, because it uses the SG driver</i><br>
<i>&gt; to go hunting for scanners...</i><br>
<i>&gt; </i><br>
<i>&gt; Nick.</i><br>
<i>&gt; </i><br>
<i>&gt; --</i><br>
<i>&gt; Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a></i><br>
<i>&gt; To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a></i><br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0151.html">Ingo Wilken: "scanimage: support $SANE_DEFAULT_DEVICE (patch)"</a>
<li> <b>Previous message:</b> <a href="0149.html">Meino Christian Cramer: "Re: SCSI-bus confusing with AVISION AV630CS/TEKRAM DC390F"</a>
<li> <b>Maybe in reply to:</b> <a href="0140.html">Simon Piette: "Umax 1200S on LinuxPPC R5"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0152.html">Oliver Rauch: "Re: Umax 1200S on LinuxPPC R5"</a>
<!-- reply="end" -->
</ul>
