<!-- received="Wed Jun 23 16:23:46 1999 PDT" -->
<!-- sent="Wed, 23 Jun 1999 19:24:53 -0400" -->
<!-- name="Simon Piette" -->
<!-- email="spiette@generation.net" -->
<!-- subject="Re: Umax 1200S on LinuxPPC R5" -->
<!-- id="" -->
<!-- inreplyto="Umax 1200S on LinuxPPC R5" -->
<title>sane-devel: Re: Umax 1200S on LinuxPPC R5</title>
<h1>Re: Umax 1200S on LinuxPPC R5</h1>
<b>Simon Piette</b> (<a href="mailto:spiette@generation.net"><i>spiette@generation.net</i></a>)<br>
<i>Wed, 23 Jun 1999 19:24:53 -0400</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#171">[ date ]</a><a href="index.html#171">[ thread ]</a><a href="subject.html#171">[ subject ]</a><a href="author.html#171">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0172.html">Douglas Gilbert: "Re: Umax 1200S on LinuxPPC R5"</a>
<li> <b>Previous message:</b> <a href="0170.html">Jeffrey Thompson: "UMAX Vendors"</a>
<li> <b>Maybe in reply to:</b> <a href="0140.html">Simon Piette: "Umax 1200S on LinuxPPC R5"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0172.html">Douglas Gilbert: "Re: Umax 1200S on LinuxPPC R5"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Oliver Rauch wrote:<br>
<i>&gt; </i><br>
<i>&gt; I don`t know if SANE is tested on a big endian machine.</i><br>
<i>&gt; May be there are problems too. I am not sure if the umax</i><br>
<i>&gt; backend is tested on a big endian machine.</i><br>
<i>&gt; But if the inquiry command returns with an error</i><br>
<i>&gt; the problem is in the sanei/scsi or in the sg or scsi driver.</i><br>
<i>&gt; </i><br>
<p>
This is what I am thinking. This is not the first time we (linuxppc<br>
users) have<br>
that kind of problem with little/big endian (eg. sound). I'll check with<br>
the<br>
Linux PowerPC team ...<br>
<p>
<i>&gt; &gt; Host: scsi1 Channel: 00 Id: 05 Lun: 00</i><br>
<i>&gt; looks like you have the scanner on a secondary scsi controller.</i><br>
<i>&gt; Did you test it if you connect the scanner to the first scsi controller?</i><br>
<i>&gt; </i><br>
<p>
No, because my scsi0 is internal-only, and it got already four devices<br>
on it ...<br>
<p>
<i>&gt; Which controllers do you use?</i><br>
<p>
scsi0 : MESH<br>
scsi1 : 53C94<br>
<p>
It's a UMAX J700 (similar to a 8500/8600, in case you care).<br>
<p>
<i>&gt; How is the scsi bus terminated and how long are the scsi cables (internal +</i><br>
<i>&gt; external).</i><br>
<i>&gt; </i><br>
<p>
I've tried with only the scanner attached to it ( 2'), no internal.<br>
Also, it work without a hitch within MacOS.<br>
<p>
Thanks a lot for your help, I'll keep you in touch.<br>
<p>
Simon<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0172.html">Douglas Gilbert: "Re: Umax 1200S on LinuxPPC R5"</a>
<li> <b>Previous message:</b> <a href="0170.html">Jeffrey Thompson: "UMAX Vendors"</a>
<li> <b>Maybe in reply to:</b> <a href="0140.html">Simon Piette: "Umax 1200S on LinuxPPC R5"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0172.html">Douglas Gilbert: "Re: Umax 1200S on LinuxPPC R5"</a>
<!-- reply="end" -->
</ul>
