<!-- received="Sat Jun 26 09:45:58 1999 PDT" -->
<!-- sent="Sat, 26 Jun 1999 18:48:48 +0200" -->
<!-- name="Oliver Rauch" -->
<!-- email="oliver.rauch@Wolfsburg.DE" -->
<!-- subject="Re: Umax 1200S on LinuxPPC R5" -->
<!-- id="" -->
<!-- inreplyto="Umax 1200S on LinuxPPC R5" -->
<title>sane-devel: Re: Umax 1200S on LinuxPPC R5</title>
<h1>Re: Umax 1200S on LinuxPPC R5</h1>
<b>Oliver Rauch</b> (<a href="mailto:oliver.rauch@Wolfsburg.DE"><i>oliver.rauch@Wolfsburg.DE</i></a>)<br>
<i>Sat, 26 Jun 1999 18:48:48 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#186">[ date ]</a><a href="index.html#186">[ thread ]</a><a href="subject.html#186">[ subject ]</a><a href="author.html#186">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0187.html">dolbeau romain: "Microtek 600GS &amp; Solaris 7 : trouble"</a>
<li> <b>Previous message:</b> <a href="0185.html">Hugo van der Kooij: "Re: Umax 1200S on LinuxPPC R5"</a>
<li> <b>Maybe in reply to:</b> <a href="0140.html">Simon Piette: "Umax 1200S on LinuxPPC R5"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0189.html">Tom Martone: "Re: Umax 1200S on LinuxPPC R5"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hugo van der Kooij wrote:<br>
<p>
<i>&gt; Unfortunatly that requires more activities as I have moved the scanner to</i><br>
<i>&gt; it's permanent spot which make it out of reach for my Alpha unless I start</i><br>
<i>&gt; it over the network. But considering the workload of last week and the</i><br>
<i>&gt;</i><br>
<i>&gt; current tempature it may take a month to complete.</i><br>
<i>&gt;</i><br>
Hi Hugo,<br>
<p>
it is not necessary that a scanner is connected, you only need to run sane<br>
on the alpha. It does not help if the umax backend is started on the<br>
"not Alpha" machine!<br>
<p>
Bye<br>
Oliver<br>
<p>
<i>&gt;</i><br>
<i>&gt; EMAIL: <a href="mailto:Oliver.Rauch@Wolfsburg.DE">Oliver.Rauch@Wolfsburg.DE</a></i><br>
<i>&gt; WWW: <a href="http://www.wolfsburg.de/~rauch">http://www.wolfsburg.de/~rauch</a></i><br>
<i>&gt;</i><br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0187.html">dolbeau romain: "Microtek 600GS &amp; Solaris 7 : trouble"</a>
<li> <b>Previous message:</b> <a href="0185.html">Hugo van der Kooij: "Re: Umax 1200S on LinuxPPC R5"</a>
<li> <b>Maybe in reply to:</b> <a href="0140.html">Simon Piette: "Umax 1200S on LinuxPPC R5"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0189.html">Tom Martone: "Re: Umax 1200S on LinuxPPC R5"</a>
<!-- reply="end" -->
</ul>
