<!-- received="Sun Jun 27 08:38:37 1999 PDT" -->
<!-- sent="Sun, 27 Jun 1999 17:35:37 +0200" -->
<!-- name="Oliver Rauch" -->
<!-- email="oliver.rauch@Wolfsburg.DE" -->
<!-- subject="Re: Umax 1200S on LinuxPPC R5" -->
<!-- id="" -->
<!-- inreplyto="Umax 1200S on LinuxPPC R5" -->
<title>sane-devel: Re: Umax 1200S on LinuxPPC R5</title>
<h1>Re: Umax 1200S on LinuxPPC R5</h1>
<b>Oliver Rauch</b> (<a href="mailto:oliver.rauch@Wolfsburg.DE"><i>oliver.rauch@Wolfsburg.DE</i></a>)<br>
<i>Sun, 27 Jun 1999 17:35:37 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#208">[ date ]</a><a href="index.html#208">[ thread ]</a><a href="subject.html#208">[ subject ]</a><a href="author.html#208">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0209.html">Hugo van der Kooij: "Standard reply to manufacturers"</a>
<li> <b>Previous message:</b> <a href="0207.html">Tomm Aldridge: "make fails on RH 6.0"</a>
<li> <b>Maybe in reply to:</b> <a href="0140.html">Simon Piette: "Umax 1200S on LinuxPPC R5"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0211.html">Douglas Gilbert: "Re: Umax 1200S on LinuxPPC R5"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
--------------A2CDB1E6A1B851BB98D2B18B<br>
Content-Type: text/plain; charset=us-ascii<br>
Content-Transfer-Encoding: 7bit<br>
<p>
Simon Piette wrote:<br>
<p>
<i>&gt; Hi Olivier,</i><br>
<i>&gt;</i><br>
<i>&gt; I changed my SCSI terminator for an active one, and now scanimage -L see</i><br>
<i>&gt; my scanner (sge, I change the SCSI ID for 1 , 4 devices on scsi0).</i><br>
<i>&gt;</i><br>
<i>&gt; The comments were already there (sane 1.0.1), but it was on the line</i><br>
<i>&gt; after.</i><br>
<i>&gt;</i><br>
<i>&gt; scanimage is nevertheless unable to scan. With export</i><br>
<i>&gt; SANE_DEBUG_UMAX=10, scanimage -d umax:/dev/sge &gt; out.pnm :</i><br>
<i>&gt;</i><br>
<p>
Ok.<br>
<p>
<p>
<i>&gt;</i><br>
<i>&gt;</i><br>
<i>&gt; [umax] set_window_param</i><br>
<i>&gt; [umax] window descriptor block created with 82 bytes</i><br>
<i>&gt; [umax] window(s) set</i><br>
<i>&gt; [umax] wait_scanner</i><br>
<i>&gt; [umax] scanner ready</i><br>
<i>&gt; [umax] start_scan</i><br>
<i>&gt; [umax] starting scan</i><br>
<i>&gt; scanimage: stopping scanner...</i><br>
<i>&gt; [umax] sane_cancel</i><br>
<i>&gt; [umax] trying to reposition scanner ...</i><br>
<i>&gt; scanimage: sanei_scsi.c:1352: sanei_scsi_req_wait: Assertion `req ==</i><br>
<i>&gt; qhead' failed.</i><br>
<i>&gt;</i><br>
<i>&gt; Seems to be related to sane-scsi instead of sane-umax ...</i><br>
<i>&gt;</i><br>
<p>
Did you press ^C ?<br>
scanimage prints stopping scanner, looks like a termination by scanimage!<br>
<p>
Make sure you use the original umax backend (without the comments I sent to you)!<br>
<p>
Bye<br>
Oliver<br>
<p>
<p>
<pre>
--
EMAIL: <a href="mailto:Oliver.Rauch@Wolfsburg.DE">Oliver.Rauch@Wolfsburg.DE</a>
WWW: <a href="http://www.wolfsburg.de/~rauch">http://www.wolfsburg.de/~rauch</a>
<p>
<p>
<p>
--------------A2CDB1E6A1B851BB98D2B18B
Content-Type: text/html; charset=us-ascii
Content-Transfer-Encoding: 7bit
<p>
&lt;!doctype html public "-//w3c//dtd html 4.0 transitional//en"&gt;
<html>
Simon Piette wrote:
<blockquote TYPE=CITE>Hi Olivier,
<p>I changed my SCSI terminator for an active one, and now scanimage -L
see
<br>my scanner (sge, I change the SCSI ID for 1 , 4 devices on scsi0).
<p>The comments were already there (sane 1.0.1), but it was on the line
<br>after.
<p>scanimage is nevertheless unable to scan. With export
<br>SANE_DEBUG_UMAX=10, scanimage -d umax:/dev/sge > out.pnm :
<br>&nbsp;</blockquote>
Ok.
<br>&nbsp;
<blockquote TYPE=CITE>&nbsp;
<p>[umax] set_window_param
<br>[umax] window descriptor block created with 82 bytes
<br>[umax] window(s) set
<br>[umax] wait_scanner
<br>[umax] scanner ready
<br>[umax] start_scan
<br>[umax] starting scan
<br>scanimage: stopping scanner...
<br>[umax] sane_cancel
<br>[umax] trying to reposition scanner ...
<br>scanimage: sanei_scsi.c:1352: sanei_scsi_req_wait: Assertion `req ==
<br>qhead' failed.
<p>Seems to be related to sane-scsi instead of sane-umax ...
<br>&nbsp;</blockquote>
Did you press ^C ?
<br>scanimage prints stopping scanner, looks like a termination by scanimage!
<p>Make sure you use the original umax backend (without the comments I
sent to you)!
<p>Bye
<br>Oliver
<br>&nbsp;
<pre>--&nbsp;
EMAIL: Oliver.Rauch@Wolfsburg.DE
WWW: <A HREF="http://www.wolfsburg.de/~rauch">http://www.wolfsburg.de/~rauch</A></pre>
&nbsp;</html>

--------------A2CDB1E6A1B851BB98D2B18B--


--
Source code, list archive, and docs: http://www.mostang.com/sane/
To unsubscribe: echo unsubscribe sane-devel | mail majordomo@mostang.com
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0209.html">Hugo van der Kooij: "Standard reply to manufacturers"</a>
<li> <b>Previous message:</b> <a href="0207.html">Tomm Aldridge: "make fails on RH 6.0"</a>
<li> <b>Maybe in reply to:</b> <a href="0140.html">Simon Piette: "Umax 1200S on LinuxPPC R5"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0211.html">Douglas Gilbert: "Re: Umax 1200S on LinuxPPC R5"</a>
<!-- reply="end" -->
</ul>
