<!-- received="Sun Jun 27 19:20:07 1999 PDT" -->
<!-- sent="Sun, 27 Jun 1999 22:19:33 -0400" -->
<!-- name="Simon Piette" -->
<!-- email="spiette@generation.net" -->
<!-- subject="Re: Umax 1200S on LinuxPPC R5" -->
<!-- id="" -->
<!-- inreplyto="Umax 1200S on LinuxPPC R5" -->
<title>sane-devel: Re: Umax 1200S on LinuxPPC R5</title>
<h1>Re: Umax 1200S on LinuxPPC R5</h1>
<b>Simon Piette</b> (<a href="mailto:spiette@generation.net"><i>spiette@generation.net</i></a>)<br>
<i>Sun, 27 Jun 1999 22:19:33 -0400</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#215">[ date ]</a><a href="index.html#215">[ thread ]</a><a href="subject.html#215">[ subject ]</a><a href="author.html#215">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0216.html">Simon Piette: "Re: Umax 1200S on LinuxPPC R5"</a>
<li> <b>Previous message:</b> <a href="0214.html">Rooster: "Re: Fujitsu Scanner support?"</a>
<li> <b>Maybe in reply to:</b> <a href="0140.html">Simon Piette: "Umax 1200S on LinuxPPC R5"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0216.html">Simon Piette: "Re: Umax 1200S on LinuxPPC R5"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Douglas Gilbert wrote:<br>
<p>
<i>&gt;</i><br>
<i>&gt;</i><br>
<i>&gt; So the sg device on your box has no trouble handling SCSI</i><br>
<i>&gt; INQUIRY commands. You may like to try "sginfo -a /dev/sgf"</i><br>
<i>&gt; to see if mode page info comes out ok. My 1220S only</i><br>
<i>&gt; defines a few mode pages. "sginfo" is in the same tarball</i><br>
<i>&gt; referred to above (it is a "sg" equivalent of Eric Youngdale's</i><br>
<i>&gt; scsiinfo program). You may also find "sginfo -l" interesting.</i><br>
<i>&gt;</i><br>
<p>
I was unable to compile sginfo, there is an error in sginfo.c :<br>
<p>
sginfo.c:1675: warning: comparison is always 1 due to limited range of data type<br>
<p>
This line is while ((c = getopt(argc, argv, "agdcfisDeCXmMSRvlnLpVF:")) != EOF) {<br>
<p>
So it is simply unable to take any arguments.<br>
<p>
Zut!<br>
<p>
Simon<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0216.html">Simon Piette: "Re: Umax 1200S on LinuxPPC R5"</a>
<li> <b>Previous message:</b> <a href="0214.html">Rooster: "Re: Fujitsu Scanner support?"</a>
<li> <b>Maybe in reply to:</b> <a href="0140.html">Simon Piette: "Umax 1200S on LinuxPPC R5"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0216.html">Simon Piette: "Re: Umax 1200S on LinuxPPC R5"</a>
<!-- reply="end" -->
</ul>
