<!-- received="Wed Jun 30 09:21:52 1999 PDT" -->
<!-- sent="Wed, 30 Jun 1999 17:20:52 +0100" -->
<!-- name="Malcolm Wallace" -->
<!-- email="malcolm-sane@cs.york.ac.uk" -->
<!-- subject="Nikon Coolscan with RedHat 6.0" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Nikon Coolscan with RedHat 6.0</title>
<h1>Nikon Coolscan with RedHat 6.0</h1>
<b>Malcolm Wallace</b> (<a href="mailto:malcolm-sane@cs.york.ac.uk"><i>malcolm-sane@cs.york.ac.uk</i></a>)<br>
<i>Wed, 30 Jun 1999 17:20:52 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#252">[ date ]</a><a href="index.html#252">[ thread ]</a><a href="subject.html#252">[ subject ]</a><a href="author.html#252">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0253.html">David Fox: "Re: Nikon Coolscan with RedHat 6.0"</a>
<li> <b>Previous message:</b> <a href="0251.html">abel deuring: "Re: problems increasing SG_BIG_BUFF"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0253.html">David Fox: "Re: Nikon Coolscan with RedHat 6.0"</a>
<li> <b>Reply:</b> <a href="0253.html">David Fox: "Re: Nikon Coolscan with RedHat 6.0"</a>
<li> <b>Reply:</b> <a href="0254.html">Andreas: "Re: Nikon Coolscan with RedHat 6.0"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi everyone,<br>
<p>
I was running my Nikon Coolscan II (LS20) very happily under SANE 0.74<br>
and Slackware 3.4 (kernel 2.0.36) until recently.  Due to a hard disk<br>
crash, I had to reinstall everything, and took the opportunity to<br>
upgrade to RedHat 6.0 (kernel 2.2.5-15) which provides SANE 1.0.1.<br>
<p>
Suddenly, my Coolscan no longer works.  Here are the symptoms:<br>
<p>
xscanimage starts fine, and I can take a preview of the slide okay.<br>
However, when I click for a full scan, the scanner makes a horrible<br>
rattling noise (immediately) and the machine freezes completely.  The<br>
scanner light continues to blink, which usually indicates an error<br>
condition.  It looks like a SCSI hang to me - the hard reset button is<br>
the only way to recover.<br>
<p>
Is this likely to be caused by the new SCSI generic (sg) driver?  (But<br>
I thought pre-2.2.6 kernels still used the old driver?)  Or is it<br>
related to the autofocus problem that people have been reporting with<br>
the newer Coolscan driver for the LS30?  (As far as I know, I don't<br>
have those updates, but perhaps I'm mistaken?)  Any other ideas?<br>
I tried checking and unchecking the "prescan" radiobutton, but the<br>
behaviour was the same either way.<br>
<p>
By the way, I'm using the Adaptec AVA1505I card which came with the<br>
Coolscan, and I recompiled the kernel to include the aha152x driver<br>
(i.e. not as a module), with the correct settings (port=0x340, irq=10)<br>
hard-coded in.<br>
<p>
Regards,<br>
    Malcolm<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0253.html">David Fox: "Re: Nikon Coolscan with RedHat 6.0"</a>
<li> <b>Previous message:</b> <a href="0251.html">abel deuring: "Re: problems increasing SG_BIG_BUFF"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0253.html">David Fox: "Re: Nikon Coolscan with RedHat 6.0"</a>
<li> <b>Reply:</b> <a href="0253.html">David Fox: "Re: Nikon Coolscan with RedHat 6.0"</a>
<li> <b>Reply:</b> <a href="0254.html">Andreas: "Re: Nikon Coolscan with RedHat 6.0"</a>
<!-- reply="end" -->
</ul>
