<!-- received="Wed Nov  4 14:36:37 1998 PST" -->
<!-- sent="Wed, 04 Nov 1998 17:35:32 +0000" -->
<!-- name="Andre Couture" -->
<!-- email="acouture@videotron.ca" -->
<!-- subject="Re: Question." -->
<!-- id="" -->
<!-- inreplyto="Question." -->
<title>sane-devel: Re: Question.</title>
<h1>Re: Question.</h1>
<b>Andre Couture</b> (<a href="mailto:acouture@videotron.ca"><i>acouture@videotron.ca</i></a>)<br>
<i>Wed, 04 Nov 1998 17:35:32 +0000</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#42">[ date ]</a><a href="index.html#42">[ thread ]</a><a href="subject.html#42">[ subject ]</a><a href="author.html#42">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0043.html">Jonathan Buzzard: "Re: Parallel Port UMAX support?"</a>
<li> <b>Previous message:</b> <a href="0041.html">Jim Ford: "Re: Question."</a>
<li> <b>Maybe in reply to:</b> <a href="0037.html">Hunter, Peter: "Question."</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
This is a cryptographically signed message in MIME format.<br>
<p>
--------------ms2AE59D12A3203F1731535B56<br>
Content-Type: multipart/mixed;<br>
 boundary="------------7F00F7BA9378F81D97A01615"<br>
<p>
This is a multi-part message in MIME format.<br>
--------------7F00F7BA9378F81D97A01615<br>
Content-Type: text/plain; charset=us-ascii<br>
Content-Transfer-Encoding: 7bit<br>
<p>
Myself have a ViewStation AT3 which was on sale for less than $99.00USD,<br>
Support has just been added to Sane, I do still have few problems but it's<br>
well underway to be solve.<br>
I'm very please with it's quality and price!<br>
<p>
/Andre<br>
<p>
Jim Ford wrote:<br>
<p>
<i>&gt; Hunter, Peter wrote:</i><br>
<i>&gt;</i><br>
<i>&gt; &gt; Guys,</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt; This may not be the place to ask, but if you can thanks!</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt; All I want is a nice colour scanner, now which one if you had the chance,</i><br>
<i>&gt; &gt; would you buy to be able to use Linux and SANE with ?</i><br>
<i>&gt; &gt; Thanks again.</i><br>
<i>&gt;</i><br>
<i>&gt; I'm pleased with my UMAX ASTRA 1220s.  It works well in Win95 as well as</i><br>
<i>&gt; Linux 2.0.35. I had to get a new SCSI card for it to work in Linux though (</i><br>
<i>&gt; I chose an NCR chipset one  - ncr53c8xx driver. )</i><br>
<i>&gt;</i><br>
<i>&gt; I bought my 1220S from Syndicate Computers in Watford - they were the</i><br>
<i>&gt; cheapest and I've had good service and advice from them in the past.</i><br>
<i>&gt;</i><br>
<i>&gt; Regards: Jim Ford</i><br>
<i>&gt;</i><br>
<i>&gt; --</i><br>
<i>&gt; Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a></i><br>
<i>&gt; To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a></i><br>
<p>
<pre>
--
<p>
  ------------------------------------------------------------------------
Andre Couture
938934 Ontario Inc.
<a href="mailto:acouture@videotron.ca">mailto:acouture@videotron.ca</a>
<p>
email
<a href="mailto:search_n_find@yahoo.com">mailto:search_n_find@yahoo.com</a>
<a href="mailto:andre_couture@mailcity.com">mailto:andre_couture@mailcity.com</a>
<a href="mailto:andre_couture@mailexcite.com">mailto:andre_couture@mailexcite.com</a>
<p>
<p>
<p>
--------------7F00F7BA9378F81D97A01615
Content-Type: text/x-vcard; charset=us-ascii;
 name="acouture.vcf"
Content-Transfer-Encoding: 7bit
Content-Description: Card for Andre Couture
Content-Disposition: attachment;
 filename="acouture.vcf"
<p>
begin:vcard 
n:Couture;Andre
x-mozilla-html:TRUE
org:938934 Ontario Inc.;All
adr:;;;;;;Canada
version:2.1
email;<a href="mailto:internet:acouture@videotron.ca">internet:acouture@videotron.ca</a>
title:Consultant
x-mozilla-cpt:;0
fn:Andre Couture
end:vcard
<p>
--------------7F00F7BA9378F81D97A01615--
<p>
--------------ms2AE59D12A3203F1731535B56
Content-Type: application/x-pkcs7-signature; name="smime.p7s"
Content-Transfer-Encoding: base64
Content-Disposition: attachment; filename="smime.p7s"
Content-Description: S/MIME Cryptographic Signature
<p>
MIIH2wYJKoZIhvcNAQcCoIIHzDCCB8gCAQExCzAJBgUrDgMCGgUAMAsGCSqGSIb3DQEHAaCC
BckwggKIMIIB8aADAgECAgJIrjANBgkqhkiG9w0BAQQFADCBuTELMAkGA1UEBhMCWkExFTAT
BgNVBAgTDFdlc3Rlcm4gQ2FwZTEUMBIGA1UEBxMLRHVyYmFudmlsbGUxGjAYBgNVBAoTEVRo
YXd0ZSBDb25zdWx0aW5nMSkwJwYDVQQLEyBUaGF3dGUgUEYgUlNBIElLIDE5OTguOS4xNiAx
Nzo1NTE2MDQGA1UEAxMtVGhhd3RlIFBlcnNvbmFsIEZyZWVtYWlsIFJTQSBJc3N1ZXIgMTk5
OC45LjE2MB4XDTk4MTEwMjIxMDYzOVoXDTk5MTEwMjIxMDYzOVowRzEfMB0GA1UEAxMWVGhh
d3RlIEZyZWVtYWlsIE1lbWJlcjEkMCIGCSqGSIb3DQEJARYVYWNvdXR1cmVAdmlkZW90cm9u
LmNhMFwwDQYJKoZIhvcNAQEBBQADSwAwSAJBAML+WWglMinfV5KV+H35kLU1n5ii+a3SpoXv
SrZYseO+sO2Rw8fIzfkkK92M1aEFnmeysAwXUdt859PJ22HY+p0CAwEAAaNUMFIwEQYJYIZI
AYb4QgEBBAQDAgWgMA4GA1UdDwEB/wQEAwIFoDAMBgNVHRMBAf8EAjAAMB8GA1UdIwQYMBaA
FP4+YJxrjA+w2DPGysYeWLBxOLXgMA0GCSqGSIb3DQEBBAUAA4GBAB/NOz76V/uoF57hnjKA
4aTW/xg3ebSGl4L4Pu60Zmlwuwea/NCR4CcLSfkIwAd6zNuy8gwkvniQX0ai8qMqO9cqHfK1
tdjWUFXo0jk+O/1GMnBElJ0TyK51aV/dBNUe0ZI73yzd4y8CNPYRFcebrrHzMIN8kCLyRJ3Q
UIWortqEMIIDOTCCAqKgAwIBAgIBCjANBgkqhkiG9w0BAQQFADCB0TELMAkGA1UEBhMCWkEx
FTATBgNVBAgTDFdlc3Rlcm4gQ2FwZTESMBAGA1UEBxMJQ2FwZSBUb3duMRowGAYDVQQKExFU
aGF3dGUgQ29uc3VsdGluZzEoMCYGA1UECxMfQ2VydGlmaWNhdGlvbiBTZXJ2aWNlcyBEaXZp
c2lvbjEkMCIGA1UEAxMbVGhhd3RlIFBlcnNvbmFsIEZyZWVtYWlsIENBMSswKQYJKoZIhvcN
AQkBFhxwZXJzb25hbC1mcmVlbWFpbEB0aGF3dGUuY29tMB4XDTk4MDkxNjE3NTUzNFoXDTAw
MDkxNTE3NTUzNFowgbkxCzAJBgNVBAYTAlpBMRUwEwYDVQQIEwxXZXN0ZXJuIENhcGUxFDAS
BgNVBAcTC0R1cmJhbnZpbGxlMRowGAYDVQQKExFUaGF3dGUgQ29uc3VsdGluZzEpMCcGA1UE
CxMgVGhhd3RlIFBGIFJTQSBJSyAxOTk4LjkuMTYgMTc6NTUxNjA0BgNVBAMTLVRoYXd0ZSBQ
ZXJzb25hbCBGcmVlbWFpbCBSU0EgSXNzdWVyIDE5OTguOS4xNjCBnzANBgkqhkiG9w0BAQEF
AAOBjQAwgYkCgYEAxKXl1NTQXwgC7gchfSS/q2uOHusgBwIVhGuP0JMkHxud7miyuSxP6ZNn
FxAXHqH5Q0EjuTCqdpe78+f9gcC1MYv2plAmVPKVKOsZpB6XHrDiuJvBBJoy0DwJbE/kNU/w
dr8AEwNPRQhg8/y00JABihLJnLp/UuoqkzU2PDzkNS8CAwEAAaM3MDUwEgYDVR0TAQH/BAgw
BgEB/wIBADAfBgNVHSMEGDAWgBRyScJzNMZV9At2coF+d/SH58ayDjANBgkqhkiG9w0BAQQF
AAOBgQAsx4IfAUM+B4/uaVypZIL4wJatkyvLm1DXQJqBwrqmdp08lUDcVcHhVYJ5qwopptUM
4VcoPo/5u9XfDZNYqlsti48z5N1YFTV2chUpvUL0WpILd1+dJ9uaLU4bggaO0o1Wu5Xe2wxl
Bd6VngLdUxe+vvxrwxoiehQrYb3Cn156WjGCAdowggHWAgEBMIHAMIG5MQswCQYDVQQGEwJa
QTEVMBMGA1UECBMMV2VzdGVybiBDYXBlMRQwEgYDVQQHEwtEdXJiYW52aWxsZTEaMBgGA1UE
ChMRVGhhd3RlIENvbnN1bHRpbmcxKTAnBgNVBAsTIFRoYXd0ZSBQRiBSU0EgSUsgMTk5OC45
LjE2IDE3OjU1MTYwNAYDVQQDEy1UaGF3dGUgUGVyc29uYWwgRnJlZW1haWwgUlNBIElzc3Vl
ciAxOTk4LjkuMTYCAkiuMAkGBSsOAwIaBQCggbEwGAYJKoZIhvcNAQkDMQsGCSqGSIb3DQEH
ATAcBgkqhkiG9w0BCQUxDxcNOTgxMTA0MTczNTMzWjAjBgkqhkiG9w0BCQQxFgQUlEidPgk3
Fgq9SEfoFCok/MeH658wUgYJKoZIhvcNAQkPMUUwQzAKBggqhkiG9w0DBzAOBggqhkiG9w0D
AgICAIAwBwYFKw4DAgcwDQYIKoZIhvcNAwICAUAwDQYIKoZIhvcNAwICASgwDQYJKoZIhvcN
AQEBBQAEQJ9v+EisPtn2P9mkp1iOXlwpcf/EvV3Gn2TmO05QyR/3iqSrUWJrom4UKQpOU2Ad
Vgs78dI9vy9I2qOYiF4kGdY=
--------------ms2AE59D12A3203F1731535B56--
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0043.html">Jonathan Buzzard: "Re: Parallel Port UMAX support?"</a>
<li> <b>Previous message:</b> <a href="0041.html">Jim Ford: "Re: Question."</a>
<li> <b>Maybe in reply to:</b> <a href="0037.html">Hunter, Peter: "Question."</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
