<!-- received="Sun Nov  8 13:04:15 1998 PST" -->
<!-- sent="Fri, 06 Nov 1998 23:43:01 +0000" -->
<!-- name="Andre Couture" -->
<!-- email="acouture@videotron.ca" -->
<!-- subject="parallele BizCard Reader ???" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: parallele BizCard Reader ???</title>
<h1>parallele BizCard Reader ???</h1>
<b>Andre Couture</b> (<a href="mailto:acouture@videotron.ca"><i>acouture@videotron.ca</i></a>)<br>
<i>Fri, 06 Nov 1998 23:43:01 +0000</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#65">[ date ]</a><a href="index.html#65">[ thread ]</a><a href="subject.html#65">[ subject ]</a><a href="author.html#65">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0066.html">Milon Firikis: "Apple: Patch for proper scanning"</a>
<li> <b>Previous message:</b> <a href="0064.html">P. Kirchgessner: "Re: automatic document feeder"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
    I do have one of those old Business Card reader for which only Win3.1 drivers are<br>
available.<br>
Anybody can do some "reverse engeneering" and figure out out to use it under Sane?<br>
<p>
I've give them many calls and they just won't help!<br>
<p>
/Andre<br>
<p>
<p>
<pre>
--
<p>
  ------------------------------------------------------------------------
Andre Couture
938934 Ontario Inc.
<a href="mailto:acouture@videotron.ca">mailto:acouture@videotron.ca</a>
<p>
email
<a href="mailto:search_n_find@yahoo.com">mailto:search_n_find@yahoo.com</a>
<a href="mailto:andre_couture@mailcity.com">mailto:andre_couture@mailcity.com</a>
<a href="mailto:andre_couture@mailexcite.com">mailto:andre_couture@mailexcite.com</a>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0066.html">Milon Firikis: "Apple: Patch for proper scanning"</a>
<li> <b>Previous message:</b> <a href="0064.html">P. Kirchgessner: "Re: automatic document feeder"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
