<!-- received="Tue Nov 10 20:14:26 1998 PST" -->
<!-- sent="Tue, 10 Nov 1998 23:12:37 -0500" -->
<!-- name="Neil Zampella" -->
<!-- email="neilz@techie.com" -->
<!-- subject="Re: Sane v.74 for OS/2 and Acer Prism SCSI" -->
<!-- id="199811110413.XAA02005@pop01.globecomm.net" -->
<!-- inreplyto="Sane v.74 for OS/2 and Acer Prism SCSI" -->
<title>sane-devel: Re: Sane v.74 for OS/2 and Acer Prism SCSI</title>
<h1>Re: Sane v.74 for OS/2 and Acer Prism SCSI</h1>
<b>Neil Zampella</b> (<a href="mailto:neilz@techie.com"><i>neilz@techie.com</i></a>)<br>
<i>Tue, 10 Nov 1998 23:12:37 -0500</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#102">[ date ]</a><a href="index.html#102">[ thread ]</a><a href="subject.html#102">[ subject ]</a><a href="author.html#102">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0103.html">Henry Miller: "Leo Scan S3 traces avaiable."</a>
<li> <b>Previous message:</b> <a href="0101.html">John Brush: "Re: Microtek E3 and OS/2"</a>
<li> <b>Maybe in reply to:</b> <a href="0056.html">Neil Zampella: "Sane v.74 for OS/2 and Acer Prism SCSI"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Tue, 10 Nov 1998 15:01:52 +0100, Yuri Dario wrote:<br>
<p>
<i>&gt;On Mon, 09 Nov 1998 21:31:40 -0500, Neil Zampella wrote:</i><br>
<i>&gt;</i><br>
<i>&gt;&gt;Arggh ... OK .. since I've been told that this scanner is really a version of the Artec scanner, whoever is </i><br>
doing <br>
<i>&gt;&gt;that backend, can this scanner be included under that ??</i><br>
<i>&gt;</i><br>
<i>&gt;</i><br>
<i>&gt;did you update your artec.conf file? you need to have</i><br>
<i>&gt;</i><br>
<i>&gt;	scsi FlatbedScanner</i><br>
<i>&gt;</i><br>
<i>&gt;or</i><br>
<i>&gt;	b0t4l0</i><br>
<i>&gt;</i><br>
<i>&gt;Remove /dev/scanner, you don't need it under OS/2.</i><br>
<i>&gt;</i><br>
<i>&gt;</i><br>
<i>&gt;Bye,</i><br>
<i>&gt;</i><br>
<i>&gt;	Yuri Dario</i><br>
<p>
<p>
Tried this .. didn't work.  However, now I'm not getting the ASA000n file !!  But I am getting a SYS1808 error <br>
from scanimage with an access violation in EMXLIBCM.DLL, with the following appearing in the OS/2 <br>
window:<br>
<p>
Process terminated by SIGSEGV<br>
core dumped<br>
SYS1808:<br>
The process has stopped.  The software diagnostic<br>
code (exception code) is  0005.<br>
<p>
<p>
<p>
Neil Zampella<br>
<p>
Why do I use OS/2 ??<br>
Because I like choice !!<br>
<p>
<p>
<p>
Neil Zampella<br>
<p>
Why do I use OS/2 ??<br>
Because I like choice !!<br>
<p>
<p>
<p>
Neil Zampella<br>
<p>
Why do I use OS/2 ??<br>
Because I like choice !!<br>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0103.html">Henry Miller: "Leo Scan S3 traces avaiable."</a>
<li> <b>Previous message:</b> <a href="0101.html">John Brush: "Re: Microtek E3 and OS/2"</a>
<li> <b>Maybe in reply to:</b> <a href="0056.html">Neil Zampella: "Sane v.74 for OS/2 and Acer Prism SCSI"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
