<!-- received="Wed Nov 18 21:11:27 1998 PST" -->
<!-- sent="Wed, 18 Nov 1998 16:46:03 +0100 (MET)" -->
<!-- name="Petter Adsen" -->
<!-- email="petter@nil.net" -->
<!-- subject="xscanimage hangs when not in use" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: xscanimage hangs when not in use</title>
<h1>xscanimage hangs when not in use</h1>
<b>Petter Adsen</b> (<a href="mailto:petter@nil.net"><i>petter@nil.net</i></a>)<br>
<i>Wed, 18 Nov 1998 16:46:03 +0100 (MET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#150">[ date ]</a><a href="index.html#150">[ thread ]</a><a href="subject.html#150">[ subject ]</a><a href="author.html#150">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0151.html">John van den Heuvel: "[Fwd: UMAX Mirage IIse support??]"</a>
<li> <b>Previous message:</b> <a href="0149.html">Milon Firikis: "small bug in WWW/mail page"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I have noticed a problem with xscanimage from pre-1.0, and was wondering<br>
if anyone else has seen this. When leaving xscanimage open for a while,<br>
it dies immediately when I try to use it again.<br>
<p>
This machine is running pre-1.0 compiled against gtk+ 1.0.4, and uses<br>
the net backend. The machine the scanner (HP ScanJet 5p) is connected to<br>
is running the same versions on Debian 2.0.<br>
<p>
I haven't done any timings, but this seems to happen every time<br>
xscanimage is left for 15-20 minutes or so.<br>
<p>
Has anybody else seen this?<br>
<p>
Petter<br>
<p>
<pre>
-- 
Petter Adsen &lt;<a href="mailto:petter@nil.net">petter@nil.net</a>&gt;
 "Parity is for farmers." --Seymour Cray
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0151.html">John van den Heuvel: "[Fwd: UMAX Mirage IIse support??]"</a>
<li> <b>Previous message:</b> <a href="0149.html">Milon Firikis: "small bug in WWW/mail page"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
