<!-- received="Tue Nov 24 15:21:34 1998 PST" -->
<!-- sent="Wed, 25 Nov 1998 00:11:51 +0100" -->
<!-- name="Bernd Schroeder" -->
<!-- email="bernd@aquila.muc.de" -->
<!-- subject="Re: microtek 330" -->
<!-- id="" -->
<!-- inreplyto="m0zi4yg-000IwLC@harvey.aball.de" -->
<title>sane-devel: Re: microtek 330</title>
<h1>Re: microtek 330</h1>
<b>Bernd Schroeder</b> (<a href="mailto:bernd@aquila.muc.de"><i>bernd@aquila.muc.de</i></a>)<br>
<i>Wed, 25 Nov 1998 00:11:51 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#245">[ date ]</a><a href="index.html#245">[ thread ]</a><a href="subject.html#245">[ subject ]</a><a href="author.html#245">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0246.html">Hendryk Pfeiffer: "problem with HP C6270A (Scanjet ADF) using the ADF"</a>
<li> <b>Previous message:</b> <a href="0244.html">becka@rz.uni-duesseldorf.de: "Re: Logitech Scanman Driver"</a>
<li> <b>In reply to:</b> <a href="0234.html">Volker Beyerle: "microtek 330"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi,<br>
<p>
On Mon, Nov 23, 1998 at 05:14:50PM +0000, Volker Beyerle wrote:<br>
<i>&gt; Hello!</i><br>
<i>&gt; </i><br>
<i>&gt; Some days ago David Mosberger-Tang announced Sane 1.0, </i><br>
<i>&gt; between other he wrote:</i><br>
<i>&gt; </i><br>
<i>&gt; ************</i><br>
<i>&gt; * Updated Microtek2 backend</i><br>
<i>&gt;   - Added support for ScanMaker 330, ScanMaker 636, ScanMaker E3plus,</i><br>
<i>&gt;     ScanMaker X6 and Phantom 636.</i><br>
<i>&gt;   - Other improvements (this includes support for automatic document</i><br>
<i>&gt; feeders</i><br>
<i>&gt;     and transparency adapters, missing option descriptions were added).</i><br>
<i>&gt;   - Updated the manual page.</i><br>
<i>&gt; *********</i><br>
<i>&gt; </i><br>
<i>&gt; 1) Does this mean, that up to now the Microtek Scanmaker 330 wasn't</i><br>
<i>&gt; supported? (it could explain, why I was not able to adress this scanner</i><br>
<i>&gt; ......)</i><br>
<p>
Yes, the ScanMaker 330 didn't run out of the box with the previous<br>
release of sane. But all that is required, is to add the check for the<br>
model code in the function check_inquiry() in microtek2.c .<br>
<p>
If you don't want to wait until sane-1.00 is ported to OS/2, add the following<br>
to this function in the 0.74 release:<br>
<p>
        case 0x8d:<br>
          *model_string = "ScanMaker 330";<br>
          break;<br>
        case 0x93:<br>
          *model_string = "ScanMaker 330";<br>
          break;<br>
<p>
<p>
This was necessary to get the backend running under Unix/Linux, but I<br>
didn't hear anything, whether it works (with the Scanmaker 330 or another<br>
device) under OS/2.<br>
<p>
Bernd<br>
<p>
<pre>
-- 
Bernd Schroeder 
Email: <a href="mailto:bernd@aquila.muc.de">mailto:bernd@aquila.muc.de</a>
PGP public key available: <a href="mailto:pgp@aquila.muc.de">mailto:pgp@aquila.muc.de</a> | Subject: send key 
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0246.html">Hendryk Pfeiffer: "problem with HP C6270A (Scanjet ADF) using the ADF"</a>
<li> <b>Previous message:</b> <a href="0244.html">becka@rz.uni-duesseldorf.de: "Re: Logitech Scanman Driver"</a>
<li> <b>In reply to:</b> <a href="0234.html">Volker Beyerle: "microtek 330"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
