<!-- received="Sat Nov 28 18:36:15 1998 PST" -->
<!-- sent="Sat, 28 Nov 1998 20:29:32 -0600" -->
<!-- name="Graham Barr" -->
<!-- email="gbarr@pobox.com" -->
<!-- subject="Storm Technology TotalScan" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Storm Technology TotalScan</title>
<h1>Storm Technology TotalScan</h1>
<b>Graham Barr</b> (<a href="mailto:gbarr@pobox.com"><i>gbarr@pobox.com</i></a>)<br>
<i>Sat, 28 Nov 1998 20:29:32 -0600</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#268">[ date ]</a><a href="index.html#268">[ thread ]</a><a href="subject.html#268">[ subject ]</a><a href="author.html#268">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0269.html">Jeff DeFouw: "Re: Mustek 600 III ep Plus"</a>
<li> <b>Previous message:</b> <a href="0267.html">root: "Mustek 600 III ep Plus"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Does anyone know if there is any development going on for<br>
the Storm technology TotalScan parallel scanner ?<br>
<p>
<pre>
-- 
Graham Barr &lt;<a href="mailto:gbarr@pobox.com">gbarr@pobox.com</a>&gt;
Life would be so much easier if we could just look at the source code.
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0269.html">Jeff DeFouw: "Re: Mustek 600 III ep Plus"</a>
<li> <b>Previous message:</b> <a href="0267.html">root: "Mustek 600 III ep Plus"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
