<!-- received="Tue Jul  1 15:40:13 1997 MST" -->
<!-- sent="Tue, 1 Jul 1997 15:19:05 -0700" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="davidm@azstarnet.com" -->
<!-- subject="Re: sane-0.6 compile errors" -->
<!-- id="199707012219.PAA11334@panda.mosberger" -->
<!-- inreplyto="Pine.LNX.3.95.970701145925.31488A-100000@nuyums.trinet.bc.ca" -->
<title>sane-devel: Re: sane-0.6 compile errors</title>
<h1>Re: sane-0.6 compile errors</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:davidm@azstarnet.com"><i>davidm@azstarnet.com</i></a>)<br>
<i>Tue, 1 Jul 1997 15:19:05 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#9">[ date ]</a><a href="index.html#9">[ thread ]</a><a href="subject.html#9">[ subject ]</a><a href="author.html#9">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0010.html">Amancio Hasty Jr.: "re: fix for sane 0.6, need testers"</a>
<li> <b>Previous message:</b> <a href="0008.html">beanbek@nuyums.trinet.bc.ca: "sane-0.6 compile errors"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;&gt;&gt;&gt;&gt; On Tue, 1 Jul 1997 15:07:58 -0700 (PDT), <a href="mailto:beanbek@nuyums.trinet.bc.ca">beanbek@nuyums.trinet.bc.ca</a> said:</i><br>
<p>
  beanbek&gt; Up to this error the build went just fine.  My gcc 2.7.2<br>
  beanbek&gt; doesent like the statement in line 702:<br>
<p>
  beanbek&gt;  702 curve = GTK_GAMMA_CURVE (gamma)-&gt;curve;<br>
<p>
You need to fetch the gtk+ version in the SANE ftp directory:<br>
<p>
    <a href="ftp://ftp.azstarnet.com/pub/linux/axp/sane/">ftp://ftp.azstarnet.com/pub/linux/axp/sane/</a><br>
<p>
(see gtk+.README in that same directory).<br>
<p>
     --david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0010.html">Amancio Hasty Jr.: "re: fix for sane 0.6, need testers"</a>
<li> <b>Previous message:</b> <a href="0008.html">beanbek@nuyums.trinet.bc.ca: "sane-0.6 compile errors"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
