<!-- received="Sat Jul 12 13:12:14 1997 MST" -->
<!-- sent="Sat, 12 Jul 1997 12:33:42 -0700" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="davidm@azstarnet.com" -->
<!-- subject="related projects info added to home page" -->
<!-- id="199707121933.MAA16655@panda.mosberger" -->
<!-- inreplyto="" -->
<title>sane-devel: related projects info added to home page</title>
<h1>related projects info added to home page</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:davidm@azstarnet.com"><i>davidm@azstarnet.com</i></a>)<br>
<i>Sat, 12 Jul 1997 12:33:42 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#40">[ date ]</a><a href="index.html#40">[ thread ]</a><a href="subject.html#40">[ subject ]</a><a href="author.html#40">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0041.html">David Mosberger-Tang: "Re: system hangs with umax Astra 1200S / freebsd"</a>
<li> <b>Previous message:</b> <a href="0039.html">David Mosberger-Tang: "HTML version of SCSI-2 draft"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I added a section on "Related Projects" to the SANE home page at<br>
<a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>.  If you can think of any<br>
other projects that use or extend SANE in interesting ways, by all<br>
means let me know.<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0041.html">David Mosberger-Tang: "Re: system hangs with umax Astra 1200S / freebsd"</a>
<li> <b>Previous message:</b> <a href="0039.html">David Mosberger-Tang: "HTML version of SCSI-2 draft"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
