<!-- received="Sat Jul 12 13:28:11 1997 MST" -->
<!-- sent="Sat, 12 Jul 1997 12:54:04 -0700" -->
<!-- name="Amancio Hasty" -->
<!-- email="hasty@rah.star-gate.com" -->
<!-- subject="Re: system hangs with umax Astra 1200S / freebsd" -->
<!-- id="199707121954.MAA00356@rah.star-gate.com" -->
<!-- inreplyto="system hangs with umax Astra 1200S / freebsd" -->
<title>sane-devel: Re: system hangs with umax Astra 1200S / freebsd</title>
<h1>Re: system hangs with umax Astra 1200S / freebsd</h1>
<b>Amancio Hasty</b> (<a href="mailto:hasty@rah.star-gate.com"><i>hasty@rah.star-gate.com</i></a>)<br>
<i>Sat, 12 Jul 1997 12:54:04 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#42">[ date ]</a><a href="index.html#42">[ thread ]</a><a href="subject.html#42">[ subject ]</a><a href="author.html#42">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0043.html">eric: "Re: system hangs with umax Astra 1200S / freebsd"</a>
<li> <b>Previous message:</b> <a href="0041.html">David Mosberger-Tang: "Re: system hangs with umax Astra 1200S / freebsd"</a>
<li> <b>Maybe in reply to:</b> <a href="0038.html">eric: "system hangs with umax Astra 1200S / freebsd"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
a couple of things:<br>
<p>
enable the kernel scsi debugging:<br>
SCSI(8)                 FreeBSD System Manager's Manual                SCSI(8)<br>
<p>
NAME<br>
     scsi - program to assist with scsi devices.<br>
<p>
SYNOPSIS<br>
     scsi -f device -d debug_level<br>
     scsi -f device -z seconds [-v]<br>
     scsi -f device -m page [-P pc] [-e]<br>
     scsi -f device -p [-b bus] [-l lun]<br>
     scsi -f device -r [-b bus] [-t targ] [-l -lun]<br>
     scsi -f device -c cmd_fmt [arg0 ... argn] [-s seconds] [-v] -o count<br>
          out_fmt [arg0 ... argn] -i count in_fmt<br>
<p>
DESCRIPTION<br>
     The scsi program is used to send commands to a scsi device. It is also a<br>
     sample usage of the user level SCSI commands.<br>
<p>
     The -d option sets the SCSI kernel debug level.  The kernel must have<br>
     been compiled with the SCSIDEBUG option.  See /sys/scsi/scsi_debug.h to<br>
     figure out what to set the kernel debug level to.<br>
<p>
<p>
scsi -f /dev/uk0 -d 10<br>
<p>
Send me the output of the last of couple scsi messages.<br>
<p>
Also, I need to know which scsi controller are you using...<br>
<p>
	Tnks,<br>
	Amancio<br>
<p>
<i>&gt;From The Desk Of eric :</i><br>
<i>&gt; </i><br>
<i>&gt; </i><br>
<i>&gt; I added "Astra 1200S " to the list of umax scanners recognized on the hope</i><br>
<i>&gt; that it would be more or less like the Astra 600S which was already listed. </i><br>
<i>&gt; </i><br>
<i>&gt; scanimage -L lists the scanner as umax:/dev/uk0 as it should, the kernel</i><br>
<i>&gt; recognizes the scanner, but when I try to any type of scan, the entire system</i><br>
<i>&gt; hangs solid and needs to be power-cycled. </i><br>
<i>&gt; </i><br>
<i>&gt; In debugging mode: </i><br>
<i>&gt; [umax]</i><br>
<i>&gt; grabbing scanner</i><br>
<i>&gt; scanner ready</i><br>
<i>&gt; scanner reserved</i><br>
<i>&gt; trying to reposition scanner ...</i><br>
<i>&gt; scanner ready</i><br>
<i>&gt; scanner repositioned</i><br>
<i>&gt; set_window_param</i><br>
<i>&gt; window descriptor block created with 82 bytes</i><br>
<i>&gt; </i><br>
<i>&gt; and at this point the system hangs completely and needs to be reset. </i><br>
<i>&gt; </i><br>
<i>&gt; Can anyone suggest what might be wrong? </i><br>
<i>&gt; </i><br>
<i>&gt; 						Eric</i><br>
<i>&gt; </i><br>
<i>&gt; --</i><br>
<i>&gt; Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a></i><br>
<i>&gt; To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a></i><br>
<i>&gt; </i><br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0043.html">eric: "Re: system hangs with umax Astra 1200S / freebsd"</a>
<li> <b>Previous message:</b> <a href="0041.html">David Mosberger-Tang: "Re: system hangs with umax Astra 1200S / freebsd"</a>
<li> <b>Maybe in reply to:</b> <a href="0038.html">eric: "system hangs with umax Astra 1200S / freebsd"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
