<!-- received="Wed Jul 16 14:32:07 1997 MST" -->
<!-- sent="Wed, 16 Jul 1997 17:14:59 -0400 (EDT)" -->
<!-- name="Billy the expert skier!" -->
<!-- email="druid@linux.nycmetro.com" -->
<!-- subject="sane v0.61 on SCO" -->
<!-- id="199707162114.RAA22530@linux.nycmetro.com" -->
<!-- inreplyto="" -->
<title>sane-devel: sane v0.61 on SCO</title>
<h1>sane v0.61 on SCO</h1>
<b>Billy the expert skier!</b> (<a href="mailto:druid@linux.nycmetro.com"><i>druid@linux.nycmetro.com</i></a>)<br>
<i>Wed, 16 Jul 1997 17:14:59 -0400 (EDT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#74">[ date ]</a><a href="index.html#74">[ thread ]</a><a href="subject.html#74">[ subject ]</a><a href="author.html#74">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0075.html">David Mosberger-Tang: "Re: mustek: timeout after scan and cmd line parser bug"</a>
<li> <b>Previous message:</b> <a href="0073.html">David Mosberger-Tang: "Re: fixed: mustek: timeout after scan and cmd line parser bug"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0076.html">David Mosberger-Tang: "Re: sane v0.61 on SCO"</a>
<li> <b>Reply:</b> <a href="0076.html">David Mosberger-Tang: "Re: sane v0.61 on SCO"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I am new to this mailing list, so please try to bear with me. I recently<br>
got interested with sane about 2 weeks ago, and when version 0.61 came<br>
out, I finally got it compiled on my SCO box.<br>
<p>
Here is my setup:<br>
FreeSCO OpenServer 5 (3.2v5.0.2)<br>
gimp v0.99.10  (yes yes, I got this compiled in sco too ;-)<br>
sane v0.61<br>
Mustek Scanner MFS-12000CX<br>
 with it's own SCSI supplied interface card (ISA)<br>
<p>
I can't believe I actually got this thing compiled in sco.. I had to<br>
specifically tell the ./configure script where my gtk+ stuff was, and even<br>
still, it didn't "find" &lt;libgimp/gimp.h&gt;  So I made one tiny change to<br>
./configure to find gimp.h  I changed that line where it checks for<br>
&lt;libgimp/gimp.h&gt; to this:<br>
if eval "test \"`echo '$ac_cv_header_'$ac_safe`\" = no"; then<br>
						    --<br>
<p>
In the next release of sane, could you please please "fix" the ./configure<br>
script??<br>
<p>
Anyway, now that I got the entire sane v0.61 package compiled and<br>
installed on my SCO box, I have somewhat of a dilemma.  How do I get SCO<br>
to recognize my scanner??  It would be quite a shame if I couldn't get<br>
this done, considering that I got sane v0.61 compiled (scanimage,<br>
xscanimage, xcam, etc..)  Does anyone know if this is possible in SCO??<br>
And if so, how can it be accomplished? I assume the kernel has to be<br>
relinked with Scanner support (scsi). Maybe the 'mkdev' command or 'mknod'<br>
command? Please help!!! I want to be able to use my scanner in sco! :)<br>
I'll probably post this in comp.unix.sco.misc also.<br>
<p>
Billy<br>
ΝΝΝΝΝΝΝΝΝΝΝΝΝΝΝΝΝΝΝΝΝ<br>
William D. Katz "a good skier"<br>
<p>
Internet: <a href="mailto:druid@linux.nycmetro.com">druid@linux.nycmetro.com</a><br>
Internet: <a href="mailto:druid@dorsai.org">druid@dorsai.org</a><br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0075.html">David Mosberger-Tang: "Re: mustek: timeout after scan and cmd line parser bug"</a>
<li> <b>Previous message:</b> <a href="0073.html">David Mosberger-Tang: "Re: fixed: mustek: timeout after scan and cmd line parser bug"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0076.html">David Mosberger-Tang: "Re: sane v0.61 on SCO"</a>
<li> <b>Reply:</b> <a href="0076.html">David Mosberger-Tang: "Re: sane v0.61 on SCO"</a>
<!-- reply="end" -->
</ul>
