<!-- received="Thu Jul 17 09:24:36 1997 MST" -->
<!-- sent="Thu, 17 Jul 1997 09:19:18 -0700" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="davidm@azstarnet.com" -->
<!-- subject="Re: mustek: timeout after scan and cmd line parser bug" -->
<!-- id="199707171619.JAA15716@panda.mosberger" -->
<!-- inreplyto="m0woouf-000BW3C@charon.beck-sw.de" -->
<title>sane-devel: Re: mustek: timeout after scan and cmd line parser bug</title>
<h1>Re: mustek: timeout after scan and cmd line parser bug</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:davidm@azstarnet.com"><i>davidm@azstarnet.com</i></a>)<br>
<i>Thu, 17 Jul 1997 09:19:18 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#79">[ date ]</a><a href="index.html#79">[ thread ]</a><a href="subject.html#79">[ subject ]</a><a href="author.html#79">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0080.html">Billy the expert skier!: "Re: sane v0.61 on SCO"</a>
<li> <b>Previous message:</b> <a href="0078.html">becka@sunserver1.rz.uni-duesseldorf.de: "Re: mustek: timeout after scan and cmd line parser bug"</a>
<li> <b>In reply to:</b> <a href="0078.html">becka@sunserver1.rz.uni-duesseldorf.de: "Re: mustek: timeout after scan and cmd line parser bug"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;&gt;&gt;&gt;&gt; On Thu, 17 Jul 1997 13:40:01 +0200 (MET DST), <a href="mailto:becka@sunserver1.rz.uni-duesseldorf.de">becka@sunserver1.rz.uni-duesseldorf.de</a> said:</i><br>
<p>
<i>  &gt;&gt; 2. While scanimage --mode color -y 100 does what I expected it</i><br>
<i>  &gt;&gt; to, scanimage -y 100 --mode color results in a full 36cm scan (-y</i><br>
<i>  &gt;&gt; 100 is ignored).</i><br>
<p>
  Andy&gt; Yes - I have seen this, too. David seems to be very busy and<br>
  Andy&gt; so am I with GGI. It is probably something quite simple. Maybe<br>
  Andy&gt; you'd like to fix it ?<br>
<p>
I know what's going wrong, but as you said, I'm unlikely to find time<br>
to fix this real soon.  What's happening is that switching the mode<br>
causes all options to be re-fetched.  As a result, the value set by -y<br>
is lost when the --mode option is processed.  It probably would be<br>
best to stash away the values for -l, -t, -x, and -y and process them<br>
only right before starting a scan.  However, note that in general the<br>
command-line options _are_ order-sensitive.  Maybe the real bug is<br>
that scanimage(1) doesn't explain this sufficiently well?<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0080.html">Billy the expert skier!: "Re: sane v0.61 on SCO"</a>
<li> <b>Previous message:</b> <a href="0078.html">becka@sunserver1.rz.uni-duesseldorf.de: "Re: mustek: timeout after scan and cmd line parser bug"</a>
<li> <b>In reply to:</b> <a href="0078.html">becka@sunserver1.rz.uni-duesseldorf.de: "Re: mustek: timeout after scan and cmd line parser bug"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
