<!-- received="Fri Jul 18 09:47:06 1997 MST" -->
<!-- sent="Fri, 18 Jul 1997 12:02:10 -0400" -->
<!-- name="Michael Sweet" -->
<!-- email="mike@easysw.com" -->
<!-- subject="Re: mustek 3-pass fix" -->
<!-- id="199707181547.IAA26600@panda.mosberger" -->
<!-- inreplyto="mustek 3-pass fix" -->
<title>sane-devel: Re: mustek 3-pass fix</title>
<h1>Re: mustek 3-pass fix</h1>
<b>Michael Sweet</b> (<a href="mailto:mike@easysw.com"><i>mike@easysw.com</i></a>)<br>
<i>Fri, 18 Jul 1997 12:02:10 -0400</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#88">[ date ]</a><a href="index.html#88">[ thread ]</a><a href="subject.html#88">[ subject ]</a><a href="author.html#88">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0089.html">David Mosberger-Tang: "Re: mustek 3-pass fix"</a>
<li> <b>Previous message:</b> <a href="0087.html">Jay Kuri: "Help: Umax Vista-S6E &amp; xscanimage / umax-sane problem"</a>
<li> <b>Maybe in reply to:</b> <a href="0084.html">David Mosberger-Tang: "mustek 3-pass fix"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
David Mosberger-Tang wrote:<br>
<i>&gt; </i><br>
<i>&gt; Is somebody planning on testing the Mustek 3-pass fix I sent out</i><br>
<i>&gt; yesterday?  I'm asking since a lot of mail bounced yesterday due to</i><br>
<i>&gt; the DNS errors caused by Internic.</i><br>
<p>
I for one did not receive this patch, and as I'm testing my SCSI code<br>
for sanei with it, the patch might be useful for me :)<br>
<p>
<pre>
-- 
________________________________________________________________________
 Mike Sweet        Software for SGI and Sun      Easy Software Products
 (301) 373-9603          Workstations          44145 Airport View Drive
 mike@easysw.com    <a href="http://www.easysw.com">http://www.easysw.com</a>    Hollywood, Maryland  20636
<p>
        SUPPORT THE ANTI-SPAM AMENDMENT! - <a href="http://www.cauce.org">http://www.cauce.org</a>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0089.html">David Mosberger-Tang: "Re: mustek 3-pass fix"</a>
<li> <b>Previous message:</b> <a href="0087.html">Jay Kuri: "Help: Umax Vista-S6E &amp; xscanimage / umax-sane problem"</a>
<li> <b>Maybe in reply to:</b> <a href="0084.html">David Mosberger-Tang: "mustek 3-pass fix"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
