<!-- received="Fri Jul 18 13:53:27 1997 MST" -->
<!-- sent="Fri, 18 Jul 1997 13:21:08 -0700" -->
<!-- name="Amancio Hasty" -->
<!-- email="hasty@rah.star-gate.com" -->
<!-- subject="Re: Help: Umax Vista-S6E &amp; xscanimage / umax-sane problem" -->
<!-- id="199707182021.NAA06338@rah.star-gate.com" -->
<!-- inreplyto="Help: Umax Vista-S6E &amp; xscanimage / umax-sane problem" -->
<title>sane-devel: Re: Help: Umax Vista-S6E &amp; xscanimage / umax-sane problem</title>
<h1>Re: Help: Umax Vista-S6E &amp; xscanimage / umax-sane problem</h1>
<b>Amancio Hasty</b> (<a href="mailto:hasty@rah.star-gate.com"><i>hasty@rah.star-gate.com</i></a>)<br>
<i>Fri, 18 Jul 1997 13:21:08 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#91">[ date ]</a><a href="index.html#91">[ thread ]</a><a href="subject.html#91">[ subject ]</a><a href="author.html#91">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0092.html">Michael K. Johnson: "Re: Help: Umax Vista-S6E &amp; xscanimage / umax-sane problem"</a>
<li> <b>Previous message:</b> <a href="0090.html">David Mosberger-Tang: "Re: mustek 3-pass fix"</a>
<li> <b>Maybe in reply to:</b> <a href="0087.html">Jay Kuri: "Help: Umax Vista-S6E &amp; xscanimage / umax-sane problem"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0092.html">Michael K. Johnson: "Re: Help: Umax Vista-S6E &amp; xscanimage / umax-sane problem"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Just post on the freebsd hackers mailing list cause it looks like<br>
a scsi driver problem. I am running FreeBSD-3.0 with a UMAX S-12<br>
and don't have any such problems over here. The problem that you<br>
are describing sounds like a problem with sending a scsi command<br>
to the scanner. You can enable scsi command trace and pinpoint which<br>
command is giving you problems;alternatively, you can use sane's<br>
trace facility by settting SANE_DEBUG_UMAX 255 or see the sane<br>
documentation for the exact environment variable.<br>
<p>
	Regards,<br>
	Amancio<br>
<i>&gt;From The Desk Of Jay Kuri :</i><br>
<i>&gt;    Good morning,</i><br>
<i>&gt; </i><br>
<i>&gt;    I have a problem when attempting to scan with xscanimage.  It scans the</i><br>
<i>&gt; top half-inch of the scan (which is the plastic edge on top of the glass),</i><br>
<i>&gt; and then stops. The preview window is then filled with the first half-inch</i><br>
<i>&gt; repeated over and over again.  </i><br>
<i>&gt; </i><br>
<i>&gt; Does anyone have any insight into this problem?</i><br>
<i>&gt; </i><br>
<i>&gt; Hardware specs:  </i><br>
<i>&gt; UMAX vista-S6E</i><br>
<i>&gt; Adaptec 2940 SCSI controller</i><br>
<i>&gt; </i><br>
<i>&gt; Software:</i><br>
<i>&gt; FreeBSD 2.2.2</i><br>
<i>&gt; sane-0.61</i><br>
<i>&gt; gimp-0.99.10</i><br>
<i>&gt; </i><br>
<i>&gt; Jay Kuri</i><br>
<i>&gt; </i><br>
<i>&gt; ---</i><br>
<i>&gt; Everyone can be taught to sculpt:  Michelangelo would have had to be </i><br>
<i>&gt; taught how not to.  So it is with the great programmers.</i><br>
<i>&gt; </i><br>
<i>&gt; </i><br>
<i>&gt; --</i><br>
<i>&gt; Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a></i><br>
<i>&gt; To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a></i><br>
<i>&gt; </i><br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0092.html">Michael K. Johnson: "Re: Help: Umax Vista-S6E &amp; xscanimage / umax-sane problem"</a>
<li> <b>Previous message:</b> <a href="0090.html">David Mosberger-Tang: "Re: mustek 3-pass fix"</a>
<li> <b>Maybe in reply to:</b> <a href="0087.html">Jay Kuri: "Help: Umax Vista-S6E &amp; xscanimage / umax-sane problem"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0092.html">Michael K. Johnson: "Re: Help: Umax Vista-S6E &amp; xscanimage / umax-sane problem"</a>
<!-- reply="end" -->
</ul>
