<!-- received="Sun Jul 20 19:18:36 1997 MST" -->
<!-- sent="Sun, 20 Jul 1997 23:00:08 -0400 (EDT)" -->
<!-- name="Gregory Trubetskoy" -->
<!-- email="grisha@ispol.com" -->
<!-- subject="Re: More on Mustek 8000SP adventures..." -->
<!-- id="199707210112.SAA07596@hermit.znet.com" -->
<!-- inreplyto="f76_9707210120@home.yo.com" -->
<title>sane-devel: Re: More on Mustek 8000SP adventures...</title>
<h1>Re: More on Mustek 8000SP adventures...</h1>
<b>Gregory Trubetskoy</b> (<a href="mailto:grisha@ispol.com"><i>grisha@ispol.com</i></a>)<br>
<i>Sun, 20 Jul 1997 23:00:08 -0400 (EDT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#109">[ date ]</a><a href="index.html#109">[ thread ]</a><a href="subject.html#109">[ subject ]</a><a href="author.html#109">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0110.html">Tony Peterson: "FTP site problem"</a>
<li> <b>Previous message:</b> <a href="0108.html">Gregory Trubetskoy: "Re: More on Mustek 8000SP adventures..."</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0107.html">Gregory Trubetskoy: "Re: Building 0.61: which GTK?"</a>
<li> <b>Reply:</b> <a href="0107.html">Gregory Trubetskoy: "Re: Building 0.61: which GTK?"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hey, the --disable-ld-fix improves things quite a bit!<br>
<p>
Now, howver, it seems like there is no more ( or too much?... ) blue ( or <br>
red? )<br>
?<br>
Anyhow - the sky appears purple and the desert and my face is green...<br>
<p>
------------------------------------------------------------<br>
                Gregory (Grisha) Trubetskoy<br>
                      <a href="mailto:grisha@ispol.com">grisha@ispol.com</a><br>
              <a href="http://www.ispol.com/home/grisha">http://www.ispol.com/home/grisha</a><br>
------------------------------------------------------------<br>
<p>
On 21 Jul 1997, Kolja Waschk wrote:<br>
<p>
<i>&gt;  GT&gt; Now the problem is that the image quality leaves quite a lot to be</i><br>
<i>&gt;  GT&gt; desired - whenever I use color mode, the image looks gray with</i><br>
<i>&gt;  GT&gt; lines running perpendicular to the direction of the scan (</i><br>
<i>&gt;  GT&gt; horizontal lines, if you will) </i><br>
<i>&gt; </i><br>
<i>&gt; perhaps redo the configure with --disable-ld-fix</i><br>
<i>&gt; </i><br>
<i>&gt; bibi,</i><br>
<i>&gt; Kolja</i><br>
<i>&gt; </i><br>
<i>&gt; ---</i><br>
<i>&gt; Kolja Waschk (<a href="mailto:kawk@Home.Yo.COM">kawk@Home.Yo.COM</a>)</i><br>
<i>&gt; <a href="http://WWW.TU-Harburg.DE/~sekw0206">http://WWW.TU-Harburg.DE/~sekw0206</a></i><br>
<i>&gt; Operator of "Yo.COM news &amp; mail service for small budget"</i><br>
<i>&gt; Tel +49-40-8891-3034, BBS/Fax -3035 (ISDN V.110/X.75 &amp; ZyXEL/V.34)</i><br>
<i>&gt; </i><br>
<i>&gt; --</i><br>
<i>&gt; Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a></i><br>
<i>&gt; To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a></i><br>
<i>&gt; </i><br>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0110.html">Tony Peterson: "FTP site problem"</a>
<li> <b>Previous message:</b> <a href="0108.html">Gregory Trubetskoy: "Re: More on Mustek 8000SP adventures..."</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0107.html">Gregory Trubetskoy: "Re: Building 0.61: which GTK?"</a>
<li> <b>Reply:</b> <a href="0107.html">Gregory Trubetskoy: "Re: Building 0.61: which GTK?"</a>
<!-- reply="end" -->
</ul>
