<!-- received="Tue Jul 22 08:01:59 1997 MST" -->
<!-- sent="Tue, 22 Jul 1997 16:42:28 -0100 (GMT)" -->
<!-- name="Tristan Tarrant" -->
<!-- email="ttarrant@suntlc.etnoteam.it" -->
<!-- subject="Re: Help: Umax Vista-S6E / umax-sane problem: problem FOUND??" -->
<!-- id="199707221742.QAA26630@suntlc.etnoteam.it" -->
<!-- inreplyto="199707221320.JAA25305@nigel.redhat.com" -->
<title>sane-devel: Re: Help: Umax Vista-S6E / umax-sane problem: problem FOUND??</title>
<h1>Re: Help: Umax Vista-S6E / umax-sane problem: problem FOUND??</h1>
<b>Tristan Tarrant</b> (<a href="mailto:ttarrant@suntlc.etnoteam.it"><i>ttarrant@suntlc.etnoteam.it</i></a>)<br>
<i>Tue, 22 Jul 1997 16:42:28 -0100 (GMT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#115">[ date ]</a><a href="index.html#115">[ thread ]</a><a href="subject.html#115">[ subject ]</a><a href="author.html#115">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0116.html">Phil Ptkwt Kristin: "Re: Help: Umax Vista-S6E / umax-sane problem: problem FOUND??"</a>
<li> <b>Previous message:</b> <a href="0114.html">Michael K. Johnson: "Re: Help: Umax Vista-S6E / umax-sane problem: problem FOUND??"</a>
<li> <b>In reply to:</b> <a href="0114.html">Michael K. Johnson: "Re: Help: Umax Vista-S6E / umax-sane problem: problem FOUND??"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0116.html">Phil Ptkwt Kristin: "Re: Help: Umax Vista-S6E / umax-sane problem: problem FOUND??"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On 22 Lug, Michael K. Johnson wrote:<br>
<i>&gt; </i><br>
<i>&gt; Jay Kuri writes:</i><br>
<i>&gt;&gt;   after fiddling with it for a few minutes this evening I found out that</i><br>
<i>&gt;&gt;the scan works fine when you place xscanimage in any mode other than</i><br>
<i>&gt;&gt;color.</i><br>
<i>&gt; </i><br>
<i>&gt; Have you tried the latest umax package (NOT sane, umax) and built the</i><br>
<i>&gt; umax-cli program?  Does it give you the same results?</i><br>
<p>
On my UC-630, I can do gray scans properly, but colour scans are just<br>
empty (well, they have a few dots scattered around). This is with<br>
umax-0.5.5+sane-0.61.<br>
<p>
Tristan<br>
<pre>
-- 
Tristan Tarrant                                      <a href="mailto:ttarrant@etnoteam.it">ttarrant@etnoteam.it</a>
Quando ti svegli al mattino, sorridi. Domani sara' peggio.
                                   Ramon Montoro
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0116.html">Phil Ptkwt Kristin: "Re: Help: Umax Vista-S6E / umax-sane problem: problem FOUND??"</a>
<li> <b>Previous message:</b> <a href="0114.html">Michael K. Johnson: "Re: Help: Umax Vista-S6E / umax-sane problem: problem FOUND??"</a>
<li> <b>In reply to:</b> <a href="0114.html">Michael K. Johnson: "Re: Help: Umax Vista-S6E / umax-sane problem: problem FOUND??"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0116.html">Phil Ptkwt Kristin: "Re: Help: Umax Vista-S6E / umax-sane problem: problem FOUND??"</a>
<!-- reply="end" -->
</ul>
