<!-- received="Wed Jul 23 15:46:37 1997 MST" -->
<!-- sent="Wed, 23 Jul 1997 22:20:15 +0100" -->
<!-- name="Jonathan A. Buzzard" -->
<!-- email="jab@hex.prestel.co.uk" -->
<!-- subject="Re: UMAX Astra 600p" -->
<!-- id="m0wr8pT-000J8HC@hex.prestel.co.uk" -->
<!-- inreplyto="UMAX Astra 600p" -->
<title>sane-devel: Re: UMAX Astra 600p</title>
<h1>Re: UMAX Astra 600p</h1>
<b>Jonathan A. Buzzard</b> (<a href="mailto:jab@hex.prestel.co.uk"><i>jab@hex.prestel.co.uk</i></a>)<br>
<i>Wed, 23 Jul 1997 22:20:15 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#127">[ date ]</a><a href="index.html#127">[ thread ]</a><a href="subject.html#127">[ subject ]</a><a href="author.html#127">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0128.html">Michael K. Johnson: "Re: UMAX Astra 600p"</a>
<li> <b>Previous message:</b> <a href="0126.html">David Mosberger-Tang: "Re: More on Mustek 8000SP adventures..."</a>
<li> <b>Maybe in reply to:</b> <a href="0124.html">Jonathan A. Buzzard: "UMAX Astra 600p"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0128.html">Michael K. Johnson: "Re: UMAX Astra 600p"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<a href="mailto:johnsonm@redhat.com">johnsonm@redhat.com</a> said:<br>
<i>&gt; I used their faxback service to get the original specs.  I'd guess </i><br>
<i>&gt; that the parallel version is just a scsi scanner hiding behind a </i><br>
<i>&gt; parallel-to-scsi converter, though.  Try the ppa driver and see what </i><br>
<i>&gt; you get.</i><br>
<i>&gt;</i><br>
<i>&gt; michaelkjohnson </i><br>
<p>
Probably is just the 600s behind a parallel-to-scsi converter, except that<br>
the ppa driver is just one of many such devices, plus I don't own the scanner<br>
and don't want to buy something to find I can't use it.<br>
<p>
The faxback number is a US one, and at a guess it looks like a free phone<br>
number, which I can't access from the UK, and that would presume that I<br>
could workout how to do faxback with only faxmodem. Is their anyone in the<br>
US who would be prepared to check the faxback service has the necessary info<br>
and post it to me if it does?<br>
<p>
<p>
JAB.<br>
<p>
<p>
<pre>
-- 
Jonathan A. Buzzard,
34 Kepwell Road, Prudhoe,           Email: <a href="mailto:jab@hex.prestel.co.uk">jab@hex.prestel.co.uk</a>
Northumberland. NE42 6PD              Tel: +44(0)1661-832195
United Kingdom
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0128.html">Michael K. Johnson: "Re: UMAX Astra 600p"</a>
<li> <b>Previous message:</b> <a href="0126.html">David Mosberger-Tang: "Re: More on Mustek 8000SP adventures..."</a>
<li> <b>Maybe in reply to:</b> <a href="0124.html">Jonathan A. Buzzard: "UMAX Astra 600p"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0128.html">Michael K. Johnson: "Re: UMAX Astra 600p"</a>
<!-- reply="end" -->
</ul>
