<!-- received="Sun Jul 27 10:08:27 1997 MST" -->
<!-- sent="Sun, 27 Jul 1997 09:56:58 -0700 (MST)" -->
<!-- name="David  Mosberger" -->
<!-- email="davidm@azstarnet.com" -->
<!-- subject="Re: Problems with xscanimage" -->
<!-- id="199707271656.JAA20816@web.azstarnet.com" -->
<!-- inreplyto="Problems with xscanimage" -->
<title>sane-devel: Re: Problems with xscanimage</title>
<h1>Re: Problems with xscanimage</h1>
<b>David  Mosberger</b> (<a href="mailto:davidm@azstarnet.com"><i>davidm@azstarnet.com</i></a>)<br>
<i>Sun, 27 Jul 1997 09:56:58 -0700 (MST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#145">[ date ]</a><a href="index.html#145">[ thread ]</a><a href="subject.html#145">[ subject ]</a><a href="author.html#145">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0146.html">becka@sunserver1.rz.uni-duesseldorf.de: "Re: sane-0.62 released"</a>
<li> <b>Previous message:</b> <a href="0144.html">David Mosberger-Tang: "Re: sane-0.62 released"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt; 1. scanimage is working. It identifies the correct scanner.</i><br>
<i>&gt;    But as soon as I enter a resolution (i.e. "scanimage --resolution 300")</i><br>
<i>&gt;    it wants to exceed the physical scan area height :-(</i><br>
<i>&gt;    (just as it is mentioned in the PROBLEMS file, but in my opinion,</i><br>
<i>&gt;    I am using a known scanner)</i><br>
<p>
Have you tried limiting the scan-height with the -y option?  Does the<br>
scan work fine when not specifying the resolution at all?<br>
<p>
<i>&gt; 2. sane is not compiling xscanimage :-( although I have installed</i><br>
<i>&gt;    the newest (0.99-10) GIMP paket (maybe I have to install an old one????).</i><br>
<p>
You need to GTK+ version in the SANE ftp directory (see the README<br>
that comes with sane-0.62 for details).<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0146.html">becka@sunserver1.rz.uni-duesseldorf.de: "Re: sane-0.62 released"</a>
<li> <b>Previous message:</b> <a href="0144.html">David Mosberger-Tang: "Re: sane-0.62 released"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
