<title>sane-devel by subject</title>
<a name="start"><h1>sane-devel by subject</h1></a>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#start">[ date ]</a><a href="index.html#start">[ thread ]</a><a href="author.html#start">[ author ]</a>
<li> <b><a href="..">Other mail archives</a></b>
</ul>
<p>
<b>Starting:</b> <i>Mon 30 Jun 1997 - 23:40:45 MST</i><br>
<b>Ending:</b> <i>Thu 31 Jul 1997 - 05:31:50 MST</i><br>
<b>Messages:</b> 151
<p>
<ul>
<li> <b>3-pass code: important bug fix!</b>
<ul>
<li> <a href="0094.html">David Mosberger-Tang</a> <a name="94"><i>Fri, 18 Jul 1997 16:30:20 -0700</i></a>
</ul>
<li> <b>A little feedback from Irix developers</b>
<ul>
<li> <a href="0068.html">David Mosberger-Tang</a> <a name="68"><i>Wed, 16 Jul 1997 08:03:22 -0700</i></a>
</ul>
<ul>
<li> <a href="0066.html">Michael Sweet</a> <a name="66"><i>Wed, 16 Jul 1997 08:31:46 -0400</i></a>
</ul>
<ul>
<li> <a href="0063.html">Antonio Scotti</a> <a name="63"><i>Wed, 16 Jul 1997 11:44:04 +0200</i></a>
</ul>
<li> <b>Any ports to Irix6.3?</b>
<ul>
<li> <a href="0032.html">Michael Sweet</a> <a name="32"><i>Fri, 11 Jul 1997 13:35:22 -0400</i></a>
</ul>
<ul>
<li> <a href="0031.html">David Mosberger-Tang</a> <a name="31"><i>Fri, 11 Jul 1997 09:38:36 -0700</i></a>
</ul>
<ul>
<li> <a href="0030.html">Antonio Scotti</a> <a name="30"><i>Fri, 11 Jul 1997 18:08:22 +0200</i></a>
</ul>
<li> <b>Anyone gotten a UMAX Astra 600s to work?</b>
<ul>
<li> <a href="0052.html">Phil Ptkwt Kristin</a> <a name="52"><i>Sun, 13 Jul 1997 17:51:08 -0700 (PDT)</i></a>
</ul>
<li> <b>Building 0.61: which GTK?</b>
<ul>
<li> <a href="0107.html">Gregory Trubetskoy</a> <a name="107"><i>Sun, 20 Jul 1997 22:34:21 -0400 (EDT)</i></a>
</ul>
<ul>
<li> <a href="0106.html">Ian Cameron Smith</a> <a name="106"><i>Sun, 20 Jul 1997 18:12:43 -0700</i></a>
</ul>
<li> <b>Building xscanimage fails</b>
<ul>
<li> <a href="0053.html">Mathias Weigt</a> <a name="53"><i>Mon, 14 Jul 1997 08:09:10 +0200</i></a>
</ul>
<li> <b>Cheap linux photo scanner</b>
<ul>
<li> <a href="0060.html">Rildo Pragana</a> <a name="60"><i>Mon, 14 Jul 1997 14:55:04 +0000 (GMT)</i></a>
</ul>
<ul>
<li> <a href="0058.html">David Mosberger-Tang</a> <a name="58"><i>Mon, 14 Jul 1997 08:13:14 -0700</i></a>
</ul>
<li> <b>compile-error with 0.6</b>
<ul>
<li> <a href="0012.html">David Mosberger-Tang</a> <a name="12"><i>Wed, 2 Jul 1997 17:24:46 -0700</i></a>
</ul>
<ul>
<li> <a href="0011.html">Allan Nielsen</a> <a name="11"><i>Thu, 3 Jul 1997 01:46:37 +0200 (MET DST)</i></a>
</ul>
<li> <b>different x and y scan resolution (mustek) ?</b>
<ul>
<li> <a href="0119.html">David Mosberger-Tang</a> <a name="119"><i>Tue, 22 Jul 1997 22:44:17 -0700</i></a>
</ul>
<ul>
<li> <a href="0104.html">becka@sunserver1.rz.uni-duesseldorf.de</a> <a name="104"><i>Sun, 20 Jul 1997 18:46:12 +0200 (MET DST)</i></a>
</ul>
<ul>
<li> <a href="0101.html">Kolja Waschk</a> <a name="101"><i>20 Jul 97 04:50:46 +0200</i></a>
</ul>
<li> <b>Difficulties finding my scanner.</b>
<ul>
<li> <a href="0036.html">David Mosberger-Tang</a> <a name="36"><i>Fri, 11 Jul 1997 20:32:02 -0700</i></a>
</ul>
<ul>
<li> <a href="0035.html">David Mosberger-Tang</a> <a name="35"><i>Fri, 11 Jul 1997 20:11:28 -0700</i></a>
</ul>
<ul>
<li> <a href="0034.html">David Mosberger-Tang</a> <a name="34"><i>Fri, 11 Jul 1997 18:22:19 -0700</i></a>
</ul>
<li> <b>fix for sane 0.6, need testers</b>
<ul>
<li> <a href="0010.html">Amancio Hasty Jr.</a> <a name="10"><i>Wed, 02 Jul 1997 02:20:46 -0700</i></a>
</ul>
<li> <b>fix for sane-0.6, need testers.</b>
<ul>
<li> <a href="0006.html">David Mosberger-Tang</a> <a name="6"><i>Tue, 1 Jul 1997 10:14:28 -0700</i></a>
</ul>
<ul>
<li> <a href="0004.html">NOGAYA Shigeki</a> <a name="4"><i>Wed, 02 Jul 1997 01:42:43 +0900</i></a>
</ul>
<li> <b>fix for silly bug in Mustek backend</b>
<ul>
<li> <a href="0061.html">David Mosberger-Tang</a> <a name="61"><i>Mon, 14 Jul 1997 20:01:41 -0700</i></a>
</ul>
<li> <b>fixed: mustek: timeout after scan and cmd line parser bug</b>
<ul>
<li> <a href="0073.html">David Mosberger-Tang</a> <a name="73"><i>Wed, 16 Jul 1997 13:50:27 -0700</i></a>
</ul>
<ul>
<li> <a href="0071.html">Kolja Waschk</a> <a name="71"><i>16 Jul 97 21:50:25 +0200</i></a>
</ul>
<li> <b>For your interest!</b>
<ul>
<li> <a href="0082.html">David Mosberger-Tang</a> <a name="82"><i>Fri, 18 Jul 1997 08:12:34 -0700</i></a>
</ul>
<li> <b>forwarded message from Andre Kunth</b>
<ul>
<li> <a href="0007.html">Thomas Blume</a> <a name="7"><i>Tue, 1 Jul 1997 21:35:24 +0200</i></a>
</ul>
<li> <b>FTP site problem</b>
<ul>
<li> <a href="0112.html">becka@sunserver1.rz.uni-duesseldorf.de</a> <a name="112"><i>Mon, 21 Jul 1997 23:05:51 +0200 (MET DST)</i></a>
</ul>
<ul>
<li> <a href="0111.html">David  Mosberger</a> <a name="111"><i>Mon, 21 Jul 1997 09:32:11 -0700 (MST)</i></a>
</ul>
<ul>
<li> <a href="0110.html">Tony Peterson</a> <a name="110"><i>Mon, 21 Jul 1997 08:54:40 -0700 (MST)</i></a>
</ul>
<li> <b>Gimp using sane to acquire images?</b>
<ul>
<li> <a href="0048.html">David Mosberger-Tang</a> <a name="48"><i>Sun, 13 Jul 1997 09:58:35 -0700</i></a>
</ul>
<ul>
<li> <a href="0047.html">Amancio Hasty</a> <a name="47"><i>Sun, 13 Jul 1997 01:25:43 -0700</i></a>
</ul>
<ul>
<li> <a href="0046.html">eric</a> <a name="46"><i>Sun, 13 Jul 1997 03:20:45 -0400</i></a>
</ul>
<ul>
<li> <a href="0045.html">eric</a> <a name="45"><i>Sun, 13 Jul 1997 02:15:57 -0400 (EDT)</i></a>
</ul>
<li> <b>handy script</b>
<ul>
<li> <a href="0095.html">David Mosberger-Tang</a> <a name="95"><i>Fri, 18 Jul 1997 17:08:41 -0700</i></a>
</ul>
<li> <b>Hangs with B&amp;W QuickCam</b>
<ul>
<li> <a href="0059.html">David Mosberger-Tang</a> <a name="59"><i>Mon, 14 Jul 1997 09:27:50 -0700</i></a>
</ul>
<ul>
<li> <a href="0057.html">Andrew Kuchling</a> <a name="57"><i>Mon, 14 Jul 1997 11:24:53 -0400 (EDT)</i></a>
</ul>
<ul>
<li> <a href="0056.html">David Mosberger-Tang</a> <a name="56"><i>Mon, 14 Jul 1997 07:55:43 -0700</i></a>
</ul>
<ul>
<li> <a href="0054.html">Thomas Dent Mirlacher</a> <a name="54"><i>Mon, 14 Jul 1997 11:09:59 +0200 (MET DST)</i></a>
</ul>
<ul>
<li> <a href="0050.html">Guido Muesch</a> <a name="50"><i>Sun, 13 Jul 1997 22:42:04 +0200 (MET DST)</i></a>
</ul>
<ul>
<li> <a href="0033.html">Andrew Kuchling</a> <a name="33"><i>Fri, 11 Jul 1997 14:50:46 -0400 (EDT)</i></a>
</ul>
<li> <b>Help with a Mustek</b>
<ul>
<li> <a href="0019.html">David Mosberger-Tang</a> <a name="19"><i>Sat, 5 Jul 1997 21:27:16 -0700</i></a>
</ul>
<ul>
<li> <a href="0018.html">XxEDGExX</a> <a name="18"><i>Sun, 6 Jul 1997 00:06:07 -0400 (EDT)</i></a>
</ul>
<li> <b>Help: Umax Vista-S6E &amp; xscanimage / umax-sane problem</b>
<ul>
<li> <a href="0097.html">Jay Kuri</a> <a name="97"><i>Sat, 19 Jul 1997 00:01:28 -0500 (CDT)</i></a>
</ul>
<ul>
<li> <a href="0093.html">Phil Ptkwt Kristin</a> <a name="93"><i>Fri, 18 Jul 1997 14:07:12 -0700 (PDT)</i></a>
</ul>
<ul>
<li> <a href="0092.html">Michael K. Johnson</a> <a name="92"><i>Fri, 18 Jul 1997 16:22:16 -0400</i></a>
</ul>
<ul>
<li> <a href="0091.html">Amancio Hasty</a> <a name="91"><i>Fri, 18 Jul 1997 13:21:08 -0700</i></a>
</ul>
<ul>
<li> <a href="0087.html">Jay Kuri</a> <a name="87"><i>Fri, 18 Jul 1997 10:36:42 -0500 (CDT)</i></a>
</ul>
<li> <b>Help: Umax Vista-S6E / umax-sane problem: problem FOUND??</b>
<ul>
<li> <a href="0122.html">Tristan Tarrant</a> <a name="122"><i>Wed, 23 Jul 1997 08:44:32 -0100 (GMT)</i></a>
</ul>
<ul>
<li> <a href="0116.html">Phil Ptkwt Kristin</a> <a name="116"><i>Tue, 22 Jul 1997 08:03:09 -0700 (PDT)</i></a>
</ul>
<ul>
<li> <a href="0115.html">Tristan Tarrant</a> <a name="115"><i>Tue, 22 Jul 1997 16:42:28 -0100 (GMT)</i></a>
</ul>
<ul>
<li> <a href="0114.html">Michael K. Johnson</a> <a name="114"><i>Tue, 22 Jul 1997 09:20:50 -0400</i></a>
</ul>
<ul>
<li> <a href="0113.html">Jay Kuri</a> <a name="113"><i>Tue, 22 Jul 1997 02:15:44 -0500 (CDT)</i></a>
</ul>
<li> <b>HP C5100 photosmart</b>
<ul>
<li> <a href="0005.html">David Mosberger-Tang</a> <a name="5"><i>Tue, 1 Jul 1997 10:10:35 -0700</i></a>
</ul>
<ul>
<li> <a href="0003.html">beanbek@nuyums.trinet.bc.ca</a> <a name="3"><i>Tue, 1 Jul 1997 09:45:16 -0700 (PDT)</i></a>
</ul>
<li> <b>HP Scanjet 3c</b>
<ul>
<li> <a href="0120.html">David Mosberger-Tang</a> <a name="120"><i>Tue, 22 Jul 1997 22:40:55 -0700</i></a>
</ul>
<li> <b>HP ScanJet 5p in SANE 0.6</b>
<ul>
<li> <a href="0138.html">David Mosberger-Tang</a> <a name="138"><i>Sat, 26 Jul 1997 10:04:57 -0700</i></a>
</ul>
<li> <b>HTML version of SCSI-2 draft</b>
<ul>
<li> <a href="0039.html">David Mosberger-Tang</a> <a name="39"><i>Sat, 12 Jul 1997 10:36:55 -0700</i></a>
</ul>
<li> <b>lamp warmup time, etc..</b>
<ul>
<li> <a href="0051.html">eric</a> <a name="51"><i>Sun, 13 Jul 1997 20:42:36 -0400</i></a>
</ul>
<li> <b>language</b>
<ul>
<li> <a href="0002.html">David Mosberger-Tang</a> <a name="2"><i>Tue, 1 Jul 1997 07:24:08 -0700</i></a>
</ul>
<li> <b>Minor "bug".</b>
<ul>
<li> <a href="0148.html">Rogier Wolff</a> <a name="148"><i>Wed, 30 Jul 1997 17:10:54 +0200 (MET DST)</i></a>
</ul>
<li> <b>more about the DC390T problem (was: pre0.62 patch)</b>
<ul>
<li> <a href="0100.html">Kolja Waschk</a> <a name="100"><i>20 Jul 97 04:28:31 +0200</i></a>
</ul>
<li> <b>More on Mustek 8000SP adventures...</b>
<ul>
<li> <a href="0137.html">David Mosberger-Tang</a> <a name="137"><i>Fri, 25 Jul 1997 17:30:10 -0700</i></a>
</ul>
<ul>
<li> <a href="0136.html">Rogier Wolff</a> <a name="136"><i>Fri, 25 Jul 1997 08:49:57 +0200 (MET DST)</i></a>
</ul>
<ul>
<li> <a href="0135.html">becka@sunserver1.rz.uni-duesseldorf.de</a> <a name="135"><i>Fri, 25 Jul 1997 02:55:34 +0200 (MET DST)</i></a>
</ul>
<ul>
<li> <a href="0134.html">Rogier Wolff</a> <a name="134"><i>Thu, 24 Jul 1997 17:47:42 +0200 (MET DST)</i></a>
</ul>
<ul>
<li> <a href="0133.html">David Mosberger-Tang</a> <a name="133"><i>Thu, 24 Jul 1997 08:13:33 -0700</i></a>
</ul>
<ul>
<li> <a href="0132.html">David Mosberger-Tang</a> <a name="132"><i>Thu, 24 Jul 1997 08:03:32 -0700</i></a>
</ul>
<ul>
<li> <a href="0131.html">Rogier Wolff</a> <a name="131"><i>Thu, 24 Jul 1997 08:23:47 +0200 (MET DST)</i></a>
</ul>
<ul>
<li> <a href="0130.html">Rogier Wolff</a> <a name="130"><i>Thu, 24 Jul 1997 08:13:18 +0200 (MET DST)</i></a>
</ul>
<ul>
<li> <a href="0126.html">David Mosberger-Tang</a> <a name="126"><i>Wed, 23 Jul 1997 14:57:44 -0700</i></a>
</ul>
<ul>
<li> <a href="0123.html">Gregory Trubetskoy</a> <a name="123"><i>Wed, 23 Jul 1997 14:35:16 -0400 (EDT)</i></a>
</ul>
<ul>
<li> <a href="0118.html">David Mosberger-Tang</a> <a name="118"><i>Tue, 22 Jul 1997 22:24:42 -0700</i></a>
</ul>
<ul>
<li> <a href="0117.html">Kolja Waschk</a> <a name="117"><i>22 Jul 97 17:07:50 +0200</i></a>
</ul>
<ul>
<li> <a href="0109.html">Gregory Trubetskoy</a> <a name="109"><i>Sun, 20 Jul 1997 23:00:08 -0400 (EDT)</i></a>
</ul>
<ul>
<li> <a href="0108.html">Gregory Trubetskoy</a> <a name="108"><i>Sun, 20 Jul 1997 22:27:17 -0400 (EDT)</i></a>
</ul>
<ul>
<li> <a href="0105.html">Kolja Waschk</a> <a name="105"><i>21 Jul 97 00:34:38 +0200</i></a>
</ul>
<ul>
<li> <a href="0103.html">becka@sunserver1.rz.uni-duesseldorf.de</a> <a name="103"><i>Sun, 20 Jul 1997 18:22:23 +0200 (MET DST)</i></a>
</ul>
<ul>
<li> <a href="0102.html">Gregory Trubetskoy</a> <a name="102"><i>Sun, 20 Jul 1997 01:54:28 -0400 (EDT)</i></a>
</ul>
<li> <b>mustek 3-pass fix</b>
<ul>
<li> <a href="0090.html">David Mosberger-Tang</a> <a name="90"><i>Fri, 18 Jul 1997 12:03:33 -0700</i></a>
</ul>
<ul>
<li> <a href="0089.html">David Mosberger-Tang</a> <a name="89"><i>Fri, 18 Jul 1997 09:54:16 -0700</i></a>
</ul>
<ul>
<li> <a href="0088.html">Michael Sweet</a> <a name="88"><i>Fri, 18 Jul 1997 12:02:10 -0400</i></a>
</ul>
<ul>
<li> <a href="0084.html">David Mosberger-Tang</a> <a name="84"><i>Fri, 18 Jul 1997 08:33:11 -0700</i></a>
</ul>
<li> <b>Mustek 3-pass scanner test code</b>
<ul>
<li> <a href="0086.html">Jeremy Hansen</a> <a name="86"><i>Fri, 18 Jul 1997 11:47:51 -0400</i></a>
</ul>
<ul>
<li> <a href="0085.html">David Mosberger-Tang</a> <a name="85"><i>Fri, 18 Jul 1997 08:47:46 -0700</i></a>
</ul>
<ul>
<li> <a href="0083.html">Mathias Weigt</a> <a name="83"><i>Fri, 18 Jul 1997 16:56:53 -0600</i></a>
</ul>
<ul>
<li> <a href="0077.html">David Mosberger-Tang</a> <a name="77"><i>Thu, 17 Jul 1997 07:35:08 -0700</i></a>
</ul>
<li> <b>Mustek CG-8400</b>
<ul>
<li> <a href="0139.html">Bryan White</a> <a name="139"><i>Sat, 26 Jul 1997 12:53:20 -0500 (CDT)</i></a>
</ul>
<li> <b>Mustek difficulties...</b>
<ul>
<li> <a href="0121.html">David Mosberger-Tang</a> <a name="121"><i>Tue, 22 Jul 1997 22:35:46 -0700</i></a>
</ul>
<ul>
<li> <a href="0099.html">Gregory Trubetskoy</a> <a name="99"><i>Sat, 19 Jul 1997 18:38:38 -0400 (EDT)</i></a>
</ul>
<li> <b>Mustek MFS-12000SP and sane0.61</b>
<ul>
<li> <a href="0070.html">David Mosberger-Tang</a> <a name="70"><i>Wed, 16 Jul 1997 08:12:51 -0700</i></a>
</ul>
<ul>
<li> <a href="0069.html">David Mosberger-Tang</a> <a name="69"><i>Wed, 16 Jul 1997 08:24:51 -0700</i></a>
</ul>
<ul>
<li> <a href="0067.html">Jens Ritter</a> <a name="67"><i>Wed, 16 Jul 1997 14:41:55 +0200 (CEST)</i></a>
</ul>
<ul>
<li> <a href="0065.html">Mathias Weigt</a> <a name="65"><i>Wed, 16 Jul 1997 14:02:37 +0200</i></a>
</ul>
<ul>
<li> <a href="0064.html">Jens Ritter</a> <a name="64"><i>Wed, 16 Jul 1997 12:46:25 +0200 (CEST)</i></a>
</ul>
<li> <b>Mustek scanning problems</b>
<ul>
<li> <a href="0062.html">Philipp Richter</a> <a name="62"><i>Sun, 13 Jul 1997 23:41:15 +0200 (MEST)</i></a>
</ul>
<ul>
<li> <a href="0020.html">Mathias Weigt</a> <a name="20"><i>Sun, 06 Jul 1997 10:11:42 +0200</i></a>
</ul>
<ul>
<li> <a href="0013.html">Mathias Weigt</a> <a name="13"><i>Sat, 05 Jul 1997 14:53:24 +0200</i></a>
</ul>
<li> <b>mustek: timeout after scan</b>
<ul>
<li> <a href="0096.html">Kolja Waschk</a> <a name="96"><i>19 Jul 97 01:46:43 +0200</i></a>
</ul>
<li> <b>mustek: timeout after scan and cmd line parser bug</b>
<ul>
<li> <a href="0079.html">David Mosberger-Tang</a> <a name="79"><i>Thu, 17 Jul 1997 09:19:18 -0700</i></a>
</ul>
<ul>
<li> <a href="0078.html">becka@sunserver1.rz.uni-duesseldorf.de</a> <a name="78"><i>Thu, 17 Jul 1997 13:40:01 +0200 (MET DST)</i></a>
</ul>
<ul>
<li> <a href="0075.html">David Mosberger-Tang</a> <a name="75"><i>Wed, 16 Jul 1997 13:55:17 -0700</i></a>
</ul>
<ul>
<li> <a href="0072.html">Kolja Waschk</a> <a name="72"><i>16 Jul 97 20:53:43 +0200</i></a>
</ul>
<li> <b>On general Sane adventures.</b>
<ul>
<li> <a href="0129.html">Rildo Pragana</a> <a name="129"><i>Thu, 24 Jul 1997 00:25:32 +0000 (GMT)</i></a>
</ul>
<li> <b>pre0.62 patch</b>
<ul>
<li> <a href="0098.html">David Mosberger-Tang</a> <a name="98"><i>Fri, 18 Jul 1997 22:23:09 -0700</i></a>
</ul>
<li> <b>Problems with xscanimage</b>
<ul>
<li> <a href="0145.html">David  Mosberger</a> <a name="145"><i>Sun, 27 Jul 1997 09:56:58 -0700 (MST)</i></a>
</ul>
<li> <b>problems: Sane 0.6, Mustek 3-pass, NCR 810, Linux, COLOR-scanning</b>
<ul>
<li> <a href="0001.html">Frank Weigel</a> <a name="1"><i>Tue, 01 Jul 1997 11:40:34 +0200</i></a>
</ul>
<ul>
<li> <a href="0000.html">Mathias Weigt</a> <a name="0"><i>Tue, 1 Jul 1997 08:21:38 -0600</i></a>
</ul>
<li> <b>python interface</b>
<ul>
<li> <a href="0055.html">Andrew Kuchling</a> <a name="55"><i>Mon, 14 Jul 1997 10:18:39 -0400 (EDT)</i></a>
</ul>
<ul>
<li> <a href="0037.html">David Mosberger-Tang</a> <a name="37"><i>Fri, 11 Jul 1997 20:39:53 -0700</i></a>
</ul>
<li> <b>QuickCam owners: free VIDEC campaign</b>
<ul>
<li> <a href="0022.html">David Mosberger-Tang</a> <a name="22"><i>Sun, 6 Jul 1997 09:07:55 -0700</i></a>
</ul>
<li> <b>related projects info added to home page</b>
<ul>
<li> <a href="0040.html">David Mosberger-Tang</a> <a name="40"><i>Sat, 12 Jul 1997 12:33:42 -0700</i></a>
</ul>
<li> <b>SANE 0.62 and mustek 1200SP</b>
<ul>
<li> <a href="0150.html">becka@sunserver1.rz.uni-duesseldorf.de</a> <a name="150"><i>Thu, 31 Jul 1997 13:50:52 +0200 (MET DST)</i></a>
</ul>
<li> <b>SANE and AIX</b>
<ul>
<li> <a href="0024.html">becka@sunserver1.rz.uni-duesseldorf.de</a> <a name="24"><i>Sun, 6 Jul 1997 17:08:42 +0200 (MET DST)</i></a>
</ul>
<ul>
<li> <a href="0023.html">David Mosberger-Tang</a> <a name="23"><i>Sun, 6 Jul 1997 09:27:06 -0700</i></a>
</ul>
<ul>
<li> <a href="0021.html">Rogan Dawes</a> <a name="21"><i>Sun, 6 Jul 1997 12:48:08 +0200</i></a>
</ul>
<li> <b>sane requiremtns</b>
<ul>
<li> <a href="0017.html">Roeland Th. Jansen</a> <a name="17"><i>Sat, 5 Jul 1997 17:12:00 +0000 (GMT)</i></a>
</ul>
<ul>
<li> <a href="0016.html">Michael K. Johnson</a> <a name="16"><i>Sat, 05 Jul 1997 12:45:57 -0400</i></a>
</ul>
<ul>
<li> <a href="0015.html">David Mosberger-Tang</a> <a name="15"><i>Sat, 5 Jul 1997 09:40:22 -0700</i></a>
</ul>
<ul>
<li> <a href="0014.html">Roeland Th. Jansen</a> <a name="14"><i>Sat, 5 Jul 1997 16:22:52 +0000 (GMT)</i></a>
</ul>
<li> <b>sane v0.61 on SCO</b>
<ul>
<li> <a href="0081.html">David Mosberger-Tang</a> <a name="81"><i>Thu, 17 Jul 1997 18:18:48 -0700</i></a>
</ul>
<ul>
<li> <a href="0080.html">Billy the expert skier!</a> <a name="80"><i>Thu, 17 Jul 1997 20:45:33 -0400 (EDT)</i></a>
</ul>
<ul>
<li> <a href="0076.html">David Mosberger-Tang</a> <a name="76"><i>Wed, 16 Jul 1997 14:43:27 -0700</i></a>
</ul>
<ul>
<li> <a href="0074.html">Billy the expert skier!</a> <a name="74"><i>Wed, 16 Jul 1997 17:14:59 -0400 (EDT)</i></a>
</ul>
<li> <b>sane-0.6 compile errors</b>
<ul>
<li> <a href="0009.html">David Mosberger-Tang</a> <a name="9"><i>Tue, 1 Jul 1997 15:19:05 -0700</i></a>
</ul>
<ul>
<li> <a href="0008.html">beanbek@nuyums.trinet.bc.ca</a> <a name="8"><i>Tue, 1 Jul 1997 15:07:58 -0700 (PDT)</i></a>
</ul>
<li> <b>sane-0.61 available (updates xscanimage)</b>
<ul>
<li> <a href="0029.html">David Mosberger-Tang</a> <a name="29"><i>Fri, 11 Jul 1997 07:34:18 -0700</i></a>
</ul>
<li> <b>sane-0.61 now available</b>
<ul>
<li> <a href="0028.html">David Mosberger-Tang</a> <a name="28"><i>Thu, 10 Jul 1997 09:57:11 -0700</i></a>
</ul>
<li> <b>sane-0.62 released</b>
<ul>
<li> <a href="0146.html">becka@sunserver1.rz.uni-duesseldorf.de</a> <a name="146"><i>Wed, 30 Jul 1997 01:01:56 +0200 (MET DST)</i></a>
</ul>
<ul>
<li> <a href="0144.html">David Mosberger-Tang</a> <a name="144"><i>Sun, 27 Jul 1997 08:21:45 -0700</i></a>
</ul>
<ul>
<li> <a href="0143.html">David Mosberger-Tang</a> <a name="143"><i>Sun, 27 Jul 1997 08:02:56 -0700</i></a>
</ul>
<ul>
<li> <a href="0142.html">Rogier Wolff</a> <a name="142"><i>Sun, 27 Jul 1997 13:57:46 +0200 (MET DST)</i></a>
</ul>
<ul>
<li> <a href="0141.html">Rogier Wolff</a> <a name="141"><i>Sun, 27 Jul 1997 09:37:21 +0200 (MET DST)</i></a>
</ul>
<ul>
<li> <a href="0140.html">David Mosberger-Tang</a> <a name="140"><i>Sat, 26 Jul 1997 17:28:55 -0700</i></a>
</ul>
<li> <b>SCSI programming docs</b>
<ul>
<li> <a href="0027.html">David Mosberger-Tang</a> <a name="27"><i>Mon, 7 Jul 1997 19:21:40 -0700</i></a>
</ul>
<ul>
<li> <a href="0026.html">Michael K. Johnson</a> <a name="26"><i>Mon, 07 Jul 1997 13:34:40 -0400</i></a>
</ul>
<ul>
<li> <a href="0025.html">Rogan Dawes</a> <a name="25"><i>Mon, 7 Jul 1997 18:39:13 +0200</i></a>
</ul>
<li> <b>Statically linking backends.</b>
<ul>
<li> <a href="0147.html">Rogier Wolff</a> <a name="147"><i>Tue, 29 Jul 1997 19:43:54 +0200 (MET DST)</i></a>
</ul>
<li> <b>system hangs with umax Astra 1200S / freebsd</b>
<ul>
<li> <a href="0049.html">David Mosberger-Tang</a> <a name="49"><i>Sun, 13 Jul 1997 10:02:43 -0700</i></a>
</ul>
<ul>
<li> <a href="0044.html">David Mosberger-Tang</a> <a name="44"><i>Sat, 12 Jul 1997 16:37:55 -0700</i></a>
</ul>
<ul>
<li> <a href="0043.html">eric</a> <a name="43"><i>Sat, 12 Jul 1997 18:53:09 -0400</i></a>
</ul>
<ul>
<li> <a href="0042.html">Amancio Hasty</a> <a name="42"><i>Sat, 12 Jul 1997 12:54:04 -0700</i></a>
</ul>
<ul>
<li> <a href="0041.html">David Mosberger-Tang</a> <a name="41"><i>Sat, 12 Jul 1997 12:45:36 -0700</i></a>
</ul>
<ul>
<li> <a href="0038.html">eric</a> <a name="38"><i>Sat, 12 Jul 1997 03:04:59 -0400 (EDT)</i></a>
</ul>
<li> <b>tsx mirror of sane sources</b>
<ul>
<li> <a href="0149.html">Michael K. Johnson</a> <a name="149"><i>Wed, 30 Jul 1997 21:41:25 -0400</i></a>
</ul>
<li> <b>UMAX Astra 600p</b>
<ul>
<li> <a href="0128.html">Michael K. Johnson</a> <a name="128"><i>Wed, 23 Jul 1997 19:30:08 -0400</i></a>
</ul>
<ul>
<li> <a href="0127.html">Jonathan A. Buzzard</a> <a name="127"><i>Wed, 23 Jul 1997 22:20:15 +0100</i></a>
</ul>
<ul>
<li> <a href="0125.html">Michael K. Johnson</a> <a name="125"><i>Wed, 23 Jul 1997 16:37:01 -0400</i></a>
</ul>
<ul>
<li> <a href="0124.html">Jonathan A. Buzzard</a> <a name="124"><i>Wed, 23 Jul 1997 20:25:08 +0100</i></a>
</ul>
</ul>
<p>
<b>Last message date:</b> <i>Thu 31 Jul 1997 - 05:31:50 MST</i><br>
<b>Archived on:</b> <i>Tue Sep 30 1997 - 21:19:13 MST</i><p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#start">[ date ]</a><a href="index.html#start">[ thread ]</a><a href="author.html#start">[ author ]</a>
<li> <b><a href="..">Other mail archives</a></b>
</ul>
<p>
<hr>
<i>This archive was generated by <a href="http://www.eit.com/software/hypermail/hypermail.html">hypermail 1.02</a>.</i>
