<!-- received="Sun May 25 11:09:45 1997 MST" -->
<!-- sent="Sun, 25 May 1997 10:18:04 -0700" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="davidm@azstarnet.com" -->
<!-- subject="Re: mustek-probs: color, preview" -->
<!-- id="199705251718.KAA04597@panda.mosberger" -->
<!-- inreplyto="9705221225.AA31095@appl2.hrz.uni-siegen.de" -->
<title>sane-devel: Re: mustek-probs: color, preview</title>
<h1>Re: mustek-probs: color, preview</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:davidm@azstarnet.com"><i>davidm@azstarnet.com</i></a>)<br>
<i>Sun, 25 May 1997 10:18:04 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#7">[ date ]</a><a href="index.html#7">[ thread ]</a><a href="subject.html#7">[ subject ]</a><a href="author.html#7">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0008.html">David Mosberger-Tang: "Re: Looking for scanner software"</a>
<li> <b>Previous message:</b> <a href="0006.html">David Mosberger-Tang: "Re: problems with mscan-0.1 and paragon 600IICD"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0017.html">becka@sunserver1.rz.uni-duesseldorf.de: "Re: mustek-probs: color, preview"</a>
<li> <b>Reply:</b> <a href="0017.html">becka@sunserver1.rz.uni-duesseldorf.de: "Re: mustek-probs: color, preview"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;&gt;&gt;&gt;&gt; On Thu, 22 May 1997 05:36:22 -0700, Andreas Gaumann &lt;<a href="mailto:gg261@appl2.hrz.uni-siegen.de">gg261@appl2.hrz.uni-siegen.de</a>&gt; said:</i><br>
<p>
  Andreas&gt; Hello, now I have sane-0.57 make running with my Mustek<br>
  Andreas&gt; MFS-06000 SP (Rev. 3.12) and an Asus SC 200<br>
  Andreas&gt; SCSI-Adaptor.<br>
<p>
Noted.  Can you tell me whether you had to configure the SCSI driver<br>
specially to make it work with the scanner (such as disable<br>
synchronous requests)?<br>
<p>
  Andreas&gt; Scanning grey-scaled images is working very<br>
  Andreas&gt; well.<br>
<p>
Good.<br>
<p>
  Andreas&gt; But I have still problems trying to scan images in<br>
  Andreas&gt; color-mode. The image I get has many horizontal stripes. It<br>
  Andreas&gt; seems that stripes of red, green and blue (ca. 30-60 pixel<br>
  Andreas&gt; height) are not exactly layed over the other stripes but<br>
  Andreas&gt; moved a little down (ca. 1-3 pixel). Is this problem known<br>
  Andreas&gt; by someone else? Or must I use the mustek-scsi-patch ?<br>
  Andreas&gt; (Somewhere in the documentation it is said that this patch<br>
  Andreas&gt; is only for those who use the NCR53c400-card from<br>
  Andreas&gt; mustek. But I don't use it and so I don't try it.)<br>
<p>
That is correct.  The mustek-scsi patch is for the Mustek SCSI adapter<br>
only.<br>
<p>
  Andreas&gt; Some<br>
  Andreas&gt; time ago I have this problem while using the scanner with<br>
  Andreas&gt; the NCR53c400-card (from Mustek) with muscan. But it<br>
  Andreas&gt; disappears now with using the Asus SC200 SCSI-Adaptor. Now<br>
  Andreas&gt; scanning of color-images (with muscan-2.0.7 and a special<br>
  Andreas&gt; patch for 06000 SP-scanner) runs very slow but the images<br>
  Andreas&gt; are all right.<br>
<p>
Ok, in this case, try rebuilding SANE with configuration option<br>
"--disable-ld-fix".  Something like:<br>
<p>
	make distclean<br>
	./configure --disable-ld-fix<br>
	make<br>
	su<br>
	make install<br>
<p>
should do the trick (the "make distclean" _is_ important).  Can you try<br>
this and let me know how it works?<br>
<p>
  Andreas&gt; Another problem is in the preview-window. If I try to scan<br>
  Andreas&gt; a preview-image the scanner starts to scan from the top<br>
  Andreas&gt; till the bottom. But arriving at the bottom the head of the<br>
  Andreas&gt; scanner stops while the LED at the front of the scanner is<br>
  Andreas&gt; still blinking. Then nothing more happens and the only way<br>
  Andreas&gt; to stop the scanner and to reset sane is to turn the<br>
  Andreas&gt; scanner off, delete the modules and then start all<br>
  Andreas&gt; again. The background in the preview-window is black while<br>
  Andreas&gt; scanning the first 2/3 of the image. Then (after 2/3) it<br>
  Andreas&gt; turnes white like it was before starting the preview-scan.<br>
<p>
I see two possibilities:<br>
<p>
 (a) The height of the scanner is not correct.  At present, mustek.c defines<br>
     the height to be 360mm for your scanner type.  If that's not correct,<br>
     could you measure the width and height of the scan area and let me know?<br>
     (you could also experiment/change with the width and height as defined<br>
      around line 339 in backend/mustek.c).<br>
<p>
 (b) The SCSI driver times out while acquiring the preview.  If this is the<br>
     case, you'll have to hack the driver.  You should see messages in<br>
     /var/log/messages if this happens.<br>
<p>
Hope this helps,<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0008.html">David Mosberger-Tang: "Re: Looking for scanner software"</a>
<li> <b>Previous message:</b> <a href="0006.html">David Mosberger-Tang: "Re: problems with mscan-0.1 and paragon 600IICD"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0017.html">becka@sunserver1.rz.uni-duesseldorf.de: "Re: mustek-probs: color, preview"</a>
<li> <b>Reply:</b> <a href="0017.html">becka@sunserver1.rz.uni-duesseldorf.de: "Re: mustek-probs: color, preview"</a>
<!-- reply="end" -->
</ul>
