<!-- received="Thu Jun  5 10:19:55 1997 MST" -->
<!-- sent="05 Jun 1997 10:35:19 -0600" -->
<!-- name="Gordon Matzigkeit" -->
<!-- email="gord@m-tech.ab.ca" -->
<!-- subject="LD_LIBRARY_PATH [was: Re: Sane newbie questions..]" -->
<!-- id="199706050751.JAA00453@darkstar.faho.rwth-aachen.de" -->
<!-- inreplyto="Thu, 5 Jun 1997 09:51:39 +0200 (MET DST)" -->
<title>sane-devel: LD_LIBRARY_PATH [was: Re: Sane newbie questions..]</title>
<h1>LD_LIBRARY_PATH [was: Re: Sane newbie questions..]</h1>
<b>Gordon Matzigkeit</b> (<a href="mailto:gord@m-tech.ab.ca"><i>gord@m-tech.ab.ca</i></a>)<br>
<i>05 Jun 1997 10:35:19 -0600</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#63">[ date ]</a><a href="index.html#63">[ thread ]</a><a href="subject.html#63">[ subject ]</a><a href="author.html#63">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0064.html">Hallow: "Microtek?"</a>
<li> <b>Previous message:</b> <a href="0062.html">Guido Muesch: "Re: Sane newbie questions.."</a>
<li> <b>In reply to:</b> <a href="0062.html">Guido Muesch: "Re: Sane newbie questions.."</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi!<br>
<p>
<i>&gt;&gt;&gt;&gt;&gt; Guido Muesch writes:</i><br>
<p>
 GM&gt; On 4 Jun, Jim Chisholm wrote:<br>
 [...]<br>
<p>
 GM&gt; With your problem I think I had the same problem. I had to set<br>
 GM&gt; LD_LIBRARY_PATH to /usr/local/lib explicitly. Adding<br>
 GM&gt; /usr/local/lib to /etc/ld.so.conf did not work. (But this could<br>
 GM&gt; have also been a problem of my current ld.so version, I have not<br>
 GM&gt; looked into that for some time)<br>
<p>
As libtool maintainer, I have a question for you folks:<br>
<p>
When libtool installs libraries in your `/usr/local/lib', it should<br>
print something like this (on Linux):<br>
<p>
ldconfig -n /usr/local/lib<br>
To link against installed libraries in LIBDIR, users may have to:<br>
   - add LIBDIR to their `LD_LIBRARY_PATH' environment variable<br>
   - use the `-LLIBDIR' linker flag<br>
<p>
Guido says that the `LD_LIBRARY_PATH' setting is required.<br>
<p>
I was under the impression that this `ldconfig -n' command should be<br>
all that is required in order for ld.so to find your libraries.<br>
<p>
Could somebody please verify this for me, or tell me what the correct<br>
ldconfig(8) command is?  This command should merge the contents of a<br>
certain directory into the ld.so library cache.<br>
<p>
Thanks,<br>
<p>
<pre>
-- 
  Gord Matzigkeit   | Proudly running pieces of the GNU operating system.
 gord@m-tech.ab.ca  |  Jacques Cousteau loved programming in assembler.
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0064.html">Hallow: "Microtek?"</a>
<li> <b>Previous message:</b> <a href="0062.html">Guido Muesch: "Re: Sane newbie questions.."</a>
<li> <b>In reply to:</b> <a href="0062.html">Guido Muesch: "Re: Sane newbie questions.."</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
