<!-- received="Sat Jun 14 21:46:46 1997 MST" -->
<!-- sent="14 Jun 1997 22:37:46 -0600" -->
<!-- name="Gordon Matzigkeit" -->
<!-- email="gord@m-tech.ab.ca" -->
<!-- subject="sane-0.6.tar.gz is bad" -->
<!-- id="199706150050.UAA24036@nigel.redhat.com" -->
<!-- inreplyto="" -->
<title>sane-devel: sane-0.6.tar.gz is bad</title>
<h1>sane-0.6.tar.gz is bad</h1>
<b>Gordon Matzigkeit</b> (<a href="mailto:gord@m-tech.ab.ca"><i>gord@m-tech.ab.ca</i></a>)<br>
<i>14 Jun 1997 22:37:46 -0600</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#84">[ date ]</a><a href="index.html#84">[ thread ]</a><a href="subject.html#84">[ subject ]</a><a href="author.html#84">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0085.html">David Mosberger-Tang: "Re: sane-0.6.tar.gz is bad"</a>
<li> <b>Previous message:</b> <a href="0083.html">Gordon Matzigkeit: "Re: Sane on NeXT/OpenStep - a plea for help"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0087.html">Michael K. Johnson: "Re: sane-0.6.tar.gz is bad"</a>
<li> <b>Maybe reply:</b> <a href="0087.html">Michael K. Johnson: "Re: sane-0.6.tar.gz is bad"</a>
<li> <b>Reply:</b> <a href="0088.html">Neville Wilford: "Re: Sane on NeXT/OpenStep - a plea for help"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi!<br>
<p>
There's something dreadfully wrong here:<br>
<p>
---- sane-0.6.lsm ----------------------<br>
Primary-site:   ftp.azstarnet.com /pub/linux/axp/sane<br>
		320kB sane-0.6.tar.gz<br>
----------------------------------------<br>
<p>
FTP directory:<br>
<p>
-rw-rw-r--   1 4841     24        275320 May 10 22:55 sane-0.57.tar.gz<br>
-rw-rw-r--   1 4841     24           997 Jun 15 01:48 sane-0.6.lsm<br>
-rw-rw-r--   1 4841     24         96224 Jun 15 01:49 sane-0.6.tar.gz<br>
<p>
burger:/home/src$ tar -zxvf /home/ftp/graphics/sane-0.6.tar.gz <br>
sane-0.6/<br>
sane-0.6/PROJECTS<br>
sane-0.6/frontend/<br>
sane-0.6/frontend/.gdbinit<br>
sane-0.6/frontend/xcam.c<br>
sane-0.6/frontend/scanimage.c<br>
sane-0.6/frontend/saned.c<br>
sane-0.6/frontend/Makefile.in<br>
sane-0.6/frontend/progress.c<br>
sane-0.6/frontend/progress.h<br>
sane-0.6/frontend/xscanimage.c<br>
sane-0.6/frontend/preview.c<br>
sane-0.6/frontend/test.c<br>
sane-0.6/frontend/gtkglue.h<br>
sane-0.6/frontend/gtkglue.c<br>
sane-0.6/frontend/preferences.h<br>
sane-0.6/frontend/preferences.c<br>
sane-0.6/frontend/sane-style.rc<br>
sane-0.6/frontend/xcam.README<br>
sane-0.6/frontend/preview.h<br>
sane-0.6/frontend/scanimage.README<br>
sane-0.6/ChangeLog<br>
sane-0.6/configure.in<br>
sane-0.6/NEWS<br>
sane-0.6/TODO<br>
sane-0.6/doc/<br>
sane-0.6/doc/sane.tex<br>
<p>
gzip: stdin: unexpected end of file<br>
tar: Unexpected EOF on archive file<br>
tar: child returned status 1<br>
burger:/home/src$ cd sane-0.6/<br>
burger:/home/src/sane-0.6$ ls<br>
ChangeLog     PROJECTS	    configure.in  frontend<br>
NEWS	      TODO	    doc<br>
burger:/home/src/sane-0.6$ <br>
<p>
I hope this can be corrected soon... I'm really eager to try out 0.6.<br>
<p>
<pre>
-- 
  Gord Matzigkeit   | Proudly running pieces of the GNU operating system.
 gord@m-tech.ab.ca  |  Jacques Cousteau loved programming in assembler.
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0085.html">David Mosberger-Tang: "Re: sane-0.6.tar.gz is bad"</a>
<li> <b>Previous message:</b> <a href="0083.html">Gordon Matzigkeit: "Re: Sane on NeXT/OpenStep - a plea for help"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0087.html">Michael K. Johnson: "Re: sane-0.6.tar.gz is bad"</a>
<li> <b>Maybe reply:</b> <a href="0087.html">Michael K. Johnson: "Re: sane-0.6.tar.gz is bad"</a>
<li> <b>Reply:</b> <a href="0088.html">Neville Wilford: "Re: Sane on NeXT/OpenStep - a plea for help"</a>
<!-- reply="end" -->
</ul>
