<!-- received="Wed Jun 18 13:01:14 1997 MST" -->
<!-- sent="Wed, 18 Jun 1997 12:55:35 -0700" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="davidm@azstarnet.com" -->
<!-- subject="Re: Mustek MFS-08000SP" -->
<!-- id="199706181955.MAA20403@panda.mosberger" -->
<!-- inreplyto="199706181931.PAA12681@earth.astro.umd.edu" -->
<title>sane-devel: Re: Mustek MFS-08000SP</title>
<h1>Re: Mustek MFS-08000SP</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:davidm@azstarnet.com"><i>davidm@azstarnet.com</i></a>)<br>
<i>Wed, 18 Jun 1997 12:55:35 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#114">[ date ]</a><a href="index.html#114">[ thread ]</a><a href="subject.html#114">[ subject ]</a><a href="author.html#114">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0115.html">Andrew Kuchling: "QuickCam bit depth wired to 8: why?"</a>
<li> <b>Previous message:</b> <a href="0113.html">William L. Sebok: "Mustek MFS-08000SP"</a>
<li> <b>In reply to:</b> <a href="0113.html">William L. Sebok: "Mustek MFS-08000SP"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;&gt;&gt;&gt;&gt; On Wed, 18 Jun 1997 15:31:25 -0400 (EDT), <a href="mailto:wls@astro.umd.edu">wls@astro.umd.edu</a> (William L. Sebok) said:</i><br>
<p>
  William&gt; I see in sane-0.6 doc/sane-mustek.man the line:<br>
  William&gt; MFS-8000SP MFS-08000SP v2.05 [not known to run, yet] 1-pass<br>
<p>
  William&gt; Does anyone know if this model will run with sane-0.6?<br>
<p>
One person has reported having such a scanner, but could not get it to<br>
work (yet).  The problem looks like a setup problem, though, not a<br>
problem with the backend per se.  If you have such a scanner (or if<br>
somebody else has one), I'd love to hear how/if it's working.<br>
<p>
Before experimenting with this, be sure to read the file PROBLEMS in<br>
the SANE distribution (I don't expect problems, but better to play it<br>
safe...)<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0115.html">Andrew Kuchling: "QuickCam bit depth wired to 8: why?"</a>
<li> <b>Previous message:</b> <a href="0113.html">William L. Sebok: "Mustek MFS-08000SP"</a>
<li> <b>In reply to:</b> <a href="0113.html">William L. Sebok: "Mustek MFS-08000SP"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
