<!-- received="Sat Jun 21 09:09:24 1997 MST" -->
<!-- sent="Sat, 21 Jun 1997 12:03:20 -0400" -->
<!-- name="Michael K. Johnson" -->
<!-- email="johnsonm@redhat.com" -->
<!-- subject="Re: Problem compiling umax-driver with glibc-2.03" -->
<!-- id="199706211603.MAA12489@nigel.redhat.com" -->
<!-- inreplyto="Problem compiling umax-driver with glibc-2.03" -->
<title>sane-devel: Re: Problem compiling umax-driver with glibc-2.03</title>
<h1>Re: Problem compiling umax-driver with glibc-2.03</h1>
<b>Michael K. Johnson</b> (<a href="mailto:johnsonm@redhat.com"><i>johnsonm@redhat.com</i></a>)<br>
<i>Sat, 21 Jun 1997 12:03:20 -0400</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#123">[ date ]</a><a href="index.html#123">[ thread ]</a><a href="subject.html#123">[ subject ]</a><a href="author.html#123">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0124.html">David Mosberger-Tang: "Re: Problem compiling umax-driver with glibc-2.03"</a>
<li> <b>Previous message:</b> <a href="0122.html">David Mosberger-Tang: "Re: Problem compiling umax-driver with glibc-2.03"</a>
<li> <b>Maybe in reply to:</b> <a href="0121.html">Mathias Weigt: "Problem compiling umax-driver with glibc-2.03"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0124.html">David Mosberger-Tang: "Re: Problem compiling umax-driver with glibc-2.03"</a>
<li> <b>Reply:</b> <a href="0124.html">David Mosberger-Tang: "Re: Problem compiling umax-driver with glibc-2.03"</a>
<li> <b>Reply:</b> <a href="0125.html">David Mosberger-Tang: "Re: Problem compiling umax-driver with glibc-2.03"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
David Mosberger-Tang writes:<br>
<i>&gt;Yes, it's fairly safe to assume that if you see any user-level program</i><br>
<i>&gt;make use of a C object whose name starts with an underscore then</i><br>
<i>&gt;something is seriously amiss.  Such names are reserved for the</i><br>
<i>&gt;C-library/system and are not meant to be used by applications.</i><br>
<p>
Oops.  I never meant for that code to see the light of day; I was<br>
going to change some of the way the code worked to make it irrelevant,<br>
and so I took the quick way of getting rid of compiler warnings until<br>
then -- and then "then" never happened.  &lt;blush&gt;.  I know better than<br>
that...<br>
<p>
Thanks for fixing it, Gord.<br>
<p>
michaelkjohnson<br>
<p>
"Ever wonder why the SAME PEOPLE make up ALL the conspiracy theories?"<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0124.html">David Mosberger-Tang: "Re: Problem compiling umax-driver with glibc-2.03"</a>
<li> <b>Previous message:</b> <a href="0122.html">David Mosberger-Tang: "Re: Problem compiling umax-driver with glibc-2.03"</a>
<li> <b>Maybe in reply to:</b> <a href="0121.html">Mathias Weigt: "Problem compiling umax-driver with glibc-2.03"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0124.html">David Mosberger-Tang: "Re: Problem compiling umax-driver with glibc-2.03"</a>
<li> <b>Reply:</b> <a href="0124.html">David Mosberger-Tang: "Re: Problem compiling umax-driver with glibc-2.03"</a>
<li> <b>Reply:</b> <a href="0125.html">David Mosberger-Tang: "Re: Problem compiling umax-driver with glibc-2.03"</a>
<!-- reply="end" -->
</ul>
