<!-- received="Sat Jun 21 16:02:13 1997 MST" -->
<!-- sent="Sat, 21 Jun 1997 23:22:49 +0200 (MET DST)" -->
<!-- name="becka@sunserver1.rz.uni-duesseldorf.de" -->
<!-- email="becka@sunserver1.rz.uni-duesseldorf.de" -->
<!-- subject="Re: Problem compiling umax-driver with glibc-2.03" -->
<!-- id="m0wfXcQ-000BWNC@charon.beck-sw.de" -->
<!-- inreplyto="199706211701.NAA13593@nigel.redhat.com" -->
<title>sane-devel: Re: Problem compiling umax-driver with glibc-2.03</title>
<h1>Re: Problem compiling umax-driver with glibc-2.03</h1>
<a href="mailto:becka@sunserver1.rz.uni-duesseldorf.de"><i>becka@sunserver1.rz.uni-duesseldorf.de</i></a><br>
<i>Sat, 21 Jun 1997 23:22:49 +0200 (MET DST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#129">[ date ]</a><a href="index.html#129">[ thread ]</a><a href="subject.html#129">[ subject ]</a><a href="author.html#129">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0130.html">orauch@physik.uni-osnabrueck.de: "umax-backend"</a>
<li> <b>Previous message:</b> <a href="0128.html">Andrew Kuchling: "Re: Problem compiling umax-driver with glibc-2.03"</a>
<li> <b>In reply to:</b> <a href="0127.html">Michael K. Johnson: "Re: Problem compiling umax-driver with glibc-2.03"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0165.html">David Mosberger-Tang: "new SANE home"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi !<br>
<p>
<i>&gt; Unfortunately, no.  I wrote that I *want* to, but that's not quite</i><br>
<i>&gt; the same thing...  Currently, I have to boot my second computer into</i><br>
<i>&gt; that dreaded win95 in order to do OCR under OmniPage Pro, which I</i><br>
<i>&gt; think is pretty good.</i><br>
<p>
<i>&gt; If anyone writes a twain driver that uses the netscane protocol,</i><br>
<i>&gt; I could try running OmniPage Pro under Wine (it *almost* worked</i><br>
<i>&gt; modulo the twain driver last time I tried, which was 5 or 6 months</i><br>
<i>&gt; ago) or under TWIN.</i><br>
<p>
Yeah . Would like to see that too for my heterogenous network.<br>
My old CGI-script (still using mscan) is pretty clumsy compared to<br>
SANE frontends.<br>
<p>
<i>&gt; &gt;Are you using xocr?</i><br>
<i>&gt; xocr is unforunately pretty unusable.</i><br>
Yes. After trying it very unsuccessfully I have read the README and <br>
sent about 200 lines of comments on what to do and what _not_ to do <br>
to the author.<br>
<p>
Unfortunately I was notified much later (a year or so) that his account<br>
had been disabled and the mail was piled in the middle of nowhere.<br>
<p>
Xocr would be not a too bad spot to start out, but it needs _much_<br>
improvement. Many of the used algorithms are "amateurs choice".<br>
<p>
CU,Andy<br>
<p>
<pre>
-- 
Andreas Beck              |  Email :  &lt;<a href="mailto:becka@sunserver1.rz.uni-duesseldorf.de">becka@sunserver1.rz.uni-duesseldorf.de</a>&gt;
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0130.html">orauch@physik.uni-osnabrueck.de: "umax-backend"</a>
<li> <b>Previous message:</b> <a href="0128.html">Andrew Kuchling: "Re: Problem compiling umax-driver with glibc-2.03"</a>
<li> <b>In reply to:</b> <a href="0127.html">Michael K. Johnson: "Re: Problem compiling umax-driver with glibc-2.03"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0165.html">David Mosberger-Tang: "new SANE home"</a>
<!-- reply="end" -->
</ul>
