<!-- received="Mon Jun 23 20:48:33 1997 MST" -->
<!-- sent="Mon, 23 Jun 1997 20:42:01 -0700" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="davidm@azstarnet.com" -->
<!-- subject="Re: 600II-CD und AVA-1505" -->
<!-- id="199706240342.UAA04342@panda.mosberger" -->
<!-- inreplyto="33AF347B.4908BF1E@uni-wuppertal.de" -->
<title>sane-devel: Re: 600II-CD und AVA-1505</title>
<h1>Re: 600II-CD und AVA-1505</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:davidm@azstarnet.com"><i>davidm@azstarnet.com</i></a>)<br>
<i>Mon, 23 Jun 1997 20:42:01 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#142">[ date ]</a><a href="index.html#142">[ thread ]</a><a href="subject.html#142">[ subject ]</a><a href="author.html#142">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0143.html">Mathias Weigt: "Re: 600II-CD and AVA-1505"</a>
<li> <b>Previous message:</b> <a href="0141.html">David Mosberger-Tang: "Re: Questions on SANE - backend for Epson PhotoPC"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;&gt;&gt;&gt;&gt; On Tue, 24 Jun 1997 04:44:11 +0200, Marc Roland &lt;<a href="mailto:roland@uni-wuppertal.de">roland@uni-wuppertal.de</a>&gt; said:</i><br>
<p>
  Marc&gt; Hello David, three weeks ago I decided to buy a Paragon 600 II<br>
  Marc&gt; CD, because Mustek is the most mentioned scanner-vendor in the<br>
  Marc&gt; Linux-community, I think.  I read most of the<br>
  Marc&gt; sane-devel-mailing-list. So I experienced that the scsi card<br>
  Marc&gt; that came with the scanner is &gt;a worthless piece of junk&lt;.<br>
<p>
Well, I hope you don't feel misled.  I'm sure many people on this list<br>
would be happy to share their experience with various scanners (and I,<br>
for one, would recommend a Mustek scanner only with certain caveats,<br>
but it happens to be what I have, so I try to make the best use of<br>
it).  Mind you, buying the most mentioned scanner is not unlike buying<br>
the most-mentioned OS, by which logic you would not be running<br>
Linux, so I'm not sure that is a good criteria. ;-)<br>
<p>
I think everybody agrees that a scanner FAQ/Howto would be a Great<br>
Thing (tm).  There certainly is need for one and I'd be more than<br>
happy to host it on the SANE home page, if desired/necessary.  I think<br>
I suggested this once before but, unfortunately, nobody has stepped<br>
forward yet (as far as I know, at least).  It wouldn't take very much:<br>
send some inquiries about people's experiences with different brands<br>
etc and then summarize it a bit.<br>
<p>
  Marc&gt; What is the reason for these timeouts and where in the<br>
  Marc&gt; source-code can I fix that?  I tried in drivers/scsi/scsi.c<br>
<p>
That's the mid-level SCSI code---it works fine.  The problem is most<br>
likely in the driver itself.<br>
<p>
I don't know about the AVA-1505 adapter.  Is there really such a<br>
thing?  If it's an AHA-1505: I think Mathias Weigt has his scanner<br>
connected using the same kind of adapter.  Mathias, do you have any<br>
patches that fixes the problems?  If you send patches, I'll make sure<br>
to add something to the sane-mustek(5) man-page regarding this<br>
problem.<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0143.html">Mathias Weigt: "Re: 600II-CD and AVA-1505"</a>
<li> <b>Previous message:</b> <a href="0141.html">David Mosberger-Tang: "Re: Questions on SANE - backend for Epson PhotoPC"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
