<!-- received="Wed Jun 25 21:20:28 1997 MST" -->
<!-- sent="Thu, 26 Jun 1997 04:55:52 +0200" -->
<!-- name="Christophe Zwecker" -->
<!-- email="doc@rrz.uni-hamburg.de" -->
<!-- subject="Re: sane compile probs with gtk" -->
<!-- id="33B1DA38.133A8CE2@rrz.uni-hamburg.de" -->
<!-- inreplyto="sane compile probs with gtk" -->
<title>sane-devel: Re: sane compile probs with gtk</title>
<h1>Re: sane compile probs with gtk</h1>
<b>Christophe Zwecker</b> (<a href="mailto:doc@rrz.uni-hamburg.de"><i>doc@rrz.uni-hamburg.de</i></a>)<br>
<i>Thu, 26 Jun 1997 04:55:52 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#166">[ date ]</a><a href="index.html#166">[ thread ]</a><a href="subject.html#166">[ subject ]</a><a href="author.html#166">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0167.html">Bj|rn Augustsson: "Ricoh FS2"</a>
<li> <b>Previous message:</b> <a href="0165.html">David Mosberger-Tang: "new SANE home"</a>
<li> <b>Maybe in reply to:</b> <a href="0146.html">Christophe Zwecker: "sane compile probs with gtk"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
David Mosberger-Tang wrote:<br>
<i>&gt; </i><br>
<i>&gt; &gt;&gt;&gt;&gt;&gt; On Tue, 24 Jun 1997 23:59:38 -0700, <a href="mailto:doc@rrz.uni-hamburg.de">doc@rrz.uni-hamburg.de</a> (Christophe Zwecker) said:</i><br>
<i>&gt; </i><br>
<i>&gt;   Christophe&gt; David Mosberger-Tang &lt;<a href="mailto:davidm@AZStarNet.COM">davidm@AZStarNet.COM</a>&gt; wrote:</i><br>
<i>&gt;   &gt;&gt;&gt;&gt;&gt;&gt;&gt; On 25 Jun 1997 01:49:27 +0200, <a href="mailto:doc@rrz.uni-hamburg.de">doc@rrz.uni-hamburg.de</a></i><br>
<i>&gt;   &gt;&gt;&gt;&gt;&gt;&gt;&gt; (Christophe Zwecker) said:</i><br>
<i>&gt;   &gt;&gt;</i><br>
<i>&gt;   Christophe&gt; ok I did ln -s /usr/local/bin/xscanimage ~/.gimp/plug-ins/ then</i><br>
<i>&gt; </i><br>
<i>&gt;   Christophe&gt; doc:/home/doc/.gimp&gt; gimp parsing</i><br>
<i>&gt;   Christophe&gt; "/home/doc/.gimp/gtkrc" parsing</i><br>
<i>&gt;   Christophe&gt; "/usr/local/share/gimp/0.99.10/gimprc" parsing</i><br>
<i>&gt;   Christophe&gt; "/home/doc/.gimp/gimprc" parsing</i><br>
<i>&gt;   Christophe&gt; "/home/doc/.gimp/pluginrc" query plug-in:</i><br>
<i>&gt;   Christophe&gt; "/home/doc/.gimp/plug-ins/xscanimage"</i><br>
<i>&gt;   Christophe&gt; /home/doc/.gimp/plug-ins/xscanimage: illegal option -- g</i><br>
<i>&gt;   Christophe&gt; Usage: xscanimage [OPTION]... [DEVICE]</i><br>
<i>&gt; </i><br>
<i>&gt; Looks like the SANE configure did not find the gtk libraries.  If you</i><br>
<i>&gt; installed gtk _after_ running the SANE configure, you'll have to rerun</i><br>
<i>&gt; it again (best to do make clean, configure, make, make install to be</i><br>
<i>&gt; on the safe side).</i><br>
<p>
I did, here a piece of what configure found:<br>
<p>
checking whether to build shared libraries... yes<br>
checking whether to build static libraries... yes<br>
creating libtool<br>
checking for X... libraries /usr/X11R6/lib, headers /usr/X11R6/include<br>
checking for sqrt in -lm... yes<br>
checking for gettext in -lintl... no<br>
checking for gethostbyaddr in -lnsl... no<br>
checking for socket in -lsocket... no<br>
checking for main in -lXext... yes<br>
checking for main in -lX11... yes<br>
checking for main in -lXpm... yes<br>
checking for main in -lglib... yes<br>
checking for main in -lgdk... yes<br>
checking for gtk_check_button_new in -lgtk... yes<br>
checking for libgimp/gimp.h... no<br>
checking for dlfcn.h... yes<br>
checking for dlopen in -ldl... yes<br>
checking for dlopen... yes<br>
enabling Mustek line-distance bug workaround<br>
disabling PINT backend<br>
enabling QuickCam backend<br>
updating cache ./config.cache<br>
creating ./config.status<br>
creating Makefile<br>
creating lib/Makefile<br>
creating sanei/Makefile<br>
creating frontend/Makefile<br>
creating backend/Makefile<br>
<p>
any ideas ?<br>
<p>
cya<br>
<pre>
-- 
<p>
   Christophe
<p>
----------------------------------------------------------------------
Christophe Zwecker                email:      <a href="mailto:doc@rrz.uni-hamburg.de">doc@rrz.uni-hamburg.de</a>
Hamburg, Germany                    fax:      49 40 22715433  
----------------------------------------------------------------------
<p>
In newsgroups please reply also by email - thanks
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0167.html">Bj|rn Augustsson: "Ricoh FS2"</a>
<li> <b>Previous message:</b> <a href="0165.html">David Mosberger-Tang: "new SANE home"</a>
<li> <b>Maybe in reply to:</b> <a href="0146.html">Christophe Zwecker: "sane compile probs with gtk"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
