<!-- received="Thu Jan  1 06:00:05 1998 PST" -->
<!-- sent="Wed, 31 Dec 1997 19:32:08 +0100 (MET)" -->
<!-- name="Rogier Wolff" -->
<!-- email="R.E.Wolff@BitWizard.nl" -->
<!-- subject="Re: Missing feature: "Auto"-button" -->
<!-- id="199712311832.TAA00726@adder.et.tudelft.nl" -->
<!-- inreplyto="199712311537.QAA00423@sl.sl.de" -->
<title>sane-devel: Re: Missing feature: "Auto"-button</title>
<h1>Re: Missing feature: "Auto"-button</h1>
<b>Rogier Wolff</b> (<a href="mailto:R.E.Wolff@BitWizard.nl"><i>R.E.Wolff@BitWizard.nl</i></a>)<br>
<i>Wed, 31 Dec 1997 19:32:08 +0100 (MET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#0">[ date ]</a><a href="index.html#0">[ thread ]</a><a href="subject.html#0">[ subject ]</a><a href="author.html#0">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0001.html">Henning Meier-Geinitz: "Problems with Mustek 600 II N"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt; </i><br>
<i>&gt; But I'm missing a feature I know from the Windows HP-DeskScan-software,</i><br>
<i>&gt; which is used with HP-ScanJet-scanners.</i><br>
<i>&gt; It has an "Automatic"-button. When I click on this button DeskScan adjusts</i><br>
<i>&gt; the brightness- and contrast-values to an "optimal" value. This news values</i><br>
<i>&gt; are used by the HP-ScanJet and I get an optimal result. The values differ</i><br>
<i>&gt; from picture to picture.</i><br>
[...]<br>
<i>&gt; Can you please add such an "Auto"-button to xscanimage?</i><br>
<p>
The stuff is not as easy as it sounds. There must be an interesting algorithm<br>
involved in getting "optimal" settings. If you happen to have a friend<br>
that does Image processing a lot, you might help by asking him what <br>
algorithm would work here.......<br>
<p>
				Roger.<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0001.html">Henning Meier-Geinitz: "Problems with Mustek 600 II N"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
