<!-- received="Mon Jan  5 14:25:25 1998 PST" -->
<!-- sent="Mon, 5 Jan 1998 23:24:37 +0100 (MET)" -->
<!-- name="Oliver.Rauch@Wolfsburg.DE" -->
<!-- email="Oliver.Rauch@Wolfsburg.DE" -->
<!-- subject="Re: UMAX 1200S SCSI CARD" -->
<!-- id="199801052224.XAA00916@Babylon5.wolfsburg.de" -->
<!-- inreplyto="XFMail.980105203804.hsauer@marnie.teuto.de" -->
<title>sane-devel: Re: UMAX 1200S SCSI CARD</title>
<h1>Re: UMAX 1200S SCSI CARD</h1>
<a href="mailto:Oliver.Rauch@Wolfsburg.DE"><i>Oliver.Rauch@Wolfsburg.DE</i></a><br>
<i>Mon, 5 Jan 1998 23:24:37 +0100 (MET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#19">[ date ]</a><a href="index.html#19">[ thread ]</a><a href="subject.html#19">[ subject ]</a><a href="author.html#19">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0020.html">Paul Walker: "RE: UMAX 1200S SCSI CARD"</a>
<li> <b>Previous message:</b> <a href="0018.html">Oliver.Rauch@Wolfsburg.DE: "Re: UMAX 1200S SCSI CARD"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hello Henning,<br>
<p>
<i>&gt; My Astra 1200S only has two 25 Pin (Apple Macintosh style) SCSI Ports.</i><br>
<i>&gt; Is their another version with a 50 Pin Centronics or Mini Centronics</i><br>
<i>&gt; interface ?</i><br>
<p>
I have not seen an Astra 1200S. My (UMAX S12) has a 25 pin SUB-D and<br>
a 50 pin Centronix connector and I thought that the Astra scanners do<br>
have these connectors, too, but...<br>
<p>
So this is anowther reason not to write about things like this in global.<br>
If we would mention something about it, it should be for each scanner!<br>
<p>
Thanks and bye<br>
<p>
Oliver<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0020.html">Paul Walker: "RE: UMAX 1200S SCSI CARD"</a>
<li> <b>Previous message:</b> <a href="0018.html">Oliver.Rauch@Wolfsburg.DE: "Re: UMAX 1200S SCSI CARD"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
