<!-- received="Mon Jan 12 23:34:10 1998 PST" -->
<!-- sent="Mon, 12 Jan 1998 23:34:09 -0800" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="David.Mosberger@acm.org" -->
<!-- subject="forwarded message from Bruce Milner" -->
<!-- id="199801130734.XAA18398@panda.mostang.com" -->
<!-- inreplyto="" -->
<title>sane-devel: forwarded message from Bruce Milner</title>
<h1>forwarded message from Bruce Milner</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:David.Mosberger@acm.org"><i>David.Mosberger@acm.org</i></a>)<br>
<i>Mon, 12 Jan 1998 23:34:09 -0800</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#43">[ date ]</a><a href="index.html#43">[ thread ]</a><a href="subject.html#43">[ subject ]</a><a href="author.html#43">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0044.html">David Mosberger-Tang: "Re: Mustek 600 III EP plus"</a>
<li> <b>Previous message:</b> <a href="0042.html">David Mosberger-Tang: "Re: Probable Bugs &amp; Suggestions"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
--7XR9G+q6kx<br>
Content-Type: text/plain; charset=us-ascii<br>
Content-Transfer-Encoding: 7bit<br>
<p>
This might be interesting to people who have a scanner for which there<br>
is no programming documentation available.<br>
<p>
	--david<br>
<p>
<p>
--7XR9G+q6kx<br>
Content-Type: message/rfc822<br>
Content-Transfer-Encoding: 7bit<br>
<p>
Return-Path: &lt;<a href="mailto:Bruce.Milner@genetics.utah.edu">Bruce.Milner@genetics.utah.edu</a>&gt;<br>
Received: from mail.acm.org (mail.acm.org [199.222.69.4])<br>
	by panda.mostang.com (8.8.7/8.8.7) with ESMTP id NAA32538<br>
	for &lt;davidm@mostang.com&gt;; Thu, 1 Jan 1998 13:35:27 -0800<br>
Received: from simpatico.genetics.utah.edu (<a href="mailto:root@simpatico.genetics.utah.edu">root@simpatico.genetics.utah.edu</a> [155.100.232.18]) by mail.acm.org (8.8.5/8.7.5) with ESMTP id QAA144212 for &lt;David.Mosberger@acm.org&gt;; Thu, 1 Jan 1998 16:36:32 -0500<br>
Received: from genetics.utah.edu (bruce@loopback [127.0.0.1])<br>
	by simpatico.genetics.utah.edu (8.8.5/8.8.5) with ESMTP id OAA01371<br>
	for &lt;David.Mosberger@acm.org&gt;; Thu, 1 Jan 1998 14:43:30 GMT<br>
Message-ID: &lt;<a href="mailto:34ABAB91.57653F54@genetics.utah.edu">34ABAB91.57653F54@genetics.utah.edu</a>&gt;<br>
Organization: home<br>
X-Mailer: Mozilla 4.03 [en] (X11; I; Linux 2.0.33 i586)<br>
MIME-Version: 1.0<br>
Content-Type: text/plain; charset=us-ascii<br>
From: Bruce Milner &lt;<a href="mailto:Bruce.Milner@genetics.utah.edu">Bruce.Milner@genetics.utah.edu</a>&gt;<br>
Sender: <a href="mailto:bruce@simpatico.genetics.utah.edu">bruce@simpatico.genetics.utah.edu</a><br>
To: <a href="mailto:David.Mosberger@acm.org">David.Mosberger@acm.org</a><br>
Subject: SANE and Wine (Just a FYI)<br>
Date: Thu, 01 Jan 1998 14:43:29 +0000<br>
<p>
Hello David,<br>
<p>
Bruce Milner here. This is kind of out of the blue,<br>
but I thought you might be interested.<br>
<p>
In the Wine project (running windows binaries under<br>
various 386 platforms), I have added some support<br>
to map ASPI calls into the linux generic scsi driver.<br>
<p>
The side effect of this is that I can now run my mustek<br>
scanner (800SPII) using twain drivers under linux (with<br>
the hitch that Wine has a bug with the program I use when<br>
it saves and image.) I also have heard from someone who has<br>
successfully run an AGFA Snapscan scanner from within Wine.<br>
<p>
Anyway, If you are having trouble getting decent<br>
documentation about a scanner, it might be possible to<br>
log what commands the twain drivers send via ASPI<br>
and reproduce them for SANE. I'm sure this might be a<br>
simplistic view, but what the hey.<br>
<p>
Wine is still pretty buggy, so it may not be that trivial.<br>
<p>
--bruce<br>
<a href="mailto:Bruce.Milner@genetics.utah.edu">Bruce.Milner@genetics.utah.edu</a><br>
<p>
--7XR9G+q6kx--<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0044.html">David Mosberger-Tang: "Re: Mustek 600 III EP plus"</a>
<li> <b>Previous message:</b> <a href="0042.html">David Mosberger-Tang: "Re: Probable Bugs &amp; Suggestions"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
