<!-- received="Mon Jan 19 04:40:45 1998 PST" -->
<!-- sent="Mon, 19 Jan 1998 12:35:30 +0000 (GMT)" -->
<!-- name="descarte@arcana.co.uk" -->
<!-- email="descarte@arcana.co.uk" -->
<!-- subject="Sane 0.68 with Gimp 0.99.7" -->
<!-- id="199801191235.MAA21698@nerfherder.arcana.co.uk" -->
<!-- inreplyto="" -->
<title>sane-devel: Sane 0.68 with Gimp 0.99.7</title>
<h1>Sane 0.68 with Gimp 0.99.7</h1>
<a href="mailto:descarte@arcana.co.uk"><i>descarte@arcana.co.uk</i></a><br>
<i>Mon, 19 Jan 1998 12:35:30 +0000 (GMT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#74">[ date ]</a><a href="index.html#74">[ thread ]</a><a href="subject.html#74">[ subject ]</a><a href="author.html#74">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0075.html">becka@rz.uni-duesseldorf.de: "Re: support for HP 6100C"</a>
<li> <b>Previous message:</b> <a href="0073.html">Carsten Zerbst: "Re: support for HP 6100C"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi. I've been using Sane 0.61 happily with Gimp 0.99.10 for several months<br>
and have been extremely impressed by it. However, I just upgraded to Gimp<br>
0.99.17 for the extended Wacom tablet support and Gimp doesn't appear to<br>
like Sane 0.68 when I put the xscanimage plugin into the plugins directory.<br>
( I've applied the patch previously mentioned on the list to get Sane to<br>
  compile with the new GTK.. )<br>
<p>
The log says:<br>
<p>
query plug-in: "/opt/gimp/lib/gimp/0.99/plug-ins/xscanimage"<br>
/opt/gimp/lib/gimp/0.99/plug-ins/xscanimage: illegal option -- g<br>
Usage: xscanimage [OPTION]... [DEVICE]<br>
<p>
Start up graphical user interface to access SANE (Scanner Access Now<br>
Easy) devices.<br>
<p>
-h, --help                 display this help message and exit<br>
-V, --version              print version information<br>
wire_read: unexpected EOF<br>
<p>
when it's re-parsing the plugin list. xscanimage works fine as a standalone<br>
program.<br>
<p>
Any ideas? Thanks in advance, and keep up the superb work!<br>
<p>
A.<br>
<p>
<pre>
-- 
Alligator Descartes      |   "The waves upon the water are like ripples in
<a href="mailto:descarte@arcana.co.uk">descarte@arcana.co.uk</a>    |    your mind."
<a href="http://www.arcana.co.uk">http://www.arcana.co.uk</a>  |         -- Martin Walkyier, ``Advent of Insanity''
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0075.html">becka@rz.uni-duesseldorf.de: "Re: support for HP 6100C"</a>
<li> <b>Previous message:</b> <a href="0073.html">Carsten Zerbst: "Re: support for HP 6100C"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
