<!-- received="Mon Jan 19 11:42:44 1998 PST" -->
<!-- sent="Mon, 19 Jan 1998 21:42:47 +0100 (MET)" -->
<!-- name="becka@rz.uni-duesseldorf.de" -->
<!-- email="becka@rz.uni-duesseldorf.de" -->
<!-- subject="Re: support for HP 6100C" -->
<!-- id="m0xuO1w-0000XUC@charon.beck-sw.de" -->
<!-- inreplyto="34C37EB3.76D3E4F4@tu-harburg.de" -->
<title>sane-devel: Re: support for HP 6100C</title>
<h1>Re: support for HP 6100C</h1>
<a href="mailto:becka@rz.uni-duesseldorf.de"><i>becka@rz.uni-duesseldorf.de</i></a><br>
<i>Mon, 19 Jan 1998 21:42:47 +0100 (MET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#79">[ date ]</a><a href="index.html#79">[ thread ]</a><a href="subject.html#79">[ subject ]</a><a href="author.html#79">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0080.html">Edward Sargisson: "HP ScanJet 5P supported or not"</a>
<li> <b>Previous message:</b> <a href="0078.html">Carsten Zerbst: "Re: support for HP 6100C"</a>
<li> <b>In reply to:</b> <a href="0078.html">Carsten Zerbst: "Re: support for HP 6100C"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0081.html">Carsten Zerbst: "Re: support for HP 6100C"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt; When scanimage is trying to open the specified device, it couldn't</i><br>
<i>&gt; </i><br>
<i>&gt; /proc/scsi/scsi</i><br>
<i>&gt; --------------------------</i><br>
<i>&gt; Host: scsi0 Channel: 00 Id: 06 Lun: 00</i><br>
<i>&gt;   Vendor: HP       Model: C2520A           Rev: 3644</i><br>
<i>&gt;   Type:   Processor                        ANSI SCSI revision: 02</i><br>
<p>
That's all ? Then the scanner sits at /dev/sga / /dev/sg1.<br>
<p>
Devices are counted, it is not the ID that is taken.<br>
<p>
CU,Andy<br>
<p>
<pre>
-- 
Andreas Beck              |  Email :  &lt;<a href="mailto:andreas.beck@ggi-project.org">andreas.beck@ggi-project.org</a>&gt;
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0080.html">Edward Sargisson: "HP ScanJet 5P supported or not"</a>
<li> <b>Previous message:</b> <a href="0078.html">Carsten Zerbst: "Re: support for HP 6100C"</a>
<li> <b>In reply to:</b> <a href="0078.html">Carsten Zerbst: "Re: support for HP 6100C"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0081.html">Carsten Zerbst: "Re: support for HP 6100C"</a>
<!-- reply="end" -->
</ul>
