<!-- received="Mon Jan 26 23:55:17 1998 PST" -->
<!-- sent="Mon, 26 Jan 1998 23:55:16 -0800" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="David.Mosberger@acm.org" -->
<!-- subject="Re: Compile error  on Slackware 3.3.0  Sane 0.69" -->
<!-- id="199801270755.XAA19314@panda.mostang.com" -->
<!-- inreplyto="34CD1F9A.5A1F7A0A@ilap.com" -->
<title>sane-devel: Re: Compile error  on Slackware 3.3.0  Sane 0.69</title>
<h1>Re: Compile error  on Slackware 3.3.0  Sane 0.69</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:David.Mosberger@acm.org"><i>David.Mosberger@acm.org</i></a>)<br>
<i>Mon, 26 Jan 1998 23:55:16 -0800</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#183">[ date ]</a><a href="index.html#183">[ thread ]</a><a href="subject.html#183">[ subject ]</a><a href="author.html#183">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0184.html">Jamie Zawinski: "Re: sane 0.69, Irix 6.3"</a>
<li> <b>Previous message:</b> <a href="0182.html">David Mosberger-Tang: "Re: sane 0.69, Irix 6.3"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;&gt;&gt;&gt;&gt; On Mon, 26 Jan 1998 18:43:22 -0500, Peter JD Hall &lt;<a href="mailto:phall@ilap.com">phall@ilap.com</a>&gt; said:</i><br>
<p>
  Peter&gt; Hello List I am unable to get sane to do a make.  Below is<br>
  Peter&gt; the debug.  Any pointers would be appreciated creating<br>
<p>
  Peter&gt; umax.c:931: virtual memory exhausted<br>
<p>
Looks like a compiler bug (unless you're _really_ tight on memory/swap<br>
space).  Try compiling it without -O2 (e.g., build with "CFLAGS=-g<br>
make").  What gcc version are you using?<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0184.html">Jamie Zawinski: "Re: sane 0.69, Irix 6.3"</a>
<li> <b>Previous message:</b> <a href="0182.html">David Mosberger-Tang: "Re: sane 0.69, Irix 6.3"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
