<!-- received="Tue Jan 27 20:52:35 1998 PST" -->
<!-- sent="Tue, 27 Jan 1998 06:53:38 +0100" -->
<!-- name="Mathias Weigt" -->
<!-- email="p5iba@medchem2.pharmazie.uni-halle.de" -->
<!-- subject="Re: Compile error  on Slackware 3.3.0  Sane 0.69" -->
<!-- id="" -->
<!-- inreplyto="Compile error  on Slackware 3.3.0  Sane 0.69" -->
<title>sane-devel: Re: Compile error  on Slackware 3.3.0  Sane 0.69</title>
<h1>Re: Compile error  on Slackware 3.3.0  Sane 0.69</h1>
<b>Mathias Weigt</b> (<a href="mailto:p5iba@medchem2.pharmazie.uni-halle.de"><i>p5iba@medchem2.pharmazie.uni-halle.de</i></a>)<br>
<i>Tue, 27 Jan 1998 06:53:38 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#212">[ date ]</a><a href="index.html#212">[ thread ]</a><a href="subject.html#212">[ subject ]</a><a href="author.html#212">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0213.html">Mathias Weigt: "Re: Compile error  on Slackware 3.3.0  Sane 0.69"</a>
<li> <b>Previous message:</b> <a href="0211.html">David Mosberger-Tang: "Re: HP Scanjet 4p and NetBSD/Sparc"</a>
<li> <b>Maybe in reply to:</b> <a href="0208.html">Peter JD Hall: "Compile error  on Slackware 3.3.0  Sane 0.69"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0213.html">Mathias Weigt: "Re: Compile error  on Slackware 3.3.0  Sane 0.69"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Servus !<br>
<p>
<p>
<i>&gt; Hello List</i><br>
<i>&gt;         I am unable to get sane to do a make.  Below is the debug.</i><br>
<i>&gt; Any pointers would be appreciated</i><br>
<i>&gt; creating libsane-tamarack.la</i><br>
<i>&gt; (cd .libs &amp;&amp; ln -s ../libsane-tamarack.la libsane-tamarack.la)</i><br>
<i>&gt; gcc -c -I/usr/X11R6/include -g -O2 -Wall -DHAVE_CONFIG_H -I. -I.</i><br>
<i>&gt; -I../include -I../include -D_GNU_SOURCE</i><br>
<i>&gt; -DPATH_SANE_CONFIG_DIR=/usr/local/etc/sane.d</i><br>
<i>&gt; -DPATH_SANE_DATA_DIR=/usr/local/share -DV_MAJOR=0 -DV_MINOR=69</i><br>
<i>&gt; -DBACKEND_NAME=umax -DLIBDIR=/usr/local/lib -fPIC -DPIC umax.c</i><br>
<i>&gt; umax.c: In function `init_options':</i><br>
<i>&gt; umax.c:931: virtual memory exhausted</i><br>
<i>&gt; make[1]: *** [umax.lo] Error 1</i><br>
<i>&gt; make[1]: Leaving directory `/usr/local/sane-0.69/backend'</i><br>
<i>&gt; make: *** [all-recursive] Error 1</i><br>
<i>&gt; bash#</i><br>
<p>
You are not alone ! The same happened to me. But I don`t use the<br>
umax-backend and so I left it out - then it builds fine. And I use pgcc<br>
instead of gcc -- so I didn`t reported it because there are often minor<br>
incompatibilities.<br>
Mathias Weigt<br>
<a href="mailto:p5iba@medchem2.pharmazie.uni-halle.de">p5iba@medchem2.pharmazie.uni-halle.de</a><br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0213.html">Mathias Weigt: "Re: Compile error  on Slackware 3.3.0  Sane 0.69"</a>
<li> <b>Previous message:</b> <a href="0211.html">David Mosberger-Tang: "Re: HP Scanjet 4p and NetBSD/Sparc"</a>
<li> <b>Maybe in reply to:</b> <a href="0208.html">Peter JD Hall: "Compile error  on Slackware 3.3.0  Sane 0.69"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0213.html">Mathias Weigt: "Re: Compile error  on Slackware 3.3.0  Sane 0.69"</a>
<!-- reply="end" -->
</ul>
