<!-- received="Wed Jan 28 21:39:58 1998 PST" -->
<!-- sent="Wed, 28 Jan 1998 21:39:55 -0800" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="David.Mosberger@acm.org" -->
<!-- subject="Re: SANE works on SPARCLinux!" -->
<!-- id="199801290539.VAA09377@panda.mostang.com" -->
<!-- inreplyto="Pine.LNX.3.96.980128221954.7181A-100000@babs.meatware.com" -->
<title>sane-devel: Re: SANE works on SPARCLinux!</title>
<h1>Re: SANE works on SPARCLinux!</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:David.Mosberger@acm.org"><i>David.Mosberger@acm.org</i></a>)<br>
<i>Wed, 28 Jan 1998 21:39:55 -0800</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#237">[ date ]</a><a href="index.html#237">[ thread ]</a><a href="subject.html#237">[ subject ]</a><a href="author.html#237">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0238.html">David Mosberger-Tang: "sane-0.70 is out"</a>
<li> <b>Previous message:</b> <a href="0236.html">David Mosberger-Tang: "Re: AppleScanner(s) Support"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;&gt;&gt;&gt;&gt; On Wed, 28 Jan 1998 22:47:40 -0500 (EST), Justin &lt;<a href="mailto:monitron@meatware.com">monitron@meatware.com</a>&gt; said:</i><br>
<p>
  Justin&gt; Since Linux/SPARC isn't listed on the Supported Platforms<br>
  Justin&gt; list at the sane website, I thought someone might be<br>
  Justin&gt; interested in this.<br>
<p>
Sure am!  Thanks for the info.  I updated sane-support.html as well as<br>
I could.<br>
<p>
  Justin&gt; Only problem relates to the sparc SCSI, not sane.  While the<br>
  Justin&gt; scanner is moving and not scanning, the kernel vomits out a<br>
  Justin&gt; steady stream of:<br>
<p>
  Justin&gt; esp0: Warning, live target 5 not responding to selection.<br>
  Justin&gt; (scanner is ID 5)<br>
<p>
  Justin&gt; Also, once, the scanner froze the SCSI bus and the system<br>
  Justin&gt; eventually kernel panicked (root drive is on the same bus)<br>
  Justin&gt; ... but this happened once out of 20 or so successful scans.<br>
<p>
The driver may simply be a bit eager in timing out.  It's not an<br>
uncommon problem.  E.g., we had the same problem with the ncr810<br>
driver.  You may want to check the driver for timeout constants that<br>
may be related to what you're seeing.<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0238.html">David Mosberger-Tang: "sane-0.70 is out"</a>
<li> <b>Previous message:</b> <a href="0236.html">David Mosberger-Tang: "Re: AppleScanner(s) Support"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
