<!-- received="Thu May  7 08:53:51 1998 PDT" -->
<!-- sent="Thu, 07 May 1998 17:25:54 +0200" -->
<!-- name="Felix Ide" -->
<!-- email="ide@gmx.de" -->
<!-- subject="Mustek ScanExpress 12000SP is not recognized" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Mustek ScanExpress 12000SP is not recognized</title>
<h1>Mustek ScanExpress 12000SP is not recognized</h1>
<b>Felix Ide</b> (<a href="mailto:ide@gmx.de"><i>ide@gmx.de</i></a>)<br>
<i>Thu, 07 May 1998 17:25:54 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#76">[ date ]</a><a href="index.html#76">[ thread ]</a><a href="subject.html#76">[ subject ]</a><a href="author.html#76">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0077.html">Martin Heesemann: "Acer/ Vuego Scan 310s Backend"</a>
<li> <b>Previous message:</b> <a href="0075.html">Kenneth Crudup: "Re: [umax] Can't use 10-bit scan: "preview cannot handle depth 16""</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0081.html">Dr. Andreas Bolsch: "Re: Mustek ScanExpress 12000SP is not recognized"</a>
<li> <b>Reply:</b> <a href="0081.html">Dr. Andreas Bolsch: "Re: Mustek ScanExpress 12000SP is not recognized"</a>
<li> <b>Reply:</b> <a href="0083.html">Jan Krueger: "Re: Mustek ScanExpress 12000SP is not recognized"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi!<br>
<p>
I have a problem with the Mustek ScanExpress 12000SP Scanner. He is<br>
recognised as unknown model C06 S12IDW. <br>
I'd be very pleased if you could give me a hint where to teach sane<br>
about my model.<br>
<p>
Thanks in advance<br>
Felix<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0077.html">Martin Heesemann: "Acer/ Vuego Scan 310s Backend"</a>
<li> <b>Previous message:</b> <a href="0075.html">Kenneth Crudup: "Re: [umax] Can't use 10-bit scan: "preview cannot handle depth 16""</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0081.html">Dr. Andreas Bolsch: "Re: Mustek ScanExpress 12000SP is not recognized"</a>
<li> <b>Reply:</b> <a href="0081.html">Dr. Andreas Bolsch: "Re: Mustek ScanExpress 12000SP is not recognized"</a>
<li> <b>Reply:</b> <a href="0083.html">Jan Krueger: "Re: Mustek ScanExpress 12000SP is not recognized"</a>
<!-- reply="end" -->
</ul>
