<!-- received="Fri May  8 00:15:33 1998 PDT" -->
<!-- sent="Fri, 8 May 1998 00:15:30 -0700" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="David.Mosberger@acm.org" -->
<!-- subject="Re: configure --disable-static?" -->
<!-- id="199805080715.AAA13155@panda.mostang.com" -->
<!-- inreplyto="199805060418.VAA05822@panda.mostang.com" -->
<title>sane-devel: Re: configure --disable-static?</title>
<h1>Re: configure --disable-static?</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:David.Mosberger@acm.org"><i>David.Mosberger@acm.org</i></a>)<br>
<i>Fri, 8 May 1998 00:15:30 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#97">[ date ]</a><a href="index.html#97">[ thread ]</a><a href="subject.html#97">[ subject ]</a><a href="author.html#97">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0098.html">Kaz Sasayama: "Re: configure --disable-static?"</a>
<li> <b>Previous message:</b> <a href="0096.html">Kaz Sasayama: "Re: configure --disable-static?"</a>
<li> <b>In reply to:</b> <a href="0051.html">David Mosberger-Tang: "Re: configure --disable-static?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0098.html">Kaz Sasayama: "Re: configure --disable-static?"</a>
<li> <b>Reply:</b> <a href="0098.html">Kaz Sasayama: "Re: configure --disable-static?"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
 Kaz&gt; How about this, or making shared libsanei?<br>
<p>
 Kaz&gt; --- sanei/Makefile.in	1998-05-08 15:38:53+09	1.1<br>
 Kaz&gt; +++ sanei/Makefile.in	1998-05-08 15:43:57+09<br>
 Kaz&gt; @@ -51,12 +51,14 @@<br>
 Kaz&gt;  	sanei_save_values.lo sanei_load_values.lo \<br>
 Kaz&gt;  	sanei_scsi.lo sanei_config.lo sanei_pio.lo<br>
 <br>
 Kaz&gt; -TARGETS = libsanei.a<br>
 Kaz&gt; +TARGETS = $(LIBSANEI_LTOBJS) libsanei.a<br>
 Kaz&gt;  TESTPROGRAMS = test_wire<br>
 <br>
 Kaz&gt;  .SUFFIXES:<br>
 Kaz&gt; -.SUFFIXES: .c .o<br>
 Kaz&gt; +.SUFFIXES: .c .lo .o<br>
 Kaz&gt;  .c.o:<br>
 Kaz&gt; +	$(COMPILE) $&lt;<br>
 Kaz&gt; +.c.lo:<br>
 Kaz&gt;  	@$(LIBTOOL) $(MCOMP) $(COMPILE) $&lt;<br>
 Kaz&gt;  <br>
 Kaz&gt;  all:	$(TARGETS)<br>
<p>
I believe this would have the effect of compiling each file _three_<br>
times when not specifying --disable-shared.  Not a good thing.<br>
<p>
I don't want to make libsanei shared because that would make it harder<br>
to distribute backends.  Right now, you can install a new (e.g.,<br>
third-party) backend simply by installing the backend's shared<br>
libraries &amp; configuration file.  If libsanei were shared too, we would<br>
have to do library versioning on it to make sure things would work<br>
properly when two backends want incompatible versions of libsanei.<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0098.html">Kaz Sasayama: "Re: configure --disable-static?"</a>
<li> <b>Previous message:</b> <a href="0096.html">Kaz Sasayama: "Re: configure --disable-static?"</a>
<li> <b>In reply to:</b> <a href="0051.html">David Mosberger-Tang: "Re: configure --disable-static?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0098.html">Kaz Sasayama: "Re: configure --disable-static?"</a>
<li> <b>Reply:</b> <a href="0098.html">Kaz Sasayama: "Re: configure --disable-static?"</a>
<!-- reply="end" -->
</ul>
