<!-- received="Sun May 10 08:13:22 1998 PDT" -->
<!-- sent="Sun, 10 May 1998 17:06:08 +0200" -->
<!-- name="Brian Schau" -->
<!-- email="bsc@fleggaard.dk" -->
<!-- subject="Re: Sane, Microtek E3, and Alpha Linux..." -->
<!-- id="" -->
<!-- inreplyto="Sane, Microtek E3, and Alpha Linux..." -->
<title>sane-devel: Re: Sane, Microtek E3, and Alpha Linux...</title>
<h1>Re: Sane, Microtek E3, and Alpha Linux...</h1>
<b>Brian Schau</b> (<a href="mailto:bsc@fleggaard.dk"><i>bsc@fleggaard.dk</i></a>)<br>
<i>Sun, 10 May 1998 17:06:08 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#109">[ date ]</a><a href="index.html#109">[ thread ]</a><a href="subject.html#109">[ subject ]</a><a href="author.html#109">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0110.html">Brian Macy: "Re: Sane, Microtek E3, and Alpha Linux..."</a>
<li> <b>Previous message:</b> <a href="0108.html">Brian Macy: "Re: Sane, Microtek E3, and Alpha Linux..."</a>
<li> <b>Maybe in reply to:</b> <a href="0104.html">Brian Macy: "Sane, Microtek E3, and Alpha Linux..."</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0110.html">Brian Macy: "Re: Sane, Microtek E3, and Alpha Linux..."</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Brian Macy wrote:<br>
<i>&gt; </i><br>
<i>&gt; &gt;&gt; For the life of me I can't figure out what is wrong. I am using 0.71</i><br>
<i>&gt; (tried</i><br>
<i>&gt; &gt;&gt; 0.72 and it made no difference). I installed using the Alpha RPM.</i><br>
<i>&gt; &gt;&gt;</i><br>
<i>&gt; &gt;&gt; - basically nothing is working</i><br>
<i>&gt; &gt;&gt; - the /usr/lib/libsane.so.0 link doesn't get created so I linked it to</i><br>
<i>&gt; &gt;&gt; /usr/lib/libsane-dll.so.0... I assume that is correct.</i><br>
<i>&gt; &gt;&gt; - this is my /proc/scsi/scsi:</i><br>
<i>&gt; &gt;&gt;     Attached devices:</i><br>
<i>&gt; &gt;&gt;     Host: scsi0 Channel: 00 Id: 00 Lun: 00</i><br>
<i>&gt; &gt;&gt;       Vendor: SEAGATE  Model: ST15230W SUN4.2G Rev: 0738</i><br>
<i>&gt; &gt;&gt;           Type:   Direct-Access                    ANSI SCSI revision: 02</i><br>
<i>&gt; &gt;&gt;     Host: scsi0 Channel: 00 Id: 01 Lun: 00</i><br>
<i>&gt; &gt;&gt;       Vendor: QUANTUM  Model: LIGHTNING 730S   Rev: 241E</i><br>
<i>&gt; &gt;&gt;       Type:   Direct-Access                    ANSI SCSI revision: 02</i><br>
<i>&gt; &gt;&gt;     Host: scsi0 Channel: 00 Id: 02 Lun: 00</i><br>
<i>&gt; &gt;&gt;       Vendor: QUANTUM  Model: FIREBALL1080S    Rev: 1Q08</i><br>
<i>&gt; &gt;&gt;       Type:   Direct-Access                    ANSI SCSI revision: 02</i><br>
<i>&gt; &gt;&gt;     Host: scsi0 Channel: 00 Id: 04 Lun: 00</i><br>
<i>&gt; &gt;&gt;       Vendor:          Model: Scanner          Rev: 1.80</i><br>
<i>&gt; &gt;&gt;       Type:   Scanner                          ANSI SCSI revision: 02</i><br>
<i>&gt; &gt;&gt;     Host: scsi0 Channel: 00 Id: 06 Lun: 00</i><br>
<i>&gt; &gt;&gt;       Vendor: TOSHIBA  Model: CD-ROM XM-3601TA Rev: 0725</i><br>
<i>&gt; &gt;&gt;       Type:   CD-ROM                           ANSI SCSI revision: 02</i><br>
<i>&gt; &gt;&gt;</i><br>
<i>&gt; &gt;&gt; - scanimage --list-device returns nothing.</i><br>
<i>&gt; &gt;&gt;</i><br>
<i>&gt; &gt;&gt; This is my first shot at getting this working so I'm hoping it is</i><br>
<i>&gt; something</i><br>
<i>&gt; &gt;&gt; simple.</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt;link /dev/scanner to the proper (generic scsi) device and make sure the</i><br>
<i>&gt; &gt;user has right to use this device. the 0.72-6 rpm should be fine.</i><br>
<i>&gt; </i><br>
<i>&gt; I tried that to no avail. Of course I'm not sure which device is the correct</i><br>
<i>&gt; one... I think /dev/sge but I tried them all. You wouldn't happen to know if</i><br>
<i>&gt; "generic SCSI" support needs to be compiled into the Linux kernel?</i><br>
<i>&gt; </i><br>
<i>&gt; Brian Macy</i><br>
<p>
I haven't been following this thread from the start (just subscribed -<br>
hope somebody will help me solve my problem  ;o) but it shouldn't be<br>
necessary to have "Generic SCSI" compiled into the kernel.   I use it as<br>
a module.<br>
What does an 'find-scanner -v' tell you?<br>
<p>
<p>
Regards,<br>
<p>
Brian<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0110.html">Brian Macy: "Re: Sane, Microtek E3, and Alpha Linux..."</a>
<li> <b>Previous message:</b> <a href="0108.html">Brian Macy: "Re: Sane, Microtek E3, and Alpha Linux..."</a>
<li> <b>Maybe in reply to:</b> <a href="0104.html">Brian Macy: "Sane, Microtek E3, and Alpha Linux..."</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0110.html">Brian Macy: "Re: Sane, Microtek E3, and Alpha Linux..."</a>
<!-- reply="end" -->
</ul>
