<!-- received="Mon May 11 09:31:23 1998 PDT" -->
<!-- sent="Mon, 11 May 1998 18:16:45 +0200" -->
<!-- name="KH Jeron" -->
<!-- email="kheinz@sero.org" -->
<!-- subject="problems with snapscan and scanimage" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: problems with snapscan and scanimage</title>
<h1>problems with snapscan and scanimage</h1>
<b>KH Jeron</b> (<a href="mailto:kheinz@sero.org"><i>kheinz@sero.org</i></a>)<br>
<i>Mon, 11 May 1998 18:16:45 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#123">[ date ]</a><a href="index.html#123">[ thread ]</a><a href="subject.html#123">[ subject ]</a><a href="author.html#123">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0124.html">Kevin R. Charter: "Re: problems with snapscan and scanimage"</a>
<li> <b>Previous message:</b> <a href="0122.html">Rogier Wolff: "Re: Win32 TWAIN DLL to interface with SANE"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0124.html">Kevin R. Charter: "Re: problems with snapscan and scanimage"</a>
<li> <b>Reply:</b> <a href="0124.html">Kevin R. Charter: "Re: problems with snapscan and scanimage"</a>
<li> <b>Reply:</b> <a href="0147.html">KH Jeron: "Re: problems with snapscan and scanimage"</a>
<li> <b>Reply:</b> <a href="0157.html">Rob Fargher: "Re: problems with snapscan and scanimage"</a>
<li> <b>Reply:</b> <a href="0174.html">Kenneth Crudup: "Re: problems with snapscan and scanimage"</a>
<li> <b>Reply:</b> <a href="0187.html">Rob Fargher: "Re: problems with snapscan and scanimage"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
i am running linux 2.0.32<br>
find-scanner output looks good.<br>
find-scanner: found scanner "AGFA SNAPSCAN 310 1.20" at device<br>
/dev/scanner<br>
find-scanner: found scanner "AGFA SNAPSCAN 310 1.20" at device /dev/sg2<br>
but scanimage doesnt work with sane0.72 agfa snapscan 310.<br>
i tried the following like the README says :<br>
test:/home/kheinz/sane-0.72/frontend # ./scanimage -d<br>
snapscan:/dev/scanner &gt;t.pnm<br>
scanimage: scanimage.c:813: scan_it: Assertion `parm.depth == 8' failed.<br>
<p>
IOT trap/Abort<br>
test:/home/kheinz/sane-0.72/frontend # scanimage: stopping scanner...<br>
<p>
please help me<br>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0124.html">Kevin R. Charter: "Re: problems with snapscan and scanimage"</a>
<li> <b>Previous message:</b> <a href="0122.html">Rogier Wolff: "Re: Win32 TWAIN DLL to interface with SANE"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0124.html">Kevin R. Charter: "Re: problems with snapscan and scanimage"</a>
<li> <b>Reply:</b> <a href="0124.html">Kevin R. Charter: "Re: problems with snapscan and scanimage"</a>
<li> <b>Reply:</b> <a href="0147.html">KH Jeron: "Re: problems with snapscan and scanimage"</a>
<li> <b>Reply:</b> <a href="0157.html">Rob Fargher: "Re: problems with snapscan and scanimage"</a>
<li> <b>Reply:</b> <a href="0174.html">Kenneth Crudup: "Re: problems with snapscan and scanimage"</a>
<li> <b>Reply:</b> <a href="0187.html">Rob Fargher: "Re: problems with snapscan and scanimage"</a>
<!-- reply="end" -->
</ul>
