<!-- received="Mon May 11 13:59:35 1998 PDT" -->
<!-- sent="Mon, 11 May 1998 17:00:46 -0400" -->
<!-- name="Michael Sweet" -->
<!-- email="mike@easysw.com" -->
<!-- subject="[patch] 0.72 sane-dll.so changes..." -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: [patch] 0.72 sane-dll.so changes...</title>
<h1>[patch] 0.72 sane-dll.so changes...</h1>
<b>Michael Sweet</b> (<a href="mailto:mike@easysw.com"><i>mike@easysw.com</i></a>)<br>
<i>Mon, 11 May 1998 17:00:46 -0400</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#125">[ date ]</a><a href="index.html#125">[ thread ]</a><a href="subject.html#125">[ subject ]</a><a href="author.html#125">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0126.html">=?ISO-8859-1?Q?Mikko_Ty=F6l=E4j=E4rvi?=: "Re: problems with snapscan and scanimage"</a>
<li> <b>Previous message:</b> <a href="0124.html">Kevin R. Charter: "Re: problems with snapscan and scanimage"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
This is a multi-part message in MIME format.<br>
--------------3DFB8E5AA172F65C0053D2CB<br>
Content-Type: text/plain; charset=us-ascii<br>
Content-Transfer-Encoding: 7bit<br>
<p>
The following patch is a hack I'm using in sane-dll.so/a (backend/dll.c)<br>
so that you don't have to parse the .la file.  Basically, is just looks<br>
in /usr/local/lib (or whatever SANE_LIB_DIR is set to) for all of the<br>
backend library files.  It assumes that the installed DSOs end with<br>
".so" (not correct for HP-UX, which uses .sl or .[version]), so it<br>
shouldn't be used for that platform.<br>
<p>
I'm not sure how things are changing for the next release, but "for<br>
the record", I recommend using a DSO directory separate from<br>
/usr/local/lib for the back-end DSOs.  dlopen() doesn't care *what*<br>
extension is on the end of the filename, so we can use the backend<br>
name (mustek, hp, etc) as the filename and not muck with this stuff.<br>
<p>
<pre>
-- 
________________________________________________________________________
 Mike Sweet         Software for HP, SGI,        Easy Software Products
 (301) 373-9603     and Sun Workstations       44145 Airport View Drive
 mike@easysw.com    <a href="http://www.easysw.com">http://www.easysw.com</a>    Hollywood, Maryland  20636
--------------3DFB8E5AA172F65C0053D2CB
Content-Type: application/octet-stream; name="dll.diffs"
Content-Transfer-Encoding: base64
Content-Disposition: attachment; filename="dll.diffs"
<p>
LS0tIGRsbC5jLm9yaWcJTW9uIE1heSAxMSAxNjoxOToxNSAxOTk4CisrKyBkbGwuYwlNb24g
TWF5IDExIDE2OjMxOjExIDE5OTgKQEAgLTIyOCw4ICsyMjgsOSBAQAogICBjaGFyIGxpYm5h
bWVbUEFUSF9NQVhdLCBsaW5lW1BBVEhfTUFYXTsKICAgaW50IGksIGZvdW5kID0gMDsKICAg
RklMRSAqZnAgPSAwOworIyBkZWZpbmUgU0FORV9MSUJfRElSICIvdXNyL2xvY2FsL2xpYi8i
CiAjIGRlZmluZSBQUkVGSVggImxpYnNhbmUtIgotIyBkZWZpbmUgUE9TVEZJWCAiLmxhIgor
IyBkZWZpbmUgU1VGRklYICIuc28iCiAKICAgREJHKDEsICJsb2FkaW5nIGJhY2tlbmQgJXNc
biIsIGJlLT5uYW1lKTsKIApAQCAtMjQwLDcwICsyNDEsMTUgQEAKICAgZm9yIChpID0gMDsg
aSA8IE5VTV9PUFM7ICsraSkKICAgICBiZS0+b3BbaV0gPSBvcF91bnN1cHBvcnRlZDsKIAot
ICBkaXIgPSBTVFJJTkdJRlkoTElCRElSKTsKLSAgd2hpbGUgKGRpcikKLSAgICB7Ci0gICAg
ICBzbnByaW50ZiAobGlibmFtZSwgc2l6ZW9mIChsaWJuYW1lKSwgIiVzLyJQUkVGSVgiJXMi
UE9TVEZJWCwKLQkJZGlyLCBiZS0+bmFtZSk7Ci0gICAgICBmcCA9IGZvcGVuIChsaWJuYW1l
LCAiciIpOwotICAgICAgaWYgKGZwKQotCWJyZWFrOworIC8qCisgICogRG8gdGhpcyB0aGUg
ImVhc3kiIHdheTsgLmxhIGZpbGVzIGFyZSBjb21wbGV0ZWx5IG5vbi1zdGFuZGFyZCBhbmQg
d2lsbAorICAqIGp1c3QgY2x1dHRlciB0aGUgL3Vzci9sb2NhbC9saWIgdHJlZS4uLgorICAq
CisgICogVWx0aW1hdGVseSB0aGlzIGNhbiBiZSBoYW5kbGVkIGJ5IHBhc3NpbmcgaW4gdGhl
IGxpYmRpciB2YXJpYWJsZSBmcm9tCisgICogdGhlIG1ha2VmaWxlIChyaWdodCBub3cgaXQg
aXMgcGFzc2VkLCBidXQgbm8gcXVvdGVzLi4uCisgICovCiAKLSAgICAgIGlmICghcGF0aCkK
LQl7Ci0JICBwYXRoID0gZ2V0ZW52ICgiTERfTElCUkFSWV9QQVRIIik7Ci0JICBpZiAoIXBh
dGgpCi0JICAgIHsKLQkgICAgICBwYXRoID0gZ2V0ZW52ICgiU0hMSUJfUEFUSCIpOwkvKiBm
b3IgSFAtVVggKi8KLQkgICAgICBpZiAoIXBhdGgpCi0JCXBhdGggPSBnZXRlbnYgKCJMSUJQ
QVRIIik7CS8qIGZvciBBSVggKi8KLQkgICAgfQotCSAgaWYgKCFwYXRoKQotCSAgICBicmVh
azsKLQotCSAgcGF0aCA9IHN0cmR1cCAocGF0aCk7Ci0JICBzcmMgPSBwYXRoOwotCX0KLSAg
ICAgIGRpciA9IHN0cnNlcCAoJnNyYywgIjoiKTsKLSAgICB9Ci0gIGlmIChwYXRoKQotICAg
IGZyZWUgKHBhdGgpOwotICBpZiAoIWZwKQotICAgIHsKLSAgICAgIERCRygyLCAibG9hZDog
Y291bGRuJ3QgZmluZCAiUFJFRklYIiVzIlBPU1RGSVgiICglcylcbiIsCi0JICBiZS0+bmFt
ZSwgc3RyZXJyb3IgKGVycm5vKSk7Ci0gICAgICByZXR1cm4gU0FORV9TVEFUVVNfSU5WQUw7
Ci0gICAgfQotICBEQkcoMywgImxvYWQ6IGZvdW5kIGAlcydcbiIsIGxpYm5hbWUpOwotICBk
c3QgPSBzdHJyY2hyIChsaWJuYW1lLCAnLycpOwotICBpZiAoZHN0KQotICAgICsrZHN0Owot
ICBlbHNlCi0gICAgZHN0ID0gbGlibmFtZTsKLQotICB3aGlsZSAoZmdldHMgKGxpbmUsIHNp
emVvZiAobGluZSksIGZwKSkKLSAgICB7Ci0gICAgICBpZiAoc3RybmNtcCAobGluZSwgImRs
bmFtZT0nIiwgOCkgPT0gMCkKLQl7Ci0JICBpZiAobGluZVs4XSA9PSAnLycpCi0JICAgIC8q
IGRsbmFtZSBpcyBhbiBhYnNvbHV0ZSBwYXRoICovCi0JICAgIGRzdCA9IGxpYm5hbWU7Ci0J
ICBmb3IgKHNyYyA9IGxpbmUgKyA4OyAqc3JjICYmICpzcmMgIT0gJ1wnJzsgKytzcmMpCi0J
ICAgIGlmIChkc3QgPj0gbGlibmFtZSArIHNpemVvZiAobGlibmFtZSkgLSAxKQotCSAgICAg
IGJyZWFrOwotCSAgICBlbHNlCi0JICAgICAgKmRzdCsrID0gc3JjWzBdOwotCSAgKmRzdCsr
ID0gJ1wwJzsKLQkgIGZvdW5kID0gMTsKLQkgIGJyZWFrOwotCX0KLSAgICB9Ci0gIGZjbG9z
ZSAoZnApOwotICBpZiAoIWZvdW5kKQotICAgIHsKLSAgICAgIERCRygyLCAibG9hZDogbm8g
YGRsbmFtZScgaW4gIlBSRUZJWCIlcyJQT1NURklYIlxuIiwgYmUtPm5hbWUpOwotICAgICAg
cmV0dXJuIFNBTkVfU1RBVFVTX0lOVkFMOwotICAgIH0KKyAgc3ByaW50ZihsaWJuYW1lLCBT
QU5FX0xJQl9ESVIgUFJFRklYICIlcyIgU1VGRklYLCBiZS0+bmFtZSk7CiAKICAgREJHKDIs
ICJkbG9wZW4oKWluZyBgJXMnXG4iLCBsaWJuYW1lKTsKIAo=
--------------3DFB8E5AA172F65C0053D2CB--
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0126.html">=?ISO-8859-1?Q?Mikko_Ty=F6l=E4j=E4rvi?=: "Re: problems with snapscan and scanimage"</a>
<li> <b>Previous message:</b> <a href="0124.html">Kevin R. Charter: "Re: problems with snapscan and scanimage"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
