<!-- received="Mon May 11 19:51:16 1998 PDT" -->
<!-- sent="Mon, 11 May 1998 20:46:14 +0200 (CEST)" -->
<!-- name="=?ISO-8859-1?Q?Mikko_Ty=F6l=E4j=E4rvi?=" -->
<!-- email="mikko@securitydynamics.com" -->
<!-- subject="Re: problems with snapscan and scanimage" -->
<!-- id="" -->
<!-- inreplyto="3557246C.CF398F66@sero.org" -->
<title>sane-devel: Re: problems with snapscan and scanimage</title>
<h1>Re: problems with snapscan and scanimage</h1>
<b>=?ISO-8859-1?Q?Mikko_Ty=F6l=E4j=E4rvi?=</b> (<a href="mailto:mikko@securitydynamics.com"><i>mikko@securitydynamics.com</i></a>)<br>
<i>Mon, 11 May 1998 20:46:14 +0200 (CEST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#126">[ date ]</a><a href="index.html#126">[ thread ]</a><a href="subject.html#126">[ subject ]</a><a href="author.html#126">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0127.html">charter@cs.ualberta.ca: "Re: problems with snapscan and scanimage"</a>
<li> <b>Previous message:</b> <a href="0125.html">Michael Sweet: "[patch] 0.72 sane-dll.so changes..."</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Mon, 11 May 1998, KH Jeron wrote:<br>
<p>
<i>&gt; i am running linux 2.0.32</i><br>
<i>&gt; find-scanner output looks good.</i><br>
<i>&gt; find-scanner: found scanner "AGFA SNAPSCAN 310 1.20" at device</i><br>
<i>&gt; /dev/scanner</i><br>
<i>&gt; find-scanner: found scanner "AGFA SNAPSCAN 310 1.20" at device /dev/sg2</i><br>
<i>&gt; but scanimage doesnt work with sane0.72 agfa snapscan 310.</i><br>
<i>&gt; i tried the following like the README says :</i><br>
<i>&gt; test:/home/kheinz/sane-0.72/frontend # ./scanimage -d</i><br>
<i>&gt; snapscan:/dev/scanner &gt;t.pnm</i><br>
<i>&gt; scanimage: scanimage.c:813: scan_it: Assertion `parm.depth == 8' failed.</i><br>
<i>&gt; </i><br>
<i>&gt; IOT trap/Abort</i><br>
<i>&gt; test:/home/kheinz/sane-0.72/frontend # scanimage: stopping scanner...</i><br>
<i>&gt; </i><br>
<i>&gt; please help me</i><br>
<i>&gt; </i><br>
<p>
Using the xscanimage as a gimp plugin runs into the same problem.  The<br>
snapscan backend produces 10-bits per colour (*), though as far as I<br>
can see no frontends really support it (e.g. output files are always<br>
8-bit pnm files, or some other one-byte-per-component data).<br>
<p>
The following Q&amp;D workaround makes it work with gimp, so I guess<br>
scanimage should be happy too:<br>
<p>
--- ../../sane-pre0.72.org/backend/snapscan.c   Fri Apr  3 11:14:09 1998<br>
+++ snapscan.c  Sun Apr  5 20:47:10 1998<br>
@@ -2594,7 +2594,7 @@<br>
        for black and white */<br>
     p-&gt;depth = pss-&gt;pdev-&gt;depths[mode];<br>
 <br>
-    if (pss-&gt;preview &amp;&amp; p-&gt;depth &gt; 8)<br>
+    if (/* pss-&gt;preview &amp;&amp; */ p-&gt;depth &gt; 8)<br>
       p-&gt;depth = 8;<br>
 <br>
     switch (mode)<br>
<p>
<p>
This may be diffed from a slightly hacked version of snapscan.c, but<br>
you get the point -- force depth to never be more than eight bits...<br>
<p>
<p>
	Hope this helps,<br>
	/Mikko<br>
<p>
<p>
(*) After a closer look I'd say it does not produce 10 bits -- it just<br>
    *claims* to :-)<br>
<p>
<p>
 Mikko Tyo"la"ja"rvi________________________________mikko@securitydynamics.com<br>
 SecurityDynamics<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0127.html">charter@cs.ualberta.ca: "Re: problems with snapscan and scanimage"</a>
<li> <b>Previous message:</b> <a href="0125.html">Michael Sweet: "[patch] 0.72 sane-dll.so changes..."</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
