<!-- received="Mon May 11 21:20:01 1998 PDT" -->
<!-- sent="Mon, 11 May 1998 21:19:59 -0700" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="David.Mosberger@acm.org" -->
<!-- subject="Re: [patch] 0.72 sane-dll.so changes..." -->
<!-- id="199805120419.VAA15624@panda.mostang.com" -->
<!-- inreplyto="355766FE.4E181865@easysw.com" -->
<title>sane-devel: Re: [patch] 0.72 sane-dll.so changes...</title>
<h1>Re: [patch] 0.72 sane-dll.so changes...</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:David.Mosberger@acm.org"><i>David.Mosberger@acm.org</i></a>)<br>
<i>Mon, 11 May 1998 21:19:59 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#128">[ date ]</a><a href="index.html#128">[ thread ]</a><a href="subject.html#128">[ subject ]</a><a href="author.html#128">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0129.html">Pkirchg: "Re: HP Photoscan"</a>
<li> <b>Previous message:</b> <a href="0127.html">charter@cs.ualberta.ca: "Re: problems with snapscan and scanimage"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0134.html">=?ISO-8859-1?Q?Mikko_Ty=F6l=E4j=E4rvi?=: "Re: [patch] 0.72 sane-dll.so changes..."</a>
<li> <b>Reply:</b> <a href="0134.html">=?ISO-8859-1?Q?Mikko_Ty=F6l=E4j=E4rvi?=: "Re: [patch] 0.72 sane-dll.so changes..."</a>
<li> <b>Reply:</b> <a href="0138.html">David Mosberger-Tang: "Re: [patch] 0.72 sane-dll.so changes..."</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;&gt;&gt;&gt;&gt; On Mon, 11 May 1998 17:00:46 -0400, Michael Sweet &lt;<a href="mailto:mike@easysw.com">mike@easysw.com</a>&gt; said:</i><br>
<p>
  Michael&gt; The following patch is a hack I'm using in sane-dll.so/a<br>
  Michael&gt; (backend/dll.c) so that you don't have to parse the .la<br>
  Michael&gt; file.  Basically, is just looks in /usr/local/lib (or<br>
  Michael&gt; whatever SANE_LIB_DIR is set to) for all of the backend<br>
  Michael&gt; library files.  It assumes that the installed DSOs end with<br>
  Michael&gt; ".so" (not correct for HP-UX, which uses .sl or<br>
  Michael&gt; .[version]), so it shouldn't be used for that platform.<br>
<p>
  Michael&gt; I'm not sure how things are changing for the next release,<br>
  Michael&gt; but "for the record", I recommend using a DSO directory<br>
  Michael&gt; separate from /usr/local/lib for the back-end DSOs.<br>
  Michael&gt; dlopen() doesn't care *what* extension is on the end of the<br>
  Michael&gt; filename, so we can use the backend name (mustek, hp, etc)<br>
  Michael&gt; as the filename and not muck with this stuff.<br>
<p>
Well, dlopen() doesn't care, but we need to make sure we're<br>
dlopen()ing the _right_ version if there are multiple versions.  The<br>
idea of using the .la file is so this version can be done right (and<br>
in a portable fashion).  But alas, the current implementation doesn't<br>
get versioning quite right either because only one .la file is<br>
installed at any given time.  Maybe what should be done is to install<br>
a .la file with .la.$(V_MAJOR) instead where V_MAJOR is the major<br>
revision number of the shared library.  Tested patches for something<br>
like this would be welcome.<br>
<p>
BTW: the next release has the SANE shared libs installed in<br>
subdirectory called "sane", so this part of the problem will be gone.<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0129.html">Pkirchg: "Re: HP Photoscan"</a>
<li> <b>Previous message:</b> <a href="0127.html">charter@cs.ualberta.ca: "Re: problems with snapscan and scanimage"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0134.html">=?ISO-8859-1?Q?Mikko_Ty=F6l=E4j=E4rvi?=: "Re: [patch] 0.72 sane-dll.so changes..."</a>
<li> <b>Reply:</b> <a href="0134.html">=?ISO-8859-1?Q?Mikko_Ty=F6l=E4j=E4rvi?=: "Re: [patch] 0.72 sane-dll.so changes..."</a>
<li> <b>Reply:</b> <a href="0138.html">David Mosberger-Tang: "Re: [patch] 0.72 sane-dll.so changes..."</a>
<!-- reply="end" -->
</ul>
