<!-- received="Tue May 12 05:28:17 1998 PDT" -->
<!-- sent="Tue, 12 May 1998 14:27:33 +0200 (MET DST)" -->
<!-- name="=?ISO-8859-1?Q?Mikko_Ty=F6l=E4j=E4rvi?=" -->
<!-- email="mikko@securitydynamics.com" -->
<!-- subject="Re: [patch] 0.72 sane-dll.so changes..." -->
<!-- id="" -->
<!-- inreplyto="199805120419.VAA15624@panda.mostang.com" -->
<title>sane-devel: Re: [patch] 0.72 sane-dll.so changes...</title>
<h1>Re: [patch] 0.72 sane-dll.so changes...</h1>
<b>=?ISO-8859-1?Q?Mikko_Ty=F6l=E4j=E4rvi?=</b> (<a href="mailto:mikko@securitydynamics.com"><i>mikko@securitydynamics.com</i></a>)<br>
<i>Tue, 12 May 1998 14:27:33 +0200 (MET DST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#134">[ date ]</a><a href="index.html#134">[ thread ]</a><a href="subject.html#134">[ subject ]</a><a href="author.html#134">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0135.html">Brian Macy: "Re: Win32 TWAIN DLL to interface with SANE"</a>
<li> <b>Previous message:</b> <a href="0133.html">Rogier Wolff: "Re: problems with snapscan and scanimage"</a>
<li> <b>In reply to:</b> <a href="0128.html">David Mosberger-Tang: "Re: [patch] 0.72 sane-dll.so changes..."</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0138.html">David Mosberger-Tang: "Re: [patch] 0.72 sane-dll.so changes..."</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Mon, 11 May 1998, David Mosberger-Tang wrote:<br>
<p>
<i>&gt; &gt;&gt;&gt;&gt;&gt; On Mon, 11 May 1998 17:00:46 -0400, Michael Sweet &lt;<a href="mailto:mike@easysw.com">mike@easysw.com</a>&gt; said:</i><br>
<i>&gt; </i><br>
<p>
[...]<br>
<p>
<i>&gt;   Michael&gt; I'm not sure how things are changing for the next release,</i><br>
<i>&gt;   Michael&gt; but "for the record", I recommend using a DSO directory</i><br>
<i>&gt;   Michael&gt; separate from /usr/local/lib for the back-end DSOs.</i><br>
<i>&gt;   Michael&gt; dlopen() doesn't care *what* extension is on the end of the</i><br>
<i>&gt;   Michael&gt; filename, so we can use the backend name (mustek, hp, etc)</i><br>
<i>&gt;   Michael&gt; as the filename and not muck with this stuff.</i><br>
<p>
I agree.<br>
<p>
<i>&gt; Well, dlopen() doesn't care, but we need to make sure we're</i><br>
<i>&gt; dlopen()ing the _right_ version if there are multiple versions.  The</i><br>
<i>&gt; idea of using the .la file is so this version can be done right (and</i><br>
<i>&gt; in a portable fashion).  But alas, the current implementation doesn't</i><br>
<i>&gt; get versioning quite right either because only one .la file is</i><br>
<i>&gt; installed at any given time.  Maybe what should be done is to install</i><br>
<i>&gt; a .la file with .la.$(V_MAJOR) instead where V_MAJOR is the major</i><br>
<i>&gt; revision number of the shared library.  Tested patches for something</i><br>
<i>&gt; like this would be welcome.</i><br>
<i>&gt; </i><br>
<i>&gt; BTW: the next release has the SANE shared libs installed in</i><br>
<i>&gt; subdirectory called "sane", so this part of the problem will be gone.</i><br>
<i>&gt; </i><br>
<i>&gt; 	--david</i><br>
<i>&gt; </i><br>
<p>
How about doing what several other packages do (emacs and ghostscript<br>
come to mind) -- use one subdirectory per version for really<br>
version-specific stuff.  Then the "dll"s would go into<br>
<p>
	$(WHEREVER)/sane/0.73/<br>
<p>
whereas less critical files, or backwards compatible ones, end up in<br>
<p>
	$(WHEREVER)/sane/<br>
<p>
[obviously, then you cannot have files that look like version numbers:-)]<br>
<p>
Makes it fairly easy to clean out old versions too.<br>
<p>
	Just my $.02,<br>
	/Mikko<br>
<p>
<p>
 Mikko Tyo"la"ja"rvi________________________________mikko@securitydynamics.com<br>
 SecurityDynamics<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0135.html">Brian Macy: "Re: Win32 TWAIN DLL to interface with SANE"</a>
<li> <b>Previous message:</b> <a href="0133.html">Rogier Wolff: "Re: problems with snapscan and scanimage"</a>
<li> <b>In reply to:</b> <a href="0128.html">David Mosberger-Tang: "Re: [patch] 0.72 sane-dll.so changes..."</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0138.html">David Mosberger-Tang: "Re: [patch] 0.72 sane-dll.so changes..."</a>
<!-- reply="end" -->
</ul>
