<!-- received="Wed May 13 01:47:00 1998 PDT" -->
<!-- sent="Wed, 13 May 1998 01:41:14 -0700" -->
<!-- name="Brion Vibber" -->
<!-- email="brion@pobox.com" -->
<!-- subject="Re: Win32 TWAIN DLL to interface with SANE" -->
<!-- id="" -->
<!-- inreplyto="Win32 TWAIN DLL to interface with SANE" -->
<title>sane-devel: Re: Win32 TWAIN DLL to interface with SANE</title>
<h1>Re: Win32 TWAIN DLL to interface with SANE</h1>
<b>Brion Vibber</b> (<a href="mailto:brion@pobox.com"><i>brion@pobox.com</i></a>)<br>
<i>Wed, 13 May 1998 01:41:14 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#146">[ date ]</a><a href="index.html#146">[ thread ]</a><a href="subject.html#146">[ subject ]</a><a href="author.html#146">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0147.html">KH Jeron: "Re: problems with snapscan and scanimage"</a>
<li> <b>Previous message:</b> <a href="0145.html">Graham Stoney: "Re: Win32 TWAIN DLL to interface with SANE"</a>
<li> <b>Maybe in reply to:</b> <a href="0117.html">Brian Macy: "Win32 TWAIN DLL to interface with SANE"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0148.html">Yuri Dario: "Re: Win32 TWAIN DLL to interface with SANE"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Graham Stoney wrote:<br>
<i>&gt; </i><br>
<i>&gt; As others have pointed out, it doesn't exist yet, but I think it would be a</i><br>
<i>&gt; truly worthwhile project which would go a long way towards narrowing the gulf</i><br>
<i>&gt; between TWAIN and Sane. It would also be really good for "selling" Sane's</i><br>
<i>&gt; advantages, since it's something that would be rather difficult under TWAIN's</i><br>
<i>&gt; architecture. TWAIN users would be able to access scanners remotely via Sane,</i><br>
<i>&gt; and would ask themselves "why can't I access a scanner remotely with TWAIN?".</i><br>
<p>
Absolutely... I have an old Mustek scanner, which right now is on a<br>
Win95 box but which I could easily move to a Linux box; being able to<br>
scan from anywhere on the network (a mix of Linux, Win95, and dual-boot<br>
machines with Gimp on Linux and Photoshop on Windows) would simplify<br>
things greatly. I don't have the experience with either SANE or TWAIN<br>
programming to give this a go myself, but I'd be glad to help test such<br>
a port &amp; do what hacking on it that I can.<br>
<p>
-- brion vibber (<a href="mailto:brion@pobox.com">brion@pobox.com</a>)<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0147.html">KH Jeron: "Re: problems with snapscan and scanimage"</a>
<li> <b>Previous message:</b> <a href="0145.html">Graham Stoney: "Re: Win32 TWAIN DLL to interface with SANE"</a>
<li> <b>Maybe in reply to:</b> <a href="0117.html">Brian Macy: "Win32 TWAIN DLL to interface with SANE"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0148.html">Yuri Dario: "Re: Win32 TWAIN DLL to interface with SANE"</a>
<!-- reply="end" -->
</ul>
