<!-- received="Wed May 13 08:40:07 1998 PDT" -->
<!-- sent="Wed, 13 May 1998 08:38:59 -0700" -->
<!-- name="Brian Macy" -->
<!-- email="bmacy@sunshinecomputing.com" -->
<!-- subject="Re: Win32 TWAIN DLL to interface with SANE" -->
<!-- id="" -->
<!-- inreplyto="Win32 TWAIN DLL to interface with SANE" -->
<title>sane-devel: Re: Win32 TWAIN DLL to interface with SANE</title>
<h1>Re: Win32 TWAIN DLL to interface with SANE</h1>
<b>Brian Macy</b> (<a href="mailto:bmacy@sunshinecomputing.com"><i>bmacy@sunshinecomputing.com</i></a>)<br>
<i>Wed, 13 May 1998 08:38:59 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#151">[ date ]</a><a href="index.html#151">[ thread ]</a><a href="subject.html#151">[ subject ]</a><a href="author.html#151">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0152.html">Brian Macy: "Re: Win32 TWAIN DLL to interface with SANE"</a>
<li> <b>Previous message:</b> <a href="0150.html">charter@cs.ualberta.ca: "Re: problems with snapscan and scanimage"</a>
<li> <b>Maybe in reply to:</b> <a href="0117.html">Brian Macy: "Win32 TWAIN DLL to interface with SANE"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0152.html">Brian Macy: "Re: Win32 TWAIN DLL to interface with SANE"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;&gt;Actually, I'm not interested at all in a C API implementation of the DLL</i><br>
(I<br>
<i>&gt;&gt;don't believe  SANE has been ported to Win32). I want to write a TWAIN DLL</i><br>
<i>&gt;&gt;that communicates to saned on my Linux box. As far as I can tell the only</i><br>
<i>&gt;&gt;way to communicate with saned over a network is RPC -- If I'm wrong</i><br>
*please*<br>
<i>&gt;&gt;tell me, I'd be happy to be wrong :)</i><br>
<i>&gt;</i><br>
<i>&gt;Yes, but before to write the communication RPC for saned, you need to</i><br>
follow Twain's specifications, or<br>
<i>&gt;Windows applications can't load and use your dll.</i><br>
<p>
<p>
The TWAIN part doesn't bother me too much. It is a reasonably known entity<br>
for me. I have almost no clue on how to get the RPC calls to work. An<br>
non-compiler specific example of calling any of the SANED functions in WIN32<br>
would be wonderful and a great help.<br>
<p>
At the moment I'd even be helped by an OS/2 example since much of the<br>
Windows API is similar.<br>
<p>
Brian Macy<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0152.html">Brian Macy: "Re: Win32 TWAIN DLL to interface with SANE"</a>
<li> <b>Previous message:</b> <a href="0150.html">charter@cs.ualberta.ca: "Re: problems with snapscan and scanimage"</a>
<li> <b>Maybe in reply to:</b> <a href="0117.html">Brian Macy: "Win32 TWAIN DLL to interface with SANE"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0152.html">Brian Macy: "Re: Win32 TWAIN DLL to interface with SANE"</a>
<!-- reply="end" -->
</ul>
