<!-- received="Fri May 15 16:42:08 1998 PDT" -->
<!-- sent="Fri, 15 May 1998 19:40:31 -0400" -->
<!-- name="Randall Hopper" -->
<!-- email="rhh@ct.picker.com" -->
<!-- subject="0.72 &amp; Mtek E6: "Error during device I/O"" -->
<!-- id="19980515194031.A8530@ct.picker.com" -->
<!-- inreplyto="" -->
<title>sane-devel: 0.72 &amp; Mtek E6: "Error during device I/O"</title>
<h1>0.72 &amp; Mtek E6: "Error during device I/O"</h1>
<b>Randall Hopper</b> (<a href="mailto:rhh@ct.picker.com"><i>rhh@ct.picker.com</i></a>)<br>
<i>Fri, 15 May 1998 19:40:31 -0400</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#186">[ date ]</a><a href="index.html#186">[ thread ]</a><a href="subject.html#186">[ subject ]</a><a href="author.html#186">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0187.html">Rob Fargher: "Re: problems with snapscan and scanimage"</a>
<li> <b>Previous message:</b> <a href="0185.html">Jeff Freedman: "Re: Using NET backend"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
     Quite frequently when scanning with my Microtek E6 and SANE 0.72 (on<br>
either FreeBSD 3.0 or Linux Redhat 4.1), the scan gets almost done, and<br>
then I get a dialog that says:<br>
<p>
     Error during read:  Error during device I/O<br>
<p>
     Here's the SANE_MICROTEK_DEBUG output.  At first, it's cruising along<br>
just fine:<br>
<p>
     [microtek] .start_scan...<br>
     SS: 1b  0  0  0 61  0 <br>
     [microtek] .wait_ready 5...<br>
     [microtek] sense:  ERR_SCSICMD -- ignored<br>
     [microtek] .get_scan_status 5...<br>
     [microtek] get_scan_status(6): 0, 254, 390<br>
     [microtek] &gt;  0 fe  0 86  1  0<br>
     [microtek] .wait_ready 5...<br>
     [microtek] sense:  ERR_SCSICMD -- ignored<br>
     [microtek] sane_start:  spacing = 0,  holdsize = 32768<br>
     [microtek] Scan Param:<br>
     [microtek] pix bpl: 756    hdr bpl: 6   ppl: 252<br>
     [microtek] lines: 390   planes: 3<br>
     [microtek] dest bpl: 756   dest ppl: 252  aspect: 1.000000<br>
     [microtek] sane_get_parameters...<br>
     [microtek] sane_set_io_mode...<br>
     [microtek] sane_read...<br>
     [microtek] .wait_ready 5...<br>
     [microtek] sense:  ERR_SCSICMD -- ignored<br>
     [microtek] .get_scan_status 5...<br>
     [microtek] get_scan_status(6): 0, 254, 390<br>
     [microtek] &gt;  0 fe  0 86  1  0<br>
     [microtek] sane_read: gss busy, linewidth, remaining:  0, 254, 390<br>
     [microtek] sane_read:  max_dest: 10, max_scsi: 43, rem: 390, nlines: 10<br>
     [microtek] .read_scan_data...<br>
     [microtek] sane_read:  dest_length: 8192,  buffsize: 7620<br>
     [microtek] sane_read:  extra r: 0  g: 0  b: 0  pre: 0  post: 0<br>
     [microtek] sane_read:  total: 10  complete: 10  delivered: 10<br>
     [microtek] sane_read...<br>
     ...<br>
<p>
then, a get_scan_status() in a sane_microtek_read() fails (i.e. ERR_SCSICMD,<br>
but this one isn't ignored):<br>
<p>
     [microtek] .wait_ready 5...<br>
     [microtek] sense:  ERR_SCSICMD -- ignored<br>
     [microtek] .get_scan_status 5...<br>
     [microtek] get_scan_status(6): 0, 254, 10<br>
     [microtek] &gt;  0 fe  0  a  0  0<br>
     [microtek] sane_read: gss busy, linewidth, remaining:  0, 254, 10<br>
     [microtek] sane_read:  max_dest: 10, max_scsi: 43, rem: 10, nlines: 10<br>
     [microtek] .read_scan_data...<br>
     [microtek] sane_read:  dest_length: 8192,  buffsize: 7620<br>
     [microtek] sane_read:  copy post_hold (1)<br>
     [microtek] sane_read:  extra:  seg-27  doffset-0  sss-10<br>
     [microtek] sane_read:  extra:  seg-28  doffset-1  sss-10<br>
     [microtek] sane_read:  extra:  seg-29  doffset-2  sss-10<br>
     [microtek] sane_read:  extra r: 1  g: 1  b: 1  pre: 0  post: 1<br>
     [microtek] sane_read:  total: 11  complete: 11  delivered: 10<br>
     [microtek] sane_read...<br>
     [microtek] .wait_ready 5...<br>
     [microtek] .get_scan_status 5...<br>
     [microtek] sense:  ERR_SCSICMD<br>
     [microtek] get_scan_status(6): 96, 912, 32<br>
     [microtek] &gt; 60 90  3 20  0  0<br>
     [microtek] sense:  ERR_SCSICMD<br>
     [microtek] get_scan_status(6): 96, 912, 32<br>
     [microtek] &gt; 60 90  3 20  0  0<br>
     <br>
     ...retries get_scan_status() 8 more times with the same failed result...<br>
     ...and finally gives up...<br>
     <br>
     [microtek] sane_read:  bad get_scan_status!<br>
     [microtek] end_scan...<br>
     [microtek] .stop_scan...<br>
     SPS:1b  0  0  0  0  0 <br>
     Error: Error during read: Error during device I/O.<br>
     [microtek] sane_cancel...<br>
<p>
Any thoughts on what do/try next?<br>
<p>
Thanks in advance,<br>
<p>
Randall Hopper<br>
<a href="mailto:rhh@ct.picker.com">rhh@ct.picker.com</a><br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0187.html">Rob Fargher: "Re: problems with snapscan and scanimage"</a>
<li> <b>Previous message:</b> <a href="0185.html">Jeff Freedman: "Re: Using NET backend"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
