<!-- received="Sat May 16 02:15:05 1998 PDT" -->
<!-- sent="Sat, 16 May 1998 11:07:45 +0200" -->
<!-- name="Brian Schau" -->
<!-- email="bsc@fleggaard.dk" -->
<!-- subject="Re: Unresolved symbol ..." -->
<!-- id="" -->
<!-- inreplyto="Unresolved symbol ..." -->
<title>sane-devel: Re: Unresolved symbol ...</title>
<h1>Re: Unresolved symbol ...</h1>
<b>Brian Schau</b> (<a href="mailto:bsc@fleggaard.dk"><i>bsc@fleggaard.dk</i></a>)<br>
<i>Sat, 16 May 1998 11:07:45 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#192">[ date ]</a><a href="index.html#192">[ thread ]</a><a href="subject.html#192">[ subject ]</a><a href="author.html#192">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0193.html">Brian Schau: "Re: Unresolved symbol ..."</a>
<li> <b>Previous message:</b> <a href="0191.html">David Mosberger-Tang: "sane-0.73 available"</a>
<li> <b>Maybe in reply to:</b> <a href="0181.html">Brian Schau: "Unresolved symbol ..."</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0193.html">Brian Schau: "Re: Unresolved symbol ..."</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi,<br>
<p>
<p>
I've just tried out the suggestion from Mr. Maranjovic.   I changed line<br>
1993 in backend/microtek.c from<br>
<p>
	attach (dev, 0);<br>
<p>
to<br>
<p>
	attach_scanner (dev, 0);<br>
<p>
Now I can start xscanimage (from cli as well as gimp) ...<br>
<p>
... but now I also experience two new phenomenas!<br>
<p>
<p>
Phen. #1:<br>
<p>
When scanning or acquiring a preview, the blue layer turns up as<br>
stripes.   10 nice blue stripes from top to bottom spread evenly on an<br>
A4 media.    The red and green layer both come up well.<br>
<p>
<p>
Phen. #2:<br>
<p>
When starting xscanimage a second time my machine locks up hard.  I<br>
can't use the threefinger salute to break the lock.   Only a hard reset<br>
will do.   This is quite annoying    ;o)<br>
<p>
<p>
<p>
I must be doing something wrong - be kind and point me in the right<br>
direction   ;o)<br>
<p>
<p>
<p>
(P.S:  This is sane-0.72 + pre-0.73 patch!)<br>
<p>
<p>
Regards,<br>
<p>
<p>
Brian<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0193.html">Brian Schau: "Re: Unresolved symbol ..."</a>
<li> <b>Previous message:</b> <a href="0191.html">David Mosberger-Tang: "sane-0.73 available"</a>
<li> <b>Maybe in reply to:</b> <a href="0181.html">Brian Schau: "Unresolved symbol ..."</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0193.html">Brian Schau: "Re: Unresolved symbol ..."</a>
<!-- reply="end" -->
</ul>
