<!-- received="Tue May 19 13:16:22 1998 PDT" -->
<!-- sent="Tue, 19 May 1998 21:07:19 +0200 (MET DST)" -->
<!-- name="Oliver.Rauch@Wolfsburg.DE" -->
<!-- email="Oliver.Rauch@Wolfsburg.DE" -->
<!-- subject="Re: sane-0.73 available" -->
<!-- id="199805191907.VAA00298@Babylon5.wolfsburg.de" -->
<!-- inreplyto="199805160717.AAA12655@panda.mostang.com" -->
<title>sane-devel: Re: sane-0.73 available</title>
<h1>Re: sane-0.73 available</h1>
<a href="mailto:Oliver.Rauch@Wolfsburg.DE"><i>Oliver.Rauch@Wolfsburg.DE</i></a><br>
<i>Tue, 19 May 1998 21:07:19 +0200 (MET DST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#209">[ date ]</a><a href="index.html#209">[ thread ]</a><a href="subject.html#209">[ subject ]</a><a href="author.html#209">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0210.html">Bob van der Poel: "Re: configure for gtk"</a>
<li> <b>Previous message:</b> <a href="0208.html">Christoph Doerbeck: "Re: configure for gtk"</a>
<li> <b>In reply to:</b> <a href="0191.html">David Mosberger-Tang: "sane-0.73 available"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0213.html">Bernd Schroeder: "Re: sane-0.73 available"</a>
<li> <b>Reply:</b> <a href="0213.html">Bernd Schroeder: "Re: sane-0.73 available"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi David,<br>
<p>
<i>&gt; The latest release, sane-0.73, is finally available.</i><br>
<p>
I have a strange problem with sane-0.73.<br>
<p>
At first my computer hang when I called xscanimage. <br>
I tried it 3 times and it hang each time.<br>
Then I deactivated all unused backends in dll.conf<br>
and it worked. I reactivated every backend step by<br>
step to find out which backend made the problem.<br>
At the end all backends were activated again and it<br>
still worked.<br>
<p>
The last one I activated was the microtek2 backend,<br>
which prints<br>
     0: f000200000001f17 0000000000000000    .. ..... ........<br>
    16: 060802029c000000 554d41582020        ........ UMAX  <br>
     0: f000200000003e17 0000000000000000    .. ...&gt;. ........<br>
    16: 060802029c000000 554d41582020        ........ UMAX  <br>
<p>
That has not been printed when the computer hang.<br>
<p>
I will try to find out more, but I don't get a hang any more.<br>
<p>
Bye<br>
Oliver<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0210.html">Bob van der Poel: "Re: configure for gtk"</a>
<li> <b>Previous message:</b> <a href="0208.html">Christoph Doerbeck: "Re: configure for gtk"</a>
<li> <b>In reply to:</b> <a href="0191.html">David Mosberger-Tang: "sane-0.73 available"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0213.html">Bernd Schroeder: "Re: sane-0.73 available"</a>
<li> <b>Reply:</b> <a href="0213.html">Bernd Schroeder: "Re: sane-0.73 available"</a>
<!-- reply="end" -->
</ul>
