<!-- received="Thu May 21 13:35:57 1998 PDT" -->
<!-- sent="Thu, 21 May 1998 16:34:52 -0400" -->
<!-- name="David F. Skoll" -->
<!-- email="dskoll@chipworks.com" -->
<!-- subject="Re: Non Disclosure Agreements" -->
<!-- id="" -->
<!-- inreplyto="Non Disclosure Agreements" -->
<title>sane-devel: Re: Non Disclosure Agreements</title>
<h1>Re: Non Disclosure Agreements</h1>
<b>David F. Skoll</b> (<a href="mailto:dskoll@chipworks.com"><i>dskoll@chipworks.com</i></a>)<br>
<i>Thu, 21 May 1998 16:34:52 -0400</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#220">[ date ]</a><a href="index.html#220">[ thread ]</a><a href="subject.html#220">[ subject ]</a><a href="author.html#220">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0221.html">Michael D. Crawford: "Re: Non Disclosure Agreements"</a>
<li> <b>Previous message:</b> <a href="0219.html">Hugo van der Kooij: "Re: Non Disclosure Agreements"</a>
<li> <b>Maybe in reply to:</b> <a href="0218.html">Dave Restall - System Administrator: "Non Disclosure Agreements"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0221.html">Michael D. Crawford: "Re: Non Disclosure Agreements"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Dave Restall - System Administrator wrote:<br>
<p>
<i>&gt; 1) If I get the NDA and don't agree with it, I don't sign it, what</i><br>
<i>&gt; is the position regarding the technical documentation ?</i><br>
<p>
You're free to use it.<br>
<p>
If you don't tell PIE who gave you the information, do you think<br>
they could find out?  What if you just wrote and released a driver<br>
without saying who or what the source is?  I don't think they'd<br>
be able to figure out where you got the information.<br>
<p>
However, to maintain friendly relationships, you may wish to<br>
explain that you already have the info you need, hence do not<br>
_need_ to sign the NDA, but are willing to work with them to<br>
address concerns.  You are in a position of power here, so<br>
negotiations should be easy. :-)<br>
<p>
<pre>
--
David F. Skoll
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0221.html">Michael D. Crawford: "Re: Non Disclosure Agreements"</a>
<li> <b>Previous message:</b> <a href="0219.html">Hugo van der Kooij: "Re: Non Disclosure Agreements"</a>
<li> <b>Maybe in reply to:</b> <a href="0218.html">Dave Restall - System Administrator: "Non Disclosure Agreements"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0221.html">Michael D. Crawford: "Re: Non Disclosure Agreements"</a>
<!-- reply="end" -->
</ul>
