<!-- received="Sun May 24 10:23:23 1998 PDT" -->
<!-- sent="Sun, 24 May 1998 13:35:26 -0300" -->
<!-- name="Michael K. Johnson" -->
<!-- email="johnsonm@redhat.com" -->
<!-- subject="Re: Reverse Engineering" -->
<!-- id="199805241735.NAA27760@nigel.redhat.com" -->
<!-- inreplyto="Reverse Engineering" -->
<title>sane-devel: Re: Reverse Engineering</title>
<h1>Re: Reverse Engineering</h1>
<b>Michael K. Johnson</b> (<a href="mailto:johnsonm@redhat.com"><i>johnsonm@redhat.com</i></a>)<br>
<i>Sun, 24 May 1998 13:35:26 -0300</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#246">[ date ]</a><a href="index.html#246">[ thread ]</a><a href="subject.html#246">[ subject ]</a><a href="author.html#246">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0247.html">Matto Marjanovic: "Re: Using NET backend"</a>
<li> <b>Previous message:</b> <a href="0245.html">Yves Huguenin: "RE: Reverse Engineering"</a>
<li> <b>Maybe in reply to:</b> <a href="0242.html">Fredrick P. Eisele Sr.: "Reverse Engineering"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0252.html">Jonathan Buzzard: "Re: Reverse Engineering"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
"Fredrick P. Eisele Sr." writes:<br>
<i>&gt;The device can be run under NT and I see no evidence</i><br>
<i>&gt;of a driver (no *.sys file).  How similar are the</i><br>
<i>&gt;NT and Linux lp drivers?</i><br>
<i>&gt;Should/can I put some kind of sniffer on the port?</i><br>
<p>
If you can get the program that reads from the scanner working<br>
under wine, wine has port access logging facilities that you<br>
can use to log access traces to the parellel port and work<br>
from there.<br>
<p>
Good luck!<br>
<p>
michaelkjohnson<br>
<p>
"Ever wonder why the SAME PEOPLE make up ALL the conspiracy theories?"<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0247.html">Matto Marjanovic: "Re: Using NET backend"</a>
<li> <b>Previous message:</b> <a href="0245.html">Yves Huguenin: "RE: Reverse Engineering"</a>
<li> <b>Maybe in reply to:</b> <a href="0242.html">Fredrick P. Eisele Sr.: "Reverse Engineering"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0252.html">Jonathan Buzzard: "Re: Reverse Engineering"</a>
<!-- reply="end" -->
</ul>
