<!-- received="Sun May 24 14:32:42 1998 PDT" -->
<!-- sent="Sun, 24 May 1998 23:30:44 +0200 (MET DST)" -->
<!-- name="Oliver.Rauch@Wolfsburg.DE" -->
<!-- email="Oliver.Rauch@Wolfsburg.DE" -->
<!-- subject="new UMAX-Patch available" -->
<!-- id="199805242130.XAA03709@Babylon5.wolfsburg.de" -->
<!-- inreplyto="" -->
<title>sane-devel: new UMAX-Patch available</title>
<h1>new UMAX-Patch available</h1>
<a href="mailto:Oliver.Rauch@Wolfsburg.DE"><i>Oliver.Rauch@Wolfsburg.DE</i></a><br>
<i>Sun, 24 May 1998 23:30:44 +0200 (MET DST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#248">[ date ]</a><a href="index.html#248">[ thread ]</a><a href="subject.html#248">[ subject ]</a><a href="author.html#248">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0249.html">Peter Fales: "Kodak DC-20/25 Backend?"</a>
<li> <b>Previous message:</b> <a href="0247.html">Matto Marjanovic: "Re: Using NET backend"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0251.html">Dr. Andreas Bolsch: "Re: new UMAX-Patch available"</a>
<li> <b>Reply:</b> <a href="0251.html">Dr. Andreas Bolsch: "Re: new UMAX-Patch available"</a>
<li> <b>Reply:</b> <a href="0269.html">William L. Sebok: "Re: new UMAX-Patch available"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi UMAX-SCANNER users!<br>
<p>
I found out a bit about "quality calibration" and<br>
"calibration by driver".<br>
<p>
Quality calibration should not hang the scanner any more.<br>
Vista S6E, Astra 600S and Astra 610S could work without<br>
"preview patch" enabled now.<br>
<p>
I uploaded a patch for sane-0.73 to my homepage:<br>
www.wolfsburg.de/~rauch<br>
<p>
Please mail your experience with the patch!<br>
<p>
Thanks<br>
Oliver<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0249.html">Peter Fales: "Kodak DC-20/25 Backend?"</a>
<li> <b>Previous message:</b> <a href="0247.html">Matto Marjanovic: "Re: Using NET backend"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0251.html">Dr. Andreas Bolsch: "Re: new UMAX-Patch available"</a>
<li> <b>Reply:</b> <a href="0251.html">Dr. Andreas Bolsch: "Re: new UMAX-Patch available"</a>
<li> <b>Reply:</b> <a href="0269.html">William L. Sebok: "Re: new UMAX-Patch available"</a>
<!-- reply="end" -->
</ul>
