<!-- received="Mon May 25 03:54:43 1998 PDT" -->
<!-- sent="Mon, 25 May 1998 10:00:15 +0100" -->
<!-- name="Jonathan Buzzard" -->
<!-- email="jab@hex.prestel.co.uk" -->
<!-- subject="Re: Reverse Engineering" -->
<!-- id="m0ydt79-0002Y6C@hex" -->
<!-- inreplyto="Reverse Engineering" -->
<title>sane-devel: Re: Reverse Engineering</title>
<h1>Re: Reverse Engineering</h1>
<b>Jonathan Buzzard</b> (<a href="mailto:jab@hex.prestel.co.uk"><i>jab@hex.prestel.co.uk</i></a>)<br>
<i>Mon, 25 May 1998 10:00:15 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#252">[ date ]</a><a href="index.html#252">[ thread ]</a><a href="subject.html#252">[ subject ]</a><a href="author.html#252">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0253.html">Michael K. Johnson: "Re: Reverse Engineering"</a>
<li> <b>Previous message:</b> <a href="0251.html">Dr. Andreas Bolsch: "Re: new UMAX-Patch available"</a>
<li> <b>Maybe in reply to:</b> <a href="0242.html">Fredrick P. Eisele Sr.: "Reverse Engineering"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0253.html">Michael K. Johnson: "Re: Reverse Engineering"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<a href="mailto:johnsonm@redhat.com">johnsonm@redhat.com</a> said:<br>
<i>&gt; If you can get the program that reads from the scanner working under </i><br>
<i>&gt; wine, wine has port access logging facilities that you can use to log </i><br>
<i>&gt; access traces to the parellel port and work from there. </i><br>
<p>
Really! Now I remember writting some patches myself to Wine which do this,<br>
but then they started changing the debugging code in Wine and I never<br>
submitted them (I also got side tracked into writting some programs to<br>
make Toshiba laptops the best supported in Linux).<br>
<p>
Anyway I am now back trying to reverse engineer support for Umax parallel<br>
port scanners, so I will post a patch in the near future.<br>
<p>
By the way Umax are *not* Linux friendly contary to a previous post by<br>
someone. They point blank refuse to give out the specs for parallel port <br>
scanners to allow a driver to be written.<br>
<p>
<p>
JAB.<br>
<p>
<p>
<pre>
-- 
Jonathan A. Buzzard                 Email: <a href="mailto:jab@hex.prestel.co.uk">jab@hex.prestel.co.uk</a>
Northumberland, United Kingdom.       Tel: +44(0)1661-832195
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0253.html">Michael K. Johnson: "Re: Reverse Engineering"</a>
<li> <b>Previous message:</b> <a href="0251.html">Dr. Andreas Bolsch: "Re: new UMAX-Patch available"</a>
<li> <b>Maybe in reply to:</b> <a href="0242.html">Fredrick P. Eisele Sr.: "Reverse Engineering"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0253.html">Michael K. Johnson: "Re: Reverse Engineering"</a>
<!-- reply="end" -->
</ul>
