<!-- received="Tue May 26 01:05:07 1998 PDT" -->
<!-- sent="Tue, 26 May 1998 10:00:26 +0200" -->
<!-- name="Dick Bruijn" -->
<!-- email="dick@wau.mis.ah.nl" -->
<!-- subject="Scsi commands for the Artec viewstation AT12?" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Scsi commands for the Artec viewstation AT12?</title>
<h1>Scsi commands for the Artec viewstation AT12?</h1>
<b>Dick Bruijn</b> (<a href="mailto:dick@wau.mis.ah.nl"><i>dick@wau.mis.ah.nl</i></a>)<br>
<i>Tue, 26 May 1998 10:00:26 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#266">[ date ]</a><a href="index.html#266">[ thread ]</a><a href="subject.html#266">[ subject ]</a><a href="author.html#266">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0267.html">Donald Burr: "INFO: Updated FreeBSD port of sane to 0.73"</a>
<li> <b>Previous message:</b> <a href="0265.html">Stefan Jeske: "RE: Mustek ScanExpress backend"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I've bought the Artec Viewstation AT12 scanner.<br>
I've had no respons to mails to the US and Taiwan for my request on info for<br>
this<br>
scanner.<br>
Does anybody has some SCSI command info on the viewstation series?<br>
Every info would help, even other Artec scanner info.<br>
Is it compatible with an other scanner?<br>
I want to make a backend for dealing with this scanner.<br>
<p>
Dick Bruijn<br>
<p>
<pre>
-- 
----------------------------------------------------------------
 D. Bruijn, Store Automation    E-mail:        <a href="mailto:DickBruijn@wau.mis.ah.nl">DickBruijn@wau.mis.ah.nl</a>
 Albert Heijn B.V.                   Room:          B632
 Provinciale weg 11               Telephone:    ++31 75 6593918
 1506 MA Zaandam, Holland  Fax:             ++31 75 6598491
----------------------------------------------------------------
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0267.html">Donald Burr: "INFO: Updated FreeBSD port of sane to 0.73"</a>
<li> <b>Previous message:</b> <a href="0265.html">Stefan Jeske: "RE: Mustek ScanExpress backend"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
