<!-- received="Tue May 26 20:19:11 1998 PDT" -->
<!-- sent="Tue, 26 May 1998 20:19:09 -0700" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="David.Mosberger@acm.org" -->
<!-- subject="[official patch]: sane-0.73 patch 1" -->
<!-- id="199805270319.UAA24087@panda.mostang.com" -->
<!-- inreplyto="" -->
<title>sane-devel: [official patch]: sane-0.73 patch 1</title>
<h1>[official patch]: sane-0.73 patch 1</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:David.Mosberger@acm.org"><i>David.Mosberger@acm.org</i></a>)<br>
<i>Tue, 26 May 1998 20:19:09 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#276">[ date ]</a><a href="index.html#276">[ thread ]</a><a href="subject.html#276">[ subject ]</a><a href="author.html#276">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0277.html">David Mosberger-Tang: "Re: [long] Overall usage impressions"</a>
<li> <b>Previous message:</b> <a href="0275.html">Colm Buckley: "Epson GT9000"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Here is a small fix for sane-0.73.  It fixes a problem in<br>
sanei/sanei_scsi.c that causes compilation failures on non-Linux<br>
platforms.<br>
<p>
Note that the subject lines contains the string `[official patch]'.<br>
I'll include this string in all "official" patches so it's easy to<br>
find relevant patches simply by searching the mailing list archive for<br>
this string.<br>
<p>
Cheers,<br>
<p>
	--david<br>
<p>
1998-05-22  David Mosberger-Tang  &lt;<a href="mailto:David.Mosberger@acm.org">David.Mosberger@acm.org</a>&gt;<br>
<p>
	* sanei/sanei_scsi.c (sanei_scsi_find_devices): Declare missing<br>
	findtype arg for dummy sanei_scsi_find_devices().<br>
<p>
--- sane/sanei/sanei_scsi.c~	Fri May 15 01:10:29 1998<br>
+++ sane/sanei/sanei_scsi.c	Fri May 22 20:59:41 1998<br>
@@ -2075,6 +2075,7 @@<br>
 <br>
 void<br>
 sanei_scsi_find_devices (const char *findvendor, const char *findmodel,<br>
+			 const char *findtype,<br>
 			 int findbus, int findchannel, int findid, int findlun,<br>
 			 SANE_Status (*attach) (const char *dev))<br>
 {<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0277.html">David Mosberger-Tang: "Re: [long] Overall usage impressions"</a>
<li> <b>Previous message:</b> <a href="0275.html">Colm Buckley: "Epson GT9000"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
