<!-- received="Mon Mar  2 17:33:34 1998 PST" -->
<!-- sent="Tue, 3 Mar 1998 09:32:57 +0800 (SGT)" -->
<!-- name="Mathias Koerber" -->
<!-- email="mathias@koerber.org" -->
<!-- subject="Re: Minolta Dimage Scan Dual backends?" -->
<!-- id="" -->
<!-- inreplyto="199803021830.TAA08512@turtle.stack.nl" -->
<title>sane-devel: Re: Minolta Dimage Scan Dual backends?</title>
<h1>Re: Minolta Dimage Scan Dual backends?</h1>
<b>Mathias Koerber</b> (<a href="mailto:mathias@koerber.org"><i>mathias@koerber.org</i></a>)<br>
<i>Tue, 3 Mar 1998 09:32:57 +0800 (SGT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#7">[ date ]</a><a href="index.html#7">[ thread ]</a><a href="subject.html#7">[ subject ]</a><a href="author.html#7">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0008.html">Robert Croy: "Compiling sane"</a>
<li> <b>Previous message:</b> <a href="0006.html">Michel Roelofs: "Re: Minolta Dimage Scan Dual backends?"</a>
<li> <b>In reply to:</b> <a href="0006.html">Michel Roelofs: "Re: Minolta Dimage Scan Dual backends?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Mon, 2 Mar 1998, Michel Roelofs wrote:<br>
<p>
<i>| Date: Mon, 2 Mar 1998 19:30:27 +0100 (MET)</i><br>
<i>| From: Michel Roelofs &lt;<a href="mailto:michelr@stack.nl">michelr@stack.nl</a>&gt;</i><br>
<i>| Reply-To: <a href="mailto:sane-devel@mostang.com">sane-devel@mostang.com</a></i><br>
<i>| To: <a href="mailto:sane-devel@mostang.com">sane-devel@mostang.com</a></i><br>
<i>| Subject: Re: Minolta Dimage Scan Dual backends?</i><br>
<i>| </i><br>
<i>| &gt; How many people out there have this particular scanner?  Are there any </i><br>
<i>| &gt; plans to make a backend driver for it?</i><br>
<i>| </i><br>
<i>| Hi,</i><br>
<i>| </i><br>
<i>| I tried to get the specs of a Minolta quickscan 35, but in Holland they</i><br>
<i>| couldn't help me :-( Maybe you can try to get them in your country.</i><br>
<i>| </i><br>
<p>
I've got one, and tried faxing for documents to the number listed in the<br>
manual, w/o any result. Haven't tried the local office yet...<br>
<p>
<i>| Michel</i><br>
<i>| </i><br>
<i>| </i><br>
<i>| --</i><br>
<i>| Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a></i><br>
<i>| To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a></i><br>
<i>| </i><br>
<p>
Mathias Koerber   | Tel: +65 / 471 9820    |   <a href="mailto:mathias@staff.singnet.com.sg">mathias@staff.singnet.com.sg</a><br>
SingNet NOC       | Fax: +65 / 475 3273    |            <a href="mailto:mathias@koerber.org">mathias@koerber.org</a><br>
Q'town Tel. Exch. | PGP: Keyid: 768/25E082BD, finger <a href="mailto:mathias@singnet.com.sg">mathias@singnet.com.sg</a><br>
2 Stirling Rd     |      1A 8B FC D4 93 F1 9A FC BD 98 A3 1A 0E 73 01 65<br>
S'pore 148943     | Disclaimer: I speak only for myself<br>
* Eifersucht ist eine Leidenschaft, die mit Eifer sucht, was Leiden schafft *<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0008.html">Robert Croy: "Compiling sane"</a>
<li> <b>Previous message:</b> <a href="0006.html">Michel Roelofs: "Re: Minolta Dimage Scan Dual backends?"</a>
<li> <b>In reply to:</b> <a href="0006.html">Michel Roelofs: "Re: Minolta Dimage Scan Dual backends?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
