<!-- received="Wed Mar 11 02:20:53 1998 PST" -->
<!-- sent="Wed, 11 Mar 1998 11:08:53 +0100 (MET)" -->
<!-- name="Stefano Buelow" -->
<!-- email="buelow.stefano@usa.net" -->
<!-- subject="Re: Mictorek woes" -->
<!-- id="" -->
<!-- inreplyto="Mictorek woes" -->
<title>sane-devel: Re: Mictorek woes</title>
<h1>Re: Mictorek woes</h1>
<b>Stefano Buelow</b> (<a href="mailto:buelow.stefano@usa.net"><i>buelow.stefano@usa.net</i></a>)<br>
<i>Wed, 11 Mar 1998 11:08:53 +0100 (MET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#81">[ date ]</a><a href="index.html#81">[ thread ]</a><a href="subject.html#81">[ subject ]</a><a href="author.html#81">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0082.html">Stefano Buelow: "Re: Microtek woes"</a>
<li> <b>Previous message:</b> <a href="0080.html">Fabrice Pollet: "Re: PB compile sane-0.71"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<a href="mailto:maddog@mir.com">maddog@mir.com</a> said:<br>
<i>&gt; I've been looking into why the Microtek backend has suddenly started </i><br>
<i>&gt; dying with sane-0.71.... </i><br>
<p>
According to my tests, the problem has got something to do with the aha152x<br>
driver... I've tested xscanimage with an E6 connected to a 2940UW and it worked<br>
perfectly... Perhaps the Adapter bundled with the E6 (AVA-1502AE) has got some<br>
limitations (It's ISA and it specifically designed to support a SINGLE device!).<br>
<p>
I don't know very much of SCSI programming, but I hope this informations to be<br>
useful.<br>
<p>
bye.<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0082.html">Stefano Buelow: "Re: Microtek woes"</a>
<li> <b>Previous message:</b> <a href="0080.html">Fabrice Pollet: "Re: PB compile sane-0.71"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
