<!-- received="Thu Mar 12 11:41:01 1998 PST" -->
<!-- sent="Thu, 12 Mar 1998 20:40:02 +0100" -->
<!-- name="mikem@enet.it" -->
<!-- email="mikem@enet.it" -->
<!-- subject="Getting an "unresolved symbol 'outb'" error" -->
<!-- id="199803121940.UAA19440@srv.enet.it" -->
<!-- inreplyto="" -->
<title>sane-devel: Getting an "unresolved symbol 'outb'" error</title>
<h1>Getting an "unresolved symbol 'outb'" error</h1>
<a href="mailto:mikem@enet.it"><i>mikem@enet.it</i></a><br>
<i>Thu, 12 Mar 1998 20:40:02 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#84">[ date ]</a><a href="index.html#84">[ thread ]</a><a href="subject.html#84">[ subject ]</a><a href="author.html#84">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0085.html">Jonathan Buzzard: "Re: Support for UMAX scanners"</a>
<li> <b>Previous message:</b> <a href="0083.html">Mike: "(no subject)"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0086.html">Matt Gundry: "Re: Getting an "unresolved symbol 'outb'" error"</a>
<li> <b>Reply:</b> <a href="0086.html">Matt Gundry: "Re: Getting an "unresolved symbol 'outb'" error"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi...<br>
I've been playing with sane-0.71 for a while, and i got it all well compiled. <br>
The only thing is that when I enable some drivers in dll.conf other than pnm, <br>
I immediately get an error: can't resolve symbol "outb", from both scanimage <br>
and xscanimage.<br>
If someone is so kind to give me the right compilation hint, I'de be very <br>
grateful. Please notice that I have no scanner attached to my system yet, but <br>
I am using sane only for testing purposes, with a BW quickcam.<br>
Thanx in advance for the eventual answer.<br>
Michael.<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0085.html">Jonathan Buzzard: "Re: Support for UMAX scanners"</a>
<li> <b>Previous message:</b> <a href="0083.html">Mike: "(no subject)"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0086.html">Matt Gundry: "Re: Getting an "unresolved symbol 'outb'" error"</a>
<li> <b>Reply:</b> <a href="0086.html">Matt Gundry: "Re: Getting an "unresolved symbol 'outb'" error"</a>
<!-- reply="end" -->
</ul>
