<!-- received="Thu Mar 12 13:34:35 1998 PST" -->
<!-- sent="Thu, 12 Mar 1998 15:26:08 -0600" -->
<!-- name="Matt Gundry" -->
<!-- email="mjgundry@primenet.com" -->
<!-- subject="Re: Getting an "unresolved symbol 'outb'" error" -->
<!-- id="1.5.4.32.19980312212608.0093ebb8@pop.primenet.com" -->
<!-- inreplyto="Getting an "unresolved symbol 'outb'" error" -->
<title>sane-devel: Re: Getting an "unresolved symbol 'outb'" error</title>
<h1>Re: Getting an "unresolved symbol 'outb'" error</h1>
<b>Matt Gundry</b> (<a href="mailto:mjgundry@primenet.com"><i>mjgundry@primenet.com</i></a>)<br>
<i>Thu, 12 Mar 1998 15:26:08 -0600</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#86">[ date ]</a><a href="index.html#86">[ thread ]</a><a href="subject.html#86">[ subject ]</a><a href="author.html#86">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0087.html">Vogelaar, Ronald: "Sane &amp; HP"</a>
<li> <b>Previous message:</b> <a href="0085.html">Jonathan Buzzard: "Re: Support for UMAX scanners"</a>
<li> <b>Maybe in reply to:</b> <a href="0084.html">mikem@enet.it: "Getting an "unresolved symbol 'outb'" error"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I think you need to supply a little more info for this one - OS, kernel<br>
version, etc.<br>
<p>
This is a wild shot in the dark, but IIRC (assuming linux), outb is an<br>
inline macro that only gets expanded when optimization is enabled. I have<br>
seen the error you describe if you try to link modules (containing outb)<br>
that were compiled without optimization enabled. I find it strange that you<br>
would be having this problem though, as SANE should configure itself to<br>
build with optimization on.<br>
<p>
Check the man page for outb for more info.<br>
<p>
At 08:40 PM 3/12/98 +0100, you wrote:<br>
<i>&gt;Hi...</i><br>
<i>&gt;I've been playing with sane-0.71 for a while, and i got it all well compiled. </i><br>
<i>&gt;The only thing is that when I enable some drivers in dll.conf other than pnm, </i><br>
<i>&gt;I immediately get an error: can't resolve symbol "outb", from both scanimage </i><br>
<i>&gt;and xscanimage.</i><br>
<i>&gt;If someone is so kind to give me the right compilation hint, I'de be very </i><br>
<i>&gt;grateful. Please notice that I have no scanner attached to my system yet, but </i><br>
<i>&gt;I am using sane only for testing purposes, with a BW quickcam.</i><br>
<i>&gt;Thanx in advance for the eventual answer.</i><br>
<i>&gt;Michael.</i><br>
<p>
Hope this helps,<br>
<p>
<pre>
--
Matt Gundry
<a href="mailto:mjgundry@primenet.com">mjgundry@primenet.com</a>
<a href="mailto:mjgundry@fpa-engineers.com">mjgundry@fpa-engineers.com</a>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0087.html">Vogelaar, Ronald: "Sane &amp; HP"</a>
<li> <b>Previous message:</b> <a href="0085.html">Jonathan Buzzard: "Re: Support for UMAX scanners"</a>
<li> <b>Maybe in reply to:</b> <a href="0084.html">mikem@enet.it: "Getting an "unresolved symbol 'outb'" error"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
