<!-- received="Sat Mar 14 12:06:02 1998 PST" -->
<!-- sent="Sat, 14 Mar 1998 17:27:26 +0100" -->
<!-- name="Arfst Ludwig" -->
<!-- email="Arfst.Ludwig@luxor.in-berlin.de" -->
<!-- subject="Backends" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Backends</title>
<h1>Backends</h1>
<b>Arfst Ludwig</b> (<a href="mailto:Arfst.Ludwig@luxor.in-berlin.de"><i>Arfst.Ludwig@luxor.in-berlin.de</i></a>)<br>
<i>Sat, 14 Mar 1998 17:27:26 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#99">[ date ]</a><a href="index.html#99">[ thread ]</a><a href="subject.html#99">[ subject ]</a><a href="author.html#99">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0100.html">Raymond A. Ingles: "HP Scanjet Plus?"</a>
<li> <b>Previous message:</b> <a href="0098.html">Rogier Wolff: "Re: Mustek scanner bug"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Dear Sane Team<br>
Please be so kind to anwer my questions:<br>
<p>
`<a href="http://www.mostang.com/sane/sane-mustek.html'">http://www.mostang.com/sane/sane-mustek.html'</a> says:<br>
<p>
MFS-12000CX<br>
<p>
  I looked up `www.mustek.com.tw' (link provided on the above page) and<br>
  `www.mustek.com'. I can't find any Scanner with that name.<br>
<p>
MFS-1200SP (problems with color?)<br>
<p>
  Have you newer information? Are there problems?<br>
<p>
Thanks for help<br>
Arfst<br>
<pre>
-- 
  __  
 (00)   Arfst Ludwig
  \`\/  E-Mail: <a href="mailto:Arfst.Ludwig@luxor.IN-Berlin.DE">Arfst.Ludwig@luxor.IN-Berlin.DE</a>
   ""   &lt;carpe diem&gt;
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0100.html">Raymond A. Ingles: "HP Scanjet Plus?"</a>
<li> <b>Previous message:</b> <a href="0098.html">Rogier Wolff: "Re: Mustek scanner bug"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
