<!-- received="Mon Mar 16 08:59:58 1998 PST" -->
<!-- sent="Mon, 16 Mar 1998 10:59:11 -0600" -->
<!-- name="Leigh Orf" -->
<!-- email="orf@mailbag.com" -->
<!-- subject="memory leak: Microtek E6 / aha152x / RH 5.0" -->
<!-- id="199803161659.KAA01499@msn-1-27.x2.binc.net" -->
<!-- inreplyto="" -->
<title>sane-devel: memory leak: Microtek E6 / aha152x / RH 5.0</title>
<h1>memory leak: Microtek E6 / aha152x / RH 5.0</h1>
<b>Leigh Orf</b> (<a href="mailto:orf@mailbag.com"><i>orf@mailbag.com</i></a>)<br>
<i>Mon, 16 Mar 1998 10:59:11 -0600</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#106">[ date ]</a><a href="index.html#106">[ thread ]</a><a href="subject.html#106">[ subject ]</a><a href="author.html#106">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0107.html">Mike: "Adaptec AVA-1502AE vs. aha152x"</a>
<li> <b>Previous message:</b> <a href="0105.html">Sven Geggus: "Polaroid Digital Kamera PDC-2000"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0114.html">Leigh Orf: "Re: memory leak: Microtek E6 / aha152x / RH 5.0"</a>
<li> <b>Reply:</b> <a href="0114.html">Leigh Orf: "Re: memory leak: Microtek E6 / aha152x / RH 5.0"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi there!<br>
<p>
I recently got a Microtek E6 scanner for my Linux (RH5.0) machine. It<br>
came with an Adaptec AVA-1502 AE scsi card. I installed SANE 0.71,<br>
and it didn't work for reasons already cited on this list (wait_ready<br>
failed etc.); I removed the "&amp;&amp; (req-&gt;cdb.hdr.sense_buffer[0] &amp; 0x7f)<br>
== 0" line from saneei_scsi.c as cited by Matto Marjanovic in a March<br>
7 message to this list, and everything worked. The first thing I did<br>
was write a little shell script and began scanning a whole pile of<br>
stuff.  After doing about 30 or so scans, my machine, which has 128 MB<br>
memory and 128 MB swap, began running out of memory. After rebooting,<br>
I ran xsysinfo to observe what was going on, and it appears I have a<br>
memory leak. I installed SANE 0.70, which compiled and ran with no<br>
modifications, and the problem still exists. Basically, I have to keep<br>
my eye on memory consumption and reboot regularly when I want to do a<br>
lot of scanning... pain in the ass. Based upon what I came up with via<br>
Dejanews, I'm thinking that the problem is probably with the aha152x<br>
driver, but I'm not sure, and don't know who to bug if it is. I'm<br>
wondering if anyone has observed a similar memory leak problem with a<br>
similar setup, and if they found a solution.<br>
<p>
Here's my setup:<br>
<p>
Red Hat 5.0<br>
kernel 2.0.33<br>
Microtek E6<br>
AVA-1502 AE scsi card, scsi disconnection disabled (required by stupid<br>
windows NT which I also boot), I/O port address 140h, scsi parity<br>
enabled. Here's my /etc/conf.modules file:<br>
<p>
alias scsi_hostadapter aha152x<br>
options aha152x aha152x=0x140,11,7,0<br>
<p>
I like how Linux automagically scans for the scsi bus when I do a scan<br>
using modules... neato :) This problem occurs whether I use the scsi as<br>
a module, or whether it's compiled into the kernel, btw.<br>
<p>
Here's the shell script that I would repeatedly run. I just pass it a<br>
base file name.<br>
<p>
--------------<br>
#!/bin/ksh<br>
if [ ! -e $1.jpg ]<br>
then<br>
        scanimage --mode Color --resolution 114 -l 0 -t 0 -x 200 -y 175 \<br>
			--gamma-mode Scalar --analog-gamma 1.5 &gt; $1.ppm<br>
        convert -quality 85 $1.ppm  $1.jpg<br>
        /bin/rm $1.ppm<br>
        display $1.jpg &amp;<br>
else<br>
        echo "I will not write over $1.jpg for it would be Bad."<br>
fi<br>
--------------<br>
<p>
I'm assuming the memory leak is not coming from ImageMagick!<br>
<p>
Anyhow, thanks for any insight, and THANKS MUCH to all of those who made<br>
it possible... and simple... to scan under Linux. Gawd, I'd hate to have<br>
to do this under NT... ick....<br>
<p>
Leigh<br>
<p>
p.s. the instructions to subscribe to the list on<br>
<a href="http://www.mostang.com/sane/mail.html">http://www.mostang.com/sane/mail.html</a> say that you can subscribe by<br>
sending "subscribe" in the subject to majordomo... these instructions<br>
don't work, majordomo wants "subscribe sane-devel" in the message body...<br>
<p>
p.p.s. It's annoying that during a scan, the system basically freezes<br>
up... is there any way to get around this? I'm assuming the scsi bus is<br>
getting hammered with data due to the 'stupid' nature of the scanner (?)<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0107.html">Mike: "Adaptec AVA-1502AE vs. aha152x"</a>
<li> <b>Previous message:</b> <a href="0105.html">Sven Geggus: "Polaroid Digital Kamera PDC-2000"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0114.html">Leigh Orf: "Re: memory leak: Microtek E6 / aha152x / RH 5.0"</a>
<li> <b>Reply:</b> <a href="0114.html">Leigh Orf: "Re: memory leak: Microtek E6 / aha152x / RH 5.0"</a>
<!-- reply="end" -->
</ul>
