<!-- received="Tue Mar 17 00:15:49 1998 PST" -->
<!-- sent="Tue, 17 Mar 1998 01:26:35 -0700" -->
<!-- name="Kevin R. Charter" -->
<!-- email="charter@cs.ualberta.ca" -->
<!-- subject="AGFA SnapScan backend version 0.4" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: AGFA SnapScan backend version 0.4</title>
<h1>AGFA SnapScan backend version 0.4</h1>
<b>Kevin R. Charter</b> (<a href="mailto:charter@cs.ualberta.ca"><i>charter@cs.ualberta.ca</i></a>)<br>
<i>Tue, 17 Mar 1998 01:26:35 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#109">[ date ]</a><a href="index.html#109">[ thread ]</a><a href="subject.html#109">[ subject ]</a><a href="author.html#109">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0110.html">D.I. Rainer Klier: "problems building sane"</a>
<li> <b>Previous message:</b> <a href="0108.html">becka@rz.uni-duesseldorf.de: "Re: Adaptec AVA-1502AE vs. aha152x"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi everyone--<br>
<p>
We have finally obtained some programming information for the SnapScan 310 and<br>
600, and Emmanuel Blot has been able to fix some problems with the support<br>
for the 310 in version 0.3, patch 7. There has been a change in the<br>
way code is organized, including the separation of 310- and 600-specific<br>
stuff into its own file. For this reason, I've incremented the backend<br>
version number to 0.4. A uuencoded gzipped tarfile containing the version<br>
0.4 source is available on my web page at<br>
<p>
<a href="http://www.cs.ualberta.ca/~charter/snapscan.html">http://www.cs.ualberta.ca/~charter/snapscan.html</a><br>
<p>
If anybody out there has a model 600, we'd like to know whether the backend<br>
works with it, and if not what is broken. Emmanuel has included support for<br>
the model 600, but this isn't tested yet.<br>
<p>
Thanks,<br>
<p>
Kevin<br>
<p>
<pre>
-- 
Kevin Charter                        /\                      Grad Studies
<a href="mailto:charter@cs.ualberta.ca">charter@cs.ualberta.ca</a>            /\/  \  Department of Computing Science
<a href="http://web.cs.ualberta.ca/~charter">http://web.cs.ualberta.ca/~charter</a>  \   --------    University of Alberta
                                     ---------------
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0110.html">D.I. Rainer Klier: "problems building sane"</a>
<li> <b>Previous message:</b> <a href="0108.html">becka@rz.uni-duesseldorf.de: "Re: Adaptec AVA-1502AE vs. aha152x"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
