<!-- received="Sat Mar 21 08:19:35 1998 PST" -->
<!-- sent="Sat, 21 Mar 1998 10:25:25 -0600 (CST)" -->
<!-- name="Miguel Cardenas" -->
<!-- email="reno@geocities.com" -->
<!-- subject="Drivers..." -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Drivers...</title>
<h1>Drivers...</h1>
<b>Miguel Cardenas</b> (<a href="mailto:reno@geocities.com"><i>reno@geocities.com</i></a>)<br>
<i>Sat, 21 Mar 1998 10:25:25 -0600 (CST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#147">[ date ]</a><a href="index.html#147">[ thread ]</a><a href="subject.html#147">[ subject ]</a><a href="author.html#147">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0148.html">Justin Clay: "Acer scanners"</a>
<li> <b>Previous message:</b> <a href="0146.html">Oliver.Rauch@Wolfsburg.DE: "Re: Need some advice"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hello...<br>
<p>
I have 6 months using linux (no more win95) and it's cool... but I got a<br>
new scanner and a friend told me about SANE... while installing<br>
sane-0.71-1.i386.rpm some libraries are not found, so I searched at <br>
ftpsearch and downloaded them from a pub/linux/blah.../sane/<br>
<p>
Libraries are now installed, and sane*.rpm does not install, libraries are<br>
not recognized... I have installed another libraries before, and they<br>
work...<br>
<p>
Where can I get the right libraries? They are:<br>
<p>
failed dependencies:<br>
        libnsl.so.1 is needed by sane-0.70-1<br>
        libm.so.6 is needed by sane-0.70-1<br>
        libgtk.so.1 is needed by sane-0.70-1<br>
        libglib.so.1 is needed by sane-0.70-1<br>
        libgimp.so.1 is needed by sane-0.70-1<br>
        libgdk.so.1 is needed by sane-0.70-1<br>
        libdl.so.2 is needed by sane-0.70-1<br>
        libc.so.6 is needed by sane-0.70-1<br>
        ld-linux.so.2 is needed by sane-0.70-1<br>
        /bin/sh   is needed by sane-0.70-1<br>
<p>
I use RedHat 4.2, my kernel is 2.0.30<br>
<p>
Thanx!<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0148.html">Justin Clay: "Acer scanners"</a>
<li> <b>Previous message:</b> <a href="0146.html">Oliver.Rauch@Wolfsburg.DE: "Re: Need some advice"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
