<!-- received="Sat Mar 21 10:30:07 1998 PST" -->
<!-- sent="Sat, 21 Mar 1998 19:29:24 +0100 (MET)" -->
<!-- name="Hugo van der Kooij" -->
<!-- email="hvdkooij@caiw.nl" -->
<!-- subject="Re: Drivers..." -->
<!-- id="" -->
<!-- inreplyto="Pine.LNX.3.95.980321095328.460A-100000@voodoo.magic.org" -->
<title>sane-devel: Re: Drivers...</title>
<h1>Re: Drivers...</h1>
<b>Hugo van der Kooij</b> (<a href="mailto:hvdkooij@caiw.nl"><i>hvdkooij@caiw.nl</i></a>)<br>
<i>Sat, 21 Mar 1998 19:29:24 +0100 (MET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#150">[ date ]</a><a href="index.html#150">[ thread ]</a><a href="subject.html#150">[ subject ]</a><a href="author.html#150">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0151.html">Bucher Christian: "Re: About Epson GT-5000 scanner"</a>
<li> <b>Previous message:</b> <a href="0149.html">Dr. Andreas Bolsch: "non-Linux &amp; Mustek ScanExpress"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Sat, 21 Mar 1998, Miguel Cardenas wrote:<br>
<p>
<i>&gt; Hello...</i><br>
<i>&gt; </i><br>
<i>&gt; I have 6 months using linux (no more win95) and it's cool... but I got a</i><br>
<i>&gt; new scanner and a friend told me about SANE... while installing</i><br>
<i>&gt; sane-0.71-1.i386.rpm some libraries are not found, so I searched at </i><br>
<i>&gt; ftpsearch and downloaded them from a pub/linux/blah.../sane/</i><br>
<i>&gt; </i><br>
<i>&gt; Libraries are now installed, and sane*.rpm does not install, libraries are</i><br>
<i>&gt; not recognized... I have installed another libraries before, and they</i><br>
<i>&gt; work...</i><br>
<i>&gt; </i><br>
<i>&gt; Where can I get the right libraries? They are:</i><br>
<i>&gt; </i><br>
<i>&gt; failed dependencies:</i><br>
<i>&gt;         libnsl.so.1 is needed by sane-0.70-1</i><br>
<i>&gt;         libm.so.6 is needed by sane-0.70-1</i><br>
<i>&gt;         libgtk.so.1 is needed by sane-0.70-1</i><br>
<i>&gt;         libglib.so.1 is needed by sane-0.70-1</i><br>
<i>&gt;         libgimp.so.1 is needed by sane-0.70-1</i><br>
<i>&gt;         libgdk.so.1 is needed by sane-0.70-1</i><br>
<i>&gt;         libdl.so.2 is needed by sane-0.70-1</i><br>
<i>&gt;         libc.so.6 is needed by sane-0.70-1</i><br>
<i>&gt;         ld-linux.so.2 is needed by sane-0.70-1</i><br>
<i>&gt;         /bin/sh   is needed by sane-0.70-1</i><br>
<i>&gt; </i><br>
<i>&gt; I use RedHat 4.2, my kernel is 2.0.30</i><br>
<p>
In your case you have to get the sources and compile it yourself. The RPM<br>
packages were created for redhat 5.0<br>
<p>
Hugo.<br>
<p>
	+------------------------+------------------------------+<br>
<i>	| Hugo van der Kooij     | <a href="mailto:Hugo.van.der.Kooij@caiw.nl">Hugo.van.der.Kooij@caiw.nl</a>   |</i><br>
<i>	| Oranje Nassaustraat 16 | <a href="http://www.caiw.nl/~hvdkooij">http://www.caiw.nl/~hvdkooij</a> |</i><br>
<i>	| 3155 VJ  Maasland      | (De man met de rode hoed)    |</i><br>
	+------------------------+------------------------------+<br>
    "Computers let you make more mistakes faster than any other invention in <br>
      human history, with the possible exception of handguns and tequila."<br>
		(Mitch Radcliffe)<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0151.html">Bucher Christian: "Re: About Epson GT-5000 scanner"</a>
<li> <b>Previous message:</b> <a href="0149.html">Dr. Andreas Bolsch: "non-Linux &amp; Mustek ScanExpress"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
