<!-- received="Tue Mar 24 15:13:56 1998 PST" -->
<!-- sent="Fri, 24 Mar 1995 17:20:14 -0600 (CST)" -->
<!-- name="Miguel Cardenas" -->
<!-- email="reno@geocities.com" -->
<!-- subject="A2000D..." -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: A2000D...</title>
<h1>A2000D...</h1>
<b>Miguel Cardenas</b> (<a href="mailto:reno@geocities.com"><i>reno@geocities.com</i></a>)<br>
<i>Fri, 24 Mar 1995 17:20:14 -0600 (CST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#168">[ date ]</a><a href="index.html#168">[ thread ]</a><a href="subject.html#168">[ subject ]</a><a href="author.html#168">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0169.html">Hugo van der Kooij: "Re: A2000D..."</a>
<li> <b>Previous message:</b> <a href="0167.html">Hugo van der Kooij: "Re: can't start xscanimage"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hello list!<br>
<p>
I have a question about SANE and my scanner... I compiled sane (the last<br>
version available) and installed it on my RH 4.2 (I don't get RH5 yet) and<br>
did not work. Maybe my scanner is not supported, it is an A2000D color<br>
scanner... Does anybody know if this scanner is able to work with sane? No<br>
matter if it does not work with RH 4.2, if it works with RH5 it will<br>
be fine...<br>
<p>
Thanx!<br>
<p>
                                               Miguel Cardenas<br>
                                               ---------------<br>
                                                <a href="mailto:reno!@usa.net">reno!@usa.net</a><br>
                                              <a href="mailto:reno@geocities.com">reno@geocities.com</a><br>
<p>
<a href="http://www.geocities.com/SiliconValley/Park/4534">http://www.geocities.com/SiliconValley/Park/4534</a><br>
<p>
"Entre mas conozco, mas ignorante soy..."<br>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0169.html">Hugo van der Kooij: "Re: A2000D..."</a>
<li> <b>Previous message:</b> <a href="0167.html">Hugo van der Kooij: "Re: can't start xscanimage"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
