<!-- received="Wed Mar 25 16:50:44 1998 PST" -->
<!-- sent="Mon, 23 Mar 1998 17:06:19 +0800 (SGT)" -->
<!-- name="Mathias Koerber" -->
<!-- email="mathias@koerber.org" -->
<!-- subject="Minolta DUalscan , first shades of success?" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Minolta DUalscan , first shades of success?</title>
<h1>Minolta DUalscan , first shades of success?</h1>
<b>Mathias Koerber</b> (<a href="mailto:mathias@koerber.org"><i>mathias@koerber.org</i></a>)<br>
<i>Mon, 23 Mar 1998 17:06:19 +0800 (SGT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#172">[ date ]</a><a href="index.html#172">[ thread ]</a><a href="subject.html#172">[ subject ]</a><a href="author.html#172">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0173.html">D. Diederen: "report"</a>
<li> <b>Previous message:</b> <a href="0171.html">Christoph Doerbeck: "Supported hardware page"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I tried again getting the Minolta Dimage Scan Dual specs out of the local<br>
Minolta office, and I just got a call from a support person asking what<br>
information exactly I would like.<br>
<p>
So now I'm asking the experienced SANE programmers, what I should ask for..<br>
<p>
	1. SCSI Command Set<br>
	2. ???<br>
<p>
The guy also asked which other scanners are supported, and I gave him the<br>
SANE URL !!<br>
<p>
Let's hope this time they wake up !<br>
<p>
Here is the information on the contact:<br>
<p>
	Jesmond Soh<br>
	Minolta Camera Service<br>
	Tel: +65 / 7329910<br>
	Fax: +65 / 7325631<br>
<p>
Maybe if some other (local?) interested people cann  him/them<br>
it may help also?<br>
<p>
<p>
Mathias Koerber   | Tel: +65 / 471 9820    |   <a href="mailto:mathias@staff.singnet.com.sg">mathias@staff.singnet.com.sg</a><br>
SingNet NOC       | Fax: +65 / 475 3273    |            <a href="mailto:mathias@koerber.org">mathias@koerber.org</a><br>
Q'town Tel. Exch. | PGP: Keyid: 768/25E082BD, finger <a href="mailto:mathias@singnet.com.sg">mathias@singnet.com.sg</a><br>
2 Stirling Rd     |      1A 8B FC D4 93 F1 9A FC BD 98 A3 1A 0E 73 01 65<br>
S'pore 148943     | Disclaimer: I speak only for myself<br>
* Eifersucht ist eine Leidenschaft, die mit Eifer sucht, was Leiden schafft *<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0173.html">D. Diederen: "report"</a>
<li> <b>Previous message:</b> <a href="0171.html">Christoph Doerbeck: "Supported hardware page"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
