<!-- received="Thu Mar 26 05:58:44 1998 PST" -->
<!-- sent="Thu, 26 Mar 1998 09:02:56 -0500" -->
<!-- name="Michael K. Johnson" -->
<!-- email="johnsonm@redhat.com" -->
<!-- subject="Re: Dimage Scan Dual - request for Tech Info" -->
<!-- id="199803261402.JAA23480@nigel.redhat.com" -->
<!-- inreplyto="Dimage Scan Dual - request for Tech Info" -->
<title>sane-devel: Re: Dimage Scan Dual - request for Tech Info</title>
<h1>Re: Dimage Scan Dual - request for Tech Info</h1>
<b>Michael K. Johnson</b> (<a href="mailto:johnsonm@redhat.com"><i>johnsonm@redhat.com</i></a>)<br>
<i>Thu, 26 Mar 1998 09:02:56 -0500</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#180">[ date ]</a><a href="index.html#180">[ thread ]</a><a href="subject.html#180">[ subject ]</a><a href="author.html#180">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0181.html">Olaf Ronneberger: "Re: Mustek MFC-600S damaged by scanimage - what now?"</a>
<li> <b>Previous message:</b> <a href="0179.html">Mathias Koerber: "RE: Dimage Scan Dual - request for Tech Info"</a>
<li> <b>Maybe in reply to:</b> <a href="0174.html">Mathias Koerber: "Dimage Scan Dual - request for Tech Info"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Donald Burr writes:<br>
<i>&gt;Wow.  This is a great letter.</i><br>
<p>
I agree.  Looks like Mathias put a good bit of work into it!<br>
<p>
<i>&gt;I've been having some informal dialogue with someone at Compeye</i><br>
<i>&gt;(<a href="http://www.compeye.com.tw/">http://www.compeye.com.tw/</a>) about possibly getting a hold of the API for</i><br>
...<br>
<p>
For Linux market size numbers, you might also want to consider a pointer to<br>
<a href="http://www.redhat.com/redhat/linuxmarket.html">http://www.redhat.com/redhat/linuxmarket.html</a><br>
<p>
I've already mentioned this to Mathias in private email, but it should<br>
also be useful for anyone here who is trying to get a scanner manufacturer<br>
to release programming information.  :-)<br>
<p>
FWIW,<br>
<p>
michaelkjohnson<br>
<p>
"Ever wonder why the SAME PEOPLE make up ALL the conspiracy theories?"<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0181.html">Olaf Ronneberger: "Re: Mustek MFC-600S damaged by scanimage - what now?"</a>
<li> <b>Previous message:</b> <a href="0179.html">Mathias Koerber: "RE: Dimage Scan Dual - request for Tech Info"</a>
<li> <b>Maybe in reply to:</b> <a href="0174.html">Mathias Koerber: "Dimage Scan Dual - request for Tech Info"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
