<!-- received="Thu Mar 26 14:07:28 1998 PST" -->
<!-- sent="Thu, 26 Mar 1998 23:05:37 +0100 (MET)" -->
<!-- name="Hugo van der Kooij" -->
<!-- email="hvdkooij@caiw.nl" -->
<!-- subject="Re: Formal maintainer of RPM's?" -->
<!-- id="" -->
<!-- inreplyto="199803262134.NAA00841@panda.mostang.com" -->
<title>sane-devel: Re: Formal maintainer of RPM's?</title>
<h1>Re: Formal maintainer of RPM's?</h1>
<b>Hugo van der Kooij</b> (<a href="mailto:hvdkooij@caiw.nl"><i>hvdkooij@caiw.nl</i></a>)<br>
<i>Thu, 26 Mar 1998 23:05:37 +0100 (MET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#187">[ date ]</a><a href="index.html#187">[ thread ]</a><a href="subject.html#187">[ subject ]</a><a href="author.html#187">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0188.html">Andreas Czechanowski: "Re: mustek mfs-6000cx w/ proprietary host adapter"</a>
<li> <b>Previous message:</b> <a href="0186.html">Bennett, Everett, Jr, NCIO: "UnixWare 2.1.2 and UMAX-SE6 Scanner"</a>
<li> <b>In reply to:</b> <a href="0185.html">David Mosberger-Tang: "Re: Formal maintainer of RPM's?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Thu, 26 Mar 1998, David Mosberger-Tang wrote:<br>
<p>
<i>&gt; &gt;&gt;&gt;&gt;&gt; On Thu, 26 Mar 1998 22:26:06 +0100 (MET), Hugo van der Kooij &lt;<a href="mailto:hvdkooij@caiw.nl">hvdkooij@caiw.nl</a>&gt; said:</i><br>
<i>&gt; </i><br>
<i>&gt;   Hugo&gt; Is there a (either formal or informal) maintainer of the RPM</i><br>
<i>&gt;   Hugo&gt; files?  I did take the current 0.71 versions and added some</i><br>
<i>&gt;   Hugo&gt; stuff. As I do not want to duplicate work I would like to know</i><br>
<i>&gt;   Hugo&gt; if someone is (trying to) maintain it or that the RPM's were</i><br>
<i>&gt;   Hugo&gt; made on a 'per occasion' basis.</i><br>
<i>&gt; </i><br>
<i>&gt; Not really.  I built RPMs for the last couple of releases but decided</i><br>
<i>&gt; to stop doing that starting with the next release.  It simply takes</i><br>
<i>&gt; too much time for me to build and test RPMs on various platforms.</i><br>
<i>&gt; </i><br>
<i>&gt; If you want to provide SANE RPMs in the future, I'd very much</i><br>
<i>&gt; appreciate it.</i><br>
<p>
That would be fine with me. As things might be tied up closely to gimp and<br>
gtk I have also contacted some people there to see if things can be put in<br>
sync.<br>
<p>
Regards,<br>
Hugo.<br>
<p>
	+------------------------+------------------------------+<br>
<i>	| Hugo van der Kooij     | <a href="mailto:Hugo.van.der.Kooij@caiw.nl">Hugo.van.der.Kooij@caiw.nl</a>   |</i><br>
<i>	| Oranje Nassaustraat 16 | <a href="http://www.caiw.nl/~hvdkooij">http://www.caiw.nl/~hvdkooij</a> |</i><br>
<i>	| 3155 VJ  Maasland      | (De man met de rode hoed)    |</i><br>
	+------------------------+------------------------------+<br>
    "Computers let you make more mistakes faster than any other invention in <br>
      human history, with the possible exception of handguns and tequila."<br>
		(Mitch Radcliffe)<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0188.html">Andreas Czechanowski: "Re: mustek mfs-6000cx w/ proprietary host adapter"</a>
<li> <b>Previous message:</b> <a href="0186.html">Bennett, Everett, Jr, NCIO: "UnixWare 2.1.2 and UMAX-SE6 Scanner"</a>
<li> <b>In reply to:</b> <a href="0185.html">David Mosberger-Tang: "Re: Formal maintainer of RPM's?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
