<!-- received="Fri Mar 27 02:06:01 1998 PST" -->
<!-- sent="Fri, 27 Mar 1998 11:04:13 +0100 (MET)" -->
<!-- name="Andreas Czechanowski" -->
<!-- email="m075@ins.uni-stuttgart.de" -->
<!-- subject="Re: mustek mfs-6000cx w/ proprietary host adapter" -->
<!-- id="Pine.HPP.3.96.980327100701.14870A-100000@inshp01.ins.uni-stuttgart.de" -->
<!-- inreplyto="19980325200511.09556@ai-lab.fh-furtwangen.de" -->
<title>sane-devel: Re: mustek mfs-6000cx w/ proprietary host adapter</title>
<h1>Re: mustek mfs-6000cx w/ proprietary host adapter</h1>
<b>Andreas Czechanowski</b> (<a href="mailto:m075@ins.uni-stuttgart.de"><i>m075@ins.uni-stuttgart.de</i></a>)<br>
<i>Fri, 27 Mar 1998 11:04:13 +0100 (MET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#188">[ date ]</a><a href="index.html#188">[ thread ]</a><a href="subject.html#188">[ subject ]</a><a href="author.html#188">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0189.html">Darrell Parlee: "Top Level Home Page"</a>
<li> <b>Previous message:</b> <a href="0187.html">Hugo van der Kooij: "Re: Formal maintainer of RPM's?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hello Wolfgang !<br>
<p>
On Wed, 25 Mar 1998, Wolfgang Braun wrote:<br>
<p>
<i>&gt; i'm trying to get this scanner working on a linux x86 machine.</i><br>
<i>&gt; problem is that the machine doesn't have a scsi host adapter,</i><br>
<i>&gt; so up to now we used the ISA-card delivered with the scanner.</i><br>
<p>
How does this card look like ? What chips are on it ?<br>
What type of connector is used for the scanner ?<br>
I ask because my Paragon 600 II N also uses a proprietary<br>
interface adapter (kind of 8-bit-parallel, but not SCSI)<br>
 <br>
Regards,<br>
<p>
Andreas.<br>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0189.html">Darrell Parlee: "Top Level Home Page"</a>
<li> <b>Previous message:</b> <a href="0187.html">Hugo van der Kooij: "Re: Formal maintainer of RPM's?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
