<!-- received="Mon Mar 30 01:04:12 1998 PST" -->
<!-- sent="Mon, 30 Mar 1998 11:03:25 +0200" -->
<!-- name="Didier Carlier" -->
<!-- email="didier@sema.be" -->
<!-- subject="Re: Linux Sense buffer (was: sane 0.71 and microtek E3)" -->
<!-- id="199803300903.LAA29591@fritz.sema.be" -->
<!-- inreplyto="19980329163645.14401@tummy.com" -->
<title>sane-devel: Re: Linux Sense buffer (was: sane 0.71 and microtek E3)</title>
<h1>Re: Linux Sense buffer (was: sane 0.71 and microtek E3)</h1>
<b>Didier Carlier</b> (<a href="mailto:didier@sema.be"><i>didier@sema.be</i></a>)<br>
<i>Mon, 30 Mar 1998 11:03:25 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#202">[ date ]</a><a href="index.html#202">[ thread ]</a><a href="subject.html#202">[ subject ]</a><a href="author.html#202">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0203.html">John Brush: "Looking for help"</a>
<li> <b>Previous message:</b> <a href="0201.html">Sean Reifschneider: "Linux Sense buffer (was: sane 0.71 and microtek E3)"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<a href="mailto:jafo@tummy.com">jafo@tummy.com</a> said:<br>
<i>&gt; I sent a query to Leonard Zubkoff asking for his opinion, and he says </i><br>
<i>&gt; that the code appears to work that way.  I haven't had a chance to </i><br>
<i>&gt; try it with the BusLogic drivers that he authors yet though.  It </i><br>
<i>&gt; looks like the:</i><br>
<p>
<i>&gt;   if (req-&gt;cdb.hdr.result == 0 &amp;&amp; (req-&gt;cdb.hdr.sense_buffer[0] &amp; </i><br>
<i>&gt; 0x7f) == 0)</i><br>
<p>
<i>&gt; needs to be changed to:</i><br>
<p>
<i>&gt;   if (req-&gt;cdb.hdr.result == 0)</i><br>
<p>
<i>&gt; for SANE to work on NCR, DPT, and some AHA systems. </i><br>
<p>
This will not work with all scanners, e.g. the coolscan. Problems only occur with those backends which are not prepared to be called with information in the sense buffer but with a 0 result. That is a problem with the backends though, not with the code above (IMHO).<br>
<p>
Didier <br>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0203.html">John Brush: "Looking for help"</a>
<li> <b>Previous message:</b> <a href="0201.html">Sean Reifschneider: "Linux Sense buffer (was: sane 0.71 and microtek E3)"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
