<!-- received="Tue Mar 31 10:31:28 1998 PST" -->
<!-- sent="31 Mar 1998 11:32:19 -0700" -->
<!-- name="Gordon Matzigkeit" -->
<!-- email="gord@profitpress.com" -->
<!-- subject="Re: Patch to 0.71 spec file" -->
<!-- id="" -->
<!-- inreplyto="Patch to 0.71 spec file" -->
<title>sane-devel: Re: Patch to 0.71 spec file</title>
<h1>Re: Patch to 0.71 spec file</h1>
<b>Gordon Matzigkeit</b> (<a href="mailto:gord@profitpress.com"><i>gord@profitpress.com</i></a>)<br>
<i>31 Mar 1998 11:32:19 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#221">[ date ]</a><a href="index.html#221">[ thread ]</a><a href="subject.html#221">[ subject ]</a><a href="author.html#221">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0222.html">Andreas Heitmann: "Linux and Mustek Paralel Port Scanners"</a>
<li> <b>Previous message:</b> <a href="0220.html">zerbst@tu-harburg.de: "Microtek 35t +"</a>
<li> <b>Maybe in reply to:</b> <a href="0219.html">Gordon Matzigkeit: "Patch to 0.71 spec file"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi!<br>
<p>
I just realized: I don't have dlh on this machine, which causes the<br>
problem.  Please ignore the patch I sent.<br>
<p>
Sorry about that,<br>
<p>
<pre>
-- 
Gordon Matzigkeit   \ Proudly running pieces of the GNU operating system.
<a href="mailto:gord@profitpress.com">gord@profitpress.com</a> \ Jacques Cousteau loved programming in assembler.
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0222.html">Andreas Heitmann: "Linux and Mustek Paralel Port Scanners"</a>
<li> <b>Previous message:</b> <a href="0220.html">zerbst@tu-harburg.de: "Microtek 35t +"</a>
<li> <b>Maybe in reply to:</b> <a href="0219.html">Gordon Matzigkeit: "Patch to 0.71 spec file"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
