<!-- received="Tue Mar 31 22:08:27 1998 PST" -->
<!-- sent="Tue, 31 Mar 1998 10:59:00 +0200 (MET DST)" -->
<!-- name="Rogier Wolff" -->
<!-- email="R.E.Wolff@BitWizard.nl" -->
<!-- subject="Re: Linux Sense buffer (was: sane 0.71 and microtek E3)" -->
<!-- id="199803310859.KAA01314@cave.BitWizard.nl" -->
<!-- inreplyto="199803310525.VAA02893@panda.mostang.com" -->
<title>sane-devel: Re: Linux Sense buffer (was: sane 0.71 and microtek E3)</title>
<h1>Re: Linux Sense buffer (was: sane 0.71 and microtek E3)</h1>
<b>Rogier Wolff</b> (<a href="mailto:R.E.Wolff@BitWizard.nl"><i>R.E.Wolff@BitWizard.nl</i></a>)<br>
<i>Tue, 31 Mar 1998 10:59:00 +0200 (MET DST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#226">[ date ]</a><a href="index.html#226">[ thread ]</a><a href="subject.html#226">[ subject ]</a><a href="author.html#226">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0227.html">Hugo van der Kooij: "Re: Patch to 0.71 spec file"</a>
<li> <b>Previous message:</b> <a href="0225.html">Rogier Wolff: "Re: Linux Sense buffer (was: sane 0.71 and microtek E3)"</a>
<li> <b>In reply to:</b> <a href="0208.html">David Mosberger-Tang: "Re: Linux Sense buffer (was: sane 0.71 and microtek E3)"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
David Mosberger-Tang wrote:<br>
<i>&gt; But I agree it's bad taste to ship pre-compiled binaries assuming a</i><br>
<i>&gt; 128KB kernel buffer.  The real problem is that the Linux kernel</i><br>
<i>&gt; doesn't allow to determine what the limit is.  I'll see whether we</i><br>
<i>&gt; could have that fixed for Linux 2.2.</i><br>
<p>
David, I've been thinking about this. There is a possibility. <br>
<p>
1) (Implemented for my standalone tamarack scan-driver). A -buf option<br>
that allows the user to select the buffer size to be used at runtime. <br>
(I've got a "decent" kernel right now, but the last half year I've been<br>
running a kernel without the increased buffer size, and had to pass the<br>
-buf 32000 every time... ;-)<br>
<p>
2) (not implemented yet) Simply try with a large buffer, and if you<br>
get "ENOMEM", reduce the buffer size automatically.<br>
<p>
<p>
						Roger. <br>
<p>
P.S. "large buffer" in my kernel means 1Mb.<br>
<p>
<pre>
-- 
If it's there and you can see it, it's REAL      <a href="mailto:|___R.E.Wolff@BitWizard.nl">|___R.E.Wolff@BitWizard.nl</a>  |
If it's there and you can't see it, it's TRANSPARENT |  Tel: +31-15-2137555  |
If it's not there and you can see it, it's VIRTUAL   |__FAX:_+31-15-2138217  |
If it's not there and you can't see it, it's GONE! -- Roy Wilks, 1983  |_____|
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0227.html">Hugo van der Kooij: "Re: Patch to 0.71 spec file"</a>
<li> <b>Previous message:</b> <a href="0225.html">Rogier Wolff: "Re: Linux Sense buffer (was: sane 0.71 and microtek E3)"</a>
<li> <b>In reply to:</b> <a href="0208.html">David Mosberger-Tang: "Re: Linux Sense buffer (was: sane 0.71 and microtek E3)"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
