<!-- received="Mon Mar 10 21:32:48 1997 MST" -->
<!-- sent="Mon, 10 Mar 1997 22:32:26 -0600 (CST)" -->
<!-- name="Nem W Schlecht" -->
<!-- email="nem@abattoir.cc.ndsu.nodak.edu" -->
<!-- subject="Hello." -->
<!-- id="199703110432.WAA05614@abattoir.cc.ndsu.nodak.edu" -->
<!-- inreplyto="" -->
<title>sane-devel: Hello.</title>
<h1>Hello.</h1>
<b>Nem W Schlecht</b> (<a href="mailto:nem@abattoir.cc.ndsu.nodak.edu"><i>nem@abattoir.cc.ndsu.nodak.edu</i></a>)<br>
<i>Mon, 10 Mar 1997 22:32:26 -0600 (CST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#2">[ date ]</a><a href="index.html#2">[ thread ]</a><a href="subject.html#2">[ subject ]</a><a href="author.html#2">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0003.html">David Mosberger-Tang: "SANE-pre0.5 snapshot available"</a>
<li> <b>Previous message:</b> <a href="0001.html">David Mosberger-Tang: "SANE in the graphics-muse"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0004.html">David Mosberger-Tang: "Re: Hello."</a>
<li> <b>Maybe reply:</b> <a href="0004.html">David Mosberger-Tang: "Re: Hello."</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hello all,<br>
  I just joined the list today, and read through the archive of previous<br>
messages.  I just purchased a Scanpaq SQ2400 (the same thing as a MicroTek<br>
E3), and am currently working on getting Jan Schoenepauck's mtekscan<br>
program to work on my SGI (basically just to see if the thing works, which<br>
I don't know yet!).  I noticed a message by Jeremy Rosenberger saying that<br>
he was working (or planning to work) on a MicroTek E3 backend - how is that<br>
coming along Mr.  Rosenberger?  I'm hoping to help with the completion of<br>
this backend, as well as getting the genscsi code ported over to the dslib<br>
(SCSI) stuff on my SGI.  I also have access to some RS/6000s and Digital<br>
UNIX machines that I can try to port the scsi code over to those as well.<br>
  I hope I'm coming off as enthusiastic, because I am!<br>
<p>
PS - I've been in contact with one of the SGI printer/scanner device driver<br>
programmers, mentioned the SANE project, and it seemed like he was<br>
interested in maybe helping out some.<br>
<p>
<pre>
-- 
Nem W Schlecht                  <a href="mailto:nem@plains.nodak.edu">nem@plains.nodak.edu</a>
NDUS UNIX SysAdmin         <a href="http://www.nodak.edu/~nem">http://www.nodak.edu/~nem</a>
"Perl did the magic.  I just waved the wand."
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0003.html">David Mosberger-Tang: "SANE-pre0.5 snapshot available"</a>
<li> <b>Previous message:</b> <a href="0001.html">David Mosberger-Tang: "SANE in the graphics-muse"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0004.html">David Mosberger-Tang: "Re: Hello."</a>
<li> <b>Maybe reply:</b> <a href="0004.html">David Mosberger-Tang: "Re: Hello."</a>
<!-- reply="end" -->
</ul>
