<!-- received="Fri Mar 21 21:07:04 1997 MST" -->
<!-- sent="Fri, 21 Mar 1997 21:05:11 -0700" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="davidm@azstarnet.com" -->
<!-- subject="two more features" -->
<!-- id="199703220405.VAA14649@panda.mosberger" -->
<!-- inreplyto="" -->
<title>sane-devel: two more features</title>
<h1>two more features</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:davidm@azstarnet.com"><i>davidm@azstarnet.com</i></a>)<br>
<i>Fri, 21 Mar 1997 21:05:11 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#26">[ date ]</a><a href="index.html#26">[ thread ]</a><a href="subject.html#26">[ subject ]</a><a href="author.html#26">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0027.html">David Mosberger-Tang: "yaspr"</a>
<li> <b>Previous message:</b> <a href="0025.html">David Mosberger-Tang: "yet another pre0.5 release"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
The latest pre0.5 snapshot has two more features: xcam now supports<br>
saving/restoring option settings and the preview window in xscan now<br>
tracks changes to the scan area options (so you can use the sliders to<br>
modify the selected area in the preview window).<br>
<p>
I'm not sure how to best add option settings saving/restoring to<br>
xscan.  Doing it via buttons seems messy but xscan does not currently<br>
support a menubar (or switching devices midstreams, for that matter).<br>
Tristan, do you have a particular preference?<br>
<p>
Oh, also: xscan can now be built without libgimp.  This will allow to<br>
build all of SANE without having to build GIMP first (GTK will still<br>
be needed for the graphical frontends, of course).<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0027.html">David Mosberger-Tang: "yaspr"</a>
<li> <b>Previous message:</b> <a href="0025.html">David Mosberger-Tang: "yet another pre0.5 release"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
