<!-- received="Tue Mar 25 13:35:46 1997 MST" -->
<!-- sent="Tue, 25 Mar 1997 15:28:06 -0500 (EST)" -->
<!-- name="XxEDGExX" -->
<!-- email="jeremy@xxedgexx.com" -->
<!-- subject="Re: Mustek Question, and pre0.5 Question." -->
<!-- id="199703230705.AAA32110@panda.mosberger" -->
<!-- inreplyto="Pine.LNX.3.95.970325120900.9893A-100000@deadguy.spektragraphics.com" -->
<title>sane-devel: Re: Mustek Question, and pre0.5 Question.</title>
<h1>Re: Mustek Question, and pre0.5 Question.</h1>
<b>XxEDGExX</b> (<a href="mailto:jeremy@xxedgexx.com"><i>jeremy@xxedgexx.com</i></a>)<br>
<i>Tue, 25 Mar 1997 15:28:06 -0500 (EST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#28">[ date ]</a><a href="index.html#28">[ thread ]</a><a href="subject.html#28">[ subject ]</a><a href="author.html#28">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0029.html">David  Mosberger: "Re: Mustek Question, and pre0.5 Question."</a>
<li> <b>Previous message:</b> <a href="0027.html">David Mosberger-Tang: "yaspr"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
 <br>
 Hello,<br>
 	I have the opportunity to get a MFS-12000SP for $200 bucks.  It<br>
 comes with a DTC SCSI controller.  My question is, do I need to use this<br>
 SCSI controller to use this scanner with linux?  I already have a BT-958<br>
 Buslogic in my system, and if possible I would just like to use this<br>
 controller to use the scanner.  It seems that it should should be ok, it's<br>
 just documentation for sane, for some reason leads me to believe that you<br>
 must use the scsi controller which comes with the scanner.<br>
 <br>
 Next, I got sane-pre0.5 and make is failing.  I understand this pre0.5 is<br>
 supposed to be buggy, hence pre, but if this is a common error which can<br>
 be resolved, I'd appreciate any help.<br>
 <br>
 I would like to get info asap because the deal I have for this scanner is<br>
 not going to last very long, as there are others who want to buy this<br>
 scanner, but I don't feel like buying this scanner if it's not going to<br>
 work with linux.<br>
 <br>
 Thanks for any help, here is the errors I received from the sane make.  I<br>
 think it has something to do with gtk.  I am using the latest gimp<br>
 snapshot.<br>
 <br>
<i>&gt; for subdir in sanei backend frontend doc; do		\</i><br>
<i>&gt;   target=`echo all-recursive | sed s/-recursive//`; \</i><br>
<i>&gt;   echo making $target in $subdir;	\</i><br>
<i>&gt;   (cd $subdir &amp;&amp; make $target)	\</i><br>
<i>&gt;    || case "" in *k*) fail=yes;; *) exit 1;; esac; \</i><br>
<i>&gt; done &amp;&amp; test -z "$fail"</i><br>
<i>&gt; making all in sanei</i><br>
<i>&gt; make[1]: Entering directory `/root/sane-pre0.5/sanei'</i><br>
<i>&gt; make[1]: Nothing to be done for `all'.</i><br>
<i>&gt; make[1]: Leaving directory `/root/sane-pre0.5/sanei'</i><br>
<i>&gt; making all in backend</i><br>
<i>&gt; make[1]: Entering directory `/root/sane-pre0.5/backend'</i><br>
<i>&gt; make[1]: Nothing to be done for `all'.</i><br>
<i>&gt; make[1]: Leaving directory `/root/sane-pre0.5/backend'</i><br>
<i>&gt; making all in frontend</i><br>
<i>&gt; make[1]: Entering directory `/root/sane-pre0.5/frontend'</i><br>
<i>&gt; gcc -c  -I. -I../include -I/usr/local/include -I/usr/local/include/gtk -I/usr/local/include/gdk -DBROKEN_GETOPT  -DPATH_SANE_CONFIG_DIR=/usr/local/etc/sane.d 	  -DV_MAJOR=0 -DV_MINOR=5 -I/usr/X11R6/include -g -O2 -D_GNU_SOURCE -Wall xscan.c</i><br>
<i>&gt; In file included from xscan.c:38:</i><br>
<i>&gt; preview.h:37: parse error before `u_char'</i><br>
<i>&gt; preview.h:37: warning: no semicolon at end of struct or union</i><br>
<i>&gt; preview.h:40: parse error before `image_last_time_updated'</i><br>
<i>&gt; preview.h:40: warning: data definition has no type or storage class</i><br>
<i>&gt; preview.h:48: parse error before `*'</i><br>
<i>&gt; preview.h:48: warning: data definition has no type or storage class</i><br>
<i>&gt; preview.h:70: parse error before `}'</i><br>
<i>&gt; preview.h:71: warning: data definition has no type or storage class</i><br>
<i>&gt; preview.h:74: parse error before `*'</i><br>
<i>&gt; preview.h:74: warning: data definition has no type or storage class</i><br>
<i>&gt; preview.h:77: parse error before `*'</i><br>
<i>&gt; preview.h:80: parse error before `*'</i><br>
<i>&gt; preview.h:83: parse error before `*'</i><br>
<i>&gt; xscan.c:69: parse error before `Preview'</i><br>
<i>&gt; xscan.c:69: warning: no semicolon at end of struct or union</i><br>
<i>&gt; xscan.c:89: parse error before `}'</i><br>
<i>&gt; xscan.c:90: warning: data definition has no type or storage class</i><br>
<i>&gt; xscan.c: In function `run':</i><br>
<i>&gt; xscan.c:146: request for member `mode' in something not a structure or union</i><br>
<i>&gt; xscan.c: In function `update_param':</i><br>
<i>&gt; xscan.c:183: request for member `info_label' in something not a structure or union</i><br>
<i>&gt; xscan.c:207: request for member `info_label' in something not a structure or union</i><br>
<i>&gt; xscan.c:209: request for member `preview' in something not a structure or union</i><br>
<i>&gt; xscan.c:210: request for member `preview' in something not a structure or union</i><br>
<i>&gt; xscan.c: In function `quit_xscan':</i><br>
<i>&gt; xscan.c:219: request for member `preview' in something not a structure or union</i><br>
<i>&gt; xscan.c:220: request for member `preview' in something not a structure or union</i><br>
<i>&gt; xscan.c:222: request for member `mode' in something not a structure or union</i><br>
<i>&gt; xscan.c: In function `scan_preview':</i><br>
<i>&gt; xscan.c:240: request for member `preview' in something not a structure or union</i><br>
<i>&gt; xscan.c:242: request for member `preview' in something not a structure or union</i><br>
<i>&gt; xscan.c:243: request for member `preview' in something not a structure or union</i><br>
<i>&gt; xscan.c:246: request for member `preview' in something not a structure or union</i><br>
<i>&gt; xscan.c: In function `input_available':</i><br>
<i>&gt; xscan.c:265: request for member `param' in something not a structure or union</i><br>
<i>&gt; xscan.c:282: request for member `bytes_read' in something not a structure or union</i><br>
<i>&gt; xscan.c:283: request for member `progress' in something not a structure or union</i><br>
<i>&gt; xscan.c:284: request for member `bytes_read' in something not a structure or union</i><br>
<i>&gt; xscan.c:284: request for member `num_bytes' in something not a structure or union</i><br>
<i>&gt; xscan.c:285: request for member `input_tag' in something not a structure or union</i><br>
<i>&gt; xscan.c:289: request for member `param' in something not a structure or union</i><br>
<i>&gt; xscan.c:293: request for member `mode' in something not a structure or union</i><br>
<i>&gt; xscan.c:294: request for member `out' in something not a structure or union</i><br>
<i>&gt; xscan.c:300: request for member `tile' in something not a structure or union</i><br>
<i>&gt; xscan.c:300: request for member `tile_offset' in something not a structure or union</i><br>
<i>&gt; xscan.c:301: request for member `x' in something not a structure or union</i><br>
<i>&gt; xscan.c:301: request for member `param' in something not a structure or union</i><br>
<i>&gt; xscan.c:303: request for member `x' in something not a structure or union</i><br>
<i>&gt; xscan.c:304: request for member `y' in something not a structure or union</i><br>
<i>&gt; xscan.c:305: request for member `y' in something not a structure or union</i><br>
<i>&gt; xscan.c:307: request for member `tile_offset' in something not a structure or union</i><br>
<i>&gt; xscan.c:309: request for member `region' in something not a structure or union</i><br>
<i>&gt; xscan.c:309: request for member `tile' in something not a structure or union</i><br>
<i>&gt; xscan.c:310: request for member `y' in something not a structure or union</i><br>
<i>&gt; xscan.c:311: request for member `param' in something not a structure or union</i><br>
<i>&gt; xscan.c:323: request for member `mode' in something not a structure or union</i><br>
<i>&gt; xscan.c:327: request for member `out' in something not a structure or union</i><br>
<i>&gt; xscan.c:328: request for member `out' in something not a structure or union</i><br>
<i>&gt; xscan.c:340: request for member `param' in something not a structure or union</i><br>
<i>&gt; xscan.c: In function `scan_done':</i><br>
<i>&gt; xscan.c:350: request for member `progress' in something not a structure or union</i><br>
<i>&gt; xscan.c:353: request for member `progress' in something not a structure or union</i><br>
<i>&gt; xscan.c:354: request for member `progress' in something not a structure or union</i><br>
<i>&gt; xscan.c:355: request for member `header_size' in something not a structure or union</i><br>
<i>&gt; xscan.c:357: request for member `mode' in something not a structure or union</i><br>
<i>&gt; xscan.c:359: request for member `out' in something not a structure or union</i><br>
<i>&gt; xscan.c:360: request for member `out' in something not a structure or union</i><br>
<i>&gt; xscan.c:368: request for member `y' in something not a structure or union</i><br>
<i>&gt; xscan.c:370: request for member `region' in something not a structure or union</i><br>
<i>&gt; xscan.c:370: request for member `tile' in something not a structure or union</i><br>
<i>&gt; xscan.c:371: request for member `y' in something not a structure or union</i><br>
<i>&gt; xscan.c:372: request for member `param' in something not a structure or union</i><br>
<i>&gt; xscan.c:373: request for member `drawable' in something not a structure or union</i><br>
<i>&gt; xscan.c:374: request for member `image_ID' in something not a structure or union</i><br>
<i>&gt; xscan.c:375: request for member `drawable' in something not a structure or union</i><br>
<i>&gt; xscan.c:376: request for member `tile' in something not a structure or union</i><br>
<i>&gt; xscan.c:377: request for member `tile' in something not a structure or union</i><br>
<i>&gt; xscan.c: In function `scan_start':</i><br>
<i>&gt; xscan.c:398: request for member `x' in something not a structure or union</i><br>
<i>&gt; xscan.c:398: request for member `y' in something not a structure or union</i><br>
<i>&gt; xscan.c:409: request for member `param' in something not a structure or union</i><br>
<i>&gt; xscan.c:418: request for member `num_bytes' in something not a structure or union</i><br>
<i>&gt; xscan.c:418: request for member `param' in something not a structure or union</i><br>
<i>&gt; xscan.c:418: request for member `param' in something not a structure or union</i><br>
<i>&gt; xscan.c:419: request for member `bytes_read' in something not a structure or union</i><br>
<i>&gt; xscan.c:421: request for member `param' in something not a structure or union</i><br>
<i>&gt; xscan.c:430: request for member `mode' in something not a structure or union</i><br>
<i>&gt; xscan.c:432: request for member `header_size' in something not a structure or union</i><br>
<i>&gt; xscan.c:434: request for member `param' in something not a structure or union</i><br>
<i>&gt; xscan.c:440: request for member `out' in something not a structure or union</i><br>
<i>&gt; xscan.c:441: request for member `param' in something not a structure or union</i><br>
<i>&gt; xscan.c:441: request for member `param' in something not a structure or union</i><br>
<i>&gt; xscan.c:445: request for member `param' in something not a structure or union</i><br>
<i>&gt; xscan.c:446: request for member `out' in something not a structure or union</i><br>
<i>&gt; xscan.c:447: request for member `param' in something not a structure or union</i><br>
<i>&gt; xscan.c:447: request for member `param' in something not a structure or union</i><br>
<i>&gt; xscan.c:449: request for member `out' in something not a structure or union</i><br>
<i>&gt; xscan.c:450: request for member `param' in something not a structure or union</i><br>
<i>&gt; xscan.c:450: request for member `param' in something not a structure or union</i><br>
<i>&gt; xscan.c:453: request for member `header_size' in something not a structure or union</i><br>
<i>&gt; xscan.c:453: request for member `out' in something not a structure or union</i><br>
<i>&gt; xscan.c:455: request for member `param' in something not a structure or union</i><br>
<i>&gt; xscan.c:456: request for member `param' in something not a structure or union</i><br>
<i>&gt; xscan.c:457: request for member `out' in something not a structure or union</i><br>
<i>&gt; xscan.c:458: request for member `header_size' in something not a structure or union</i><br>
<i>&gt; xscan.c:458: request for member `param' in something not a structure or union</i><br>
<i>&gt; xscan.c:468: request for member `tile' in something not a structure or union</i><br>
<i>&gt; xscan.c:474: request for member `param' in something not a structure or union</i><br>
<i>&gt; xscan.c:480: request for member `image_ID' in something not a structure or union</i><br>
<i>&gt; xscan.c:480: request for member `param' in something not a structure or union</i><br>
<i>&gt; xscan.c:481: request for member `param' in something not a structure or union</i><br>
<i>&gt; xscan.c:482: request for member `image_ID' in something not a structure or union</i><br>
<i>&gt; xscan.c:483: request for member `param' in something not a structure or union</i><br>
<i>&gt; xscan.c:484: request for member `param' in something not a structure or union</i><br>
<i>&gt; xscan.c:486: request for member `image_ID' in something not a structure or union</i><br>
<i>&gt; xscan.c:488: request for member `drawable' in something not a structure or union</i><br>
<i>&gt; xscan.c:489: request for member `region' in something not a structure or union</i><br>
<i>&gt; xscan.c:489: request for member `drawable' in something not a structure or union</i><br>
<i>&gt; xscan.c:490: request for member `drawable' in something not a structure or union</i><br>
<i>&gt; xscan.c:491: request for member `drawable' in something not a structure or union</i><br>
<i>&gt; xscan.c:492: request for member `tile_offset' in something not a structure or union</i><br>
<i>&gt; xscan.c:493: request for member `tile' in something not a structure or union</i><br>
<i>&gt; xscan.c:495: request for member `param' in something not a structure or union</i><br>
<i>&gt; xscan.c:501: request for member `progress' in something not a structure or union</i><br>
<i>&gt; xscan.c:502: request for member `progress' in something not a structure or union</i><br>
<i>&gt; xscan.c:503: request for member `progress' in something not a structure or union</i><br>
<i>&gt; xscan.c:506: request for member `input_tag' in something not a structure or union</i><br>
<i>&gt; xscan.c:509: request for member `input_tag' in something not a structure or union</i><br>
<i>&gt; xscan.c: In function `scan_dialog':</i><br>
<i>&gt; xscan.c:521: request for member `mode' in something not a structure or union</i><br>
<i>&gt; xscan.c:526: request for member `out' in something not a structure or union</i><br>
<i>&gt; xscan.c:527: request for member `out' in something not a structure or union</i><br>
<i>&gt; xscan.c: In function `device_dialog':</i><br>
<i>&gt; xscan.c:585: request for member `shell' in something not a structure or union</i><br>
<i>&gt; xscan.c:586: request for member `shell' in something not a structure or union</i><br>
<i>&gt; xscan.c:589: request for member `shell' in something not a structure or union</i><br>
<i>&gt; xscan.c:619: request for member `info_label' in something not a structure or union</i><br>
<i>&gt; xscan.c:620: request for member `info_label' in something not a structure or union</i><br>
<i>&gt; xscan.c:621: request for member `info_label' in something not a structure or union</i><br>
<i>&gt; xscan.c:626: request for member `shell' in something not a structure or union</i><br>
<i>&gt; xscan.c:668: request for member `shell' in something not a structure or union</i><br>
<i>&gt; xscan.c:579: warning: `vbox' might be used uninitialized in this function</i><br>
<i>&gt; xscan.c: In function `interface':</i><br>
<i>&gt; xscan.c:749: request for member `mode' in something not a structure or union</i><br>
<i>&gt; xscan.c:752: request for member `mode' in something not a structure or union</i><br>
<i>&gt; xscan.c:754: request for member `info_label' in something not a structure or union</i><br>
<i>&gt; make[1]: *** [xscan.o] Error 1</i><br>
<i>&gt; make[1]: Leaving directory `/root/sane-pre0.5/frontend'</i><br>
<i>&gt; make: *** [all-recursive] Error 1</i><br>
<i>&gt; </i><br>
<i>&gt; </i><br>
<i>&gt;      Y8b Y8P Y8b Y8P              888                  Y8b Y8P Y8b Y8P</i><br>
<i>&gt;       Y8b Y   Y8b Y   ,e e,   e88 888  e88 888  ,e e,   Y8b Y   Y8b Y</i><br>
<i>&gt;        Y8b     Y8b   d88 88b d888 888 d888 888 d88 88b   Y8b     Y8b</i><br>
<i>&gt;       e Y8b   e Y8b  888   , Y888 888 Y888 888 888   ,  e Y8b   e Y8b</i><br>
<i>&gt;      d8b Y8b d8b Y8b  "YeeP"  "88 888  "88 888  "YeeP" d8b Y8b d8b Y8b</i><br>
<i>&gt;        Linux is good                       88P   <a href="mailto:jeremy@xxedgexx.com">jeremy@xxedgexx.com</a></i><br>
<i>&gt;                                        "8",P"</i><br>
<i>&gt;      Join the xxedgexx mail list. Send email to <a href="mailto:xxedgexx-request@xxedgexx.com">xxedgexx-request@xxedgexx.com</a> </i><br>
<i>&gt;      with the word subscribe in the body of your messages.</i><br>
<i>&gt; </i><br>
<i>&gt; </i><br>
<i>&gt; </i><br>
<p>
     Y8b Y8P Y8b Y8P              888                  Y8b Y8P Y8b Y8P<br>
      Y8b Y   Y8b Y   ,e e,   e88 888  e88 888  ,e e,   Y8b Y   Y8b Y<br>
       Y8b     Y8b   d88 88b d888 888 d888 888 d88 88b   Y8b     Y8b<br>
      e Y8b   e Y8b  888   , Y888 888 Y888 888 888   ,  e Y8b   e Y8b<br>
     d8b Y8b d8b Y8b  "YeeP"  "88 888  "88 888  "YeeP" d8b Y8b d8b Y8b<br>
       Linux is good                       88P   <a href="mailto:jeremy@xxedgexx.com">jeremy@xxedgexx.com</a><br>
                                       "8",P"<br>
     Join the xxedgexx mail list. Send email to <a href="mailto:xxedgexx-request@xxedgexx.com">xxedgexx-request@xxedgexx.com</a> <br>
     with the word subscribe in the body of your messages.<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0029.html">David  Mosberger: "Re: Mustek Question, and pre0.5 Question."</a>
<li> <b>Previous message:</b> <a href="0027.html">David Mosberger-Tang: "yaspr"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
