<!-- received="Thu Mar 27 10:32:17 1997 MST" -->
<!-- sent="Thu, 27 Mar 1997 10:24:12 -0700" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="davidm@azstarnet.com" -->
<!-- subject="new snapshot" -->
<!-- id="199703271724.KAA05831@panda.mosberger" -->
<!-- inreplyto="" -->
<title>sane-devel: new snapshot</title>
<h1>new snapshot</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:davidm@azstarnet.com"><i>davidm@azstarnet.com</i></a>)<br>
<i>Thu, 27 Mar 1997 10:24:12 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#31">[ date ]</a><a href="index.html#31">[ thread ]</a><a href="subject.html#31">[ subject ]</a><a href="author.html#31">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0032.html">XxEDGExX: "Re: new snapshot"</a>
<li> <b>Previous message:</b> <a href="0030.html">David Mosberger-Tang: "Re: BW QuickCam"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0033.html">David Mosberger-Tang: "Re: new snapshot"</a>
<li> <b>Maybe reply:</b> <a href="0033.html">David Mosberger-Tang: "Re: new snapshot"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Just updated the snapshot at:<br>
<p>
	<a href="ftp://ftp.azstarnet.com/pub/linux/axp/sane/sane-pre0.5.tar.gz">ftp://ftp.azstarnet.com/pub/linux/axp/sane/sane-pre0.5.tar.gz</a><br>
<p>
This time:<br>
<p>
	- integrated 3-pass scanner fixes by Heiko Schroeder<br>
<p>
	- integrated "force unidirectional mode" patch by Guido Muesch<br>
	  (for QuickCam backend)<br>
<p>
	- three-pass scanning and 1 bit/pixel frames should now work<br>
	  in xscan (preview, standalone scan, and GIMP scan should all work);<br>
	  please test this if you have a 3-pass scanner<br>
<p>
	- fixed a bug in saned that caused it to segfault when running<br>
	  the PNM backend<br>
<p>
I tested this on Linux/Alpha (Red Hat 4.1).  The non-graphical parts I<br>
also tested on Linux/x86 (Red Hat 4.1).  Please give it a shot and let<br>
me know how it works (modulo GTK+ bugs).  In particular, I'd like to<br>
here from people with Mustek scanners.  If you're using such a scanner<br>
with SANE, I'd appreciate if you could send me the following info:<br>
<p>
  - scanner that you're using with SANE:<br>
<p>
	o the label on the front of the scanner (e.g. MFC-600S)<br>
	o the SCSI id of the scanner (e.g., MFC-06000CZ)<br>
	o the firmware revision (e.g., 1.01)<br>
<p>
    The latter two items you can get by invoking the following<br>
    command:<br>
<p>
 SANE_DEBUG_MUSTEK=128 scan -h -d mustek 2&gt;&amp;1 | fgrep -e found -e firmware<br>
<p>
  - the SCSI controller you're using to access the scanner<br>
<p>
Of course, if you're using an HP scanner I'd also be interested in<br>
getting the corresponding info.<br>
<p>
Enjoy,<br>
<p>
  --david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0032.html">XxEDGExX: "Re: new snapshot"</a>
<li> <b>Previous message:</b> <a href="0030.html">David Mosberger-Tang: "Re: BW QuickCam"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0033.html">David Mosberger-Tang: "Re: new snapshot"</a>
<li> <b>Maybe reply:</b> <a href="0033.html">David Mosberger-Tang: "Re: new snapshot"</a>
<!-- reply="end" -->
</ul>
