<!-- received="Mon Apr 21 15:01:40 1997 MST" -->
<!-- sent="Mon, 21 Apr 1997 14:51:28 -0700" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="davidm@azstarnet.com" -->
<!-- subject="Re: sane-0.54 now available!" -->
<!-- id="199704212151.OAA04197@panda.mosberger" -->
<!-- inreplyto="sane-0.54 now available!" -->
<title>sane-devel: Re: sane-0.54 now available!</title>
<h1>Re: sane-0.54 now available!</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:davidm@azstarnet.com"><i>davidm@azstarnet.com</i></a>)<br>
<i>Mon, 21 Apr 1997 14:51:28 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#67">[ date ]</a><a href="index.html#67">[ thread ]</a><a href="subject.html#67">[ subject ]</a><a href="author.html#67">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0068.html">Guido Muesch: "Connecting SANE and Java?"</a>
<li> <b>Previous message:</b> <a href="0066.html">Guido Muesch: "Re: sane-0.54 now available!"</a>
<li> <b>Maybe in reply to:</b> <a href="0058.html">David Mosberger-Tang: "sane-0.54 now available!"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0068.html">Guido Muesch: "Connecting SANE and Java?"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
 Guido&gt; What do I need to get xcam and xscanimage running?<br>
 Guido&gt; I did a 'configure' and 'make install' of gtk+970418-davidm and then a<br>
 Guido&gt; 'configure' and 'make' of sane-0.54 but it does not build the X11<br>
 Guido&gt; frontends.<br>
<p>
That should be all that's needed.<br>
<p>
 Guido&gt; It seems not to have recognized libgtk and libgdk.<br>
<p>
This is the problem, though it's not clear why they weren't found.<br>
Can you look at config.log to see why -lgdk wasn't found?  It's also<br>
strange that it didn't find -lXext.  For comparison, here are the<br>
relevant lines I get on my x86 laptop (also running RH4.1):<br>
<p>
	checking for main in -lXext... yes<br>
	checking for main in -lX11... yes<br>
	checking for main in -lXpm... yes<br>
	checking for main in -lglib... yes<br>
	checking for main in -lgdk... yes<br>
	checking for gtk_check_button_new in -lgtk... yes<br>
	checking for libgimp/gimp.h... yes<br>
<p>
If you like, send me the config.log you get.<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0068.html">Guido Muesch: "Connecting SANE and Java?"</a>
<li> <b>Previous message:</b> <a href="0066.html">Guido Muesch: "Re: sane-0.54 now available!"</a>
<li> <b>Maybe in reply to:</b> <a href="0058.html">David Mosberger-Tang: "sane-0.54 now available!"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0068.html">Guido Muesch: "Connecting SANE and Java?"</a>
<!-- reply="end" -->
</ul>
