<!-- received="Thu Apr 24 20:56:27 1997 MST" -->
<!-- sent="Thu, 24 Apr 1997 22:44:00 -0500" -->
<!-- name="cummings@mcmsys.com" -->
<!-- email="cummings@mcmsys.com" -->
<!-- subject="Problems with sane" -->
<!-- id="199704250344.WAA06870@stingray.net" -->
<!-- inreplyto="" -->
<title>sane-devel: Problems with sane</title>
<h1>Problems with sane</h1>
<a href="mailto:cummings@mcmsys.com"><i>cummings@mcmsys.com</i></a><br>
<i>Thu, 24 Apr 1997 22:44:00 -0500</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#88">[ date ]</a><a href="index.html#88">[ thread ]</a><a href="subject.html#88">[ subject ]</a><a href="author.html#88">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0089.html">cummings@mcmsys.com: "Re: Problems with sane"</a>
<li> <b>Previous message:</b> <a href="0087.html">Mathias Weigt: "xscanimage performance"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0089.html">cummings@mcmsys.com: "Re: Problems with sane"</a>
<li> <b>Maybe reply:</b> <a href="0089.html">cummings@mcmsys.com: "Re: Problems with sane"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I have a problem with sane not working, or more to the point it won't see my scanner, though mscan does work with it.<br>
<p>
I will say that when I was using slackware 96 v 3.0 I was able to install sane and use the .53 version ok, all I did was to ./configure make and make install and it worked.  I reinstalled slackware 3.2, mostly to clean up my drives, the older 3.0 I was running was as modern as 3.2 insofar as libs and compiler's etc that I'd upgraded...<br>
<p>
What happens is that when I run xscanimage (or even xscan with the .53 version installed), it won't come up with the mustek selection.  All I see is the pnm selections, and according to the debugging info, the backend is loaded.  If I settle for the pnm selection, a window comes up when I click ok with Invalid parameters in a status line at the bottom, and of course the scanning won't work.  <br>
<p>
At this point if I quit the program and use mscan I'll get a scan, but if I go back to xscanimage and try it I will get the same results which I take to mean that the scanner is ok, and the device name is correct.<br>
<p>
This is where I'm at a loss, I don't know what more to check out, same computer, same libs, binutils, libc, and even the same gtk stuff.  The only thing different is that I installed Slackware 3.2 and the libs were precompiled.  Everything else works, the new gimp works great, it's version 0.99-8.  One difference but I'm not sure it's relevant, I did have the older .54 version on slackware 96, but compiled the new version and tried it.  I did uninstall it and recompile sane and programs, but no luck there either.<br>
<p>
Any clues for me?<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0089.html">cummings@mcmsys.com: "Re: Problems with sane"</a>
<li> <b>Previous message:</b> <a href="0087.html">Mathias Weigt: "xscanimage performance"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0089.html">cummings@mcmsys.com: "Re: Problems with sane"</a>
<li> <b>Maybe reply:</b> <a href="0089.html">cummings@mcmsys.com: "Re: Problems with sane"</a>
<!-- reply="end" -->
</ul>
