<!-- received="Fri May  9 00:08:48 1997 MST" -->
<!-- sent="Fri, 9 May 1997 08:23:11 -0600" -->
<!-- name="Mathias Weigt" -->
<!-- email="p5iba@medchem2.pharmazie.uni-halle.de" -->
<!-- subject="Re: sane-0.56 and hp" -->
<!-- id="9705090823.ZM17648@medchem2.pharmazie.uni-halle.de" -->
<!-- inreplyto="199705090250.TAA07530@panda.mosberger" -->
<title>sane-devel: Re: sane-0.56 and hp</title>
<h1>Re: sane-0.56 and hp</h1>
<b>Mathias Weigt</b> (<a href="mailto:p5iba@medchem2.pharmazie.uni-halle.de"><i>p5iba@medchem2.pharmazie.uni-halle.de</i></a>)<br>
<i>Fri, 9 May 1997 08:23:11 -0600</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#130">[ date ]</a><a href="index.html#130">[ thread ]</a><a href="subject.html#130">[ subject ]</a><a href="author.html#130">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0131.html">Thomas Blume: "Re: Mustek/Request-sense problems -&gt; Solution?"</a>
<li> <b>Previous message:</b> <a href="0129.html">David Mosberger-Tang: "scanimage man page: here it is"</a>
<li> <b>In reply to:</b> <a href="0128.html">David Mosberger-Tang: "Re: sane-0.56 and hp"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0132.html">David Mosberger-Tang: "Re: sane-0.56 and hp"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Servus !<br>
<p>
<i>&gt;   Simon&gt; Note that I added the hp on the end -- it never gets put</i><br>
<i>&gt;   Simon&gt; there for some reason...</i><br>
<i>&gt;</i><br>
<i>&gt;   Simon&gt; My /dev/scanner is linked to /dev/sge, as I saw in my</i><br>
<i>&gt;   Simon&gt; startup:</i><br>
<i>&gt;</i><br>
<i>&gt;   Simon&gt;   Vendor: HP        Model: C2520A Rev: 3503</i><br>
<i>&gt;   Simon&gt;   Type:   Processor               ANSI SCSI revision: 02</i><br>
<i>&gt;   Simon&gt; Detected scsi generic sge at scsi0, channel 0, id 6, lun 0</i><br>
<p>
<i>&gt; The debug output you sent indicates that the HP backend gets loaded.</i><br>
<i>&gt; However, for some reason the backend doesn't "see" the scanner.  Could</i><br>
<i>&gt; you run:</i><br>
<p>
I had a similar problem when installing a HP Scanjet 4P in a Linux environment.<br>
My solution was very similar but brutal. As you can see HP scanners use Type<br>
Processor (I think this 0x3). Just to get it scanning with sane I changed<br>
in /usr/include/scsi/scsi.h (/usr/src/linux/include/linux/scsi/scsi.h)<br>
the #define TYPE_PROCESSOR ... in #define TYPE_SCANNER ...<br>
Then I recompiled sane and the scanjet was recognized correctly.<br>
I mentioned this already in message00036.html in the mailing list.<br>
Maybe this could be useful...<br>
<p>
<pre>
-- 
Mathias Weigt 
<a href="mailto:p5iba@medchem2.pharmazie.uni-halle.de">p5iba@medchem2.pharmazie.uni-halle.de</a>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0131.html">Thomas Blume: "Re: Mustek/Request-sense problems -&gt; Solution?"</a>
<li> <b>Previous message:</b> <a href="0129.html">David Mosberger-Tang: "scanimage man page: here it is"</a>
<li> <b>In reply to:</b> <a href="0128.html">David Mosberger-Tang: "Re: sane-0.56 and hp"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0132.html">David Mosberger-Tang: "Re: sane-0.56 and hp"</a>
<!-- reply="end" -->
</ul>
