<!-- received="Sat May 10 16:32:47 1997 MST" -->
<!-- sent="Sat, 10 May 1997 15:58:20 -0700" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="davidm@azstarnet.com" -->
<!-- subject="sane-0.57 available" -->
<!-- id="199705102258.PAA25064@panda.mosberger" -->
<!-- inreplyto="" -->
<title>sane-devel: sane-0.57 available</title>
<h1>sane-0.57 available</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:davidm@azstarnet.com"><i>davidm@azstarnet.com</i></a>)<br>
<i>Sat, 10 May 1997 15:58:20 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#134">[ date ]</a><a href="index.html#134">[ thread ]</a><a href="subject.html#134">[ subject ]</a><a href="author.html#134">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0135.html">Michael K. Johnson: "Re: reviewers wanted"</a>
<li> <b>Previous message:</b> <a href="0133.html">David Mosberger-Tang: "reviewers wanted"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0145.html">Matthias Lautner: "Re: sane-0.57 available"</a>
<li> <b>Reply:</b> <a href="0145.html">Matthias Lautner: "Re: sane-0.57 available"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I just uploaded version 0.57 of the SANE distribution.  It's in:<br>
<p>
	<a href="ftp://ftp.azstarnet.com/pub/linux/axp/sane/">ftp://ftp.azstarnet.com/pub/linux/axp/sane/</a><br>
<p>
The relevant files are:<br>
<p>
-rw-rw-r--   1 davidm   axplinux   30636 May 10 15:52 sane-0.56-0.57.diff.gz<br>
-rw-rw-r--   1 davidm   axplinux     777 May 10 15:55 sane-0.57.lsm<br>
-rw-rw-r--   1 davidm   axplinux  275320 May 10 15:55 sane-0.57.tar.gz<br>
<p>
The headline <a href="news:">news:</a><br>
<p>
	- The Mustek backend now supports a "Force monochrome preview" option.<br>
	  If you have a three-pass scanner, be sure to test out this version.<br>
	  I had to make some changes that might have broken three-pass<br>
	  scanning (I hope I didn't, but you know how these things go...)<br>
<p>
	- SANE now also builds under SunOS (sorry, no user-level SCSI support<br>
	  as of yet)<br>
<p>
	- A man-page for scanimage has been added.<br>
<p>
	- Various other bug fixes/improvements.<br>
<p>
Let me know how this works.<br>
<p>
Enjoy,<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0135.html">Michael K. Johnson: "Re: reviewers wanted"</a>
<li> <b>Previous message:</b> <a href="0133.html">David Mosberger-Tang: "reviewers wanted"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0145.html">Matthias Lautner: "Re: sane-0.57 available"</a>
<li> <b>Reply:</b> <a href="0145.html">Matthias Lautner: "Re: sane-0.57 available"</a>
<!-- reply="end" -->
</ul>
