<!-- received="Sun May 11 07:05:09 1997 MST" -->
<!-- sent="Sun, 11 May 1997 09:40:27 -0400" -->
<!-- name="Michael J. Long" -->
<!-- email="mjlong@mindspring.com" -->
<!-- subject="Q: Status of Microtek backend??" -->
<!-- id="199705102340.TAA22715@nigel.redhat.com" -->
<!-- inreplyto="" -->
<title>sane-devel: Q: Status of Microtek backend??</title>
<h1>Q: Status of Microtek backend??</h1>
<b>Michael J. Long</b> (<a href="mailto:mjlong@mindspring.com"><i>mjlong@mindspring.com</i></a>)<br>
<i>Sun, 11 May 1997 09:40:27 -0400</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#136">[ date ]</a><a href="index.html#136">[ thread ]</a><a href="subject.html#136">[ subject ]</a><a href="author.html#136">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0137.html">Nem W Schlecht: "Re: Q: Status of Microtek backend??"</a>
<li> <b>Previous message:</b> <a href="0135.html">Michael K. Johnson: "Re: reviewers wanted"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I have looked through the mailing list archives and saw that<br>
a couple of people have volunteered to develop it.<br>
<p>
Does anyone know the status of the development??  I have a<br>
Microtek ScanMaker HRII and can't get mtekscan to work with<br>
it.  Therefore, I am hoping this will work.  I am willing to<br>
be a tester for it when it is ready.<br>
<p>
Thanks,<br>
Michael J. Long<br>
<p>
<pre>
-- 
* Michael J. Long * #include &lt;disclaimer.h&gt;
*     NORTEL      * Work: <a href="mailto:mjlong@nortel.ca">mjlong@nortel.ca</a>
*    RTP,  NC     * Play: <a href="mailto:mjlong@mindspring.com">mjlong@mindspring.com</a>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0137.html">Nem W Schlecht: "Re: Q: Status of Microtek backend??"</a>
<li> <b>Previous message:</b> <a href="0135.html">Michael K. Johnson: "Re: reviewers wanted"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
