<!-- received="Wed May 14 14:41:40 1997 MST" -->
<!-- sent="Wed, 14 May 1997 19:07:14 +0200 (MET DST)" -->
<!-- name="becka@sunserver1.rz.uni-duesseldorf.de" -->
<!-- email="becka@sunserver1.rz.uni-duesseldorf.de" -->
<!-- subject="Re: Scanner and Printer - Copier" -->
<!-- id="m0wRhWE-000BVMC@charon.beck-sw.de" -->
<!-- inreplyto="3379A4DD.843BD0D6@eureka.infra.de" -->
<title>sane-devel: Re: Scanner and Printer - Copier</title>
<h1>Re: Scanner and Printer - Copier</h1>
<a href="mailto:becka@sunserver1.rz.uni-duesseldorf.de"><i>becka@sunserver1.rz.uni-duesseldorf.de</i></a><br>
<i>Wed, 14 May 1997 19:07:14 +0200 (MET DST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#148">[ date ]</a><a href="index.html#148">[ thread ]</a><a href="subject.html#148">[ subject ]</a><a href="author.html#148">[ author ]</a>
<!-- next="start" -->
<li> <b>Previous message:</b> <a href="0147.html">David Mosberger-Tang: "[patch] Re: sane-0.57 available"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt; i am wondering if there is a simple way to copy something with scanner</i><br>
<i>&gt; and printer. It would be nice to have a copy button in sane or just a </i><br>
<i>&gt; simple new frontend.</i><br>
Adding such a function to an existing frontend shouldn't be hard.<br>
<p>
scanimage should do when used in a pipe like<br>
scanimage $* | ppmtops | lpr<br>
<p>
The x-based frontends could do the same by writing output to a pipe.<br>
<p>
Please note, that this will cause problems with 3-pass-scanners, as they<br>
will want to seek on the output-file to make a correct PPM.<br>
<p>
Another simple solution would be to have a configureable "commands-menu"<br>
which can be used to do different things on the output-file. I think of <br>
something along the lines of<br>
<p>
XView : xview %f	 - xview gets started when Menu-Item is selected<br>
Print : ppmtops %f | lpr - print the last scan<br>
ToGif : ppmtops %f &gt;%f.gif - convert to gif<br>
...<br>
<p>
CU,Andy<br>
<p>
<pre>
-- 
Andreas Beck              |  Email :  &lt;<a href="mailto:becka@sunserver1.rz.uni-duesseldorf.de">becka@sunserver1.rz.uni-duesseldorf.de</a>&gt;
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Previous message:</b> <a href="0147.html">David Mosberger-Tang: "[patch] Re: sane-0.57 available"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
