<title>sane-devel by author</title>
<a name="start"><h1>sane-devel by author</h1></a>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#start">[ date ]</a><a href="index.html#start">[ thread ]</a><a href="subject.html#start">[ subject ]</a>
<li> <b><a href="..">Other mail archives</a></b>
</ul>
<p>
<b>Starting:</b> <i>Tue 25 Feb 1997 - 08:42:42 MST</i><br>
<b>Ending:</b> <i>Wed 14 May 1997 - 14:41:40 MST</i><br>
<b>Messages:</b> 149
<p>
<ul>
<li> <b>Alex Belits</b>
<ul>
<li> <a href="0015.html">QuickCam drivers</a> <a name="15"><i>Tue, 18 Mar 1997 17:05:08 -0800 (PST)</i></a>
</ul>
<li> <b>Andreas Kabel</b>
<ul>
<li> <a href="0104.html">MFC-08000CZ</a> <a name="104"><i>Sun, 4 May 1997 11:42:30 +0200 (MET DST)</i></a>
</ul>
<li> <b>Andy Thaller</b>
<ul>
<li> <a href="0107.html">turning off scanner-lamp</a> <a name="107"><i>Mon, 5 May 1997 16:34:24 +0200 (MET DST)</i></a>
</ul>
<ul>
<li> <a href="0098.html">xscanimage</a> <a name="98"><i>Sat, 3 May 1997 18:48:24 +0200 (MET DST)</i></a>
</ul>
<ul>
<li> <a href="0097.html">Re: MFS-6000CX (id MSF-06000CZ) and Future Domain</a> <a name="97"><i>Sat, 3 May 1997 18:24:04 +0200 (MET DST)</i></a>
</ul>
<li> <b>becka@sunserver1.rz.uni-duesseldorf.de</b>
<ul>
<li> <a href="0148.html">Re: Scanner and Printer - Copier</a> <a name="148"><i>Wed, 14 May 1997 19:07:14 +0200 (MET DST)</i></a>
</ul>
<ul>
<li> <a href="0143.html">Re: Mustek Scanner distorted image lines</a> <a name="143"><i>Tue, 13 May 1997 00:33:47 +0200 (MET DST)</i></a>
</ul>
<ul>
<li> <a href="0117.html">Re: Mustek Paragon CD II</a> <a name="117"><i>Wed, 7 May 1997 11:25:10 +0200 (MET DST)</i></a>
</ul>
<ul>
<li> <a href="0093.html">Re: feature request: xscanimage postview window</a> <a name="93"><i>Sat, 26 Apr 1997 13:56:47 +0200 (MET DST)</i></a>
</ul>
<ul>
<li> <a href="0065.html">Re: Handheld Scanners supp.?</a> <a name="65"><i>Mon, 21 Apr 1997 13:15:43 +0200 (MET DST)</i></a>
</ul>
<ul>
<li> <a href="0056.html">Re: Name collision (serious)</a> <a name="56"><i>Sun, 20 Apr 1997 13:31:45 +0200 (MET DST)</i></a>
</ul>
<ul>
<li> <a href="0012.html">Re: Scan Area &amp; Origin (4.5.2)</a> <a name="12"><i>Fri, 14 Mar 1997 01:18:29 +0100 (MET)</i></a>
</ul>
<li> <b>cummings@mcmsys.com</b>
<ul>
<li> <a href="0089.html">Re: Problems with sane</a> <a name="89"><i>Fri, 25 Apr 1997 07:00:34 -0500</i></a>
</ul>
<ul>
<li> <a href="0088.html">Problems with sane</a> <a name="88"><i>Thu, 24 Apr 1997 22:44:00 -0500</i></a>
</ul>
<li> <b>David  Mosberger</b>
<ul>
<li> <a href="0095.html">Re: MFS-6000CX (id MSF-06000CZ) and Future Domain</a> <a name="95"><i>Fri, 2 May 1997 17:17:12 -0700 (MST)</i></a>
</ul>
<ul>
<li> <a href="0084.html">Re: xscan performance</a> <a name="84"><i>Wed, 23 Apr 1997 19:55:07 -0700 (MST)</i></a>
</ul>
<ul>
<li> <a href="0029.html">Re: Mustek Question, and pre0.5 Question.</a> <a name="29"><i>Tue, 25 Mar 1997 17:22:24 -0700 (MST)</i></a>
</ul>
<li> <b>David Mosberger-Tang</b>
<ul>
<li> <a href="0147.html">[patch] Re: sane-0.57 available</a> <a name="147"><i>Wed, 14 May 1997 09:16:08 -0700</i></a>
</ul>
<ul>
<li> <a href="0144.html">Re: no mustek device - MFS6000SP</a> <a name="144"><i>Tue, 13 May 1997 07:28:47 -0700</i></a>
</ul>
<ul>
<li> <a href="0140.html">small preview fix</a> <a name="140"><i>Mon, 12 May 1997 07:58:30 -0700</i></a>
</ul>
<ul>
<li> <a href="0139.html">Re: Q: Status of Microtek backend??</a> <a name="139"><i>Mon, 12 May 1997 07:49:53 -0700</i></a>
</ul>
<ul>
<li> <a href="0134.html">sane-0.57 available</a> <a name="134"><i>Sat, 10 May 1997 15:58:20 -0700</i></a>
</ul>
<ul>
<li> <a href="0133.html">reviewers wanted</a> <a name="133"><i>Sat, 10 May 1997 15:48:22 -0700</i></a>
</ul>
<ul>
<li> <a href="0132.html">Re: sane-0.56 and hp</a> <a name="132"><i>Fri, 9 May 1997 07:39:00 -0700</i></a>
</ul>
<ul>
<li> <a href="0129.html">scanimage man page: here it is</a> <a name="129"><i>Thu, 8 May 1997 22:02:23 -0700</i></a>
</ul>
<ul>
<li> <a href="0128.html">Re: sane-0.56 and hp</a> <a name="128"><i>Thu, 8 May 1997 19:50:48 -0700</i></a>
</ul>
<ul>
<li> <a href="0127.html">Re: Mustek/Request-sense problems -&gt; Solution?</a> <a name="127"><i>Thu, 8 May 1997 13:33:23 -0700</i></a>
</ul>
<ul>
<li> <a href="0125.html">Re: Mustek/Request-sense problems -&gt; Solution?</a> <a name="125"><i>Wed, 7 May 1997 18:16:40 -0700</i></a>
</ul>
<ul>
<li> <a href="0123.html">avoiding scanner damage</a> <a name="123"><i>Wed, 7 May 1997 07:33:50 -0700</i></a>
</ul>
<ul>
<li> <a href="0122.html">avoiding scanner damage</a> <a name="122"><i>Wed, 7 May 1997 07:33:50 -0700</i></a>
</ul>
<ul>
<li> <a href="0121.html">Re: Mustek Paragon CD II</a> <a name="121"><i>Wed, 7 May 1997 08:23:50 -0700</i></a>
</ul>
<ul>
<li> <a href="0120.html">Re: More about Mustek CD II</a> <a name="120"><i>Wed, 7 May 1997 08:21:47 -0700</i></a>
</ul>
<ul>
<li> <a href="0116.html">[patch] small but important fix for MFC-8000CZ</a> <a name="116"><i>Tue, 6 May 1997 19:56:01 -0700</i></a>
</ul>
<ul>
<li> <a href="0115.html">Re: Mustek Paragon CD II</a> <a name="115"><i>Tue, 6 May 1997 19:38:59 -0700</i></a>
</ul>
<ul>
<li> <a href="0112.html">Re: turning off scanner-lamp</a> <a name="112"><i>Mon, 5 May 1997 09:43:18 -0700</i></a>
</ul>
<ul>
<li> <a href="0111.html">generic SCSI on SunOS/Solaris?</a> <a name="111"><i>Mon, 5 May 1997 10:11:43 -0700</i></a>
</ul>
<ul>
<li> <a href="0110.html">Re: turning off scanner-lamp</a> <a name="110"><i>Mon, 5 May 1997 09:47:48 -0700</i></a>
</ul>
<ul>
<li> <a href="0108.html">Re: turning off scanner-lamp</a> <a name="108"><i>Mon, 5 May 1997 08:20:09 -0700</i></a>
</ul>
<ul>
<li> <a href="0105.html">Re: MFS-6000CX (id MSF-06000CZ) and Future Domain</a> <a name="105"><i>Sun, 4 May 1997 09:57:27 -0700</i></a>
</ul>
<ul>
<li> <a href="0102.html">Re: Kodak ds-20 camera interface</a> <a name="102"><i>Sat, 3 May 1997 15:57:21 -0700</i></a>
</ul>
<ul>
<li> <a href="0101.html">Re: scanner help</a> <a name="101"><i>Sat, 3 May 1997 15:52:04 -0700</i></a>
</ul>
<ul>
<li> <a href="0100.html">Re: xscanimage</a> <a name="100"><i>Sat, 3 May 1997 15:35:10 -0700</i></a>
</ul>
<ul>
<li> <a href="0082.html">sane-0.55 now available!</a> <a name="82"><i>Tue, 22 Apr 1997 19:16:31 -0700</i></a>
</ul>
<ul>
<li> <a href="0081.html">Re: Connecting SANE and Java?</a> <a name="81"><i>Tue, 22 Apr 1997 17:43:26 -0700</i></a>
</ul>
<ul>
<li> <a href="0078.html">Re: sane-0.54 now available!</a> <a name="78"><i>Tue, 22 Apr 1997 09:14:36 -0700</i></a>
</ul>
<ul>
<li> <a href="0076.html">Re: Connecting SANE and Java?</a> <a name="76"><i>Tue, 22 Apr 1997 07:23:09 -0700</i></a>
</ul>
<ul>
<li> <a href="0075.html">Re: sane-0.54 now available!</a> <a name="75"><i>Tue, 22 Apr 1997 07:09:45 -0700</i></a>
</ul>
<ul>
<li> <a href="0072.html">man pages</a> <a name="72"><i>Mon, 21 Apr 1997 23:12:04 -0700</i></a>
</ul>
<ul>
<li> <a href="0071.html">Re: PINT driver patches</a> <a name="71"><i>Mon, 21 Apr 1997 15:55:55 -0700</i></a>
</ul>
<ul>
<li> <a href="0069.html">Re: Connecting SANE and Java?</a> <a name="69"><i>Mon, 21 Apr 1997 15:33:41 -0700</i></a>
</ul>
<ul>
<li> <a href="0067.html">Re: sane-0.54 now available!</a> <a name="67"><i>Mon, 21 Apr 1997 14:51:28 -0700</i></a>
</ul>
<ul>
<li> <a href="0064.html">HP &amp; PINT screen shots</a> <a name="64"><i>Mon, 21 Apr 1997 11:58:20 -0700</i></a>
</ul>
<ul>
<li> <a href="0063.html">Re: PINT driver patches</a> <a name="63"><i>Mon, 21 Apr 1997 11:57:14 -0700</i></a>
</ul>
<ul>
<li> <a href="0061.html">Re: sane-0.54 now available!</a> <a name="61"><i>Mon, 21 Apr 1997 09:24:56 -0700</i></a>
</ul>
<ul>
<li> <a href="0059.html">Re: Handheld Scanners supp.?</a> <a name="59"><i>Sun, 20 Apr 1997 17:17:42 -0700</i></a>
</ul>
<ul>
<li> <a href="0058.html">sane-0.54 now available!</a> <a name="58"><i>Sun, 20 Apr 1997 17:10:11 -0700</i></a>
</ul>
<ul>
<li> <a href="0057.html">Re: Name collision (serious)</a> <a name="57"><i>Sun, 20 Apr 1997 09:13:16 -0700</i></a>
</ul>
<ul>
<li> <a href="0054.html">Re: mustek 3-pass backend now working!</a> <a name="54"><i>Thu, 17 Apr 1997 14:20:30 -0700</i></a>
</ul>
<ul>
<li> <a href="0052.html">mustek 3-pass backend now working!</a> <a name="52"><i>Thu, 17 Apr 1997 11:41:45 -0700</i></a>
</ul>
<ul>
<li> <a href="0051.html">Re: MFS-12000CX</a> <a name="51"><i>Wed, 16 Apr 1997 09:26:52 -0700</i></a>
</ul>
<ul>
<li> <a href="0049.html">anybody with a Mustek 3-pass scanner?</a> <a name="49"><i>Thu, 10 Apr 1997 09:08:28 -0700</i></a>
</ul>
<ul>
<li> <a href="0048.html">Re: color scanning and MFS-6000CX</a> <a name="48"><i>Tue, 8 Apr 1997 10:45:26 -0700</i></a>
</ul>
<ul>
<li> <a href="0043.html">gtk-tooltips.diff.gz</a> <a name="43"><i>Wed, 2 Apr 1997 21:02:48 -0700</i></a>
</ul>
<ul>
<li> <a href="0042.html">Re: 0.50: xscan parameters label problems</a> <a name="42"><i>Wed, 2 Apr 1997 13:51:03 -0700</i></a>
</ul>
<ul>
<li> <a href="0040.html">Re: =?iso-8859-1?Q?MUSTEK=3A_color_scanning_still_doesn=B4t_work?=</a> <a name="40"><i>Wed, 2 Apr 1997 07:29:18 -0700</i></a>
</ul>
<ul>
<li> <a href="0038.html">sane-0.51 available</a> <a name="38"><i>Tue, 1 Apr 1997 19:50:23 -0700</i></a>
</ul>
<ul>
<li> <a href="0035.html">sane-0.5 now available</a> <a name="35"><i>Mon, 31 Mar 1997 18:25:28 -0700</i></a>
</ul>
<ul>
<li> <a href="0033.html">Re: new snapshot</a> <a name="33"><i>Sun, 30 Mar 1997 23:46:38 -0700</i></a>
</ul>
<ul>
<li> <a href="0031.html">new snapshot</a> <a name="31"><i>Thu, 27 Mar 1997 10:24:12 -0700</i></a>
</ul>
<ul>
<li> <a href="0030.html">Re: BW QuickCam</a> <a name="30"><i>Wed, 26 Mar 1997 18:27:10 -0700</i></a>
</ul>
<ul>
<li> <a href="0027.html">yaspr</a> <a name="27"><i>Sun, 23 Mar 1997 00:05:10 -0700</i></a>
</ul>
<ul>
<li> <a href="0026.html">two more features</a> <a name="26"><i>Fri, 21 Mar 1997 21:05:11 -0700</i></a>
</ul>
<ul>
<li> <a href="0025.html">yet another pre0.5 release</a> <a name="25"><i>Fri, 21 Mar 1997 00:42:13 -0700</i></a>
</ul>
<ul>
<li> <a href="0024.html">Re: another pre0.5 snapshot</a> <a name="24"><i>Thu, 20 Mar 1997 11:12:11 -0700</i></a>
</ul>
<ul>
<li> <a href="0022.html">another pre0.5 snapshot</a> <a name="22"><i>Wed, 19 Mar 1997 23:12:15 -0700</i></a>
</ul>
<ul>
<li> <a href="0021.html">HP backend for SANE</a> <a name="21"><i>Wed, 19 Mar 1997 19:36:54 -0700</i></a>
</ul>
<ul>
<li> <a href="0018.html">Re: Microtek Sane Backend</a> <a name="18"><i>Tue, 18 Mar 1997 22:08:43 -0700</i></a>
</ul>
<ul>
<li> <a href="0016.html">Re: QuickCam drivers</a> <a name="16"><i>Tue, 18 Mar 1997 18:19:34 -0700</i></a>
</ul>
<ul>
<li> <a href="0014.html">Re: BW QuickCam</a> <a name="14"><i>Tue, 18 Mar 1997 17:40:36 -0700</i></a>
</ul>
<ul>
<li> <a href="0010.html">Re: sane and java?</a> <a name="10"><i>Wed, 12 Mar 1997 22:21:58 -0700</i></a>
</ul>
<ul>
<li> <a href="0009.html">Re: sane and java?</a> <a name="9"><i>Wed, 12 Mar 1997 16:53:25 -0700</i></a>
</ul>
<ul>
<li> <a href="0007.html">Re: sane and java?</a> <a name="7"><i>Wed, 12 Mar 1997 15:02:32 -0700</i></a>
</ul>
<ul>
<li> <a href="0005.html">Re: SANE-pre0.5 snapshot available</a> <a name="5"><i>Tue, 11 Mar 1997 07:11:06 -0700</i></a>
</ul>
<ul>
<li> <a href="0004.html">Re: Hello.</a> <a name="4"><i>Mon, 10 Mar 1997 23:13:32 -0700</i></a>
</ul>
<ul>
<li> <a href="0003.html">SANE-pre0.5 snapshot available</a> <a name="3"><i>Mon, 10 Mar 1997 23:07:39 -0700</i></a>
</ul>
<ul>
<li> <a href="0001.html">SANE in the graphics-muse</a> <a name="1"><i>Thu, 6 Mar 1997 12:44:48 -0700</i></a>
</ul>
<li> <b>Gordon Matzigkeit</b>
<ul>
<li> <a href="0094.html">Re: feature request: xscanimage postview window</a> <a name="94"><i>27 Apr 1997 09:46:47 -0600</i></a>
</ul>
<ul>
<li> <a href="0092.html">manual page for PINT backend</a> <a name="92"><i>26 Apr 1997 14:09:26 -0600</i></a>
</ul>
<ul>
<li> <a href="0091.html">GTK buglet? [xscanimage length unit display]</a> <a name="91"><i>25 Apr 1997 16:14:20 -0600</i></a>
</ul>
<ul>
<li> <a href="0090.html">feature request: xscanimage postview window</a> <a name="90"><i>25 Apr 1997 15:55:00 -0600</i></a>
</ul>
<ul>
<li> <a href="0085.html">sane-0.55: PINT/NetBSD fixes</a> <a name="85"><i>23 Apr 1997 23:39:49 -0600</i></a>
</ul>
<ul>
<li> <a href="0070.html">Re: PINT driver patches</a> <a name="70"><i>21 Apr 1997 16:14:04 -0600</i></a>
</ul>
<ul>
<li> <a href="0062.html">PINT driver patches</a> <a name="62"><i>21 Apr 1997 18:16:44 -0000</i></a>
</ul>
<ul>
<li> <a href="0044.html">Re: 0.50: xscan parameters label problems</a> <a name="44"><i>03 Apr 1997 00:01:57 -0700</i></a>
</ul>
<ul>
<li> <a href="0041.html">0.50: xscan parameters label problems</a> <a name="41"><i>02 Apr 1997 12:03:59 -0700</i></a>
</ul>
<ul>
<li> <a href="0037.html">sane-0.5: trivial strndup fix</a> <a name="37"><i>01 Apr 1997 13:25:36 -0700</i></a>
</ul>
<li> <b>Guido Muesch</b>
<ul>
<li> <a href="0074.html">Re: Connecting SANE and Java?</a> <a name="74"><i>Tue, 22 Apr 1997 15:38:06 +0200 (MET DST)</i></a>
</ul>
<ul>
<li> <a href="0068.html">Connecting SANE and Java?</a> <a name="68"><i>Tue, 22 Apr 1997 00:02:20 +0200 (MET DST)</i></a>
</ul>
<ul>
<li> <a href="0066.html">Re: sane-0.54 now available!</a> <a name="66"><i>Mon, 21 Apr 1997 23:31:26 +0200 (MET DST)</i></a>
</ul>
<ul>
<li> <a href="0023.html">Re: another pre0.5 snapshot</a> <a name="23"><i>Thu, 20 Mar 1997 18:48:31 +0100 (MET)</i></a>
</ul>
<ul>
<li> <a href="0020.html">Re: BW QuickCam</a> <a name="20"><i>Wed, 19 Mar 1997 11:04:18 +0100 (MET)</i></a>
</ul>
<ul>
<li> <a href="0013.html">BW QuickCam</a> <a name="13"><i>Mon, 17 Mar 1997 23:11:14 +0100 (MET)</i></a>
</ul>
<ul>
<li> <a href="0008.html">Re: sane and java?</a> <a name="8"><i>Thu, 13 Mar 1997 00:32:11 +0100 (MET)</i></a>
</ul>
<ul>
<li> <a href="0006.html">sane and java?</a> <a name="6"><i>Wed, 12 Mar 1997 22:37:12 +0100 (MET)</i></a>
</ul>
<li> <b>John Kodis</b>
<ul>
<li> <a href="0103.html">Re: Kodak ds-20 camera interface</a> <a name="103"><i>Sat, 3 May 1997 20:01:11 -0400</i></a>
</ul>
<ul>
<li> <a href="0096.html">Kodak ds-20 camera interface</a> <a name="96"><i>Fri, 2 May 1997 20:45:48 -0400 (EDT)</i></a>
</ul>
<li> <b>Mathias Weigt</b>
<ul>
<li> <a href="0138.html">Re: sane-0.57 available</a> <a name="138"><i>Mon, 12 May 1997 09:27:47 -0600</i></a>
</ul>
<ul>
<li> <a href="0130.html">Re: sane-0.56 and hp</a> <a name="130"><i>Fri, 9 May 1997 08:23:11 -0600</i></a>
</ul>
<ul>
<li> <a href="0113.html">Re: turning off scanner-lamp</a> <a name="113"><i>Tue, 6 May 1997 14:56:21 +0059 (MDT)</i></a>
</ul>
<ul>
<li> <a href="0087.html">xscanimage performance</a> <a name="87"><i>Thu, 24 Apr 1997 14:06:14 +0059 (MDT)</i></a>
</ul>
<ul>
<li> <a href="0083.html">Re: xscanimage performance</a> <a name="83"><i>Wed, 23 Apr 1997 16:36:39 +0059 (MDT)</i></a>
</ul>
<ul>
<li> <a href="0079.html">Re: sane-0.54 now available!</a> <a name="79"><i>Tue, 22 Apr 1997 19:15:44 +0059 (MDT)</i></a>
</ul>
<ul>
<li> <a href="0055.html">Measurements in color mode</a> <a name="55"><i>Fri, 18 Apr 1997 10:47:55 +0059 (MDT)</i></a>
</ul>
<ul>
<li> <a href="0053.html">Re: mustek 3-pass backend now working!</a> <a name="53"><i>Thu, 17 Apr 1997 22:30:50 +0059 (MDT)</i></a>
</ul>
<ul>
<li> <a href="0047.html">Re: color scanning and MFS-6000CX</a> <a name="47"><i>Tue, 8 Apr 1997 18:58:16 +0059 (MDT)</i></a>
</ul>
<ul>
<li> <a href="0045.html">color scanning and MFS-6000CX</a> <a name="45"><i>Thu, 3 Apr 1997 09:43:26 +0059 (MDT)</i></a>
</ul>
<ul>
<li> <a href="0039.html">=?iso-8859-1?Q?MUSTEK=3A_color_scanning_still_doesn=B4t_work?=</a> <a name="39"><i>Wed, 2 Apr 1997 14:04:34 -0600</i></a>
</ul>
<ul>
<li> <a href="0036.html">experiences with MUSTEK and HP</a> <a name="36"><i>Tue, 1 Apr 1997 20:50:21 -0600</i></a>
</ul>
<li> <b>Matthias Lautner</b>
<ul>
<li> <a href="0145.html">Re: sane-0.57 available</a> <a name="145"><i>Wed, 14 May 1997 10:54:55 +0200 (MET DST)</i></a>
</ul>
<ul>
<li> <a href="0086.html">sane-0.55:can't allocate image buffer</a> <a name="86"><i>Thu, 24 Apr 1997 09:53:40 +0200 (MET DST)</i></a>
</ul>
<ul>
<li> <a href="0050.html">Re: mustek 3-pass backend fix</a> <a name="50"><i>Wed, 16 Apr 1997 11:41:48 +0200 (MET DST)</i></a>
</ul>
<li> <b>Michael J. Long</b>
<ul>
<li> <a href="0136.html">Q: Status of Microtek backend??</a> <a name="136"><i>Sun, 11 May 1997 09:40:27 -0400</i></a>
</ul>
<li> <b>Michael K. Johnson</b>
<ul>
<li> <a href="0135.html">Re: reviewers wanted</a> <a name="135"><i>Sat, 10 May 1997 19:40:34 -0400</i></a>
</ul>
<ul>
<li> <a href="0118.html">Re: Mustek Paragon CD II</a> <a name="118"><i>Wed, 07 May 1997 09:35:53 -0400</i></a>
</ul>
<ul>
<li> <a href="0109.html">Re: turning off scanner-lamp</a> <a name="109"><i>Mon, 05 May 1997 11:34:45 -0400</i></a>
</ul>
<ul>
<li> <a href="0106.html">Re: scanner help</a> <a name="106"><i>Mon, 05 May 1997 10:18:08 -0400</i></a>
</ul>
<ul>
<li> <a href="0046.html">Re: color scanning and MFS-6000CX</a> <a name="46"><i>Thu, 03 Apr 1997 08:28:43 -0500</i></a>
</ul>
<ul>
<li> <a href="0000.html">Re: XScan progress</a> <a name="0"><i>Tue, 25 Feb 1997 10:44:36 -0500</i></a>
</ul>
<li> <b>Nem W Schlecht</b>
<ul>
<li> <a href="0137.html">Re: Q: Status of Microtek backend??</a> <a name="137"><i>Sun, 11 May 1997 14:08:40 -0500 (CDT)</i></a>
</ul>
<ul>
<li> <a href="0019.html">Re: Microtek Sane Backend</a> <a name="19"><i>Wed, 19 Mar 1997 00:15:57 -0600 (CST)</i></a>
</ul>
<ul>
<li> <a href="0017.html">Microtek Sane Backend</a> <a name="17"><i>Tue, 18 Mar 1997 21:09:45 -0600 (CST)</i></a>
</ul>
<ul>
<li> <a href="0011.html">Scan Area &amp; Origin (4.5.2)</a> <a name="11"><i>Thu, 13 Mar 1997 12:22:10 -0600 (CST)</i></a>
</ul>
<ul>
<li> <a href="0002.html">Hello.</a> <a name="2"><i>Mon, 10 Mar 1997 22:32:26 -0600 (CST)</i></a>
</ul>
<li> <b>Reimond Rombey</b>
<ul>
<li> <a href="0146.html">Scanner and Printer - Copier</a> <a name="146"><i>Wed, 14 May 1997 13:41:17 +0200</i></a>
</ul>
<ul>
<li> <a href="0080.html">Re: sane-0.54 now available!</a> <a name="80"><i>Tue, 22 Apr 1997 23:13:19 +0200</i></a>
</ul>
<ul>
<li> <a href="0077.html">Re: sane-0.54 now available!</a> <a name="77"><i>Tue, 22 Apr 1997 17:31:17 +0200</i></a>
</ul>
<ul>
<li> <a href="0073.html">Re: sane-0.54 now available!</a> <a name="73"><i>Tue, 22 Apr 1997 13:55:34 +0200</i></a>
</ul>
<ul>
<li> <a href="0060.html">Re: sane-0.54 now available!</a> <a name="60"><i>Mon, 21 Apr 1997 13:55:01 +0200</i></a>
</ul>
<li> <b>Stefan Luettringhaus-Kappel</b>
<ul>
<li> <a href="0141.html">Mustek Scanner distorted image lines</a> <a name="141"><i>Mon, 12 May 1997 22:13:35 +0200 (MEST)</i></a>
</ul>
<li> <b>Sven Neumann</b>
<ul>
<li> <a href="0119.html">More about Mustek CD II</a> <a name="119"><i>Wed, 7 May 1997 15:41:25 +0200 (MET DST)</i></a>
</ul>
<ul>
<li> <a href="0114.html">Mustek Paragon CD II</a> <a name="114"><i>Tue, 6 May 1997 17:13:11 +0200 (MET DST)</i></a>
</ul>
<li> <b>Thomas Blume</b>
<ul>
<li> <a href="0142.html">Mustek - Speed - Buffer</a> <a name="142"><i>Mon, 12 May 1997 23:59:08 +0200</i></a>
</ul>
<ul>
<li> <a href="0131.html">Re: Mustek/Request-sense problems -&gt; Solution?</a> <a name="131"><i>Fri, 9 May 1997 11:36:05 +0200</i></a>
</ul>
<ul>
<li> <a href="0126.html">Re: Mustek/Request-sense problems -&gt; Solution?</a> <a name="126"><i>Thu, 8 May 1997 16:37:36 +0200</i></a>
</ul>
<ul>
<li> <a href="0124.html">Mustek/Request-sense problems -&gt; Solution?</a> <a name="124"><i>Thu, 8 May 1997 01:50:01 +0200</i></a>
</ul>
<li> <b>Vance Stith</b>
<ul>
<li> <a href="0099.html">scanner help</a> <a name="99"><i>Sat, 3 May 1997 16:07:03 +0100</i></a>
</ul>
<li> <b>XxEDGExX</b>
<ul>
<li> <a href="0034.html">Re: new snapshot</a> <a name="34"><i>Mon, 31 Mar 1997 08:23:01 -0500 (EST)</i></a>
</ul>
<ul>
<li> <a href="0032.html">Re: new snapshot</a> <a name="32"><i>Sun, 30 Mar 1997 16:56:47 -0500 (EST)</i></a>
</ul>
<ul>
<li> <a href="0028.html">Re: Mustek Question, and pre0.5 Question.</a> <a name="28"><i>Tue, 25 Mar 1997 15:28:06 -0500 (EST)</i></a>
</ul>
</ul>
<p>
<b>Last message date:</b> <i>Wed 14 May 1997 - 14:41:40 MST</i><br>
<b>Archived on:</b> <i>Tue Sep 30 1997 - 21:19:29 MST</i><p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#start">[ date ]</a><a href="index.html#start">[ thread ]</a><a href="subject.html#start">[ subject ]</a>
<li> <b><a href="..">Other mail archives</a></b>
</ul>
<p>
<hr>
<i>This archive was generated by <a href="http://www.eit.com/software/hypermail/hypermail.html">hypermail 1.02</a>.</i>
