<!-- received="Mon Jul  6 10:06:32 1998 PDT" -->
<!-- sent="Sun, 05 Jul 1998 21:40:09 +0200" -->
<!-- name="Oliver Neukum" -->
<!-- email="neukum@fachschaft.org.chemie.uni-muenchen.de" -->
<!-- subject="Re: which driver ?" -->
<!-- id="" -->
<!-- inreplyto="which driver ?" -->
<title>sane-devel: Re: which driver ?</title>
<h1>Re: which driver ?</h1>
<b>Oliver Neukum</b> (<a href="mailto:neukum@fachschaft.org.chemie.uni-muenchen.de"><i>neukum@fachschaft.org.chemie.uni-muenchen.de</i></a>)<br>
<i>Sun, 05 Jul 1998 21:40:09 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#12">[ date ]</a><a href="index.html#12">[ thread ]</a><a href="subject.html#12">[ subject ]</a><a href="author.html#12">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0013.html">Jim Ford: "Re: Suggestions?  Microtek ScanMaker X6?"</a>
<li> <b>Previous message:</b> <a href="0011.html">Chinedum Osuji: "Re: Suggestions?  Microtek ScanMaker X6?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Matto Marjanovic wrote:<br>
<p>
<i>&gt; [Anyone have any clues/suggestions as to what is going on?</i><br>
<i>&gt;  The hardware involved is a Microtek 600GS scanner, with the classic</i><br>
<i>&gt;  Adaptec AVA-1502 scsi card, Linux 2.1.107.</i><br>
<i>&gt;  The weird part:  scanimage works as non-root, but hangs as root.]</i><br>
<i>&gt;</i><br>
<i>&gt; &gt;   Date: Wed, 01 Jul 1998 18:06:57 +0200</i><br>
<i>&gt; &gt;   From: Oliver Neukum &lt;<a href="mailto:neukum@fachschaft.org.chemie.uni-muenchen.de">neukum@fachschaft.org.chemie.uni-muenchen.de</a>&gt;</i><br>
<i>&gt;</i><br>
<i>&gt; &gt;     Hi Matto,</i><br>
<i>&gt; &gt;   i fear i have more bad news for you.</i><br>
<i>&gt; &gt;   The scanner's firmware has a bug, it crashes when a lun&gt;0 is referred to.</i><br>
<i>&gt;</i><br>
<i>&gt; Not so unexpected....</i><br>
<i>&gt;</i><br>
<i>&gt; &gt;   I s this done within SANE ? Might it explain hangs as root ?</i><br>
<i>&gt; &gt;   Do you need any more information ?</i><br>
<i>&gt; &gt;   A patch against kernel 2.1.107 is attached.</i><br>
<i>&gt;</i><br>
<i>&gt; Isn't there also a kernel configuration option to disable scanning</i><br>
<i>&gt;  all LUNs?  That's usually what you want, unless you have a multi-platter</i><br>
<i>&gt;  CDROM that actually uses them... (Either way, I'll put this info somewhere</i><br>
<i>&gt;  on my web page.)</i><br>
<i>&gt;</i><br>
<i>&gt; &gt;   i can confirm that my inabillity to scan as root is caused by sane touching</i><br>
<i>&gt; &gt;   luns&gt;0.</i><br>
<i>&gt; &gt;   The patch to the kernel, which i sent you yesterday allows scanimage to work.</i><br>
<i>&gt;</i><br>
<i>&gt; Can you tell where this happens?  The microtek backend shouldn't touch any</i><br>
<i>&gt;  LUN other than 0 --- is this some other backend?  (Are the others commented</i><br>
<i>&gt;  out of dll.conf?)</i><br>
<i>&gt;</i><br>
<i>&gt; Also, the "BLIST_NOLUN" designation in the patch only affects how the</i><br>
<i>&gt;  mid-level scsi driver scans the scsi bus --- thus your patch should only</i><br>
<i>&gt;  affect what happens a) when machine boots, b) when a scsi driver module</i><br>
<i>&gt;  is loaded.  SANE doesn't cause either, unless you have kerneld set up to</i><br>
<i>&gt;  automatically load the scsi modules.</i><br>
<i>&gt;</i><br>
<i>&gt; And... I don't see how any part of SANE does anything differently whether</i><br>
<i>&gt;  or not it is used as root.  SANE's only interaction with the Linux system</i><br>
<i>&gt;  is to open/read/write/close the sg devices (which is affected by their</i><br>
<i>&gt;  permissions), and open/read/close "/proc/scsi/scsi".  Since you can scan</i><br>
<i>&gt;  as non-root, SANE as root would only be touching *other* sg devices</i><br>
<i>&gt;  differently.</i><br>
<i>&gt;</i><br>
<i>&gt; Hmm... of course, I'm looking at 2.0.33 kernel code --- maybe the scsi bus</i><br>
<i>&gt;  is rescanned in the 2.1.107 code?  Some drastic difference?</i><br>
<i>&gt;</i><br>
<i>&gt; -matt m.</i><br>
<i>&gt;</i><br>
<i>&gt; --</i><br>
<i>&gt; Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a></i><br>
<i>&gt; To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a></i><br>
<p>
  Hi Matto,<br>
<p>
i can no longer reproduce the root problem unless i add backends to dll.conf.<br>
However those crashes are total; strace information is not written.<br>
How important is this information to you, as your driver at least in patched form is<br>
<p>
not to blame ?<br>
<p>
Oliver<br>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0013.html">Jim Ford: "Re: Suggestions?  Microtek ScanMaker X6?"</a>
<li> <b>Previous message:</b> <a href="0011.html">Chinedum Osuji: "Re: Suggestions?  Microtek ScanMaker X6?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
