<!-- received="Tue Jul  7 08:41:17 1998 PDT" -->
<!-- sent="Tue, 7 Jul 1998 11:40:18 -0400 (EWT)" -->
<!-- name="Matto Marjanovic" -->
<!-- email="maddog@mir.com" -->
<!-- subject="Re: Microtek backend patch" -->
<!-- id="m0ytZqs-000J2WC@yoo-hoo.ai.mit.edu" -->
<!-- inreplyto="Microtek backend patch" -->
<title>sane-devel: Re: Microtek backend patch</title>
<h1>Re: Microtek backend patch</h1>
<b>Matto Marjanovic</b> (<a href="mailto:maddog@mir.com"><i>maddog@mir.com</i></a>)<br>
<i>Tue, 7 Jul 1998 11:40:18 -0400 (EWT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#18">[ date ]</a><a href="index.html#18">[ thread ]</a><a href="subject.html#18">[ subject ]</a><a href="author.html#18">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0019.html">Peter Leif Rasmussen: "Support for Umax Astra 1220S/P"</a>
<li> <b>Previous message:</b> <a href="0017.html">Ross Crawford: "Microtek backend patch"</a>
<li> <b>Maybe in reply to:</b> <a href="0017.html">Ross Crawford: "Microtek backend patch"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Cool!  Someone with a feeder to play with....<br>
<p>
I'll take a closer look at the patch in the next day or so; v0.9 of the<br>
 backend (on my hard disk) is very much rearranged, but I'll fold in the<br>
 features.<br>
The paper length thing looks to be because I forgot to fix it after I<br>
 changed the definitions of the variables used to calculate it --- I guess<br>
 no scanner cares except the autofeeder ones.<br>
<p>
Could you do a autofeed scan with full debugging turned on, and send me<br>
 the log?  I'd like to catalog the INQUIRY information returned by the IIG,<br>
 and I'd need this to figure out what is going on with your SCSI errors.<br>
(What type of system/OS/scsi card are you using?)<br>
<p>
(Also, standard question from me:  could you play with the brightness, <br>
 contrast, exposure, etc. controls, (+ and - values), and tell me which<br>
 ones work for you, and which are broken?  The various scanners are *not*<br>
 consistent in the response to these controls.)<br>
<p>
Thanks,<br>
 matt m.<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0019.html">Peter Leif Rasmussen: "Support for Umax Astra 1220S/P"</a>
<li> <b>Previous message:</b> <a href="0017.html">Ross Crawford: "Microtek backend patch"</a>
<li> <b>Maybe in reply to:</b> <a href="0017.html">Ross Crawford: "Microtek backend patch"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
