<!-- received="Tue Jul 14 07:54:39 1998 PDT" -->
<!-- sent="Tue, 14 Jul 1998 10:54:07 -0400 (EWT)" -->
<!-- name="Matto Marjanovic" -->
<!-- email="maddog@mir.com" -->
<!-- subject="Need... more... .desc... files" -->
<!-- id="m0yw6T1-000J2XC@yoo-hoo.ai.mit.edu" -->
<!-- inreplyto="" -->
<title>sane-devel: Need... more... .desc... files</title>
<h1>Need... more... .desc... files</h1>
<b>Matto Marjanovic</b> (<a href="mailto:maddog@mir.com"><i>maddog@mir.com</i></a>)<br>
<i>Tue, 14 Jul 1998 10:54:07 -0400 (EWT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#44">[ date ]</a><a href="index.html#44">[ thread ]</a><a href="subject.html#44">[ subject ]</a><a href="author.html#44">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0045.html">Matto Marjanovic: "Re: Who maintain SANE source?"</a>
<li> <b>Previous message:</b> <a href="0043.html">Helmut Koeberle: "Re: Canon IX-4015, who to contact"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0046.html">Helmut Koeberle: "Re: Need... more... .desc... files"</a>
<li> <b>Reply:</b> <a href="0046.html">Helmut Koeberle: "Re: Need... more... .desc... files"</a>
<li> <b>Reply:</b> <a href="0055.html">Matto Marjanovic: "Re: Need... more... .desc... files"</a>
<li> <b>Reply:</b> <a href="0057.html">Didier Carlier: "Re: Need... more... .desc... files"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi, all,<br>
<p>
I still need ".desc" files for the following backends:<br>
<p>
  canon<br>
  coolscan<br>
  dmc<br>
  epson<br>
  hp<br>
  pint<br>
  qcam<br>
  s9036<br>
  tamarack<br>
<p>
For a peek at what the (mostly) current page looks like, or information<br>
 on how to write a descriptive ".desc" file, check out:<br>
<p>
     <a href="http://www.mir.com/mtek/backends/">http://www.mir.com/mtek/backends/</a><br>
<p>
And, yes, I do plan to send what I've got to David M. real-soon-now.<br>
<p>
-matt m.<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0045.html">Matto Marjanovic: "Re: Who maintain SANE source?"</a>
<li> <b>Previous message:</b> <a href="0043.html">Helmut Koeberle: "Re: Canon IX-4015, who to contact"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0046.html">Helmut Koeberle: "Re: Need... more... .desc... files"</a>
<li> <b>Reply:</b> <a href="0046.html">Helmut Koeberle: "Re: Need... more... .desc... files"</a>
<li> <b>Reply:</b> <a href="0055.html">Matto Marjanovic: "Re: Need... more... .desc... files"</a>
<li> <b>Reply:</b> <a href="0057.html">Didier Carlier: "Re: Need... more... .desc... files"</a>
<!-- reply="end" -->
</ul>
