<!-- received="Mon Jul 20 06:47:59 1998 PDT" -->
<!-- sent="Mon, 20 Jul 1998 08:17:19 -0400 (EDT)" -->
<!-- name="Eric Ludlam" -->
<!-- email="eludlam@mathworks.com" -->
<!-- subject="Re[2]: ocr (fwd)" -->
<!-- id="199807201217.IAA16282@catapult.mathworks.com" -->
<!-- inreplyto="" -->
<title>sane-devel: Re[2]: ocr (fwd)</title>
<h1>Re[2]: ocr (fwd)</h1>
<b>Eric Ludlam</b> (<a href="mailto:eludlam@mathworks.com"><i>eludlam@mathworks.com</i></a>)<br>
<i>Mon, 20 Jul 1998 08:17:19 -0400 (EDT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#94">[ date ]</a><a href="index.html#94">[ thread ]</a><a href="subject.html#94">[ subject ]</a><a href="author.html#94">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0095.html">Matto Marjanovic: "Re: SCSI-II scanner command list - specification file - common lib"</a>
<li> <b>Previous message:</b> <a href="0093.html">Matto Marjanovic: "Re: install help"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;&gt;&gt; Wolfgang Goeller &lt;<a href="mailto:wgoeller@active.ch">wgoeller@active.ch</a>&gt; seems to think that:</i><br>
<i>&gt;&gt; There is a free OCR program called Xocr written by Matrin Bauer,  I don't think</i><br>
<i>&gt;&gt; it has been maitained for while but it is out there somewhere,  and certianly</i><br>
<i>&gt;&gt; anyone workign on a GNU-OCR program should go find it.</i><br>
<i>&gt;</i><br>
<i>&gt;Well, this Xocr is a nice effort and shows some techniques.</i><br>
<i>&gt;But - to speak positive - it reads about 10% of a good printout</i><br>
<i>&gt;correct.</i><br>
  [ ... ]<br>
<p>
I tried Xocr, but it always crashed on me.  Oh well.  I then learned<br>
about SOCR, which I'm surprised no one has mentioned yet.  It's<br>
homepage is <a href="http://www.socr.org">http://www.socr.org</a>.  I haven't tried it lately, but the<br>
latest NEWS was from July 14th 1998.  There is a nice screenshot of a<br>
KDE OCR program too.  (It doesn't appear to recognize anything yet,<br>
though.)  It looks quite impressive, and my previous conversations<br>
with the author were quite encouraging.<br>
<p>
Eric<br>
<p>
<pre>
-- 
[====]___||.   Eric Ludlam          "The X Guy"    The MathWorks   x 7556
  |[]|     |=  <a href="mailto:eludlam@mathworks.com">eludlam@mathworks.com</a>  (work)      <a href="http://www.mathworks.com">http://www.mathworks.com</a>
 _|__|=====+   <a href="mailto:zappo@ultranet.com">zappo@ultranet.com</a>     (home)   <a href="http://www.ultranet.com/~zappo">http://www.ultranet.com/~zappo</a>
   O-O-O[ ]\\  	        `Go Throw A Rock!' - Hudson Trebuchet Crew
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0095.html">Matto Marjanovic: "Re: SCSI-II scanner command list - specification file - common lib"</a>
<li> <b>Previous message:</b> <a href="0093.html">Matto Marjanovic: "Re: install help"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
