<!-- received="Mon Jul 20 06:50:30 1998 PDT" -->
<!-- sent="Mon, 20 Jul 1998 09:49:45 -0400 (EWT)" -->
<!-- name="Matto Marjanovic" -->
<!-- email="maddog@mir.com" -->
<!-- subject="Re: SCSI-II scanner command list - specification file - common lib" -->
<!-- id="m0yyGK1-000J2XC@yoo-hoo.ai.mit.edu" -->
<!-- inreplyto="SCSI-II scanner command list - specification file - common lib" -->
<title>sane-devel: Re: SCSI-II scanner command list - specification file - common lib</title>
<h1>Re: SCSI-II scanner command list - specification file - common lib</h1>
<b>Matto Marjanovic</b> (<a href="mailto:maddog@mir.com"><i>maddog@mir.com</i></a>)<br>
<i>Mon, 20 Jul 1998 09:49:45 -0400 (EWT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#95">[ date ]</a><a href="index.html#95">[ thread ]</a><a href="subject.html#95">[ subject ]</a><a href="author.html#95">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0096.html">Yuri Dario: "Re: ocr"</a>
<li> <b>Previous message:</b> <a href="0094.html">Eric Ludlam: "Re[2]: ocr (fwd)"</a>
<li> <b>Maybe in reply to:</b> <a href="0051.html">Sreenivasa Sista: "SCSI-II scanner command list - specification file - common lib"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0099.html">Oliver Rauch: "Re: SCSI-II scanner command list - specification file - common lib"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i> &gt;From: <a href="mailto:charter@cs.ualberta.ca">charter@cs.ualberta.ca</a></i><br>
<i> &gt;Date: 	Sun, 19 Jul 1998 13:41:24 -0600 (MDT)</i><br>
<p>
<i> &gt;&gt; I tried Umax, Microtek, Mustek and I have no clue of what the returned</i><br>
<i> &gt;&gt; information means. I did not try Agfa-Snapscan-310, i'll try that one and</i><br>
<i> &gt;&gt; see what happens.I tried contacting www.leoimage.com, who is the</i><br>
<i> &gt;</i><br>
<i> &gt;It probably won't work even if the scanner is SnapScan compatible,</i><br>
<i> &gt;because the backend examines the firmware vendor and model information</i><br>
<i> &gt;returned by an inquiry command and refuses to talk to scanners it</i><br>
<i> &gt;doesn't recognize.  This is to protect people from damaging their</i><br>
<p>
Yep... which is why this compatibility discussion is all empty<br>
 speculation until we see what the INQUIRY information actually says.<br>
<p>
-matt m.<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0096.html">Yuri Dario: "Re: ocr"</a>
<li> <b>Previous message:</b> <a href="0094.html">Eric Ludlam: "Re[2]: ocr (fwd)"</a>
<li> <b>Maybe in reply to:</b> <a href="0051.html">Sreenivasa Sista: "SCSI-II scanner command list - specification file - common lib"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0099.html">Oliver Rauch: "Re: SCSI-II scanner command list - specification file - common lib"</a>
<!-- reply="end" -->
</ul>
