<!-- received="Fri Jul 24 01:31:34 1998 PDT" -->
<!-- sent="Fri, 24 Jul 1998 12:28:14 +0200 (CEST)" -->
<!-- name="Didier Carlier" -->
<!-- email="carlierd@acm.org" -->
<!-- subject="Re: problems with sgi/umax" -->
<!-- id="" -->
<!-- inreplyto="35B795B9.41C6@uzi.mit.edu" -->
<title>sane-devel: Re: problems with sgi/umax</title>
<h1>Re: problems with sgi/umax</h1>
<b>Didier Carlier</b> (<a href="mailto:carlierd@acm.org"><i>carlierd@acm.org</i></a>)<br>
<i>Fri, 24 Jul 1998 12:28:14 +0200 (CEST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#147">[ date ]</a><a href="index.html#147">[ thread ]</a><a href="subject.html#147">[ subject ]</a><a href="author.html#147">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0148.html">Berend Reitsma: "Multiple models within one backend"</a>
<li> <b>Previous message:</b> <a href="0146.html">Yuri Dario: "Re: shmem in backends?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On 23-Jul-98 Chinedum Osuji wrote:<br>
<i>&gt; Hi,</i><br>
<i>&gt; </i><br>
<i>&gt;       Anyone out there ever run into the following with SGI/UMAX: Previews</i><br>
<i>&gt; and scans are all fine, at all resolutions and with color and or</i><br>
<i>&gt; transparency adapter, but only for scan files that do not equal or</i><br>
<i>&gt; exceed 4MB in size! For such scans, the scanner just stops a few seconds</i><br>
<i>&gt; into the scan, and a black or "black with white patches" image is</i><br>
<i>&gt; produced. When such a thing occurs, the little status bar that monitors</i><br>
<i>&gt; transfer of data to GIMP or whatever is blank. i.e. The box appears, but</i><br>
<i>&gt; no words or status bar is visible.</i><br>
<p>
The coolscan backend suffered from a very similar problem on SGI. The<br>
workaround has been to limit the size of the data chunks read from the scanner<br>
to 64K instead of 'sanei_scsi_max_request_size'.<br>
<p>
Probably more a workaround than a fix but since there was no perceivable<br>
performance penalty I kept it that way.<br>
<p>
Regards,<br>
Didier  <br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0148.html">Berend Reitsma: "Multiple models within one backend"</a>
<li> <b>Previous message:</b> <a href="0146.html">Yuri Dario: "Re: shmem in backends?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
