<!-- received="Sun Aug  1 07:56:53 1999 PDT" -->
<!-- sent="Sun, 01 Aug 1999 16:01:50 +0100" -->
<!-- name="John Vickers" -->
<!-- email="jvickers@dial.pipex.com" -->
<!-- subject="FAQish questions: Which scanner ?" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: FAQish questions: Which scanner ?</title>
<h1>FAQish questions: Which scanner ?</h1>
<b>John Vickers</b> (<a href="mailto:jvickers@dial.pipex.com"><i>jvickers@dial.pipex.com</i></a>)<br>
<i>Sun, 01 Aug 1999 16:01:50 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#0">[ date ]</a><a href="index.html#0">[ thread ]</a><a href="subject.html#0">[ subject ]</a><a href="author.html#0">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0001.html">Oliver Rauch: "Re: FAQish questions: Which scanner ?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0001.html">Oliver Rauch: "Re: FAQish questions: Which scanner ?"</a>
<li> <b>Reply:</b> <a href="0001.html">Oliver Rauch: "Re: FAQish questions: Which scanner ?"</a>
<li> <b>Reply:</b> <a href="0002.html">BARONET Eric: "Re: FAQish questions: Which scanner ?"</a>
<li> <b>Reply:</b> <a href="0006.html">Oliver Rauch: "Re: FAQish questions: Which scanner ?"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hello.<br>
<p>
I'm looking for a basic flatbed Scanner &amp; SCSI card<br>
to use under x86 Linux.<br>
<p>
I have some rather FAQish questions, which didn't seem to be<br>
answered by the docs I could find.<br>
<p>
The supported devices webpage raised more questions than it answered,<br>
in that a lot of devices are listed as having some kind of support,<br>
but the quality of that support seems to vary a lot.<br>
Not too suprising since most of the people writing the<br>
backends seem to have day jobs.<br>
<p>
<p>
The kind of devices I'm looking at are Epson GT7000, Agfa 636, Microtek<br>
X6,<br>
and  umax 1220S.<br>
The Umax driver seems easily the most complete,<br>
which unfortunately seems to make it the only choice.  <br>
<p>
<p>
Some of my questions concern the SCSI end of things more than the image<br>
end. I've tried to answer my own questions - my answers may be rubbish,<br>
so I'd be grateful for any comments.<br>
 <br>
I get the impression from reading various SANE docs, and<br>
some of the docs mentioned in the mail-list archives<br>
that scanners (sub-$200 anyway), have rather half-baked<br>
SCSI interfaces.<br>
<p>
 <br>
John.<br>
<p>
<p>
<p>
Q1: Can I operate a scanner on the same SCSI bus as my CD-RW &amp; Zip<br>
    drives ?  Will any SCSI-II scanner work ?<br>
<p>
A1: SCSI-I scanners hold on to the SCSI bus for times you<br>
    can measure on a wristwatch.  No other device connected to the same<br>
    SCSI bus will work while you are scanning.  If you do need to use<br>
    other SCSI devices while scanning, you could end up with<br>
    three or more SCSI busses on your machine: one for the scanner,<br>
    one for slow-ish SCSI devices like CDRW, Zip and one for fast SCSI<br>
    disk &amp; tape drives.<br>
<p>
    Seems like SCSI-II scanners should work, but I don't know<br>
    if they do.  With data rates in the 1 megabyte/s ballpark,<br>
    they shouldn't be close to saturating a SCSI-II bus.<br>
    If there's a problem, why is it there ?<br>
<p>
    Or is SCSI I/II a red herring ?  I thought SCSI-I devices<br>
    were supposed to be able to disconnect/reconnect? <br>
<p>
<p>
Q2: Are there any well-known SCSI cards that I should particularly<br>
    avoid ?  What SCSI-card should I get ?<br>
<p>
A2: Don't use a scanner on an ultra-scsi bus.  Expensive cables &amp;<br>
    active termination required.  Problematic.   Just don't think about<br>
it.<br>
    <br>
    Use a SCSI-II (Fast SCSI) PCI card, with a reasonably inteligent<br>
    controller chip (e.g. 53C8xx, 53C9xx, Adaptec etc).<br>
    Support for wide SCSI-II is not relevant - neither an advantage<br>
    nor a disadvantage.<br>
<p>
    The above comments apply equally to external CD drives, CDRW, Zip,<br>
    and other scsi devices which don't need or support the speed of<br>
    SCSI-III (Ultra-SCSI).<br>
<p>
    Scanners (and CDRW) are often supplied with ancient ISA-bus SCSI<br>
cards.<br>
    These cards should be disposed of with due care for the environment,<br>
    or mounted on your wall.<br>
<p>
<p>
Q3: What are the known problems with Linux Kernel SCSI support<br>
    with regard to scanners ?<br>
<p>
A3: ?generic scsi support broken in 2.2.6-2.2.9 (!)?<br>
    ?Kernels 2.2.10 &amp; 2.0.37 OK?   <br>
    ?problems with old Advansys drivers ?<br>
    ?problems with old Tekram drivers ?<br>
    ?problems with some 53C875 driver versions?<br>
    ?problems with some 53C810 driver versions?<br>
<p>
<p>
Q4: Is it required or desirable to configure my Linux kernel<br>
    in a non standard way ?<br>
<p>
A4: Basically no.  You need to configure generic SCSI support<br>
    and support for whatever SCSI controller(s) you intend to use.<br>
<p>
    ??Changing SG_BIG_BUF may or may not help??<br>
<p>
    Further information may be found in the doc for the backend<br>
    for your scanner.<br>
<p>
<p>
Q5: Which scanner manufacturers - if any - provide or fund<br>
    SANE (Linux) support ?<br>
<p>
A5: ? HP and Umax ?  Complete guess. <br>
<p>
<p>
Q4: Which backends are being actively developed ?<br>
<p>
A4: ?Umax, HP, Nikon?<br>
<p>
    Difficult to tell.  Microtek2 maybe.  Agfa Snapscan maybe.<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0001.html">Oliver Rauch: "Re: FAQish questions: Which scanner ?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0001.html">Oliver Rauch: "Re: FAQish questions: Which scanner ?"</a>
<li> <b>Reply:</b> <a href="0001.html">Oliver Rauch: "Re: FAQish questions: Which scanner ?"</a>
<li> <b>Reply:</b> <a href="0002.html">BARONET Eric: "Re: FAQish questions: Which scanner ?"</a>
<li> <b>Reply:</b> <a href="0006.html">Oliver Rauch: "Re: FAQish questions: Which scanner ?"</a>
<!-- reply="end" -->
</ul>
