<!-- received="Tue Aug  3 10:12:57 1999 PDT" -->
<!-- sent="Tue, 03 Aug 1999 19:14:54 +0200" -->
<!-- name="Oliver Rauch" -->
<!-- email="oliver.rauch@Wolfsburg.DE" -->
<!-- subject="Re: Sane + FreeBSD 3.2" -->
<!-- id="08" -->
<!-- inreplyto="Sane + FreeBSD 3.2" -->
<title>sane-devel: Re: Sane + FreeBSD 3.2</title>
<h1>Re: Sane + FreeBSD 3.2</h1>
<b>Oliver Rauch</b> (<a href="mailto:oliver.rauch@Wolfsburg.DE"><i>oliver.rauch@Wolfsburg.DE</i></a>)<br>
<i>Tue, 03 Aug 1999 19:14:54 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#24">[ date ]</a><a href="index.html#24">[ thread ]</a><a href="subject.html#24">[ subject ]</a><a href="author.html#24">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0025.html">Nick Lamb: "RGBI (was Re: xsane-0.31 available)"</a>
<li> <b>Previous message:</b> <a href="0023.html">Allan Strand: "Re: Sane + FreeBSD 3.2"</a>
<li> <b>Maybe in reply to:</b> <a href="0020.html">Allan Strand: "Sane + FreeBSD 3.2"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Allan Strand wrote:<br>
<p>
<i>&gt; Oliver Rauch &lt;<a href="mailto:oliver.rauch@Wolfsburg.DE">oliver.rauch@Wolfsburg.DE</a>&gt; writes:</i><br>
<i>&gt; &gt; Allan Strand wrote:</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt; &gt; Has anyone had luck with sane and freebsd 3.2?  Since I have changed</i><br>
<i>&gt; &lt;snip&gt;</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt; do you use the pass or the pt device?</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; I'm using the pass device.</i><br>
<i>&gt;</i><br>
<p>
Hi Allan,<br>
<p>
I heard of this problem with the pass device.<br>
<p>
Try using the pt device. You have to enable this in the kernel,<br>
but don`t ask me how!<br>
<p>
Ciao<br>
Oliver<br>
<p>
<p>
<pre>
--
EMAIL: <a href="mailto:Oliver.Rauch@Wolfsburg.DE">Oliver.Rauch@Wolfsburg.DE</a>
WWW: <a href="http://www.wolfsburg.de/~rauch">http://www.wolfsburg.de/~rauch</a>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0025.html">Nick Lamb: "RGBI (was Re: xsane-0.31 available)"</a>
<li> <b>Previous message:</b> <a href="0023.html">Allan Strand: "Re: Sane + FreeBSD 3.2"</a>
<li> <b>Maybe in reply to:</b> <a href="0020.html">Allan Strand: "Sane + FreeBSD 3.2"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
