<!-- received="Wed Aug  4 01:24:24 1999 PDT" -->
<!-- sent="Wed, 4 Aug 1999 10:26:04 +0200" -->
<!-- name="Ewald R. de Wit" -->
<!-- email="ewald@pobox.com" -->
<!-- subject="Re: SANE_FRAME Formats (was Re: xsane-0.31 available)" -->
<!-- id="" -->
<!-- inreplyto="37A7ED7E.338D078F@gemse.fr" -->
<title>sane-devel: Re: SANE_FRAME Formats (was Re: xsane-0.31 available)</title>
<h1>Re: SANE_FRAME Formats (was Re: xsane-0.31 available)</h1>
<b>Ewald R. de Wit</b> (<a href="mailto:ewald@pobox.com"><i>ewald@pobox.com</i></a>)<br>
<i>Wed, 4 Aug 1999 10:26:04 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#50">[ date ]</a><a href="index.html#50">[ thread ]</a><a href="subject.html#50">[ subject ]</a><a href="author.html#50">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0051.html">Andreas Rick: "Re: SANE_FRAME Formats"</a>
<li> <b>Previous message:</b> <a href="0049.html">BARONET Eric: ":-) Mit Sonnen-finsternis-brille / Wearing Eclipse glasses :-)"</a>
<li> <b>In reply to:</b> <a href="0048.html">Andreas Rick: "Re: SANE_FRAME Formats (was Re: xsane-0.31 available)"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0052.html">Tom Martone: "Re: SANE_FRAME Formats (was Re: xsane-0.31 available)"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Andreas Rick (<a href="mailto:rickand@gemse.fr">rickand@gemse.fr</a>) wrote:<br>
<p>
<i>&gt; I just want to tell it: Here come 4 channels, the first 3 are</i><br>
<i>&gt; RGB (which you may use for preview or other stuff) </i><br>
<i>&gt; and the last one is something I want to be able to save </i><br>
<i>&gt; as alpha channel to png or to gimp.</i><br>
<p>
Ok, this would make sense for someone who is experimenting with<br>
SANE.<br>
<p>
<i>&gt; I have no objections to add </i><br>
<i>&gt; SANE_FRAME_G3</i><br>
<i>&gt; SANE_FRAME_G4</i><br>
<i>&gt; SANE_FRAME_JFIF</i><br>
<i>&gt; SANE_FRAME_RGBI</i><br>
<i>&gt; SANE_FRAME_TEXT</i><br>
<i>&gt; and anything you want , but I would like to see at least:</i><br>
<i>&gt; SANE_FRAME_RAW   </i><br>
<i>&gt; SANE_FRAME_RGBA</i><br>
<i>&gt; too.</i><br>
<p>
Ok, I have no problems to the last two but I feel they should be<br>
avoided in widespread production code. I.e, they should be more<br>
intended for experimenting and custom modifications.<br>
<p>
<i>&gt; Right now the only link of the 4th channel of a Coolscan scanned</i><br>
<i>&gt; image to "infrared" is that it has been scanned with an infrared LED as light</i><br>
<i>&gt; source. After that I'm doing all kinds of transformation on it</i><br>
<i>&gt; which mix R,G,B and I (and I will do even more in the future)</i><br>
<i>&gt; to make it show only the dust in the image, and not the</i><br>
<i>&gt; color information. That is to say: when you get the 4th channel</i><br>
<i>&gt; out of the backend it is no longer an "infrared" image but a</i><br>
<i>&gt; "dust" image, so we might as well define SANE_FRAME_RGBD(ust).</i><br>
<p>
I hope it can still output the pure RGBI as well.<br>
<p>
Just curious, but why would your production code do the 4x4 color<br>
transform in the backend, and the defect interpolation elsewhere?<br>
It would seem more logical to do it in the same place.<br>
<p>
As more manufacturers will take a licence on Digital ICE, we can<br>
expect more scanners that have an IR channel. Therefore, at some point<br>
in time, it will make sense to do the defect removal in the frontend<br>
instead of in all the backends and a SANE_FRAME_RGBI will be essential.<br>
<p>
<pre>
-- 
  --  Ewald
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0051.html">Andreas Rick: "Re: SANE_FRAME Formats"</a>
<li> <b>Previous message:</b> <a href="0049.html">BARONET Eric: ":-) Mit Sonnen-finsternis-brille / Wearing Eclipse glasses :-)"</a>
<li> <b>In reply to:</b> <a href="0048.html">Andreas Rick: "Re: SANE_FRAME Formats (was Re: xsane-0.31 available)"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0052.html">Tom Martone: "Re: SANE_FRAME Formats (was Re: xsane-0.31 available)"</a>
<!-- reply="end" -->
</ul>
