<!-- received="Thu Aug  5 14:57:00 1999 PDT" -->
<!-- sent="Thu, 5 Aug 1999 18:29:21 +0200" -->
<!-- name="Andreas Beck" -->
<!-- email="becka@rz.uni-duesseldorf.de" -->
<!-- subject="Re: Vivicam 2000 / Mustek VDC-100" -->
<!-- id="" -->
<!-- inreplyto="19990728232102.E14234@unix.netstream.net" -->
<title>sane-devel: Re: Vivicam 2000 / Mustek VDC-100</title>
<h1>Re: Vivicam 2000 / Mustek VDC-100</h1>
<b>Andreas Beck</b> (<a href="mailto:becka@rz.uni-duesseldorf.de"><i>becka@rz.uni-duesseldorf.de</i></a>)<br>
<i>Thu, 5 Aug 1999 18:29:21 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#64">[ date ]</a><a href="index.html#64">[ thread ]</a><a href="subject.html#64">[ subject ]</a><a href="author.html#64">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0065.html">Ewald R. de Wit: "Re: Dust-removal and color-correction"</a>
<li> <b>Previous message:</b> <a href="0063.html">Andreas Beck: "Re: Basic info needed"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;    On a related note, what is the general feeling on supporting serial</i><br>
<i>&gt; devices in SANE?  The FAQ mentions SCSI, Parallel and USB, but doesn't</i><br>
<i>&gt; say anything about serial.</i><br>
<p>
There is no general problem with it. You should just think about a<br>
reasonable interface layer like the sanei_* files, that can be customized<br>
for the various SANE target platforms. Many will use termios, while others<br>
might need different ways to access the port. Thus it would be good to<br>
abstract the control commands and communication in an extra layer that can<br>
be #ifdefed to suit the host OS.<br>
<p>
CU, ANdy<br>
<p>
<pre>
-- 
= Andreas Beck                    |  Email :  &lt;<a href="mailto:andreas.beck@ggi-project.org">andreas.beck@ggi-project.org</a>&gt; =
<p>
<p>
<p>
<p>
<p>
<p>
<p>
<p>
<p>
<p>
<p>
<p>
<p>
<p>
<p>
<p>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0065.html">Ewald R. de Wit: "Re: Dust-removal and color-correction"</a>
<li> <b>Previous message:</b> <a href="0063.html">Andreas Beck: "Re: Basic info needed"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
