<!-- received="Sun Aug  8 04:33:10 1999 PDT" -->
<!-- sent="Sun, 08 Aug 1999 13:22:02 +0200" -->
<!-- name="Oliver Rauch" -->
<!-- email="oliver.rauch@Wolfsburg.DE" -->
<!-- subject="Re: RGBI (was Re: xsane-0.31 available)" -->
<!-- id="" -->
<!-- inreplyto="RGBI (was Re: xsane-0.31 available)" -->
<title>sane-devel: Re: RGBI (was Re: xsane-0.31 available)</title>
<h1>Re: RGBI (was Re: xsane-0.31 available)</h1>
<b>Oliver Rauch</b> (<a href="mailto:oliver.rauch@Wolfsburg.DE"><i>oliver.rauch@Wolfsburg.DE</i></a>)<br>
<i>Sun, 08 Aug 1999 13:22:02 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#69">[ date ]</a><a href="index.html#69">[ thread ]</a><a href="subject.html#69">[ subject ]</a><a href="author.html#69">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0070.html">Johan Brichau: "Descreen function"</a>
<li> <b>Previous message:</b> <a href="0068.html">Bernd Schroeder: "Re: Microtek ScanMaker V6USL"</a>
<li> <b>Maybe in reply to:</b> <a href="0025.html">Nick Lamb: "RGBI (was Re: xsane-0.31 available)"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0073.html">Steve Gunnell: "Re: RGBI (was Re: xsane-0.31 available)"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Steve Gunnell wrote:<br>
<p>
<i>&gt; Ok maybe you don't want to change the definitions that much. So</i><br>
<i>&gt; keep SANE_FRAME_RGBA where A means Auxillary. Then have</i><br>
<i>&gt; the front end allow the user to select how the Auxillary channel is to</i><br>
<i>&gt; be passed on. So Oliver can pass it to Gimp as an Alpha channel</i><br>
<i>&gt; because that is how he wants to use it and Nick and others can</i><br>
<i>&gt; pass it across as a seperate (named) image layer.</i><br>
<i>&gt;</i><br>
<p>
Hi Steve,<br>
<p>
I have no problem to shift the 4th channel data as an auxillary channel to the<br>
gimp.<br>
But SANE is not ONLY a gimp plugin and I am programming a frontend<br>
that normally saves the images to a file and I want to know how to<br>
save new formats.<br>
<p>
Nick seems to be a really big Gimp fan and gimp is a nice tool, but<br>
SANE/xscanimage/xsane are not only scanning-tools for the Gimp.<br>
<p>
I also have no problem to remove the RGBA routine if nobody likes it.<br>
It is a way to save the data in a known format.<br>
<p>
Other possiblities are to define a raw format that is passed through the<br>
frontend without any changes or the frontend say "unsupported".<br>
<p>
Bye<br>
Oliver<br>
<p>
<pre>
--
EMAIL: <a href="mailto:Oliver.Rauch@Wolfsburg.DE">Oliver.Rauch@Wolfsburg.DE</a>
WWW: <a href="http://www.wolfsburg.de/~rauch">http://www.wolfsburg.de/~rauch</a>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0070.html">Johan Brichau: "Descreen function"</a>
<li> <b>Previous message:</b> <a href="0068.html">Bernd Schroeder: "Re: Microtek ScanMaker V6USL"</a>
<li> <b>Maybe in reply to:</b> <a href="0025.html">Nick Lamb: "RGBI (was Re: xsane-0.31 available)"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0073.html">Steve Gunnell: "Re: RGBI (was Re: xsane-0.31 available)"</a>
<!-- reply="end" -->
</ul>
