<!-- received="Sun Aug 15 09:11:16 1999 PDT" -->
<!-- sent="Sun, 15 Aug 1999 11:29:01 -0400" -->
<!-- name="Tom Martone" -->
<!-- email="tom@martoneconsulting.com" -->
<!-- subject="Re: [Fwd: Re: Discussion about SANE and TWAIN...]" -->
<!-- id="" -->
<!-- inreplyto="[Fwd: Re: Discussion about SANE and TWAIN...]" -->
<title>sane-devel: Re: [Fwd: Re: Discussion about SANE and TWAIN...]</title>
<h1>Re: [Fwd: Re: Discussion about SANE and TWAIN...]</h1>
<b>Tom Martone</b> (<a href="mailto:tom@martoneconsulting.com"><i>tom@martoneconsulting.com</i></a>)<br>
<i>Sun, 15 Aug 1999 11:29:01 -0400</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#168">[ date ]</a><a href="index.html#168">[ thread ]</a><a href="subject.html#168">[ subject ]</a><a href="author.html#168">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0169.html">Oliver Rauch: "Re: Starting a discussion about SANE and TWAIN..."</a>
<li> <b>Previous message:</b> <a href="0167.html">Oliver Rauch: "Re: [Fwd: Re: Discussion about SANE and TWAIN...]"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Oliver Rauch wrote:<br>
<i>&gt; </i><br>
<i>&gt; Tom Martone wrote:</i><br>
<i>&gt; </i><br>
<i>&gt; &gt; I took a browse through Kodak's website, specifically their document</i><br>
<i>&gt; &gt; scanner line.  It seems as though another interesting and beneficial</i><br>
<i>&gt; &gt; project would be to get SANE drivers under development for Kodak's</i><br>
<i>&gt; &gt; scanner line.</i><br>
<i>&gt; </i><br>
<i>&gt; Hi Tom,</i><br>
<i>&gt; do you have a link to that page?</i><br>
This is the general link for scanners.  <br>
<p>
     <a href="http://www.kodak.com/cgi-bin/webProductTypes.pl?type=Scanners">http://www.kodak.com/cgi-bin/webProductTypes.pl?type=Scanners</a><br>
<p>
which gives you the following additional links:<br>
<p>
     Aerial Film Scanners <br>
     Document Scanners and Accessories <br>
     Personal Scanners <br>
     Rapid Film Scanners <br>
<p>
Choose "Document Scanners and Accessories" to get the page I mentioned.<br>
You may also be interested in the others as well!<br>
<p>
Tom Martone<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0169.html">Oliver Rauch: "Re: Starting a discussion about SANE and TWAIN..."</a>
<li> <b>Previous message:</b> <a href="0167.html">Oliver Rauch: "Re: [Fwd: Re: Discussion about SANE and TWAIN...]"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
