<!-- received="Mon Aug 16 22:03:46 1999 PDT" -->
<!-- sent="Wed, 11 Aug 1999 21:50:47 +0200" -->
<!-- name="Petter Reinholdtsen" -->
<!-- email="pere@hungry.com" -->
<!-- subject="CVS unstable development tree" -->
<!-- id="199908111950.VAA27074@lee.Cc.Uit.No" -->
<!-- inreplyto="" -->
<title>sane-devel: CVS unstable development tree</title>
<h1>CVS unstable development tree</h1>
<b>Petter Reinholdtsen</b> (<a href="mailto:pere@hungry.com"><i>pere@hungry.com</i></a>)<br>
<i>Wed, 11 Aug 1999 21:50:47 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#199">[ date ]</a><a href="index.html#199">[ thread ]</a><a href="subject.html#199">[ subject ]</a><a href="author.html#199">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0200.html">252353N@knotes.kodak.com: "Re: Discussion about SANE and TWAIN..."</a>
<li> <b>Previous message:</b> <a href="0198.html">Tom Martone: "Re: SANE V2"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
With Davids blessing I have now started adding maintainers to the list<br>
of people with write access to the CVS repository.<br>
<p>
Currently David, Oliver and me have write access.  This branch is<br>
marked DEVEL_1_9, and and is to be known as the 'unstable development<br>
tree'.<br>
<p>
Anonymous read-only access is available using CVS.  Check<br>
&lt;URL:<a href="http://www.student.uit.no/~pere/linux/sane/cvs-server.html">http://www.student.uit.no/~pere/linux/sane/cvs-server.html</a>&gt; for<br>
connect information.<br>
<p>
I suggest that all the other maintainers get Davids approval for write <br>
access, and I'll update the access list when it happends.<br>
<p>
As usual, patches are sent to the backend maintainers or to the list,<br>
and all global changes require consensus where David has the last word<br>
before updating the CVS repository.<br>
<p>
Happy hacking,<br>
<pre>
-- 
##&gt;  Petter Reinholdtsen &lt;##    | <a href="mailto:pere@td.org.uit.no">pere@td.org.uit.no</a>
 O-  &lt;SCRIPT Language="Javascript"&gt;window.close()&lt;/SCRIPT&gt;
<a href="http://www.hungry.com/~pere/">http://www.hungry.com/~pere/</a>    | Go Mozilla, go! Go!
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0200.html">252353N@knotes.kodak.com: "Re: Discussion about SANE and TWAIN..."</a>
<li> <b>Previous message:</b> <a href="0198.html">Tom Martone: "Re: SANE V2"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
