<!-- received="Mon Aug 16 22:46:00 1999 PDT" -->
<!-- sent="Mon, 16 Aug 1999 08:45:56 -0400" -->
<!-- name="252353N@knotes.kodak.com" -->
<!-- email="252353N@knotes.kodak.com" -->
<!-- subject="Re: Starting a discussion about SANE and TWAIN..." -->
<!-- id="" -->
<!-- inreplyto="Starting a discussion about SANE and TWAIN..." -->
<title>sane-devel: Re: Starting a discussion about SANE and TWAIN...</title>
<h1>Re: Starting a discussion about SANE and TWAIN...</h1>
<a href="mailto:252353N@knotes.kodak.com"><i>252353N@knotes.kodak.com</i></a><br>
<i>Mon, 16 Aug 1999 08:45:56 -0400</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#203">[ date ]</a><a href="index.html#203">[ thread ]</a><a href="subject.html#203">[ subject ]</a><a href="author.html#203">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0204.html">John Profic: "Re[2]: Starting a discussion about SANE and TWAIN..."</a>
<li> <b>Previous message:</b> <a href="0202.html">252353N@knotes.kodak.com: "Re: Discussion about SANE and TWAIN..."</a>
<li> <b>Maybe in reply to:</b> <a href="0084.html">252353N@knotes.kodak.com: "Starting a discussion about SANE and TWAIN..."</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0205.html">Lars Hanke: "Re: Starting a discussion about SANE and TWAIN..."</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
From: Mark McLaughlin<br>
<p>
Hi Oliver...<br>
<p>
I've been following the recent explosion of chat waiting<br>
for a chance to merge back into it again...  :)  I'm now<br>
replying to messages out of order (according to the ones<br>
that are the easiest to reply to, working back to the hardest).<br>
Hopefully this won't muddle things too badly...<br>
<p>
TWAIN doesn't really have any layers.  At it's most<br>
abstract description TWAIN is nothing more than an<br>
elaborate conversion API between a standard name<br>
space to a set  of arbitrary native commands for some<br>
given device.<br>
<p>
This is why the notion of a sane.ds file is so appealing<br>
to me.  In this model TWAIN becomes an application<br>
using SANE, and should therefore receive all the<br>
benefits that any application using SANE would expect<br>
to receive.<br>
<p>
The sane.ds model also maintains the seperate<br>
integrity of both interfaces, which is good for backwards<br>
compatability.  The gain from this design is that TWAIN<br>
and SANE in their native forms appear on more platforms<br>
than they currently occupy.<br>
<p>
A sane.ds Source to TWAIN will be dynamically loaded<br>
by the Source Manager on behalf of the TWAIN<br>
application.  This mechanism is inheritantly local to the<br>
machine.  However, if the sane.ds has the intelligence<br>
to discover SANE devices on the network, then we gain<br>
remote scanning control with no change to the TWAIN<br>
spec (and more importantly, no changes to any TWAIN<br>
applications).<br>
<p>
I guess that's fundimental to my current notion of the best<br>
implementation of a TWAIN using SANE and SANE<br>
using TWAIN system.  How much can we do to enable<br>
applications access to more image capture devices<br>
across more platforms, and do it with the applications<br>
changing little or no code.<br>
<p>
                         -- Mark<br>
<p>
<p>
<p>
<p>
<p>
<p>
<p>
<p>
Oliver Rauch &lt;<a href="mailto:oliver.rauch@wolfsburg.de">oliver.rauch@wolfsburg.de</a>&gt; on 08/14/99 07:12:33 AM<br>
<p>
To:   <a href="mailto:sane-devel@mostang.com">sane-devel@mostang.com</a><br>
cc:   "McLaughlin, Mark" &lt;<a href="mailto:mlm@kodak.com">mlm@kodak.com</a>&gt; (bcc: Mark McLaughlin/252353/EKC)<br>
Subject:  Re: Starting a discussion about SANE and TWAIN...<br>
<p>
<p>
<p>
<p>
Andreas Beck wrote:<br>
<p>
<i>&gt; &gt; -&gt; TWAIN to  SANE-FRONTEND-wrapper</i><br>
<i>&gt;</i><br>
<i>&gt; That is the hard part, especially, if we try to:</i><br>
<i>&gt;</i><br>
<i>&gt; &gt; The wrapper and the standard has to be compatible to</i><br>
<i>&gt; &gt; all operating systems.</i><br>
<i>&gt;</i><br>
<i>&gt; On Unix I would use some form of IPC. Probably pipes. How is it handled</i><br>
on<br>
<i>&gt; Win and MacOS now ?</i><br>
<i>&gt;</i><br>
<p>
<i>&gt;</i><br>
<i>&gt; I think pipes are probably best for starters, as they enforce a streamed</i><br>
<i>&gt; protocol, that can definitely be used on any platform of interest, at</i><br>
worst<br>
<i>&gt; using a TCP/IP connection to localhost, which every platform that is in</i><br>
use<br>
<i>&gt; nowadays should support.</i><br>
<i>&gt;</i><br>
<i>&gt;</i><br>
<p>
Hi Andy,<br>
<p>
I think we should have a look how TWAIN does this on windows/mac.<br>
Of course using pipes is the simplest way to do it, but as far as I know<br>
there<br>
are no pipes on Windows and Mac.<br>
<p>
The wrapper should not do a lot. May be we can include it into the<br>
frontends<br>
like a sanei_* routine, so the frontend itself gets a TWAIN interface.<br>
<p>
Hi Mark,<br>
can you tell us a bit about how the TWAIN layers do work<br>
(as library with direct call, as program with IPC, ...)?<br>
<p>
Bye<br>
Oliver<br>
<p>
<p>
<pre>
--
EMAIL: <a href="mailto:Oliver.Rauch@Wolfsburg.DE">Oliver.Rauch@Wolfsburg.DE</a>
WWW: <a href="http://www.wolfsburg.de/~rauch">http://www.wolfsburg.de/~rauch</a>
<p>
<p>
<p>
<p>
<p>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0204.html">John Profic: "Re[2]: Starting a discussion about SANE and TWAIN..."</a>
<li> <b>Previous message:</b> <a href="0202.html">252353N@knotes.kodak.com: "Re: Discussion about SANE and TWAIN..."</a>
<li> <b>Maybe in reply to:</b> <a href="0084.html">252353N@knotes.kodak.com: "Starting a discussion about SANE and TWAIN..."</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0205.html">Lars Hanke: "Re: Starting a discussion about SANE and TWAIN..."</a>
<!-- reply="end" -->
</ul>
