<!-- received="Sun Aug 22 15:35:35 1999 PDT" -->
<!-- sent="Mon, 23 Aug 1999 00:49:25 +0200" -->
<!-- name="Bernd Schroeder" -->
<!-- email="bernd@aquila.muc.de" -->
<!-- subject="Re: microtek X6 advance and TMA" -->
<!-- id="" -->
<!-- inreplyto="Pine.LNX.4.05.9908132326310.1292-100000@ppanter.localdom" -->
<title>sane-devel: Re: microtek X6 advance and TMA</title>
<h1>Re: microtek X6 advance and TMA</h1>
<b>Bernd Schroeder</b> (<a href="mailto:bernd@aquila.muc.de"><i>bernd@aquila.muc.de</i></a>)<br>
<i>Mon, 23 Aug 1999 00:49:25 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#274">[ date ]</a><a href="index.html#274">[ thread ]</a><a href="subject.html#274">[ subject ]</a><a href="author.html#274">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0275.html">Nick Lamb: "Re: SANE V2"</a>
<li> <b>Previous message:</b> <a href="0273.html">Andreas Beck: "Re: net problem"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi,<br>
<p>
On Fri, Aug 13, 1999 at 11:44:42PM +0200, Joachim Heidemeier wrote:<br>
<i>&gt; Hello,</i><br>
<i>&gt; I'm new to this forum and -of course- searching for help. </i><br>
<i>&gt; I recently bought a microtek X6 advance with the </i><br>
<i>&gt; light-lid TMA (on a fairly standard linux-box, Scanner as single device on</i><br>
<i>&gt; a seperate Adaptec 1505). </i><br>
<i>&gt; Normal flatbed scanning worked ok, but when I switched to TMA-Mode the</i><br>
<i>&gt; whole system hangs until the scanner is switched off.</i><br>
<i>&gt; In the mailing list archive I read that ~2-3 month ago the same effects</i><br>
<i>&gt; were discussed. Has somebody already fixed this problem.</i><br>
<p>
I have uploaded an updated version of the backend to<br>
<p>
 <a href="ftp://ftp.muc.de/people/bernds/mtek2/microtek2-pre0.8.220899.tar.gz">ftp://ftp.muc.de/people/bernds/mtek2/microtek2-pre0.8.220899.tar.gz</a> .<br>
<p>
Maybe it solves the problem with the X6 and a TMA. Can you try it and <br>
tell me whether it works or not.<br>
<p>
Bernd<br>
<p>
<pre>
-- 
Bernd Schroeder 
Email: <a href="mailto:bernd@aquila.muc.de">mailto:bernd@aquila.muc.de</a>
PGP public key available: <a href="mailto:pgp@aquila.muc.de">mailto:pgp@aquila.muc.de</a> | Subject: send key 
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0275.html">Nick Lamb: "Re: SANE V2"</a>
<li> <b>Previous message:</b> <a href="0273.html">Andreas Beck: "Re: net problem"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
