<!-- received="Tue Aug 24 12:36:58 1999 PDT" -->
<!-- sent="Tue, 24 Aug 1999 21:14:12 +0200" -->
<!-- name="Oliver Rauch" -->
<!-- email="oliver.rauch@Wolfsburg.DE" -->
<!-- subject="Re: SANE V2" -->
<!-- id="" -->
<!-- inreplyto="SANE V2" -->
<title>sane-devel: Re: SANE V2</title>
<h1>Re: SANE V2</h1>
<b>Oliver Rauch</b> (<a href="mailto:oliver.rauch@Wolfsburg.DE"><i>oliver.rauch@Wolfsburg.DE</i></a>)<br>
<i>Tue, 24 Aug 1999 21:14:12 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#290">[ date ]</a><a href="index.html#290">[ thread ]</a><a href="subject.html#290">[ subject ]</a><a href="author.html#290">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0291.html">Oliver Rauch: "Re: SANE V2"</a>
<li> <b>Previous message:</b> <a href="0289.html">Nick Lamb: "SANE V2"</a>
<li> <b>Maybe in reply to:</b> <a href="0289.html">Nick Lamb: "SANE V2"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0291.html">Oliver Rauch: "Re: SANE V2"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hello Nick,<br>
<p>
I think get gets time to return to an objective discussion.<br>
The sound on this list - especally the sound of YOUR mails -<br>
got very bad the last weeks.<br>
<p>
Please everybody, calm down and let's have objective discussions.<br>
<p>
In my opinion Andreas is right that it is a bad idea to<br>
add each frame format to enum SANE_FRAME_*.<br>
It is much more simple to extend the standard to support<br>
new formats when we define the frame format in a string.<br>
<p>
The question is if the string has to be a string defined by MIME.<br>
I did not read the MIME specs but as far as I know there are<br>
a lot of formats listed and MIME allows to extend the definition<br>
by  eXperimental types.<br>
<p>
So the question is do we define a new standard that has to be<br>
extended step by step in the future or do we use a subset of an<br>
existing standard.<br>
<p>
We also could say we use the mime type definitions where they<br>
make sense so frontends and other applications can take<br>
advantage of this and we define our own definitions<br>
like "sane/rgbi" where this makes sense.<br>
<p>
Bye<br>
Oliver<br>
<p>
<p>
<pre>
--
EMAIL: <a href="mailto:Oliver.Rauch@Wolfsburg.DE">Oliver.Rauch@Wolfsburg.DE</a>
WWW: <a href="http://www.wolfsburg.de/~rauch">http://www.wolfsburg.de/~rauch</a>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0291.html">Oliver Rauch: "Re: SANE V2"</a>
<li> <b>Previous message:</b> <a href="0289.html">Nick Lamb: "SANE V2"</a>
<li> <b>Maybe in reply to:</b> <a href="0289.html">Nick Lamb: "SANE V2"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0291.html">Oliver Rauch: "Re: SANE V2"</a>
<!-- reply="end" -->
</ul>
