<!-- received="Tue Aug 24 16:01:42 1999 PDT" -->
<!-- sent="Wed, 25 Aug 1999 00:07:39 +0100 (GMT)" -->
<!-- name="Nick Lamb" -->
<!-- email="njl98r@ecs.soton.ac.uk" -->
<!-- subject="SANE V2" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: SANE V2</title>
<h1>SANE V2</h1>
<b>Nick Lamb</b> (<a href="mailto:njl98r@ecs.soton.ac.uk"><i>njl98r@ecs.soton.ac.uk</i></a>)<br>
<i>Wed, 25 Aug 1999 00:07:39 +0100 (GMT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#296">[ date ]</a><a href="index.html#296">[ thread ]</a><a href="subject.html#296">[ subject ]</a><a href="author.html#296">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0297.html">Tom Martone: "Re: SANE V2"</a>
<li> <b>Previous message:</b> <a href="0295.html">Jordi: "EPSON GT9000"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0179.html">Tom Martone: "Re: SANE V2"</a>
<li> <b>Maybe reply:</b> <a href="0179.html">Tom Martone: "Re: SANE V2"</a>
<li> <b>Maybe reply:</b> <a href="0183.html">Tom Martone: "Re: SANE V2"</a>
<li> <b>Maybe reply:</b> <a href="0187.html">Tom Martone: "Re: SANE V2"</a>
<li> <b>Maybe reply:</b> <a href="0189.html">Tom Martone: "Re: SANE V2"</a>
<li> <b>Maybe reply:</b> <a href="0198.html">Tom Martone: "Re: SANE V2"</a>
<li> <b>Maybe reply:</b> <a href="0208.html">Oliver Rauch: "Re: SANE V2"</a>
<li> <b>Maybe reply:</b> <a href="0234.html">Tom Martone: "Re: SANE V2"</a>
<li> <b>Maybe reply:</b> <a href="0290.html">Oliver Rauch: "Re: SANE V2"</a>
<li> <b>Maybe reply:</b> <a href="0291.html">Oliver Rauch: "Re: SANE V2"</a>
<li> <b>Maybe reply:</b> <a href="0292.html">Oliver Rauch: "Re: SANE V2"</a>
<li> <b>Reply:</b> <a href="0297.html">Tom Martone: "Re: SANE V2"</a>
<li> <b>Reply:</b> <a href="0299.html">Oliver Rauch: "Re: SANE V2"</a>
<li> <b>Reply:</b> <a href="0300.html">Oliver Rauch: "Re: SANE V2"</a>
<li> <b>Reply:</b> <a href="0312.html">Oliver Rauch: "Re: SANE V2"</a>
<li> <b>Reply:</b> <a href="0315.html">Tom Martone: "Re: SANE V2"</a>
<li> <b>Reply:</b> <a href="0316.html">Tom Martone: "Re: SANE V2"</a>
<li> <b>Reply:</b> <a href="0321.html">Oliver Rauch: "Re: SANE V2"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
While constructive discussion continues, I've written up a draft of how I<br>
currently think SANE 1.2 / SANE 2 should look. It is available from my<br>
pile of development stuff at:<br>
<p>
<a href="http://www.zepler.org/~njl195/code/">http://www.zepler.org/~njl195/code/</a><br>
<p>
This contains the following changes vs the documentation included with<br>
SANE v1.0.1 source tarball:<br>
<p>
* Spelling mistooks fixed<br>
* Better description of bit depths (proper scaling, &gt;16 bit, etc.)<br>
* New frame types proposed for document scanners<br>
<p>
There's a lot more should be done to this, even if we don't end up using<br>
text frame types instead of enums in the final version. The well-known<br>
options haven't even been touched yet, but I think it's a start.<br>
<p>
Since the gzipped postscript is not very big, I hope a lot of people will<br>
take the time to look at their favourite/ least favourite bit and comment<br>
<p>
Even if you don't want to risk being flamed by me about the frame type<br>
stuff there's a lot of less controversial things which need feedback<br>
from real users and developers before this is over.<br>
<p>
Nick.<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0297.html">Tom Martone: "Re: SANE V2"</a>
<li> <b>Previous message:</b> <a href="0295.html">Jordi: "EPSON GT9000"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0179.html">Tom Martone: "Re: SANE V2"</a>
<li> <b>Maybe reply:</b> <a href="0179.html">Tom Martone: "Re: SANE V2"</a>
<li> <b>Maybe reply:</b> <a href="0183.html">Tom Martone: "Re: SANE V2"</a>
<li> <b>Maybe reply:</b> <a href="0187.html">Tom Martone: "Re: SANE V2"</a>
<li> <b>Maybe reply:</b> <a href="0189.html">Tom Martone: "Re: SANE V2"</a>
<li> <b>Maybe reply:</b> <a href="0198.html">Tom Martone: "Re: SANE V2"</a>
<li> <b>Maybe reply:</b> <a href="0208.html">Oliver Rauch: "Re: SANE V2"</a>
<li> <b>Maybe reply:</b> <a href="0234.html">Tom Martone: "Re: SANE V2"</a>
<li> <b>Maybe reply:</b> <a href="0290.html">Oliver Rauch: "Re: SANE V2"</a>
<li> <b>Maybe reply:</b> <a href="0291.html">Oliver Rauch: "Re: SANE V2"</a>
<li> <b>Maybe reply:</b> <a href="0292.html">Oliver Rauch: "Re: SANE V2"</a>
<li> <b>Reply:</b> <a href="0297.html">Tom Martone: "Re: SANE V2"</a>
<li> <b>Reply:</b> <a href="0299.html">Oliver Rauch: "Re: SANE V2"</a>
<li> <b>Reply:</b> <a href="0300.html">Oliver Rauch: "Re: SANE V2"</a>
<li> <b>Reply:</b> <a href="0312.html">Oliver Rauch: "Re: SANE V2"</a>
<li> <b>Reply:</b> <a href="0315.html">Tom Martone: "Re: SANE V2"</a>
<li> <b>Reply:</b> <a href="0316.html">Tom Martone: "Re: SANE V2"</a>
<li> <b>Reply:</b> <a href="0321.html">Oliver Rauch: "Re: SANE V2"</a>
<!-- reply="end" -->
</ul>
