<!-- received="Thu Aug 26 14:41:12 1999 PDT" -->
<!-- sent="Thu, 26 Aug 1999 23:45:17 +0200" -->
<!-- name="Per Aalrust" -->
<!-- email="PerAalrust@t-online.de" -->
<!-- subject="Mustek ScanExpress 12000 SP" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Mustek ScanExpress 12000 SP</title>
<h1>Mustek ScanExpress 12000 SP</h1>
<b>Per Aalrust</b> (<a href="mailto:PerAalrust@t-online.de"><i>PerAalrust@t-online.de</i></a>)<br>
<i>Thu, 26 Aug 1999 23:45:17 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#314">[ date ]</a><a href="index.html#314">[ thread ]</a><a href="subject.html#314">[ subject ]</a><a href="author.html#314">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0315.html">Tom Martone: "Re: SANE V2"</a>
<li> <b>Previous message:</b> <a href="0313.html">Stephen Williams: "Re: SANE V2"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi,<br>
<p>
I have some problems with the Mustek ScanExpress 12000 SP (version 1.01)<br>
with SuSE Linux 5.3 (kernel 2.0.36). I use the original scsi-controller<br>
(works fine with kernel patch). I have compiled SANE 1.0 from the<br>
sources (in sg.h SG_BIG_BUFF = 130559).<br>
<p>
Lineart runs perfectly in resolutions up to 400, above 400 there are<br>
horizontal stripes. <br>
<p>
In grey-mode the image (full size A4) contains stripes that seem to be<br>
shifted up and down vertically in any resolution (even 60). <br>
<p>
In Color-mode (full size A4) the colors are not correct and the image<br>
is  separated into two parts that are horizontally shifted (any<br>
resolution). The scanprocedure becomes very slow.<br>
<p>
In the /etc/sane.d/mustek.conf I have activated the following options:  <br>
<p>
option linedistance-fix<br>
option lineart-fix <br>
<p>
Anybody out here with a good idea that may help?<br>
<p>
Thanks in advance<br>
Per<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0315.html">Tom Martone: "Re: SANE V2"</a>
<li> <b>Previous message:</b> <a href="0313.html">Stephen Williams: "Re: SANE V2"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
