<!-- received="Fri Aug 27 11:17:50 1999 PDT" -->
<!-- sent="Fri, 27 Aug 1999 19:17:56 +0100" -->
<!-- name="Steve Darrall" -->
<!-- email="steve@haagen-dazs.org" -->
<!-- subject="SANE with a SHARP JX-330" -->
<!-- id="199908271817.LAA01343@panda.mostang.com" -->
<!-- inreplyto="" -->
<title>sane-devel: SANE with a SHARP JX-330</title>
<h1>SANE with a SHARP JX-330</h1>
<b>Steve Darrall</b> (<a href="mailto:steve@haagen-dazs.org"><i>steve@haagen-dazs.org</i></a>)<br>
<i>Fri, 27 Aug 1999 19:17:56 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#319">[ date ]</a><a href="index.html#319">[ thread ]</a><a href="subject.html#319">[ subject ]</a><a href="author.html#319">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0320.html">Steve Darrall: "Sharp JX-330 continued..."</a>
<li> <b>Previous message:</b> <a href="0318.html">Menaka Lashitha Bandara: "Acer Scanners"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0323.html">abel deuring: "Re: SANE with a SHARP JX-330"</a>
<li> <b>Reply:</b> <a href="0323.html">abel deuring: "Re: SANE with a SHARP JX-330"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hiya,<br>
<p>
I've got SANE compiled and installed, and finally got FreeBSD 3.2-RELEASE to <br>
realise that it does have a SCSI card installed.<br>
<p>
The scanner is at /dev/pass0 with a symlink pointing to it from /dev/scanner<br>
<p>
When I run find-scanner I get...<br>
<p>
stuffed-crust) /usr/local/src/sane-1.0.1/tools/find-scanner <br>
find-scanner: found scanner "SHARP JX330 SCSI 081J" at device /dev/scanner<br>
find-scanner: found scanner "SHARP JX330 SCSI 081J" at device /dev/pass0<br>
<p>
s9036 and sharp are both uncommented with no other options.<br>
<p>
Whenevr I try to run scanimage (either as myself or root) I simply get...<br>
<p>
stuffed-crust) scanimage -D /dev/scanner<br>
scanimage: no SANE devices found<br>
<p>
stuffed-crust) scanimage <br>
scanimage: no SANE devices found<br>
<p>
I've gone through the docs, but can't see what other configuration I'd need to<br>
do to get this up and running.<br>
<p>
TIA for any help :)<br>
<p>
Steve<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0320.html">Steve Darrall: "Sharp JX-330 continued..."</a>
<li> <b>Previous message:</b> <a href="0318.html">Menaka Lashitha Bandara: "Acer Scanners"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0323.html">abel deuring: "Re: SANE with a SHARP JX-330"</a>
<li> <b>Reply:</b> <a href="0323.html">abel deuring: "Re: SANE with a SHARP JX-330"</a>
<!-- reply="end" -->
</ul>
