<!-- received="Sat Aug 28 10:04:37 1999 PDT" -->
<!-- sent="Sat, 28 Aug 1999 15:22:22 +0200 (MEST)" -->
<!-- name="Markus Eiden " -->
<!-- email="eiden@biz-worms.de" -->
<!-- subject="some infos of webscanning" -->
<!-- id="199908281322.PAA01257@adam.bbs1.biz-worms.de" -->
<!-- inreplyto="" -->
<title>sane-devel: some infos of webscanning</title>
<h1>some infos of webscanning</h1>
<b>Markus Eiden </b> (<a href="mailto:eiden@biz-worms.de"><i>eiden@biz-worms.de</i></a>)<br>
<i>Sat, 28 Aug 1999 15:22:22 +0200 (MEST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#322">[ date ]</a><a href="index.html#322">[ thread ]</a><a href="subject.html#322">[ subject ]</a><a href="author.html#322">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0323.html">abel deuring: "Re: SANE with a SHARP JX-330"</a>
<li> <b>Previous message:</b> <a href="0321.html">Oliver Rauch: "Re: SANE V2"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi,<br>
<p>
I assembled some infos about using a scanner with sane/linux in german.<br>
It would be nice if you could place a link on <a href="http://www.mostang.com/sane/docs.html">http://www.mostang.com/sane/docs.html</a><br>
to <a href="http://bbs1.biz-worms.de/projekte/Netz/scan/index.html">http://bbs1.biz-worms.de/projekte/Netz/scan/index.html</a><br>
<p>
There you find a checklist, some infos about graphicformats, some further links<br>
and:<br>
<p>
"Zugriff auf unsere Scanner" <br>
<a href="http://bbs1.biz-worms.de/projekte/Netz/scan/demo.html">http://bbs1.biz-worms.de/projekte/Netz/scan/demo.html</a><br>
some PHP-scripts to use our scanners as network-scanner over a webfrontend.<br>
<p>
<p>
Thanks Markus<br>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0323.html">abel deuring: "Re: SANE with a SHARP JX-330"</a>
<li> <b>Previous message:</b> <a href="0321.html">Oliver Rauch: "Re: SANE V2"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
